@charset "utf-8";

/* 注册 */
.register-wrap {
  margin: 5%;
}

.register-wrap .logo h2 {
  font-size: 2em;
  // line-height: 0rem;
  color: #ffffff;
  font-weight: 500;
  display: block;
  // top: -20px;
  // left: 2.5rem;
  // position: relative;
  line-height: 2rem;
  // padding-left: 3rem;
  margin: 0.5rem auto;
  text-align: left;
}

.register-wrap .logo {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.register-wrap .logo img {
  width: 8.5rem;
  margin: 0 auto;
  display: block;
}

.register-wrap .form-control {
  height: 1.2rem;
  line-height: 1.2rem;
  padding-right: 0;
  box-sizing: border-box;
  padding: 1.3rem 0;
}

.register-wrap .form-select.icon select {
  height: 3rem;
  line-height: 3rem;
  padding-top: 0;
  padding-bottom: 0;
}

.register-wrap .input-group label {
  color: #eeeeee;
  height: 2.6rem;
}

.register-wrap .input-group .form-control.input-scan {
  width: 50%;
}

.register-wrap .img-scan {
  width: 28%;
  height: 2.6rem;
  border-radius: 3px;
  float: right;
  text-align: center;

  img {
    height: 90%;
    max-width: 100%;
  }
}

.register-wrap .btn {
  opacity: 1;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.register-wrap .form-checkbox + label {
  background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/register/icon_check.png") no-repeat
    center;
  background-size: 100% 100%;
  padding: 0.55rem;
}

.form-checkbox:checked + label:after {
  content: "\2713";
  font-size: 20px;
  top: -5px;
  left: 3px;
}

.register-wrap .checkbox-row {
  color: #ffb12a;
  margin: 3rem 0 0;
}

.register-wrap .checkbox-row a {
  display: initial;
  color: #4babe2;
}

.register-wrap .error-tip {
  color: #ff6454;
}

@media (min-width: 319px) {
  .register-wrap .input-group .form-control {
    width: 76%;
  }

  .register-wrap .input-group .form-control.input-scan {
    width: 48%;
  }
}

@media (min-width: 374px) {
  .register-wrap .input-group .form-control {
    width: 77%;
  }
}

/* 注册成功 */
.register-success-wrap.register-wrap .logo {
  text-align: center;
  margin-bottom: 1.5rem;
}

.register-success-wrap.register-wrap .logo img {
  width: 8.5rem;
  position: static;
}

.register-success-wrap.register-wrap .error-tip {
  text-align: center;
  font-size: 1rem;
}

.register-success-wrap .row {
  margin-left: 0.9rem;
}

.register-success-wrap.register-wrap .input-group label {
  word-break: break-all;
  height: 3rem;
}

/* 用户协议 */
#userAgreementModal p {
  font-size: 1.4em;
  color: #323232;
  text-align: left;
}

.register-success-wrap.register-wrap .input-group p.form-control {
  background: none;
  color: #f59815;
  min-height: 3rem;
  height: auto;
  text-indent: 0;
  line-height: inherit;
  text-indent: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}

.register-wrap .input-group p.form-control i {
  color: #bcbcbc;
}

/* 代理加盟 */
.join-us-wrap .logo {
  margin-bottom: -1rem;
}

.join-us-wrap h2.title {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-left: -5%;
  margin-top: 1rem;
  padding: 0.5rem 5%;
}

.join-us-wrap .input-group .form-select.icon.ml-row select {
  width: 100%;
}

.join-us-wrap .input-group select {
  width: 71%;
}

.join-us-wrap .input-group textarea.form-control {
  padding: 0;
  height: 6rem;
  line-height: 1.6rem;
}

.join-us-wrap .form-select.icon.ml-row,
.join-us-wrap .input-group .form-control.ml-row {
  margin-top: 5px;
  width: 71%;
  margin-left: 29%;
}

.join-us-wrap .input-group label {
  width: 28%;
  text-transform: none;
}

.join-us-wrap .input-group .form-control.input-scan {
  width: 41%;
}

@media (min-width: 319px) {
  .join-us-wrap .input-group .form-control {
    width: 70%;
  }
}

// @media (max-width: 321px) {

//     .addUser-wrap.msg-wrap .tab-section .btn,
//     .delUser-wrap.msg-wrap .tab-section .btn,
//     .transfer-withdrawal-wrap.msg-wrap .tab-section .btn {
//         margin-right: 0%;
//     }
// }

@media (min-width: 374px) {
  .join-us-wrap .input-group .form-control {
    width: 71%;
  }
}

// 可查看密码 20190815 Seyochen
.eye-btn {
  position: absolute;
  right: 0.5rem;
  top: 0;
  width: 1.8rem;
  height: 2.8rem;
  // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  cursor: pointer;
}

.eye-btn.on {
  // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
