modal-button()
  display flex
  justify-content center
  align-items center
  margin 8px
  padding 0.5rem
  width inherit
  height 1.5rem
  border-radius 5px
  background $primary-color
  color #fff
  text-align center
  font-size 1rem

.modal
  &__close-icon
    position absolute
    top 50%
    right 16px
    z-index 1
    width 16px
    height 16px
    background-image url("~@/assets/icons/modal-close-gold.png")
    background-size 100% 100%
    background-repeat no-repeat
    transform translate(0, -50%)

  &__header
    position relative
    display flex
    justify-content space-between
    align-items center
    padding 8px
    border-bottom 1px solid #eceeef
    border-radius 4px 4px 0 0
    background url("~images/modal/modal-header.jpg") no-repeat 100% 100%

  &__header-title
    overflow hidden
    margin-bottom 0
    width 100%
    color #e7b771
    text-align center
    font-weight bold
    font-size 1rem
    line-height 1.5

  &__center-message
    display block
    margin 1rem auto
    width 100%
    color #000
    text-align center
    font-size 1rem

  &__primary-button
    modal-button()
    background $secondary-color
    grid-area fbp

  &__secondary-button
    modal-button()
    background #969696
    grid-area fbs

  &--hide
    opacity 0

  &--full-width
    width 100%

.modal-footer
  &--single-column
    display grid
    grid-template-columns 1fr
    grid-template-areas "fbp" "fbs"

@media (min-width 320px)
  .modal
    &__close-icon
      width 24px
      height 24px

@media (min-width 480px)
  .modal
    &__close-icon
      width 32px
      height 32px
