<template>
  <article id="contSlider">
    <div id="contLeft">
      <!-- 厂商列表 -->
      <intro-list></intro-list>
      <!--<intro-list-e-games></intro-list-e-games>-->

      <!-- 热门游戏列表 -->
      <hot-game-list></hot-game-list>

      <!-- <section class="btn-link" :class="isFixed" style="background: none;"> -->
      <!-- <router-link :to="{name: 'recharge'}" class="btn btn-secondary">充值中心</router-link> -->
      <!--<a class="btn btn-primary" id="freeTrailBtn" data-static="on" @click="BindFreeTrail()">免费试玩</a>-->
      <router-link :to="{ name: 'tutorial' }" class="btn btn-new-primary">
        <img
          :src="ResourceCDN +'/EditionImg-mobile/Lambor1.0/images/mobile/' +$i18n.locale +'/btn_primary_new_bg.png'"
        />
      </router-link>
      <!-- </section> -->
    </div>
    <div id="contRight">
      <!-- 公共 游戏列表 -->
      <public-game-list :GameApiNo="TransGameApiNo"></public-game-list>

      <!-- bbin 游戏列表 -->
      <bbin-game-list></bbin-game-list>

      <!-- pt 游戏列表 -->
      <pt-game-list></pt-game-list>

      <!-- im 游戏列表 -->
      <im-game-list></im-game-list>

      <!-- video 游戏列表 -->
      <video-game-list :HotGameList="HotGameList"></video-game-list>

      <!-- eGame 游戏列表 -->
      <e-game-list :HotGameList="HotGameList"></e-game-list>

      <!-- sportGame 游戏列表 -->
      <sport-game-list :HotGameList="HotGameList"></sport-game-list>

      <!-- lotteryGame 游戏列表 -->
      <lottery-game-list :HotGameList="HotGameList"></lottery-game-list>

      <!-- pokerGame 游戏列表 -->
      <poker-game-list :HotGameList="HotGameList"></poker-game-list>

      <!-- pokerGame 游戏列表 -->
      <e-sports-game-list :HotGameList="HotGameList"></e-sports-game-list>

      <!-- tigerGame 游戏列表 -->
      <tiger-game-list></tiger-game-list>
    </div>
  </article>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';
import introList from '@/components/mobile/sub/index/introList';
import introListEGames from '@/components/mobile/sub/index/introListEGames';
import hotGameList from '@/components/mobile/sub/index/hotGameList';
import bbinGameList from '@/components/mobile/sub/index/bbinGameList';
import ptGameList from '@/components/mobile/sub/index/ptGameList';
import imGameList from '@/components/mobile/sub/index/imGameList';
import videoGameList from '@/components/mobile/sub/index/videoGameList';
import eGameList from '@/components/mobile/sub/index/eGameList';
import sportGameList from '@/components/mobile/sub/index/sportGameList';
import lotteryGameList from '@/components/mobile/sub/index/lotteryGameList';
import pokerGameList from '@/components/mobile/sub/index/pokerGameList';
import ESportsGameList from '@/components/mobile/sub/index/eSportsGameList';
import tigerGameList from '@/components/mobile/sub/index/tigerGameList';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

import publicGameList from '@/components/mobile/sub/index/publicGameList';

import gameService from 'scripts/businessLogic/gameService';
export default {
  data() {
    return {
      //热门分类游戏列表
      HotGameList: [],
      // 真人AG遊戲Post Model
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.LiveVideo,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      },

      ResourceCDN: Vue.prototype.$ResourceCDN,
      TransGameApiNo: undefined
    };
  },
  created: function() {
    var that = this;
    that.Load();
    // that.GetHotGameList();
    EventBus.$on('HOME_RIGHT_SLIDER', data => {
      that.contRightSlider();
    });
  },
  methods: {
    //获取热门游戏分类内数据列表
    // GetHotGameList: async function() {
    //   const dataObj = {
    //     WGUID: Vue.prototype.$WGUID
    //   };
    //   const retData = await gameService.HomePage_LoadGameTinyModules(dataObj);
    //   if (retData.Ret === 0) {
    //     this.HotGameList = retData.Data.GameTinySortList;
    //   }
    // },
    Load: function() {
      this.$nextTick(function() {
        this.BindGame();

        // 游戏列表 - 块状堆砌效果
        var gameList = $('#contLeft .tab-section li');
        var length = gameList.length;
        var index = 0;
        var interval = setInterval(function() {
          if (index > length) {
            clearInterval(interval);
          }
          $(gameList[index]).addClass('show');
          index++;
        }, 50);
      });
    },
    BindGame: function() {
      $('#contSlider .tab-section li').click(function() {
        $('#contSlider .tab-section li').removeClass('active');
        $(this).addClass('active');
      });
    },
    contLeftSlider: function(id, GameApiNo) {
      $('#contSlider .tab-section li').removeClass('active');
      this.TransGameApiNo = GameApiNo;
      this.$parent.contLeftSlider(id); //调用父级方法，展开子列表
    },
    contRightSlider: function() {
      $('#contSlider .tab-section li').removeClass('active');
      const moveLeft = $('body').width();
      $('#contLeft').animate({ right: 0 }, 300);
      $('#contRight').animate({ left: moveLeft }, 300);
      setTimeout(function() {
        $('#contRight')
          .find('.cont-item')
          .hide();
      }, 300);
    },
    // 没有接入游戏提示
    WarnGameTip: function() {
      const notifyData = {
        NotifyMessage: this.$t('lang.GAME_NOT_PROVIDE')
      };
      EventBus.$emit('showWarnTip', notifyData);
    },
    // 微信中不能游戏提示
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      console.log(CommUtility.IsWeiXin());
      if (CommUtility.IsWeiXin()) {
        const notifyData = {
          NotifyMessage: this.$t('lang.GAME_NOT_PROVIDE_WECHAT')
        };
        EventBus.$emit('showWarnTip', notifyData);
      } else {
        this.PlayGame(gameAPIVendor, gameCatlog, gameCode);
      }
    },
    // 開新視窗
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode, orientation) {
      this.GameData.GameCatlog = gameCatlog;
      this.GameData.GameAPIVendor = gameAPIVendor;

      if (gameCode) {
        this.GameData.GameCode = gameCode;
      }
      //横屏游戏
      if (orientation == 'landscape') {
        const notifyData = {
          NotifyMessage: this.$t('lang.GAME_LANSCAPE'),
          CloseFunction: this.gotoPlayGame
        };
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }
      this.gotoPlayGame(gameAPIVendor, gameCatlog);
      //              let url = this.$router.resolve({ name: 'playGame' }).href;
      //		    	window.open(url, 'PlayGamePopUpWindow', 'scrollbars=1,width=1500,height=800,left=10,top=150');
    }, // end PlayGame
    gotoPlayGame: function(GameApiNo, GameTypeNo) {
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      // if (this.GameData.GameAPIVendor == BLDef.GameApiType.BBIN || this.GameData.GameAPIVendor == BLDef.GameApiType.AllBet || this.GameData.GameAPIVendor == BLDef.GameApiType.OG || this.GameData.GameAPIVendor == BLDef.GameApiType.KG) {
      // 	CommUtility.OpenPlayGameWindow('playGameBackIndex');
      // 	// this.$router.push({ name: 'playGameBackIndex'})
      // 	return;
      // }
      // this.$router.push({ name: 'playGame'})

      // 判断游戏是否为需要打开游戏大厅 2019.07.24 ququ
      localStorage.setItem('gameListGameApiNo', GameApiNo);
      if (GameTypeNo == 5 && GameApiNo == '69') {
        this.$router.push({
          name: 'pokerGameLobby',
          params: { Data: GameApiNo }
        });
      } else if (GameTypeNo == 5 && GameApiNo == '70') {
        this.$router.push({
          name: 'pokerGameLobby',
          params: { Data: GameApiNo }
        });
      } else if (GameTypeNo == 5 && GameApiNo == '72') {
        this.$router.push({
          name: 'pokerGameLobby',
          params: { Data: GameApiNo }
        });
      } else if (GameTypeNo == 5 && GameApiNo == '73') {
        this.$router.push({
          name: 'pokerGameLobby',
          params: { Data: GameApiNo }
        });
      } else {
        CommUtility.OpenPlayGameWindow('playGameBackIndex');
      }
    }
  },
  components: {
    hotGameList,
    introList,
    introListEGames,
    bbinGameList,
    ptGameList,
    imGameList,
    videoGameList,
    eGameList,
    sportGameList,
    lotteryGameList,
    pokerGameList,
    ESportsGameList,
    tigerGameList,
    publicGameList
  },
  beforeDestroy() {
    EventBus.$off('HOME_RIGHT_SLIDER');
  }
};
</script>
