<template>
  <div class="wrap">
    <!-- 轮播图 -->
    <v-banner></v-banner>
    <!-- 分类 -->
    <v-class></v-class>
    <!-- 常玩游戏 -->
    <v-playGamesOften></v-playGamesOften>
    <!-- 经典游戏 -->
    <v-classicGames></v-classicGames>
    <!-- 公告弹窗 -->
    <marquee-modal></marquee-modal>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/modal/mobile/newIndex/newIndex.less";
@import "~styles/modal/mobile/recharge/index.less";
@import "~styles/modal/mobile/register/index.less";
</style>

<script>
import vBanner from "@/components/mobile/sub/newIndex/banner"
import vClass from "@/components/mobile/sub/newIndex/class"
import vClassicGames from "@/components/mobile/sub/newIndex/classicGames"
import vPlayGamesOften from "@/components/mobile/sub/newIndex/playGamesOften"
import marqueeModal from "@/components/mobile/sub/index/marqueeModal"

export default {
  components: {
    vBanner,
    vClass,
    vClassicGames,
    vPlayGamesOften,
    marqueeModal
  }
}
</script>