<template>
  <div id="class-container">
    <div :class="`class${className}`">
      <div v-if="className == 5" class="top-line"></div>
      <div class="class-top">
        <div class="class-content">
          <div class="class-item item2-1" @click="ClickRouter(1)">
            <div class="top-icon">
              <div class="money-package"></div>
            </div>
            <div class="top-icon mar-top txt7-1">
              <div class="money-title wallet"></div>
            </div>
          </div>
          <div class="class-item item2-2" @click="ClickRouter(2)">
            <div class="top-icon">
              <div class="deposit-money"></div>
            </div>
            <div class="top-icon mar-top mar-top3 txt7-1">
              <div class="deposit-title"></div>
            </div>
          </div>
          <div class="class-item item2-3" @click="ClickRouter(3)">
            <div class="top-icon">
              <div class="withdraw-money"></div>
            </div>
            <div class="top-icon mar-top mar-top35 txt7-1">
              <div class="withdraw-title"></div>
            </div>
          </div>
          <a class="class-item mar0 item2-4" @click="$VueUtils.OpenNewBox()" style="display:block">
            <div class="top-icon mar-help">
              <div class="customer"></div>
            </div>
            <div class="top-icon mar-top mar-top2 txt7-1">
              <div class="customer-title"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="class-bottom">
        <!-- 占位 -->
      </div>
    </div>
  </div>
</template>
<script>
import BLDef from 'scripts/common/BLDef';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data() {
    return {
      theme: this.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split('-')[1]),
      ResourceCDN: this.$ResourceCDN,
      IsLogin: undefined,
      className: '',
      ServeLink: '' //在线客服链接
    };
  },
  created: function() {
    this.CheckIsLogin(); // 检查用户是否登录
    switch (this.theme) {
      case 'M-001':
        this.className = '1';
        break;
      case 'M-002':
        this.className = '2';
        break;
      case 'M-003':
        this.className = '3';
        break;
      case 'M-004':
        this.className = '4';
        break;
      case 'M-005':
        this.className = '5';
        break;
      case 'M-006':
        this.className = '6';
        break;
      case 'M-007':
        this.className = '7';
        break;
      case 'M-008':
        this.className = '8';
        break;
      case 'M-009':
        this.className = '9';
        break;
      case 'M-010':
        this.className = '10';
        break;
      case 'M-011':
        this.className = '11';
        break;
      case 'M-012':
        this.className = '12';
        break;
      default:
        break;
    }
  },
  methods: {
    ClickRouter(num) {
      if (!this.IsLogin) {
        this.$router.push({
          name: 'login'
        });
        return;
      }
      switch (num) {
        case 1:
          this.$router.push({
            name: 'fundManage'
          });
          break;
        case 2:
          this.GoDeposit();
          break;
        case 3:
          // this.$router.push({
          //   name: 'memberWithdrawal'
          // });
          this.CWalletForWithdraw();
          break;
        default:
          break;
      }
    },

    // 判断是否登录 20191107 SeyoChen
    async CheckIsLogin() {
      const data = await CommonService.Comm_CheckPermission();
      switch (data.Status) {
        case BLDef.SysAccountStatus.NOT_LOGIN:
          this.IsLogin = false;
          break;
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.IsLogin = true;
          break;
        default:
          break;
      }
    },

    // 点击取款，执行金额取回操作 2019.04.09 SeyoChen
    CWalletForWithdraw: async function() {
      if (await CommUtility.CheckAccount(this)) {
        const inputObj = {};
        EventBus.$emit('GlobalLoadingTrigger', true);
        const data = await PersonalCenterService.MemberCashFlowInfo_CWalletForWithdraw(
          inputObj
        );
        if (data.Ret !== 0) {
          const notifyData = {
            NotifyMessage: data.Message
          };
          EventBus.$emit('showNotifyMessage', notifyData);
        }
        EventBus.$emit('GlobalLoadingTrigger', false);
        // 取回金额后跳转提现页面 2019.12.18 ququ
        // $('#withdrawalModal').modal('show');
        this.$router.push({ name: 'memberWithdrawal' });
      }
    },
    GoDeposit: async function() {
      if (await CommUtility.CheckAccount(this)) {
        this.$router.push({ name: 'deposit' });
      }
    }
  }
};
</script>
