<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap addUser-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <p class="addUser-toptips">{{$t('lang.USER_ADD_TIP')}}</p>
      <section class="tab-section">
        <form novalidate="novalidate" class="addcard-form">
          <div class="row input-group">
            <label class="input_lf">{{$t('lang.USER_SUPERIOR')}}</label>
            <p class="form-select icon">
              <select v-model="AddMemberName" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}">
                <option
                  v-for="(slist,index) in IBListDatas"
                  :key="index"
                  v-bind:value="slist"
                >{{slist.UpperAcct}}</option>
              </select>
              <em class="icon"  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"></em>
            </p>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.USER_MEMBER_ACCOUNT')}}</label>
            <input
              type="text"
              v-model="addMemberObj.memberAcct"
              name="memberAcct"
              :placeholder="$t('lang.USER_ENTER_ACCOUNT')"
              @input="CheckAcctAvailable()"
              v-validate="{ rules: { regex:Reg.agencyUser, required: true }}"
              class="form-control"
              @focus=" $VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />

            <p
              class="error-tip"
              v-if="errors.has('memberAcct') && fields.memberAcct.touched"
            >* {{$t('lang.USER_ACCOUNT_TIP')}}</p>
            <p
              class="error-tip"
              v-if="!errors.has('memberAcct') && !AcctAvailable"
            >* {{$t('lang.USER_ACCOUNT_EXISTING')}}</p>
          </div>
          <div class="row mt-15">
            <a @click="$router.back(-1)" class="btn btn-gray">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a class="btn btn-gold" @click="AddMembersMethod()">{{$t('lang.WINDOWS_CONTINUE')}}</a>
          </div>
        </form>
      </section>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import CommonService from 'scripts/businessLogic/commonService';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import _ from 'lodash';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.USER_ADD_MEMBER'),
      // 正則表達式
      Reg: RegEx.Regex,
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      addMemberObj: {
        memberAcct: ''
      },
      SexTypeList: [],
      IBListDatas: [],
      AddMemberName: undefined,
      AddMemberAcctID: undefined,
      AcctAvailable: true
    };
  },
  activated: function() {
    this.Load();
    this.loadAddMember();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 加载上级代理数据
    loadAddMember: async function() {
      const inputObj = {};
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.LoadIBList(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('上级代理数据');
      console.log(data);
      if (data.Ret == 0) {
        this.SexTypeList = data.Data.SexTypeList;
        this.IBListDatas = data.Data.IBList;
        this.AddMemberName = data.Data.IBList[0];
        console.log('====================this.AddMemberName');
        console.log(this.AddMemberName);
        this.AddMemberAcctID = data.Data.IBList[0].AcctID;
      } else {
        EventBus.$emit('SHOW_TIP', this.$t('lang.USER_DATA_TIP'));
      }
      console.log('上级代理数据');
    },
    // 新增会员
    AddMembersMethod: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();

      if (result === false) {
        return;
      }
      await this.CheckAcctAvailable();
      if (!this.AcctAvailable) {
        return;
      }
      const inputObj = {
        Member: {
          Acct: this.addMemberObj.memberAcct,
          Pwd: 123456,
          WithdrawPwd: 123456,
          UpperIBAcctID: this.AddMemberAcctID
        }
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.LoadMemberAdd(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret == 0) {
        EventBus.$emit('showNotifyMessage', notifyData);
        this.$validator.reset();
        this.addMemberObj.memberAcct = '';
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
      console.log(data);
      console.log(inputObj);
    },
    // 驗證帳號是否重複
    CheckAcctAvailable: _.throttle(async function() {
      let flag = !this.$validator.errors.has('memberAcct');
      if (flag && this.addMemberObj.memberAcct.length > 0) {
        const obj = {
          Acct: this.addMemberObj.memberAcct,
          WGUID: Vue.prototype.$WGUID
        };
        const retData = await CommonService.CheckAcctAvailable(obj);
        console.log('retData');
        console.log(retData);
        console.log('retData');
        if (retData.hasOwnProperty('IsAvailable')) {
          this.AcctAvailable = retData.IsAvailable;
        } else {
          this.AcctAvailable = true;
        }
      } // end if
      console.log('==============this.AcctAvailable');
      console.log(this.AcctAvailable);
    }, 500), // end CheckAcctAvailable
    ResetForm: function() {
      this.AddMemberName = this.IBListDatas[0].UpperAcct;
      this.$validator.reset();
      this.AddMemberName = undefined;
      this.AddMemberAcctID = undefined;
      this.AcctAvailable = true;
      this.addMemberObj.memberAcct = '';
    }
  },
  components: { mainHeader },
  deactivated: function() {
    this.ResetForm();
  }
};
</script>