<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="delTipsModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.USER_DELETE_TIP1')}}</h4>
          </div>
          <div class="modal-body">
            <p>{{$t('lang.USER_DELETE_TIP2')}}</p>
            <p>{{$t('lang.USER_DELETE_TIP3')}}</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="EmptyAgents()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            >{{$t('lang.WINDOWS_CONTINUE')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    // 模板数据
    MemberID: '',
    LoginStatus: '',
    LoginID: ''
  },
  methods: {
    // 打开提示窗口
    EmptyAgents: async function() {
      const inputObj = {
        OrgData: {
          ID: this.MemberID,
          Name: this.LoginID,
          Status: this.LoginStatus
        },
        ModData: {
          ID: this.MemberID,
          Name: this.LoginID,
          Status: 703
        }
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.LoadIBUserListRecycle(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      const notifyData = {
        NotifyMessage: data.Message
      };
      EventBus.$emit('showNotifyMessage', notifyData);
      // 清空表单，重置验证
      EventBus.$emit('ResetDelForm');
      this.WebCloseTips();
    },
    WebCloseTips: function() {
      $('#delTipsModal').modal('hide');
    }
  }
};
</script>

