<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap delUser-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <section class="tab-section">
        <form novalidate="novalidate" class="addcard-form">
          <div class="row input-group">
            <input
              type="text"
              name="AgentName"
              v-model="DisplayDeleteObj.AgentName"
              :placeholder="$t('lang.USER_ENTER_AGENCY')"
              v-validate="{ rules: { regex:Reg.delAgencyUser, required: true }}"
              @input="CheckAgentName()"
              @focus=" $VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
              class="form-control"
            />

            <p
              class="error-tip"
              v-if="errors.has('AgentName') && fields.AgentName.touched"
            >* {{$t('lang.USER_AGENCY_TIP')}}</p>
            <p
              class="error-tip"
              v-if="!errors.has('AgentName') && MemberID==-1 && LoginStatus==-1"
            >* {{$t('lang.USER_AGENCY_EXISTING')}}</p>
          </div>
          <div class="row btn-row">
            <a @click="$router.back(-1)" class="btn btn-gray">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a class="btn btn-gold" @click="DelMembersMethod()">{{$t('lang.WINDOWS_CONTINUE')}}</a>
          </div>
        </form>
      </section>
    </article>
    <del-tips :MemberID="MemberID" :LoginStatus="LoginStatus" :LoginID="LoginID"></del-tips>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import CommonService from 'scripts/businessLogic/commonService';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import DelTips from '@/components/mobile/sub/agency/userList/delTips';
import _ from 'lodash';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.USER_DELETE_AGENCY'),
      // 正則表達式
      Reg: RegEx.Regex,
      DisplayDeleteObj: {
        AgentName: ''
      },
      LoginStatus: undefined,
      MemberID: undefined,
      LoginID: undefined
    };
  },
  activated: function() {
    this.Load();
    EventBus.$on('ResetDelForm', () => {
      this.ResetDelForm();
    });
  },
  methods: {
    Load: function() {
      let self = this;
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
        self.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //充值
      $('#delTipsModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#delTipsModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 新增会员
    DelMembersMethod: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      await this.CheckAgentName();
      if (this.MemberID == -1 && this.LoginStatus == -1) {
        return;
      }
      $('#delTipsModal').modal('show');
    },
    // 驗證帳號是否有效
    CheckAgentName: _.throttle(async function() {
      console.log('=========================CheckAgentName');
      let flag = !this.$validator.errors.has('AgentName');
      if (flag && this.DisplayDeleteObj.AgentName.length > 0) {
        const inputObj = {
          LoginID: this.DisplayDeleteObj.AgentName
        };
        const data = await AgencyCenterService.LoadVerificationLoginID(
          inputObj
        );
        if (data.Ret == 0) {
          this.LoginStatus = data.Data.LoginStatus;
          this.MemberID = data.Data.MemberID;
          this.LoginID = data.Data.LoginID;
        } else {
          EventBus.$emit('SHOW_TIP', data.Message);
        }
      }
    }, 500), // end CheckAcctAvailable
    ResetDelForm: function() {
      this.$validator.reset();
      this.LoginStatus = undefined;
      this.MemberID = undefined;
      this.LoginID = undefined;
      this.DisplayDeleteObj.AgentName = '';
    }
  },
  components: {
    mainHeader,
    DelTips
  },
  deactivated: function() {
    this.ResetDelForm();
    EventBus.$off('ResetDelForm');
  }
};
</script>