<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="alertQRcodeModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{PlanName}}</h4>
          </div>
          <div class="modal-body">
            <img :src="CodeUrl" alt clasas="plan-code" />
            <p class="tips-text">{{$t('lang.PLAN_SAVE_CODE')}}</p>
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="WebCloseAlertCode()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            >{{$t('lang.WINDOWS_CLOSE')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    PlanName: '',
    CodeUrl: ''
  },
  methods: {
    WebCloseAlertCode: function() {
      $('#alertQRcodeModal').modal('hide');
    }
  }
};
</script>

