<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap code-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="code-content">
        <img :src="MemberExtensionQRCode" alt class="code" />
        <p class="code-text">{{$t('lang.PLAN_SAVE_CODE')}}</p>
        <p class="url-text">{{$t('lang.PLAN_COPY_URL')}}</p>
        <p @click="BindCopy($event)" class="url">
          <span>{{WebVersionHost + MemberExtensionUrl}}</span>
        </p>
      </div>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';

import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.PLAN_MEMBER_CODE'),
      WebVersionHost: location.origin,
      MemberExtensionQRCode: '',
      MemberExtensionUrl: ''
    };
  },
  activated: function() {
    this.MemberExtensionQRCode = this.$store.state.plan.MemberExtensionQRCode;
    this.MemberExtensionUrl = this.$store.state.plan.MemberExtensionUrl;
    // if (this.MemberExtensionQRCode === undefined) {
    //   const notifyData = {
    //     NotifyMessage: '未获取到推广数据'
    //   };
    //   // 顯示訊息彈窗
    //   EventBus.$emit('showNotifyMessageWeChat', notifyData);
    // }
  },
  methods: {
    //复制链接
    BindCopy: function(e) {
      console.log(e.target);
      const range = document.createRange();
      //复制节点对象
      range.selectNode(e.target);
      const selection = window.getSelection();
      if (selection.rangeCount > 0) selection.removeAllRanges();
      //选择复制范围
      selection.addRange(range);
      document.execCommand('Copy');

      EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_COPY_SUCCESS')); //复制成功提示
    }
  },
  components: { mainHeader }
};
</script>