@charset "utf-8";

/* 横屏显示 */

/* 首页 banner */
.landscape #bannerSlider {
    height: 310px;
}

.landscape #themeStyle {
    min-height: 62rem !important;
}

.landscape .index-wrap .tab-section-new li.col-4 img,
.tab-section-new li.col-6 img {
    width: auto !important;
}

.landscape .index-wrap .tab-section li.row-2 img {
    width: 45% !important;
}

/* .landscape .index-wrap .tab-section-new li.row-one img {
    width: 80% !important;
} */

/* 弹出框 */
.landscape .modal-dialog,
.landscape #qqServiceModal .modal-dialog,
.landscape #serviceModal .modal-dialog {
    max-width: 25rem;
}

.landscape .modal-dialog {
    margin: 30px auto;
}

.landscape .modal-footer-close {
    width: 2.3rem;
    height: 4rem;
}

.landscape #scanModal .modal-dialog {
    margin: auto;
}

.landscape #scanModal .modal-dialog .modal-content {
    height: 13rem;
}

.landscape #depositModal .modal-content {
    margin-top: 6rem;
}

.landscape #addCardModal .modal-content {
    margin-top: 8rem;
}

/* 头部 */
.play-game-wrap header {
    /* width: 3rem; */
    height: 2rem;
    line-height: 2rem;
    top: auto;
    background: rgba(0, 0, 0, .6);
    /* background: rgba(255,255,255,.6);
	z-index: 999999; */
}

.play-game-wrap header .icon-back {
    top: .2rem;
}

.landscape .play-game-wrap header h2 {
    display: none;
}

/* 登录 */
.landscape .login-wrap,
.landscape .register-wrap {
    margin: 2% 15%;
}

/* 主题 */
.landscape .icon-theme-list {
    max-width: 20rem;
}

.landscape .icon-theme-list li {
    width: 3.8rem;
}

.landscape .icon-theme-list li img,
.landscape .circle-black-bg,
.landscape .circle-brown-bg {
    height: 3.8rem;
}

/* 教程 */
.landscape .tutorial-wrap .tab-section {
    margin: 0 25%;
}

@media (min-width: 666px) {
    .landscape #bannerSlider {
        height: 360px;
    }
}

@media (min-width: 735px) {
    .landscape #bannerSlider {
        height: 390px;
    }
}

@media (min-width: 810px) {
    .landscape #bannerSlider {
        height: 428px;
    }

    .landscape #themeStyle .banner>iframe {
        min-height: 110%;
    }
}

@media (min-width: 1023px) {
    .landscape #bannerSlider {
        height: 528px;
    }

    .landscape #themeStyle .banner>iframe {
        min-height: 66%;
    }
    .landscape .pay_set>span {
        padding-left: 40px;
    }
    .landscape .pay_set>span:before{
        width: 30px;
        height: 30px;
    }
    .landscape .pay_set>span.hasblock:after{
        width: 22px;
        height: 22px;
        top: 5px;
        left: 5px;
    }
}

@media (min-width: 1365px) {
    .landscape #bannerSlider {
        height: 690px;
    }
}

/* 横屏显示 end */


/*2019.02.14 SeyoChen*/
.active-wrap {
    padding-bottom: 5.2rem;
}

/*2019.02.14 SeyoChen end*/
