@charset "utf-8";

/* header 头部 */
header {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-size: 1.1rem;
    color: #b8b8b8;
    font-weight: 400;
    width: 80%;
    line-height: normal;
    // text-indent: 10px;
    // letter-spacing: 10px;
}

header .fl-btn,
header .fr-btn {
    float: left;
    width: 3.5rem;
    height: 3.5rem;
}

header .fr-btn {
    float: right;
}

header .icon-back {
    position: absolute;
    width: .8rem;
    height: 1.4rem;
    left: 1rem;
    top: 1rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_back.png") no-repeat;
    background-size: 100% 100%;
    border: none;
}

header .icon-close {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close.png") no-repeat;
    background-size: 100% 100%;
}

header .icon-menu {
    margin-top: 1.6rem;
    margin-left: 1rem;
    width: 1.5rem;
    height: 0.32rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu.png") no-repeat;
    background-size: 100% 100%;
}

/* header end */
