@charset "utf-8";
/* 大厅 */

/* 跑马灯 */
#marquee {
    width: 78%;
    // margin-left: 2.5rem;
    overflow: hidden;
    // color: #dab176;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    // font-size: 1.1rem;
    // height: 2rem;
    // line-height: 2rem;
}

.marquee-box {
    position: relative;
    top: 2.8rem;
}

.marquee-box .icon-sound {
    position: absolute;
    top: 0;
    left: 0.7rem;
    margin: 0.15rem 0;
    width: 1.8rem;
    height: 1.7rem;
}

/* bannerSlider */
.flip-list-enter-active,
.flip-list-leave-active {
    transition: all 1.5s;
}

.flip-list-enter,
.flip-list-leave-active {
    opacity: 0;
}

#bannerSlider {
    position: relative;
    width: 100%;
    // height: 156px;
    height: 200px; // 2018.12.26 SeyoChen
    z-index: -1;
}

#bannerSlider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#bannerSlider li img {
    width: 100%;
}

@media (min-width: 374px) {
    #bannerSlider {
        height: 222px;
    }
}

@media (min-width: 413px) {
    #bannerSlider {
        height: 240px;
    }
}

@media (min-width: 767px) {
    #bannerSlider {
        height: 408px;
    }

    #MarqueeModal {
        .modal-body {
            height: 22rem !important;
        }

        .modal-close {
            top: 0.3rem !important;
            width: 1.5rem !important;
            height: 1.5rem !important;
        }
    }
}

@media (min-width: 1023px) {
    #bannerSlider {
        height: 529px;
    }
}

/* 广播 */
.float-row {
    position: absolute;
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.32);
}

.float-row .logo {
    position: absolute;
    max-height: 2.8rem;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    line-height: 2.8rem;
    color: #fff;
    height: 2.8rem;
    text-align: center;
    font-size: 1rem;
    display: block;
}

.float-row .logo img {
    max-height: 2.8rem;
    // vertical-align: middle;
}

.float-row .fl-btn,
.float-row .fr-btn {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    z-index: 1;
}

.float-row .fr-btn {
    left: auto;
    right: 1rem;
}

.index-wrap .float-row .fr-btn {
    height: auto;
    border-radius: 1rem;
    right: 1px;
}

.index-wrap .float-row .fr-btn.open {
    // background: rgba(255,255,255,0.2);
    background: rgba(255, 255, 255, 0.3);
}

.index-wrap .float-row .fr-btn li {
    margin: 0.6rem 0;
}

/* icon-list */
.icon-file {
    width: 2.1rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_new_service.png") no-repeat;
    background-size: 100% 100%;
}

.icon-setting {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem auto;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_setting.png") no-repeat;
    background-size: 100% 100%;
}

.open .icon-setting {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close3.png") no-repeat;
    background-size: 100% 100%;
}

.index-wrap {
    position: relative;
}

.icon-sound {
    /*position: absolute;*/
    right: 0.2rem;
    bottom: 3rem;
    z-index: 1;
    width: 2rem;
    height: 1.9rem;
    margin: 0.5rem auto;
    /*background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_sound_open.gif) no-repeat;*/
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_sound_open1.png") no-repeat;
    background-size: 100% 100%;
}

.icon-sound.close {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_sound_close1.png") no-repeat;
    background-size: 100% 100%;
}

.icon-theme {
    width: 2rem;
    height: 1.9rem;
    margin: 0.5rem auto;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_theme.png") no-repeat;
    background-size: 100% 100%;
}

.icon-lang {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.5rem auto;
    text-align: center;
}

.icon-lang img {
    width: 100%;
    border: 2px solid #fdcf8b;
    border-radius: 100%;
}

.icon-file-app {
    position: absolute;
    width: 1.9rem;
    // background: url("@{ResourceCDNUrl}/Customized/Web07/images/serve/app_down.png") no-repeat;
    background-size: 100% 100%;
    height: 2rem;
    margin-left: .5rem;
    margin-top: .5rem;
    top: 0;
    left: 0;
}

/* banner */
.col-12 {
    width: 100%;
}

/* btn-link */
.index-wrap .btn-link {
    padding: 5px 3% 4rem;
    margin-top: -5px;
    margin-bottom: 7px;
    background: rgba(0, 0, 0, 0.4);
}

.index-wrap .btn-link.fixed {
    position: fixed;
    width: 94%;
    /*top: 2.2rem;*/
    top: 5px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.index-wrap .float-header.fixed {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 2.2rem;
    position: absolute;
    z-index: 1;
}

.index-wrap .banner.fixed {
    margin-bottom: 3.5rem;
}

.index-wrap .btn-primary,
.btn-link .btn-secondary {
    text-shadow: 0 1px 0 rgba(200, 200, 200, 0.8);
    color: #000000;
    font-size: 1.1rem;
    padding: 10px 0;
    margin: 0;
    width: 49%;
}

/* 按钮集合 */
.index-wrap .tab-section,
.egame-wrap .tab-section {
    width: 95%;
    margin: auto;
    display: table;
}

.index-wrap .tab-section li em.circle-white {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    float: right;
    margin: 0.65rem;
}

.index-wrap .tab-section li em.hot {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/hot1.png") no-repeat;
    background-size: 100%;
    float: right;
}

.index-wrap .tab-section li i.game-maintain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/maintain-text.png") no-repeat 50%;
    background-size: 50%;
    z-index: 10;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.index-wrap .tab-section li,
.egame-wrap .tab-section li {
    float: left;
    height: 3.8rem;
    // line-height: 3.8rem;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* 块状堆砌效果 */
.index-wrap #contLeft .tab-section li {
    // -webkit-transition: -webkit-transform 0.1s ease-out;
    // transition: -webkit-transform 0.1s ease-out;
    // -o-transition: -o-transform 0.1s ease-out;
    // transition: transform 0.1s ease-out;
    // transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out, -o-transform 0.1s ease-out;
    // -webkit-transform: translate(0, 3rem);
    // -o-transform: translate(0, 3rem);
    // transform: translate(0, 3rem);
    opacity: 0;
}

// .index-wrap #contLeft .tab-section li.show{
// 	-webkit-transition: -webkit-transform 0.2s ease-out;
// 	transition: -webkit-transform 0.2s ease-out;
// 	-o-transition: -o-transform 0.2s ease-out;
// 	transition: transform 0.2s ease-out;
// 	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out, -o-transform 0.2s ease-out;
// 	-webkit-transform: translate(0, 0);
// 	-o-transform: translate(0, 0);
// 	transform: translate(0, 0);
// 	opacity: 1;
// }

.index-wrap #contLeft .tab-section li.show {
    animation: Move 0.8s ease-in;
    -o-animation: Move 0.8s ease-in;
    -webkit-animation: Move 0.8s ease-in;
    -moz-animation: Move 0.8s ease-in;
    animation-fill-mode: forwards;
}

@keyframes Move {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes Move {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes Move {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes Move {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// .index-wrap .tab-section li:active,
// .index-wrap .tab-section li.active,
// .index-wrap .tab-section li:hover,
// .index-wrap .tab-section li:focus,
// .egame-wrap .tab-section li:active,
// .egame-wrap .tab-section li.active,
// .egame-wrap .tab-section li:hover,
// .egame-wrap .tab-section li:focus{
// 	box-shadow: inset 0px 0px 50px rgba(0,0,0,.4);
// }
.index-wrap .tab-section li.row-2 {
    height: 7.8rem;
}

.index-wrap .tab-section li.col-6 img {
    width: 3.2rem;
    // margin-left: 1rem;
}

.index-wrap .tab-section li i {
    color: #f5dbb5;
    font-size: 0.8rem;
    line-height: 3.8rem;
    display: block;
    margin-left: -.3rem;
    float: left;
    width: 4rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index-wrap .mb-footer .tab-section li i {
    line-height: normal;
    word-break: break-word;
    white-space: normal;
}

.index-wrap .tab-section li.row-2 i {
    margin-left: 0;
    margin-top: -2rem;
    text-align: center;
    width: 100%;
    display: block;
}

.index-wrap .tab-section li img,
.egame-wrap .tab-section li img {
    width: 3rem;
    margin: 0.4rem;
    float: left;
}

.index-wrap .tab-section li.row-3 img,
.egame-wrap .tab-section li.row-3 img {
    width: auto;
    height: 2rem;
    margin: auto;
    float: inherit;
    margin-top: 0.8rem;
}

.index-wrap .mb-footer .tab-section li a {
    display: flex;
    align-items: center;
}

.index-wrap .tab-section li a,
.egame-wrap .tab-section li a {
    text-align: center;
    width: 100%;
    height: 100%;
}

.index-wrap .tab-section li.row-2 img {
    width: 6rem;
    margin: 1rem 0 0;
    float: inherit;
}

.col-6 {
    width: 49% !important;
    margin: 0.5% !important;
}

.col-4 {
    width: 32.33%;
    margin: 0.5%;
}

.radius-top-left {
    border-radius: 10px 0 0 0;
}

.radius-bottom-left {
    border-radius: 0 0 0 10px;
}

.radius-bottom-right {
    border-radius: 0 0 10px 0;
}

.radius-top-right {
    border-radius: 0 10px 0 0;
}

.radius-top-bottom-left {
    border-radius: 10px 0 0 10px;
}

/* 标题 */
.mb-footer {
    padding-bottom: 1rem;
    // margin-bottom: 3rem;
}

.game-title {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    height: 4.2rem;
    line-height: 4.2rem;
}

.title-line-left,
.title-line-right {
    width: 3rem;
    height: 0.3rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/game/line_left.png") no-repeat;
    background-size: 100%;
    display: inline-block;
}

.title-line-right {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/game/line_right.png") no-repeat;
    background-size: 100%;
}

/* 返回按钮 */
.header-row {
    height: 3.5rem;
    text-align: center;
    margin-top: 5px;
}

.back-right-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    margin-left: 2.5%;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
}

.back-right-btn i {
    display: block;
    width: 1.2rem;
    height: 2rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_back.png") no-repeat;
    background-size: 100% 100%;
}

/* bbin */
.titlt-logo {
    width: 9rem;
    //  margin-right: 3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.index-wrap .tab-section li p,
.egame-wrap .tab-section li p {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    line-height: 1rem;
    color: #f5dbb5;
}

.egame-wrap .tab-section li p {
    padding: 0 5px;
    box-sizing: border-box;
}

.index-wrap #contRight .tab-section li,
.egame-wrap .tab-section li {
    height: 6rem;
}

.index-wrap #contRight .tab-section li .maintain-box {
    line-height: 6rem;
}

.index-wrap #contRight .tab-section li i {
    line-height: 6rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.index-wrap #contRight .tab-section li img,
.egame-wrap .tab-section li img {
    float: initial;
    width: 3rem;
    margin: 1rem 0 0 0;
}

.index-wrap .tab-section li label,
.egame-wrap .tab-section li label {
    display: block;
    font-size: 1.2em;
    color: rgba(245, 219, 181, 0.3);
    text-align: center;
    line-height: 6rem;
}

.index-wrap #contRight #im .tab-section.logo-section li img {
    width: auto;
    height: 3rem;
    margin-top: 1.5rem;
}

.index-wrap #contRight .hot-game .tab-section li a {
    line-height: 6rem;
}

.index-wrap #contRight .hot-game .tab-section li img {
    // display: block;
    width: 8rem;
    max-width: 100%;
    margin: 0;
    min-width: 60%;
    vertical-align: middle;
}

.index-wrap .header-row h3 {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 3rem;
    font-weight: 400;
    margin-right: 3rem;
}

// .portrait .index-wrap #contRight #video .tab-section li img,
// .portrait .index-wrap #contRight #sport .tab-section li img,
// .portrait .index-wrap #contRight #lottery .tab-section li img,
// .portrait .index-wrap #contRight #poker .tab-section li img,
// .portrait .index-wrap #contRight #eGame .tab-section li img {
//     width: 136%;
//     margin-left: -18%;
// }

.landscape .index-wrap #contRight #video .tab-section li img,
.landscape .index-wrap #contRight #sport .tab-section li img,
.landscape .index-wrap #contRight #lottery .tab-section li img,
.landscape .index-wrap #contRight #poker .tab-section li img,
.landscape .index-wrap #contRight #eGame .tab-section li img {
    width: 80%;
    margin-top: 1.1rem;
}

/* 游戏列表 */
.egame-wrap,
.egame-wrap .tab-section {
    overflow: hidden;
}

.egame-wrap #egame-list-li {
    display: flex;
    flex-wrap: wrap;
}

.egame-wrap .tab-section li.col-4 {
    width: 31%;
    margin: 1%;
    min-height: 6rem;
    height: auto;
    padding: 5px 0;
}

.egame-wrap .tab-section li.col-4 img {
    max-width: 6.8rem;
    max-height: 4rem;
    margin: 0;
    width: auto;
}

.egame-wrap .header-row {
    height: 6.5rem;
}

.egame-wrap .titlt-logo {
    margin-bottom: 0;
}

.egame-wrap .form-select.icon {
    width: 92%;
    margin: auto;
}

.slider-tip {
    color: #fff;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
}

/* 选择主题弹窗 */
.icon-theme-list {
    // max-width: 320px;
    margin: auto;
}

.icon-theme-list li {
    width: 25%;
    float: left;
    text-align: center;
    line-height: initial;
}

.icon-theme-list li img,
.circle-black-bg,
.circle-brown-bg {
    width: 3.4rem;
    height: 3.4rem;
    ;
    border-radius: 100%;
}

.icon-theme-list li p {
    color: #d0a05d;
    // font-size: 1.1rem;
    font-size: 0.8rem;
    padding: 0 0 5px;
}

.circle-brown-bg {
    background: #372f2d;
    margin-bottom: 5px;
}

.circle-black-bg {
    background: #2f2d2c;
    margin-bottom: 5px;
}

/* 选择语系弹窗 */
.language-list {
    width: 100%;
}

.language-list li {
    position: relative;
    border: 2px solid #facf5c;
    background: #ffffff;
    color: #d0a05d;
    font-size: 0.9rem;
    text-align: center;
    height: 3.6rem;
    line-height: 3.6rem;
    border-radius: 3.6rem;
    margin-bottom: 10px;
    opacity: 0.6;
}

.language-list li.active {
    opacity: 1;
}

.language-list li img {
    position: absolute;
    top: .3rem;
    left: .5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

.icon-success {
    display: none;
    position: absolute;
    top: .55rem;
    right: .8rem;
    height: 2.5rem;
    width: 2.5rem;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_success.png") no-repeat;
    background-size: 100% 100%;
}

.icon-success1 {
    height: 1.8rem;
    width: 1.5rem;
    display: inline-block;
    top: 0.4rem;
    margin-right: 0.3rem;
    position: relative;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_success.png") no-repeat;
    background-size: 100% 100%;
}

.language-list li.active em {
    display: block;
}

/* 免费试玩弹窗 */
#freeTrailModal .modal-dialog {
    margin: 20px;
}

#freeTrailModal .modal-body {
    padding: 12px;
}

#freeTrailModal .input-group .form-control {
    position: relative;
    top: -0.6rem;
    width: 49%;
}

#freeTrailModal .input-group .img-scan {
    position: relative;
    top: 0.2rem;
    width: 30%;
}

#freeTrailModal .input-group label {
    width: 17%;
}

#freeTrailModal .checkbox-row {
    font-size: 0.7rem;
    padding-left: 1.1rem;
    margin: 0;
}

#freeTrailModal .form-checkbox+label {
    padding: 0.5rem;
    margin-left: -1.1rem;
}

#freeTrailModal .form-checkbox:checked+label:after {
    font-size: 1.1rem;
    top: -0.3rem;
    left: 0.1rem;
}

#freeTrailModal .error-tip,
.modal-body p.error-tip {
    margin: 0;
}

@media (min-width: 319px) {
    #freeTrailModal .input-group label {
        min-width: 46px;
    }
}

/* 左右内容切换 */
#contSlider {
    position: relative;
    z-index: 10;
}

#contLeft {
    position: absolute;
    width: 100%;
    right: 0;
    padding-bottom: 5rem;
}

#contRight {
    position: absolute;
    width: 100%;
    left: 100%;
    padding-bottom: 5rem;
}

/* 大厅 end */

/* 2019.01.18 SeyoChen 维护中状态 */
.intoList-box li {
    position: relative;
    overflow: hidden;
}

.maintain-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    background-size: auto 60%;
    z-index: 10;
    font-size: 1.2rem;
}

// .maintain-box::after {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     line-height: 100%;
//     color: #fff;
//     font-size: 1rem;
//     text-align: center;
//     content: '';
//     background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/maintain-text.png") no-repeat center center;
//     background-size: 3rem;
// }

/* 2019.01.18 SeyoChen 维护中状态 end */

/* 2019.03.23 SeyoChen 主页改版 */
.tab-section-new li {
    line-height: 3.8rem;
}

.tab-section-new li.col-6 img,
.tab-section-new li.col-4 img {
    float: none;
    margin: 0 !important;
    width: 100% !important;
    max-height: 100%;
    vertical-align: middle;
}

.tab-section-new li.row-one {
    line-height: 7.8rem !important;
}

.tab-section-new li.row-one img {
    width: 80% !important;
    vertical-align: middle;
}

/* 2019.03.23 SeyoChen 主页改版 end */

// 棋牌游戏新增大厅 2019.07.24 ququ
.game-lobby-wrap {
    padding-top: 5.5rem !important;
}

.game-lobby-header {
    position: fixed;
    top: 0 !important;
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/pokerGameLobby/header.png?123") no-repeat top center;
    background-size: 100%;
    z-index: 100;
}

// 新增首页公告信息弹窗 2019.10.12 ququ
#MarqueeModal .modal-content {
    overflow: hidden;
    color: #333;
}

#MarqueeModal .modal-close {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    width: 1rem;
    height: 2rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close3.png") no-repeat center;
    background-size: 100%;
}

#MarqueeModal .modal-body {
    padding: 0;
    overflow-y: scroll;
    height: 30rem;
    background: #fff;
}

#MarqueeModal .bodyFont {
    background-color: #e5e5e6;
}

#MarqueeModal section.msg-list {
    position: relative;
}

#MarqueeModal .load-text {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.6rem;
    margin: 1rem auto;
    z-index: 100;
}

#MarqueeModal .modal-body p.title {
    padding: 0 3rem 0 1.2rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
}

#MarqueeModal .modal-body .time,
#MarqueeModal .modal-body .content-text {
    font-size: 0.8rem;
    padding: 0;
    text-align: left;
    padding: 0 1.2rem;

    div,
    p,
    span {
        position: static !important;
    }
}

#MarqueeModal .modal-body .content-title,
#MarqueeModal .modal-body .content-text {
    font-size: 0.9rem;
    padding: 0 1.2rem;
    text-align: left;
    line-height: 1.2rem;

    p {
        font-size: 0.9rem;
        padding: 0;
        text-align: left;
        line-height: 1rem;
    }

    img {
        width: 100% !important;
        height: auto !important;
    }
}

#MarqueeModal .modal-body .content-title {
    margin-top: 1rem;
}

#MarqueeModal .modal-body .content-text {
    margin-bottom: 1rem;
}

#MarqueeModal .modal-body li.open p.title {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#MarqueeModal .modal-body li.open {
    border-bottom: 0;
}

#MarqueeModal .modal-body li.open+li {
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.08);
}

#MarqueeModal section.msg-list li {
    position: relative;
    border-bottom: 1px solid #b0b1b4;
}

#MarqueeModal .icon-more {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_more1.png") no-repeat center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.2rem;
    height: .8rem;
}

#MarqueeModal section.msg-list .more {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
}
