<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap egame-wrap game-lobby-wrap">
      <!--头部-->
      <!-- <main-header :HeaderTitle="this.HeaderTitle"></main-header> -->
      <header class="game-lobby-header"></header>
      <div class="cont-item">
        <div class="header-row" style="height: 3.5rem;">
          <img :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameApiNo+'.png'" class="titlt-logo" />
        </div>
        <section class="tab-section">
          <p
            v-show="LoadMainPageDataModelGameList==''"
            style="font-size: 1rem;color: #fff;text-align: center;"
          >{{$t('lang.GAME_NO')}}</p>
          <my-scroll
            class="egame-list"
            ref="myScroll"
            :on-refresh="onRefresh"
            :on-pull="onPull"
            :get-scroll-top="getTop"
            :scroll-state="scrollState"
          >
            <div slot="scrollList">
              <ul id="egame-list-li">
                <li v-for="Game in LoadMainPageDataModelGameList" class="col-4">
                  <a href="javascript:void(0);" v-on:click="PlayGame(Game);">
                    <img
                      :onerror="defaultImg"
                      v-bind:src="$ResourceCDN +Game.ImgUrl + '?VersionCode'"
                    />
                    <p>{{Game.Name}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </my-scroll>
        </section>
      </div>
    </section>
  </div>
</template>


<script>
import BLDef from 'scripts/common/BLDef';
import EventBus from 'scripts/common/EventBus';
import URLService from 'scripts/common/URLService';
import CommUtility from 'scripts/common/CommUtility';
import GameService from 'scripts/businessLogic/gameService';
import CommonService from 'scripts/businessLogic/commonService';
import mainHeader from '@/components/mobile/sub/mainHeader';
import myScroll from 'scripts/vueScroll/index.vue';

export default {
  data() {
    return {
      GameApiNo: this.$route.params.Data || '', //厂商ID
      GameNum: this.$route.params.Data || '', //厂商ID
      // HeaderTitle: '游戏大厅',
      // 頁面DataModel
      LoadMainPageDataModel: {},
      LoadMainPageDataModelGameList: [],
      // 分頁資料
      PageInfo: {
        PageNo: 1,
        PageSize: 100,
        PageCount: 0,
        TotalPages: 0
      },
      // 查詢 Post DataModel
      PostDataModel: {
        GameAPIVendor: {
          Value: ''
        },
        GameTypeFilter: {
          Value: '-1'
        },
        SlotLineFilter: {
          Value: '-1'
        },
        Keyword: ''
      },
      scrollState: true, //是否可以滑动
      PullingState: true, //是否可以加载中
      imgString: '',
      defaultImg:
        'this.src="' +
        this.$ResourceCDN +
        '/EditionImg/Lambor1.0/images/web/game/electronic/Temp.png?VersionCode"',
      GameData: {
        GameAPIVendor: '',
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.EGames,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      },
      // 資源位置
      ResourceURL: this.$ResourceURL,
      ResourceCDN: this.$ResourceCDN,
      IsLogin: false
    };
  },
  components: {
    mainHeader,
    myScroll
  },
  created: function() {
    this.$nextTick(function() {
      //内容高度
      var footerHeight = $('#themeLayout footer').height();
      var headerHeight = $('#themeLayout header').height();
      var searchRowHeight = $('.egame-wrap .header-row').height();
      var bodyHeight =
        $('#themeLayout').height() - footerHeight - headerHeight + 10;
      var listHeight =
        $('#themeLayout').height() -
        footerHeight -
        headerHeight -
        searchRowHeight +
        20;
      $('.egame-wrap').css('height', bodyHeight + 'px');
      $('.egame-list').css('height', listHeight + 'px');
    });
    this.getImg(this.GameNum);
    this.PageInfo.PageNo = 1;
    this.LoadMainPage(this.PageInfo.PageNo);
  },
  mounted: function() {
    this.CheckAcctStatus();
  },
  methods: {
    // 載入頁面
    LoadMainPage: async function(pageNo) {
      this.PostDataModel.GameAPIVendor.Value = localStorage.getItem(
        'gameListGameApiNo'
      );
      this.PostDataModel.GameTypeFilter.Value = -1; // 將過濾器設置回全部

      this.LoadMainPageDataModel = {
        GameTypeFilterList: {}
      };

      const dataObj = {
        GameAPIVendor: this.PostDataModel.GameAPIVendor
      };

      const retData = await GameService.LoadMainPage(dataObj);
      console.log('retData');
      console.log(retData);
      console.log('retData');
      if (retData.Ret != 0) {
        return;
      }

      this.LoadMainPageDataModel = retData.Data;
      if (pageNo == undefined) {
        console.log('pageNo_________________________' + pageNo);
        this.GetElectronicGameList(1);
      } else {
        this.GetElectronicGameList(pageNo);
      }
    }, // end LoadMainPage
    getGameTypeFilterList: function() {
      this.PageInfo.PageNo = 1;
      this.PullingState = true;
      this.GetElectronicGameList(this.PageInfo.PageNo);
    },
    onRefresh: async function(mun) {
      // 刷新
      this.PageInfo.PageNo = 1;
      await this.GetElectronicGameList(this.PageInfo.PageNo);
      this.$refs.myScroll.setState(3);
    },
    onPull(mun) {
      //加载
      if (this.PageInfo.PageCount >= this.PageInfo.PageNo) {
        this.PullingState = true;
        this.$refs.myScroll.setState(5);
        this.GetElectronicGameList(this.PageInfo.PageNo);
      } else {
        this.PullingState = false;
        this.$refs.myScroll.setState(7);
      }
    },
    // 取得電子遊戲List
    GetElectronicGameList: async function(pageNo) {
      if (this.PullingState == false) {
        return;
      }
      this.PullingState = false;
      // 獲得頁面資料
      // const loadGameData = {
      //     GameAPIVendor: this.LoadMainPageDataModel.GameAPIVendor,
      // };
      // const tempRetData = await GameService.LoadMainPage(loadGameData);

      // if (tempRetData.Ret != 0) {
      //     return;
      // }
      // this.LoadMainPageDataModel.GameTypeFilterList = tempRetData.Data.GameTypeFilterList;

      const GameData = {
        WGUID: this.$WGUID,
        GameAPIVendor: this.PostDataModel.GameAPIVendor, // 遊戲供應商
        GameTypeFilter: this.PostDataModel.GameTypeFilter, // 遊戲類型過濾條件
        GameAPITypeFilter: 5,
        Keyword: '', // 關鍵字
        PagingInfo: this.PageInfo,
        PlatformType: 2 // 2019.01.28 SeyoChen 添加识别H5端
      };
      const retData = await GameService.GameQuery(GameData);

      //分页
      if (retData.Ret == 0 && retData.Data.GameList.length > 0) {
        if (this.PageInfo.PageNo == 1) {
          this.LoadMainPageDataModelGameList = []; //刷新清空列表
        }
        this.PageInfo.PageNo++;
        retData.Data.GameList.map((v, k) => {
          this.LoadMainPageDataModelGameList.push(v);
        });
        // 2019.03.26 当选择的选项下游戏为空时 清空游戏列表并提示无游戏 SeyoChen
        if (retData.Data.PagingInfo.TotalCount == 0) {
          this.LoadMainPageDataModelGameList = '';
          this.PageInfo.PageCount = 0;
          return;
        }
        // 2019.03.26 当选择的选项下游戏为空时 清空游戏列表并提示无游戏 SeyoChen end
      }

      // 更新Paging
      if (retData.Data.PagingInfo) {
        this.PageInfo.PageCount = Math.ceil(
          retData.Data.PagingInfo.TotalCount / retData.Data.PagingInfo.PageSize
        );
      } else {
        this.PageInfo.PageCount = 0;
      } // end if
    }, // end GetElectronicGameList
    // 開新視窗
    PlayGame: async function(Item) {
      if (
        BLDef.SysAccountStatus.NOT_LOGIN == this.IsLogin.Status ||
        BLDef.SysAccountStatus.NOT_LOGIN_DISABLED == this.IsLogin.Status ||
        BLDef.SysAccountStatus.NOT_LOGIN_DELETED == this.IsLogin.Status
      ) {
        let notifyData = {
          NotifyMessage: this.$t('lang.GAME_LOGIN_TIP'),
          CloseFunction: this.CloseCurrentWindowLogin
        };
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }

      this.GameData.GameAPIVendor = Item.GameApiNo;
      this.GameData.GameCode = Item.GameCode;
      this.GameData.GameCatlog = BLDef.GameCatlogType.Poker;

      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );

      if (this.GameData.GameAPIVendor === '31') {
        CommUtility.OpenPlayGameWindow('playPngGame');
        return;
      } else {
        localStorage.setItem('gameListGameApiNo', this.GameData.GameAPIVendor);
      }
      CommUtility.OpenPlayGameWindow('playGameBackIndex');
    }, // end PlayGame
    // 更改圖片路徑(根據不同遊戲)
    getImg: function(i) {
      i = parseInt(i); // 2018.12.04 SeyoChen 图片类型对比，寻找img路径
      switch (i) {
        case 1:
          this.imgString = 'AGIN/AG_';
          break;
        case 3:
          this.imgString = 'PT/PT_';
          break;
        case 7:
          this.imgString = 'QT/QT_';
          break;
        case 8:
          this.imgString = 'DT/DT_';
          break;
        case 9:
          this.imgString = 'SG/SG_';
          break;
        case 14:
          this.imgString = 'MG/MG_';
          break;
        case 15:
          this.imgString = 'BBIN/BBIN_';
          break;
        case 16:
          this.imgString = 'TTG/TTG_';
          break;
        case 17:
          this.imgString = 'PG/PG_';
          break;
        case 18:
          this.imgString = 'WG/WG_';
          break;
        case 20:
          this.imgString = 'RT/RT_';
          break;
        case 21:
          this.imgString = 'PS/PS_';
          break;
        case 22:
          this.imgString = 'PNG/PNG_';
          break;
        case 30:
          this.imgString = 'BP/BP_';
          break;
        case 31:
          this.imgString = 'PNG1/PNG1_';
          break;
        case 33:
          this.imgString = 'KingLong/KingLong_';
          break;
        case 37:
          this.imgString = 'RTG/RTG_';
          break;
        case 39:
          this.imgString = 'TTG/TTG_';
          break;
        default:
          this.imgString = 'PNG1/PNG1_';
          break;
      } // end switch
    }, // end getImg

    // 2019.03.04 SeyoChen 檢查登入狀態
    CheckAcctStatus: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      this.IsLogin = await CommonService.Comm_CheckPermission();
      EventBus.$emit('GlobalLoadingTrigger', false);
    },

    // 關閉視窗 -- 未登录
    CloseCurrentWindowLogin: function() {
      this.$router.push({ name: 'login' });
    }
    // 2019.03.04 SeyoChen end
  }
};
</script>
