<template>
  <!-- 优惠活动列表 -->
  <section class="msg-wrap active-wrap">
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>
    <!-- 内容 -->
    <div>
      <!-- 其他 -->
      <section v-if="ActiveID > 0">
        <div class="activity-banner">
          <img v-if="ActLogoFlag == true" :src="WebVersionHost + PromotionDetail.ActLogo" />
          <img v-else-if="ActiveID > 0" :src="ResourceURL + ActiveImg" />
          <img v-else :src="ActiveImg" />
        </div>
        <div class="activity-info" v-cloak>
          <h5>{{PromotionDetail.Name}}</h5>
          <span>{{PromotionDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{PromotionDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</span>
          <!-- <p v-html="this.PromotionDetail.ActContent"></p> -->
          <p id="activity-html" class="activity-list-style" style="min-height: 2rem;"></p>
        </div>
      </section>

      <div class="activity-info row">
        <a @click="ToRechargePage()" class="btn btn-gold">{{$t('lang.ACTIVITY_ENTER_DEPOSIT')}}</a>
      </div>
    </div>

    <!-- 充值弹窗 -->
    <!--<deposit-modal></deposit-modal>-->
  </section>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/modal/mobile/activityList/index.less";
</style>
<script>
import mainHeader from "@/components/mobile/sub/mainHeader"
import InformationService from "scripts/businessLogic/informationService"
import CommonService from "scripts/businessLogic/commonService"
import CommUtility from "scripts/common/CommUtility"
// import BLDef from "scripts/common/BLDef";
import Vue from "vue"
import EventBus from "scripts/common/EventBus"
import HttpService from "scripts/common/HttpService"
//	import depositModal from '@/components/mobile/sub/recharge/depositModal'

export default {
  data() {
    return {
      HeaderTitle: this.$t("lang.ACTIVITY_DETAILS"),
      ActiveID: this.$route.params.ActiveID || "", //当前选中活动
      ActiveImg: this.$route.params.ActiveImg || "", //当前选中活动图片
      PromotionDetail: {},
      // 圖片旗標
      ActLogoFlag: false,
      // 首存，续存
      OtherActivityData: false,
      // 传递活动详情到个人中心
      TransActivityData: {},
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      WebVersionHost: Vue.prototype.$WebVersionHost,
      FromDepositPage: this.$route.params.FromDepositPage || false // 来自充值页面
    }
  },
  created: function () {
    if (this.ActiveID != "" && this.ActiveID >= 0) {
      this.OtherActivityData = true
      this.GetPromotionDetail()
    }
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        this.ModalHeight()
      })
    },
    // 獲得頁面資料
    GetPromotionDetail: async function () {
      this.PromotionDetail = "" // 2018.12.25 SeyoChen

      const dataObj = {
        WGUID: Vue.prototype.$WGUID,
        ID: this.ActiveID
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await InformationService.GetActivityDetail(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      // 失敗
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message
        }
        EventBus.$emit("showNotifyMessage", notifyData)
        return
      } // end if

      this.TransActivityData = retData.Data.Detail // 2018.09.21 SeyoChen
      // 成功
      this.PromotionDetail = retData.Data.Detail
      this.PromotionDetail.ActContent = await HttpService.GetContent(this.ResourceURL + retData.Data.Detail.ActContent)

      $("#activity-html").html(this.PromotionDetail.ActContent)

      if (!(retData.Data.Detail.ActLogo == null)) {
        this.ActLogoFlag = true
      } // end if
      this.$nextTick(() => {
        let articleWidth = document.getElementById("activity-html").clientWidth
        let tables = $("table")

        tables.each((index, table) => {
          if (table.clientWidth > articleWidth) {
            table.outerHTML = "<div class='table-wrap'>" + table.outerHTML + "</div>"
          }
        })
      })
    }, // end GetPromotionDetail

    // 传值到支付页面 2018.09.21 SeyoChen
    ToRechargePage: async function () {
      const retDataCheck = await CommonService.Comm_CheckPermission()
      if (retDataCheck.Status != 0) {
        if (retDataCheck.Status != 4) {
          if (this.FromDepositPage) {
            history.back(-1)
          } else {
            this.$router.push({ name: "deposit" })
          }
        } else {
          let notifyData = {
            NotifyMessage: this.$t("lang.ACCOUNT_FROZEN_TIP1")
          }
          EventBus.$emit("showWarnTip", notifyData)
          return false
        }
        //	            	$('#depositModal').modal('show')
      } else {
        this.$router.push({ name: "login" })
      }
    }
  },
  components: {
    mainHeader
    //			depositModal,
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "activityInfo") {
        this.ActiveID = this.$route.params.ActiveID || "" //当前选中活动
        this.ActiveImg = this.$route.params.ActiveImg || "" //当前选中活动图片
        this.FromDepositPage = this.$route.params.FromDepositPage || false
        if (this.ActiveID == "") {
          //返回活动列表
          javascript: history.back(-2)
        }
        if (this.ActiveID != "" && this.ActiveID >= 0) {
          this.OtherActivityData = true
          this.GetPromotionDetail()
        }
      }
    }
  },
  beforeDestroy() {
    EventBus.$off("showNotifyMessage")
  }
}
</script>