<template>
  <div class="LoadBox">
    <div class="author">
      <h5>授权中...</h5>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus";
import Regex from "scripts/common/CommDef";
import BKBLDef from "scripts/common/BLDef";
import LoginService from "scripts/businessLogic/loginService";
import CommUtility from "scripts/common/CommUtility";

export default {
  data() {
    return {
      HeaderTitle: "登录"
    };
  },
  created: function() {
    this.WxLogin();
  },
  methods: {
    // 微信登录
    WxLogin: async function() {
      const code = this.$route.query.code || ""; //微信code值
      if (code == "") {
        this.$router.push({ name: "index" }); //非微信登录 跳转首页
        return;
      }
      let DomainLink = ""; //微信DomainLink值
      if (
        localStorage.getItem("DomainLink") &&
        localStorage.getItem("DomainLink") != ""
      ) {
        DomainLink = localStorage.getItem("DomainLink");
      } else {
        DomainLink = this.$route.params.DomainLink || ""; //微信DomainLink值
        localStorage.setItem("DomainLink", DomainLink);
      }
      const dataObj = {
        LoginData: {
          DomainLink: DomainLink,
          Code: code,
          WGUID: ""
        },
        WGUID: ""
      };

      dataObj.WGUID = dataObj.LoginData.WGUID = this.$WGUID;
      EventBus.$emit("GlobalLoadingTrigger", true);
      const retData = await LoginService.WxLoginConfirm(this.PreToken, dataObj);
      EventBus.$emit("GlobalLoadingTrigger", false);

      // 微信登录成功
      if (retData.Ret == 0) {
        const LoginData = retData.Data.LoginData;
        localStorage.setItem("Token", LoginData.Token);
        localStorage.setItem("Auth", LoginData.Auth);
        localStorage.setItem("Acct", LoginData.Acct);
        localStorage.setItem(
          "logoutTime",
          new Date().getTime() + 15 * 60 * 1000
        );
        const WXobj = {
          AcctID: LoginData.AcctID,
          HeadImgUrl: LoginData.HeadImgUrl,
          Name: LoginData.Name,
          AcctPwdEnabled: LoginData.AcctPwdEnabled,
          BankCardAdded: LoginData.BankCardAdded
        };
        localStorage.setItem("WXobj", JSON.stringify(WXobj));
        EventBus.$emit("afterLogin");

        this.$router.push({ name: "index" }); //登录成功 跳转首页
      }
      //微信登录失败，跳转快速注册
      else if (retData.Ret == 42) {
        this.$router.push({ name: "login" });
      }
      //微信登录失败
      else {
        // const notifyData = {
        //     NotifyMessage: retData.Message,
        //     CloseFunction: this.CloseCurrentWindow
        // };
        // EventBus.$emit('showWarnTip', notifyData);
        this.CloseCurrentWindow();
      }
    }, // end  WxLoginSubmit

    // 關閉視窗
    CloseCurrentWindow: function() {
      this.$router.push({ name: "login" }); //登录成功 跳转首页
    }
  }
};
</script>