<template>
  <div>
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <!-- 内容 -->
    <section class="msg-wrap login-wrap" style="margin-top: 0!important;">
      <article>
        <div class="logo">
          <img
            :src="ResourceCDN + this.LogoPath"
            v-if="this.LogoPath!==null&&this.LogoPath!==''&&this.LogoPath!=='null'"
          />
        </div>
        <form class="login-form">
          <div class="row">
            <em
              class="icon-user"
              :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_user.png)'}"
            ></em>
            <input
              type="text"
              class="form-control"
              :placeholder="$t('lang.LONGIN_ENTER_ACCOUNT')"
              name="Acct"
              v-model="LoginObj.Acct"
              v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row">
            <em
              class="icon-psw"
              :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_psw.png)'}"
            ></em>
            <input
              type="password"
              class="form-control"
              :placeholder="$t('lang.LOGIN_ENTER_PASSWORD')"
              name="Pwd"
              v-model="LoginObj.Pwd"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row">
            <em
              class="icon-scan"
              :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_scan.png)'}"
            ></em>
            <input
              type="text"
              class="form-control input-scan"
              :placeholder="$t('lang.LOGIN_ENTER_VCODE')"
              name="VCodeImg"
              v-model="LoginObj.VCodeImg"
              v-validate="{ rules: { regex:Reg.VCode , required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
            <a class="img-scan" v-on:click="GetAuthCode()">
              <img :onerror="defaultImg" v-bind:src="AuthImg" />
            </a>
            <p
              class="error-tip"
              v-if="errors.has('Acct') && fields.Acct.touched"
            >* {{$t('lang.LONGIN_ACCOUNT_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('Pwd') && fields.Pwd.touched"
            >* {{$t('lang.LOGIN_PASSWORD_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('VCodeImg') && fields.VCodeImg.touched"
            >* {{$t('lang.LOGIN_VCODE_TIP')}}</p>
            <p id="errorTip" class="error-tip"></p>
          </div>
          <div class="row">
            <label class="checkbox">
              <em class="icon" @click="LoginObj.Remember = true"></em>
              <em
                class="icon_check"
                v-if="LoginObj.Remember"
                @click="LoginObj.Remember = false"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-checkbox-check.png)'}"
              ></em>
              {{$t('lang.LOGIN_REMEMBER_PASSWORD')}}
            </label>
          </div>
          <div class="row" style="margin-bottom: 3rem;">
            <a class="btn btn-gold" @click="LoginSubmit()" v-html="$t('lang.BUTTON_LOGIN')"></a>
            <!-- <a
              class="btn btn-purple"
              @click="openOnekeyRegisterWindow()"
              v-html="$t('lang.ONE_KEY_REGISTER')"
            ></a>-->
            <router-link
              :to="{name: 'register'}"
              class="btn btn-purple"
              v-html="$t('lang.BUTTON_REGISTER')"
            ></router-link>
            <!-- <router-link
              :to="{name: 'register'}"
              class="btn btn-forget"
              v-html="$t('lang.BUTTON_REGISTER')"
            ></router-link>-->
            <!--<a v-if="DomainLink" class="btn btn-purple" @click="openOnekeyRegisterWindow()" >一键注册</a>
            <router-link v-else :to="{name: 'register'}" class="btn btn-purple">注&emsp;册</router-link>-->
            <!--<a class="btn btn-wx" @click="WxLoginSubmit()"><em class="icon-wx"></em>微信登录</a>-->
          </div>
        </form>
      </article>
    </section>

    <!-- 一键注册 -->
    <onekey-register></onekey-register>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/modal/mobile/login/index.less";
</style>

<script>
import EventBus from "scripts/common/EventBus"
import Regex from "scripts/common/CommDef"
import Vue from "vue"
import LoginService from "scripts/businessLogic/loginService"
import CommUtility from "scripts/common/CommUtility"
import mainHeader from "@/components/mobile/sub/mainHeader"
import onekeyRegister from "@/components/mobile/sub/register/onekeyRegister"
// 引入base64
const Base64 = require("js-base64").Base64

export default {
  data() {
    return {
      HeaderTitle: this.$t("lang.LOGIN"),

      // 正則表達式類別
      Reg: Regex.Regex,

      // 驗證碼
      AuthImg: "/static/images/mobile/common/load1.gif",

      // 登入資料物件
      LoginObj: {
        Acct: "",
        Pwd: "",
        VCodeImg: undefined,
        Remember: true
      },

      // PreToken
      PreToken: "",

      // 驗證碼顏色設定
      RGB: {
        R: 255,
        G: 200,
        B: 255
      },
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      LogoPath: localStorage.getItem("LogoImgPath"),
      defaultImg: 'this.src="' + Vue.prototype.$ResourceCDN + '/EditionImg/LamborFormal/images/public/refresh.png"'
    }
  },
  created: function () {
    this.GetPreToken()
    this.GetUserInfo()
  },
  methods: {
    // 獲取PreToken
    GetPreToken: async function () {
      const obj = { WGUID: Vue.prototype.$WGUID }
      const retData = await LoginService.LoadPage(obj)
      if (retData !== "") {
        this.PreToken = retData
        this.GetAuthCode()
      }
    },
    // 取得驗證碼
    GetAuthCode: async function () {
      const VCode_CharacterRGB = this.RGB
      const RGBData = {
        VCode_CharacterRGB
      }
      const retData = await LoginService.ReGenVCode(RGBData, this.PreToken)

      this.AuthImg = retData
    },
    // 登入
    LoginSubmit: async function () {
      this.flag = await this.validate()

      // 處理中則直接返回
      if (this.tempObj === true) {
        return
      }
      this.tempObj = true

      if (this.flag === true) {
        const dataObj = { LoginData: {}, WGUID: "" }
        dataObj.LoginData = this.LoginObj
        dataObj.WGUID = Vue.prototype.$WGUID
        EventBus.$emit("GlobalLoadingTrigger", true)
        const retData = await LoginService.LoginConfirm(this.PreToken, dataObj)
        EventBus.$emit("GlobalLoadingTrigger", false)

        // 登录前执行登出操作 2020.01.18 ququ
        let Logo = localStorage.getItem("LogoImgPath")
        let GameList = localStorage.getItem("GameList")
        localStorage.clear()
        localStorage.setItem("GameList", GameList)
        localStorage.setItem("LogoImgPath", Logo)

        // 失敗
        if (retData.Ret !== 0) {
          const notifyData = {
            NotifyMessage: retData.Message
          }
          EventBus.$emit("showNotifyMessage", notifyData)

          // 針對錯誤重置欄位
          switch (retData.Ret) {
            // 驗證碼錯誤
            case 30:
              this.LoginObj.VCodeImg = ""
              this.$validator.reset()
              break
            default:
              this.LoginObj.Acct = ""
              this.LoginObj.Pwd = ""
              this.LoginObj.VCodeImg = ""
              this.$validator.reset()
              break
          }

          this.GetAuthCode()
          this.tempObj = false
        } else {
          localStorage.setItem("Token", retData.Data.LoginData.Token)
          localStorage.setItem("Auth", retData.Data.LoginData.Auth)
          localStorage.setItem("Acct", retData.Data.LoginData.Acct)
          localStorage.setItem("CorrelationIBMemberId", retData.Data.LoginData.CorrelationIBMemberId)
          localStorage.setItem("userId", retData.Data.LoginData.AcctID)

          this.$store.dispatch("user/setAgentId")
          this.$store.dispatch("user/setUserId")

          localStorage.setItem("IBStatus", retData.Data.LoginData.IBStatus)
          localStorage.setItem("logoutTime", new Date().getTime() + 15 * 60 * 1000)
          EventBus.$emit("afterLogin")
          // 储存登录信息
          this.SetUserInfo()

          this.$router.push({ name: "index" }) //登录成功 跳转首页
          this.tempObj = false
        }
      } else {
        this.tempObj = false
      }
    },
    // 储存表单信息
    SetUserInfo: function () {
      // 判断用户是否勾选记住密码，如果勾选，向cookie中储存登录信息，
      // 如果没有勾选，储存的信息为空
      if (this.LoginObj.Remember) {
        CommUtility.SetCookie("account", this.LoginObj.Acct)
        // base64加密密码
        let passWord = Base64.encode(this.LoginObj.Pwd)
        CommUtility.SetCookie("password", passWord)
      } else {
        CommUtility.SetCookie("account", "")
        CommUtility.SetCookie("password", "")
      }
    },
    GetUserInfo: function () {
      // 在页面加载时从cookie获取登录信息
      let account = CommUtility.GetCookie("account")
      let password = Base64.decode(CommUtility.GetCookie("password"))
      // 如果存在赋值给表单，并且将记住密码勾选

      if (password) {
        this.LoginObj.Acct = account
        this.LoginObj.Pwd = password
        this.LoginObj.Remember = true
      }
    },
    // 所有欄位驗證
    validate: function () {
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      return this.$validator.validateAll().then((result) => {
        return result
      })
    },
    // 微信登录
    WxLoginSubmit: async function () {
      const dataObj = {
        LoginData: {
          Code: "011HZ9mr0G4yOe1Fjemr04r9mr0HZ9m1",
          DomainLink: "KSOabhSvbyjtc_LTUCadog==",
          WGUID: ""
        },
        WGUID: ""
      }
      dataObj.WGUID = dataObj.LoginData.WGUID = Vue.prototype.$WGUID
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await LoginService.WxLoginConfirm(this.PreToken, dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      // 失敗
      if (retData.Ret !== 0) {
        const notifyData = {
          NotifyMessage: retData.Message
        }
        EventBus.$emit("showNotifyMessage", notifyData)
      } else {
        const LoginData = retData.Data.LoginData
        let Logo = localStorage.getItem("LogoImgPath")
        let GameList = localStorage.getItem("GameList")
        localStorage.clear()
        localStorage.setItem("GameList", GameList)
        localStorage.setItem("LogoImgPath", Logo)
        localStorage.setItem("Token", LoginData.Token)
        localStorage.setItem("Auth", LoginData.Auth)
        localStorage.setItem("Acct", LoginData.Acct)
        localStorage.setItem("CorrelationIBMemberId", retData.Data.LoginData.CorrelationIBMemberId)
        localStorage.setItem("userId", retData.Data.LoginData.AcctID)

        this.$store.dispatch("user/setAgentId")
        this.$store.dispatch("user/setUserId")

        localStorage.setItem("IBStatus", retData.Data.LoginData.IBStatus)
        localStorage.setItem("logoutTime", new Date().getTime() + 15 * 60 * 1000)
        const WXobj = {
          AcctID: LoginData.AcctID,
          HeadImgUrl: LoginData.HeadImgUrl,
          Name: LoginData.Name
        }
        localStorage.setItem("WXobj", JSON.stringify(WXobj))
        EventBus.$emit("afterLogin")

        this.$router.push({ name: "index" }) //登录成功 跳转首页
      }
    },
    // 一键登录
    openOnekeyRegisterWindow: async function () {
      $("#onekeyRegisterModal").modal("show")
    }
  },
  components: {
    mainHeader,
    onekeyRegister
  }
}
</script>