<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap egame-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="cont-item">
        <div class="header-row">
          <img :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameApiNo+'.png'" class="titlt-logo" />
          <!-- 游戏类型 -->
          <p class="form-select icon">
            <select
              v-model="LoadMainPageDataModel.GameTypeFilter"
              @change="getGameTypeFilterList()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
            >
              <option
                v-for="GameTypeFilter in LoadMainPageDataModel.GameTypeFilterList"
                v-bind:value="GameTypeFilter"
              >{{GameTypeFilter.Name}}</option>
            </select>
            <em
              class="icon"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down.jpg)', height: '100%' }"
            ></em>
          </p>
        </div>
        <section class="tab-section">
          <!-- <my-scroll
            class="egame-list"
            ref="myScroll"
            :on-refresh="onRefresh"
            :on-pull="onPull"
            :get-scroll-top="getTop"
            :scroll-state="scrollState"
          >-->
          <!-- {{LoadMainPageDataModel.GameList}} -->
          <div class="egame-list" style=" height: 409px; overflow-y: scroll;">
            <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
              <van-list
                v-model="loading"
                :finished="finished"
                :finished-text="finishedText"
                @load="GetElectronicGameList(PageInfo.PageNo,true)"
              >
                <div>
                  <ul id="egame-list-li">
                    <li
                      v-for="(Game,index) in LoadMainPageDataModel.GameList"
                      :key="index"
                      class="col-4"
                    >
                      <a
                        href="javascript:void(0);"
                        v-on:click="PlayGame(Game.GameApiNo,Game.GameCode);"
                      >
                        <img
                          :onerror="defaultImg"
                          v-bind:src="$ResourceCDN +Game.ImgUrl + '?VersionCode'"
                        />
                        <p>{{Game.Name}}</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </van-list>
            </van-pull-refresh>
          </div>
          <!-- </my-scroll> -->
        </section>
      </div>
    </section>
  </div>
</template>


<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import URLService from 'scripts/common/URLService';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import GameService from 'scripts/businessLogic/gameService';
import CommonService from 'scripts/businessLogic/commonService';
import myScroll from 'scripts/vueScroll/index.vue';
import { List } from 'vant';

export default {
  data() {
    return {
      GameApiNo: this.$route.params.Data || '', //厂商ID
      GameNum: this.$route.params.Data || '', //厂商ID
      HeaderTitle: this.$t('lang.GAME_LIST'),
      // 頁面DataModel
      LoadMainPageDataModel: {
        GameAPIVendor: { Value: this.$route.params.Data },
        GameTypeFilter: {
          Checked: true,
          Key: '',
          Name: '全部',
          PMode: -1,
          Value: -1
        },
        GameTypeFilterList: undefined,
        GameList: []
      },
      // 分頁資料
      PageInfo: {
        PageNo: 1,
        PageSize: 21,
        PageCount: 0,
        TotalPages: 0
      },
      scrollState: true, //是否可以滑动
      PullingState: true, //是否可以加载中
      imgString: '',
      defaultImg:
        'this.src="' +
        Vue.prototype.$ResourceCDN +
        '/EditionImg/Lambor1.0/images/web/game/electronic/Temp.png?VersionCode"',
      GameData: {
        GameAPIVendor: '',
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.ElectronicGame,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      },
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      IsLogin: false,
      loading: false,
      finished: false,
      refreshing: false,
      finishedText: ''
    };
  },
  created: function() {
    this.$nextTick(function() {
      //内容高度
      var footerHeight = $('#themeLayout .mainMenuNew').height();
      var headerHeight = $('#themeLayout header').height();
      var searchRowHeight = $('.egame-wrap .header-row').height();
      var bodyHeight = $(window).height() - footerHeight - headerHeight + 10;
      var listHeight =
        $(window).height() - footerHeight - headerHeight - searchRowHeight + 20;
      // $('.egame-wrap').css('height', bodyHeight + 'px');
      $('.egame-list').css('height', listHeight - 40 + 'px');
    });
    this.getImg(this.GameNum);
    this.PageInfo.PageNo = 1;
    this.getGameTypeFilterList();
    // this.GetElectronicGameList(this.PageInfo.PageNo, true);
  },
  mounted: function() {
    this.CheckAcctStatus();
  },
  methods: {
    onRefresh() {},
    getGameTypeFilterList: function() {
      this.PageInfo.PageNo = 1;
      this.PullingState = true;
      this.finished = false;
      this.loading = true;
      this.LoadMainPageDataModel.GameList = [];
      this.GetElectronicGameList();
    },
    onPull(mun) {
      //加载
      if (this.PageInfo.PageCount >= this.PageInfo.PageNo) {
        this.PullingState = true;
        this.$refs.myScroll.setState(5);
        this.GetElectronicGameList(this.PageInfo.PageNo);
      } else {
        this.PullingState = false;
        this.$refs.myScroll.setState(7);
      }
    },
    // 取得電子遊戲List
    GetElectronicGameList: async function(pageNo, isFirst) {
      console.log('GetElectronicGameList', '取得電子遊戲List');
      // if (this.PullingState == false) {
      //   return;
      // }
      // this.PullingState = false;
      // 獲得頁面資料
      if (!this.LoadMainPageDataModel.GameTypeFilterList) {
        const loadGameData = {
          GameAPIVendor: this.LoadMainPageDataModel.GameAPIVendor
        };
        const tempRetData = await GameService.LoadMainPage(loadGameData);

        if (tempRetData.Ret != 0) {
          return;
        }
        this.LoadMainPageDataModel.GameTypeFilterList =
          tempRetData.Data.GameTypeFilterList;
        // 首次加载默认选中后台传回的第一个分类 2019.11.28 ququ
        this.LoadMainPageDataModel.GameTypeFilter = this.LoadMainPageDataModel.GameTypeFilterList[0];
      }

      const GameData = {
        WGUID: Vue.prototype.$WGUID,
        GameAPIVendor: this.LoadMainPageDataModel.GameAPIVendor, // 遊戲供應商
        GameTypeFilter: this.LoadMainPageDataModel.GameTypeFilter, // 遊戲類型過濾條件
        Keyword: '', // 關鍵字
        PagingInfo: this.PageInfo,
        PlatformType: 2 // 2019.01.28 SeyoChen 添加识别H5端
      };
      const retData = await GameService.GameQuery(GameData);
      console.log('__________________retData____________________', retData);
      this.loading = false;
      //分页
      if (retData.Ret == 0 && retData.Data.GameList.length > 0) {
        if (this.PageInfo.PageNo == 1) {
          this.LoadMainPageDataModel.GameList = []; //刷新清空列表
        }
        this.PageInfo.PageNo++;
        // retData.Data.GameList.map((v, k) => {
        //   this.LoadMainPageDataModel.GameList.push(v);
        // });
        for (let item of retData.Data.GameList) {
          this.LoadMainPageDataModel.GameList.push(item);
          console.log(item);
        }
        console.log(
          '__________________length____________________',
          this.LoadMainPageDataModel.GameList.length
        );
      }
      // 数据全部加载完成
      console.log(
        'retData.Data.PagingInfo.TotalCount',
        retData.Data.PagingInfo.TotalCount
      );
      if (
        !retData.Data.PagingInfo.TotalCount ||
        this.LoadMainPageDataModel.GameList.length >=
          retData.Data.PagingInfo.TotalCount
      ) {
        this.finished = true;
        this.finishedText = this.$t('lang.LIST_ALL_LOADED');
        if (!this.LoadMainPageDataModel.GameList.length) {
          this.finishedText = this.$t('lang.LIST_NO_DATA');
        }
      }

      // 成功
      //	            this.LoadMainPageDataModel.GameList = this.LoadMainPageDataModel.GameList.concat(retData.Data.GameList);
      //	            this.LoadMainPageDataModel.GameList.push(retData.Data.GameList);

      // 2019.03.26 当选择的选项下游戏为空时 清空游戏列表并提示无游戏 SeyoChen
      if (retData.Data.PagingInfo.TotalCount == 0) {
        this.LoadMainPageDataModel.GameList = '';
        this.PageInfo.PageCount = 0;
        return;
      }
      // 2019.03.26 当选择的选项下游戏为空时 清空游戏列表并提示无游戏 SeyoChen end

      // 更新Paging
      if (retData.Data.PagingInfo) {
        this.PageInfo.PageCount = Math.ceil(
          retData.Data.PagingInfo.TotalCount / retData.Data.PagingInfo.PageSize
        );
      } else {
        this.PageInfo.PageCount = 0;
      } // end if
    }, // end GetElectronicGameList
    // 開新視窗
    PlayGame: async function(gameAPIVendor, gameCode) {
      console.log('==================PlayGamePostData');
      console.log(gameAPIVendor);
      if (
        BLDef.SysAccountStatus.NOT_LOGIN == this.IsLogin.Status ||
        BLDef.SysAccountStatus.NOT_LOGIN_DISABLED == this.IsLogin.Status ||
        BLDef.SysAccountStatus.NOT_LOGIN_DELETED == this.IsLogin.Status
      ) {
        let notifyData = {
          NotifyMessage: this.$t('lang.GAME_LOGIN_TIP'),
          CloseFunction: this.CloseCurrentWindowLogin
        };
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }

      // switch (gameAPIVendor) {
      //   case 1:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.AG;
      //     break;
      //   case 2:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.AllBet;
      //     break;
      //   case 3:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.PT;
      //     break;
      //   case 7:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.QT;
      //     break;
      //   case 8:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.DT;
      //     break;
      //   case 9:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.SG;
      //     break;
      //   case 10:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.OG;
      //     break;
      //   case 14:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.MG;
      //     break;
      //   case 15:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.BBIN;
      //     break;
      //   case 16:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.TTG;
      //     break;
      //   case 17:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.PG;
      //     break;
      //   case 18:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.WG;
      //     break;
      //   case 20:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.RT;
      //     break;
      //   case 21:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.PS;
      //     break;
      //   case 31:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.PNG;
      //     break;
      //   case 30:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.BP;
      //     break;
      //   case 33:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.KingLong;
      //     break;
      //   case 37:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.RTG1;
      //     break;
      //   case 39:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.TopTG;
      //     break;
      //   case 40:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.PGame;
      //     break;
      //   case 46:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IMOne_RT;
      //     break;
      //   case 47:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IMOne_Z88;
      //     break;
      //   case 49:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IMOne_MWG;
      //     break;
      //   case 53:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IMOne_PP;
      //     break;
      //   case 55:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IS_SGS;
      //     break;
      //   case 56:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IS_Haba;
      //     break;
      //   case 59:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IS_PP;
      //     break;
      //   case 68:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IMOne_SG;
      //     break;
      //   case 82:
      //     this.GameData.GameAPIVendor = BLDef.GameApiType.IS_Skywind;
      //     break;
      //   default:
      //     break;
      // } // end switch
      this.GameData.GameAPIVendor = gameAPIVendor;
      console.log('===========================this.GameData.GameAPIVendor');
      console.log(this.GameData.GameAPIVendor);
      if (gameCode) {
        this.GameData.GameCode = gameCode;
      }

      console.log('==================PlayGamePostData');
      console.log(this.GameData);
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );

      // 2019.03.04 SeyoChen --  当为以下游戏时弹窗
      // if (this.GameData.GameAPIVendor == BLDef.GameApiType.PT || this.GameData.GameAPIVendor == BLDef.GameApiType.TTG || this.GameData.GameAPIVendor == BLDef.GameApiType.OG || this.GameData.GameAPIVendor == BLDef.GameApiType.BBIN || this.GameData.GameAPIVendor == BLDef.GameApiType.TopTG) {
      // 	CommUtility.OpenPlayGameWindow('playGameBackIndex');
      // 	return;
      // }
      // 2019.03.04 SeyoChen --  当为以下游戏时弹窗 end

      // if (this.GameData.GameAPIVendor === 31) {
      //   console.log('==================31');
      //   console.log(this.GameData);
      //   // this.$router.push({ name: 'playPngGame'});
      //   CommUtility.OpenPlayGameWindow('playPngGame');
      //   return;
      // }
      // this.$router.push({ name: 'playGame'});
      // localStorage.removeItem('gameListGameApiNo');
      // localStorage.setItem('gameListGameApiNo', gameAPIVendor);
      CommUtility.OpenPlayGameWindow('playGameBackIndex');
    }, // end PlayGame
    // 更改圖片路徑(根據不同遊戲)
    getImg: function(i) {
      i = parseInt(i); // 2018.12.04 SeyoChen 图片类型对比，寻找img路径
      switch (i) {
        case 1:
          this.imgString = 'AGIN/AG_';
          break;
        case 3:
          this.imgString = 'PT/PT_';
          break;
        case 7:
          this.imgString = 'QT/QT_';
          break;
        case 8:
          this.imgString = 'DT/DT_';
          break;
        case 9:
          this.imgString = 'SG/SG_';
          break;
        case 14:
          this.imgString = 'MG/MG_';
          break;
        case 15:
          this.imgString = 'BBIN/BBIN_';
          break;
        case 16:
          this.imgString = 'TTG/TTG_';
          break;
        case 17:
          this.imgString = 'PG/PG_';
          break;
        case 18:
          this.imgString = 'WG/WG_';
          break;
        case 20:
          this.imgString = 'RT/RT_';
          break;
        case 21:
          this.imgString = 'PS/PS_';
          break;
        case 22:
          this.imgString = 'PNG/PNG_';
          break;
        case 30:
          this.imgString = 'BP/BP_';
          break;
        case 31:
          this.imgString = 'PNG1/PNG1_';
          break;
        case 33:
          this.imgString = 'KingLong/KingLong_';
          break;
        case 37:
          this.imgString = 'RTG/RTG_';
          break;
        case 39:
          this.imgString = 'TTG/TTG_';
          break;
        default:
          this.imgString = 'PNG1/PNG1_';
          break;
      } // end switch
    }, // end getImg

    // 2019.03.04 SeyoChen 檢查登入狀態
    CheckAcctStatus: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      this.IsLogin = await CommonService.Comm_CheckPermission();
      EventBus.$emit('GlobalLoadingTrigger', false);
    },

    // 關閉視窗 -- 未登录
    CloseCurrentWindowLogin: function() {
      this.$router.push({ name: 'login' });
    }
    // 2019.03.04 SeyoChen end
  },
  components: {
    mainHeader,
    myScroll,
    [List.name]: List
  }
  // watch: {
  // 	'$route' (to, from) {

  // 	}
  // },
};
</script>
