<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em
        class="filter-icon"
        @click="showfilterPopup"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"
      ></em>

      <div class="userList-content">
        <van-list
          v-model="loading"
          :finished="finished"
          :finished-text="dataLst.finishedText"
          @load="onLoad"
          ref="list"
        >
          <div class="item" v-for="(item,index) in dataLst.list" :key="index">
            <ul class="lst">
              <li class="row">
                <div>{{item.TransTypeName}}</div>
                <div
                  class="time"
                >{{item.TransDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div class="color-yellow">{{item.Amount}}</div>
                <div class="price">{{$t('lang.AGENCY_BALANCE')}}：{{item.NewBalance }}</div>
              </li>
            </ul>
            <ul class="child" v-show="item.check">
              <li class="row">
                <div>{{$t('lang.MEMBER_ORDER_NUMBER')}}：{{item.SerialNo}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.MEMBER_TRANSACTION_TIME')}}：{{item.TransDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div>
                  {{$t('lang.AGENCY_TRANSACTION_TYPE')}}：
                  <span
                    :class="item.OrderStatusColor"
                  >{{item.TransTypeName}}</span>
                </div>
                <div>{{$t('lang.AGENCY_TRANSACTION_BALANCE')}}：{{item.Amount }}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.TRANSACTION_OLD_BALANCE')}}：{{item.OldBalance}}</div>
                <div>{{$t('lang.TRANSACTION_NEW_BALANCE')}}：{{item.NewBalance }}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DEPOSIT_REMARK')}}：{{item.Remark}}</div>
              </li>
            </ul>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus"
import BLDef from "scripts/common/BLDef"
import CommUtility from "scripts/common/CommUtility"
import mainHeader from "@/components/mobile/sub/mainHeader"
import filterPopup from "@/components/mobile/filterPopup"
import { List } from "vant"

import moment from "moment"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"

export default {
  components: { mainHeader, [List.name]: List, filterPopup },
  data() {
    return {
      HeaderTitle: this.$t("lang.ACCOUNT_CHANGE_RECORD"),
      inputObj: {
        StartTime: moment().month(moment().month()).startOf("month").format("YYYY-MM-DD"),
        EndTime: moment(new Date()).format("YYYY-MM-DD"),
        TransType: "-1"
      },
      dataLst: {
        list: [],
        total: "0",
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ""
      },
      loading: false,
      finished: false,
      FirstPlanEnter: true // 首次搜索弹窗
    }
  },
  mounted() {
    // 展开每条详细信息
    $(".van-list").on("click", ".lst", function () {
      if (!$(".child").is(":animated")) {
        //判断是否处于动画
        if ($(this).hasClass("check")) {
          $(this).removeClass("check")
          $(this).parent(".item").removeClass("check")
        } else {
          $(this).addClass("check")
          $(this).parent(".item").addClass("check")
        }
        $(this).siblings(".child").slideToggle(800)
      }
    })

    this.$VueUtils.setMyHeaderPosition() // 处理头部CSS
  },
  watch: {
    $route(to, from) {
      this.childMsg({})
    }
  },
  activated() {
    this.Load()
    this.childMsg({})
    this.$VueUtils.setMyHeaderPosition() // 处理头部CSS
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop() // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      })
    },

    showfilterPopup: function () {
      this.$refs.filter.parentMsg("memberAccountChange")
      this.FirstPlanEnter = false
    },

    // 过滤条件
    childMsg(msg) {
      this.inputObj = {
        StartTime: msg.StartTime || moment().month(moment().month()).startOf("month").format("YYYY-MM-DD"),
        EndTime: msg.EndTime || moment(new Date()).format("YYYY-MM-DD"),
        TransType: msg.TransType
      }
      this.dataLst = {
        list: [],
        total: "",
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ""
      }
      this.loading = false
      this.finished = false
      setTimeout(() => {
        this.$refs.list.check()
      }, 100)
    },

    async onLoad() {
      const inputObj = {
        Type: this.inputObj.TransType,
        StartTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.StartTime).format("YYYY-MM-DD")),
        EndTick:
          CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.EndTime).format("YYYY-MM-DD")) +
          (24 * 60 * 60 - 1) * 1000,
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      }
      const data = await PersonalCenterService.CashFlowLog_Record(inputObj)
      this.loading = false
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.loading = false
        if (data.Data && data.Data.LogList) {
          for (let item of data.Data.LogList) {
            item.check = false
            this.dataLst.list.push(item)
          }
        }
        this.dataLst.PagingInfo.PageNo++
        // 数据全部加载完成
        if (!data.Data.PagingInfo.TotalCount || this.dataLst.list.length >= data.Data.PagingInfo.TotalCount) {
          this.finished = true
          this.dataLst.finishedText = this.$t("lang.LIST_ALL_LOADED")
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t("lang.LIST_NO_DATA")
          }
        }
      } else {
        this.finished = true
        this.dataLst.finishedText = ""
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"))
      }
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3)
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1)
      return realVal
    }
  },
  deactivated: function () {
    this.FirstPlanEnter = true
  }
}
</script>

<style lang="less" scoped>
.tab-head {
  margin-bottom: 0;
  li {
    width: 50%;
    margin-bottom: 0;
  }
}

.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .row {
        flex: 1;
        text-align: center;
        .time {
          font-size: 0.8rem;
          color: #b8b8b8;
        }
        .price {
          font-size: 0.8rem;
          color: #b8b8b8;
        }
        .color-red {
          font-size: 1rem;
        }
        div {
          color: white;
          font-size: 0.88rem;
        }
        .DepositSum {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
      .row:nth-of-type(1) {
        text-align: left;
        flex: 2;
      }
      .row:nth-of-type(2) {
        text-align: right;
      }
    }

    .child {
      padding: 0.9rem;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      opacity: 1;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          .depositSum {
            color: #d0a05d;
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .total_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0.9rem;
    height: 3.6rem;
    line-height: 3.6rem;
    p:nth-of-type(1) {
      font-size: 1rem;
      color: white;
    }
    p:nth-of-type(2) {
      color: #d0a05d;
      font-size: 1rem;
    }
  }
  .total_bar::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
.color-red {
  font-size: 1rem;
}
.color-green {
  color: #50e223 !important;
}
.color-yellow {
  color: #d0a05d !important;
}
</style>