<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em class="filter-icon" @click="showfilterPopup" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"></em>

      <ul class="tab-head">
        <li :class="tabActive == 1 ?'active':''" @click="setTab(1)" :style="{ backgroundImage: tabActive == 1 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.AGENCY_BETTING')}}</li>
        <li :class="tabActive == 2 ?'active':''" @click="setTab(2)" :style="{ backgroundImage: tabActive == 2 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.MEMBER_BETTING_NONE')}}</li>
        <li :class="tabActive == 3 ?'active':''" @click="setTab(3)" :style="{ backgroundImage: tabActive == 3 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.MEMBER_ACTIVITY')}}</li>
      </ul>

      <div class="userList-content">
        <van-list v-model="loading" :finished="finished" :finished-text="dataLst.finishedText" @load="onLoad" ref="list">
          <!-- 投注记录 -->
          <div class="item" v-for="(item,index) in dataLst.list" :key="index" v-show="tabActive == 1">
            <ul class="lst">
              <li class="row">
                <div>{{item.GameName}}</div>
                <div class="time">{{item.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-red">{{item.VBetAmount}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.RECORD_PAYOUT')}}</div>
                <div class="color-green">{{item.VSettleAmount}}</div>
              </li>
            </ul>
            <transition name="draw">
              <ul class="child" v-show="item.check">
                <li class="row">
                  <div>{{$t('lang.AGENCY_BETTING_ORDER_NUMBER')}}：{{item.BetOrderNo}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.RECORD_BETTING_TIME')}}：{{item.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.FILTER_GAME_TYPE')}}：{{item.GameTypeName}}</div>
                  <div>{{$t('lang.PROMOTION_GAME_VENDOR')}}：{{item.GameApiName}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_BETTING_AMOUNT')}}：{{item.VBetAmount}}</div>
                  <div>{{$t('lang.RECORD_EFFECTIVE_BETTING')}}：{{item.VBetAvailableAmount}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_PAYOUT_AMOUNT')}}：{{item.VSettleAmount}}</div>
                  <div>{{$t('lang.RECORD_PROFIT_LOSS')}}：{{item.WinLoss}}</div>
                </li>
              </ul>
            </transition>
          </div>
          <div class="item" v-show="tabActive == 1">
            <ul class="lst">
              <li class="row">
                <div class="total_bar">{{$t('lang.WITHDRAWAL_TOTAL')}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-red">{{dataLst.SubBetAmount || 0 }}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.RECORD_PAYOUT')}}</div>
                <div class="color-green">{{dataLst.SubSettleAmount || 0 }}</div>
              </li>
            </ul>
          </div>

          <!-- 未派彩记录 -->
          <div class="item" v-for="(item,index) in dataLst.list" :key="index" v-show="tabActive == 2">
            <ul class="lst">
              <li class="row">
                <div>{{item.GameMainType}}</div>
                <div class="time">{{item.ResultTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div>{{item.GameName}}</div>
                <div>&nbsp;</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-green">{{item.BetAmount}}</div>
              </li>
            </ul>
          </div>
          <div class="item" v-show="tabActive == 2">
            <ul class="lst">
              <li class="row">
                <div class="total_bar">{{$t('lang.WITHDRAWAL_TOTAL')}}</div>
              </li>
              <li class="row"></li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-green">{{dataLst.SubBetAmount || 0}}</div>
              </li>
            </ul>
          </div>

          <!-- 活动记录 -->
          <div class="item" v-for="(item,index) in dataLst.list" :key="index" v-show="tabActive == 3">
            <ul class="lst">
              <li class="row">
                <div>{{item.ActivityName}}</div>
                <div class="time">{{item.CreateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div class="text_align_right">{{$t('lang.MEMBER_ACTIVITY_REWARD')}}</div>
                <div class="color-green text_align_right">{{item.Amount}}</div>
              </li>
            </ul>
          </div>
          <div class="item" v-if="tabActive == 3">
            <ul class="lst">
              <li class="row">
                <div class="total_bar">{{$t('lang.WITHDRAWAL_TOTAL')}}</div>
              </li>
              <li class="row">
                <div class="color-green text_align_right">{{dataLst.SumAmount || 0}}</div>
              </li>
            </ul>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import RegEx from 'scripts/common/CommDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import filterPopup from '@/components/mobile/filterPopup';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import { List } from 'vant';

import moment from 'moment';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  components: { mainHeader, [List.name]: List, filterPopup },
  data() {
    return {
      HeaderTitle: this.$t('lang.AGENCY_BETTING'),
      tabActive: 1,
      inputObj: {
        LoginID: '',
        StartTime: moment()
          .month(moment().month())
          .startOf('month')
          .format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD'),
        IsNextLayer: 0,
        AgencyUser: '',
        GameApiNo: '',
        GameTypeNo: '',
        betNo: '',
        ActivityTime: moment(new Date()).format('YYYY-MM-DD'),
        ActivityName: ''
      },
      dataLst: {
        list: [],
        SubBetAmount: 0,
        SubSettleAmount: 0,
        SumAmount: 0,
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      },
      loading: false,
      finished: false,
      FirstPlanEnter: true // 首次搜索弹窗
    };
  },
  watch: {
    $route(to, from) {
      this.childMsg({});
    }
  },
  activated() {
    // this.Load();
    this.$VueUtils.setMyHeaderPosition(); // 处理头部CSS
  },
  mounted() {
    // 展开每条详细信息
    $('.van-list').on('click', '.lst', function () {
      if (!$(".child").is(":animated")) { //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this).parent('.item').removeClass('check');
        } else {
          $(this).addClass('check');
          $(this).parent('.item').addClass('check');
        }
        $(this).siblings('.child').slideToggle(800);
      }
    });
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },

    showfilterPopup: function () {
      let page = '';
      if (this.tabActive == 1) {
        page = 'memberBettingList';
      } else if (this.tabActive == 2) {
        page = 'memberNoSettledList';
      } else if (this.tabActive == 3) {
        page = 'memberActivityList';
      }
      this.$refs.filter.parentMsg(page, RegEx.Regex.LoginAccount);
      this.FirstPlanEnter = false;
    },

    setTab(active) {
      this.tabActive = active;
      this.FirstPlanEnter = true;
      this.dataLst = {
        list: [],
        total: '0',
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      };
      this.loading = false;
      this.finished = false;

      // 切换tab标签重置部分请求参数 2020.01.20 ququ
      this.inputObj.GameApiNo = -1;
      this.inputObj.GameTypeNo = -1;
      this.inputObj.Type = -1;

      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    // 过滤条件
    childMsg(msg) {
      this.inputObj = {
        LoginID: msg.name || '',
        StartTime:
          msg.StartTime ||
          moment()
            .month(moment().month())
            .startOf('month')
            .format('YYYY-MM-DD'),
        EndTime: msg.EndTime || moment(new Date()).format('YYYY-MM-DD'),
        IsNextLayer: msg.lowerLevel ? 1 : 0,
        GameApiNo: msg.GameName || '',
        GameTypeNo: msg.GameType || '',
        betNo: msg.bettingOrderNumber || '',
        ActivityTime:
          msg.ActivityTime || moment(new Date()).format('YYYY-MM-DD'),
        ActivityName: msg.ActivityName || '',
        Type: -1
      };

      this.dataLst = {
        list: [],
        SubBetAmount: 0,
        SubSettleAmount: 0,
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      };
      this.loading = false;
      this.finished = false;
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    onLoad() {
      if (this.tabActive == 1) {
        this.get_BetLog_Query();
      } else if (this.tabActive == 2) {
        this.get_BettingRecordNone();
      } else if (this.tabActive == 3) {
        this.get_Record_Activity();
      }
    },

    // 投注记录
    async get_BetLog_Query() {
      const InputObj = {
        // Name: this.inputObj.AgencyUser,
        NoSettled: false,
        GameApiNo: this.inputObj.GameApiNo || '-1',
        GameTypeNo: this.inputObj.GameTypeNo || '-1',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          moment(this.inputObj.StartTime).format('YYYY-MM-DD')
        ),
        StartTime: this.inputObj.StartTime,
        EndTick:
          CommUtility.LocalTimeToUtcTicks(
            moment(this.inputObj.EndTime).format('YYYY-MM-DD')
          ) +
          (24 * 60 * 60 - 1) * 1000,
        // EndTime: this.inputObj.EndTime,
        betNo: this.inputObj.betNo || '',
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        },
        Type: this.inputObj.GameTypeNo || '-1'
      };
      const data = await PersonalCenterService.BetLog_Query(InputObj);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.ListGameRecord) {
          for (let item of data.Data.ListGameRecord) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.VRakeCost_Total;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 数据全部加载完成
        if (
          !data.Data.PagingInfo.TotalCount ||
          this.dataLst.list.length >= data.Data.PagingInfo.TotalCount
        ) {
          this.finished = true;
          this.dataLst.finishedText = this.$t('lang.LIST_ALL_LOADED');
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t('lang.LIST_NO_DATA');
          }
        }
        // 合计
        this.dataLst.SubBetAmount = data.Data.ListSumAmount[0].SumBetAmount;
        this.dataLst.SubSettleAmount = data.Data.ListSumAmount[0].SumSettleAmount;
      } else {
        this.finished = true;
        this.dataLst.finishedText = '';
        EventBus.$emit('SHOW_TIP', this.$t('lang.DATA_LOAD_FAILED'));
      }
    },

    // 未派彩记录
    async get_BettingRecordNone() {
      const InputObj = {
        // Name: this.inputObj.AgencyUser,
        NoSettled: true,
        // GameApiNo: this.inputObj.GameApiNo || '-1',
        GameTypeNo: this.inputObj.GameTypeNo || '-1',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          moment(this.inputObj.StartTime).format('YYYY-MM-DD')
        ),
        StartTime: this.inputObj.StartTime,
        EndTick:
          CommUtility.LocalTimeToUtcTicks(
            moment(this.inputObj.EndTime).format('YYYY-MM-DD')
          ) +
          (24 * 60 * 60 - 1) * 1000,
        // EndTime: this.inputObj.EndTime,
        betNo: this.inputObj.betNo || '',
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        },
        Type: this.inputObj.GameTypeNo || '-1'
      };
      const data = await PersonalCenterService.BetLog_Query(InputObj);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.LogList) {
          for (let item of data.Data.LogList) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.VRakeCost_Total;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 数据全部加载完成
        if (
          !data.Data.PagingInfo.TotalCount ||
          this.dataLst.list.length >= data.Data.PagingInfo.TotalCount
        ) {
          this.finished = true;
          this.dataLst.finishedText = this.$t('lang.LIST_ALL_LOADED');
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t('lang.LIST_NO_DATA');
          }
        }
        // 合计
        this.dataLst.SubBetAmount = data.Data.SubBetAmount;
        this.dataLst.SubSettleAmount = data.Data.SubSettleAmount;
      } else {
        this.finished = true;
        this.dataLst.finishedText = '';
        EventBus.$emit('SHOW_TIP', this.$t('lang.DATA_LOAD_FAILED'));
      }
    },

    // 活动记录
    async get_Record_Activity() {
      const InputObj = {
        Name: this.inputObj.ActivityName || '',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          moment(this.inputObj.ActivityTime).format('YYYY-MM-DD')
        ),
        StartTime: this.inputObj.ActivityTime,
        EndTick:
          CommUtility.LocalTimeToUtcTicks(
            moment(this.inputObj.ActivityTime).format('YYYY-MM-DD')
          ) +
          (24 * 60 * 60 - 1) * 1000,
        EndTime: this.inputObj.ActivityTime,
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.Record_Activity(InputObj);
      console.log('_______________InputObj_________________', InputObj);
      console.log('_______________data_________________', data);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.ListRecordActivity) {
          for (let item of data.Data.ListRecordActivity) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.VRakeCost_Total;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 数据全部加载完成
        if (
          !data.Data.PagingInfo.TotalCount ||
          this.dataLst.list.length >= data.Data.PagingInfo.TotalCount
        ) {
          this.finished = true;
          this.dataLst.finishedText = this.$t('lang.LIST_ALL_LOADED');
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t('lang.LIST_NO_DATA');
          }
        }
        // 合计
        this.dataLst.SumAmount = data.Data.SumAmount;
        console.log(
          'data.Data.SumAmount',
          data.Data.SumAmount,
          this.dataLst.SumAmount
        );
      } else {
        this.finished = true;
        this.dataLst.finishedText = '';
        EventBus.$emit('SHOW_TIP', this.$t('lang.DATA_LOAD_FAILED'));
      }
    },

    // 日期转时间戳
    formatDate(now) {
      var year = now.getFullYear();
      var month = now.getMonth() + 1;
      var date = now.getDate();
      var hour = now.getHours();
      var minute = now.getMinutes();
      var second = now.getSeconds();
      return `${year}-${month}-${date} ${hour}: ${minute}:${second}`;
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  deactivated: function () {
    this.FirstPlanEnter = true;
  }
};
</script>

<style lang="less" scoped>
.tab-head {
  margin-bottom: 0;
  li {
    width: 33.33%;
    margin-bottom: 0;
  }
}

.text_align_right {
  text-align: right;
}

.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .row {
        flex: 1;
        text-align: center;
        .time {
          font-size: 0.8rem;
          color: #b8b8b8;
        }
        .color-red {
          font-size: 1rem;
        }
        .color-green {
          font-size: 1rem;
        }
        div {
          color: white;
          font-size: 0.88rem;
        }
        .DepositSum {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
      .row:nth-of-type(1) {
        text-align: left;
        flex: 2;
      }
    }

    .child {
      padding: 0.6rem 0.9rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      opacity: 1;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          .depositSum {
            color: #d0a05d;
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .total_bar {
    margin: 0;
    font-size: 1rem !important;
  }
  .total_bar::after {
    position: relative;
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
.color-green {
  color: #50e223 !important;
}
</style>