﻿<template>
  <!-- 充值 -->
  <section class="msg-wrap deposit-wrap">
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>
    <div
      class="maintain-deposit"
      v-if="(DepositLoadMainPage.OnlinePaymentDepositAcctList.length == 0) && (DepositLoadMainPage.OnlineCompDepositAccntList.length == 0)"
    >
      <img
        :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/maintain-deposit.png?VersionCode'"
      />
      <p class="text1">{{$t('lang.DEPOSIT_MAINTAIN_TIP1')}}</p>
      <p class="text2">
        {{$t('lang.DEPOSIT_MAINTAIN_TIP2')}}
        <a
          class="text3"
          @click="$VueUtils.OpenNewBox()"
        >{{$t('lang.DEPOSIT_MAINTAIN_TIP3')}}</a>
      </p>
    </div>
    <article class="deposit-content" v-else>
      <h5 class="pay-way-title">{{$t('lang.DEPOSIT_ONLINE_WAY')}}</h5>
      <ul class="pay-way">
        <li
          v-for="(item,index) in DepositLoadMainPage.OnlineCompDepositAccntList"
          :key="'OnlineComp'+index"
          v-show="DepositLoadMainPage.OnlineCompDepositAccntList.length>0"
          @click="PaymentChoose(item,'OnlineComp'+index,item.DType,item.PaymentWayTypeName)"
          :class="{'active':SelectedPayment.id==='OnlineComp'+index}"
        >
          <img
            :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/comp'+item.PaymentWayType+'.png'"
          />
          <span>{{item.PaymentWayTypeName}}</span>
          <em class="icon-slider-active"></em>
        </li>
        <li
          v-for="(item,index) in DepositLoadMainPage.OnlinePaymentDepositAcctList"
          :key="'OnlinePayment'+index"
          v-show="DepositLoadMainPage.OnlinePaymentDepositAcctList.length>0"
          :class="{'active':SelectedPayment.id==='OnlinePayment'+index}"
          @click="PaymentChoose(item,'OnlinePayment'+index,item.DType,item.PaymentWayTypeName)"
        >
          <img
            :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/online'+ item.BankTypeId +'.png'"
          />
          <span>{{item.BankTypeName}}</span>
          <em class="icon-slider-active"></em>
        </li>
      </ul>
      <section class="pay-way-options">
        <p
          @click="SelectedOption=index;SelectRemittanceType(item)"
          v-for="(item,index) in SelectedPayment.item.CompDepositConfigList"
          :key="index"
          v-show="SelectedPayment.item.CompDepositConfigList.length>0"
        >
          <em class="icon" :class="{'hasblock':SelectedOption===index}"></em>
          <span>{{item.AccountName || item.VDisplayName}}</span>
        </p>
        <div
          v-for="(item,index) in SelectedPayment.item.CompDepositConfigList"
          v-show="SelectedOption===index"
          :key="index"
          class="fee"
        >
          {{$t('lang.WITHDRAWAL_HANLDING_FEE')}}:
          <span>{{item.DepositFeeStatus===0?NumCalFix(item.DepositFeeRate*100):item.DepositFeeAmt}}{{item.DepositFeeStatus===0?'%':''}}</span>
        </div>
      </section>
      <section
        v-for="(item,index) in SelectedPayment.item.CompDepositConfigList"
        :key="index"
        v-if="SelectedOption===index"
      >
        <section class="group-box">
          <div class="input-group" v-if="DType === 2">
            <input
              type="text"
              name="DepositorName"
              class="form-control"
              v-model="PostDepositData.DepositorName"
              v-validate="{ rules: { regex:Reg.NickBankName, required: true }}"
              :placeholder="$t('lang.DEPOSIT_MAN_NAME')"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <i
            class="tip1"
            v-show="errors.has('DepositorName')"
          >{{$t('lang.DEPOSIT_AMOUNT_ENTER_TIP')}}</i>
        </section>
        <section class="group-box">
          <div
            class="input-group"
            v-if="DinancialChannelData.DType === 1 && DinancialChannelData.BankTypeId === 1"
          >
            <p
              class="form-select icon"
              v-if="CurrencyNo!=1&&CurrencyNo!==undefined&&CurrencyNo!==null"
            >
              <select
                v-model="PostDepositData.BankCode"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
              >
                <option
                  v-for="(Item, index) in BankList"
                  :key="index"
                  v-bind:value="Item.BankCode"
                >{{Item.BankName}}</option>
              </select>
              <em
                class="icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"
              ></em>
            </p>
            <input
              type="text"
              name="DepositBankCode"
              class="form-control"
              v-model="PostDepositData.BankCode"
              v-validate="{ rules: { regex:Reg.BankNickName, required: true }}"
              :placeholder="$t('lang.WITHDRAWAL_BANK_NAME1')"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
              v-else
            />
          </div>
          <i
            class="tip1"
            v-show="errors.has('DepositBankCode')"
            v-if="CurrencyNo==1"
          >{{$t('lang.DEPOSIT_BANK_ENTER_TIP')}}</i>
          <i class="tip1" v-show="BankSelect === false">{{$t('lang.WITHDRAWAL_CHOOSE_BANK_CARD')}}</i>
        </section>
        <section class="group-box">
          <div
            class="input-group"
            v-if="DinancialChannelData.DType === 1 && DinancialChannelData.BankTypeId === 1"
          >
            <input
              type="text"
              name="DepositBankCard"
              class="form-control"
              v-model="PostDepositData.BankCard"
              v-validate="{ rules: { regex:Reg.BankAccount, required: true }}"
              :placeholder="$t('lang.WITHDRAWAL_BANK_NUMBER1')"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <i
            class="tip1"
            v-show="errors.has('DepositBankCard')"
          >{{$t('lang.WITHDRAWAL_NUMBER_TIP')}}</i>
        </section>
        <!-- <section class="group-box" v-else>
          <div class="row">
            <p class="form-select icon">
              <select
                v-model="PostDepositData.BankCard"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
              >
                <option
                  v-for="(MessageType,index) in this.MessageTypeList"
                  :key="index"
                  v-bind:value="MessageType"
                >{{MessageType.Name}}</option>
              </select>
              <em
                class="icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"
              ></em>
            </p>
          </div>
        </section>-->

        <section class="group-box">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="DepositAmt"
              v-model="PostDepositData.DepositAmt"
              v-validate="{ rules: { regex:Reg.MoneyAmount, between:[item.L_TransAmt, item.H_TransAmt], required: true }}"
              :placeholder="$t('lang.DEPOSIT_AMOUNT')"
              :readonly="item.IsManualInputAmt!==1?'readonly': false"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <i
            class="tip1"
            v-show="errors.has('DepositAmt')"
          >{{$t('lang.DEPOSIT_AMOUNT_ENTER')}}{{item.L_TransAmt}}~{{item.H_TransAmt}}</i>
        </section>
        <ul class="money-quick-fill">
          <li
            v-for="(QuickSelAmts,key) in item.QuickSelAmtsList"
            :key="key"
            :class="{'active':PostDepositData.DepositAmt==QuickSelAmts}"
            @click="ChooseQuickAmt(QuickSelAmts)"
          >{{QuickSelAmts}}</li>
        </ul>
        <p
          class="range-tip"
        >{{$t('lang.DEPOSIT_EVERY_MIN')}}{{item.L_TransAmt}}{{$t('lang.DEPOSIT_THE_ABOVE')}}，{{item.H_TransAmt}}{{$t('lang.DEPOSIT_THE_FOLLOWING')}}</p>
      </section>
      <div class="row btn-row">
        <a class="btn btn-gold" @click="OpenActivityList" v-html="$t('lang.DEPOSIT_SUBMIT')"></a>
      </div>
    </article>
    <activity-list :DinancialActivityList="DinancialActivityList"></activity-list>
    <bank-card-transfer
      :SysOrder="SysOrder"
      :DinancialChannelData="DinancialChannelData"
      :DepositAmt="PostDepositData.DepositAmt"
      :RemarkCode="RemarkCode"
      v-if="ShowBankModal"
    ></bank-card-transfer>
    <alipay-transfer
      :SysOrder="SysOrder"
      :DinancialChannelData="DinancialChannelData"
      v-if="ShowCodeModal"
    ></alipay-transfer>
    <order-no
      :SysOrder="SysOrder"
      :DinancialChannelData="DinancialChannelData"
      v-if="ShowOrderModal"
    ></order-no>
    <order-no-company
      :SysOrder="SysOrder"
      :DinancialChannelData="DinancialChannelData"
      :DepositAmount="PostDepositData.DepositAmt"
      v-if="ShowCompanyOrderModal"
    ></order-no-company>
    <!-- 入金提示 -->
    <deposit-amount-limit></deposit-amount-limit>
  </section>
</template>

<script>
import mainHeader from '@/components/mobile/sub/mainHeader';
import ActivityList from '@/components/mobile/sub/deposit_new/activityList';
import BankCardTransfer from '@/components/mobile/sub/deposit_new/bankCardTransfer';
import AlipayTransfer from '@/components/mobile/sub/deposit_new/alipayTransfer';
import URLService from 'scripts/common/URLService';
import CommUtility from 'scripts/common/CommUtility';
import OrderNo from '@/components/mobile/sub/deposit_new/orderNo';
import OrderNoCompany from '@/components/mobile/sub/deposit_new/orderNoCompany';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import DepositAmountLimit from '@/components/mobile/sub/deposit/depositAmountLimit';
import Vue from 'vue';
import BLDef from 'scripts/common/BLDef';
import CommonService from 'scripts/businessLogic/commonService';
export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.DEPOSIT_TITLE'),
      Reg: Regex.Regex,
      PostDepositData: {
        DepositAmt: '', // 金额
        DepositorName: '', // 汇款人姓名 (存款人姓名)
        RemittanceDepositType: undefined, // 存款方式 (对应共用的CODE表)
        BankBranchName: '', // 银行支行名称
        BonusWay: undefined, // 红利方式
        BonusSerialNo: undefined, // 红利对应的资料序号
        BankCode: '', // 银行名称（目前越南站需要使用，如：ABC）
        BankCard: '' // 用户银行卡卡号
      },
      DepositLoadMainPage: {
        OnlinePaymentDepositAcctList: [], // 在线支付-商户信息
        OnlineDepositActivityList: [], // 在線支付-存款優惠活動
        DefaultOnlineDepositActivity: [], // 在線支付- 預設首/續存表
        OnlineCompDepositAccntList: [], // 公司入款-账户信息
        RemittanceDepositActivityList: [], // 公司入款-存款優惠活動
        DefaultRemittanceDepositActivity: [], // 公司入款- 預設首/續存表
        PartakeBonusModel: [] // 不参与红利活动
      },
      SelectedPayment: {
        id: '',
        item: {
          CompDepositConfigList: [] /// <summary>配置规则 </summary>
        }
      }, // 选中的支付方式
      SelectedOption: 0, // 选中的支付方式中选中的渠道选项

      DType: undefined, // 支付方式
      DinancialChannelData: [], // 选择的存款方式 公司入款的银行入款时需要填写银行资料
      DinancialActivityList: [], // 展示的优惠活动列表
      DinancialActivity: [], // 选中的优惠活动
      SysOrder: undefined, // 在线支付生成的订单号
      SuccessData: [], // 请求成功后的数据
      ShowBankModal: false,
      ShowCodeModal: false,
      ShowOrderModal: false,
      ShowCompanyOrderModal: false,
      CurrencyNo: undefined, // 币别
      BankSelect: undefined, //是否已经选择银行
      BankList: [], // 银行名称列表
      RemarkCode: '', //四字随机码
      RememberItem: '' // 记忆中的支付方式
    };
  },
  components: {
    mainHeader,
    ActivityList,
    BankCardTransfer,
    AlipayTransfer,
    OrderNo,
    OrderNoCompany,
    DepositAmountLimit
  },
  activated() {
    EventBus.$on('CloseOrderModal', () => {
      console.log('===========CloseOrderModal');
      this.ShowOrderModal = false;
    });
    EventBus.$on('CloseCodeModal', () => {
      this.ShowCodeModal = false;
    });
    EventBus.$on('CloseCompanyOrderModal', () => {
      this.ShowCompanyOrderModal = false;
    });
    EventBus.$on('CloseBankModal', () => {
      this.ShowBankModal = false;
    });
    EventBus.$on('ReloadData', () => {
      if ($('#alipayTransfer').is(':visible')) {
        $('#alipayTransfer').modal('hide');
      }
      if ($('#bankCardTransfer').is(':visible')) {
        $('#bankCardTransfer').modal('hide');
      }
      if ($('#orderNoModal').is(':visible')) {
        $('#orderNoModal').modal('hide');
      }
      if ($('#orderNoCompanyModal').is(':visible')) {
        $('#orderNoCompanyModal').modal('hide');
      }
      this.ShowBankModal = false;
      this.ShowCodeModal = false;
      this.ShowOrderModal = false;
      this.ShowCompanyOrderModal = false;
      if ($('#activityListModal').is(':visible')) {
        $('#activityListModal').modal('hide');
      }
      this.PostDepositData.DepositAmt = '';
      this.PostDepositData.DepositorName = '';
      this.PostDepositData.BankBranchName = '';
      this.PostDepositData.BankCode = '';
      this.PostDepositData.BankCard = '';
      this.GetDepositData();
      EventBus.$emit('RefreshDinancialActivityList');
    });
  },
  async mounted() {
    if (await CommUtility.CheckAccount(this, true)) {
      // ios uc浏览器监听订单完成
      if (
        !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/) &&
        navigator.userAgent.indexOf('UCBrowser') > -1
      ) {
        // alert('payment back');
        // alert(localStorage.getItem('SysOrder'));
        if (
          localStorage.getItem('SysOrder') &&
          localStorage.getItem('UcOrderOpen') === 'Yes'
        ) {
          this.SysOrder = localStorage.getItem('SysOrder');
          // alert(localStorage.getItem('SysOrder'));
          this.DinancialChannelData = JSON.parse(
            localStorage.getItem('DinancialChannelData')
          );
          this.ShowOrderModal = true;
          // alert(localStorage.getItem('DinancialChannelData'));
          setTimeout(() => {
            EventBus.$emit('DinancialChannelDataChange');
            this.OpenOrderNo();
          }, 1000);
        }
      }

      // EventBus.$on('CloseOrderModal', () => {
      //   console.log('===========CloseOrderModal');
      //   this.ShowOrderModal = false;
      // });
      // EventBus.$on('CloseCodeModal', () => {
      //   this.ShowCodeModal = false;
      // });
      // EventBus.$on('CloseBankModal', () => {
      //   this.ShowBankModal = false;
      // });
      this.GetDepositData();
    }
  },
  watch: {
    $route(to, from) {
      if (from.name !== 'activityInfo') {
        if (this.$route.name === 'deposit') {
          console.log('refresh');
          this.BankSelect = true;
          this.PostDepositData.DepositAmt = '';
          this.PostDepositData.DepositorName = '';
          this.PostDepositData.BankBranchName = '';
          this.PostDepositData.BankCode = '';
          this.PostDepositData.BankCard = '';
          this.GetDepositData();
          EventBus.$emit('RefreshDinancialActivityList');
        }
      }
      if (to.name !== 'activityInfo' && from.name !== 'activityInfo') {
        if (this.$route.name === 'deposit') {
          console.log(1111111111111);
          this.BankSelect = true;
          if ($('#alipayTransfer').is(':visible')) {
            $('#alipayTransfer').modal('hide');
          }
          if ($('#bankCardTransfer').is(':visible')) {
            $('#bankCardTransfer').modal('hide');
          }
          if ($('#orderNoModal').is(':visible')) {
            $('#orderNoModal').modal('hide');
          }
          if ($('#orderNoCompanyModal').is(':visible')) {
            $('#orderNoCompanyModal').modal('hide');
          }
          this.ShowBankModal = false;
          this.ShowCodeModal = false;
          this.ShowOrderModal = false;
          this.ShowCompanyOrderModal = false;
          if ($('#activityListModal').is(':visible')) {
            $('#activityListModal').modal('hide');
          }
        }
      }
    },
    BankList() {
      if (
        this.CurrencyNo !== 1 &&
        this.CurrencyNo !== undefined &&
        this.CurrencyNo !== '' &&
        this.BankList.length > 0
      ) {
        this.PostDepositData.BankCode = this.BankList[0].BankCode;
      } else {
        this.PostDepositData.BankCode = '';
      }
    },
    'PostDepositData.BankCode'() {
      if (
        this.DinancialChannelData.BankTypeId === 1 &&
        this.CurrencyNo !== 1 &&
        this.BankList &&
        (this.PostDepositData.BankCode === this.BankList[0].BankCode ||
          this.PostDepositData.BankCode === null ||
          this.PostDepositData.BankCode === undefined ||
          this.PostDepositData.BankCode === '') &&
        this.BankSelect === false
      ) {
        this.BankSelect = false;
      } else {
        this.BankSelect = true;
      }
    }
  },
  methods: {
    // 提交存款操作
    // 存款订单提交
    SubmitDepositData: async function() {
      this.RememberItem = JSON.stringify(this.DinancialChannelData);
      // 在线支付提交
      if (this.DType === 1) {
        console.log(this.DType);

        if (
          !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/) &&
          navigator.userAgent.indexOf('UCBrowser') > -1
        ) {
          // uc浏览器
          // alert('ios uc浏览器');
          localStorage.setItem(
            'DepositObj',
            JSON.stringify({
              BonusWay: this.DinancialChannelData.ActivityType,
              BonusSerialNo: this.DinancialChannelData.BonusSerialNo
              // MemberID: localStorage.getItem('CorrelationIBMemberId')
            })
          );
          localStorage.setItem(
            'DinancialChannelData',
            JSON.stringify(this.DinancialChannelData)
          );
          // 获取在线支付资料
          let protocol = 1;
          if (document.location.protocol !== 'http:') {
            protocol = 2;
          }
          let PhoneOS;
          if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            PhoneOS = 2;
          } else if (/(Android)/i.test(navigator.userAgent)) {
            PhoneOS = 1;
          } else {
            PhoneOS = 0;
          }
          const inputObj = {
            Amount: this.PostDepositData.DepositAmt,
            BankCode: this.PostDepositData.BankCode, // 银行名称（目前越南站需要使用，如：ABC）
            BankCard: this.PostDepositData.BankCard, // 用户银行卡卡号

            PType: this.DinancialChannelData.BankTypeId, // 存款类型

            BonusSerialNo: this.DinancialActivity.BonusSerialNo, // 红利对应的资料序号
            BonusWay: this.DinancialActivity.ActivityType, // 红利方式
            Device: 1, // 平台类型
            WebType: protocol, // 网络类型
            PhoneOS: PhoneOS, // 手机操作系统类型
            MerchantSerialNo: this.DinancialChannelData.SerialNo, // 金流商id
            Id: this.DinancialChannelData.ID, // 主键id
            TagUrl: document.location.host // 请求路径
          };

          const paymentData = URLService.GetUrlParameterFromObj(inputObj);
          const HashKey = new Date().getTime();
          localStorage.setItem(HashKey.toString(), paymentData);

          localStorage.setItem('UcOrderOpen', 'Yes');

          CommUtility.OpenPlayGameWindow(
            'depositPaymentIosUc',
            'DepositPaymentPopUpWindow' + HashKey.toString(),
            HashKey.toString()
          );
        } else {
          // 打开弹窗
          const HashKey = new Date().getTime();
          CommUtility.OpenPlayGameWindow(
            'depositPayment',
            'DepositPaymentPopUpWindow' + HashKey.toString(),
            HashKey.toString()
          );

          // 一秒后执行生成订单接口
          setTimeout(async () => {
            // 查询红利活动限制次数
            EventBus.$emit('GlobalLoadingTrigger', true);
            const DepositObj = {
              BonusWay: this.DinancialActivity.ActivityType,
              BonusSerialNo: this.DinancialActivity.BonusSerialNo
            };
            const ActivityData = await PersonalCenterService.DepositActivityRelationQuery(
              DepositObj
            );
            console.log('data1111111111111111111');
            console.log(DepositObj);
            console.log(ActivityData);
            console.log('data5555555555555555555555');
            if (ActivityData.Ret == 0) {
              if (ActivityData.Data.IsLimit) {
                EventBus.$emit('GlobalLoadingTrigger', false);
                const notifyData = {
                  NotifyMessage: this.$t('lang.DEPOSIT_ACTIVITY_LIMIT')
                };
                EventBus.$emit('showWarnTip', notifyData);
                let timer = setTimeout(() => {
                  // 查询弹窗是否加载完成
                  if (Vue.prototype.$DepositWindow) {
                    // 将数据传递于新开支付页面
                    Vue.prototype.$DepositWindow.postMessage(
                      {
                        ActivityLimit: true
                      },
                      '/'
                    );
                    clearTimeout(timer);
                  }
                }, 100);
                return;
              }
            } else {
              EventBus.$emit('GlobalLoadingTrigger', false);
              const notifyData = {
                NotifyMessage: ActivityData.Message
              };
              EventBus.$emit('showWarnTip', notifyData);
              let timer = setTimeout(() => {
                // 查询弹窗是否加载完成
                if (Vue.prototype.$DepositWindow) {
                  // 将数据传递于新开支付页面
                  Vue.prototype.$DepositWindow.postMessage(
                    {
                      ActivityLimit: true
                    },
                    '/'
                  );
                  clearTimeout(timer);
                }
              }, 100);
              return;
            }
            // 查询红利活动限制次数

            // 获取在线支付资料
            let protocol = 1;
            if (document.location.protocol !== 'http:') {
              protocol = 2;
            }
            let PhoneOS;
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
              PhoneOS = 2;
            } else if (/(Android)/i.test(navigator.userAgent)) {
              PhoneOS = 1;
            } else {
              PhoneOS = 0;
            }
            const inputData = {
              Amount: this.PostDepositData.DepositAmt,
              BankCode: this.PostDepositData.BankCode, // 银行名称（目前越南站需要使用，如：ABC）
              BankCard: this.PostDepositData.BankCard, // 用户银行卡卡号

              PType: this.DinancialChannelData.BankTypeId, // 存款类型

              BonusSerialNo: this.DinancialActivity.BonusSerialNo, // 红利对应的资料序号
              BonusWay: this.DinancialActivity.ActivityType, // 红利方式
              Device: 1, // 平台类型
              WebType: protocol, // 网络类型
              PhoneOS: PhoneOS, // 手机操作系统类型
              MerchantSerialNo: this.DinancialChannelData.SerialNo, // 金流商id
              Id: this.DinancialChannelData.ID, // 主键id
              TagUrl: document.location.host // 请求路径
            };
            EventBus.$emit('GlobalLoadingTrigger', true);
            const data = await PersonalCenterService.OnlineDeposit_Add(
              inputData
            );

            // // 测试数据
            // const data = {
            //   Ret: 0,
            //   Message: '操作成功',
            //   Data: {
            //     BankType: -1,
            //     CType: 0,
            //     CashFlowOrder: '',
            //     FormBody: [],
            //     IsLimit: false,
            //     Local: null,
            //     OrderNo: null,
            //     Qrcode: null,
            //     RangeMin: 30,
            //     SysOrder: '49712020030908011785',
            //     TargetUrl: 'Parameter data error'
            //   },
            //   Status: 3,
            //   RequiredMinFrontendVersion: ''
            // };
            EventBus.$emit('GlobalLoadingTrigger', false);

            const notifyData = {
              NotifyMessage: data.Message
            };

            console.log('===============+++++++++++');
            console.log(data);
            if (data.Ret === 0) {
              // 判断是否存款次数已经达到上限了IsLimit：true=达到上限 false=未达到
              if (!data.Data.IsLimit) {
                this.SysOrder = data.Data.SysOrder; // 订单提交成功将成功的信息展示
                this.OpenOrderNo();

                let timer = setTimeout(() => {
                  // 查询弹窗是否加载完成
                  if (Vue.prototype.$DepositWindow) {
                    // 将数据传递于新开支付页面
                    Vue.prototype.$DepositWindow.postMessage(
                      {
                        Deposit: true,
                        DepositObj: data
                      },
                      '/'
                    );
                    clearTimeout(timer);
                  }
                }, 100);
              } else {
                const notifyObj = {
                  NotifyMessage: this.$t('lang.DEPOSIT_LIMIT_NUMBER')
                };
                EventBus.$emit('showWarnTip', notifyObj);
              }
            } else {
              let timer = setTimeout(() => {
                // 查询弹窗是否加载完成
                if (Vue.prototype.$DepositWindow) {
                  // 将数据传递于新开支付页面
                  Vue.prototype.$DepositWindow.postMessage(
                    {
                      Deposit: true,
                      DepositObj: data
                    },
                    '/'
                  );
                  clearTimeout(timer);
                }
              }, 100);
              EventBus.$emit('showWarnTip', notifyData);
            }
          }, 1000);
        }
      } else {
        // 查询红利活动限制次数
        EventBus.$emit('GlobalLoadingTrigger', true);
        const DepositObj = {
          BonusWay: this.DinancialActivity.ActivityType,
          BonusSerialNo: this.DinancialActivity.BonusSerialNo
        };
        const ActivityData = await PersonalCenterService.DepositActivityRelationQuery(
          DepositObj
        );
        if (ActivityData.Ret == 0) {
          if (ActivityData.Data.IsLimit) {
            EventBus.$emit('GlobalLoadingTrigger', false);
            const notifyData = {
              NotifyMessage: this.$t('lang.DEPOSIT_ACTIVITY_LIMIT')
            };
            EventBus.$emit('showWarnTip', notifyData);
            return;
          }
        } else {
          EventBus.$emit('GlobalLoadingTrigger', false);
          const notifyData = {
            NotifyMessage: ActivityData.Message
          };
          EventBus.$emit('showWarnTip', notifyData);
          return;
        }
        // 查询红利活动限制次数

        const inputData = {
          DepositAmt: this.PostDepositData.DepositAmt, // 存款金额
          DepositWithdrawSerialNo: this.DinancialChannelData.SerialNo, // 對應的公司帳戶序號
          DepositorName: this.PostDepositData.DepositorName, // 匯款人姓名 (存款人姓名)
          BonusWay: this.DinancialActivity.ActivityType, // 紅利方式
          BonusSerialNo: this.DinancialActivity.BonusSerialNo, // 紅利對應的資料序號
          Remark: '' // 备注
        };
        console.log('|||||||||||||');
        console.log(inputData);
        EventBus.$emit('GlobalLoadingTrigger', true);
        const data = await PersonalCenterService.CompanyRemittance_Add(
          inputData
        );
        EventBus.$emit('GlobalLoadingTrigger', false);

        const notifyData = {
          NotifyMessage: data.Message
        };
        if (data.Ret === 0) {
          EventBus.$emit('StartCompanyTime', data.Data.RangSecond); //返回参数增加 有效期剩余时间（秒）
          this.SysOrder = data.Data.OrderNo; // 订单提交成功将成功的信息展示
          this.RemarkCode = data.Data.RemarkCode; //获取四字随机码
          console.log('==============utc time');
          console.log(data.Data.RangSecond);
          console.log(new Date());
          this.OpenOrderNoCompany();
        } else {
          EventBus.$emit('showWarnTip', notifyData);
        }

        console.log('===============+++++++++++CompanyRemittance_Add');
        console.log(data);
      }
    },
    // 校验存款次数
    async validateDepositNumber() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      let params = { DepositOpertionType: this.DType };
      const retData = await PersonalCenterService.DepositNumber(params);
      if (retData.Ret) {
        // 校验未通过弹出提示信息
        const notifyObj = {
          NotifyMessage: this.$t('lang.DEPOSIT_LIMIT_NUMBER')
        };
        EventBus.$emit('showWarnTip', notifyObj);
        EventBus.$emit('GlobalLoadingTrigger', false);
        return false;
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
      return true;
    },
    JudgeLimit: async function() {
      // 判断当前输入金额是否达到活动的最低标准
      if (
        this.DinancialActivity.MinDepositAmt > this.PostDepositData.DepositAmt
      ) {
        EventBus.$emit('showDepositAmtLimitTip', this.SubmitDepositData);
      } else {
        this.SubmitDepositData();
      }
    },

    // 优惠活动列表获取--在线支付：DType=1 公司入款：DType=2
    DepositActivity: function() {
      this.DinancialActivityList = [];
      // 不参与红利活动
      if (
        this.DepositLoadMainPage.PartakeBonusModel !== '' &&
        this.DepositLoadMainPage.PartakeBonusModel !== undefined &&
        this.DepositLoadMainPage.PartakeBonusModel.Status != 703
      ) {
        this.DinancialActivityList.push(
          this.DepositLoadMainPage.PartakeBonusModel
        );
      }
      // 系统设置的优惠活动列表
      if (this.DType === 1) {
        // this.DinancialActivityList.push(
        //   this.DepositLoadMainPage.DefaultOnlineDepositActivity
        // );
        for (
          let i = 0;
          i < this.DepositLoadMainPage.OnlineDepositActivityList.length;
          i++
        ) {
          this.DinancialActivityList.push(
            this.DepositLoadMainPage.OnlineDepositActivityList[i]
          );
        }
      } else if (this.DType === 2) {
        // this.DinancialActivityList.push(
        //   this.DepositLoadMainPage.DefaultRemittanceDepositActivity
        // );
        for (
          let i = 0;
          i < this.DepositLoadMainPage.RemittanceDepositActivityList.length;
          i++
        ) {
          this.DinancialActivityList.push(
            this.DepositLoadMainPage.RemittanceDepositActivityList[i]
          );
        }
      }
      this.DinancialActivity = this.DinancialActivityList[0];
    },

    // 选择存款的活动
    SelectDepositActivity: function(item) {
      console.log('222222222Activity');
      console.log(item);
      this.DinancialActivity = item;
      console.log(this.DinancialActivity);
      // localStorage.setItem('ActivityDatas', JSON.stringify(item));
    },

    // 取得最佳存款优惠 -- 页面初始化
    async GetDepositData(Remember) {
      const dataObj = {
        Platform: 1 /// <summary> 平台类型(0PC,1手机) ，默认0pc</summary>
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.Deposit_LoadMainPage(dataObj);
      console.log('==================Deposit_LoadMainPage');
      console.log(data.Data);
      if (data.Ret !== 0) {
        const notifyData = {
          NotifyMessage: data.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        EventBus.$emit('GlobalLoadingTrigger', false);
        return;
      }
      this.DepositLoadMainPage = data.Data; // 获得存款页面资讯

      // 恢复记忆的支付方式
      // if (Remember) {
      //   const item = JSON.parse(this.RememberItem);
      //   if (item.DType === 1) {
      //     if (
      //       this.DepositLoadMainPage.OnlinePaymentDepositAcctList.length > 0
      //     ) {
      //       let element = {};
      //       for (
      //         let index = 0;
      //         index <
      //         this.DepositLoadMainPage.OnlinePaymentDepositAcctList.length;
      //         index++
      //       ) {
      //         if (
      //           this.DepositLoadMainPage.OnlinePaymentDepositAcctList[index]
      //             .PaymentWayType == item.PaymentWayType
      //         ) {
      //           element = this.DepositLoadMainPage.OnlinePaymentDepositAcctList[
      //             index
      //           ];
      //         }
      //       }
      //       this.PaymentChoose(element, 'OnlinePayment0', 1);
      //     } else {
      //       this.PaymentChoose(
      //         this.DepositLoadMainPage.OnlinePaymentDepositAcctList[0],
      //         'OnlinePayment0',
      //         1
      //       );
      //     }
      //   } else if (item.DType === 2) {
      //     if (this.DepositLoadMainPage.OnlineCompDepositAccntList.length > 0) {
      //       let element = {};
      //       for (
      //         let index = 0;
      //         index <
      //         this.DepositLoadMainPage.OnlineCompDepositAccntList.length;
      //         index++
      //       ) {
      //         if (
      //           this.DepositLoadMainPage.OnlineCompDepositAccntList[index]
      //             .PaymentWayType == item.PaymentWayType
      //         ) {
      //           element = this.DepositLoadMainPage.OnlineCompDepositAccntList[
      //             index
      //           ];
      //         }
      //       }
      //       this.PaymentChoose(element, 'OnlineComp0', 1);
      //     } else {
      //       this.PaymentChoose(
      //         this.DepositLoadMainPage.OnlinePaymentDepositAcctList[0],
      //         'OnlineComp0',
      //         1
      //       );
      //     }
      //   }
      // } else {
      // 进入充值页面,支付方式是默认是公司入款的第一个,若是没有公司入款 那就是在线支付的第一个
      if (this.DepositLoadMainPage.OnlineCompDepositAccntList.length > 0) {
        this.PaymentChoose(
          this.DepositLoadMainPage.OnlineCompDepositAccntList[0],
          'OnlineComp0',
          2
        );
        EventBus.$emit('GlobalLoadingTrigger', false);
        return;
      } else if (
        this.DepositLoadMainPage.OnlinePaymentDepositAcctList.length > 0
      ) {
        if (this.DepositLoadMainPage.OnlineCompDepositAccntList.length === 0) {
          this.PaymentChoose(
            this.DepositLoadMainPage.OnlinePaymentDepositAcctList[0],
            'OnlinePayment0',
            1
          );
        }
        EventBus.$emit('GlobalLoadingTrigger', false);
        return;
      } else {
        EventBus.$emit('GlobalLoadingTrigger', false);
        return;
      }
      // }
    },
    // 支付方式选择
    PaymentChoose(item, index, payway, paymentWayTypeName) {
      this.BankSelect = true;
      this.DType = payway; // 存储一个存款方式，提交订单时需要
      this.DinancialChannelData = item; // 获取当前的支付方式类型及资料

      this.DepositActivity(); // 刷新支付方式对应的优惠活动

      // payway为1时代表在线支付，为2时代表公司入款
      this.SelectedPayment.id = index;
      this.SelectedOption = 0;
      this.PostDepositData.DepositAmt = '';
      this.PostDepositData.DepositorName = '';
      this.$validator.reset();
      switch (payway) {
        case 1:
          this.SelectedPayment.item.CompDepositConfigList =
            item.CashFlowConfigList;
          this.PostDepositData.BankCode = '';
          this.PostDepositData.BankCard = '';
          this.SelectRemittanceType(item.CashFlowConfigList[0]); // 默认选中的第一个渠道
          // this.ShowOrderModal = true;
          break;
        case 2:
          this.SelectedPayment.item.CompDepositConfigList =
            item.CompDepositConfigList;
          this.SelectRemittanceType(item.CompDepositConfigList[0]); // 默认选中的第一个渠道
          // if (this.DinancialChannelData.paymentWayType == 1) {
          //   this.ShowBankModal = true;
          // } else if (
          //   this.DinancialChannelData.PaymentWayType == 2 ||
          //   this.DinancialChannelData.PaymentWayType == 3
          // ) {
          //   this.ShowCodeModal = true;
          // }
          break;
        default:
          break;
      }

      for (var val of this.SelectedPayment.item.CompDepositConfigList) {
        if (
          val.QuickSelAmts !== '' &&
          val.QuickSelAmts !== undefined &&
          val.QuickSelAmts !== null
        ) {
          val.QuickSelAmtsList = val.QuickSelAmts.split(',');
        }
      }
    },

    // 切換轉帳存款方式-存款渠道
    SelectRemittanceType: function(item) {
      this.BankSelect = true;
      console.log('++============');
      console.log(item);
      // 判断当前支付方式是否需要请求金流商的银行列表 简体中文和繁体中文的情况下不需要请求
      if (item.DType === 1 && item.BankTypeId === 1) {
        this.OnlineDepositQueyrCashFlowBankInfo(item.MerchantOwnerID);
      } else {
        this.BankList = [];
      }

      this.DinancialChannelData = item;
    },

    // 获取金流商银行列表 当前语言为除简体，繁体之外的语言都需要获取
    OnlineDepositQueyrCashFlowBankInfo: async function(data) {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const inputData = {
        MerchantId: data
      };
      const retData = await PersonalCenterService.OnlineDepositQueyrCashFlowBankInfo(
        inputData
      );
      console.log('++++++++++++++++++++++');
      console.log(retData);
      if (retData.Ret === 0) {
        this.BankList = retData.Data.BankList;
        this.CurrencyNo = retData.Data.CurrencyNo;
        if (
          this.CurrencyNo != 1 &&
          this.CurrencyNo !== undefined &&
          this.CurrencyNo !== null
        ) {
          this.PostDepositData.BankCode = retData.Data.BankList[0].BankCode;
        }
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },

    // 选择快捷存款金额
    ChooseQuickAmt(money, index) {
      this.PostDepositData.DepositAmt = money;
    },
    // 清除畫面驗證與資料
    ResetForm() {
      this.PostDepositData.DepositAmt = '';
      this.PostDepositData.DepositorName = '';
      this.PostDepositData.BankBranchName = '';
      this.BankSelect = true;
      if (
        this.DType === 1 &&
        this.DinancialChannelData.BankTypeId === 1 &&
        this.$i18n.locale !== 'cn' &&
        this.$i18n.locale !== 'tc'
      ) {
        this.PostDepositData.BankCode = this.BankList[0].BankCode;
      } else {
        this.PostDepositData.BankCode = '';
      }
      this.PostDepositData.BankCard = '';
      this.$validator.reset();
    },
    // 打开活动提示弹窗
    async OpenActivityList() {
      console.log('========DinancialActivityList');
      console.log(this.DinancialActivityList);
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });

      if (
        this.DinancialChannelData.BankTypeId === 1 &&
        this.CurrencyNo !== 1 &&
        (this.PostDepositData.BankCode === this.BankList[0].BankCode ||
          this.PostDepositData.BankCode === null ||
          this.PostDepositData.BankCode === undefined ||
          this.PostDepositData.BankCode === '')
      ) {
        this.BankSelect = false;
      } else {
        this.BankSelect = true;
      }

      // 表单输入是否规范
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      if (
        this.DinancialChannelData.BankTypeId === 1 &&
        this.CurrencyNo !== 1 &&
        (this.PostDepositData.BankCode === this.BankList[0].BankCode ||
          this.PostDepositData.BankCode === null ||
          this.PostDepositData.BankCode === undefined ||
          this.PostDepositData.BankCode === '')
      ) {
        this.BankSelect = false;
        return;
      } else {
        this.BankSelect = true;
      }

      // 判断存款限制次数
      let validateDepositNumber = await this.validateDepositNumber();
      if (!validateDepositNumber) return;

      switch (this.DType) {
        case 1:
          this.ShowOrderModal = true;
          break;
        case 2:
          this.ShowCompanyOrderModal = true;
          if (this.DinancialChannelData.PaymentWayType == 1) {
            this.ShowBankModal = true;
          } else if (
            this.DinancialChannelData.PaymentWayType == 2 ||
            this.DinancialChannelData.PaymentWayType == 3 ||
            this.DinancialChannelData.PaymentWayType == 4
          ) {
            this.ShowCodeModal = true;
          }
          break;
        default:
          break;
      }

      console.log('=====================DTypeName');
      console.log(this.DTypeName);
      if ($('#activityListModal').is(':hidden')) {
        $('#activityListModal').modal('show');
      }
    },
    // 打开银行卡转账弹窗
    OpenBankCardTransfer() {
      // EventBus.$emit('StartCompanyTime');
      $('#bankCardTransfer').modal('show');
    },
    // 打开生成订单提示弹窗
    OpenOrderNo() {
      if (this.DinancialChannelData.IsShow) {
        EventBus.$emit('StartTime');
      }
      $('#orderNoModal').modal('show');
    },
    // 打开公司入款生成订单提示弹窗
    OpenOrderNoCompany() {
      $('#orderNoCompanyModal').modal('show');
    },
    // 打开二维码转账弹窗
    OpenAlipayTransfer() {
      // EventBus.$emit('StartCompanyTime');
      $('#alipayTransfer').modal('show');
    },
    // 格式化数字
    NumCalFix(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    }
  },
  deactivated() {
    EventBus.$off('CloseOrderModal');
    EventBus.$off('CloseCodeModal');
    EventBus.$off('CloseBankModal');
    EventBus.$off('OpenOrderNo');
    EventBus.$off('CloseCompanyOrderModal');
    // 清除ios uc浏览器缓存下的订单编号
    localStorage.removeItem('SysOrder');
    localStorage.removeItem('DinancialChannelData');
  }
};
</script>

<style lang="less" scoped>
@import '~styles/cdn.less';
.deposit-wrap {
  .maintain-deposit {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    img {
      width: 10.5rem;
    }
    .text1 {
      color: #ff0000;
      font-size: 0.9375rem;
    }
    .text2 {
      color: #bdbdbd;
      font-size: 0.75rem;
    }
    .text3 {
      color: #0a6cd7;
      display: inline;
      text-decoration: underline;
    }
  }
  .deposit-content {
    -webkit-overflow-scrolling: touch;
    padding: 0 4%;
    .pay-way-title {
      font-size: 0.9375rem;
      color: #fff;
      margin: 0.8rem 0 0.5rem;
      font-weight: normal;
    }
    .pay-way {
      li {
        width: 100%;
        height: 2.4rem;
        // line-height: 2.4rem;
        font-size: 0;
        padding-left: 0.75rem;
        box-sizing: border-box;
        background-color: #fff;
        margin-bottom: 0.3125rem;
        border-radius: 3px;
        position: relative;
        display: flex;
        align-items: center;
        line-height: normal;
        box-sizing: border-box;

        img {
          width: 1.5rem;
          vertical-align: middle;
        }
        span {
          padding-left: 0.65rem;
          font-size: 0.8125rem;
          vertical-align: middle;
        }
        &.active {
          border: 2px solid #0fa1ff;
        }
      }
    }
    .pay-way-options {
      overflow: hidden;
      margin: 1rem 0;
      p {
        position: relative;
        color: #fff;
        font-size: 0.875rem;
        // margin-bottom: 0.5rem;
        // width: 33.33%;
        padding-right: 1.5rem;
        word-break: break-all;
        box-sizing: border-box;
        float: left;
        min-height: 1.5rem;
        line-height: normal;
        display: flex;
        align-items: center;
        span {
          float: left;
          margin: 0 0 0 -0.5rem;
        }

        .icon {
          float: left;
          width: 2rem;
          height: 2rem;
          border-radius: 4rem;
          background-color: #e3e3e3;
          border: 0.15rem solid #bc9457;
          box-sizing: border-box;
          transform: scale(0.5);
          transform-origin: 0% center;
          flex-shrink: 0;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            // margin-top: -4px;
            border-radius: 2rem;
            background: #bc9457;
            transition: transform 0.2s ease-in;
            transform: translateX(-50%) translateY(-50%) scale(0);
          }

          &.hasblock:after {
            transform: translateX(-50%) translateY(-50%) scale(1);
          }
        }
        // &:before {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   top: 50%;
        //   display: inline-block;
        //   width: 12px;
        //   height: 12px;
        //   border-radius: 50%;
        //   background-color: #e3e3e3;
        //   border: 1px solid #bc9457;
        //   margin-top: -7px;
        // }
        // &:after {
        //   content: '';
        //   position: absolute;
        //   top: 50%;
        //   left: 3px;
        //   display: inline-block;
        //   width: 8px;
        //   height: 8px;
        //   margin-top: -4px;
        //   border-radius: 50%;
        //   background: #bc9457;
        //   transform: scale(0);
        //   transition: transform 0.2s ease-in;
        // }
        // &.hasblock:after {
        //   transform: scale(1);
        // }
      }
      .fee {
        clear: both;
        color: #fff;
        font-size: 0.875rem;
      }
    }
    .group-box {
      margin-bottom: 0.625rem;
      .tip1 {
        font-size: 0.75rem;
        color: red;
      }
    }
    .input-group {
      width: 100%;
      height: 2.4rem;
      line-height: 2.4rem;
      color: #242424;
      font-size: 0.8125rem;
      background: #fff;
      border: none;
      border-radius: 3px;
      input {
        width: 100%;
        height: auto;
        line-height: initial;
        border: none;
        background: transparent;
        padding: 0;
        &:focus,
        &:active {
          outline: none;
        }
      }
      select {
        width: 100%;
        border: 0;
        height: 2.4rem;
        padding: 0;
      }
      .form-select {
        overflow: hidden;
        .icon {
          width: 1.2rem;
          height: 2.4rem;
        }
      }
    }
    .money-quick-fill {
      overflow: hidden;
      li {
        width: 100%;
        height: 2.4rem;
        background-color: #fff;
        border: 1px solid #fff;
        font-size: 0.9375rem;
        text-align: center;
        line-height: 2.4rem;
        width: 48%;
        margin-bottom: 0.625rem;
        border-radius: 3px;
        box-sizing: border-box;
        float: left;
        &:nth-child(2n + 1) {
          margin-right: 4%;
        }
        &.active {
          border: 1px solid red;
        }
      }
    }
    .range-tip {
      font-size: 0.75rem;
      color: #fff;
    }
    .btn-row {
      text-align: center;
      margin: 2.875rem 0;
    }
    .btn-gold {
      width: 10.4375rem;
      height: 2.6875rem;
      line-height: 2.6875rem;
      padding: 0;
      margin: 0 auto;
      font-size: 1rem;
      color: #1c1c1c;
      box-sizing: border-box;
    }
  }
}
</style>