<template>
  <section
    style="margin-top:0;width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling : touch;"
  >
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <!-- 内容 -->
    <article>
      <!--<member-payment-ali-pay v-if="PaymentType == 3" :PaymentData="this.ServerRspData"></member-payment-ali-pay>
	        <member-payment-we-chat v-if="PaymentType == 2" :PaymentData="this.ServerRspData"></member-payment-we-chat>
      <member-payment-web-bank v-if="PaymentType == 1" :PaymentData="this.ServerRspData"></member-payment-web-bank>-->
      <iframe
        id="Iframe_Pay"
        :srcdoc="Vhtml"
        frameborder="0"
        border="0"
        cellspacing="0"
        style="width:100%;height:796px;overflow:auto;-webkit-overflow-scrolling : touch;color:#fff!important;"
      ></iframe>
    </article>
  </section>
</template>

<script>
import URLService from 'scripts/common/URLService';
import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import mainHeader from '@/components/mobile/sub/mainHeader';
//  import MemberPaymentAliPay from '@/components/mobile/sub/depositPayment/memberPaymentAliPay';
//  import MemberPaymentWebBank from '@/components/mobile/sub/depositPayment/memberPaymentWebBank';
//  import MemberPaymentWeChat from '@/components/mobile/sub/depositPayment/memberPaymentWeChat';

export default {
  data() {
    return {
      PaymentType: undefined,
      PaymentData: {},
      //              ServerRspData: {},
      Vhtml: undefined
    };
  },
  mounted: function() {
    let self = this;
    EventBus.$emit('GlobalLoadingTrigger', true);
    this.Load();
    this.GetParams();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        //内容高度
        var headerHeight = $('#themeLayout header').height();
        var footerHeight = $('#themeLayout footer').height();
        var bodyHeight = $('#themeLayout').height();
        var gameHeight = bodyHeight - headerHeight - footerHeight;
        $('#Iframe_Pay').css('margin-top', headerHeight + 'px');
        $('#Iframe_Pay').css('height', gameHeight + 'px');
      });
    },
    // 獲取URL參數
    GetParams: async function(depositData) {
      // 红利活动限制次数 2019.11.19 ququ
      const DepositObj = JSON.parse(localStorage.getItem('DepositObj'));
      // alert('红利活动限制次数参数:' + localStorage.getItem('DepositObj'));
      const data = await PersonalCenterService.DepositActivityRelationQuery(
        DepositObj
      );
      console.log('data1111111111111111111');
      console.log(DepositObj);
      console.log(data);
      console.log('data5555555555555555555555');
      // alert('红利活动限制次数:' + JSON.stringify(data));
      if (data.Ret == 0) {
        if (data.Data.IsLimit) {
          const notifyData = {
            NotifyMessage: this.$t('lang.DEPOSIT_ACTIVITY_LIMIT'),
            CloseFunction: this.CloseWindowNew
          };
          EventBus.$emit('showWarnTip', notifyData);
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
      } else {
        const notifyData = {
          NotifyMessage: data.Message,
          CloseFunction: this.CloseWindowNew
        };
        EventBus.$emit('showWarnTip', notifyData);
        EventBus.$emit('GlobalLoadingTrigger', false);
        return;
      }
      // 红利活动限制次数 2019.11.19 ququ end

      if (this.$route.params.Data != undefined) {
        const HashKey = URLService.GetObjFromUrlParameter(
          this.$route.params.Data
        );
        const data = localStorage.getItem(HashKey);
        if (data) {
          let PaymentData = URLService.GetObjFromUrlParameter(data);
          localStorage.removeItem(HashKey);

          // alert(JSON.stringify(this.PaymentData));
          const depositData = await PersonalCenterService.OnlineDeposit_Add(
            PaymentData
          );
          // // 测试数据
          // const depositData = {
          //   Ret: 0,
          //   Message: '操作成功',
          //   Data: {
          //     BankType: -1,
          //     CType: 0,
          //     CashFlowOrder: '',
          //     FormBody: [],
          //     IsLimit: false,
          //     Local: null,
          //     OrderNo: null,
          //     Qrcode: null,
          //     RangeMin: 30,
          //     SysOrder: '49712020030908011785',
          //     TargetUrl: 'Parameter data error'
          //   },
          //   Status: 3,
          //   RequiredMinFrontendVersion: ''
          // };
          if (depositData.Ret === 0) {
            localStorage.removeItem('ErrorTimes');
            // alert('depositData:' + depositData.Data.IsLimit);
            // 判断是否存款次数已经达到上限了IsLimit：true=达到上限 false=未达到
            if (depositData.Data.IsLimit) {
              EventBus.$emit('GlobalLoadingTrigger', false);
              // alert('IsLimit:' + data.Data.IsLimit);
              const notifyObj = {
                NotifyMessage: this.$t('lang.DEPOSIT_LIMIT_NUMBER'),
                CloseFunction: this.CloseWindow
              };
              EventBus.$emit('showWarnTip', notifyObj);
              return;
            }
            localStorage.setItem('SysOrder', depositData.Data.SysOrder);
            // alert('depositData:' + depositData.Data.BankType);
            if (depositData.Data.BankType == 1) {
              location.href = depositData.Data.TargetUrl;
              // alert('1:' + depositData.Data.TargetUrl);
            } else if (depositData.Data.BankType == 2) {
              // alert('2:' + depositData.Data.TargetUrl);
              $('body').html(depositData.Data.TargetUrl);
              $('form').attr('name', 'Lambor');
              // document.Lambor.submit();
              // window.location.replace('about:blank');
              // $('body').html(rspData.Data.TargetUrl);
              // document.dinpayForm.submit();
              // window.history.go(-1);
              // const newwindow = window.open('', '_blank', '');
              // newwindow.document.write('<iframe id=\'Iframe_Game\' srcdoc= \'' + rspData.Data.TargetUrl + '\' frameborder=\'0\' border=\'0\' cellspacing=\'0\' style=\'width:100%;height:896px\'></iframe>');
              // this.Vhtml = rspData.Data.TargetUrl;
            } else if (depositData.Data.BankType == 3) {
              window.location.href = depositData.Data.TargetUrl;
              // alert('3:' + depositData.Data.TargetUrl);
            } else {
              // alert('4:' + depositData.Data.TargetUrl);
              if (
                depositData.Data.TargetUrl !== '' &&
                depositData.Data.TargetUrl !== null &&
                depositData.Data.TargetUrl !== undefined &&
                depositData.Data.TargetUrl !== 'null'
              ) {
                this.Vhtml = depositData.Data.TargetUrl;
                setTimeout(function() {
                  $('#Iframe_Pay')
                    .contents()
                    .find('body')
                    .css({ color: '#fff' });
                }, 500);
              } else {
                const notifyData = {
                  CloseFunction: this.CloseWindow
                };
                let ErrorTimes = localStorage.getItem('ErrorTimes');
                if (
                  ErrorTimes !== null &&
                  ErrorTimes !== 'null' &&
                  ErrorTimes !== undefined &&
                  ErrorTimes !== '' &&
                  ErrorTimes > 2
                ) {
                  notifyData.NotifyMessage = this.$t('lang.PAYMENT_ERROR4');
                } else {
                  notifyData.NotifyMessage = this.$t('lang.PAYMENT_ERROR3');
                }
                localStorage.setItem('ErrorTimes', ErrorTimes * 1 + 1);
                EventBus.$emit('showWarnTip', notifyData);
              }
            }

            EventBus.$emit('GlobalLoadingTrigger', false);
          } else {
            EventBus.$emit('GlobalLoadingTrigger', false);
            const notifyData = {
              CloseFunction: this.CloseWindow
            };
            if (depositData.Message === '') {
              let ErrorTimes = localStorage.getItem('ErrorTimes');
              if (
                ErrorTimes !== null &&
                ErrorTimes !== 'null' &&
                ErrorTimes !== undefined &&
                ErrorTimes !== '' &&
                ErrorTimes > 2
              ) {
                notifyData.NotifyMessage = this.$t('lang.PAYMENT_ERROR4');
              } else {
                notifyData.NotifyMessage = this.$t('lang.PAYMENT_ERROR3');
              }
              localStorage.setItem('ErrorTimes', ErrorTimes * 1 + 1);
            } else {
              notifyData.NotifyMessage = depositData.Message;
            }
            // // alert('data.Ret:' + depositData.Ret);
            EventBus.$emit('showWarnTip', notifyData);
            return;
          }
        } else {
          this.CloseWindowNew();
        }
      } else {
        this.CloseWindowNew();
      }
    },
    CloseWindow: function() {
      window.close();
    },
    // 关闭窗口
    CloseWindowNew() {
      if (history.length <= 2) {
        var userAgent = navigator.userAgent;
        if (
          userAgent.indexOf('Firefox') != -1 ||
          userAgent.indexOf('Chrome') != -1
        ) {
          window.location.href = 'about:blank';
          window.close();
        } else {
          window.opener = null;
          window.open('', '_self');
          window.close();
        }
      } else {
        window.history.go(-1);
      }
    }
  },
  beforeDestroy() {},
  // watch: {
  //   $route(to, from) {
  //     if (this.$route.name == 'depositPayment') {
  //       this.GetParams();
  //     }
  //   }
  // },
  components: {
    mainHeader
    //          MemberPaymentAliPay,
    //          MemberPaymentWebBank,
    //          MemberPaymentWeChat
  }
};
</script>