<template>
  <!-- 充值 -->
  <section class="msg-wrap deposit-wrap">
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>
    <img
      v-if="(OnlinePaymentAcctCnt == 0) && (CompAcctCnt == 0)"
      :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/personal_wait.png?VersionCode'"
      width="100%"
    />
    <!-- 内容 -->
    <article v-if="(OnlinePaymentAcctCnt != 0) || (CompAcctCnt != 0)">
      <ul class="tab-head tab-head-deposit">
        <li
          v-if="OnlinePaymentAcctCnt != 0"
          :class="DepositType == '1'?'active':''"
          @click="SwitchDepositType('1')"
          :style="{ backgroundImage: DepositType == '1'? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
        >{{$t('lang.DEPOSIT_ONLINE')}}</li>
        <li
          v-if="CompAcctCnt != 0"
          :class="DepositType == '2'?'active':''"
          @click="SwitchDepositType('2')"
          :style="{backgroundImage: DepositType == '2'? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
        >{{$t('lang.DEPOSIT_COMPANY')}}</li>
      </ul>
      <section v-if="OnlinePaymentAcctCnt != 0 && this.DepositType == '1'" class="tab-section">
        <deposit-online-pay
          v-if="IsLoadActivityList"
          :DepositType="this.DepositType"
          :ActivityList="this.TargetActivityList"
          :DepositAccountCount="this.TargetAcctCount"
          :HaveNoSelectDepositActivity="this.HaveNoSelectDepositActivity"
          :HasActivity="this.HasActivity"
        ></deposit-online-pay>
      </section>
      <section v-if="CompAcctCnt != 0 && this.DepositType == '2'" class="tab-section">
        <deposit-remittance
          v-if="IsLoadActivityList"
          :DepositType="this.DepositType"
          :ActivityList="this.TargetActivityList"
          :DepositAccountCount="this.TargetAcctCount"
          :HaveNoSelectDepositActivity="this.HaveNoSelectDepositActivity"
          :HasActivity="this.HasActivity"
        ></deposit-remittance>
      </section>
    </article>
    <!-- 活动详情 -->
    <deposit-activity-detail></deposit-activity-detail>
    <!-- 入金提示 -->
    <deposit-amount-limit></deposit-amount-limit>
  </section>
</template>

<script>
import mainHeader from '@/components/mobile/sub/mainHeader';
import depositRemittance from '@/components/mobile/sub/deposit/depositRemittance';
import depositOnlinePay from '@/components/mobile/sub/deposit/depositOnlinePay';
import depositActivityDetail from '@/components/mobile/sub/deposit/depositActivityDetail';
import depositAmountLimit from '@/components/mobile/sub/deposit/depositAmountLimit';

import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.DEPOSIT_TITLE'),

      OnlinePaymentAcctCnt: undefined, // 在线支付号标
      CompAcctCnt: undefined, // 公司入款号标
      DepositType: 1, // 选择的存款类型，默认在线支付
      TargetAcctCount: undefined, // 切换选项卡后所在的存款类型
      TargetActivityList: [], // 活动列表
      OnlineActivityList: [], // 在线支付活动列表
      RemittanceActivityList: [], // 公司入款活动列表
      HaveNoSelectDepositActivity: undefined, // 是否显示不参与活动按钮

      HasActivity: true // 会员分级的优惠活动 存在:false 不存在:true 20190910
    };
  },
  activated: function() {
    this.GetDepositData();
  },
  methods: {
    // 切换存款方式
    SwitchDepositType: function(type) {
      this.DepositType = type;
      this.TargetAcctCount =
        this.DepositType == 1 ? this.OnlinePaymentAcctCnt : this.CompAcctCnt;
      this.TargetActivityList =
        this.DepositType == 1
          ? this.OnlineActivityList
          : this.RemittanceActivityList;
      EventBus.$emit('resetDepositForm'); // 清空输入框
    },
    // 取得最佳存款优惠
    GetDepositData: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.Deposit_LoadMainPage();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(data.Data);
      if (data.Ret !== 0) {
        return;
      }
      this.OnlinePaymentAcctCnt = data.Data.OnlinePaymentAcctCnt;
      this.CompAcctCnt = data.Data.CompAcctCnt;

      this.OnlineActivityList = data.Data.OnlineDepositActivityList;
      this.RemittanceActivityList = data.Data.RemittanceDepositActivityList;

      this.TargetAcctCount = this.OnlinePaymentAcctCnt; // 初始设置切换选项卡后所在的存款类型为在线支付
      this.TargetActivityList = this.OnlineActivityList; // 初始获得在线支付的优惠活动

      // 判断显示在线支付或公司入款 2019.07.25 ququ
      if (this.OnlinePaymentAcctCnt == 0) {
        this.DepositType = 2;
      }
      // 判断显示在线支付或公司入款 2019.07.25 ququ end

      // 判断是否显示不参与活动按钮 2019.03.29
      this.HaveNoSelectDepositActivity = data.Data.PartakeBonusModel.Status;
      // 保存不参与活动的其他参数 2019.03.29
      localStorage.setItem(
        'HaveNoSelectedBonusData',
        JSON.stringify(data.Data.PartakeBonusModel)
      );
      // 优惠活动信息加载完毕 20190909
      this.IsLoadActivityList = true;
      // 优惠活动信息加载完毕 20190909 end

      // 若没有符合会员分级的优惠活动 20190910
      if (data.Data.RemittanceDepositActivityList.length === 1) {
        this.HasActivity =
          data.Data.RemittanceDepositActivityList[0].PresetValue.Checked;
      } else {
        this.HasActivity = false;
      }
      // 若没有符合会员分级的优惠活动 20190910 end
    }
  },
  deactivated: function() {
    EventBus.$emit('resetDepositForm'); // 清空输入框
    this.DepositType = 1; // 选择的存款类型，默认在线支付();
  },
  // watch: {
  //   $route(to, from) {
  //     if (this.$route.name == 'deposit') {
  //       EventBus.$emit('resetDepositForm'); // 清空输入框
  //       this.DepositType = 1; // 选择的存款类型，默认在线支付();
  //     }
  //   }
  // },
  components: {
    mainHeader,
    depositOnlinePay,
    depositRemittance,
    depositActivityDetail,
    depositAmountLimit
  }
};
</script>