<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap fund-wrap" style="padding-bottom: .5rem;">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <!-- <article>
				<section class="tab-section">
	            	<form novalidate="novalidate" class="addcard-form">
						<div class="row input-group">
							<label>主  账  户</label>
							<i class="form-control">{{this.VBalance | moneyFormat}}</i>
						</div>
						<div class="row input-group">
							<label>转出账户</label>
							<div class="form-control" @click="bindGameVendor('FromAPIVendor')" :class="FromAPIVendorObj.VAmount ? 'active' : ''">
								<img v-if="FromAPIVendorObj.GameAPIVendor && FromAPIVendorObj.GameAPIVendor !== -1" :src="ResourceCDN + '/PartnerLogo/bglight/v-logo' + FromAPIVendorObj.GameAPIVendor + '.png?VersionCode'" />
								<p v-if="FromAPIVendorObj.GameAPIVendor === -1">主账户</p>
								<i>{{FromAPIVendorObj.VAmount || '请选择转出账户'}}</i>
							</div>
						</div>
						<div class="row input-group">
							<label>转入账户</label>
							<div class="form-control" @click="bindGameVendor('ToAPIVendor')" :class="ToAPIVendorObj.VAmount ? 'active' : ''">
								<img v-if="ToAPIVendorObj.GameAPIVendor && ToAPIVendorObj.GameAPIVendor !== -1" :src="ResourceCDN + '/PartnerLogo/bglight/v-logo' + ToAPIVendorObj.GameAPIVendor + '.png?VersionCode'" />
								<p v-if="ToAPIVendorObj.GameAPIVendor === -1">主账户</p>
								<i>{{ToAPIVendorObj.VAmount || '请选择转入账户'}}</i>
							</div>
						</div>
						<div class="row input-group">
							<label>转账金额</label>
                        	<input type="text" placeholder="请输入转换金额" name="TransferAmount" class="form-control"
                           		v-model="TransferData.Amount"
	                            v-validate="{ rules: { regex:Reg.MoneyAmount, between:[1, 100000000] , required: true }}"
	                        />
                        	<p class="error-tip" v-if="TouchValidator && TransferData.FromAPIVendorID==undefined">
                    			* 请选择转出账户
                         	</p>
                         	<p class="error-tip" v-else-if="TouchValidator && TransferData.ToAPIVendorID==undefined">
                    			* 请选择转入账户
                         	</p>
                         	<p class="error-tip" v-else-if="TouchValidator && errors.has('TransferAmount') && fields.TransferAmount.touched">
                    			* 仅可以使用正整数, 数字范围¥1-¥100,000,000
                         	</p>
						</div>
						<div class="row mt-10">
							<a class="btn btn-gold" @click="PostTransfer();">提&emsp;交</a>
							<router-link :to="{ name: 'member'}" class="btn btn-gray">取&emsp;消</router-link>
						</div>
					</form>
				</section>
      </article>-->
    </section>

    <!-- 厂商列表 -->
    <game-vendor-list-modal ref="ShowBalance"></game-vendor-list-modal>

    <div class="row mt-10" style="width: 80%;margin: 0 auto;">
      <a class="btn btn-gold" @click="OneKeyCashFlowInFo()">{{$t('lang.FUNDING_KEY')}}</a>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import mainHeader from '@/components/mobile/sub/mainHeader';
import gameVendorListModal from '@/components/mobile/sub/member/gameVendorListModal';
import BLDef from 'scripts/common/BLDef';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  data() {
    return {
      IsGetBalanceIng: false, //是否正在获取余额
      VBalance: localStorage.getItem('VBalance') || '0',
      HeaderTitle: this.$t('lang.FUNDING_TITLE'),
      Reg: Regex.Regex,
      InitialAPIVendorObj: {
        GameAPIVendor: undefined,
        VAmount: undefined
      },
      FromAPIVendorObj: undefined, //转出账户
      ToAPIVendorObj: undefined, //转入账户
      //表单数据
      TransferData: {
        FromAPIVendorID: undefined,
        ToAPIVendorID: undefined,
        Amount: ''
      },
      TouchValidator: false,
      APIVendorType: '', //账户类型：FromAPIVendor 转出账户； ToAPIVendor 转入账户
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      FlowInFo: false
    };
  },
  created: function() {
    const self = this;
    self.Load();
    self.GetActBalance();
    self.FromAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);
    self.ToAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);

    //选择转出、转入账户
    EventBus.$on('changeAPIVendorObj', data => {
      if (self.APIVendorType == 'FromAPIVendor') {
        self.FromAPIVendorObj = data;
        self.TransferData.FromAPIVendorID = data.GameAPIVendor;
        if (data.GameAPIVendor == self.TransferData.ToAPIVendorID) {
          //转出与转入账户相同，默认转出为空
          self.ToAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);
        }
      } else {
        self.ToAPIVendorObj = data;
        self.TransferData.ToAPIVendorID = data.GameAPIVendor;
        if (data.GameAPIVendor == self.TransferData.FromAPIVendorID) {
          //转出与转入账户相同，默认转出为空
          self.FromAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);
        }
      }
    });
  },
  methods: {
    // 一键取回所有的资金 2019.06.04 SeyoChen
    OneKeyCashFlowInFo: async function() {
      if (this.FlowInFo === true) {
        const notifyData = {};
        notifyData.NotifyMessage = this.$t('lang.FUNDING_TIP');
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }

      const inputObj = { ReturnAll: true };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await PersonalCenterService.MemberCashFlowInfo_BackToCWallet(
        inputObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      if (retData.Ret === 0) {
        this.FlowInFo = true;
        const notifyData = {};
        notifyData.NotifyMessage = retData.Message;
        EventBus.$emit('showNotifyMessage', notifyData);
        setTimeout(() => {
          this.FlowInFo = false;
        }, 30000);
        this.$refs.ShowBalance.GetVendorList();
      }
    },

    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    //点击转出、转入账户
    bindGameVendor: function(flag) {
      this.APIVendorType = flag;
      EventBus.$emit('changeAPIVendorType', flag); //修改弹窗转出、转入类型
      $('#gameVendorListModal').modal('show'); //打开弹窗
    },
    // 進行轉帳
    PostTransfer: async function() {
      this.TouchValidator = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (
        result === false ||
        this.TransferData.FromAPIVendorID === undefined ||
        this.TransferData.ToAPIVendorID === undefined
      ) {
        return;
      }
      const inputObj = this.TransferData;

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.EWalletTransfer_Transfer(
        inputObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret == 0) {
        this.ResetForm();
      }

      this.GetActBalance();
      EventBus.$emit('refreshAPIVendorList'); //刷新 转出、转入厂商列表
      // 彈窗訊息
      EventBus.$emit('showNotifyMessage', notifyData);
    },
    // 重置選項與金額
    ResetForm: function() {
      this.TouchValidator = false;
      this.ToAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);
      this.FromAPIVendorObj = Vue.util.extend({}, self.InitialAPIVendorObj);
      this.TransferData = {
        FromAPIVendorID: undefined,
        ToAPIVendorID: undefined,
        Amount: ''
      };
      this.$validator.reset();
    },
    // 取得主账户金额
    GetActBalance: async function() {
      const currentTK = localStorage.getItem('Token');
      if (currentTK == null || currentTK == '') {
        return;
      }
      this.IsGetBalanceIng = true;
      const inputObj = {
        APIVendorID: -1
      };
      const data = await PersonalCenterService.EWalletTransfer_GetBalance(
        inputObj
      );
      if (data.Ret == 0) {
        this.VBalance = data.Data.GameApiBalance.VAmount;
      } else {
        this.VBalance = '0';
      }
      this.IsGetBalanceIng = false;
    }
  },
  components: {
    mainHeader,
    gameVendorListModal
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == 'fundManage') {
        this.ResetForm();
        EventBus.$emit('refreshAPIVendorList'); //刷新 转出、转入厂商列表
      }
    }
  },
  beforeDestroy() {
    EventBus.$off('changeAPIVendorObj');
  }
};
</script>