<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap modify-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>

      <article>
        <ul class="tab-head">
          <li
            :class="ModifyType===2 ?'active':''"
            @click="SwitchMode(2)"
            :style="{ backgroundImage: ModifyType===2? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.PASSWORD_LOGIN_CHANGE')}}</li>
          <li
            :class="ModifyType===4 ?'active':''"
            @click="SwitchMode(4)"
            :style="{ backgroundImage: ModifyType===4 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.PASSWORD_WITHDRAWAL_CHANGE')}}</li>
        </ul>
        <section class="tab-section">
          <form novalidate="novalidate" class="addcard-form">
            <div class="row input-group">
              <label>{{$t('lang.PASSWORD_ORIGINAL')}}</label>
              <input
                :type="IfPwd.OriginPassword == false? 'password' : 'text'"
                name="OriginPassword"
                class="form-control"
                v-model="PasswordObj.OriginPassword"
                v-validate="{ rules: { regex:Reg.Password, required: true }}"
                :placeholder="$t('lang.PASSWORD_ENTER_ORIGINAL')"
              />
              <i
                :class="IfPwd.OriginPassword == false? 'eye-btn' : 'eye-btn on'"
                :style="{backgroundImage: IfPwd.OriginPassword == false ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode)' : 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode)' }"
                @click="ClickShowPwd(1)"
              ></i>
            </div>
            <div class="row input-group">
              <label>{{$t('lang.PASSWORD_NEW')}}</label>
              <input
                :type="IfPwd.NewPassword == false? 'password' : 'text'"
                name="NewPassword"
                class="form-control"
                v-model="PasswordObj.NewPassword"
                v-validate="{ rules: { regex:Reg.Password, required: true }}"
                :placeholder="$t('lang.PASSWORD_ENTER_NEW')"
              />
              <i
                :class="IfPwd.NewPassword == false? 'eye-btn' : 'eye-btn on'"
                :style="{backgroundImage: IfPwd.NewPassword == false ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode)' : 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode)' }"
                @click="ClickShowPwd(2)"
              ></i>
            </div>
            <div class="row input-group">
              <label>{{$t('lang.PASSWORD_CONFIRM')}}</label>
              <input
                :type="IfPwd.ConfirmPassword == false? 'password' : 'text'"
                name="ConfirmPassword"
                class="form-control"
                v-model="PasswordObj.ConfirmPassword"
                v-validate="{'required': 'true', 'is': PasswordObj.NewPassword}"
                data-vv-name="ConfirmPassword"
                :placeholder="$t('lang.PASSWORD_NEW_AGAIN')"
              />
              <i
                :class="IfPwd.ConfirmPassword == false? 'eye-btn' : 'eye-btn on'"
                :style="{backgroundImage: IfPwd.ConfirmPassword == false ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode)' : 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode)' }"
                @click="ClickShowPwd(3)"
              ></i>
              <p
                class="error-tip"
                v-if="errors.has('OriginPassword') && fields.OriginPassword.touched"
              >* {{Reg.PasswordErrorMsg}}</p>
              <p
                class="error-tip"
                v-else-if="errors.has('NewPassword') && fields.NewPassword.touched"
              >* {{Reg.PasswordErrorMsg}}</p>
              <p
                class="error-tip"
                v-else-if="(errors.has('ConfirmPassword') && fields.ConfirmPassword.touched)"
              >* {{$t('lang.PASSWORD_NOT_MATCH')}}</p>
            </div>
            <div class="row mt-10">
              <a class="btn btn-gold" @click="SubmitChange();" v-html="$t('lang.BUTTON_SUBMIT')"></a>
              <router-link
                :to="{ name: 'member'}"
                class="btn btn-gray"
                v-html="$t('lang.BUTTON_BACK')"
              ></router-link>
            </div>
          </form>
        </section>
      </article>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import mainHeader from '@/components/mobile/sub/mainHeader';
import Regex from 'scripts/common/CommDef';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import SignalRService from 'scripts/common/SignalRService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.PASSWORD_TITLE'),
      ModifyType: 2, //tab类型
      ProcessingFlag: false,
      PasswordObj: {},
      // 判断是否在取款中已经封锁账号 2018.06.17 ququ
      CommUtility: CommUtility,
      WithdrawData: {
        WithdrawPwd: ''
      },
      // 判断是否在取款中已经封锁账号 2018.06.17 ququ end
      Reg: {
        Password: Regex.Regex.Password,
        PasswordErrorMsg: this.$t('lang.PASSWORD_LOGIN_TIP')
      },
      // 是否可以查看密码信息 20191012 ququ
      IfPwd: {
        OriginPassword: false,
        NewPassword: false,
        ConfirmPassword: false
      }
    };
  },
  created: function() {
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    SwitchMode: function(mode) {
      // 切换页签清空表单 20190731 ququ
      if (this.ModifyType !== mode) {
        this.ResetPwdForm();
      }
      // 切换页签清空表单 20190731 ququ end
      this.ModifyType = mode;
      this.UpdateRegex();
    },
    // 送出修改密碼
    SubmitChange: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();

      if (result === false) {
        return;
      }
      // 處理中則直接返回
      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;

      const inputObj = {
        CPType: this.ModifyType,
        ChangePwdInfo: {
          OriginPwd: this.PasswordObj.OriginPassword,
          NewPwd: this.PasswordObj.NewPassword,
          ConfirmNewPwd: this.PasswordObj.ConfirmPassword
        }
      };
      // 判断是否在取款中已经封锁账号 2019.06.17 ququ
      if (this.ModifyType === 4) {
        // 判定是否锁定账号
        const lookingData = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo();
        this.ProcessingFlag = false;
        if (lookingData.Data.WithdrawPwdErrCnt >= 3) {
          const notifyData = {
            NotifyMessage: this.$t('lang.PASSWORD_ACCOUNT_LOCKOUT'),
            NotifySubMessage: this.$t('lang.PASSWORD_ERROR'),
            CloseFunction: function() {
              window.close();
            }
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          return;
        }
        console.log(JSON.stringify(lookingData));
        // 判定是否锁定账号 end

        // 取得登入狀態 -- 判断账户状态 是否被冻结
        const retData = await CommonService.Comm_CheckPermission();
        this.ProcessingFlag = false;
        if (retData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
          const notifyData = {
            NotifyMessage: this.$t('lang.ACCOUNT_FROZEN_TIP1'),
            NotifySubMessage: undefined,
            CloseFunction: function() {
              window.close();
            }
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          return;
        }
        // 取得登入狀態 -- 判断账户状态 是否被冻结

        this.WithdrawData.WithdrawPwd = this.PasswordObj.OriginPassword;
        const data = await PersonalCenterService.WithdrawApply_Add(
          this.WithdrawData
        );
        this.ProcessingFlag = false;
        if (data.Data.PwdErrCnt >= 3) {
          const notifyData = {
            NotifyMessage: this.$t('lang.ACCOUNT_FROZEN'),
            NotifySubMessage: this.$t('lang.ACCOUNT_FROZEN_TIP2'),
            CloseFunction: function() {
              window.close();
            }
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          return;
        }
      }
      // 判断是否在取款中已经封锁账号 2019.06.17 ququ end
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.ChangePassword_Mod(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      let notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret === 0) {
        // 修改登录密码成功后退出当前用户 20190906
        if (this.ModifyType === 2) {
          console.log('-------------------loginout--------');
          EventBus.$emit('SHOW_TIP', this.$t('lang.PASSWORD_CHANGED'));
          setTimeout(() => {
            this.Logout();
          }, 1500);
        }
        // 修改登录密码成功后退出当前用户 20190906 end
        if (this.ModifyType === 4) {
          notifyData.CloseFunction = this.ResetPwdForm;
          //                  EventBus.$emit('showNotifyMessage', notifyData);
          EventBus.$emit('SHOW_TIP', notifyData.NotifyMessage); //修改成功提示
          this.$router.push({ name: 'member' }); //修改成功 跳转个人中心
        }
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }

      this.ProcessingFlag = false;
    },
    // 登出
    Logout: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      // 移除登入相關資料
      localStorage.removeItem('Token');
      localStorage.removeItem('Auth');
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Acct');
      localStorage.removeItem('CorrelationIBMemberId');
      localStorage.removeItem('IBStatus');
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.$router.push({ name: 'login' });

      SignalRService.DisConnectServer();
    },
    // 清除畫面驗證與資料
    ResetPwdForm: function() {
      this.ModifyType = 2; //默认登录密码修改
      this.PasswordObj = {};
      this.$validator.reset();
    },
    // 切換密碼類型時更新正則與驗證訊息
    UpdateRegex: function() {
      if (this.ModifyType === 2) {
        this.Reg.Password = Regex.Regex.Password;
        this.Reg.PasswordErrorMsg = this.$t('lang.PASSWORD_LOGIN_TIP');
      } else if (this.ModifyType === 4) {
        this.Reg.Password = Regex.Regex.WithdrawPwd;
        this.Reg.PasswordErrorMsg = this.$t('lang.PASSWORD_WITHDRAWAL_TIP');
      }
    },
    // 点击可查看密码 20191012 ququ
    ClickShowPwd: function(num) {
      switch (num) {
        case 1:
          this.IfPwd.OriginPassword = !this.IfPwd.OriginPassword;
          break;
        case 2:
          this.IfPwd.NewPassword = !this.IfPwd.NewPassword;
          break;
        case 3:
          this.IfPwd.ConfirmPassword = !this.IfPwd.ConfirmPassword;
          break;
        default:
          break;
      }
    }
  },
  components: {
    mainHeader
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == 'modifyPassword') {
        this.ResetPwdForm();
        this.UpdateRegex();
      }
    }
  }
};
</script>