<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>

      <article>
        <section class="tab-section">
          <div class="row mt-15">
            <!-- 开始时间 -->
            <input
              type="date"
              class="form-control"
              name="StartTime"
              v-model="QueryConditions.StartTime"
              v-validate="{ rules: { required: true }}"
            />
            <!-- 结束时间 -->
            <input
              type="date"
              class="form-control"
              name="StartTime"
              v-model="QueryConditions.EndTime"
              v-validate="{ rules: { required: true }}"
            />
            <a class="btn btn-bind" @click="UpdateQueryCondition()">{{$t('lang.BUTTON_QUERY')}}</a>
          </div>
          <div class="row">
            <!-- 公告类型 -->
            <p class="form-select icon">
              <select v-model="DisplayQueryObj.MessageType" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}">
                <option
                  v-for="(MessageType,index) in this.MessageTypeList"
                  :key="index"
                  v-bind:value="MessageType"
                >{{MessageType.Name}}</option>
              </select>
              <em class="icon"  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"></em>
            </p>
          </div>
          <div class="error-row">
            <p
              class="error-tip"
              v-if="errors.has('StartTime') && fields.StartTime.touched"
            >* {{$t('lang.TIME_START_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('EndTime') && fields.EndTime.touched"
            >* {{$t('lang.TIME_END_TIP')}}</p>
            <p
              class="error-tip"
              v-show="this.QueryConditions.EndTime < this.QueryConditions.StartTime"
            >* {{$t('lang.TIME_OVER_TIP')}}</p>
          </div>
        </section>
        <section class="msg-list">
          <ul>
            <li v-for="(MessageData,index) in this.MessageList" :key="index">
              <label>{{MessageData.CreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</label>
              <div class="msg">
                <div class="bodyFont clearfloat bodyHeight">
                  <p>【{{MessageData.Title}}】</p>
                  <p>{{MessageData.Content}}</p>
                  <a
                    class="btn btn-bind"
                    @click="DeletePrivateMassage(MessageData.ID)"
                  >{{$t('lang.BUTTON_DELETE')}}</a>
                </div>
                <div class="more" @click="BindMore($event)">
                  {{$t('lang.MESSAGE_READ_ALL')}}
                  <em class="icon-more" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_more1.png?1)'}"></em>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <p class="scroll-footer-tip"></p>
      </article>
    </section>
  </div>
</template>

<script>
import mainHeader from '@/components/mobile/sub/mainHeader';
import moment from 'moment';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import RegEx from 'scripts/common/CommDef';
import CommUtility from 'scripts/common/CommUtility';

import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.MESSAGE_TITLE'),

      waterfallLock: false,
      // 正則表達式
      Reg: RegEx.Regex,
      DisplayQueryObj: {
        //所选公告类型
        MessageType: {}
      },
      QueryConditions: {
        PrivateMessageType: -1, //搜索类型
        PagingInfo: {
          PageNo: 1,
          PageSize: 30
        },
        StartTime: moment(new Date()).format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD')
      },
      MessageList: [], //信息列表
      MessageTypeList: [], //信息类型
      CurrentPage: 0,
      MaxPage: 0,
      IsAllShow: false, // 是否已載入完全部
      MessageDataID: undefined // 选中的信息ID 20191009 ququ
    };
  },
  activated: function() {
    this.Load();
    this.BindWaterFallEvent();
    this.GetMessageType();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    //获取列表
    GetMessageType: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.PrivateMessage_LoadMainPage();
      EventBus.$emit('GlobalLoadingTrigger', false);

      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.MessageTypeList = data.Data.PrivateMessageTypeList;
        this.DisplayQueryObj.MessageType = data.Data.PrivateMessageTypeList[0];
        this.QueryConditions.PrivateMessageType =
          data.Data.PrivateMessageTypeList[0];
        this.waterfallLock = true;
        this.UpdateQueryCondition();
      }
    },
    // 切換頁面時進行原條件搜尋
    GetCurrentPageData: async function(pageNo) {
      if (pageNo !== undefined) {
        this.QueryConditions.PagingInfo.PageNo = pageNo;
      }
      console.log(this.QueryConditions);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.PrivateMessage_Query(
        this.QueryConditions
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      this.waterfallLock = false;

      this.MessageList = this.MessageList.concat(data.Data.PrivateMessageList); //分页

      this.MaxPage = Math.ceil(
        data.Data.PagingInfo.TotalCount /
          this.QueryConditions.PagingInfo.PageSize
      );

      // 是否已載入完全部
      if (this.MessageList.length == data.Data.PagingInfo.TotalCount) {
        this.IsAllShow = true;
        $('.scroll-footer-tip').html(this.$t('lang.LIST_ALL_LOADED'));
        if (this.MessageList.length < 1) {
          $('.scroll-footer-tip').html(this.$t('lang.LIST_NO_DATA'));
        }
      } else {
        this.IsAllShow = false;
        $('.scroll-footer-tip').html('');
      }

      this.CurrentPage++;
    },
    // 點擊搜索，更新搜尋條件
    UpdateQueryCondition: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      EventBus.$emit('GlobalLoadingTrigger', true);
      const result = await this.$validator.validateAll();
      EventBus.$emit('GlobalLoadingTrigger', false);
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true || result === false) {
        return;
      }

      this.QueryConditions.PagingInfo.PageNo = 1;
      this.QueryConditions.PrivateMessageType = this.DisplayQueryObj.MessageType;
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.QueryConditions.StartTime
      );
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.QueryConditions.EndTime,
        true
      );
      //              EventBus.$emit('PrivateMessage_ResetList');

      this.MessageList = [];

      this.waterfallLock = true;
      this.CurrentPage = 0;
      this.GetCurrentPageData(1);
    },

    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      // 開始日期大於結束日期
      if (
        new Date(this.QueryConditions.StartTime) >
        new Date(this.QueryConditions.EndTime)
      ) {
        anyInvalid = true;
      }
      return anyInvalid;
    },
    //阅读全文
    BindMore: function(event) {
      let that = $(event.currentTarget);
      let bodyFont = that.siblings('.bodyFont');
      let curHeight = bodyFont.height();
      if (that.hasClass('close')) {
        that.removeClass('close');
        bodyFont.addClass('bodyHeight');
      } else {
        that.addClass('close');
        bodyFont.removeClass('bodyHeight');
      }
    },
    // 弹出删除信息弹窗 20191009 ququ
    DeletePrivateMassage: function(ID) {
      this.MessageDataID = ID;
      const notifyData = {
        NotifyMessage: this.$t('lang.MESSAGE_DELETE'),
        CloseFunction: this.ConfirmDelete
      };
      EventBus.$emit('showNotifyMessage', notifyData);
    },
    // 删除信息 20191009 ququ
    ConfirmDelete: async function() {
      // delete this message
      const inputObj = {
        PrivateMessageID: this.MessageDataID
      };

      const data = await PersonalCenterService.PrivateMessage_Del(inputObj);

      if (data.Ret == 0) {
        // 通知列表重新取得資料
        this.UpdateQueryCondition();
      }
      const notifyData = {
        NotifyMessage: data.Message
      };
      EventBus.$emit('showNotifyMessage', notifyData);
    },
    //绑定瀑布流事件
    BindWaterFallEvent: function() {
      CommUtility.AgentBindWaterfallTable(96, this.MainShowMoreData);
    },
    // 瀑布式載入更多項目
    MainShowMoreData: function() {
      if (this.waterfallLock === false) {
        this.waterfallLock = true;
        if (this.CurrentPage < this.MaxPage) {
          this.QueryConditions.PagingInfo.PageNo++;
          this.GetCurrentPageData(this.QueryConditions.PagingInfo.PageNo);
        } else {
          this.waterfallLock = false;
        }
      }
    } // end MainShowMoreData
  },
  components: {
    mainHeader
  },
  deactivated: function() {
    this.waterfallLock = false;
    this.QueryConditions.PagingInfo.PageNo = 1;
    this.CurrentPage = 0;
    this.IsAllShow = false;
    this.QueryConditions.StartTime = this.QueryConditions.EndTime = moment(
      new Date()
    ).format('YYYY-MM-DD');
    this.DisplayQueryObj.MessageType = this.MessageTypeList[0];
    this.$validator.reset();
  }
};
</script>