<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap recoed-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>

      <article>
        <!-- <ul class="tab-head">
          <li
            :class="QueryTypeFlag == 'CashFlow'?'active':''"
            @click="ChangeQueryType('CashFlow')"
            :style="{ backgroundImage: QueryTypeFlag == 'CashFlow' ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.RECORD_CASH_QUERY')}}</li>
          <li
            :class="QueryTypeFlag == 'BettingRecord'?'active':''"
            @click="ChangeQueryType('BettingRecord')"
            :style="{ backgroundImage: QueryTypeFlag == 'BettingRecord' ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.RECORD_BETTING_QUERY')}}</li>
          <li
            :class="QueryTypeFlag == 'BettingRecordNone'?'active':''"
            @click="ChangeQueryType('BettingRecordNone')"
            :style="{ backgroundImage: QueryTypeFlag == 'BettingRecordNone' ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.RECORD_BETTING_NONE_QUERY')}}</li>
        </ul>-->
        <section class="tab-section">
          <div class="row mt-15">
            <!-- 开始时间 -->
            <input
              type="date"
              class="form-control"
              name="StartTime"
              v-model="QueryConditions.StartTime"
              v-validate="{ rules: { required: true }}"
            />
            <!-- 结束时间 -->
            <input
              type="date"
              class="form-control"
              name="EndTime"
              v-model="QueryConditions.EndTime"
              v-validate="{ rules: { required: true }}"
            />
            <a class="btn btn-bind" @click="SearchRecords()">{{$t('lang.BUTTON_QUERY')}}</a>
          </div>
          <div class="row" v-show="this.QueryTypeFlag == 'CashFlow' && TransTypeList.length > 0">
            <!-- 资金往来类型 -->
            <p class="form-select icon">
              <select
                v-model="QueryConditions.Type"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
              >
                <option v-for="Type in TransTypeList" v-bind:value="Type.Value">{{Type.Name}}</option>
              </select>
              <em
                class="icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"
              ></em>
            </p>
          </div>
          <div
            class="row"
            v-show="(this.QueryTypeFlag == 'BettingRecord' && BettingTypeList.length > 0) || this.QueryTypeFlag == 'BettingRecordNone' && BettingTypeList.length > 0"
          >
            <!-- 投注记录类型 -->
            <p class="form-select icon">
              <select
                v-model="QueryConditions.Type"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
              >
                <option v-for="Type in BettingTypeList" v-bind:value="Type.Value">{{Type.Name}}</option>
              </select>
              <em
                class="icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"
              ></em>
            </p>
          </div>
          <p
            class="error-tip"
            v-if="(QueryConditions.Type==null||QueryConditions.Type==-2)"
          >* {{$t('lang.RECORD_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="errors.has('StartTime') && fields.StartTime.touched"
          >* {{$t('lang.TIME_START_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="errors.has('EndTime') && fields.EndTime.touched"
          >* {{$t('lang.TIME_END_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.QueryConditions.EndTime < this.QueryConditions.StartTime"
          >* {{$t('lang.TIME_OVER_TIP')}}</p>
        </section>
        <section class="list-table mt-15">
          <!-- 资金往来查询 -->
          <div class="table" v-show="QueryTypeFlag == 'CashFlow'">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <td>{{$t('lang.RECORD_ORDER_NUMBER')}}</td>
                  <td>{{$t('lang.RECORD_ORDER_TIME')}}</td>
                  <td>{{$t('lang.RECORD_AMOUNT')}}</td>
                  <td>{{$t('lang.RECORD_TYPE')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="Log in LogList">
                  <td>{{Log.ID}}</td>
                  <td>{{Log.TransDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
                  <td>{{Log.VTransAmt}}</td>
                  <td class="color-yellow">{{Log.VTransType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 投注记录查询 -->
          <div class="table" v-show="QueryTypeFlag == 'BettingRecord'">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <td>{{$t('lang.RECORD_TYPE')}}</td>
                  <td>{{$t('lang.RECORD_BETTING_AMOUNT')}}</td>
                  <td>{{$t('lang.RECORD_PROFIT_LOSS')}}</td>
                  <td>{{$t('lang.RECORD_GAME_NAME')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="Log in LogList">
                  <!-- <tr v-for="Log in LogList" @click="ShowDetail(Log)"> -->
                  <td>
                    {{Log.GameMainType}}
                    <!-- <p>{{Log.ResultTick | utcTicksToLocalTime('YYYY/MM/DD')}}</p> -->
                  </td>
                  <td v-bind:class="Log.TransAmt<0 ? 'color-red':''">{{Log.VBetAmount}}</td>
                  <td>{{Log.VWinLoss}}</td>
                  <td class="color-yellow">{{Log.GameName | simpleContent(8)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 未派彩记录查询 -->
          <div class="table" v-show="QueryTypeFlag == 'BettingRecordNone'">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <td>{{$t('lang.RECORD_TYPE')}}</td>
                  <td>{{$t('lang.RECORD_BETTING_AMOUNT')}}</td>
                  <td>{{$t('lang.RECORD_GAME_NAME')}}</td>
                  <td>{{$t('lang.RECORD_BETTING_TIME')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="Log in LogList">
                  <td>
                    <p>{{Log.GameAPIName}}{{Log.GameMainType}}</p>
                  </td>
                  <td>
                    <p>{{Log.VBetAmount}}</p>
                  </td>
                  <td>
                    <p>{{Log.GameName}}</p>
                  </td>
                  <td>
                    <p>{{Log.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <p class="scroll-footer-tip"></p>
      </article>
    </section>
    <!-- 投注记录弹窗 -->
    <div class="mob-wrap">
      <div
        class="modal modal-shadow fade"
        id="BettingRecordPopUp"
        tabindex="-1"
        data-backdrop="false"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <i v-on:click="bindClose()" class="modal-close-btn"></i> -->
              <h4 class="modal-title" :class="{'active': ShowForm == 1}" @click="ChangeForm(1)">
                {{$t('lang.RECORD_BETTING')}}
                <i class="line"></i>
              </h4>
              <h4 class="modal-title" :class="{'active': ShowForm == 2}" @click="ChangeForm(2)">
                {{$t('lang.RECORD_OTHER')}}
                <i class="line"></i>
              </h4>
            </div>
            <div class="modal-body">
              <form class="record-form" v-if="ShowForm == 1">
                <div class="row input-group">
                  <ul class="row-Ul">
                    <li
                      class="clearfix"
                      v-for="(item, index) in this.BettingMoreDetials"
                      :key="index"
                      v-if="item.Name!='投注详细'"
                    >
                      <span>· {{item.Name}}：</span>
                      <b>{{item.Value}}</b>
                    </li>
                  </ul>
                </div>
                <div
                  class="row input-group"
                  v-for="(item, index) in this.BettingMoreDetials"
                  :key="index"
                  v-if="item.Name=='投注详细'"
                >
                  <h5 class="table-h5">{{$t('lang.RECORD_BETTING_DETAIL')}}</h5>
                  <section>
                    <div>
                      <table
                        v-for="(VList, index) in ValueList"
                        :key="index"
                        v-if="item.Name=='投注详细'"
                      >
                        <tbody>
                          <tr
                            v-for="(value, index) in item.Value"
                            v-if="value.Key == VList"
                            :key="index"
                          >
                            <td>{{value.Name}}</td>
                            <td>{{value.Value}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </section>
                </div>
                <div class="row btn-row">
                  <a @click="bindClose()" class="btn btn-gold" v-html="$t('lang.BUTTON_SURE')"></a>
                </div>
              </form>
              <form class="order-form" v-if="ShowForm == 2">
                <div class="row input-group">
                  <ul class="row-Ul">
                    <li class="clearfix">
                      <span>· {{$t('lang.RECORD_GAME_SUPPLIER')}}：</span>
                      <b>{{BettingRecord.GameAPIName}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_GAME_TYPE')}}：</span>
                      <b>{{BettingRecord.GameAPIName}}{{BettingRecord.GameMainType}} ➔ {{BettingRecord.GameName}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_BETTING_TIME')}}：</span>
                      <b>{{BettingRecord.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_BETTING_AMOUNT')}}：</span>
                      <b>{{BettingRecord.VBetAmount}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_PAYOUT_TIME')}}：</span>
                      <b>{{BettingRecord.ResultTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_PAYOUT')}}：</span>
                      <b>{{BettingRecord.VResultAmount}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_EFFECTIVE_BETTING')}}：</span>
                      <b>{{BettingRecord.VBetAvailableAmount}}</b>
                    </li>
                    <li>
                      <span>· {{$t('lang.RECORD_KILL_NUMBER')}}：</span>
                      <b>{{BettingRecord.VWinLoss}}</b>
                    </li>
                  </ul>
                </div>
                <div class="row btn-row">
                  <a @click="bindClose()" class="btn btn-gold" v-html="$t('lang.BUTTON_SURE')"></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mainHeader from '@/components/mobile/sub/mainHeader';

import moment from 'moment';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.RECORD_CASH_QUERY'),

      QueryTypeFlag: 'CashFlow', // 紀錄類型旗標
      LogList: [], // 记录列表
      TransTypeList: [], // 资金往来类型
      BettingTypeList: [], // 投注记录类型

      pushedDict: [], // 瀑布式資料陣列
      LogTotalCount: undefined, // 瀑布式记录总数
      MaxPage: undefined, // 瀑布式最大頁數
      CurrentPage: 0, // 瀑布式當前頁數
      waterfallLock: false, // 瀑布式的Lock
      QueryConditions: {
        // 瀑布式分页
        WGUID: this.$WGUID,
        PagingInfo: {
          PageNo: 1,
          PageSize: 30
        },
        Type: -1,
        StartTime: moment(new Date()).format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD'),
        NoSettled: false
      },
      IsAllShow: false, // 是否已載入完全部
      StartTimeErrorFlag: false, //起始时间校验
      EndTimeErrorFlag: false, //终止时间校验
      ShowForm: 1,
      BettingRecord: {},
      BettingMoreDetials: [],
      ValueList: []
    };
  },
  activated: function() {
    this.Load();
    this.LoadPage();
    this.$nextTick(function() {
      //洗码量详情
      $('#BettingRecordPopUp').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#BettingRecordPopUp .modal-dialog').height() / 2;
        console.log('-------------window-height');
        console.log($('#BettingRecordPopUp .modal-dialog').height());
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      this.BindWaterFallEvent();
    });
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 切換搜尋類型
    ChangeQueryType: function(flag) {
      this.QueryTypeFlag = flag;
      this.QueryConditions.StartTime = moment(new Date()).format('YYYY-MM-DD');
      this.QueryConditions.EndTime = moment(new Date()).format('YYYY-MM-DD');
      this.SearchRecords();
    }, // end ChangeQueryType

    //绑定瀑布流事件
    BindWaterFallEvent: function() {
      CommUtility.AgentBindWaterfallTable(80, this.MainShowMoreData);
    },
    // 瀑布式載入更多項目
    MainShowMoreData: function() {
      if (this.waterfallLock === false) {
        this.waterfallLock = true;
        if (this.CurrentPage < this.MaxPage) {
          this.QueryConditions.PagingInfo.PageNo++;
          this.GetCurrentPageData();
        } else {
          this.waterfallLock = false;
        }
      }
    }, // end MainShowMoreData

    // 載入記錄查詢頁面
    LoadPage: async function() {
      const data = await PersonalCenterService.CashFlowLog_LoadMainPag();
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeList = data.Data.TransTypeSList;
      } // end if
      const retData = await PersonalCenterService.BetLog_LoadMainPage();
      if (retData.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.BettingTypeList = retData.Data.GameApiTypeList;
      } // end if
      this.SearchRecords();
    },

    // 查詢紀錄
    GetCurrentPageData: async function() {
      let data;
      EventBus.$emit('GlobalLoadingTrigger', true);
      if (this.QueryTypeFlag == 'CashFlow') {
        data = await PersonalCenterService.CashFlowLog_Query(
          this.QueryConditions
        );
      } else if (this.QueryTypeFlag == 'BettingRecord') {
        this.QueryConditions.NoSettled = false;
        data = await PersonalCenterService.BetLog_Query(this.QueryConditions);
      } else if (this.QueryTypeFlag == 'BettingRecordNone') {
        this.QueryConditions.NoSettled = true;
        data = await PersonalCenterService.BetLog_Query(this.QueryConditions);
      } // end if
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Ret == 0) {
        this.LogList = this.LogList.concat(this.GetDataList(data.Data.LogList));
        this.LogTotalCount = data.Data.PagingInfo.TotalCount;
        this.MaxPage = Math.ceil(
          this.LogTotalCount / this.QueryConditions.PagingInfo.PageSize
        );
        this.CurrentPage++;

        // 是否已載入完全部
        if (this.LogList.length == this.LogTotalCount) {
          this.IsAllShow = true;
          $('.scroll-footer-tip').html(this.$t('lang.LIST_ALL_LOADED'));
          if (this.LogList.length < 1) {
            $('.scroll-footer-tip').html(this.$t('lang.LIST_NO_DATA'));
          }
        } else {
          this.IsAllShow = false;
          $('.scroll-footer-tip').html('');
        }
      } // end if
      this.waterfallLock = false;
    }, // end GetCurrentPageData

    // 防止載入重複資料
    GetDataList: function(List) {
      const toPushArray = [];
      if (this.QueryTypeFlag == 'CashFlow') {
        for (let i = 0; i < List.length; i++) {
          if (!this.pushedDict[List[i].ID + '_' + List[i].TransType]) {
            this.pushedDict[List[i].ID + '_' + List[i].TransType] = List[i];
            toPushArray.push(List[i]);
          } // end if
        } // end for
      } else if (
        this.QueryTypeFlag == 'BettingRecord' ||
        this.QueryTypeFlag == 'BettingRecordNone'
      ) {
        for (let i = 0; i < List.length; i++) {
          if (!this.pushedDict[List[i].ID + '_' + List[i].GameAPIType]) {
            this.pushedDict[List[i].ID + '_' + List[i].GameAPIType] = List[i];
            toPushArray.push(List[i]);
          } // end if
        } // end for
      } // end if
      return toPushArray;
    }, // end GetDataList

    // 點擊搜索，更新搜尋條件
    SearchRecords: async function() {
      // 验证
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied(); //其他栏位验证
      if (anyFieldInvalid === true || result === false) {
        return;
      }

      const currentQueryCondition = {
        WGUID: this.$WGUID,
        PagingInfo: {
          PageNo: 1,
          PageSize: 30
        },
        StartTime: this.QueryConditions.StartTime,
        EndTime: this.QueryConditions.EndTime,
        StartTick: CommUtility.LocalTimeToUtcTicks(
          this.QueryConditions.StartTime
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          this.QueryConditions.EndTime,
          true
        ),
        Type: this.QueryConditions.Type
      };
      //清空
      this.LogList = [];
      this.pushedDict = [];
      this.QueryConditions = currentQueryCondition;
      this.GetCurrentPageData();
      this.CurrentPage = 0;
      this.IsDetailQuery = false;
    }, // end SearchRecords

    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      // 開始日期大於結束日期
      if (
        this.QueryConditions.StartTime !== undefined &&
        this.QueryConditions.EndTime !== undefined
      ) {
        if (
          new Date(this.QueryConditions.StartTime) >
          new Date(this.QueryConditions.EndTime)
        ) {
          anyInvalid = true;
        }
      }
      // 類型未選
      if (this.QueryConditions.Type === '-2') {
        anyInvalid = true;
      }
      return anyInvalid;
    }, // end 驗證搜尋欄位正確性
    ChangeForm: function(num) {
      this.ShowForm = num;
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      //          const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      //          const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      //          const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    // 顯示詳細
    ShowDetail: async function(log) {
      let self = this;
      const dataObj = {
        ID: log.ID,
        BetDateTime: log.BetDateTime,
        BetStartDateTime:
          self.dateFormat(this.QueryConditions.StartTime) + ' 00:00:00',
        BetEndDateTime:
          self.dateFormat(this.QueryConditions.EndTime) + ' 23:59:59'
      };
      console.log('++++++++++++++++++投递数据');
      console.log(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await PersonalCenterService.BetLog_LoadDetailPage(
        dataObj
      );

      if (retData.Ret === BLDef.ErrorRetType.SUCCESS) {
        self.BettingRecord = retData.Data.Detail;
        self.BettingMoreDetials = retData.Data.MoreDetials;
        const list = retData.Data.MoreDetials;
        let isValueList;
        console.log('--------------list');
        console.log(list);
        for (let i = 0; i < list.length; i++) {
          if (list[i].Name == '投注详细') {
            list[i].Value = JSON.parse(list[i].Value);
            for (let j = 0; j < list[i].Value.length; j++) {
              isValueList = false;
              for (let z = 0; z < self.ValueList.length; z++) {
                if (list[i].Value[j].Key == self.ValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.ValueList.push(list[i].Value[j].Key);
              }
            }
          }
        }

        this.$nextTick(function() {
          $('#BettingRecordPopUp').modal('show');
        });
      } else {
        const notifyData = {
          NotifyMessage: retData.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } // end if
      EventBus.$emit('GlobalLoadingTrigger', false);
    }, // end ShowDetail
    //关闭详情弹窗
    bindClose: function() {
      $('#BettingRecordPopUp').modal('hide');
    }
  },
  components: {
    mainHeader
  },
  deactivated: function() {
    // 解绑滚动监听事件
    $('#wrapper').unbind('scroll');
    this.waterfallLock = false;
    this.QueryConditions.PagingInfo.PageNo = 1;
    this.CurrentPage = 0;
    this.IsAllShow = false;
    this.LogList = [];
    this.QueryTypeFlag = 'CashFlow'; // 紀錄類型旗標
    this.QueryConditions.StartTime = this.QueryConditions.EndTime = moment(
      new Date()
    ).format('YYYY-MM-DD');
    this.$validator.reset();
  }
};
</script>