<template>
  <div>
    <div class="msg-wrap withdrawal-wrap" id="withdrawal">
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <form class="withdrawal-form">
        <div class="cord-section">
          <a
            class="btn btn-purple"
            data-toggle="modal"
            data-target="#codeModal"
          >{{$t('lang.WITHDRAWAL_DETAIL')}}</a>
          <section class="row-overflow">
            <div class="row fl w50">
              <label>
                {{$t('lang.WITHDRAWAL_WITHDRAWABLE_AMOUNT')}}：
                <i
                  class="color-yellow"
                >{{this.CurrBalance}}</i>
              </label>
            </div>
            <div class="row fl w50">
              <label>
                {{$t('lang.WITHDRAWAL_HANLDING_FEE')}}：
                <i class="color-yellow">{{this.AgreeFee}}</i>
              </label>
            </div>
          </section>
          <div class="row" style="padding-right: 5.5rem;">
            <label>
              {{$t('lang.WITHDRAWAL_WASH_TARGET')}}：
              <i>{{RakeData.TargetRake}}</i>
            </label>
          </div>
          <div class="row" style="padding-right: 5.5rem;">
            <label>
              {{$t('lang.WITHDRAWAL_WASH_NOW')}}：
              <i v-if="RakeData.IsRakeReached===false">
                {{RakeData.CurrRake}}
                <i class="color-red">【{{$t('lang.WITHDRAWAL_NOT_DONE')}}】</i>
              </i>
              <i v-else>{{RakeData.CurrRake}}</i>
            </label>
          </div>
          <div class="row">
            <p
              v-if="RakeData.IsRakeReached===false"
              class="error-tip"
            >({{$t('lang.WITHDRAWAL_NOT_DONE_TIP1')}}{{RakeData.VAdminFeeRatio}}{{$t('lang.WITHDRAWAL_NOT_DONE_TIP2')}})</p>
          </div>
        </div>
        <ul class="pay-way">
          <li :class="PayWay === 1 ? 'active':''" @click="PayWayChange(1)">
            {{$t('lang.WITHDRAWAL_REPLACE_CARD')}}
            <em
              class="icon-slider-active"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
            ></em>
          </li>
          <!-- <li :class="PayWay === 2 ? 'active':''" @click="PayWayChange(2)">
              {{$t('lang.WITHDRAWAL_VIRTUAL')}}
              <em class="icon-slider-active"></em>
          </li>-->
        </ul>
        <div class="card-list" v-if="WithdrawData.IsBankInfoSet===true">
          <h5
            class="card-list-title"
          >{{PayWay === 1 ? $t('lang.WITHDRAWAL_CHOOSE_BANK_CARD'): $t('lang.WITHDRAWAL_CHOOSE_MERCHANT')}}</h5>
          <ul>
            <!-- <li
            v-for="(item,index) in this.WithdrawData.AcctList"
            :key="index"
            v-if="item.Value == '1' && item.Key == 'true'"
            :class="PostWithdrawData == item.Value ? 'active':''"
            @click="SelectPayType(item.Value, item.Key)"
          >
            {{BankData.BankName}}&emsp;{{BankData.BankAcct1}}&emsp;{{BankData.CardName}}
            <em
              class="icon-slider-active"
            ></em>
            </li>-->
            <li
              v-for="(item,index) in BankList"
              :key="index"
              v-show="BankList.length>0&&PayWay === 1"
              :class="PostWithdrawData == item.Value && CardIndex === index ? 'active':''"
              @click="SelectPayType(item, index)"
            >
              {{item.BankName}}&emsp;{{item.BankAcct}}&emsp;{{item.CardName}}
              <em
                class="icon-slider-active"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
              ></em>
            </li>
            <li
              v-for="(item,index) in this.WithdrawData.AcctList"
              :key="index"
              v-show="item.Value == '3' && item.Key == 'true'&&PayWay === 2"
              :class="PostWithdrawData == item.Value ? 'active':''"
              @click="SelectPayType(item)"
            >
              {{CurrencyFormInfoData.ReceiptAddress}}
              <em
                class="icon-slider-active"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
              ></em>
            </li>
          </ul>
        </div>
        <div class="row">
          <div>
            <a
              v-if="BankList.length < 5&&PayWay === 1"
              class="btn btn-gold btn-light-gold"
              @click="BindaddCard()"
            >+{{$t('lang.WITHDRAWAL_ADD_BANK_ACCOUNT')}}</a>
            <a
              v-show="item.Value == '3' && item.Key == 'false'&&PayWay === 2"
              v-for="(item,index) in this.WithdrawData.AcctList"
              :key="index"
              class="btn btn-gold btn-light-gold"
              @click="BindaddCurrencyAcct()"
            >+{{$t('lang.WITHDRAWAL_ADD_VIRTUAL_ACCOUNT')}}</a>
          </div>

          <!-- <a v-if="BankData.BankName == ''&& this.WithdrawData.AcctList && this.WithdrawData.AcctList[0].Key == 'false'" class="btn btn-gold btn-light-gold" @click="BindaddCard()">新增银行卡账户</a>
          <a v-if="CurrencyFormInfoData.ReceiptAddress == ''&& this.WithdrawData.AcctList && this.WithdrawData.AcctList[1].Key == 'false'" class="btn btn-gold btn-light-gold" @click="BindaddCurrencyAcct()">新增虚拟货币账户</a>-->
          <!-- <a v-if="WithdrawData.IsBankInfoSet===true && BankData.BankName != ''" class="btn btn-gold btn-light-gold" @click="BindaddCard()">修改账户信息</a> -->
          <a
            v-if="CurrencyFormInfoData.ReceiptAddress != ''&&PayWay === 2"
            class="btn btn-gold btn-light-gold"
            @click="ChangeAcctInfo()"
          >{{$t('lang.WITHDRAWAL_CHANGE_VIRTUAL')}}</a>
        </div>
        <div id="PersonalWithdrawForm" name="PersonalWithdrawForm">
          <!-- 完善银行信息 -->
          <div v-if="!WithdrawData.IsBankInfoSet || WithdrawData.IsBankInfoSet === false">
            <a
              class="btn btn-gray"
              onclick="javascript:history.back(-1);"
              v-html="$t('lang.BUTTON_CANCEL')"
            ></a>
            <p class="error-tip">{{$t('lang.WITHDRAWAL_NOT_ACCOUNT_TIP')}}</p>
          </div>

          <!-- 取款申请 -->
          <div v-if="WithdrawData.IsBankInfoSet===true">
            <div class="row input-group">
              <input
                type="text"
                class="form-control"
                name="WithdrawApplyAmt"
                :placeholder="$t('lang.WITHDRAWAL_ENTER_AMOUNT')"
                v-model="ApplyAmount"
                v-validate="{ rules: { regex:Reg.MoneyAmount, between:[RealMinLimit, RealMaxLimit] , required: true }}"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
              <!-- <em @click="ApplyAmount = ''" class="icon-input-clean"></em> -->
            </div>
            <p
              class="amount-tip"
            >{{$t('lang.WITHDRAWAL_EVERY_MIN') + RealVMinLimit + ','+$t('lang.DEPOSIT_EVERY_MAX') + RealVMaxLimit}}</p>
            <p
              class="error-tip"
              v-show="errors.has('WithdrawApplyAmt') && fields.WithdrawApplyAmt.touched"
            >{{$t('lang.DEPOSIT_ONLINE_AMOUNT')}}{{RealVMinLimit}}-{{RealVMaxLimit}}</p>
            <div class="row input-group">
              <input
                type="password"
                class="form-control"
                :placeholder="$t('lang.WITHDRAWAL_ENTER_PASSWORD')"
                name="WithdrawApplyWithdrawPwd"
                v-model="WithdrawPostData.WithdrawPwd"
                v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
              <!-- <em @click="WithdrawPostData.WithdrawPwd = ''" class="icon-input-clean"></em> -->
            </div>
            <p
              class="error-tip"
              v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
            >{{$t('lang.WITHDRAWAL_ENTER_PASSWORD_TIP')}}</p>
            <p
              class="error-tip"
              v-show="CurrentWithdrawPwdErrCnt>0&&CurrentWithdrawPwdErrCnt<3"
            >*{{$t('lang.WITHDRAWAL_PASSWORD_ERROR1')}}{{CurrentWithdrawPwdErrCnt}}{{$t('lang.WITHDRAWAL_PASSWORD_ERROR2')}}</p>
            <p
              class="error-tip"
              v-show="CurrentWithdrawPwdErrCnt>=3"
            >*{{$t('lang.WITHDRAWAL_PASSWORD_ERROR3')}}</p>
            <p class="warn-tip">{{$t('lang.WITHDRAWAL_PASSWORD_WARM')}}</p>
            <div class="row">
              <a
                class="btn btn-gold"
                @click="WithdrawNextStep();"
                v-html="$t('lang.BUTTON_SUBMIT_APPLICATION')"
              ></a>
              <!-- <a class="btn btn-gray" v-on:click="bindClose()" v-html="$t('lang.BUTTON_CANCEL')"></a> -->
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- 修改账户信息 -->
    <change-acct></change-acct>

    <!-- 取款密码错误三次提示弹窗 -->
    <psw-modal></psw-modal>

    <!-- 洗码量详情 -->
    <code-modal :DepositHistoryData="this.DepositHistoryData"></code-modal>

    <!-- 验证银行卡弹窗 -->
    <verify-card-modal
      v-if="BankList.length < 5 && BankList.length > 0&& ShowVerify"
      :BankList="BankList"
    ></verify-card-modal>

    <!-- 添加银行卡弹窗 -->
    <add-card-modal v-if="BankList.length < 5&& ShowAdd" :FirstAddBankCard="FirstAddBankCard"></add-card-modal>

    <!-- 询问是否更换银行卡弹窗 -->
    <ask-if-replace-card :BankItem="BankItem" :BankItemIndex="BankItemIndex"></ask-if-replace-card>

    <!-- 添加虚拟货币账户弹窗 -->
    <add-virtual-currency-modal
      :CurrencyFormInfo="this.CurrencyFormInfo"
      v-if="this.CurrencyFormInfo"
    ></add-virtual-currency-modal>

    <!-- 设置取款密码弹窗 -->
    <withdrawal-psw-modal></withdrawal-psw-modal>

    <!-- 设置取款密码弹窗 -->
    <order-success :OrderNum="OrderNo"></order-success>
  </div>
</template>

<script>
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import pswModal from '@/components/mobile/sub/recharge/pswModal';
import changeAcct from '@/components/mobile/sub/recharge/changeAcct';
import codeModal from '@/components/mobile/sub/recharge/codeModal';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import verifyCardModal from '@/components/mobile/sub/recharge/verifyCardModal';
import addCardModal from '@/components/mobile/sub/recharge/addCardModal';
import askIfReplaceCard from '@/components/mobile/sub/recharge/askIfReplaceCard';
import addVirtualCurrencyModal from '@/components/mobile/sub/recharge/addVirtualCurrencyModal';
import withdrawalPswModal from '@/components/mobile/sub/recharge/withdrawalPswModal';
import orderSuccess from '@/components/mobile/sub/recharge/orderSuccess';
import mainHeader from '@/components/mobile/sub/mainHeader';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.WITHDRAWAL_TITLE'),
      RakeData: {},
      DepositHistoryData: {},
      WithdrawData: {},
      Reg: Regex.Regex,
      ApplyAmount: undefined,
      RealMinLimit: undefined,
      RealVMinLimit: undefined,
      RealMaxLimit: undefined,
      RealVMaxLimit: undefined,
      AgreeFee: null, // 手续费
      BankInfo: undefined,
      CurrencyFormInfo: undefined, //虚拟货币账户信息
      BankData: {
        //银行卡信息
        CardName: '',
        BankName: '',
        BranchName: '',
        BankAcct: '',
        Province: {},
        Town: {},
        Dist: {}
      },
      CurrencyFormInfoData: {
        ReceiptAddress: ''
      },
      PostWithdrawData: undefined,
      BankItem: {}, // 点击的银行卡
      BankItemIndex: 0, // 点击的银行卡序号
      CardIndex: 0, // 默认的银行卡，取后端返回列表中的第一个，每次取款成功后后端置顶取款成功的银行卡账号并返回在列表的第一条  2019.10.23 ququ
      BankList: [], // 银行卡列表 2019.10.22 ququ
      PayWay: 1, // 取款方式，默认显示银行卡 2019.12.18 ququ
      InitialFormData: undefined,
      WithdrawPostData: {
        WithdrawPwd: ''
      },
      CurrentWithdrawPwdErrCnt: undefined,
      CurrBalance: undefined,
      OrderNo: '',
      FirstAddBankCard: true,
      ShowAdd: true, // 是否显示添加银行卡弹窗
      ShowVerify: true // 是否显示添加银行卡弹窗
    };
  },
  created: async function() {
    // 更新银行卡信息
    EventBus.$on('UpdateBankData', data => {
      this.GetWithdrawData();
      this.getBankInfo();
    });

    // 更新虚拟货币账户信息
    EventBus.$on('UpdateCurrencyFormData', data => {
      this.GetWithdrawData();
      this.getCurrencyFormInfo();
    });
  },
  mounted: function() {
    this.Load();
    CommUtility.BindEnterTrigger('PersonalWithdrawForm', this.WithdrawNextStep);
  },
  activated: async function() {
    this.ShowAdd = true; // 是否显示添加银行卡弹窗
    this.ShowVerify = true; // 是否显示添加银行卡弹窗
    this.ResetForm();
    this.ResetPwdForm();
    if (await CommUtility.CheckAccount(this, true)) {
      console.log('--------------created---------------');
      this.InitialFormData = Vue.util.extend({}, this.WithdrawPostData);

      this.LoadRakeData();
      this.GetWithdrawData();
      this.getBankInfo();
      this.getCurrencyFormInfo(); // 获取虚拟货币账户信息
    }
  },
  methods: {
    Load: function() {
      setTimeout(() => {
        this.ModalHeight();
      }, 1000);
    },
    //弹窗高度
    ModalHeight: function() {
      //充值
      $('#pswModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#pswModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      //设置取款密码
      $('#withdrawalPswModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#withdrawalPswModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      //洗码量详情
      $('#codeModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#codeModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      // 修改账户信息
      $('#ChangeAcct').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#ChangeAcct .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      // 修改账户信息
      $('#OrderSuccess').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#OrderSuccess .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 載入洗碼量資料
    LoadRakeData: async function() {
      const inputObj = {
        WGUID: Vue.prototype.$WGUID,
        PagingInfo: {
          PageNo: -1,
          PageSize: -1
        }
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_GetRakeAmtInfo(
        inputObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Ret === 0) {
        this.RakeData = data.Data;
        this.DepositHistoryData = this.RakeData;
        this.DepositHistoryData.ActivityLogList = this.RakeData.ActivityLogList.reverse(); // 倒序 2019.04.03 SeyoChen
      }
    },
    GetWithdrawData: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('------------------------WithdrawData----------------');
      console.log(data);
      if (data.Ret === 0) {
        this.WithdrawData = data.Data;
        this.RealMinLimit = this.WithdrawData.MinLimitAmt;
        this.RealVMinLimit = this.WithdrawData.VMinLimitAmt;
        this.CurrBalance = this.WithdrawData.CurrBalance;
        this.AgreeFee = this.WithdrawData.AgreeFee;
        // 更新取款密码错误次数 2019.12.13 ququ
        this.CurrentWithdrawPwdErrCnt = this.WithdrawData.WithdrawPwdErrCnt;
        if (
          this.WithdrawData.CurrBalance < this.WithdrawData.MaxLimitAmt &&
          this.WithdrawData.CurrBalance > this.WithdrawData.MinLimitAmt
        ) {
          this.RealMaxLimit = this.WithdrawData.CurrBalance;
          this.RealVMaxLimit = this.WithdrawData.VCurrBalance;
        } else {
          this.RealMaxLimit = this.WithdrawData.MaxLimitAmt;
          this.RealVMaxLimit = this.WithdrawData.VMaxLimitAmt;
        }
        EventBus.$emit('GlobalLoadingTrigger', false);
        // 默认选择 已完善资料的取款方式
        for (let i = 0; i < this.WithdrawData.AcctList.length; i++) {
          if (this.WithdrawData.AcctList[i].Key == 'true') {
            this.PostWithdrawData = this.WithdrawData.AcctList[i].Value;
            this.CardIndex = 0;
            return;
          }
        }
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    // 選擇支付方式
    SelectPayType: function(item, index) {
      // 2019.04.18 SeyoChen 1. 银行入款 2: 虚拟货币
      // 判断是切换银行卡或者切换支付方式 2019.10.23 ququ
      if (
        this.PostWithdrawData == item.Value &&
        item.Value == 1 &&
        this.BankItemIndex != index
      ) {
        // 切换银行卡则弹窗询问
        this.BankItemIndex = index;
        this.BankItem = item;
        $('#askIfReplaceCard').modal('show');
      } else {
        this.PostWithdrawData = item.Value;
        if (this.PostWithdrawData == 1) {
          // 切换银行卡则弹窗询问
          this.BankItemIndex = index;
          this.BankItem = item;
          $('#askIfReplaceCard').modal('show');
        }
      }
    },
    // 更换银行卡选中状态 2019.10.23 ququ
    ConfirmReplaceCard: function(index) {
      this.BankID = this.BankItem.ID;
      this.CardIndex = index;
    },
    //提现
    WithdrawNextStep: async function() {
      // 判断是否已选择取款方式
      if (this.PostWithdrawData == undefined) {
        const notifyData = {
          NotifyMessage: this.$t('lang.WITHDRAWAL_WAY_CHOOSE')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }

      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });

      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      // 取款密码错误三次
      if (this.CurrentWithdrawPwdErrCnt >= 3) {
        $('#pswModal').modal('show');
        this.ResetPwdForm();
        this.ResetForm();
      } else {
        this.SubmitWithdraw();
      }
    },
    // 發送取款申請
    SubmitWithdraw: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;
      this.WithdrawPostData.Amt = this.ApplyAmount;
      this.WithdrawPostData.WithdrawMode = parseInt(this.PostWithdrawData);

      // 新增参数银行卡ID 2019.10.23 ququ
      if (this.WithdrawPostData.WithdrawMode == 1) {
        this.WithdrawPostData.BankID = this.BankID;
      }

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_Add(
        this.WithdrawPostData
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;

      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret !== 0) {
        // 取款密碼錯誤
        if (data.Ret == BLDef.ErrorRetType.COMM_PWD_CONFIRM_FAIL) {
          this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt;
          if (data.Data.PwdErrCnt >= 3) {
            $('#pswModal').modal('show');
          }
          this.ResetPwdForm();
        } else {
          // 其他錯誤
          EventBus.$emit('showNotifyMessage', notifyData);
          this.ResetPwdForm();
          this.ResetForm();
        }
      } else {
        // 成功
        this.OrderNo = data.Data.OrderNo;
        $('#OrderSuccess').modal('show');
        this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt; // 更新密码错误次数 2019.12.13 ququ
        // 更新余额 2019.04.29 LMX
        EventBus.$emit('UpdateBalance');
        // notifyData.NotifyMessage = this.$t('lang.WITHDRAWAL_SUCCESS');
        // EventBus.$emit('showNotifyMessage', notifyData);
        this.ResetForm();
        this.ResetPwdForm();
      }
    },
    // 获取银行卡信息 / 省市级
    getBankInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      // 获取银行卡接口增加参数：IsBankList （0取款列表  1银行卡列表） 2019.12.17 ququ
      const dataObj = {
        IsBankList: 0
      };
      const data = await PersonalCenterService.BankInfo_LoadMainPage(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('=========================BankInfo_LoadMainPage');
      console.log(data);
      // 银行卡列表显示五张 2019.10.22 ququ
      if (data.Data && data.Ret === 0) {
        if (data.Data.BankAcctList && data.Data.BankAcctList.length > 0) {
          this.BankList = data.Data.BankAcctList;
          this.BankID = this.BankList[0].ID;
          for (let index = 0; index < this.BankList.length; index++) {
            this.BankList[index].Value = 1;
          }
        }
      }
      console.log('=========================BankList');
      console.log(this.BankList);
      // 银行卡列表显示五张 2019.10.22 ququ end
    },
    // 获取虚拟货币账户信息
    getCurrencyFormInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      this.CurrencyFormInfo = await PersonalCenterService.MemberCurrencyMerchant_LoadMainPage();
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (this.CurrencyFormInfo.Ret === 0) {
        this.CurrencyFormInfoData = Vue.util.extend(
          {},
          this.CurrencyFormInfo.Data.VirtualAcct
        );
      }
      console.log('++++++++++++++++++++++++++++++++CurrencyFormInfo');
      console.log(this.CurrencyFormInfo);
    },
    //添加银行卡
    BindaddCard: function() {
      console.log('=================verifyCardModal');
      let WXobj = null;
      if (localStorage.getItem('WXobj')) {
        WXobj = JSON.parse(localStorage.getItem('WXobj'));
        if (WXobj && WXobj.Name) {
          //是否微信登录
          if (WXobj.BankCardAdded) {
            //已设置取款密码
            $('#verifyCardModal').modal('show');
          } else {
            //未设置取款密码
            $('#verifyCardModal').modal('show');
          }
        } else {
          //账号登录已设置取款密码，打开添加银行卡
          $('#verifyCardModal').modal('show');
        }
      } else {
        if (this.BankList.length > 0) {
          this.FirstAddBankCard = false;
          $('#verifyCardModal').modal('show');
        } else {
          this.FirstAddBankCard = true;
          $('#addCardModal').modal('show');
        }
      }
    },
    //添加虚拟货币账户
    BindaddCurrencyAcct: function() {
      let WXobj = null;
      if (localStorage.getItem('WXobj')) {
        WXobj = JSON.parse(localStorage.getItem('WXobj'));
        if (WXobj && WXobj.Name) {
          //是否微信登录
          if (WXobj.BankCardAdded) {
            //已设置取款密码
            $('#currencyForm').modal('show');
          } else {
            //未设置取款密码
            $('#withdrawalPswModal').modal('show');
          }
        } else {
          //账号登录已设置取款密码，打开添加银行卡
          $('#currencyForm').modal('show');
        }
      } else {
        $('#currencyForm').modal('show');
      }
    },
    // 修改账户信息
    ChangeAcctInfo: function() {
      if (this.CurrencyFormInfoData.ReceiptAddress != '') {
        this.BindaddCurrencyAcct();
      }
    },
    // 切换银行卡虚拟货币取款方式
    PayWayChange: function(index) {
      this.PayWay = index;
      if (index == 1) {
        this.PostWithdrawData = 1;
        this.BankItemIndex = 0;
        this.BankItem = this.BankList[0];
      } else {
        this.PostWithdrawData = 3;
      }
    },
    // 重置取款密碼表單
    ResetPwdForm: function() {
      this.WithdrawPostData = Vue.util.extend({}, this.InitialFormData);
      this.$validator.reset();
    },
    // 清除畫面驗證與資料
    ResetForm: function() {
      this.ApplyAmount = '';
      this.$validator.reset();
    }
  },
  components: {
    pswModal,
    changeAcct,
    codeModal,
    verifyCardModal,
    addCardModal,
    askIfReplaceCard,
    withdrawalPswModal,
    addVirtualCurrencyModal,
    mainHeader,
    orderSuccess
  },
  deactivated: function() {
    if ($('#addCardModal').is(':visible')) {
      $('#addCardModal').modal('hide');
    }
    if ($('#askIfReplaceCard').is(':visible')) {
      $('#askIfReplaceCard').modal('hide');
    }
    if ($('#codeModal').is(':visible')) {
      $('#codeModal').modal('hide');
    }
    if ($('#confirmCardInfo').is(':visible')) {
      $('#confirmCardInfo').modal('hide');
    }
    if ($('#verifyCardModal').is(':visible')) {
      $('#verifyCardModal').modal('hide');
    }
    if ($('#OrderSuccess').is(':visible')) {
      $('#OrderSuccess').modal('hide');
    }
    this.ShowAdd = false; // 是否显示添加银行卡弹窗
    this.ShowVerify = false; // 是否显示添加银行卡弹窗
  },
  beforeDestroy() {
    EventBus.$off('UpdateBankData');
    EventBus.$off('UpdateCurrencyFormData');
  }
};
</script>

<style lang="less" scoped>
@import '~styles/cdn.less';
.withdrawal-wrap {
  padding-left: 4%;
  padding-right: 4%;
  -webkit-overflow-scrolling: touch;
  .pay-way {
    li {
      width: 100%;
      height: 2.4rem;
      line-height: normal;
      font-size: 0.8125rem;
      // background: url('@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/bank.png')
      //   no-repeat 0.625rem center;
      background-size: 1.5625rem;
      padding-left: 2.8125rem;
      box-sizing: border-box;
      background-color: #fff;
      margin-bottom: 0.625rem;
      border-radius: 3px;
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      &:nth-child(2) {
        // background: url('@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/currency-acct.png')
        //   no-repeat 0.625rem center;
        background-size: 1.5625rem;
        background-color: #fff;
      }
      &.active {
        border: 2px solid #0fa1ff;
      }
    }
  }
  .withdrawal-form {
    .cord-section {
      background: transparent;
      padding: 0.875rem 0;
      width: 100%;
      margin: 0;
      .row-overflow {
        overflow: hidden;
      }
      label {
        color: #fff;
        font-size: 0.9375rem;
      }
      .w50 {
        width: 50%;
        overflow: hidden;
        word-break: break-word;
        &:nth-of-type(2) {
          text-align: right;
          padding-right: 0;
        }
      }
      .btn-purple {
        background-color: #d0a05d;
        top: auto;
        bottom: 1rem;
        right: 0;
        width: 4.5rem;
      }
    }
    .card-list-title {
      color: #fff;
      font-size: 0.9375rem;
      line-height: 0.9375rem;
      margin: 0.9375rem 0;
      padding: 0;
      text-align: left;
    }
    .card-list li {
      width: 100%;
      height: 2.4rem;
      line-height: normal;
      box-sizing: border-box;
      font-size: 0.8125rem;
    }
    .input-group {
      width: 100%;
      height: 2.4rem;
      line-height: 2.4rem;
      color: #242424;
      font-size: 0.8125rem;
      background: #fff;
      border: none;
      border-radius: 3px;
      margin-bottom: 0.625rem;
      input {
        width: 100%;
        height: auto;
        line-height: initial;
        border: none;
        background: transparent;
        padding: 0;
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    .icon-input-clean {
      top: 0.5rem;
      margin: 0;
    }
    .btn-gold {
      padding: 0;
      height: 2.875rem;
      width: 10.4rem;
      font-size: 1rem;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1c1c1c;
      margin: 2.375rem auto;
    }
    .btn-light-gold {
      padding: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.08);
      height: 2.4rem;
      line-height: normal;
      border-bottom: none;
      margin-left: 0;
      opacity: 1;
      color: #fff;
      font-size: 0.875rem;
      border: 1px solid rgba(255, 255, 255, 0.28);
      margin: 0.625rem 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
    .amount-tip {
      font-size: 0.75rem;
      color: #fff;
      line-height: normal;
      margin: 0.5rem 0;
    }
  }
  .color-yellow {
    color: #fcca1d;
  }
  .color-red {
    color: #f03838;
  }
}
</style>