<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade activity-list-modal"
      id="activityListModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.DEPOSIT_ACTIVITY_TIP')}}</h4>
          </div>
          <div class="modal-body">
            <form class="addcard-form">
              <span
                class="tip"
              >{{$t('lang.DEPOSIT_ACCOUNT_SITUATION')}}{{$t('lang.DEPOSIT_RECOMMENDED')}}</span>
              <ul class="pay-way">
                <li
                  v-for="(item, index) in DinancialActivityList"
                  :class="DinancialActivityListIndex===index?'active': ''"
                  @click="SelectActivity(item,index)"
                  :key="index"
                >
                  <span v-if="item.ActivityType!==2">{{item.Name}}</span>
                  <router-link
                    v-else
                    :to="{name: 'activityInfo', params:{ActiveID: item.BonusSerialNo,ActiveImg: item.AdImgUrl,FromDepositPage:true}}"
                    class="link"
                  >{{item.Name}}</router-link>
                  <em class="icon-slider-active"></em>
                </li>
              </ul>
              <div class="row">
                <a class="btn btn-gold" @click="SubmitFrom()" v-html="$t('lang.BUTTON_SURE')"></a>
                <a v-on:click="BindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CLOSE')"></a>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  props: {
    DinancialActivityList: undefined
  },
  data() {
    return {
      DinancialActivityListIndex: 0 // 选中的活动
    };
  },
  watch: {
    DinancialActivityList() {
      this.SelectActivity(this.DinancialActivityList[0], 0);
    }
  },
  created: function() {
    this.Load();
  },
  watch: {
    DinancialActivityList() {
      this.SelectActivity(this.DinancialActivityList[0], 0);
    }
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
    // 默认选中第一个优惠活动
    this.SelectActivity(this.DinancialActivityList[0], 0);
    EventBus.$on('RefreshDinancialActivityList', () => {
      this.SelectActivity(this.DinancialActivityList[0], 0);
    });
  },
  methods: {
    // 点击确定时提交订单
    SubmitFrom: function() {
      this.BindClose();
      this.$parent.JudgeLimit();
    },

    // 点击选择优惠活动时需要回传当前活动的数据
    SelectActivity: function(item, index) {
      this.DinancialActivityListIndex = index;
      this.$parent.SelectDepositActivity(item);
    },

    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //活动提示弹窗
      $('#activityListModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#activityListModal .modal-dialog').height() / 2;
        ModalHeight = ModalHeight < 20 ? 20 : ModalHeight;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    BindClose: function() {
      $('#activityListModal').modal('hide');
    }
  },
  beforeDestroy() {
    EventBus.$off('RefreshDinancialActivityList');
  }
};
</script>
<style lang="less" scoped>
@import '~styles/cdn.less';
.activity-list-modal {
  -webkit-overflow-scrolling: touch;
  .modal-body {
    padding: 0.5rem 0.9rem;
  }
  .tip {
    font-size: 0.8125rem;
    color: #666;
    padding: 0.9375rem 0 1.4375rem 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .pay-way {
    li {
      width: 100%;
      height: 2.4rem;
      font-size: 0;
      padding: 0 0.75rem;
      box-sizing: border-box;
      background-color: #fff;
      margin-bottom: 1rem;
      border-radius: 3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .link {
        text-decoration: underline;
        font-size: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        text-align: center;
      }
      img {
        width: 1.5rem;
        vertical-align: middle;
      }
      span {
        padding-left: 0.65rem;
        font-size: 0.8125rem;
        vertical-align: middle;
      }
      &.active {
        border: 2px solid #0fa1ff;
      }
    }
  }
  a.btn {
    margin-bottom: 0.9375rem;
    height: 2.8rem;
    padding: 0;
    line-height: 2.8rem;
  }
  .btn-gold {
    color: #1c1c1c;
  }
}
</style>