<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade bank-card-transfer"
      id="alipayTransfer"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
      style="overflow-y:scroll"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4
              class="modal-title"
            >{{DinancialChannelData.PaymentWayType==2?$t('lang.DEPOSIT_ALIPAY_TRANSFER'):DinancialChannelData.PaymentWayType==3?$t('lang.DEPOSIT_WECHAT_TRANSFER'):$t('lang.DEPOSIT_OTHER_TRANSFER')}}{{$t('lang.DEPOSIT_TRANSFER')}}</h4>
          </div>
          <div class="modal-body">
            <ul class="account-info">
              <li class="tip">{{$t('lang.DEPOSIT_CODE_PAY')}}</li>
              <li class="code-area">
                <img :src="DinancialChannelData.QRCodeUrl" width="100%" />
              </li>
            </ul>
            <ol class="tip-box">
              <li class="tip">{{$t('lang.DEPOSIT_IMPORTANT_TIP')}}</li>
              <li class="tip" v-html="this.Remark"></li>
              <!-- <li
                class="tip"
                v-if="DinancialChannelData.PaymentWayType==2"
              >{{$t('lang.DEPOSIT_IMPORTANT_TIP9')}}</li>
              <li class="tip" v-else>{{$t('lang.DEPOSIT_IMPORTANT_TIP10')}}</li>-->
            </ol>
            <div class="limit-time">
              <p
                class="default-text"
              >{{DinancialChannelData.PaymentWayType==2?$t('lang.DEPOSIT_ALIPAY_TRANSFER')+$t('lang.DEPOSIT_TRANSFER'):DinancialChannelData.PaymentWayType==3?$t('lang.DEPOSIT_WECHAT_TRANSFER')+$t('lang.DEPOSIT_TRANSFER'):$t('lang.DEPOSIT_OTHER_TRANSFER')}}{{$t('lang.DEPOSIT_ORDER_NUMBER')}}：{{SysOrder}}</p>
              <p
                class="default-text"
              >{{$t('lang.DEPOSIT_LIMIT_TIME1')+DinancialChannelData.RangeMin+$t('lang.DEPOSIT_LIMIT_TIME2')+DinancialChannelData.RangeMin+$t('lang.DEPOSIT_LIMIT_TIME3')}}</p>

              <span class="default-text">{{$t('lang.DEPOSIT_COUNTDOWN')}}</span>
              <span
                class="color-red"
                v-if="this.reciprocal!==0"
              >{{this.reciprocal | UtcTicksTime('HH:mm:ss')}}</span>
              <span class="color-red" v-else>00:00:00</span>
            </div>
            <div class="row">
              <a v-on:click="BindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CLOSE')"></a>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  props: {
    SysOrder: undefined,
    DinancialChannelData: undefined
  },
  data() {
    return {
      timer: undefined, // 定时器
      start: undefined, // 开始时间
      changevisibilityState: false, // 是否浏览器转入后台或手机屏幕锁屏
      VisibilitychangeFun: undefined, // 屏幕隐藏事件
      Remark: '',
      reciprocal: 0 // 30分钟
    };
  },
  created: function() {
    this.Load();
    console.log('=====================DinancialChannelData');
    console.log(this.DinancialChannelData);
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
    EventBus.$on('StartCompanyTime', time => {
      this.reciprocal = time * 1000;
      this.Reciprocal();
    });
    // 格式化回车键显示换行
    this.Remark = CommUtility.enterChange(this.DinancialChannelData.Remark);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    // 倒计时30分钟
    Reciprocal: function() {
      // this.reciprocal = this.DinancialChannelData.RangeMin * 60000;
      // setInterval(() => {
      //   if (this.reciprocal < 1000) {
      //     return;
      //   }
      //   this.reciprocal -= 1000;
      // }, 1000);
      let downCount = () => {
        if (this.reciprocal < 1000) {
          return;
        }
        this.reciprocal -= 1000;
      };
      this.timer = setInterval(downCount, 1000);

      this.VisibilitychangeFun = () => {
        // alert('visibilitychange');
        if (document.visibilityState == 'hidden') {
          this.changevisibilityState = true;
          // alert('document.visibilityState == "hidden"');
          clearInterval(this.timer); // 停止原来的定时器
          this.start = new Date().getTime();
          // alert('start' + start);
        } else if (document.visibilityState == 'visible') {
          if (this.changevisibilityState) {
            // alert('document.visibilityState == "visible"');
            let end = new Date().getTime();
            // alert('end' + end);
            let s2 = Math.floor(end - this.start);
            // alert('s2' + s2);
            // alert('reciprocal' + this.reciprocal);
            this.reciprocal = this.reciprocal - s2;
            // alert('reciprocal' + this.reciprocal);
            if (this.reciprocal < 1000) {
              this.reciprocal = 0;
            }
            this.timer = setInterval(downCount, 1000);
          }
        }
      };
      // 监听浏览器转入后台或手机屏幕锁屏
      document.addEventListener('visibilitychange', this.VisibilitychangeFun);
    },
    //弹窗高度
    ModalHeight: function() {
      $('#alipayTransfer').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#alipayTransfer .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    BindClose: function() {
      this.$parent.ResetForm();
      this.$parent.GetDepositData(true);
      document.removeEventListener(
        'visibilitychange',
        this.VisibilitychangeFun
      );
      clearInterval(this.timer);
      $('#alipayTransfer').modal('hide');
      EventBus.$emit('CloseCodeModal');
    }
  },
  beforeDestroy() {
    EventBus.$off('StartCompanyTime');
    document.removeEventListener('visibilitychange', this.VisibilitychangeFun);
    clearInterval(this.timer);
  }
};
</script>
<style lang="less" scoped>
@import '~styles/cdn.less';
.bank-card-transfer {
  -webkit-overflow-scrolling: touch;
  .modal-body {
    padding: 0.5rem 0.9rem;
  }
  .account-info {
    background-color: #fff;
    padding: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    .tip {
      font-size: 0.8125rem;
      color: #999;
      text-align: center;
    }
    .code-area {
      width: 8rem;
      height: 8rem;
      // background-color: #333;
      margin: 0 auto;
    }
  }
  .tip-box {
    line-height: 1.2rem;
  }
  .tip {
    font-size: 0.8125rem;
    color: #666;
    display: inline-block;
    width: 100%;
    line-height: 1rem;
    word-break: break-all;
  }
  .limit-time {
    background-color: #cec8ce;
    font-size: 0.8125rem;
    width: 100%;
    text-align: left;
    position: relative;
    left: -1rem;
    right: -1rem;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0 1.2rem 0;
    .default-text {
      text-align: left;
      padding: 0;
      font-size: 0.8125rem;
      color: #666;
      line-height: 1.2rem;
    }
  }
  a.btn {
    margin-bottom: 0.9375rem;
    height: 2.8rem;
    padding: 0;
    line-height: 2.8rem;
  }
  .btn-gold {
    color: #1c1c1c;
  }
}
</style>