<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade bank-card-transfer"
      id="bankCardTransfer"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
      style="overflow-y:scroll"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.DEPOSIT_BANK_CARD_TRANSFER')}}</h4>
          </div>
          <div class="modal-body">
            <ul class="account-info">
              <li>{{DinancialChannelData.BankName}}</li>
              <li>
                <label>{{$t('lang.DEPOSIT_MODAL_ACCOUNT_NAME')}}:</label>
                <span id="account-txt">{{DinancialChannelData.Payee}}</span>
                <i class="copy" @click="BindCopy('account-txt')">{{$t('lang.PROMOTION_COPY_URL')}}</i>
              </li>
              <li>
                <label>{{$t('lang.DEPOSIT_MODAL_CARD_NO')}}:</label>
                <span id="cardno-txt">{{DinancialChannelData.BankAccnt}}</span>
                <i class="copy" @click="BindCopy('cardno-txt')">{{$t('lang.PROMOTION_COPY_URL')}}</i>
              </li>
              <li>
                <label>{{$t('lang.DEPOSIT_MODAL_ADRESS')}}:</label>
                <span id="address-txt">{{DinancialChannelData.BankBranchName}}</span>
                <i class="copy" @click="BindCopy('address-txt')">{{$t('lang.PROMOTION_COPY_URL')}}</i>
              </li>
              <li>
                <label>{{$t('lang.DEPOSIT_MODAL_AMOUNT')}}:</label>
                <span id="amount-txt">{{DepositAmt}}</span>
                <i class="copy" @click="BindCopy('amount-txt')">{{$t('lang.PROMOTION_COPY_URL')}}</i>
              </li>
              <li>
                <label>{{$t('lang.DEPOSIT_MODAL_REMARK')}}:</label>
                <span id="remark-txt">{{RemarkCode}}</span>
                <i class="copy" @click="BindCopy('remark-txt')">{{$t('lang.PROMOTION_COPY_URL')}}</i>
              </li>
            </ul>
            <ol class="tip-box">
              <li class="tip">{{$t('lang.DEPOSIT_IMPORTANT_TIP')}}</li>
              <li class="tip" v-html="this.Remark"></li>
            </ol>
            <div class="limit-time">
              <p
                class="default-text"
              >{{$t('lang.WITHDRAWAL_REPLACE_CARD')}}{{$t('lang.DEPOSIT_ORDER_NUMBER')}}：{{SysOrder}}</p>
              <p
                class="default-text"
              >{{$t('lang.DEPOSIT_LIMIT_TIME1')+DinancialChannelData.RangeMin+$t('lang.DEPOSIT_LIMIT_TIME2')+DinancialChannelData.RangeMin+$t('lang.DEPOSIT_LIMIT_TIME3')}}</p>
              <span class="default-text">{{$t('lang.DEPOSIT_COUNTDOWN')}}</span>
              <span
                class="color-red"
                v-if="this.reciprocal!==0"
              >{{this.reciprocal | UtcTicksTime('HH:mm:ss')}}</span>
              <span class="color-red" v-else>00:00:00</span>
            </div>
            <div class="row">
              <a
                class="btn btn-gold"
                href="javascript:void(0)"
                target="_blank"
                v-html="$t('lang.BUTTON_GO_BANK')"
                @click="GoBank(DinancialChannelData.BankUrl)"
              ></a>
              <a v-on:click="BindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CLOSE')"></a>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  props: {
    SysOrder: undefined,
    DinancialChannelData: undefined, // 银行卡资料
    DepositAmt: undefined, // 金额
    RemarkCode: '' //四字随机码
  },
  data() {
    return {
      timer: undefined, // 定时器
      start: undefined, // 开始时间
      changevisibilityState: false, // 是否浏览器转入后台或手机屏幕锁屏
      VisibilitychangeFun: undefined, // 屏幕隐藏事件
      Remark: '',
      reciprocal: 0 // 30分钟
    };
  },
  created: function() {
    this.Load();
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
    EventBus.$on('StartCompanyTime', time => {
      this.reciprocal = time * 1000;
      this.Reciprocal();
    });
    // 格式化回车键显示换行
    this.Remark = CommUtility.enterChange(this.DinancialChannelData.Remark);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    // 倒计时30分钟
    Reciprocal: function() {
      // this.reciprocal = this.DinancialChannelData.RangeMin * 60000;
      // setInterval(() => {
      //   if (this.reciprocal < 1000) {
      //     return;
      //   }
      //   this.reciprocal -= 1000;
      // }, 1000);
      let downCount = () => {
        if (this.reciprocal < 1000) {
          return;
        }
        this.reciprocal -= 1000;
      };
      this.timer = setInterval(downCount, 1000);
      this.VisibilitychangeFun = () => {
        // alert('visibilitychange');
        if (document.visibilityState == 'hidden') {
          this.changevisibilityState = true;
          // alert('document.visibilityState == "hidden"');
          clearInterval(this.timer); // 停止原来的定时器
          this.start = new Date().getTime();
          // alert('start' + start);
        } else if (document.visibilityState == 'visible') {
          if (this.changevisibilityState) {
            // alert('document.visibilityState == "visible"');
            let end = new Date().getTime();
            // alert('end' + end);
            let s2 = Math.floor(end - this.start);
            // alert('s2' + s2);
            // alert('reciprocal' + this.reciprocal);
            this.reciprocal = this.reciprocal - s2;
            // alert('reciprocal' + this.reciprocal);
            if (this.reciprocal < 1000) {
              this.reciprocal = 0;
            }
            this.timer = setInterval(downCount, 1000);
          }
        }
      };
      // 监听浏览器转入后台或手机屏幕锁屏
      document.addEventListener('visibilitychange', this.VisibilitychangeFun);
    },
    //弹窗高度
    ModalHeight: function() {
      $('#bankCardTransfer').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#bankCardTransfer .modal-dialog').height() / 2;
        ModalHeight = ModalHeight < 20 ? 20 : ModalHeight;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    }, //复制链接
    BindCopy: function(e) {
      const range = document.createRange();
      //复制节点对象
      range.selectNode(document.getElementById(e));
      const selection = window.getSelection();
      if (selection.rangeCount > 0) selection.removeAllRanges();
      //选择复制范围
      selection.addRange(range);
      document.execCommand('Copy');

      EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_COPY_SUCCESS')); //复制成功提示
    },
    BindClose: function() {
      this.$parent.ResetForm();
      this.$parent.GetDepositData(true);
      document.removeEventListener(
        'visibilitychange',
        this.VisibilitychangeFun
      );
      clearInterval(this.timer);
      $('#bankCardTransfer').modal('hide');
      EventBus.$emit('CloseBankModal');
    },
    // 立即去银行存款 LQ 20200408
    GoBank: function(url) {
      window.open(url);
    }
  },
  beforeDestroy() {
    EventBus.$off('StartCompanyTimes');
    document.removeEventListener('visibilitychange', this.VisibilitychangeFun);
    clearInterval(this.timer);
  }
};
</script>
<style lang="less" scoped>
@import '~styles/cdn.less';
.bank-card-transfer {
  -webkit-overflow-scrolling: touch;
  .modal-body {
    padding: 0.5rem 0.9rem;
  }
  .account-info {
    background-color: #fff;
    padding: 0.6rem 0.5rem;
    margin-bottom: 0.5rem;
    li {
      font-size: 0.8125rem;
      color: #333;
      line-height: 1.3rem;
      position: relative;
      display: flex;
      padding-right: 2rem;
      align-items: center;
      margin-bottom: 0.2rem;
      &:nth-child(1) {
        font-size: 1.1rem;
        padding-right: 0 !important;
        word-break: break-all;
        padding: 0;
        border-bottom: 1px solid #d8dcde;
        font-weight: bold;
        padding-bottom: 0.4rem;
        margin-bottom: 0.4rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      label {
        display: inline-block;
        width: 35%;
        text-align: right;
        padding-right: 0.2rem;
        flex-shrink: 0;
        word-break: break-word;
        font-weight: bold;
        padding-right: 8px;
        line-height: 1.1rem;
      }
      span {
        word-break: break-all;
      }
      .copy {
        color: #d0a05d;
        position: absolute;
        right: 0;
      }
    }
  }
  .tip-box {
    line-height: 1.2rem;
  }
  .tip {
    font-size: 0.82rem;
    color: #666;
    display: inline-block;
    width: 100%;
    line-height: 1rem;
    word-break: break-all;
    text-align: justify;
    text-justify: inter-ideograph;
    &:nth-of-type(1) {
      color: #333;
    }
  }
  .limit-time {
    background-color: #cec8ce;
    font-size: 0.8125rem;
    width: 100%;
    text-align: left;
    position: relative;
    left: -1rem;
    right: -1rem;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0 1.2rem 0;
    .default-text {
      text-align: left;
      padding: 0;
      font-size: 0.8125rem;
      color: #666;
      line-height: 1.2rem;
    }
  }
  a.btn {
    margin-bottom: 0.9375rem;
    height: 2.8rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    white-space: normal;
    line-height: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .btn-gold {
    color: #1c1c1c;
  }
}
.vn {
  .bank-card-transfer .account-info li {
    padding-right: 4rem;
  }
}
.en {
  .bank-card-transfer .account-info li {
    padding-right: 2.5rem;
  }
}
</style>