<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade bank-card-transfer"
      id="orderNoCompanyModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.USER_DELETE_TIP1')}}</h4>
          </div>
          <div class="modal-body">
            <ul class="account-info">
              <li class="number">
                {{$t('lang.DEPOSIT_THIS_TIME_AMOUNT')}}
                <span style="color:red;">{{DepositAmount}}</span>
              </li>
              <li class="tip">{{$t('lang.DEPOSIT_ORDER_SUCCESS')}}</li>
              <li
                class="number"
              >{{DinancialChannelData.PaymentWayType==1?$t('lang.WITHDRAWAL_REPLACE_CARD'):DinancialChannelData.PaymentWayType==2?$t('lang.DEPOSIT_ALIPAY_TRANSFER')+$t('lang.DEPOSIT_TRANSFER'): DinancialChannelData.PaymentWayType==3?$t('lang.DEPOSIT_WECHAT_TRANSFER')+$t('lang.DEPOSIT_TRANSFER'):DinancialChannelData.PaymentWayType==4?$t('lang.DEPOSIT_OTHER_TRANSFER'):''}}{{$t('lang.DEPOSIT_ORDER_NUMBER')}}：{{SysOrder}}</li>
            </ul>
            <div class="row">
              <a v-on:click="BindClose()" class="btn btn-gold" v-html="$t('lang.BUTTON_SURE')"></a>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';
import Vue from 'vue';

export default {
  props: {
    SysOrder: undefined,
    DinancialChannelData: undefined,
    DepositAmount: '' //存款金额
  },
  created: function() {
    this.Load();
    console.log('=====================DinancialChannelData');
    console.log(this.DinancialChannelData);
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      $('#orderNoCompanyModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#orderNoCompanyModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    BindClose: function() {
      // 需要判断当前的支付类型（银行支付方式为1） 银行卡转账 显示银行卡资料；二维码支付显示二维码弹窗
      if (this.DinancialChannelData.PaymentWayType === 1) {
        this.$parent.OpenBankCardTransfer();
      } else {
        this.$parent.OpenAlipayTransfer();
      }

      EventBus.$emit('CloseCompanyOrderModal');
      $('#orderNoCompanyModal').modal('hide');
    }
  }
};
</script>
<style lang="less" scoped>
@import '~styles/cdn.less';
.bank-card-transfer {
  -webkit-overflow-scrolling: touch;
  .modal-body {
    padding: 0.5rem 0.9rem;
  }
  .account-info {
    text-align: center;
    margin: 1rem 0;
  }
  .tip {
    font-size: 0.8125rem;
    color: #666;
    display: inline-block;
    width: 100%;
    line-height: 1rem;
  }
  .number {
    font-size: 0.8125rem;
    display: inline-block;
    width: 100%;
    line-height: 1rem;
  }
  .limit-time {
    background-color: #cec8ce;
    font-size: 0.8125rem;
    width: 100%;
    text-align: left;
    position: relative;
    left: -1rem;
    right: -1rem;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0 1.2rem 0;
    .default-text {
      text-align: left;
      padding: 0;
      font-size: 0.8125rem;
      color: #666;
      line-height: 1.2rem;
    }
  }
  a.btn {
    margin-bottom: 0.9375rem;
    height: 2.8rem;
    padding: 0;
    line-height: 2.8rem;
  }
  .btn-gold {
    color: #1c1c1c;
  }
}
</style>