<template>
  <!-- 底部 -->
  <div class="mainMenuNew" :class="theme">
    <!-- <div
      class="item"
      :class="active==index ? 'active' : ''"
      v-for="(item,index) in tabbar"
      :key="index"
      @click="goPage(item,index)"
    >
      <em class="icon" :class="item.icon"></em>
      <p class="name">{{item.name}}</p>
    </div>-->
    <div class="item" :class="active==0 ? 'active' : ''" @click="goPage(tabbar[0],0)">
      <em class="icon" :class="tabbar[0].icon"></em>
      <p class="name">{{$t('lang.FOOTER_FIRST_PAGE')}}</p>
    </div>
    <div class="item" :class="active==1 ? 'active' : ''" @click="goPage(tabbar[1],1)">
      <em class="icon" :class="tabbar[1].icon"></em>
      <p class="name">{{$t('lang.FOOTER_LIVE_ACTION')}}</p>
    </div>
    <div class="item" :class="active==2 ? 'active' : ''" @click="goPage(tabbar[2],2)">
      <em class="icon" :class="tabbar[2].icon"></em>
      <p class="name">{{$t('lang.FOOTER_MY')}}</p>
    </div>

    <!-- qq客服弹窗 -->
    <qq-service-modal></qq-service-modal>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "@/mod/k19/assets/styles/modal/mobile/layout/mainMenu.less";
</style>
<script>
import qqServiceModal from "@/components/mobile/sub/service/qqServiceModal"
import BLDef from "scripts/common/BLDef"
import CommonService from "scripts/businessLogic/commonService"
import Vue from "vue"
export default {
  data() {
    return {
      theme: Vue.prototype.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split("-")[1]),
      ResourceCDN: this.$ResourceCDN,
      IsLogin: undefined,
      active: 0,
      tabbar: [
        { name: this.$t("lang.FOOTER_FIRST_PAGE"), icon: "index" },
        { name: this.$t("lang.FOOTER_LIVE_ACTION"), icon: "discount" },
        { name: this.$t("lang.FOOTER_MY"), icon: "my" }
      ]
    }
  },
  created: function () {
    this.setFooterActive(this.$route.name)
  },
  watch: {
    //监听路由变化
    $route(to, from) {
      this.setFooterActive(to.name)
    }
  },
  methods: {
    setFooterActive: function (page) {
      switch (page) {
        case "index":
          this.active = 0
          break
        case "activity":
          this.active = 1
          break
        case "member":
          this.active = 2
          break
        default:
          this.active = null
          break
      }
    },
    goPage: function (item, index) {
      this.active = index
      switch (item.icon) {
        case "index":
          this.$router.push({
            name: "index"
          })
          break
        case "discount":
          this.$router.push({
            name: "activity"
          })
          break
        case "my":
          this.$router.push({
            name: "member"
          })
          break
        default:
          break
      }
      this.setFooterActive(this.$route.name)
    }
  },
  components: {
    qqServiceModal
  }
}
</script>
