<template>
  <div
    class="play-game-wrap"
    style="width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling : touch;"
  >
    <!--头部-->
    <header>
      <!--<router-link :to="{name: 'index'}" class="icon-back"></router-link>-->
      <a onclick="javascript:history.back(-1);" class="icon-back" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_back.png)'}"></a>
      <!-- <h2>联盟娱乐</h2> -->
    </header>

    <iframe
      id="Iframe_Game"
      :src="GamePlayUrl"
      frameborder="0"
      border="0"
      cellspacing="0"
      style="width:100%;height:796px;overflow:auto;-webkit-overflow-scrolling : touch;padding: 1px;"
    ></iframe>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef";
import URLService from "scripts/common/URLService";
import CommonService from "scripts/businessLogic/commonService";
import GameService from "scripts/businessLogic/gameService";
import EventBus from "scripts/common/EventBus";
import mainHeader from "@/components/mobile/sub/mainHeader";

export default {
  data() {
    return {
      GamePlayUrl: undefined,
      PlayGameData: {}
    };
  },
  mounted: function() {
    this.Load();
    this.GetParams();
    $("#themeLayout footer").hide();
    // this.TochMove();
  },
  methods: {
    TochMove: function() {
      let docEl = document.documentElement;
      let clientWidth = docEl.clientWidth;
      let clientHeight = docEl.clientHeight;
      var headerwidth = $("#themeLayout header").width();
      var headerheight = $("#themeLayout header").height();

      console.log("headerwidth" + headerwidth);

      var t_id = document.getElementById("draggable1");
      var startX = 0,
        startY = 0;
      t_id.onmousedown = function(event) {
        var event = event || window.event;
        event.preventDefault();
        startX = event.clientX - t_id.getBoundingClientRect().left;
        startY = event.clientY - t_id.getBoundingClientRect().top;
        document.onmousemove = function(event) {
          var event = event || window.event;
          event.preventDefault();
          var endX = event.clientX - startX;
          var endY = event.clientY - startY;
          t_id.style.left = endX + "px";
          t_id.style.top = endY + "px";
        };
      };
      document.onmouseup = function() {
        document.onmousemove = null;
      };
      t_id.ontouchstart = function(event) {
        var event = event || window.event;
        event.preventDefault();
        var touch = event.touches[0];
        startX = touch.clientX - t_id.getBoundingClientRect().left;
        startY = touch.clientY - t_id.getBoundingClientRect().top;
      };
      t_id.ontouchmove = function(event) {
        var event = event || window.event;
        event.preventDefault();
        var touch = event.touches[0];
        var endX = touch.clientX - startX;
        var endY = touch.clientY - startY;

        t_id.style.left = endX + "px";
        t_id.style.top = endY + "px";

        if (t_id.style.left > clientWidth) {
          t_id.style.left = clientWidth - headerwidth;
        } else if (t_id.style.left < 0) {
          t_id.style.left = headerwidth;
        }
        if (t_id.style.top > headerheight) {
          t_id.style.top = clientWidth - headerheight;
        } else if (t_id.style.top < 0) {
          t_id.style.top = headerheight;
        }
      };
      t_id.ontouchend = function() {
        t_id.onmousemove = null;
      };
    },

    Load: function() {
      this.$nextTick(function() {
        window.history.forward(1);
        //内容高度
        var headerHeight = 0;

        let docEl = document.documentElement;
        let clientWidth = docEl.clientWidth;
        let clientHeight = docEl.clientHeight;
        if (clientWidth < clientHeight) {
          headerHeight = $("#themeLayout header").height();
        }

        var bodyHeight = $("#themeLayout").height();
        var gameHeight = bodyHeight - headerHeight;
        $(".wrap").css("margin-top", 0);
        $(".wrap").css("height", bodyHeight + "px");
        $("#Iframe_Game").css("margin-top", headerHeight + "px");
        $("#Iframe_Game").css("height", gameHeight + "px");
      });
    },
    // 獲取URL參數
    GetParams: async function() {
      if (localStorage.getItem("PlayGamePostData") != undefined) {
        this.PlayGameData = URLService.GetObjFromUrlParameter(
          localStorage.getItem("PlayGamePostData")
        );
        // localStorage.removeItem('PlayGamePostData');
        if (this.PlayGameData.PlayType != BLDef.IdentityType.TRIAL) {
          // 檢查權限:凍結不可進行遊戲
          EventBus.$emit("GlobalLoadingTrigger", true);
          const permissionData = await this.CheckAcctStatus();
          EventBus.$emit("GlobalLoadingTrigger", false);
          if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
            let notifyData = {
              NotifyMessage: this.$t("lang.ACCOUNT_FROZEN_TIP1"),
              CloseFunction: this.CloseCurrentWindow
            };
            if (
              BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
              BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
                permissionData.Status ||
              BLDef.SysAccountStatus.NOT_LOGIN_DELETED == permissionData.Status
            ) {
              notifyData = {
                NotifyMessage: this.$t("lang.GAME_LOGIN_TIP"),
                CloseFunction: this.CloseCurrentWindowLogin
              };
            }

            EventBus.$emit("showWarnTip", notifyData);
            return;
          }
          this.PlayGame();
        } else {
          this.CheckAuthCode(this.PlayGameData.VCodeObj);
        }
      } else {
        this.CloseCurrentWindow();
      }
    },
    // 檢查登入狀態
    CheckAcctStatus: async function() {
      EventBus.$emit("GlobalLoadingTrigger", true);
      const retData = await CommonService.Comm_CheckPermission();
      EventBus.$emit("GlobalLoadingTrigger", false);
      return retData;
    },
    // 檢查驗證碼
    CheckAuthCode: async function(VCodeObj) {
      const inputObj = VCodeObj;
      EventBus.$emit("GlobalLoadingTrigger", true);
      const retData = await CommonService.VerifyCode_Verify(inputObj);
      EventBus.$emit("GlobalLoadingTrigger", false);
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message,
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit("showWarnTip", notifyData);
      } else {
        this.PlayGame();
      }
    },
    // 進行遊戲
    PlayGame: async function() {
      const token =
        this.PlayGameData.PlayType == BLDef.IdentityType.TRIAL
          ? this.PlayGameData.CToken
          : undefined;
      const BaseUrl = window.location.href
        .split("/")
        .slice(0, 3)
        .join("/");
      const inputObj = {
        WGUID: this.$WGUID,
        GameAPIVendor: this.PlayGameData.GameAPIVendor,
        GameCatlog: this.PlayGameData.GameCatlog,
        GameCode: this.PlayGameData.GameCode,
        PlatformType: BLDef.Paltform.Web_Mobile,
        PlayType: this.PlayGameData.PlayType,
        Url: BaseUrl
      };

      EventBus.$emit("GlobalLoadingTrigger", true);
      const gameData = await GameService.Game_Player(inputObj, token);
      EventBus.$emit("GlobalLoadingTrigger", false);

      // 新开页面并跳转至http 2019.02.16 SeyoChen 3:PT 4:KG 10:OG 16:TTG
      if (
        this.PlayGameData.GameAPIVendor == "3" ||
        this.PlayGameData.GameAPIVendor == "4" ||
        this.PlayGameData.GameAPIVendor == "10" ||
        this.PlayGameData.GameAPIVendor == "16"
      ) {
        window.location.href = gameData.Data.GamePlayUrl;
        return;
      }
      // 新开页面并跳转至http 2019.02.16 SeyoChen

      if (gameData.Ret != 0) {
        const notifyData = {
          NotifyMessage: this.$t("lang.GAME_LINE_MAINTENANCE"),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit("showWarnTip", notifyData);
        return;
      }

      this.GamePlayUrl = gameData.Data.GamePlayUrl;
      // 测试是否传入GamePlayUrl
      //          const notifyData = {
      //                  NotifyMessage: GamePlayUrl
      //              };
      //          EventBus.$emit('showNotifyMessage', notifyData);
      //          location.href = this.GamePlayUrl;
    },
    // 關閉視窗
    CloseCurrentWindow: function() {
      //          window.close();
      window.history.go(-1);
    },
    // 關閉視窗 -- 未登录
    CloseCurrentWindowLogin: function() {
      //          window.close();
      this.$router.push({ name: "login" });
    }
  },
  components: {
    mainHeader
  },
  beforeDestroy() {
    $(".wrap").css("margin-top", "3.5rem");
    $("#themeLayout footer").show();
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "playGame") {
        $("#themeLayout footer").hide();
        $("#Iframe_Game").attr("src", "");
        if (to.name == "playGame") {
          this.GetParams();
        }
      } else {
        $("#themeLayout footer").show();
      }
    }
  }
};
</script>
