<template>
  <div>
    <!--头部-->
    <header>
      <!--<router-link :to="{name: 'index'}" class="icon-back"></router-link>-->
      <!-- <a onclick="javascript:history.back(-1);" class="icon-back"></a> -->
      <!-- <h2>联盟娱乐</h2> -->
    </header>
    <!-- <div class="LoadBox" style="z-index: 90;">
            <div class="Lp">
                <span class="LoadIcon"></span>
                <p>LOADING...</p>
            </div>
    </div>-->
    <!--<iframe id="Iframe_Game" :src="GamePlayUrl"  frameborder="0" border="0" cellspacing="0" style="width:100%;height:796px"></iframe>-->
    <div id="pngCasinoGame" style="position:absolute;width:100%;height:100%;z-index:99;"></div>
  </div>
</template>

<!--
<script src="<SCRIPTURL>?div=pngCasinoGame&gid=firejoker&lang=en_GB&pid=1&username=123-ahxa94-az6134d&practice=1&width=1024px&height=768px" type="text/javascript">
</script>
<script type="text/javascript"> 
    function PlayForReal() { window.location = '<REALURL>'; } 
    function Logout() { window.close(); } function reloadgame(gameId, user) { } 
</script>
-->

<script>
import BLDef from "scripts/common/BLDef";
import URLService from "scripts/common/URLService";
import CommonService from "scripts/businessLogic/commonService";
import GameService from "scripts/businessLogic/gameService";
import EventBus from "scripts/common/EventBus";

export default {
  data() {
    return {
      GamePlayUrl: undefined,
      PlayGameData: {},

      UrlData: {}
    };
  },
  mounted: function() {
    this.GetParams();
    this.Load();
    $("#themeLayout footer").hide();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        window.history.forward(1);
        //内容高度
        var headerHeight = 0;

        let docEl = document.documentElement;
        let clientWidth = docEl.clientWidth;
        let clientHeight = docEl.clientHeight;
        if (clientWidth < clientHeight) {
          headerHeight = $("#themeLayout header").height();
        }

        var bodyHeight = $("#themeLayout").height();
        var gameHeight = bodyHeight - headerHeight;
        $(".wrap").css("margin-top", 0);
        $(".wrap").css("height", bodyHeight + "px");
        $("#Iframe_Game").css("margin-top", headerHeight + "px");
        $("#Iframe_Game").css("height", gameHeight + "px");
      });
    },
    // 獲取URL參數
    GetParams: async function() {
      if (localStorage.getItem("PlayGamePostData") != undefined) {
        this.PlayGameData = URLService.GetObjFromUrlParameter(
          localStorage.getItem("PlayGamePostData")
        );
        localStorage.removeItem("PlayGamePostData");
        if (this.PlayGameData.PlayType != BLDef.IdentityType.TRIAL) {
          // 檢查權限:凍結不可進行遊戲
          const permissionData = await this.CheckAcctStatus();
          if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
            let notifyData = {
              NotifyMessage: this.$t("lang.ACCOUNT_FROZEN_TIP1"),
              CloseFunction: this.CloseCurrentWindow
            };
            if (
              BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
              BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
                permissionData.Status ||
              BLDef.SysAccountStatus.NOT_LOGIN_DELETED == permissionData.Status
            ) {
              notifyData = {
                NotifyMessage: this.$t("lang.GAME_LOGIN_TIP"),
                CloseFunction: this.CloseCurrentWindowLogin
              };
            }

            EventBus.$emit("showWarnTip", notifyData);
            return;
          }
          this.PlayGame();
        } else {
          this.CheckAuthCode(this.PlayGameData.VCodeObj);
        }
      } else {
        this.CloseCurrentWindow();
      }
    },
    // 檢查登入狀態
    CheckAcctStatus: async function() {
      EventBus.$emit("GlobalLoadingTrigger", true);
      const retData = await CommonService.Comm_CheckPermission();
      EventBus.$emit("GlobalLoadingTrigger", false);
      return retData;
    },
    // 檢查驗證碼
    CheckAuthCode: async function(VCodeObj) {
      const inputObj = VCodeObj;
      const retData = await CommonService.VerifyCode_Verify(inputObj);
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message,
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit("showWarnTip", notifyData);
      } else {
        this.PlayGame();
      }
    },
    // 進行遊戲
    PlayGame: async function() {
      const token =
        this.PlayGameData.PlayType == BLDef.IdentityType.TRIAL
          ? this.PlayGameData.CToken
          : undefined;
      const BaseUrl = window.location.href
        .split("/")
        .slice(0, 3)
        .join("/");
      const inputObj = {
        WGUID: this.$WGUID,
        GameAPIVendor: this.PlayGameData.GameAPIVendor,
        GameCatlog: this.PlayGameData.GameCatlog,
        GameCode: this.PlayGameData.GameCode,
        PlatformType: BLDef.PlatformType.Web_PC,
        PlayType: this.PlayGameData.PlayType,
        Url: BaseUrl
      };

      EventBus.$emit("GlobalLoadingTrigger", true);
      const gameData = await GameService.Game_Player(inputObj, token);
      EventBus.$emit("GlobalLoadingTrigger", false);

      if (gameData.Ret != 0) {
        const notifyData = {
          // NotifyMessage: gameData.Message,
          NotifyMessage: this.$t("lang.GAME_LINE_MAINTENANCE"),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit("showWarnTip", notifyData);
        return;
      }

      this.GamePlayUrl = gameData.Data.GamePlayUrl;
      this.UrlData = this.GamePlayUrl.split("&&&");
      const scriptUrl =
        "<script id='PngSrc' src='" +
        this.UrlData[0] +
        "&type='text/javascript'><script type='text/javascript'> function PlayForReal() { window.location = '" +
        this.UrlData[1] +
        "'; } function Logout() { window.close(); } function reloadgame(gameId, user) { }";
      $("head").append(scriptUrl);
    },
    // 關閉視窗
    CloseCurrentWindow: function() {
      //          window.close();
      window.history.go(-1);
    },
    // 關閉視窗 -- 未登录
    CloseCurrentWindowLogin: function() {
      //          window.close();
      this.$router.push({ name: "login" });
    }
  },
  beforeDestroy() {
    $(".wrap").css("margin-top", "3.5rem");
    $("#themeLayout footer").show();
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "playPngGame") {
        // var _Js = document.getElementById('PngSrc');
        // document.head.removeChild();
        if (to.name == "playPngGame") {
          $("#themeLayout footer").hide();
          this.GetParams();
        }
      } else {
        $("#themeLayout footer").show();
        var _Js = document.getElementById("PngSrc");
        document.head.removeChild();
      }
    }
  }
};
</script>

