<template>
    <div id="eGame" class="cont-item hot-game" style="display: none;">
        <div class="header-row">
            <a
                href="javascript:void(0)"
                @click="contRightSlider()"
                class="back-right-btn"
            >
                <i></i>
            </a>
            <h3>{{ $t("lang.GAME_ELECTRONIC") }}</h3>
        </div>
        <section class="tab-section">
            <ul class="clearfix">
                <li
                    v-for="Item in EleList"
                    class="col-4"
                    v-if="Item.GameApiNo != '2'"
                >
                    <i class="game-maintain" v-if="Item.GameTypeState == 703">{{
                        $t("lang.GAME_MAINTENANCE")
                    }}</i>
                    <router-link
                        :to="{
                            name: 'eGameList',
                            params: { Data: Item.GameApiNo }
                        }"
                    >
                        <img
                            :src="
                                ResourceCDN +
                                    '/PartnerLogo/bgdeep/v-logo' +
                                    Item.GameApiNo +
                                    '.png'
                            "
                        />
                    </router-link>
                </li>
            </ul>
        </section>
    </div>
</template>

<script>
import BLDef from "scripts/common/BLDef";
import Vue from "vue";
import EventBus from "scripts/common/EventBus";
import gameService from "scripts/businessLogic/gameService";
import HttpService from "scripts/common/HttpService";

export default {
    props: ["HotGameList"],
    data() {
        return {
            GameAPIVerdorList: undefined,
            // 資源位置
            ResourceURL: Vue.prototype.$ResourceURL,
            ResourceCDN: Vue.prototype.$ResourceCDN,

            GameList: [],
            EleList: [],
            GameData: {
                GameAPIVendor: undefined,
                GameCode: "",
                GameCatlog: BLDef.GameCatlogType.Sport,
                PlayType: BLDef.IdentityType.FORMAL,
                PlatformType: BLDef.Paltform.Web_Mobile
            }
        };
    },
    created: function() {
        this.GatGame();
        // const self = this;
        // EventBus.$on('GetGameMappingList', data => {
        //     self.GetGameMappingList()
        // });
    },
    // watch: {
    //   HotGameList: function(newVal, oldVal) {
    //     this.UpdateaData(newVal);
    //   }
    // },
    methods: {
        // UpdateaData(newGameList) {
        //   this.GameList = newGameList;
        //   this.GetEleGame();
        // },
        GetEleGame: function() {
            // if (localStorage.getItem('GameList') === null) {
            //   this.GatGame();
            //   return;
            // }
            // this.GameList = JSON.parse(localStorage.getItem('GameList'));
            this.EleList = [];
            for (let i = 0; i < this.GameList.length; i++) {
                // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
                if (
                    this.GameList[i].GameTypeNo === 4 &&
                    this.GameList[i].ApiStatus !== 704
                ) {
                    this.EleList.push(this.GameList[i]);
                }
            }

            // 没有加载出显示loading 2019.01.29 SeyoChen
            this.ShowLoading = false;
        },
        // 遍历获取游戏列表
        GatGame: async function() {
            // 判断本地是否已经有缓存--获取
            const dataObj = {
                WGUID: "",
                GameTypeNo: "",
                PlatformType: BLDef.Paltform.Web_Mobile
            };
            dataObj.WGUID = Vue.prototype.$WGUID;
            dataObj.GameTypeNo = "0"; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
            const retData = await HttpService.PostDynamic(0, 214, dataObj);
            if (retData.Ret === 0) {
                for (
                    let i = 0;
                    i < retData.Data.GameAPIVerdorList.length;
                    i++
                ) {
                    // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
                    if (
                        retData.Data.GameAPIVerdorList[i].IsH5Support === 1 &&
                        retData.Data.GameAPIVerdorList[i].ApiStatus !== 704
                    ) {
                        this.GameList.push(retData.Data.GameAPIVerdorList[i]);
                    }
                }
                // localStorage.setItem('GameList', JSON.stringify(this.GameList));
            }
            this.GetEleGame();
        },

        // 根据站长和游戏类型获取游戏厂商
        GetGameMappingList: async function() {
            const dataObj = {
                WGUID: Vue.prototype.$WGUID,
                GameTypeNo: BLDef.GameCatlogType.ElectronicGame
            };
            EventBus.$emit("GlobalLoadingTrigger", true);
            const retData = await gameService.GetGameMappingList(dataObj);
            EventBus.$emit("GlobalLoadingTrigger", false);

            // 失敗
            if (retData.Ret != 0) {
                const notifyData = {
                    NotifyMessage: retData.Message
                };
                EventBus.$emit("showNotifyMessage", notifyData);
                return;
            } // end if

            // 成功
            this.GameAPIVerdorList = retData.Data.GameAPIVerdorList;
            console.log(JSON.stringify(this.GameAPIVerdorList));
        }, // end GetPromotionDetail

        contRightSlider: function() {
            this.$parent.contRightSlider(); //调用父级方法，收起子列表
        },
        PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
            this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
        }, // end PlayGame
        WarnGameTip: function() {
            this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
        } // end WarnGameTip
    },
    beforeDestroy() {
        EventBus.$off("GetGameMappingList");
    }
};
</script>
