<template>
    <div id="eSports" class="cont-item hot-game" style="display: none;">
        <div class="LoadBox" v-show="ShowLoading">
            <div class="Lp">
                <span class="LoadIcon" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/common/loading-white.svg)'}"></span>
                <p>LOADING...</p>
            </div>
        </div>
        <div class="header-row">
            <a
                href="javascript:void(0)"
                @click="contRightSlider()"
                class="back-right-btn"
            >
                <i></i>
            </a>
            <h3>{{ $t("lang.GAME_ESPORTS") }}</h3>
        </div>
        <section class="tab-section">
            <ul>
                <li
                    v-for="(list, index) in ESportsList"
                    class="col-4"
                    :key="index"
                >
                    <i class="game-maintain" v-if="list.GameTypeState == 703">{{
                        $t("lang.GAME_MAINTENANCE")
                    }}</i>
                    <a
                        v-if="list.GameTypeState != 703"
                        v-on:click="PlayGame(list)"
                    >
                        <img
                            :src="
                                ResourceCDN +
                                    '/PartnerLogo/bgdeep/v-logo' +
                                    list.GameApiNo +
                                    '.png'
                            "
                        />
                    </a>
                    <a v-else>
                        <img
                            :src="
                                ResourceCDN +
                                    '/PartnerLogo/bgdeep/v-logo' +
                                    list.GameApiNo +
                                    '.png'
                            "
                        />
                    </a>
                </li>
            </ul>
        </section>
    </div>
</template>

<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import Vue from "vue";
import URLService from "scripts/common/URLService";
import HttpService from "scripts/common/HttpService";
import CommUtility from "scripts/common/CommUtility";

export default {
    props: ["HotGameList"],
    data() {
        return {
            GameList: [],
            ESportsList: [],
            GameData: {
                GameAPIVendor: undefined,
                GameCode: "",
                GameCatlog: BLDef.GameCatlogType.Lottery,
                PlayType: BLDef.IdentityType.FORMAL,
                PlatformType: BLDef.Paltform.Web_Mobile
            },

            // 資源位置
            ResourceURL: Vue.prototype.$ResourceURL,
            ResourceCDN: Vue.prototype.$ResourceCDN,

            // 没有加载出显示loading 2019.01.29 SeyoChen
            ShowLoading: true
        };
    },
    created: function() {
        this.GatGame();
        // 2019.01.19 首次进入列表没有游戏问题
        // EventBus.$on('GameListSet', () => function () {
        //     this.GetLotteryGame();
        // });
    },
    // watch: {
    //   HotGameList: function(newVal, oldVal) {
    //     this.UpdateaData(newVal);
    //   }
    // },
    methods: {
        // 监控父组件 传值时候是否更新
        // UpdateaData: function(newGameList) {
        //   this.GameList = newGameList;
        //   this.GetESportsGame();
        // },
        GetESportsGame: function() {
            // if (localStorage.getItem("GameList") === null) {
            //   this.GatGame();
            //   return;
            // }
            // this.GameList = JSON.parse(localStorage.getItem("GameList"));
            // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
            this.ESportsList = [];
            for (let i = 0; i < this.GameList.length; i++) {
                if (
                    this.GameList[i].GameTypeNo === 6 &&
                    this.GameList[i].ApiStatus !== 704
                ) {
                    this.ESportsList.push(this.GameList[i]);
                }
            }

            // 没有加载出显示loading 2019.01.29 SeyoChen
            this.ShowLoading = false;
        },
        // 遍历获取游戏列表
        GatGame: async function() {
            // 判断本地是否已经有缓存--获取
            const dataObj = {
                WGUID: "",
                GameTypeNo: "",
                PlatformType: BLDef.Paltform.Web_Mobile
            };
            dataObj.WGUID = Vue.prototype.$WGUID;
            dataObj.GameTypeNo = "0"; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
            const retData = await HttpService.PostDynamic(0, 214, dataObj);
            if (retData.Ret === 0) {
                for (
                    let i = 0;
                    i < retData.Data.GameAPIVerdorList.length;
                    i++
                ) {
                    // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
                    if (
                        retData.Data.GameAPIVerdorList[i].IsH5Support === 1 &&
                        retData.Data.GameAPIVerdorList[i].ApiStatus !== 704
                    ) {
                        this.GameList.push(retData.Data.GameAPIVerdorList[i]);
                    }
                }
                // localStorage.setItem("GameList", JSON.stringify(this.GameList));
            }
            this.GetESportsGame();
        },

        contRightSlider: function() {
            this.$parent.contRightSlider(); //调用父级方法，收起子列表
        },
        // 開新視窗
        PlayGame: function(gameList) {
            this.GameData.GameAPIVendor = gameList.GameApiNo;
            this.GameData.GameCode = gameList.GameCode;
            localStorage.setItem(
                "PlayGamePostData",
                URLService.GetUrlParameterFromObj(this.GameData)
            );

            // if (this.GameData.GameAPIVendor == BLDef.GameApiType.BBIN || this.GameData.GameAPIVendor == BLDef.GameApiType.KG) {
            //     CommUtility.OpenPlayGameWindow('playGameBackIndex');
            //     return;
            // }

            // this.$router.push({ name: 'playGame'})
            CommUtility.OpenPlayGameWindow("playGameBackIndex");
        } // end PlayGame
    }
};
</script>
