<template>
  <div>
    <!-- 跑马灯 -->
    <div class="float-row">
      <div class="fl-btn">
        <!-- <a class="icon-file" href="javascripts(0)" data-toggle="modal" data-target="#qqServiceModal"></a> -->
        <!-- <a class="icon-file" href="/static/ze.html"></a> -->
        <a class="icon-file" @click="$VueUtils.OpenNewBox()"></a>
      </div>
      <div class="logo">
        <img :onerror="defaultImg" :src="this.LogoPath" />
      </div>

      <div id="settingBtn" class="fr-btn open">
        <em class="icon-setting"></em>
        <ul id="menuSetting" class="show">
          <!-- <li><a class="icon-sound" @click="bindMsc()"></a></li> -->
          <li>
            <a
              href="javascript:void(0)"
              class="icon-theme"
              data-toggle="modal"
              data-target="#themeModal"
            ></a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="icon-lang"
              data-toggle="modal"
              data-target="#languageModal"
            >
              <img
                v-show="
                                    LangSelected === '1' || LangSelected === '4'
                                "
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_ZH.png'
                                "
              />
              <img
                v-show="LangSelected === '2'"
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_AS.png'
                                "
              />
              <img
                v-show="LangSelected === '3'"
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_VN.png'
                                "
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="marquee-box">
        <a class="icon-sound"></a>
        <!-- 跑马灯 -->
        <marquee :IsLogin="this.IsLogin"></marquee>
      </div>
    </div>

    <!-- 选择皮肤弹窗 -->
    <theme-modal></theme-modal>

    <!-- 选择语系弹窗 -->
    <language-modal :LangList="LangList" :LangSelected="LangSelected"></language-modal>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import marquee from '@/components/mobile/sub/index/marquee';
import themeModal from '@/components/mobile/sub/index/themeModal';
import languageModal from '@/components/mobile/sub/index/languageModal';
import CommonService from 'scripts/businessLogic/commonService';
import CommUtility from 'scripts/common/CommUtility';
export default {
  props: {
    IsLogin: undefined
  },
  data() {
    return {
      LogoPath: '',
      // 語系選單
      LangList: [
        {
          Checked: false,
          Key: '',
          Name: '简体中文',
          PMode: -1,
          Value: '1'
        },

        {
          Checked: false,
          Key: '',
          Name: 'English',
          PMode: -1,
          Value: '2'
        },
        {
          Checked: false,
          Key: '',
          Name: 'Tiếng việt nam',
          PMode: -1,
          Value: '3'
        },

        {
          Checked: false,
          Key: '',
          Name: '繁体中文',
          PMode: -1,
          Value: '4'
        }
      ],
      // 被選定的語系
      LangSelected: '1',
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      defaultImg: '',
      ServeLink: '' //在线客服链接
    };
  },
  created: function() {
    this.Load();
    setTimeout(() => {
      this.LogoPath = localStorage.getItem('LogoImgPath');
    }, 3000);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.bindSetting();
        // this.LoadLangList();
        this.GetSelectedLanguage();
      });
    },
    // 获取选中语系
    GetSelectedLanguage: function() {
      const language = CommUtility.GetCookie('language');
      if (language != '') {
        switch (language) {
          case 'cn':
            this.LangSelected = '1';
            break;
          case 'en':
            this.LangSelected = '2';
            break;
          case 'vn':
            this.LangSelected = '3';
            break;
          case 'tc':
            this.LangSelected = '4';
            break;
          default:
            this.LangSelected = '1';
            break;
        }
      }
    },
    // 载入语系
    LoadLangList: async function() {
      const retData = await CommonService.Comm_GetLanguages();
      console.log('==================================Comm_GetLanguages');
      console.log(retData);
      if (retData.Ret == 0) {
        this.LangList = retData.Data.LangSelectList;
        this.LangSelected = this.LangList[0];
      } // end if
    }, // end LoadLangList
    //收起/展开设置
    bindSetting: function() {
      $('#settingBtn .icon-setting').click(function() {
        var that = $('#settingBtn');
        if (that.hasClass('open')) {
          that.removeClass('open');
          $('#menuSetting').fadeOut();
        } else {
          that.addClass('open');
          $('#menuSetting').fadeIn();
        }
      });
    },
    ChangeLangEvent: function(lang) {
      this.LangSelected = lang.Value;
      if (lang.Value === '1') {
        this.$i18n.locale = 'cn';
        CommUtility.SetCookie('language', 'cn');
      } else if (lang.Value === '2') {
        this.$i18n.locale = 'en';
        CommUtility.SetCookie('language', 'en');
      } else if (lang.Value === '3') {
        this.$i18n.locale = 'vn';
        CommUtility.SetCookie('language', 'vn');
      } else if (lang.Value === '4') {
        this.$i18n.locale = 'tc';
        CommUtility.SetCookie('language', 'tc');
      }
    },
  },
  components: {
    marquee,
    themeModal,
    languageModal
  }
};
</script>
