<template>
  <div class="mb-footer">
    <p class="game-title">
      <em class="title-line-left"></em>
      {{$t('lang.INDEX_HOT_GAME')}}
      <em class="title-line-right"></em>
    </p>
    <section class="tab-section">
      <ul>
        <li class="col-4">
          <a @click="contLeftSlider('video')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/live_logo.png'"
            />
            <i>{{$t('lang.GAME_LIVE_VIDEO')}}</i>
          </a>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <a @click="contLeftSlider('eGame')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/one_arm_logo.png'"
            />
            <i>{{$t('lang.GAME_ELECTRONIC')}}</i>
          </a>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <a @click="contLeftSlider('sport')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/sport_logo.png'"
            />
            <i>{{$t('lang.GAME_SPORTS')}}</i>
          </a>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <a @click="contLeftSlider('lottery')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/lottery_logo.png'"
            />
            <i>{{$t('lang.GAME_LOTTERY')}}</i>
          </a>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <a @click="contLeftSlider('poker')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/fish_logo1.png'"
            />
            <i>{{$t('lang.GAME_POKER')}}</i>
          </a>
        </li>
        <!-- <li class="col-4">
          <a>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/game_logo.png'"
            />
            <i>{{$t('lang.GAME_EXPECTATION')}}</i>
          </a>
        </li>-->
        <li class="col-4">
          <a @click="contLeftSlider('eSports')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/e_sports_logo.png'"
            />
            <i>{{$t('lang.GAME_ESPORTS')}}</i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  methods: {
    contLeftSlider: function(id) {
      if (id == 'eGame') {
        EventBus.$emit('GetGameMappingList');
      }
      this.$parent.contLeftSlider(id); //调用父级方法，展开子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    } // end WarnGameTip
  }
};
</script>