<template>
  <div id="im" class="cont-item" style="display: none;">
    <div class="header-row">
      <a href="javascript:void(0)" @click="contRightSlider()" class="back-right-btn">
        <i></i>
      </a>
      <!--<img class="titlt-logo" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/im_logo.png'" />-->
      <p class="game-title" style="margin-right: 3rem;">
        <em class="title-line-left"></em>
        {{$t('lang.GAME_TIGER_IM')}}
        <em class="title-line-right"></em>
      </p>
    </div>
    <!--<section class="tab-section">
			<ul>
				<li class="col-4">
					<a @click="PlayGame('IMSB','Sport')">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/iphone_logo.png'">
						<p>IM体育博彩</p>
					</a>
					<em class="hot"></em>
				</li>
				<li class="col-4"><label>敬请期待</label></li>
				<li class="col-4"><label>敬请期待</label></li>
			</ul>
    </section>-->
    <section class="tab-section logo-section">
      <ul>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '16' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/toptrend_logo.png'"
            />
          </router-link>
        </li>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '17' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/pragmatic_logo.png'"
            />
          </router-link>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '18' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/winning_wg_logo.png'"
            />
          </router-link>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '20' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/red_tiger_logo.png'"
            />
          </router-link>
          <em class="hot"></em>
        </li>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '21' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/playstar_logo.png'"
            />
          </router-link>
          <em class="hot"></em>
        </li>
        <li class="col-4" style="display: none;">
          <a @click="PlayGame('IMSB','EGames','imgame21031')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/play_n_go_logo.png'"
            />
          </a>
        </li>
        <li class="col-4">
          <label>{{$t('lang.GAME_EXPECTATION')}}</label>
        </li>
        <!--<li class="col-4">
					<a @click="PlayGame('IMSB','EGames','imgame24008')">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/blueprint_logo.png'">
					</a>
        </li>-->
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';

export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  methods: {
    contRightSlider: function() {
      this.$parent.contRightSlider(); //调用父级方法，收起子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    }, // end WarnGameTip
    gotoEGameList: function(gameAPIVendor) {
      this.$router.push({
        name: 'eGameList',
        params: { gameAPIVendor: gameAPIVendor }
      });
    }
  }
};
</script>
