<template>
  <div class="intoList-box">
    <!-- <intro-list-show :GameList="this.GameList"></intro-list-show> -->
    <section class="tab-section">
      <ul class="tab-section-new">
        <li
          class="col-4 show"
          v-for="(gamelist,index) in GameList"
          v-bind:class="{'row-2 radius-top-left row-one': (index%7 == 0),'col-6': (index%7 == 5 || index%7 == 6)}"
        >
          <span
            class="maintain-box"
            v-show="gamelist.ApiStatus == '703'"
          >{{$t('lang.GAME_MAINTENANCE')}}</span>
          <a
            v-if="gamelist.has != true && gamelist.GameApiNo == '13'"
            @click="PlayGame(gamelist.GameApiNo,gamelist.GameTypeNo,gamelist.GameCode,'landscape');"
          >
            <img
              v-if="index%7 != 0"
              :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
            <img
              v-else
              :src="ResourceCDN+'/PartnerLogo/mobile-bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
          </a>
          <router-link
            v-else-if="gamelist.has != true && gamelist.GameTypeNo == 4"
            :to="{name: 'eGameList', params: { Data: gamelist.GameApiNo }}"
          >
            <img
              v-if="index%7 != 0"
              :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
            <img
              v-else
              :src="ResourceCDN+'/PartnerLogo/mobile-bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
          </router-link>
          <a
            v-else-if="gamelist.has != true"
            @click="PlayGame(gamelist.GameApiNo,gamelist.GameTypeNo,gamelist.GameCode);"
          >
            <img
              v-if="index%7 != 0"
              :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
            <img
              v-else
              :src="ResourceCDN+'/PartnerLogo/mobile-bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
          </a>
          <a v-else @click="contLeftSlider('pub-game', gamelist.GameApiNo)">
            <img
              v-if="index%7 != 0"
              :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
            <img
              v-else
              :src="ResourceCDN+'/PartnerLogo/mobile-bgdeep/v-logo'+gamelist.GameApiNo+'.png'"
            />
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';
import HttpService from 'scripts/common/HttpService';

export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      PoKerList: [],
      GameList: [],
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.Poker,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      }
    };
  },
  // components: {
  // 	IntroListShow
  // },
  created: function() {
    // this.JudgeGame(); // 2019.01.18 判断游戏是否维护中 SeyoChen
    // this.GetPoKerGame();
    const self = this;
    setTimeout(function() {
      self.GatGame();
    }, 50);
  },
  methods: {
    GetPoKerGame: function() {
      // if (localStorage.getItem('GameList') === null) {
      //   this.GatGame();
      //   return;
      // }
      // this.GameList = JSON.parse(localStorage.getItem('GameList'));
      this.JudgeFun();
      // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
      // for (let i = 0; i < this.GameList.length; i++) {
      //     if (this.GameList[i].GameTypeNo === 5 && this.GameList[i].GameApiNo === '33' &&this.GameList[i].ApiStatus !== 704) {
      //         this.PoKerList = this.GameList[i];
      //     }
      // }
    },
    // 遍历获取游戏列表
    GatGame: async function() {
      // 判断本地是否已经有缓存--获取
      const dataObj = {
        WGUID: '',
        GameTypeNo: '',
        PlatformType: BLDef.Paltform.Web_Mobile
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj);
      if (retData.Ret === 0) {
        for (let i = 0; i < retData.Data.GameAPIVerdorList.length; i++) {
          // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
          if (
            retData.Data.GameAPIVerdorList[i].IsH5Support === 1 &&
            retData.Data.GameAPIVerdorList[i].ApiStatus !== 704
          ) {
            this.GameList.push(retData.Data.GameAPIVerdorList[i]);
          }
        }
        localStorage.setItem('GameList', JSON.stringify(this.GameList));
      }
      this.GetPoKerGame();
    },

    // 判断是否存在其他种类游戏 2019.03.23 SeyoChen
    JudgeFun: function() {
      const data = JSON.parse(localStorage.getItem('GameList'));
      let temp = [];
      for (let i = 0; i < data.length; i++) {
        if (temp.indexOf(data[i].GameApiNo) == -1) {
          temp.push(data[i].GameApiNo);
        } else {
          // 排除欧博 电子游戏 2019.04.11 SeyoChen end
          this.GameList[i].other = true;
          this.GameList[i - 1].has = true;
        }
      }

      for (let i = 0; i < this.GameList.length; i++) {
        // 排除欧博 电子游戏 2019.04.11 SeyoChen
        if (
          this.GameList[i].GameApiNo == '2' &&
          this.GameList[i].GameTypeNo == '1'
        ) {
          this.GameList[i].other == false;
          this.GameList[i].has = false;
        }

        // 出现相同厂商的游戏类型（真人，电子，棋牌）需要合并成为一个合集
        if (this.GameList[i].other == true) {
          this.GameList.splice(i, 1);
          i--;
        }
      }
    },
    // 判断是否存在其他种类游戏 2019.03.23 SeyoChen end

    contLeftSlider: function(id, GameApiNo) {
      this.$parent.contLeftSlider(id, GameApiNo); //调用父级方法，展开子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode, orientation) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode, orientation); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    }, // end WarnGameTip

    // 2018.10.15 动画加载 SeyoChen
    // 堆叠效果1
    // AnimationFun: function () {
    // 	$('.tab-section').css('padding-top','10rem');
    // 	$('.tab-section').css('opacity','0');
    // 	var i = 1;
    // 	$('.tab-section').each(function () {
    // 		$(this).fadeIn();
    // 		$(this).animate({padding:'0',opacity:'1'}, i*100);
    // 		i++;
    // 	});
    // }
    // 缓慢显示效果2
    AnimationFun: function() {
      $('.tab-section a').css('opacity', '0');
      var i = 1;
      $('.tab-section li').each(function() {
        // $(this).addClass('show');
        $(this)
          .find('a')
          .animate({ opacity: '1' }, i * 150);
        i++;
      });
    }
    // 2018.10.15 动画加载 SeyoChen end
  },
  mounted: function() {
    this.AnimationFun();
  }
};
</script>
