<template>
  <div>
    <section class="tab-section">
      <ul>
        <li class="col-4 row-2 radius-top-left">
          <a @click="PlayGame('KY','Poker');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/ky_logo.png'"
            />
            <i>{{$t('lang.GAME_CHESS')}}</i>
          </a>
        </li>
        <li class="col-4 row-3">
          <a @click="PlayGame('KingLong','EGames','320');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/kinglong-logo1.png'"
            />
            <!--<i>金龙</i>-->
          </a>
        </li>
        <li class="col-4 row-3 radius-top-right">
          <a v-on:click="PlayGame('QT','EGames','AUG-3treasures');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/qt_logo.png'"
            />
          </a>
        </li>
        <li class="col-4 row-3">
          <a v-on:click="PlayGame('SG','eGame','S-FO01');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/eGame/sg_logo.png'"
              style="height: 2.2rem;margin-top: .3rem;"
            />
          </a>
        </li>
        <li class="col-4">
          <a @click="PlayGame('MG1','EGames','1302-1001')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/mg_logo.png'"
            />
            <i>{{$t('lang.GAME_TIGER')}}</i>
          </a>
        </li>
      </ul>
    </section>
    <section class="tab-section">
      <ul>
        <li class="col-6 row-3">
          <a @click="PlayGame('IMSB','EGames','imgame18002')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/red_tiger_logo.png'"
              style="height: 3rem;margin-top: .2rem;"
            />
          </a>
        </li>
        <li class="col-6 row-3">
          <a @click="PlayGame('IMSB','EGames','imgame10144')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/toptrend_logo.png'"
              style="height: 3rem;margin-top: .2rem;"
            />
          </a>
        </li>
      </ul>
    </section>
    <section class="tab-section">
      <ul>
        <li class="col-4 row-2">
          <a @click="PlayGame('IMSB','EGames','imgame15153')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/winning_wg_logo.png'"
              style="width: 9rem; margin: 1.5rem 0 0 -1rem;"
            />
          </a>
        </li>
        <!--<li class="col-4">
					<a @click="PlayGame('IMSB','Sport')">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/im_logo2.png'">
						<i>IM体育</i>
					</a>
        </li>-->
        <li class="col-4 row-3">
          <a @click="PlayGame('IMSB','EGames','imgame13004')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/im/pragmatic_logo.png'"
            />
          </a>
        </li>
        <li class="col-4 row-3">
          <a @click="contLeftSlider('im')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/im_logo.png'"
            />
          </a>
        </li>
        <li class="col-4 row-3">
          <a v-on:click="PlayGame('DT','EGames','wrathofthor');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/dt_logo.png'"
            />
          </a>
        </li>
        <li class="col-4 row-3">
          <a v-on:click="PlayGame('BBIN','Undefine','Ltlottery');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/bbin/bbin_logo.png'"
            />
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';

export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  methods: {
    contLeftSlider: function(id) {
      this.$parent.contLeftSlider(id); //调用父级方法，展开子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    }, // end WarnGameTip

    // 2018.10.15 动画加载 SeyoChen
    // 堆叠效果1
    // AnimationFun: function () {
    // 	$('.tab-section').css('padding-top','10rem');
    // 	$('.tab-section').css('opacity','0');
    // 	var i = 1;
    // 	$('.tab-section').each(function () {
    // 		$(this).fadeIn();
    // 		$(this).animate({padding:'0',opacity:'1'}, i*100);
    // 		i++;
    // 	});
    // }
    // 缓慢显示效果2
    AnimationFun: function() {
      $('.tab-section a').css('opacity', '0');
      var i = 1;
      $('.tab-section li').each(function() {
        // $(this).fadeIn();
        $(this)
          .find('a')
          .animate({ opacity: '1' }, i * 150);
        i++;
      });
    }
    // 2018.10.15 动画加载 SeyoChen end
  },
  mounted: function() {
    this.AnimationFun();
  }
};
</script>
