<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="MarqueeModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{ $t("lang.MESSAGE_TITLE") }}</h4>
            <a
              class="modal-close"
              @click="WebCloseMessage()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close2.png)'}"
            ></a>
          </div>
          <div class="modal-body">
            <section class="msg-list" v-if="MarqueeList.length > 0">
              <div class="load-text" v-show="ShowLoading"></div>
              <ul>
                <li
                  class="msg-list-li"
                  v-for="(MarqueeData, index) in this.MarqueeList"
                  :key="index"
                  @click="BindMore(MarqueeData, index)"
                  :class="{ open: ListOpen === index }"
                >
                  <div class="msg">
                    <div class="bodyFont clearfloat" :class="{bodyHeight: ListOpen !== index}">
                      <p class="title">{{ MarqueeData.Title }}</p>
                      <p class="content-title">{{ MarqueeData.Title }}</p>
                      <p class="time" v-if="!ShowLoading">
                        {{
                        MarqueeData.CreateDateTick
                        | utcTicksToLocalTime(
                        "YYYY/MM/DD HH:mm:ss"
                        )
                        }}
                      </p>
                      <div class="content-text" v-if="!ShowLoading" v-html="MarqueeData.Html"></div>
                    </div>
                    <div class="more" :class="{close: ListOpen === index}">
                      <em
                        class="icon-more"
                        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_more1.png?1)'}"
                      ></em>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<style>
@import '~styles/custom/jquery.shCircleLoader.css';
</style>

<script>
import moment from 'moment';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import HttpService from 'scripts/common/HttpService';
import 'scripts/custom/jquery.shCircleLoader';

export default {
  props: {
    HaveEnter: false
  },
  data() {
    return {
      MarqueeList: [], //信息列表
      QueryConditions: {
        WGUID: this.$WGUID,
        PagingInfo: {
          PageNo: 1,
          PageSize: 10000
        }
      },
      ShowLoading: true,
      ListOpen: undefined //信息列表是否展开
    };
  },
  // computed: {
  //   IsFirstEnter() {
  //     return this.$store.state.marquee.isFirstEnter;
  //   }
  // },
  created: function() {
    this.Looad();
    this.GetMarqueeList();
    this.$nextTick(() => {
      $('.load-text').shCircleLoader({
        dots: 8,
        keyframes:
          '0% {background:#555555;{prefix}transform: scale(.6)} 40% {background:#8e8e8e;{prefix}transform: scale(.6)} 60% {background:#c7c7c7;{prefix}transform: scale(.6)} 100% {background:#555555;{prefix}transform: scale(.6)}'
      });
    });

    EventBus.$on('MarqueeListItemId', data => {
      this.FindListItemIndex(data);
      $('#MarqueeModal').modal('show');
    });

    EventBus.$on('UpdateMarqueeList', data => {
      this.GetMarqueeList();
    });
  },
  methods: {
    Looad: function() {
      this.$nextTick(function() {
        // 弹窗居中
        $('#MarqueeModal').on('show.bs.modal', function() {
          $(this).css('display', 'block');
          var ModalHeight =
            $(window).height() / 2 -
            $('#MarqueeModal .modal-dialog').height() / 2;
          // 避免margin-top为负数导致顶部遮挡 20191011 ququ
          if (ModalHeight < 20) {
            ModalHeight = 20;
          }
          // 避免margin-top为负数导致顶部遮挡 20191011 ququ end
          $(this)
            .find('.modal-dialog')
            .css({
              'margin-top': ModalHeight
            });
        });
      });
    },
    //获取列表
    GetMarqueeList: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await CommonService.Comm_GetAnnouncementInfo(
        this.QueryConditions
      );
      console.log('====================GetMarqueeList');
      console.log(data);

      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.MarqueeList = data.Data.List;
        // 首次进入页面弹出公告弹窗
        this.$nextTick(() => {
          if (
            sessionStorage.getItem('IsFirstEnter') === '' ||
            sessionStorage.getItem('IsFirstEnter') === null ||
            sessionStorage.getItem('IsFirstEnter') === undefined
          ) {
            if (data.Data.List.length > 0) {
              // 出现弹窗时，就必须同时出现第一则公告内文
              this.BindMore(this.MarqueeList[0], 0);
              $('#MarqueeModal').modal('show');
            }
            sessionStorage.setItem('IsFirstEnter', 'NO');
            // this.$store.dispatch('marquee/setIsFirstEnterVal', false);
          }
        });
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    // 根据ID查找该条数据在公告列表中的index
    FindListItemIndex: function(id) {
      for (let index = 0; index < this.MarqueeList.length; index++) {
        if (this.MarqueeList[index].ID == id) {
          this.BindMore(this.MarqueeList[index], index);
          this.$nextTick(() => {
            let mainContainer = $('#MarqueeModal').find('.modal-body'), //父级容器
              scrollToContainer = $('#MarqueeModal')
                .find('.msg-list-li')
                .eq(index); //指定的class
            mainContainer.animate(
              {
                scrollTop:
                  scrollToContainer.offset().top -
                  mainContainer.offset().top +
                  mainContainer.scrollTop()
              },
              500
            );
          });
          return;
        }
      }
    },
    //阅读全文
    BindMore: async function(data, index) {
      if (this.ListOpen === index) {
        this.ListOpen = undefined;
      } else {
        $('.load-text').css('top', 2.7 * (index + 1) + 'rem');
        this.ListOpen = index;
        this.ShowLoading = true;
        if (
          data.HtmlAddress === '' ||
          data.HtmlAddress === null ||
          data.HtmlAddress === undefined
        ) {
          this.ShowLoading = false;
          // this.MarqueeList[index].Html = this.MarqueeList[index].Title;
          return;
        }
        console.log('============temp');
        console.log(this.$ResourceURL);
        console.log(this.$ResourceURL + data.HtmlAddress);
        const temp = await HttpService.GetContent(
          this.$ResourceURL + data.HtmlAddress
        );
        this.MarqueeList[index].Html = temp;
        this.ShowLoading = false;
      }
    },
    WebCloseMessage: function() {
      $('#MarqueeModal').modal('hide');
      $('.modal-body').animate({ scrollTop: 0 }, 500);
      this.ListOpen = undefined;
    }
  },
  beforeDestroy() {
    EventBus.$off('MarqueeListItemId');
  }
};
</script>
