<!--跑馬燈-->
<!--
<template>
	<div id="marquee"></div>
</template>

<script>
    import 'jquery.marquee';
    import moment from 'moment';
    import BLDef from 'scripts/common/BLDef';
    import CommUtility from 'scripts/common/CommUtility';
    import EventBus from 'scripts/common/EventBus';
    import CommonService from 'scripts/businessLogic/commonService';

    export default {
        data() {
            return {
                MQTimer: undefined,
                MarqueeKey: 'webMarquee',
                MarqueeFlag: undefined,
                MarqueeStartTick: +Infinity,
            };
        },
        props: {
            IsLogin: undefined
        },
        created: async function () { 
            const self = this;
            EventBus.$on('SignalR_MaintenanceFinish_Notify', (data) => {
                self.MaintenanceFinishNotify(data);
            });
            EventBus.$on('SignalR_UpdateMarquee', (data) => {
                this.MarqueeStartTick = +Infinity;
                self.UpdateMarquee(data);
            });
        },
        methods: {
            BindMarqueeEvent: function () {
                const self = this; 
                self.MarqueeFlag = true;
                $('#marquee').bind('finished', function () {
                    const continueFlag = self.checkMarquee();
                    if (continueFlag === false) {
                        $(this).marquee('destroy');
                        self.MarqueeFlag = false; 
                        self.DealMarqueeData();
                    } else {
                        $(this).marquee({ speed: 15, delayBeforeStart: 100 });
                    }
                }).marquee({ speed: 15, delayBeforeStart: 100 });
            },
            GetMarqueeData: async function () {
                const data = await CommonService.Comm_GetMarqueeInfo();
                if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
                    localStorage.setItem(this.MarqueeKey, JSON.stringify(data.Data.MarqueeList));                 
                } 
            },
            // 處理跑馬燈資料
            DealMarqueeData: function () {
                const self = this;          
                // 取得storage中的跑馬燈資訊            
                const playFlag = self.checkMarquee();

                if (playFlag === true) {
                    this.BindMarqueeEvent();
                } else {
                    if (this.MarqueeStartTick != +Infinity ) {
                        this.MQTimer = setTimeout(this.DealMarqueeData, this.MarqueeStartTick);
                    }                    
                }
            },
            // 檢查跑馬燈
            checkMarquee: function () {
                const marqueeStr = localStorage.getItem(this.MarqueeKey);
                if (marqueeStr) {
                    const marqueeList = JSON.parse(marqueeStr);
                    const marqueeKeepArray = [];                    
                    let playString = '';

                    // 組成跑馬燈內容
                    for (let i = 0, len = marqueeList.length; i < len; i += 1) {
                        const blockString = i == marqueeList.length - 1 ? '' : '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                        const Item = marqueeList[i];
                        if ((Item.StartTick < moment().valueOf() && Item.EndTick > moment().valueOf()) || Item.IsRemoveByTime === false) {
                            marqueeKeepArray.push(Item);

                            switch (Item.Type) {
                                // 緊急公告
                                case BLDef.BroadcastMsgType.EMERGENCY:
                                    playString = playString + Item.Msg + blockString;
                                    break;
                                // 維護
                                case BLDef.BroadcastMsgType.MAINTAIN:
                                    playString = playString + Item.Msg
                                        .replace('{StartTime}', CommUtility.UtcTicksToLocalTime(Item.StartTick, 'YYYY/MM/DD HH:mm:ss'))
                                        .replace('{EndTime}', CommUtility.UtcTicksToLocalTime(Item.EndTick, 'YYYY/MM/DD HH:mm:ss')) + blockString;
                                    break;
                                default:
                                    break;
                            } // end switch
                        } else if (Item.StartTick > moment().valueOf()) {
                            marqueeKeepArray.push(Item);

                            // 判斷最近要觸發的跑馬燈倒數時間
                            if ( this.MarqueeStartTick > (Item.StartTick - moment().valueOf())) {
                                this.MarqueeStartTick = Item.StartTick - moment().valueOf() + 1000;
                            } // end if
                        }
                    }

                    localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));
                    // 將文字丟到跑馬燈上
                    $('#marquee').text(playString);

                    // 更新storage跑馬燈資訊
                    if (playString) {
                        return true;
                    }

                    // 沒有跑馬燈就移除localStorage
                    if (marqueeKeepArray.length == 0) {
                        this.MarqueeStartTick = +Infinity;
                        localStorage.removeItem(this.MarqueeKey);
                    }// end if
                }                
                            
                return false;
            },
            // signalr通知新的跑馬燈部分
            UpdateMarquee: async function () {                     
                await this.GetMarqueeData();
                if (this.MarqueeFlag !== true) {
                    clearTimeout(this.MQTimer);
                    this.DealMarqueeData();
                } 
            },
            // signalr結束維護通知
            MaintenanceFinishNotify: function (data) {
                if (data.Data.MarqueeMessage.ID && data.Data.MarqueeMessage.Type == BLDef.BroadcastMsgType.MAINTAIN) {
                    const playArray = [];
                    let marqueeList = [];
                    const marqueeStr = localStorage.getItem(this.MarqueeKey);
                    if (marqueeStr) {
                        marqueeList = JSON.parse(marqueeStr);
                    }

                    // 更新跑馬燈列表
                    for (let i = 0; i < marqueeList.length; i++) {
                        if (!marqueeList[i].ID || marqueeList[i].ID != data.Data.MarqueeMessage.ID) {
                            playArray.push(marqueeList[i]);
                        }
                    }

                    localStorage.setItem(this.MarqueeKey, JSON.stringify(playArray));
                }
            }
        },
        watch: {
            IsLogin: async function () {    
                if (this.IsLogin === true) {
                    await this.GetMarqueeData();
                    this.DealMarqueeData();
                }
            }
        },
        beforeDestroy() {
            EventBus.$off('SignalR_MaintenanceFinish_Notify');
            EventBus.$off('SignalR_UpdateMarquee');
        }
    };
</script>-->

<template>
  <div id="marquee">
    <div class="slideTxtBox">
      <div class="bd">
        <ul>
          <li v-for="(item, index) in marqueeShowList" :key="index" @click="OpenMarqueeModal(item)">
            <a>{{ item.Msg }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style>
.slideTxtBox {
  float: left;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  overflow: hidden;
}
.slideTxtBox ul {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
}
.slideTxtBox li {
  float: none !important;
}
</style>

<script>
import '@/assets/scripts/custom/jquery.SuperSlide.2.1.3';
import moment from 'moment';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  data() {
    return {
      MQTimer: undefined,
      MarqueeKey: 'webMarquee',
      MarqueeFlag: undefined,
      MarqueeStartTick: +Infinity,
      marqueeShowList: []
    };
  },
  // props: {
  //     IsLogin: undefined
  // },
  created: async function() {
    const self = this;
    EventBus.$on('SignalR_MaintenanceFinish_Notify', data => {
      self.MaintenanceFinishNotify(data);
    });
    EventBus.$on('SignalR_UpdateMarquee', data => {
      this.MarqueeStartTick = +Infinity;
      self.UpdateMarquee(data);
    });

    // 2018.10.26 SeyoChen 修改需求--没有登录依然可以看跑马灯
    await this.GetMarqueeData();
    this.DealMarqueeData();
  },
  methods: {
    // 打开公告信息弹窗 20191012 ququ
    OpenMarqueeModal: function(item) {
      if (item.IsAnnouncement) {
        EventBus.$emit('MarqueeListItemId', item.ID);
      }
    },
    // BindMarqueeEvent: function () {
    //     const self = this;
    //     self.MarqueeFlag = true;
    //     $('#marquee').bind('finished', function () {
    //         const continueFlag = self.checkMarquee();
    //         if (continueFlag === false) {
    //             $(this).marquee('destroy');
    //             self.MarqueeFlag = false;
    //             self.DealMarqueeData();
    //         } else {
    //             $(this).marquee({ speed: 15, delayBeforeStart: 100 });
    //         }
    //     }).marquee({ speed: 15, delayBeforeStart: 100 });
    // },
    BindMarqueeEvent: function() {
      const self = this;
      self.MarqueeFlag = true;
      const continueFlag = self.checkMarquee();
      if (continueFlag === false) {
        self.MarqueeFlag = false;
        self.DealMarqueeData();
      } else {
        this.$nextTick(function() {
          $('.slideTxtBox').slide({
            mainCell: '.bd ul',
            effect: 'topLoop',
            autoPlay: true,
            interTime: 5000,
            mouseOverStop: false // 去掉此属性移动端点击后停止滚动 2019.11.25 ququ
          });
        });
      }
    },
    GetMarqueeData: async function() {
      const dataObj = {
        WGUID: this.$WGUID
      };
      const data = await CommonService.Comm_GetMarqueeInfo(dataObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        localStorage.setItem(
          this.MarqueeKey,
          JSON.stringify(data.Data.MarqueeList)
        );
      }
    },
    // 處理跑馬燈資料
    DealMarqueeData: function() {
      const self = this;
      // 取得storage中的跑馬燈資訊
      const playFlag = self.checkMarquee();

      if (playFlag === true) {
        this.BindMarqueeEvent();
      } else {
        if (this.MarqueeStartTick != +Infinity) {
          this.MQTimer = setTimeout(
            this.DealMarqueeData,
            this.MarqueeStartTick
          );
        }
      }
    },
    // 檢查跑馬燈
    // checkMarquee: function () {
    //     const marqueeStr = localStorage.getItem(this.MarqueeKey);
    //     if (marqueeStr) {
    //         const marqueeList = JSON.parse(marqueeStr);
    //         const marqueeKeepArray = [];
    //         let playString = '';

    //         // 組成跑馬燈內容
    //         for (let i = 0, len = marqueeList.length; i < len; i += 1) {
    //             const blockString = i == marqueeList.length - 1 ? '' : '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
    //             const Item = marqueeList[i];
    //             if ((Item.StartTick < moment().valueOf() && Item.EndTick > moment().valueOf()) || Item.IsRemoveByTime === false) {
    //                 marqueeKeepArray.push(Item);

    //                 switch (Item.Type) {
    //                     // 緊急公告
    //                     case BLDef.BroadcastMsgType.EMERGENCY:
    //                         playString = playString + Item.Msg + blockString;
    //                         break;
    //                     // 維護
    //                     case BLDef.BroadcastMsgType.MAINTAIN:
    //                         playString = playString + Item.Msg
    //                             .replace('{StartTime}', CommUtility.UtcTicksToLocalTime(Item.StartTick, 'YYYY/MM/DD HH:mm:ss'))
    //                             .replace('{EndTime}', CommUtility.UtcTicksToLocalTime(Item.EndTick, 'YYYY/MM/DD HH:mm:ss')) + blockString;
    //                         break;
    //                     default:
    //                         break;
    //                 } // end switch
    //             } else if (Item.StartTick > moment().valueOf()) {
    //                 marqueeKeepArray.push(Item);

    //                 // 判斷最近要觸發的跑馬燈倒數時間
    //                 if ( this.MarqueeStartTick > (Item.StartTick - moment().valueOf())) {
    //                     this.MarqueeStartTick = Item.StartTick - moment().valueOf() + 1000;
    //                 } // end if
    //             }
    //         }

    //         localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));
    //         // 將文字丟到跑馬燈上
    //         $('#marquee').text(playString);

    //         // 更新storage跑馬燈資訊
    //         if (playString) {
    //             return true;
    //         }

    //         // 沒有跑馬燈就移除localStorage
    //         if (marqueeKeepArray.length == 0) {
    //             this.MarqueeStartTick = +Infinity;
    //             localStorage.removeItem(this.MarqueeKey);
    //         }// end if
    //     }

    //     return false;
    // },
    // 檢查跑馬燈
    checkMarquee: function() {
      const marqueeStr = localStorage.getItem(this.MarqueeKey);
      this.marqueeShowList = [];
      if (marqueeStr) {
        const marqueeList = JSON.parse(marqueeStr);
        let marqueeKeepArray = [];

        // 組成跑馬燈內容
        for (let i = 0, len = marqueeList.length; i < len; i += 1) {
          const Item = marqueeList[i];
          if (
            (Item.StartTick < moment().valueOf() &&
              Item.EndTick > moment().valueOf()) ||
            Item.IsRemoveByTime === false
          ) {
            switch (Item.Type) {
              // 緊急公告
              case BLDef.BroadcastMsgType.EMERGENCY:
                Item.Msg = Item.Msg;
                break;
              // 維護
              case BLDef.BroadcastMsgType.MAINTAIN:
                Item.Msg = Item.Msg.replace(
                  '{StartTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.StartTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                ).replace(
                  '{EndTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.EndTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                );
                break;
              default:
                break;
            } // end switch
            if (this.JudgeSingleMarquee(Item.Msg) > 32) {
              let newArry = this.CuttingString(Item.Msg, 32);
              console.log('===========CuttingString1');
              console.log(newArry);
              marqueeKeepArray = marqueeKeepArray.concat(
                this.HandleMarqueeItem(newArry, Item)
              );
            } else {
              marqueeKeepArray.push(Item);
            }
          } else if (Item.StartTick > moment().valueOf()) {
            if (this.JudgeSingleMarquee(Item.Msg) > 32) {
              let newArry = this.CuttingString(Item.Msg, 32);
              console.log('===========CuttingString2');
              console.log(newArry);
              marqueeKeepArray = marqueeKeepArray.concat(
                this.HandleMarqueeItem(newArry, Item)
              );
            } else {
              marqueeKeepArray.push(Item);
            }

            // 判斷最近要觸發的跑馬燈倒數時間
            if (this.MarqueeStartTick > Item.StartTick - moment().valueOf()) {
              this.MarqueeStartTick =
                Item.StartTick - moment().valueOf() + 1000;
            } // end if
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));

        // 设置定时器到点进行加入相关的跑马灯 2019.12.02 ququ
        const nowTime = Date.parse(new Date());
        // let setTime = 0;
        console.log(nowTime);
        for (let i = 0; i < marqueeKeepArray.length; i++) {
          if (marqueeKeepArray[i].StartTick - nowTime > 0) {
            setTimeout(() => {
              this.checkMarquee();
            }, marqueeKeepArray[i].StartTick - nowTime);
          } else {
            this.marqueeShowList.push(marqueeKeepArray[i]);
          }
        }

        // 將文字丟到跑馬燈上
        // this.marqueeShowList = marqueeKeepArray;

        // 更新storage跑馬燈資訊
        if (marqueeKeepArray.length > 0) {
          return true;
        }

        // 沒有跑馬燈就移除localStorage
        if (marqueeKeepArray.length == 0) {
          this.MarqueeStartTick = +Infinity;
          localStorage.removeItem(this.MarqueeKey);
        } // end if
      }

      return false;
    },
    // 判断单条跑马灯字数 20191122 ququ
    JudgeSingleMarquee: function(str) {
      let str_length = str.length;
      let str_count = 0;
      for (let k = 0; k < str_length; k++) {
        let a = str.charAt(k);
        str_count++;
        if (escape(a).length > 4) {
          //中文字符的长度经编码之后大于4
          str_count++;
        }
      }
      return str_count;
    },
    // 处理单条跑马灯分割 20191012 ququ
    HandleMarqueeItem: function(marqueeItemArray, marqueeItem) {
      let array = new Array();
      for (let index = 0; index < marqueeItemArray.length; index++) {
        const obj = {
          EndTick: marqueeItem.EndTick,
          ID: marqueeItem.ID,
          IsAnnouncement: marqueeItem.IsAnnouncement,
          IsRemoveByTime: marqueeItem.IsRemoveByTime,
          Msg: marqueeItemArray[index],
          Priority: marqueeItem.Priority,
          StartTick: marqueeItem.StartTick,
          Type: marqueeItem.Type,
          UpdateTick: marqueeItem.UpdateTick
        };
        array.push(obj);
      }
      return array;
    },
    // 切割字符串 str为字符串，num为切割长度,中文按两个字符计算 20191012 ququ
    CuttingString: function(str, num) {
      let str_length = 0;
      let array = new Array();
      let len;
      let str_count = 0;
      for (let k = 0; k < str.length; k++) {
        let a = str.charAt(k);
        str_count++;
        if (escape(a).length > 4) {
          //中文字符的长度经编码之后大于4
          str_count++;
        }
      }
      len = str_count;
      for (let i = 0; i < len / num; i++) {
        let start = str_length;
        let end = str_length + num > len ? len + 1 : str_length + num;
        console.log(start, end);
        let str1 = str.substring(start, end);
        console.log(str1);
        let str_cut = new String();
        let count = 0;
        for (let j = 0; j < str1.length; j++) {
          let a = str1.charAt(j);
          count++;
          if (escape(a).length > 4) {
            //中文字符的长度经编码之后大于4
            count++;
          }
          str_cut = str_cut.concat(a);
          if (count >= num) {
            str_cut = str_cut.concat('');
            array.push(str_cut);
            str_length += str_cut.length;
            break;
          }
        }
        if (count < num) {
          array.push(str_cut);
          break;
        }
        console.log(str_length);
      }
      return array;
    },
    // signalr通知新的跑馬燈部分
    UpdateMarquee: async function() {
      await this.GetMarqueeData();
      if (this.MarqueeFlag !== true) {
        clearTimeout(this.MQTimer);
        this.DealMarqueeData();
      }
    },
    // signalr結束維護通知
    MaintenanceFinishNotify: function(data) {
      if (
        data.Data.MarqueeMessage.ID &&
        data.Data.MarqueeMessage.Type == BLDef.BroadcastMsgType.MAINTAIN
      ) {
        const playArray = [];
        let marqueeList = [];
        const marqueeStr = localStorage.getItem(this.MarqueeKey);
        if (marqueeStr) {
          marqueeList = JSON.parse(marqueeStr);
        }

        // 更新跑馬燈列表
        for (let i = 0; i < marqueeList.length; i++) {
          if (
            !marqueeList[i].ID ||
            marqueeList[i].ID != data.Data.MarqueeMessage.ID
          ) {
            playArray.push(marqueeList[i]);
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(playArray));
      }
    }
  },
  // watch: {
  //     IsLogin: async function () {
  //         if (this.IsLogin === true) {
  //             await this.GetMarqueeData();
  //             this.DealMarqueeData();
  //         }
  //     }
  // },
  beforeDestroy() {
    EventBus.$off('SignalR_MaintenanceFinish_Notify');
    EventBus.$off('SignalR_UpdateMarquee');
  }
};
</script>
