<template>
  <div id="pt" class="cont-item" style="display: none;">
    <div class="header-row">
      <a href="javascript:void(0)" @click="contRightSlider()" class="back-right-btn">
        <i></i>
      </a>
      <img
        class="titlt-logo"
        :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/pt_logo.png'"
      />
    </div>
    <section class="tab-section">
      <ul>
        <li class="col-4">
          <a v-on:click="PlayGame('PT','LiveVideo')">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/live_logo.png'"
            />
            <p>{{$t('lang.GAME_VIDEO_PT')}}</p>
          </a>
        </li>
        <li class="col-4">
          <router-link :to="{name: 'eGameList', params: { Data: '3' }}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/game_logo.png'"
            />
            <p>{{$t('lang.GAME_ELECTRONIC_PT')}}</p>
          </router-link>
        </li>
        <!-- <li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/iphone_logo.png'">
						<p>PT体育博彩</p>
					</a>
				</li>
				<li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/fish_logo.png'">
						<p>PT捕鱼</p>
					</a>
				</li>
				<li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/lettery_logo.png'">
						<p>PT彩票</p>
					</a>
        </li>-->
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  methods: {
    contRightSlider: function() {
      this.$parent.contRightSlider(); //调用父级方法，收起子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    } // end WarnGameTip
  }
};
</script>
