<template>
  <div id="pub-game" class="cont-item" style="display: none;">
    <div class="header-row">
      <a href="javascript:void(0)" @click="contRightSlider()" class="back-right-btn">
        <i></i>
      </a>
    </div>
    <section class="tab-section">
      <ul>
        <li class="col-4" v-for="(item, index) in GameListType">
          <span
            class="maintain-box"
            v-show="item.GameTypeState == '703'"
          >{{$t('lang.GAME_MAINTENANCE')}}</span>
          <a v-if="item.GameTypeNo == 1" v-on:click="PlayGame(item.GameApiNo, item.GameTypeNo)">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/live_logo.png'"
            />
            <p>{{item.GameApiName}} {{$t('lang.GAME_LIVE_VIDEO')}}</p>
          </a>
          <a v-if="item.GameTypeNo == 2 && item.GameApiNo == '15'" @click="PlayBBINGame()">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/iphone_logo.png'"
            />
            <p>{{item.GameApiName}} {{$t('lang.GAME_SPORTS')}}</p>
          </a>
          <a v-if="item.GameTypeNo == 3" v-on:click="PlayPokerGame(item.GameApiNo);">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/lottery_logo.png'"
            />
            <p>{{item.GameApiName}} {{$t('lang.GAME_LOTTERY')}}</p>
          </a>
          <router-link
            v-if="item.GameTypeNo == 4"
            :to="{name: 'eGameList', params: { Data: item.GameApiNo }}"
          >
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/game_logo.png'"
            />
            <p>{{item.GameApiName}} {{$t('lang.GAME_ELECTRONIC')}}</p>
          </router-link>
          <a v-if="item.GameTypeNo == 5" v-on:click="PlayPokerGame(item.GameApiNo);">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/game/fish_logo1.png'"
            />
            <p>{{item.GameApiName}} {{$t('lang.GAME_POKER')}}</p>
          </a>
        </li>
        <!-- <li class="col-4">
					<router-link :to="{name: 'eGameList', params: { Data: '3' }}">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/game_logo.png'">
						<p>电子游戏</p>
					</router-link>
        </li>-->
        <!-- <li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/iphone_logo.png'">
						<p>PT体育博彩</p>
					</a>
				</li>
				<li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/fish_logo.png'">
						<p>PT捕鱼</p>
					</a>
				</li>
				<li class="col-4">
					<a @click="WarnGameTip()">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/pt/lettery_logo.png'">
						<p>PT彩票</p>
					</a>
        </li>-->
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef";
import Vue from "vue";
import URLService from "scripts/common/URLService";
import CommUtility from "scripts/common/CommUtility";

export default {
  props: {
    GameApiNo: undefined
  },
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      // 游戏种类 2019.03.23 SeyoChen
      GameListType: [],
      GameData: {
        GameAPIVendor: undefined,
        GameCode: "",
        GameCatlog: BLDef.GameCatlogType.Poker,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      }
    };
  },
  methods: {
    contRightSlider: function() {
      this.$parent.contRightSlider(); //调用父级方法，收起子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    GameTip: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.GameTip(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，提示弹窗
    }, // end GameTip
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    }, // end WarnGameTip

    // 2019.03.23 SeyoChen 棋牌游戏
    PlayPokerGame: function(gameList) {
      this.GameData.GameAPIVendor = gameList;
      localStorage.setItem(
        "PlayGamePostData",
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      // if (this.GameData.GameAPIVendor == '4' || this.GameData.GameAPIVendor == '15') {
      //     CommUtility.OpenPlayGameWindow('playGame');
      //     return;
      // }
      // this.$router.push({ name: 'playGame'})
      CommUtility.OpenPlayGameWindow("playGameBackIndex");
    }, // end PlayGame
    // 2019.03.23 SeyoChen BBIN体育游戏
    PlayBBINGame: function() {
      const dataObj = {
        GameAPIVendor: BLDef.GameApiType.BBIN,
        GameCode: "ball",
        GameCatlog: BLDef.GameCatlogType.Undefine,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      };
      localStorage.setItem(
        "PlayGamePostData",
        URLService.GetUrlParameterFromObj(dataObj)
      );
      // this.$router.push({ name: 'playGame'})
      CommUtility.OpenPlayGameWindow("playGameBackIndex");
    },

    // 2019.03.23 SeyoChen 更新数据
    RefreashFun: function() {
      const GameList = JSON.parse(localStorage.getItem("GameList"));
      this.GameListType = [];
      for (let i = 0; i < GameList.length; i++) {
        if (GameList[i].GameApiNo == this.GameApiNo) {
          this.GameListType.push(GameList[i]);
        }
      }
    }
  },
  watch: {
    GameApiNo: function() {
      this.RefreashFun();
    }
  }
};
</script>
