<template>
  <!-- 免费试玩弹窗提示 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="themeModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.THEME_CHOOSE')}}</h4>
          </div>
          <div class="modal-body">
            <ul class="icon-theme-list">
              <!--动漫背景-->
              <!-- <li data="theme-one-green">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_bg.jpg'">
								<p>月影雪子</p>
              </li>-->
              <li data="theme-one-green-real">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_bg.jpg'"
                />
                <p>{{$t('lang.THEME_DREAM_SNOW')}}</p>
              </li>
              <li data="theme-one-gold">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_bg.jpg'"
                />
                <p>{{$t('lang.THEME_DRUNK_DANCER')}}</p>
              </li>
              <li data="theme-one-blue">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_bg.jpg'"
                />
                <p>{{$t('lang.THEME_BLUE_NIGHT')}}</p>
              </li>
              <!-- <li data="theme-one-red">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_bg.jpg'">
								<p>樱雨雪薰</p>
              </li>-->
              <!--真人背景-->
              <li data="theme-one-orange-real">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_bg.jpg'"
                />
                <p>{{$t('lang.THEME_MAPLE_SKY')}}</p>
              </li>
              <!-- <li data="theme-one-violet-real">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_bg.jpg'">
								<p>秋风水晶</p>
              </li>-->
              <li data="theme-one-blue-real" style="clear: left;">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_bg.jpg'"
                />
                <p>{{$t('lang.THEME_MIDNIGHR_PARIS')}}</p>
              </li>
              <!--真人背景-->
              <li data="theme-one-violet">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_bg.jpg'"
                />
                <p>{{$t('lang.THEME_WIND_MADE')}}</p>
              </li>
              <li data="theme-one-orange">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_bg.jpg'"
                />
                <p>{{$t('lang.THEME_KISS_SNOW')}}</p>
              </li>

              <!--真人背景-->
              <li data="theme-one-red-real">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_bg.jpg'"
                />
                <p>{{$t('lang.THEME_PINK_ROMANCE')}}</p>
              </li>
              <!-- <li data="theme-one-gold-real">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_bg.jpg'">
								<p>炫酷黑金</p>
              </li>-->

              <!-- <li data="theme-red">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_red_bg.jpg'">
								<p>红</p>
							</li>
							<li data="theme-blue">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_blue_bg.jpg'">
								<p>蓝</p>
							</li>
							<li data="theme-purple">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_purple_bg.jpg'">
								<p>紫</p>
							</li>
							<li data="theme-pink">
								<img class="col-12" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_pink_bg.jpg'">
								<p>绛</p>
							</li>
							<li data="theme-black">
								<div class="circle-black-bg"></div>
								<p>黑</p>
							</li>
							<li data="theme-brown">
								<div class="circle-brown-bg"></div>
								<p>棕</p>
              </li>-->
            </ul>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <div class="modal-footer-close" data-dismiss="modal" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close4.png)'}"></div>
    </div>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  created: function() {
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.bindSetTheme();
        this.ModalHeight();
      });
    },
    bindSetTheme: function() {
      $('.icon-theme-list li').click(function() {
        var that = $(this);
        var theme = that.attr('data');
        EventBus.$emit('SET_THEME', theme); //调用父级方法
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //主题
      $('#themeModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#themeModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    }
  }
};
</script>



