<template>
  <div id="tiger" class="cont-item hot-game" style="display: none;">
    <div class="header-row">
      <a href="javascript:void(0)" @click="contRightSlider()" class="back-right-btn">
        <i></i>
      </a>
      <h3>{{$t('lang.GAME_TIGER')}}</h3>
    </div>
    <section class="tab-section">
      <ul>
        <li v-for="list in this.TigerList" class="col-4" v-if="list.GameApiName == 'DT'">
          <i class="game-maintain" v-if="list.ApiStatus == 703">{{$t('lang.GAME_MAINTENANCE')}}</i>
          <a v-if="list.ApiStatus != 703" v-on:click="PlayGame('DT','EGames','wrathofthor');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/dt_logo.png'"
            />
          </a>
          <a v-else>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/dt_logo.png'"
            />
          </a>
        </li>
        <li v-for="list in this.TigerList" class="col-4" v-if="list.GameApiName == 'BBIN'">
          <i class="game-maintain" v-if="list.ApiStatus == 703">{{$t('lang.GAME_MAINTENANCE')}}</i>
          <a v-if="list.ApiStatus != 703" v-on:click="PlayGame('BBIN','EGames','5204');">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/video/bbin_logo.png'"
            />
          </a>
          <a v-else>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/video/bbin_logo.png'"
            />
          </a>
        </li>
        <li v-for="list in this.TigerList" class="col-4" v-if="list.GameApiName == 'QT'">
          <i class="game-maintain" v-if="list.ApiStatus == 703">{{$t('lang.GAME_MAINTENANCE')}}</i>
          <a
            v-if="list.ApiStatus != 703"
            v-on:click="PlayGame('QT','EGames','1X2-justicemachine');"
          >
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/qt_logo.png'"
            />
          </a>
          <a v-else>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/tiger/qt_logo.png'"
            />
          </a>
        </li>
        <li class="col-4">
          <a v-on:click="WarnGameTip();">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/video/mg_logo.png'"
            />
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';
import HttpService from 'scripts/common/HttpService';

export default {
  data() {
    return {
      GameList: [],
      TigerList: [],
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  created: function() {
    this.GetTigerGame();
  },
  methods: {
    GetTigerGame: function() {
      if (localStorage.getItem('GameList') === null) {
        this.GatGame();
        return;
      }
      this.GameList = JSON.parse(localStorage.getItem('GameList'));
      // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
      for (let i = 0; i < this.GameList.length; i++) {
        if (
          this.GameList[i].GameTypeNo === 4 &&
          this.GameList[i].ApiStatus !== 704
        ) {
          this.TigerList.push(this.GameList[i]);
        }
      }
    },
    // 遍历获取游戏列表
    GatGame: async function() {
      const dataObj = {
        WGUID: '',
        GameTypeNo: '',
        PlatformType: BLDef.Paltform.Web_Mobile
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子 5.棋牌
      const retData = await HttpService.PostDynamic(0, 214, dataObj);

      if (retData.Ret === 0) {
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }
      this.GetTigerGame();
    },
    contRightSlider: function() {
      this.$parent.contRightSlider(); //调用父级方法，收起子列表
    },
    PlayGame: function(gameAPIVendor, gameCatlog, gameCode) {
      this.$parent.PlayGame(gameAPIVendor, gameCatlog, gameCode); //调用父级方法，開新視窗
    }, // end PlayGame
    WarnGameTip: function() {
      this.$parent.WarnGameTip(); //调用父级方法，提示弹窗
    } // end WarnGameTip
  }
};
</script>
