<template>
  <div>
    <!-- 内容 -->
    <section class="msg-wrap modify-wrap tutorial-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>

      <article>
        <ul class="tab-head tab-head-deposit">
          <li
            :class="ModifyType===2 ?'active':''"
            @click="SwitchMode(2)"
            :style="{ backgroundImage: ModifyType===2 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.TUTORIAL_IOS')}}</li>
          <li
            :class="ModifyType===4 ?'active':''"
            @click="SwitchMode(4)"
            :style="{ backgroundImage: ModifyType===4 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
          >{{$t('lang.TUTORIAL_ANDROID')}}</li>
        </ul>
        <section class="tab-section">
          <!-- 苹果IOS -->
          <div v-if="ModifyType===2">
            <!-- <p>{{$t('lang.TUTORIAL_IOS_FIRST1')}}<label>{{$t('lang.TUTORIAL_IOS_FIRST2')}}</label>{{$t('lang.TUTORIAL_IOS_FIRST3')}}</p>
	            		<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_img1.png'" />
	            		<img class="mt-0" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_img2.png'" />
	            		<p>{{$t('lang.TUTORIAL_IOS_SECOND1')}}<label>{{$t('lang.TUTORIAL_IOS_SECOND2')}}</label>{{$t('lang.TUTORIAL_IOS_SECOND3')}}</p>
            <img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_img3.png'" />-->
            <p>
              {{$t('lang.TUTORIAL_IOS_THRID1')}}
              <label>{{$t('lang.TUTORIAL_IOS_THRID2')}}</label>
              {{$t('lang.TUTORIAL_IOS_THRID3')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_step1.png'"
            />
            <p>
              {{$t('lang.TUTORIAL_IOS_FOURTH1')}}
              <label>{{$t('lang.TUTORIAL_IOS_FOURTH2')}}</label>
              {{$t('lang.TUTORIAL_IOS_FOURTH3')}}
              <label>{{$t('lang.TUTORIAL_IOS_FOURTH4')}}</label>
              {{$t('lang.TUTORIAL_IOS_FOURTH5')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_and_ad_step2.png?VersionCode'"
            />
            <p>
              {{$t('lang.TUTORIAL_IOS_FIFTH1')}}
              <label>{{$t('lang.TUTORIAL_IOS_FIFTH2')}}</label>
              {{$t('lang.TUTORIAL_IOS_FIFTH3')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_step3.png?VersionCode'"
            />
            <p>
              {{$t('lang.TUTORIAL_IOS_SIXTH1')}}
              <label>{{$t('lang.TUTORIAL_IOS_SIXTH2')}}</label>
              {{$t('lang.TUTORIAL_IOS_SIXTH3')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_step4.png'"
            />
            <p>{{$t('lang.TUTORIAL_IOS_SEVENTH')}}</p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_and_ad_step5.png'"
            />
          </div>
          <!-- 安卓Android -->
          <div v-if="ModifyType===4">
            <!-- <p>{{$t('lang.TUTORIAL_ANDROID_FIRST1')}}<label>{{$t('lang.TUTORIAL_ANDROID_FIRST2')}}</label>{{$t('lang.TUTORIAL_ANDROID_FIRST3')}}</p>
	            		<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_img1.png'" />
	            		<img class="mt-0" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_img2.png'" />
	            		<p>{{$t('lang.TUTORIAL_ANDROID_SECOND1')}}<label>{{$t('lang.TUTORIAL_ANDROID_SECOND2')}}</label>{{$t('lang.TUTORIAL_ANDROID_SECOND3')}}</p>
            <img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ad_img1.png'" />-->
            <p>
              {{$t('lang.TUTORIAL_ANDROID_THRID1')}}
              <label>{{$t('lang.TUTORIAL_ANDROID_THRID2')}}</label>
              {{$t('lang.TUTORIAL_ANDROID_THRID3')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ad_step1.png'"
            />
            <p>
              {{$t('lang.TUTORIAL_ANDROID_FOURTH1')}}
              <label>{{$t('lang.TUTORIAL_ANDROID_FOURTH2')}}</label>
              {{$t('lang.TUTORIAL_ANDROID_FOURTH3')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_and_ad_step2.png?VersionCode'"
            />
            <p>
              {{$t('lang.TUTORIAL_ANDROID_FIFTH1')}}
              <label>{{$t('lang.TUTORIAL_ANDROID_FIFTH2')}}</label>
              {{$t('lang.TUTORIAL_ANDROID_FIFTH3')}}
              <label>{{$t('lang.TUTORIAL_ANDROID_FIFTH4')}}</label>
              {{$t('lang.TUTORIAL_ANDROID_FIFTH5')}}
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ad_step3.png?VersionCode'"
            />
            <p>
              {{$t('lang.TUTORIAL_ANDROID_SIXTH1')}}
              <label>{{$t('lang.TUTORIAL_ANDROID_SIXTH2')}}</label>
              {{$t('lang.TUTORIAL_ANDROID_SIXTH3')}}
              <br />
              <i>{{$t('lang.TUTORIAL_ANDROID_SIXTH4')}}</i>
            </p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ad_step4.png'"
            />
            <p>{{$t('lang.TUTORIAL_ANDROID_SEVENTH')}}</p>
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/ios_and_ad_step5.png'"
            />
          </div>
        </section>
      </article>
    </section>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import mainHeader from '@/components/mobile/sub/mainHeader';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.TUTORIAL_TITLE'),
      ModifyType: 2, //tab类型
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  methods: {
    SwitchMode: function(mode) {
      this.ModifyType = mode;
    }
  },
  components: {
    mainHeader
  }
};
</script>