@charset "utf-8";

/* 个人中心 */
.member-wrap .head-section {
    position: relative;
    padding: 2rem 3% 1rem;
    width: 94%;
    height: 6rem;
    display: inline-block;
}

.member-wrap .head-section .left {
    float: left;
    width: 20%;
    margin-right: 4%;
    margin-left: 3%;
}

.member-wrap .head-section .left img {
    width: 100%;
    border-radius: 100%;
}

.member-wrap .head-section p {
    color: #fffef9;
    font-size: 1rem;
    margin-bottom: 10px;
}

.member-wrap .head-section .left p {
    width: 5.6rem;
    text-align: center;
    -webkit-line-clamp: 1;
    display: block;
    white-space: nowrap;
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.member-wrap .head-section .fl {
    width: 73%;
}

.member-wrap .head-section .btn {
    background: none;
    border: 1px solid #d0ab83;
    width: auto;
    height: auto;
    color: #f5dbb5;
    font-size: 1rem;
    padding: .4rem .6rem;
    margin: 0 .4rem .6rem;
}

.member-wrap .head-section p .btn {
    margin-bottom: 0;
    margin-top: 1rem;
}

.member-wrap .head-section p .btn.btn-refresh {
    margin-top: 0;
    padding: .1rem .6rem;
    font-size: .9rem;
    line-height: normal;
}

.member-wrap .head-section .btn.btn-bind {
    background: #d0ab83;
    color: #FFFFFF;
}

.member-wrap .footer-section {
    display: inline-block;
    margin: 5%;
    padding: 1.3rem 2% 1.3rem;
    height: auto;
    margin-top: 1rem;
    background: rgba(0, 0, 0, .4);
    width: 90%;
    box-sizing: border-box;
}

.member-wrap .footer-section .left {
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
}

.member-wrap .footer-section .left img {
    width: 5.5rem;
    vertical-align: middle;
}

.member-wrap .footer-section .right {
    width: 67%;
    display: inline-block;
    vertical-align: middle;
}

.member-wrap .footer-section .right p {
    color: #e1c299;
    font-size: .9rem;
}

.member-wrap .footer-section .right .btn {
    background: none;
    border: 1px solid #e1c299;
    width: auto;
    height: auto;
    color: #e1c299;
    font-size: .9rem;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: normal;
}

/* tab按钮 */
.member-wrap .tab-section ul {
    display: flex;
    flex-wrap: wrap;
}

.member-wrap .tab-section li {
    width: 29.33%;
    margin-left: 3%;
    margin-bottom: 10px;
    float: left;
    padding: 1.2rem 3px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
}

.member-wrap .tab-section li img {
    width: 1.75rem;
}

.member-wrap .tab-section li p {
    color: #f5dbb5;
    font-size: .8125rem;
    margin-top: 5px;
}

/* 公告信息 */
.msg-wrap {
    // position: relative;
    padding-top: 3.5rem;
    // padding-bottom: 4rem;
}

.msg-wrap .error-row {
    height: 1rem;
}

.msg-wrap .error-row .error-tip {
    margin: 0;
    padding-top: 5px;
}

.msg-wrap .tab-section,
.recoed-wrap .tab-section {
    margin: 0 3%;
}

.msg-wrap .tab-section .btn,
.recoed-wrap .tab-section .btn {
    width: 49%;
    height: 2rem;
    line-height: 2rem;
    margin: 10px 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 1;
    float: left;
}

.msg-wrap .tab-section .btn-gold,
.recoed-wrap .tab-section .btn-gold {
    color: #000;
    margin-right: 1%;
}

.msg-wrap .msg-list li {
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 3%;
    margin-top: 10px;
}

.msg-wrap .msg-list li label {
    color: #FFFFFF;
    font-size: 1.3em;
}

.msg-wrap .msg-list li .msg {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: 6px;
}

.bodyFont {
    word-break: break-all;
    word-wrap: break-word;
    height: auto;
    overflow: hidden;
    max-height: 100%;
    position: relative;
}

.bodyFont .btn {
    background: #d0a05d;
    width: 18%;
    margin: 0;
    color: #1c1c1c;
    font-size: 0.9rem;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}

.bodyHeight {
    height: 2.6rem;
}

.msg-wrap .msg-list li .msg p {
    font-size: 1.5em;
    line-height: 2rem;
    color: #000000;
    text-align: left;
    text-indent: 2px;
    padding: 5px;
    word-break: break-all;
}

.msg-wrap .msg-list li .msg p:first-child {
    width: 75%;
}

.msg-wrap .msg-list li .msg .more,
.msg-wrap .msg-list li .msg .close {
    border-top: 1px solid #b9b9b9;
    padding-top: 5px;
    color: #505050;
    font-size: 1.5em;
}

.icon-more {
    width: .9rem;
    height: .5rem;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_more.png") no-repeat;
    background-size: 100% 100%;
    display: inline-table;
    margin-left: 5px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

.msg-wrap .msg-list li .msg .close .icon-more,
#MarqueeModal section.msg-list .close .icon-more {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/* 记录查询 */
.recoed-wrap .tab-section .row .error-tip {
    margin-top: 2px;
}

.recoed-wrap .tab-section .btn {
    margin-top: 0;
}

.recoed-wrap .tab-section .form-control,
.msg-wrap .tab-section .form-control {
    width: 38%;
    margin-right: 1%;
    padding-right: 0;
    float: left;
    color: #202020;
    font-size: .8rem;
}

.recoed-wrap .tab-section .btn-bind,
.msg-wrap .tab-section .btn-bind {
    background: #d0a05d;
    float: left;
    width: 22%;
    margin: 0;
    color: #1c1c1c;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
}

.recoed-wrap .tab-section .row,
.msg-wrap .tab-section .row {
    height: 3rem;
    margin-top: 6px;
}

.recoed-wrap .tab-section select,
.msg-wrap .tab-section select {
    height: 3rem;
    border: 1px solid #e1c299;
}

.recoed-wrap .tab-section .error-tip {
    height: .5rem;
    margin-bottom: 0 !important;
}

.recoed-wrap .tab-section .form-select.icon::after,
.msg-wrap .tab-section .form-select.icon::after {
    //  top: 1%;
    width: 1.4rem;
    height: 3rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.recoed-wrap .list-table {
    padding: 3%;
}

.recoed-wrap .list-table td {
    padding-top: 15px;
}

.recoed-wrap .list-table td p {
    font-size: .6rem;
    line-height: .5rem;
    line-height: 1rem;
    word-break: break-all;
}

#BettingRecordPopUp {
    font-size: 1rem;
    color: #666;

    .modal-close-btn {
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: .8rem;
        height: .8rem;
        background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/common/close-popup.png") no-repeat center center;
        background-size: contain;
    }

    b {
        font-weight: normal;
        word-break: break-all;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-content {
        background: #fff;
    }

    .modal-header {
        border-bottom: 1px solid #ebebeb;
        background: #fff;
        font-weight: 700;
    }

    .modal-title {
        color: #666;
        position: relative;

        .line {
            display: none;
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: -9px;
            left: 25%;
            background-color: #cd7902;
        }

        &.active {
            color: #333;

            .line {
                display: block;
            }
        }
    }

    .row-Ul,
    .table-h5 {
        font-size: 1rem;
        color: #666;
    }

    .table-h5 {
        border: 1px solid #ebebeb;
        border-bottom: 0;
        text-align: center;
    }

    table,
    table tr th,
    table tr td {
        border: 1px solid #ebebeb;
    }

    table {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-row {
        text-align: center;
    }

    .btn-gold {
        width: 40%;
        height: 1.6rem;
        line-height: 1.6rem;
    }
}

/* 修改密码 */
.modify-wrap .tab-section,
.fund-wrap .tab-section {
    margin: 0 5%;
}

.modify-wrap form .input-group label,
.deposit-wrap form .input-group label,
.fund-wrap form .input-group label,
.addUser-wrap form .input-group label,
.transfer-withdrawal-wrap form .input-group label,
.transfer-confirm-wrap form .input-group label {
    color: #ffffff;
}

.modify-wrap .tab-section form .btn,
.fund-wrap .tab-section form .btn {
    width: 100%;
    color: #FFFFFF;
    margin-top: 0;
}

.modify-wrap .tab-section .row,
.deposit-wrap .tab-section .row,
.fund-wrap .tab-section .row {
    height: auto;
}

.modify-wrap .tab-section .form-control,
.deposit-wrap .tab-section .form-control,
.fund-wrap .tab-section .form-control,
.addUser-wrap .tab-section .form-control {
    width: 76%;
    float: inherit;
    display: inline-block;
}

.deposit-wrap .tab-section .top-line .form-control {
    padding-right: 1.8rem;
    box-sizing: border-box;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 1.5rem 0;
}

/* 资金管理 */
.fund-wrap .tab-section .row {
    margin-top: .8rem;
}

.fund-wrap form .input-group label,
.fund-wrap .tab-section .form-control {
    height: 2.6rem;
    line-height: 2.6rem;
}

.fund-wrap .tab-section i.form-control {
    background: none;
    color: #f59815;
}

.fund-wrap p.error-tip {
    color: #ff6454;
}

.fund-wrap .tab-section .form-control img {
    float: left;
    height: 2.6rem;
}

.fund-wrap .tab-section .form-control i {
    color: #bebebe;
}

.fund-wrap .tab-section .form-control p {
    float: left;
    width: 50%;
    text-align: center;
}

.fund-wrap .tab-section .form-control.active i {
    color: #cd7902;
    margin-left: 1rem;
}

/* 资金管理 厂商列表 */
#gameVendorListModal ul {
    max-height: 30rem;
    overflow: hidden;
    overflow-y: auto;
}

#gameVendorListModal ul li {
    background: #FFFFFF;
    height: 2.5rem;
    margin-top: .2rem;
}

#gameVendorListModal ul li.click-flase {
    background: #e8e8e8;
}

#gameVendorListModal ul li.click-flase em {
    color: #AAAAAA;
}

#gameVendorListModal ul li img {
    height: 2.5rem;
    float: left;
    margin-left: 2%;
}

#gameVendorListModal ul li label {
    float: left;
    margin-left: 15%;
    line-height: 2.5rem;
    font-size: .9rem;
}

#gameVendorListModal ul li em {
    font-size: .9rem;
    color: #f59815;
    line-height: 2.5rem;
    float: right;
    font-style: normal;
    text-align: left;
    width: 35%;
}

/* 添加桌面快捷教程 */
.tutorial-wrap .tab-section {
    text-align: center;
}

.tutorial-wrap .tab-section img {
    width: 86%;
    margin: 1rem auto;
}

.tutorial-wrap .tab-section img.mt-0 {
    margin-top: -1rem;
}

.tutorial-wrap .tab-section p {
    font-size: 1rem;
    color: #FFFFFF;
    text-align: left;
}

.tutorial-wrap .tab-section p label {
    color: #ffb12a;
}

.tutorial-wrap .tab-section p i {
    font-size: .8rem;
}

/* 生成二维码 */
#scanModal .modal-dialog {
    margin: 0 auto;
}

#scanModal .modal-dialog .modal-content {
    height: 90%;
    min-height: 39rem;
    max-height: 90%;
    background: none;
    width: 88%;
    margin: 0 auto;
}

#scanModal .modal-body {
    padding: 0;
    position: initial;
    display: contents;
}

/*#scanModal .modal-content{
    height: 35rem;
	background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/user_scan_bg1.jpg") no-repeat top center;
	background-size: 100% 100%;
}*/
#scanModal .modal-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close2.png") no-repeat center;
    background-size: 60% 60%;
    background-color: rgba(200, 162, 122, 0.9);
    border-radius: 100%;
    z-index: 100001;
}

#scanModal #output {
    position: absolute;
    bottom: 2.2rem;
    text-align: center;
    width: 100%;
    left: 4px;
}

#scanModal .scan-bg {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/agent/user_scan_bg.jpg") no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

#scanModal .scan-bg img {
    width: 28%;
    margin-left: 37%;
    height: 6rem;
    margin-top: 28.2rem;
}

#scanModal .LoadBox {
    left: 6%;
    right: 6%;
    width: auto;
}

/* 按钮切换 */
.tab-head {
    height: 3.5rem;
    margin-bottom: 1.25rem;
}

.tab-head li {
    width: 33.3333%;
    float: left;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    height: 3.5rem;
    // line-height: 3.5rem;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    box-sizing: border-box;
}

.vn .tab-head li {
    font-size: 0.9rem;
    line-height: normal;
}

// 存款
.tab-head-deposit li {
    width: 50%;
}

.tab-head li.active {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png") no-repeat top center;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    color: #FFFFFF
}

#copyObj {
    height: 0;
    border: none;
}

/* 列表暂无数据 */
.scroll-footer-tip {
    height: 2rem;
    line-height: 2rem;
    font-size: .9rem;
    color: #d7d7d7;
    text-align: center;
}

/* 2019.04.03 SeyoChen*/
.fun-box .account-fund li {
    margin: .5rem 3%;
    width: 94%;
    height: 4.5rem;
    line-height: 4.5rem;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
}

.fun-box .account-fund li .span1 {
    float: left;
    width: 50%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.fun-box .account-fund li .span2 {
    float: right;
    width: 50%;
    height: 4.5rem;
    display: table;
    vertical-align: middle;
}

.fun-box .account-fund li .span2 em {
    font-style: normal;
    font-size: 1rem;
    color: #fff;
    line-height: initial;
    vertical-align: middle;
    display: table-cell;
}

.fun-box .account-fund li .span1 img {
    max-width: 100%;
}

.fun-box .account-fund li .span2 img {
    max-width: 100%;
}

// 投注记录样式修改 2019.04.24 SeyoChen
.row-Ul li span,
.row-Ul li {
    display: table-footer-group;
}

.row-Ul li span,
.row-Ul li b {
    display: block !important;
    float: left;
}

.row-Ul li b {
    max-width: 66%;
}



// 过滤列表
.filter-icon {
    position: fixed;
    width: 3.2rem;
    height: 3.5rem;
    right: 0;
    top: 0;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: 50%;
    z-index: 101;
}

// vant框架下拉加载样式重置
.van-list__finished-text {
    font-size: .8rem !important;
    line-height: 2.4em !important;
}
