@charset "utf-8";
@import "./lessSet.less";

.mainMenuNew.M-001 {
  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/my.png");
    }
  }

  .active {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/my-active.png");
    }
  }
}

.mainMenuNew.M-002 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/my.png");
    }
  }

  .item:nth-of-type(1)::after,
  .item:nth-of-type(2)::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/footer-line.png");
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/my-active.png");
    }
  }
}

.mainMenuNew.M-003 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/my.png");
    }
  }

  .active {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/my-active.png");
    }
  }

  .item:nth-of-type(1).active::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/footer-index-bg.png");
  }

  .item:nth-of-type(2).active::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/footer-discount-bg.png");
  }

  .item:nth-of-type(3).active::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/footer-my-bg.png");
  }
}

.mainMenuNew.M-004 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition4/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/my.png");
    }
  }

  .active {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/my-active.png");
    }
  }
}

.mainMenuNew.M-005 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/my.png");
    }
  }

  .item:nth-of-type(1)::after,
  .item:nth-of-type(2)::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/footer-line.png?1");
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/my-active.png");
    }
  }
}

.mainMenuNew.M-006 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/my.png");
    }
  }

  .item:nth-of-type(1)::after,
  .item:nth-of-type(2)::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/footer-line.png");
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/my-active.png");
    }
  }
}

.mainMenuNew.M-007 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition7/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/my.png");
    }
  }

  .active {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/my-active.png");
    }
  }
}

.mainMenuNew.M-008 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition8/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/my.png");
    }
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/my-active.png");
    }
  }
}

.mainMenuNew.M-009 {
  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/my.png");
    }
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/my-active.png");
    }
  }
}

.mainMenuNew.M-010 {
  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/my.png");
    }
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/my-active.png");
    }
  }
}

.mainMenuNew.M-011 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition11/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/my.png");
    }
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/my-active.png");
    }
  }
}

.mainMenuNew.M-012 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition12/footer-bg.png");

  .item {
    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/index.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/discount.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/news.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/my.png");
    }
  }

  .active {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/footer-active.png");

    .index {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/index-active.png");
    }

    .discount {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/discount-active.png");
    }

    .news {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/news-active.png");
    }

    .my {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/my-active.png");
    }
  }
}

.classicGames.M-001 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
  }

  .content {
    .sidebar {
      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/lottery-icon.png");
        }
      }
    }

    .list-box {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition1/list-bg.png");
    }
  }
}

.classicGames.M-002 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/classicGames-bg.png?1");
  }

  .content {
    .sidebar {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/sidebar-bg.png");

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/sidebar-item-active.png");
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-003 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/classicGames-bg.png");
  }

  .content {
    .sidebar {
      .item {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/sidebar-item.png");
      }

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/sidebar-item-active.png");
      }

      .item:nth-of-type(1).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/liveVideo-icon-active.png");
        }
      }

      .item:nth-of-type(2).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/sport-icon-active.png");
        }
      }

      .item:nth-of-type(3).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/athletics-icon-active.png");
        }
      }

      .item:nth-of-type(4).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/electronic-icon-active.png");
        }
      }

      .item:nth-of-type(5).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/poker-icon-active.png");
        }
      }

      .item:nth-of-type(6).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/lottery-icon-active.png");
        }
      }
    }

    .list-box {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/list-bg.png");
    }
  }
}

.classicGames.M-004 {
  .content {
    .sidebar {
      .item {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition4/sidebar-item.png");
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition4/sidebar-item-active.png");
      }
    }
  }
}

.classicGames.M-005 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/classicGamesBg.png");

  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/classicGames-bg.png");
  }

  .content {
    .sidebar {
      .item:after {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png");
      }

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item-active.png");
      }

      .item:nth-of-type(1).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/liveVideo-icon-active.png");
        }
      }

      .item:nth-of-type(2).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sport-icon-active.png");
        }
      }

      .item:nth-of-type(3).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/athletics-icon-active.png");
        }
      }

      .item:nth-of-type(4).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/electronic-icon-active.png");
        }
      }

      .item:nth-of-type(5).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/poker-icon-active.png");
        }
      }

      .item:nth-of-type(6).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/lottery-icon-active.png");
        }
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-006 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGamesBg.png");

  .title::after {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
  }

  .title::before {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
  }

  .content {
    .sidebar {
      .item::after {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/sidebar-item.png");
      }

      .item:nth-of-type(1) {
        .icon {
        }
      }

      .item:nth-of-type(2) {
        .icon {
        }
      }

      .item:nth-of-type(3) {
        .icon {
        }
      }

      .item:nth-of-type(4) {
        .icon {
        }
      }

      .item:nth-of-type(5) {
        .icon {
        }
      }

      .item:nth-of-type(6) {
        .icon {
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/sidebar-item-active.png");
      }

      .item:nth-of-type(1).active {
        .icon {
        }
      }

      .item:nth-of-type(2).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/sport-icon-active.png");
        }
      }

      .item:nth-of-type(3).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/athletics-icon-active.png");
        }
      }

      .item:nth-of-type(4).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/electronic-icon-active.png");
        }
      }

      .item:nth-of-type(5).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/poker-icon-active.png");
        }
      }

      .item:nth-of-type(6).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/lottery-icon-active.png");
        }
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-007 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg.png");
  }

  .content {
    .sidebar {
      .item {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition7/sidebar-item.png");
      }

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/athletics-icon.png");
        }
      }

      // .item:nth-of-type(4) {
      //     .icon {
      //         background-image:url('@{LessSetCDN}/EditionImg-mobile/Edition7/electronic-icon.png')
      //     }
      // }

      // .item:nth-of-type(5) {
      //     .icon {
      //         background-image:url('@{LessSetCDN}/EditionImg-mobile/Edition7/poker-icon.png')
      //     }
      // }

      // .item:nth-of-type(6) {
      //     .icon {
      //         background-image:url('@{LessSetCDN}/EditionImg-mobile/Edition7/lottery-icon.png')
      //     }
      // }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/poker-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition7/sidebar-item-active.png");
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-008 {
  .content {
    .sidebar {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition8/sidebar-bg.png");

      .item {
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition8/sidebar-item-active.png");
      }
    }
  }
}

.classicGames.M-009 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition9/classicGames-bg.png");
  }

  .content {
    .sidebar {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition9/sidebar-bg.png");

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/lottery-icon.png");
        }
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-010 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition10/classicGamesBg.png");

  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition10/classicGames-bg.png");
  }

  .content {
    .sidebar {
      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition10/sidebar-item-active.png");
      }

      .item:nth-of-type(1).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/liveVideo-icon-active.png");
        }
      }

      .item:nth-of-type(2).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/sport-icon-active.png");
        }
      }

      .item:nth-of-type(3).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/athletics-icon-active.png");
        }
      }

      .item:nth-of-type(4).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/electronic-icon-active.png");
        }
      }

      .item:nth-of-type(5).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/poker-icon-active.png");
        }
      }

      .item:nth-of-type(6).active {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/lottery-icon-active.png");
        }
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-011 {
  .title {
    background: url("@{LessSetCDN}/EditionImg-mobile/Edition11/classicGames-bg.png");
  }

  .content {
    .sidebar {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition11/sidebar-bg.png");

      .item:nth-of-type(1) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/liveVideo-icon.png");
        }
      }

      .item:nth-of-type(2) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/sport-icon.png");
        }
      }

      .item:nth-of-type(3) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/athletics-icon.png");
        }
      }

      .item:nth-of-type(4) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/electronic-icon.png");
        }
      }

      .item:nth-of-type(5) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/poker-icon.png");
        }
      }

      .item:nth-of-type(6) {
        .icon {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/lottery-icon.png");
        }
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition11/sidebar-item-active.png");
      }
    }

    .list-box {
    }
  }
}

.classicGames.M-012 {
  .content {
    .sidebar {
      .item {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition12/sidebar-item.png");
      }

      .active {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition12/sidebar-item-active.png");
      }
    }
  }
}

.playGamesOftent-item {
  .maintain-icon {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain1.png");
  }
}

.classicGames {
  .list-box {
    .item {
      .maintain-icon {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain3.png");
      }
    }
  }
}

.list-box {
  .electronic-list {
    .item {
      .maintain-icon {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain2.png");
      }
    }
  }
}

.cn {
  .classicGames.M-002 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/classicGames-bg.png");
    }
  }

  .classicGames.M-003 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/classicGames-bg.png?1");
    }
  }

  .classicGames.M-005 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/classicGames-bg.png?1");
    }
  }
}

.en {
  .classicGames.M-002 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/classicGames-bg.png");
    }
  }

  .classicGames.M-003 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/classicGames-bg.png?1");
    }
  }

  .classicGames.M-005 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/classicGames-bg.png?12");
      background-size: 5rem;
      background-position: 1.6rem 1.5rem;
    }
  }
}

.tc {
  .classicGames.M-002 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/classicGames-bg.png");
    }
  }

  .classicGames.M-003 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/classicGames-bg.png?1");
    }
  }

  .classicGames.M-005 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/classicGames-bg.png?1");
    }
  }
}

.vn {
  .classicGames.M-002 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/classicGames-bg.png");
    }
  }

  .classicGames.M-003 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/classicGames-bg.png?1");
    }
  }

  .classicGames.M-005 {
    .title {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/classicGames-bg.png?11");
    }
  }
}

#banner-container {
  .class2 {
    .van-swipe__indicators {
      .van-swipe__indicator {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/defeaul.png");
      }

      .van-swipe__indicator--active {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/defeaul-active.png");
      }
    }
  }

  .class3 {
    .van-swipe {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/banner-bg.png");
    }
  }

  .class8 {
    .van-swipe__indicator {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/defeaul.png");
    }

    .van-swipe__indicator--active {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/defeaul-active.png");
    }
  }

  .class10 {
    .van-swipe__indicator {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/dot.png");
    }

    .van-swipe__indicator--active {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/dot-selected.png");
    }
  }

  .class12 {
    .van-swipe__indicator {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/defeaul.png");
    }

    .van-swipe__indicator--active {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/defeaul-active.png");
    }
  }
}

#banner-container {
  .add-table {
    background-image: url("@{LessSetCDN}/EditionImg-mobile/DefaultImg/lang/table.png");
  }

  .class1 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
        }
      }
    }
  }

  .class2 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
        }
      }
    }

    .banner-content {
      .banner-footer {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/banner-footer.png");
      }
    }
  }

  .class3 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/txt-bg.png");
        }
      }
    }
  }

  .class5 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/txt-bg.png");
        }
      }
    }
  }

  .class6 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/txt-bg.png");
        }
      }
    }
  }

  .class7 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg.png");
        }
      }
    }
  }

  .class8 {
    .notice-container {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/txt-bg.png");
    }
  }

  .class9 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/txt-bg.png");
        }
      }
    }
  }

  .class10 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/txt-bg.png");
        }
      }
    }
  }

  .class11 {
    .notice-container {
      .announcement-container {
        .seamless-warp {
          background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/txt-bg.png");
        }
      }
    }
  }
}

.cn {
  #class-container {
    .class1 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/cn/support.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/cn/withdraw.png");
            }
          }
        }
      }
    }

    .class2 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/support.png");
            }
          }
        }
      }
    }

    .class3 {
      .class-top {
        .class-content {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/support.png");
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/wallet-bg.png");
      }
    }
  }

  .class4 {
    .class-top {
      .class-item {
        .top-icon {
          .money-package {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/cn/wallet.png");
          }

          .deposit-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/cn/deposit.png");
          }

          .withdraw-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/cn/withdraw.png");
          }

          .customer {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/cn/support.png");
          }
        }
      }
    }
  }

  .class5 {
    .top-line {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
    }

    .class-top {
      .class-item {
        .top-icon {
          .money-package {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/wallet.png");
          }

          .deposit-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/deposit.png");
          }

          .withdraw-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/withdraw.png");
          }

          .customer {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/support.png");
          }
        }
      }
    }

    .class-bottom {
      background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
    }
  }

  .class6 {
    .class-top {
      .class-content {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/cn/support.png");
            }
          }
        }
      }
    }
  }

  .class7 {
    .class-top {
      .class-item {
        .top-icon {
          .money-package {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/cn/wallet.png");
          }

          .deposit-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/cn/deposit.png");
          }

          .withdraw-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/cn/withdraw.png");
          }

          .customer {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/cn/support.png");
          }
        }
      }
    }
  }

  .class8 {
    .class-top {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg5.png");

      .class-content {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/cn/support.png");
            }
          }
        }
      }
    }
  }

  .class9 {
    .class-top {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/class-bg.png");

      .class-item {
        .top-icon {
          .money-package {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/cn/wallet.png");
          }

          .deposit-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/cn/deposit.png");
          }

          .withdraw-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/cn/withdraw.png");
          }

          .customer {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/cn/support.png");
          }
        }
      }
    }
  }

  .class10 {
    .class-top {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/class-bg.png");

      .class-item {
        .top-icon {
          .money-package {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/cn/wallet.png");
          }

          .deposit-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/cn/deposit.png");
          }

          .withdraw-money {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/cn/withdraw.png");
          }

          .customer {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/cn/support.png");
          }
        }
      }
    }
  }

  .class11 {
    .class-top {
      .class-content {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/cn/support.png");
            }
          }
        }
      }
    }

    .class-bottom {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/111.png");
    }
  }

  .class12 {
    .class-top {
      background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg5.png");

      .class-content {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/cn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/cn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/cn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/cn/support.png");
            }
          }
        }
      }
    }
  }
}

.en {
  #class-container {
    .class1 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/en/support.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/en/withdraw.png");
            }
          }
        }
      }
    }

    .class2 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/support.png");
            }
          }
        }
      }
    }

    .class3 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/wallet-bg.png");
      }
    }

    .class4 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/en/support.png");
            }
          }
        }
      }
    }

    .class5 {
      .top-line {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }

      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/support.png");
            }
          }
        }
      }

      .class-bottom {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }
    }

    .class6 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/en/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/en/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/en/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/en/support.png");
              }
            }
          }
        }
      }
    }

    .class7 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/en/support.png");
            }
          }
        }

        .item2-1 {
        }

        .item2-2 {
        }

        .item2-3 {
        }

        .item2-4 {
        }

        .mar0 {
          margin-right: 0;
        }
      }
    }

    .class8 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/en/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/en/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/en/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/en/support.png");
              }
            }
          }
        }
      }
    }

    .class9 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/en/support.png");
            }
          }
        }
      }
    }

    .class10 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/en/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/en/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/en/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/en/support.png");
            }
          }
        }
      }
    }

    .class11 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/en/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/en/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/en/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/en/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/111.png");
      }
    }

    .class12 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/en/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/en/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/en/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/en/support.png");
              }
            }
          }
        }
      }
    }
  }
}

.vn {
  #class-container {
    .class1 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/vn/support.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/vn/withdraw.png");
            }
          }
        }
      }
    }

    .class2 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/support.png");
            }
          }
        }
      }
    }

    .class3 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/wallet-bg.png");
      }
    }

    .class4 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/vn/support.png");
            }
          }
        }
      }
    }

    .class5 {
      .top-line {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }

      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/support.png");
            }
          }
        }
      }

      .class-bottom {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }
    }

    .class6 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/vn/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/vn/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/vn/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/vn/support.png");
              }
            }
          }
        }
      }
    }

    .class7 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/vn/support.png");
            }
          }
        }
      }
    }

    .class8 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/vn/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/vn/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/vn/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/vn/support.png");
              }
            }
          }
        }
      }
    }

    .class9 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/vn/support.png");
            }
          }
        }
      }
    }

    .class10 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/vn/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/vn/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/vn/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/vn/support.png");
            }
          }
        }
      }
    }

    .class11 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/vn/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/vn/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/vn/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/vn/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/111.png");
      }
    }

    .class12 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/vn/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/vn/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/vn/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/vn/support.png");
              }
            }
          }
        }
      }
    }
  }
}

.tc {
  #class-container {
    .class1 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/tc/support.png");
            }
          }
        }
      }
    }

    .class2 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/support.png");
            }
          }
        }
      }
    }

    .class3 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/wallet-bg.png");
      }
    }

    .class4 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/tc/support.png");
            }
          }
        }
      }
    }

    .class5 {
      .top-line {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }

      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/support.png");
            }
          }
        }
      }

      .class-bottom {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/sidebar-item.png?1");
      }
    }

    .class6 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/tc/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/tc/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/tc/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/tc/support.png");
              }
            }
          }
        }
      }
    }

    .class7 {
      .class-top {
        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/tc/support.png");
            }

            .customer-title {
            }
          }
        }
      }
    }

    .class8 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/tc/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/tc/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/tc/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/tc/support.png");
              }
            }
          }
        }
      }
    }

    .class9 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/tc/support.png");
            }
          }
        }
      }
    }

    .class10 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/class-bg.png");

        .class-item {
          .top-icon {
            .money-package {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/tc/wallet.png");
            }

            .deposit-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/tc/deposit.png");
            }

            .withdraw-money {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/tc/withdraw.png");
            }

            .customer {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/tc/support.png");
            }
          }
        }
      }
    }

    .class11 {
      .class-top {
        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/tc/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/tc/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/tc/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/tc/support.png");
              }
            }
          }
        }
      }

      .class-bottom {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/111.png");
      }
    }

    .class12 {
      .class-top {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg5.png");

        .class-content {
          .class-item {
            .top-icon {
              .money-package {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/tc/wallet.png");
              }

              .deposit-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/tc/deposit.png");
              }

              .withdraw-money {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/tc/withdraw.png");
              }

              .customer {
                background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/tc/support.png");
              }
            }
          }
        }
      }
    }
  }
}

.cn {
  #playGamesOftent {
    .class1 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/item.png");
          }
        }
      }
    }

    .class2 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/cn/txt-bg.png");
          }
        }
      }
    }

    .class3 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/cn/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/item.png");
          }
        }
      }
    }

    .class4 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/title2.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/item.png");
          }
        }
      }
    }

    .class5 {
      .playGamesOftent-container {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/bg3.png");

        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/cn/txt-bg.png");
          }
        }
      }
    }

    .class6 {
      .playGamesOftent-container {
        .content-left {
          .left-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }

          .right-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            .name {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/playGamesOftent-item-name-bg.png");
            }
          }
        }
      }
    }

    .class7 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg2.png");
          }
        }
      }
    }

    .class8 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/title.png");
          }
        }
      }
    }

    .class9 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/title.png");
          }
        }
      }
    }

    .class10 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/title2.png");
          }
        }
      }
    }

    .class11 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/classicGames-bg.png");
          }
        }
      }
    }

    .class12 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/title2.png");
          }
        }
      }
    }
  }
}

.en {
  #playGamesOftent {
    .class1 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/item.png");
          }
        }
      }
    }

    .class2 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/en/txt-bg.png");
          }
        }
      }
    }

    .class3 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/en/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/item.png");
          }
        }
      }
    }

    .class4 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/title2.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/item.png");
          }
        }
      }
    }

    .class5 {
      .playGamesOftent-container {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/bg3.png");

        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/en/txt-bg.png");
          }
        }
      }
    }

    .class6 {
      .playGamesOftent-container {
        .content-left {
          .left-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }

          .right-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            .name {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/playGamesOftent-item-name-bg.png");
            }
          }
        }
      }
    }

    .class7 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg2.png");
          }
        }
      }
    }

    .class8 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/title.png");
          }
        }
      }
    }

    .class9 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/title.png");
          }
        }
      }
    }

    .class10 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/title2.png");
          }
        }
      }
    }

    .class11 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/classicGames-bg.png");
          }
        }
      }
    }

    .class12 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/title2.png");
          }
        }
      }
    }
  }
}

.vn {
  #playGamesOftent {
    .class1 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/item.png");
          }
        }
      }
    }

    .class2 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/vn/txt-bg.png");
          }
        }
      }
    }

    .class3 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/vn/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/item.png");
          }
        }
      }
    }

    .class4 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/title2.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/item.png");
          }
        }
      }
    }

    .class5 {
      .playGamesOftent-container {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/bg3.png");

        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/vn/txt-bg.png");
          }
        }
      }
    }

    .class6 {
      .playGamesOftent-container {
        .content-left {
          .left-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }

          .right-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            .name {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/playGamesOftent-item-name-bg.png");
            }
          }
        }
      }
    }

    .class7 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg2.png");
          }
        }
      }
    }

    .class8 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/title.png");
          }
        }
      }
    }

    .class9 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/title.png");
          }
        }
      }
    }

    .class10 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/title2.png");
          }
        }
      }
    }

    .class11 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/classicGames-bg.png");
          }
        }
      }
    }

    .class12 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/title2.png");
          }
        }
      }
    }
  }
}

.tc {
  #playGamesOftent {
    .class1 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition1/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/item.png");
          }
        }
      }
    }

    .class2 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition2/tc/txt-bg.png");
          }
        }
      }
    }

    .class3 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/tc/txt-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition3/item.png");
          }
        }
      }
    }

    .class4 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/title2.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition4/item.png");
          }
        }
      }
    }

    .class5 {
      .playGamesOftent-container {
        background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/bg3.png");

        .content-left {
          .first-item1 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition5/tc/txt-bg.png");
          }
        }
      }
    }

    .class6 {
      .playGamesOftent-container {
        .content-left {
          .left-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }

          .right-bg6 {
            background: url("@{LessSetCDN}/EditionImg-mobile/Edition6/classicGames-bg.png");
          }
        }

        .content-right {
          .playGamesOftent-item {
            .name {
              background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition6/playGamesOftent-item-name-bg.png");
            }
          }
        }
      }
    }

    .class7 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition7/txt-bg2.png");
          }
        }
      }
    }

    .class8 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition8/title.png");
          }
        }
      }
    }

    .class9 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition9/title.png");
          }
        }
      }
    }

    .class10 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition10/title2.png");
          }
        }
      }
    }

    .class11 {
      .playGamesOftent-container {
        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition11/classicGames-bg.png");
          }
        }
      }
    }

    .class12 {
      .playGamesOftent-container {
        background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/bg3.png");

        .content-left {
          .first-item1 {
            background-image: url("@{LessSetCDN}/EditionImg-mobile/Edition12/title2.png");
          }
        }
      }
    }
  }
}

.icon-file-app {
  background: url("@{LessSetCDN}/Customized/Web07/images/serve/app_down.png") no-repeat;
}

.header_bar1 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition1/header-bg.png");
}

.header_bar2 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition2/header-bg.png");
}

.header_bar3 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition3/header-bg.png");
}

.header_bar4 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition4/header-bg.png");
}

.header_bar7 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition7/header-bg.png");
}

.header_bar8 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition8/header-bg.png");
}

.header_bar9 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition9/header-bg.png");
}

.header_bar10 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition10/header-bg.png");
}

.header_bar11 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition11/header-bg2.png");
}

.header_bar12 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Edition12/header-bg.png");
}

.icon-input-clean {
  background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png") no-repeat;
}

.icon-slider-active {
  background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png") no-repeat;
}

.withdrawal-wrap {
  .pay-way {
    li {
      background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/comp1.png") no-repeat
        0.625rem center;
      background-size: 1.5625rem;

      &:nth-child(2) {
        background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/deposit-new/currency-acct.png")
          no-repeat 0.625rem center;
        background-size: 1.5625rem;
        background-color: #fff;
      }
    }
  }
}

#addCardModal .addcard-form .open-arrow {
  background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/arrow.png") no-repeat;
}

// ==================简体中文====================//
// 底部导航栏
.cn {
  .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_activity_n.png") no-repeat
      bottom center;
  }

  .active .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_activity_on.png") no-repeat
      bottom center;
  }

  .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_user_n.png") no-repeat bottom;
  }

  .active .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_user_on.png") no-repeat bottom;
  }

  .game-lobby-header {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/header.png?123") no-repeat top center;
  }

  .WeChat-tips {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/sweet-tips.jpg") no-repeat center center;
  }

  .point-to {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/cn/point-to.png") no-repeat center center;
  }
}

// ==================简体中文 end====================//

// ==================英文====================//
// 底部导航栏
.en {
  .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_activity_n.png") no-repeat
      bottom center;
  }

  .active .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_activity_on.png") no-repeat
      bottom center;
  }

  .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_user_n.png") no-repeat bottom;
  }

  .active .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_user_on.png") no-repeat bottom;
  }

  .game-lobby-header {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/header.png?123") no-repeat top center;
  }

  .WeChat-tips {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/sweet-tips.jpg") no-repeat center center;
  }

  .point-to {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/en/point-to.png") no-repeat center center;
  }
}

// ==================英文 end====================//

// ==================繁体====================//
// 底部导航栏
.tc {
  .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_activity_n.png") no-repeat
      bottom center;
  }

  .active .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_activity_on.png") no-repeat
      bottom center;
  }

  .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_user_n.png") no-repeat bottom;
  }

  .active .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_user_on.png") no-repeat bottom;
  }

  .game-lobby-header {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/header.png?123") no-repeat top center;
  }

  .WeChat-tips {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/sweet-tips.jpg") no-repeat center center;
  }

  .point-to {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/tc/point-to.png") no-repeat center center;
  }
}

// ==================繁体 end====================//

// ==================越南文====================//
// 底部导航栏
.vn {
  .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_activity_n.png") no-repeat
      bottom center;
  }

  .active .icon-active {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_activity_on.png") no-repeat
      bottom center;
  }

  .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_user_n.png") no-repeat bottom;
  }

  .active .icon-member {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_user_on.png") no-repeat bottom;
  }

  .game-lobby-header {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/header.png?123") no-repeat top center;
  }

  .WeChat-tips {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/sweet-tips.jpg") no-repeat center center;
  }

  .point-to {
    background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/vn/point-to.png") no-repeat center center;
  }
}

// ==================越南文 end====================//

.icon-success {
  background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_success.png") no-repeat;
}

.icon-success1 {
  background: url("@{LessSetCDN}/EditionImg-mobile/Lambor1.0/images/mobile/member/icon_success.png") no-repeat;
}
