@charset "utf-8";

/* 充值中心 */
.recharge-wrap .tab-section {
    width: 95%;
    height: 110px;
    padding-top: 12px;
}

.recharge-wrap .tab-section .col-6 {
    width: 45.5%;
    height: 80px;
    padding-top: 25px;
    margin: 0 0 0 3%;
    float: left;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.recharge-wrap .tab-section img {
    height: 1.7rem;
}

.recharge-wrap .tab-section p {
    font-size: .9rem;
    margin-top: 10px;
    color: #f5dbb5;
}

.recharge-wrap .list-table {
    padding: 15px;
    padding-bottom: 0;
}

.recharge-wrap .list-table h2 {
    font-size: 1.1rem;
    color: #f5dbb5;
    font-weight: 400;
    margin-bottom: 10px;
}

.recharge-wrap .list-table .table {
    width: 100%;
    overflow-y: auto;
}

.recharge-wrap .list-table table,
.recoed-wrap .list-table table {
    width: 100%;
}

.recharge-wrap .list-table td,
.recoed-wrap .list-table td {
    position: relative;
    padding-top: 10px;
    color: #d7d7d7;
    font-size: .8rem;
    text-align: center;
}

.recharge-wrap .list-table thead td,
.recoed-wrap .list-table thead td {
    font-size: .9rem;
    padding: 3px;
    background: rgba(0, 0, 0, 0.3);
}

.recharge-wrap .list-table td p {
    width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recharge-wrap .list-table td:first-child,
.recoed-wrap .list-table td:first-child {
    // width: 3.5rem;
}

.recharge-wrap .list-table td.color-red {
    width: 30%;
    padding-right: 1rem;
}

.color-yellow {
    color: #d3b71c;
}

.color-red {
    color: #cd2b2b !important;
}

.color-gray {
    color: #a7a7a7 !important;
}

.color-success {
    color: #3aba61 !important;
}

.color-orange {
    color: #d28f41 !important;
}

.btn-yellow {
    color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    width: 40px;
    height: 21px;
    padding: 0;
    line-height: 23px;
    background: #d0a05d;
    position: absolute;
    display: block;
    top: 7px;
    right: 0;
    border-radius: 3px;
}

/* 充值弹窗 */
.recharge-form .slider {
    padding: 10px 0;
    height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.recharge-form .slider li {
    position: relative;
    width: 5.5rem;
    height: 4rem;
    background: #FFFFFF;
    float: left;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid #FFFFFF;
}

.recharge-form .slider li.active {
    border: 2px solid #0fa1ff;
}

.recharge-form .slider li img {
    width: 2.5rem;
    margin-top: 12px;
}

.icon-input-clean {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 1.3rem;
    height: 1.3rem;
    margin: .5rem auto;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png") no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icon-slider-active {
    display: none;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 1.7rem;
    height: 1.6rem;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png") no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.active .icon-slider-active {
    display: block;
}

/* 提现弹窗 */
/* tab切换 */
#depositModal .tab-head {
    margin: -5px 0 0;
    height: 4rem;
}

#depositModal .tab-head li {
    color: #b26b08;
    height: 4rem;
    border-radius: 5px 0 0 0;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/tab.jpg") repeat;
    background-repeat: repeat;
}

#depositModal .tab-head li.active {
    color: #FFFFFF;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/recharge/tab_on.jpg") repeat 100% 100%;
    background-repeat: repeat;
    background-position: 100% 100%;
}

#depositModal .tab-head li:nth-child(2) {
    border-radius: 0 5px 0 0;
}

// 公司入款
.deposit-acct-wrap .acct-form {
    margin-left: 1em;
    margin-top: 1em;
}

.deposit-wrap .pay_channel {
    font-size: 0;
}

.deposit-wrap .pay_channel li {
    display: inline-block;
    font-size: 0.8rem;
    background-color: #fff;
    margin: 5px 7px;
    padding: 0 5px;
    width: auto;
    text-align: center;
    border-radius: 3px;
}

.deposit-wrap .pay_channel li a.on {
    color: #f59815;
}

#CompanyDepositAddForm .deposit-acct-wrap .acct-form .input-group label {
    height: auto;
    line-height: 1rem;
    font-size: .8rem;
}

.deposit-acct-wrap .tab-section i.form-control {
    height: auto;
    line-height: 1rem;
    background: none;
    color: #FFFFFF;
    text-indent: 0;
    word-break: break-all;
}

.deposit-acct-wrap .tab-section h4 {
    color: #f59815;
    font-size: .9rem;
    height: 2rem;
    line-height: 2rem;
    background: rgba(0, 0, 0, 0.3);
    width: 103%;
    margin-left: -3%;
    padding-left: 3%;
}

.deposit-acct-wrap .tab-section h5 {
    color: #FFFFFF;
    font-size: .9rem;
    // height: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
}

.deposit-acct-wrap .tab-section .transfer-tip {
    background: rgba(0, 0, 0, 0.4);
    margin-top: 1em;
    margin-bottom: 1rem;
    padding: .5em;
}

.transfer-tip p {
    color: #FFFFFF;
    font-size: 0.5rem;
}

#CompanyDepositAddForm .input-group label {
    font-size: .9rem;
}

#CompanyDepositAddForm .input-group {
    display: flex;
}

#CompanyDepositAddForm .input-group i.form-control {
    background: none;
    color: #FFFFFF;
    word-break: break-word;
    display: flex;
    align-items: center;
}

// 单选框
.pay_set {
    width: 77%;
    min-height: 2.8rem;
    float: inherit;
    display: inline-block;
}

.pay_set>span {
    position: relative;
    color: #FFFFFF;
    font-size: .7rem;
    padding-left: 15px;
    margin-right: 1em;
    display: inline-block;
    line-height: 1rem;
}

.pay_set>span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}

.pay_set>span.hasblock:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;

}

/* 活动 */
.withdrawal-form .active-list {
    position: relative;
}

.withdrawal-form .active-list ul {
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    max-height: 8rem;
    overflow: hidden;
    transition: all 1s ease;
    position: relative;
}

.withdrawal-form .active-list ul.mb2 {
    margin-bottom: 2rem;
}

.withdrawal-form .active-list ul.spread {
    max-height: initial;
}

.withdrawal-form .active-list p {
    color: #fff;
    font-size: .8rem;
    padding: 0;
    text-align: left;
}

.withdrawal-form .active-list p.top-text {
    margin-right: 6rem;
}

.withdrawal-form .active-list li {
    position: relative;
    width: 46%;
    margin: 1%;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 2rem;
}

.withdrawal-form .active-list .spread-btn {
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 100%;
    font-size: .8rem;
    color: #b26b08;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 3rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(233, 235, 237, 0.13);
    transition: all 1s ease;
}

.withdrawal-form .active-list .spread-btn p {
    width: 100%;
    font-size: .8rem;
    color: #b26b08;
    text-align: center;
}

.withdrawal-form .active-list .spread-img {
    width: 1rem;
    display: block;
    margin: .5rem auto 0 auto;
    transition: all .5s;
}

.withdrawal-form .active-list .spread-img.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.withdrawal-form .active-list li img {
    width: 100%;
    height: 5.1rem;
    display: block;
}

.withdrawal-form .active-list li.active {
    border: 2px solid #0fa1ff;
}

.withdrawal-form .active-list li p {
    // position: absolute;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    color: #D7D7D7;
    height: 2rem;
    line-height: 2rem;
    left: -2px;
    box-sizing: border-box;
}

.withdrawal-form .active-list li.active p {
    background: #0fa1ff;
    // border: 2px solid #0fa1ff;
    color: #FFFFFF;
}

/* 活动展现形式修改，更改为一行一个，左图右字 2019.03.27 */
.withdrawal-form .active-list .activity-ul li p {
    position: static;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.withdrawal-form .active-list .activity-ul li.active p {
    border: 0;
}

.withdrawal-form .active-list .activity-ul li {
    width: 98%;
    display: block;
    overflow: hidden;
    border: 0;
    margin: 4% 1%;
}

.withdrawal-form .active-list .activity-ul li.active {
    border: 0;
}

.withdrawal-form .active-list .activity-ul li .active-top {
    background: #fff;
    overflow: hidden;
}

.withdrawal-form .active-list .activity-ul li .img-box {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100%;
}

.withdrawal-form .active-list .activity-ul .active .img-box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #0fa1ff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.withdrawal-form .active-list .activity-ul li .img-box img {
    width: 100%;
    height: 100%;
    display: block;
}

.withdrawal-form .active-list .activity-ul li .text-box {
    float: left;
    line-height: 1.25rem;
    color: #adaeaf;
    display: none;
}

.withdrawal-form .active-list .activity-ul li .text-box span {
    display: block;
    padding: 0 .5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0.5rem;
}

/* 活动展现形式修改，更改为一行一个，左图右字 2019.03.27 end */
/*添加不参与活动按钮 2019.03.29*/
.withdrawal-form .active-list .active-list-top {
    position: relative;
}

.withdrawal-form .active-list .active-list-top .noSelectBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 6rem;
    background-color: #d0a05d;
    color: #fff;
    text-align: center;
    line-height: 2.6rem;
    height: 2.6rem;
    line-height: normal;
    border-radius: .25rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.withdrawal-form .active-list .active-list-top .noSelectBtn.on {
    background-color: #969696;
}

/*添加不参与活动按钮 2019.03.29 end*/
/*最低入金弹窗 2019.03.29*/
#depositAmtLessActivityMinAmtErrorForm .modal-dialog {
    margin-top: 8rem;
}

/*最低入金弹窗 2019.03.29 end*/
/* 充值 活动详情 */
#activityDetailForm p {
    padding-bottom: 0;
    text-align: left;
    display: table;
}

#activityDetailForm p em {
    display: initial;
    font-style: normal;
    width: 7rem;
    float: left;
    text-align: right;
}

#activityDetailForm label {
    display: -webkit-box;
    padding-left: 10px;
}

#activityDetailForm .modal-dialog {
    margin-top: 8rem;
}

#withdrawalModal .modal-dialog {
    margin-top: 5rem;
}

/*OnlinePayment*/
.pay_box {
    width: 100%;
    height: auto;
}

.pay_block1 {
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
    background: rgba(0, 0, 0, .3);
}

.order_msg {
    float: left;
    margin-left: 1rem;
}

.order_msg p {
    line-height: 26px;
}

.order_msg p.p_1 {
    font-size: 1rem;
    color: #f59815;
    margin-bottom: .5em;
}

.order_msg p.p_2 {
    font-size: 14px;
    color: #ddd;
}

.pay_sum {
    float: right;
    font-size: .7rem;
    color: #ddd;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.pay_sum em {
    font-size: 1.2rem;
    font-style: normal;
    color: #FFFFFF;
    display: inline-block;
}

.pay_block2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 0 1.5rem 0;
    background: rgba(0, 0, 0, .3);
    margin-top: 1em;
    margin-bottom: 2rem;
}

.pay_style {
    width: 100%;
    height: auto;
    margin: auto;
}

.pay_style li {
    width: 100%;
    height: auto;
    min-height: 3rem;
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.pay_style li.last_li {
    border-bottom: 0;
    text-align: center;
}

.pay_style li img {
    margin-top: 1.5rem;
}

.pay_style li p.p_1 {
    font-size: 1rem;
    color: #f59815;
    text-align: center;
}

/*end--OnlinePayment*/

/* 温馨提示 */
#WarnTipModal p,
#WarnTipModal h5 {
    color: #9b6e30;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

#WarnTipModal h5 {
    margin-left: 2rem;
}

#WarnTipModal h5.title {
    margin-top: .5rem;
    margin-left: 0;
}

#WarnTipModal p {
    text-align: center;
    margin-top: .5rem;
}

#WarnTipModal .modal-footer {
    border: none;
    width: 90%;
    margin: .5rem auto 0;
}

/* 银行卡 */
.withdrawal-form .card-list li {
    position: relative;
    width: 99%;
    height: 2.6rem;
    line-height: 2.6rem;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    color: #000000;
    font-size: 1rem;
    text-indent: 10px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

#withdrawalModal .withdrawal-form .card-list li {
    text-indent: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.withdrawal-form .card-list li.active {
    border: 2px solid #0fa1ff;
}

.withdrawal-form .card-list li img {
    position: absolute;
    left: 10px;
    top: 2px;
    height: 34px;
}

.withdrawal-form .card-list li i {
    float: right;
    margin: 0 1rem;
    color: #aaa;
    font-size: .8rem;
    flex: 1;
    width: 40%;
    line-height: normal;
    text-align: right;
}

.withdrawal-form .top-line {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    margin-bottom: 20px;
}

#withdrawalModal .withdrawal-form .top-line .icon-input-clean,
.deposit-wrap .withdrawal-form .top-line .icon-input-clean {
    top: 1.3rem;
}

.withdrawal-form p.error-tip {
    font-size: 1.5em;
    margin: 5px 0 10px;
    color: #ff0000;
    padding: 0;
    text-align: left;
    font-size: 0.7rem;
}

.withdrawal-form h5 {
    font-size: 1.6rem;
    color: #d8902c;
    font-weight: 400;
    text-align: center;
    padding: .1rem 0 .3rem;
}

.withdrawal-form p.warn-tip {
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 5px 0 0;
    color: #9b6e30;
    padding: 0;
    text-align: left;
}

.withdrawal-form .cord-section {
    background: rgb(255, 255, 255, 0.8);
    width: 95%;
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.withdrawal-form .btn-purple {
    width: 5rem;
    position: absolute;
    top: .2rem;
    right: 1%;
    height: auto;
    line-height: normal;
    border-radius: 6px;
    padding: 4px 0;
    z-index: 1;
    font-size: 0.8rem;
    white-space: normal;
}

.withdrawal-form .cord-section label {
    color: #2a2929;
    font-size: 0.8rem;
}

.withdrawal-form .cord-section .row {
    margin-top: 0;
}

.withdrawal-form .cord-section .row:last-of-type {
    padding-right: 5rem;
}

.withdrawal-form .cord-section p.error-tip {
    margin: 5px 0 0;
    color: #e26847;
    font-size: 0.8rem;
}

/* 取款密码 */
#pswModal.modal.show .modal-dialog {
    margin-top: 9rem;
}

#pswModal .withdrawal-form .top-line {
    margin: 0;
    padding: 0;
    border: none;
}

#pswModal .withdrawal-form .error-tip {
    margin-bottom: 10px;
}

#pswModal .withdrawal-form p.warn-tip {
    margin-top: 15px;
}

/* 设置取款密码 */
#withdrawalPswModal .withdrawal-form .error-tip {
    margin-bottom: 10px;
    color: #ff0000;
}

#withdrawalPswModal .withdrawal-form p.warn-tip {
    margin-top: 15px;
    color: #d8902c;
}

/* 洗码量详情 */
#codeModal table {
    width: 100%;
}

#codeModal td {
    font-size: .8rem;
    text-align: center;
    padding: .3rem 0;
    // white-space: nowrap;
}

#codeModal thead td {
    padding-bottom: 1rem;
}

#codeModal .modal-body {
    height: 15rem;
    overflow-y: auto;
    margin: 15px 0;
    padding: 0 15px;
}

#codeModal tfoot td {
    font-size: .8rem;
    border-top: 1px solid #817f81;
}

/* 添加银行卡 */
#addCardModal {
    .out-scroll {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        overflow-y: scroll;
    }
}

#addCardModal .modal-dialog {
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

// #addCardModal .form-select.icon.ml-row {
//     margin-top: 0.25rem;
//     width: 79%;
//     margin-left: 21%;
// }

#addCardModal .input-group {
    margin-top: 0.25rem;
}

// #addCardModal .input-group .ml-row select {
//     width: 89%;
// }

// #addCardModal .input-group .form-control.ml-row {
//     margin-top: 0.25rem;
//     margin-left: 22%;
// }

#addCardModal .input-group.input_rt_on input {
    border: none !important;
    background: none !important;
}

#addCardModal .modal-body p.error-tip {
    margin: 0.25rem 0 0px 28%;
    font-size: 0.75rem;
    line-height: 0.8rem;
    color: #c7830c;
}

#addCardModal .addcard-form {
    position: relative;

    .open-arrow {
        width: 1rem;
        height: 0.5rem;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 1px;
        right: 0;
        transition: All 0.4s ease-in-out;
        background-size: 100% 100%;

        &.open {
            transform: rotate(180deg);
        }
    }
}

#addCardModal .pay-way-options {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    position: relative;
    align-items: flex-start;

    &.options-second {
        margin: 0.5rem 0 0.2rem 0;

        &.open {
            height: auto;
        }
    }

    p {
        position: relative;
        padding: 0;
        color: #704a14;
        font-size: 0.875rem;
        width: 33.33%;
        word-break: break-all;
        box-sizing: border-box;
        float: left;
        text-align: left;
        display: flex;
        line-height: 0.9rem;
        min-height: 1.2rem;
        align-items: flex-start;
        word-break: break-all;

        span {
            float: left;
            margin: 0 0.3rem 0 1.3rem;
        }

        .icon {
            float: left;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 4rem;
            background-color: #e3e3e3;
            border: 0.1rem solid #bc9457;
            box-sizing: border-box;
            transform: scale(.5);
            transform-origin: 0% 0%;
            zoom: 0.5;
            flex-shrink: 0;
            position: absolute;
            left: 0;
            top: 0;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: inline-block;
                width: 1rem;
                height: 1rem;
                // margin-top: -4px;
                border-radius: 2rem;
                background: #bc9457;
                transition: transform 0.2s ease-in;
                transform: translateX(-50%) translateY(-50%) scale(0);

            }

            &.hasblock:after {
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }
    }
}

.en {
    #addCardModal {
        .input-group {
            label {
                width: 26%;
            }

            .form-control,
            select {
                width: 73%;
            }
        }
    }
}

.vn {
    #addCardModal .modal-body .btn-row {
        margin-top: 2rem;
    }
}


@media (max-width: 350px) {

    #addCardModal .modal-body p.error-tip {
        margin-left: 29%;
    }

    #addCardModal {
        .input-group {
            label {
                width: 28%;
                font-size: 0.78rem;
            }

            .form-control,
            select {
                width: 71%;
                text-indent: 0.25rem;
                font-size: 0.78rem;
            }
        }
    }

    #verifyCardModal {
        .input-group {
            label {
                width: 23%;
                font-size: 0.8rem;
            }

            .form-control,
            select {
                width: 74%;
                text-indent: 0.4rem;
            }
        }
    }
}

@media (max-width: 360px) {
    #addCardModal .pay-way-options p {
        line-height: 1.05rem;
    }
}

@media (min-width: 351px) {
    #addCardModal .input-group .ml-row select {
        width: 100%;
    }

    // #addCardModal .input-group .form-control.ml-row {
    //     margin-left: 29%;
    // }

    #addCardModal .modal-body p.error-tip {
        margin-left: 29%;
    }

    // #addCardModal .form-select.icon.ml-row {
    //     width: 71%;
    //     margin-left: 29%;
    // }
    #addCardModal {
        .input-group {
            label {
                width: 28%;
                font-size: 0.8rem;
            }

            .form-control,
            select {
                width: 71%;
                text-indent: 2%;
            }
        }
    }


    #verifyCardModal {
        .input-group {
            label {
                width: 24%;
                font-size: 0.8rem;
            }

            .form-control,
            select {
                width: 75%;
                text-indent: 0.4rem;
            }
        }
    }
}

@media (min-width: 400px) {

    #addCardModal .pay-way-options p {
        line-height: 0.9rem;
    }
}

/* 添加虚拟货币账户 */
#currencyForm .addcard-form .input-group label {
    font-size: 0.9rem;
    height: auto !important;
}

#currencyForm .addcard-form .input-group {
    display: flex;
    align-items: center;
}

/* 验证银行卡账号 */
#verifyCardModal .input-group {
    min-height: 12rem;
}

/* 再次确认信息弹窗 */
#confirmCardInfo .info-content {
    padding: 1rem 0;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 90%;
}

#confirmCardInfo .info-content .info-title {
    font-size: 1.1rem;
    font-weight: normal;
}

#confirmCardInfo .info-content .info-list li {
    line-height: 1rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    label {
        width: 30%;
        flex-shrink: 0;
        word-break: break-word;
        padding: 0 0.3rem 0 0;
        box-sizing: border-box;
        font-size: 1rem;
    }

    span {
        word-break: break-all;
    }
}

.vn,
.en {
    #confirmCardInfo .info-content .info-list li {

        label {
            width: 41%;
        }
    }
}

#confirmCardInfo .info-content .info-tip {
    color: #cc3340;
    font-size: 0.8rem;
    padding: 0;
    line-height: 1rem;
    display: block;
    height: 3rem;
    display: flex;
    align-items: center;
}

/* 询问是否更换银行卡弹窗 */
#askIfReplaceCard .modal-body p {
    font-size: 0.9rem;
}

#askIfReplaceCard .modal-body span {
    color: #cc3340;
}

@media (min-width: 666px) {
    .portrait .pay_set>span {
        padding-left: 40px;
    }

    .portrait .pay_set>span:before {
        width: 30px;
        height: 30px;
    }

    .portrait .pay_set>span.hasblock:after {
        width: 22px;
        height: 22px;
        top: 5px;
        left: 5px;
    }
}
