<template>
  <div id="banner-container">
    <div :class="`class${className}`">
      <v-header></v-header>
      <div class="banner-content" :style="{ 'min-height': windowH *.3733 + 'px'}">
        <van-swipe :autoplay="3000">
          <van-swipe-item v-for="(item,index) in banner" :key="index">
            <img :src="item" class="swipe-img"/>
          </van-swipe-item>
        </van-swipe>
        <!-- 跑马灯公告 -->
        <div class="notice-container">
          <div class="announcement-container"  @click="OpenMarqueeModal($event)">
            <img
              class="announcement-img"
              :src="ResourceCDN+`/EditionImg-mobile/Edition${className}/notice-icon.png`"
            />
            <vue-seamless-scroll
              class="seamless-warp"
              :data="marqueeShowList"
              :class-option="optionSingleHeight"
            >
              <ul class="announcement-list">
                <li class="announcement-item" v-for="(item, index) in marqueeShowList" :key="index">
                  <span class="date" v-text="item.Msg" :data-announcement="item.IsAnnouncement" :data-id="item.ID" ></span>
                </li>
              </ul>
            </vue-seamless-scroll>
          </div>
        </div>
        <div class="banner-footer"></div>
      </div>
      <!--语言按钮 -->
      <div id="settingBtn" class="fr-btn open select-pos">
        <span>{{LangSelected}}</span>
        <ul id="menuSetting" class="show">
          <li>
            <a
              href="javascript:void(0)"
              class="icon-lang"
              data-toggle="modal"
              data-target="#languageModal"
            >
              <img
                v-show="
                                    LangSelected === '1' || LangSelected === '4'
                                "
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_ZH.png'
                                "
              />
              <img
                v-show="LangSelected === '2'"
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_AS.png'
                                "
              />
              <img
                v-show="LangSelected === '3'"
                :src="
                                    ResourceCDN +
                                        '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_VN.png'
                                "
              />
            </a>
          </li>
        </ul>
      </div>
      <!--添加桌面  -->
      <router-link :to="{ name: 'tutorial' }">
        <div class="add-table" ></div>
      </router-link>
    </div>
    <!-- 选择语系弹窗 -->
    <language-modal :LangList="LangList" :LangSelected="LangSelected"></language-modal>
  </div>
</template>
<script>
import Vue from 'vue';
import moment from 'moment';
import { Swipe, SwipeItem } from 'vant';
import vueSeamlessScroll from 'vue-seamless-scroll';
import vHeader from '@/components/mobile/sub/newIndex/header.vue';
import CommonService from '@/assets/scripts/businessLogic/commonService.js';
import BLDef from '@/assets/scripts/common/BLDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import marquee from '@/components/mobile/sub/index/marquee.vue';
import themeModal from '@/components/mobile/sub/index/themeModal.vue';
import languageModal from '@/components/mobile/sub/index/languageModal.vue';

import CommUtility from '@/assets/scripts/common/CommUtility.js';
export default {
  components: {
    [Swipe.name]: Swipe,
    [SwipeItem.name]: SwipeItem,
    vHeader,
    vueSeamlessScroll,
    languageModal,
  },
  computed: {
    optionSingleHeight() {
      return {
        direction: 2,
        limitMoveNum: 1,
        hoverStop: false
      };
    }
  },
  data() {
    return {
      theme: this.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split('-')[1]),
      ResourceCDN: this.$ResourceCDN,
      className: '',
      LogoPath: '',
      // 語系選單
      LangList: [
        {
          Checked: false,
          Key: '',
          Name: '简体中文',
          PMode: -1,
          Value: '1'
        },

        {
          Checked: false,
          Key: '',
          Name: 'English',
          PMode: -1,
          Value: '2'
        },
        {
          Checked: false,
          Key: '',
          Name: 'Tiếng việt nam',
          PMode: -1,
          Value: '3'
        },

        {
          Checked: false,
          Key: '',
          Name: '繁体中文',
          PMode: -1,
          Value: '4'
        }
      ],
      // 被選定的語系
      LangSelected: '1',
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      MQTimer: undefined,
      MarqueeKey: 'webMarquee',
      MarqueeFlag: undefined,
      MarqueeStartTick: +Infinity,
      marqueeShowList: [],
      windowH: window.innerWidth,
      banner: []
    };
  },
  created: async function() {
    EventBus.$on('SignalR_MaintenanceFinish_Notify', data => {
      this.MaintenanceFinishNotify(data);
    });
    EventBus.$on('SignalR_UpdateMarquee', data => {
      this.MarqueeStartTick = +Infinity;
      this.UpdateMarquee(data);
    });

    switch (this.theme) {
      case 'M-001':
        this.className = '1';
        break;
      case 'M-002':
        this.className = '2';
        break;
      case 'M-003':
        this.className = '3';
        break;
      case 'M-004':
        this.className = '4';
        break;
      case 'M-005':
        this.className = '5';
        break;
      case 'M-006':
        this.className = '6';
        break;
      case 'M-007':
        this.className = '7';
        break;
      case 'M-008':
        this.className = '8';
        break;
      case 'M-009':
        this.className = '9';
        break;
      case 'M-010':
        this.className = '10';
        break;
      case 'M-011':
        this.className = '11';
        break;
      case 'M-012':
        this.className = '12';
        break;
      default:
        break;
    } 
    await this.GetMarqueeData();
    this.DealMarqueeData();
    this.Load();
    setTimeout(() => {
      this.LogoPath = localStorage.getItem('LogoImgPath');
      console.log(this.marqueeShowList)
    }, 3000);
    setTimeout(() => {
      this.banner = [
        `${this.ResourceCDN}/Customized/VVN/images/index/banner01.jpg`,
        `${this.ResourceCDN}/Customized/VVN/images/index/banner02.jpg`,
        ];
    }, 100);
  },
  methods: {
    // 打开公告信息弹窗 20191012 ququ
    OpenMarqueeModal: function(event) {
      console.log('======================OpenMarqueeModal');
      console.log(event.target.dataset);
      if (event.target.dataset.announcement) {
        EventBus.$emit('MarqueeListItemId', event.target.dataset.id);
      }
      return;
    },
    BindMarqueeEvent: function() {
      const self = this;
      self.MarqueeFlag = true;
      const continueFlag = self.CheckMarquee();
      if (continueFlag === false) {
        self.MarqueeFlag = false;
        self.DealMarqueeData();
      }
    },
    GetMarqueeData: async function() {
      const dataObj = {
        WGUID: this.$WGUID
      };
      const data = await CommonService.Comm_GetMarqueeInfo(dataObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        localStorage.setItem(
          this.MarqueeKey,
          JSON.stringify(data.Data.MarqueeList)
        );
      }
    },
    // 處理跑馬燈資料
    DealMarqueeData: function() {
      const self = this;
      // 取得storage中的跑馬燈資訊
      const playFlag = self.CheckMarquee();

      if (playFlag === true) {
        this.BindMarqueeEvent();
      } else {
        if (this.MarqueeStartTick != +Infinity) {
          this.MQTimer = setTimeout(
            this.DealMarqueeData,
            this.MarqueeStartTick
          );
        }
      }
    },
    // 檢查跑馬燈
    CheckMarquee: function() {
      const marqueeStr = localStorage.getItem(this.MarqueeKey);
      this.marqueeShowList = [];
      if (marqueeStr) {
        const marqueeList = JSON.parse(marqueeStr);
        let marqueeKeepArray = [];

        // 組成跑馬燈內容
        for (let i = 0, len = marqueeList.length; i < len; i += 1) {
          const Item = marqueeList[i];
          if (
            (Item.StartTick < moment().valueOf() &&
              Item.EndTick > moment().valueOf()) ||
            Item.IsRemoveByTime === false
          ) {
            switch (Item.Type) {
              // 緊急公告
              case BLDef.BroadcastMsgType.EMERGENCY:
                Item.Msg = Item.Msg;
                break;
              // 維護
              case BLDef.BroadcastMsgType.MAINTAIN:
                Item.Msg = Item.Msg.replace(
                  '{StartTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.StartTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                ).replace(
                  '{EndTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.EndTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                );
                break;
              default:
                break;
            } // end switch
            
              marqueeKeepArray.push(Item);
          } else if (Item.StartTick > moment().valueOf()) {
            
              marqueeKeepArray.push(Item);

            // 判斷最近要觸發的跑馬燈倒數時間
            if (this.MarqueeStartTick > Item.StartTick - moment().valueOf()) {
              this.MarqueeStartTick =
                Item.StartTick - moment().valueOf() + 1000;
            } // end if
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));

        // 设置定时器到点进行加入相关的跑马灯 2019.12.02 ququ
        const nowTime = Date.parse(new Date());
        // let setTime = 0;
        console.log(nowTime);
        for (let i = 0; i < marqueeKeepArray.length; i++) {
          if (marqueeKeepArray[i].StartTick - nowTime > 0) {
            setTimeout(() => {
              this.CheckMarquee();
              EventBus.$emit('UpdateMarqueeList'); // 更新公告信息弹窗
            }, marqueeKeepArray[i].StartTick - nowTime);
          } else {
            this.marqueeShowList.push(marqueeKeepArray[i]);
          }
        }

        // 將文字丟到跑馬燈上
        // this.marqueeShowList = marqueeKeepArray;

        // 更新storage跑馬燈資訊
        if (marqueeKeepArray.length > 0) {
          return true;
        }

        // 沒有跑馬燈就移除localStorage
        if (marqueeKeepArray.length == 0) {
          this.MarqueeStartTick = +Infinity;
          localStorage.removeItem(this.MarqueeKey);
        } // end if
      }

      return false;
    },
    // signalr通知新的跑馬燈部分
    UpdateMarquee: async function() {
      await this.GetMarqueeData();
      if (this.MarqueeFlag !== true) {
        clearTimeout(this.MQTimer);
        this.DealMarqueeData();
      }
    },
    // signalr結束維護通知
    MaintenanceFinishNotify: function(data) {
      if (
        data.Data.MarqueeMessage.ID &&
        data.Data.MarqueeMessage.Type == BLDef.BroadcastMsgType.MAINTAIN
      ) {
        const playArray = [];
        let marqueeList = [];
        const marqueeStr = localStorage.getItem(this.MarqueeKey);
        if (marqueeStr) {
          marqueeList = JSON.parse(marqueeStr);
        }

        // 更新跑馬燈列表
        for (let i = 0; i < marqueeList.length; i++) {
          if (
            !marqueeList[i].ID ||
            marqueeList[i].ID != data.Data.MarqueeMessage.ID
          ) {
            playArray.push(marqueeList[i]);
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(playArray));
      }
    },
    Load: function() {
      this.$nextTick(function() {
        this.bindSetting();
        // this.LoadLangList();
        this.GetSelectedLanguage();
      });
    },
    // 获取选中语系
    GetSelectedLanguage: function() {
      const language = CommUtility.GetCookie('language');
      if (language != '') {
        switch (language) {
          case 'cn':
            this.LangSelected = '1';
            break;
          case 'en':
            this.LangSelected = '2';
            break;
          case 'vn':
            this.LangSelected = '3';
            break;
          case 'tc':
            this.LangSelected = '4';
            break;
          default:
            this.LangSelected = '1';
            break;
        }
      }
    },
    // 载入语系
    LoadLangList: async function() {
      const retData = await CommonService.Comm_GetLanguages();
      console.log('==================================Comm_GetLanguages');
      console.log(retData);
      if (retData.Ret == 0) {
        this.LangList = retData.Data.LangSelectList;
        this.LangSelected = this.LangList[0];
      } // end if
    }, // end LoadLangList
    //收起/展开设置
    bindSetting: function() {
      $('#settingBtn .icon-setting').click(function() {
        var that = $('#settingBtn');
        if (that.hasClass('open')) {
          that.removeClass('open');
          $('#menuSetting').fadeOut();
        } else {
          that.addClass('open');
          $('#menuSetting').fadeIn();
        }
      });
    },
    ChangeLangEvent: function(lang) {
      this.LangSelected = lang.Value;
      if (lang.Value === '1') {
        this.$i18n.locale = 'cn';
        CommUtility.SetCookie('language', 'cn');
      } else if (lang.Value === '2') {
        this.$i18n.locale = 'en';
        CommUtility.SetCookie('language', 'en');
      } else if (lang.Value === '3') {
        this.$i18n.locale = 'vn';
        CommUtility.SetCookie('language', 'vn');
      } else if (lang.Value === '4') {
        this.$i18n.locale = 'tc';
        CommUtility.SetCookie('language', 'tc');
      }
    }
  }
};
</script>

