<template>
  <div id="playGamesOftent">
    <div :class="`class${className}`" v-if="GameList.length">
      <div class="playGamesOftent-container">
        <div class="content-left">
          <div class="left-bg6"></div>
          <div class="first-item1">
            <span class="item-titile">{{$t('lang.NEW_INDEX_HOT_GAME')}}</span>
          </div>
          <div class="right-bg6"></div>
        </div>
        <div class="content-right">
          <div
            class="playGamesOftent-item"
            v-for="(item, index) in GameList"
            v-bind:key="index"
            @click="item.GameTypeState != 703?PlayGame(item):''"
          >
            <div class="maintain-icon" v-if="item.GameTypeState == 703">
              <img
                :src="`${ResourceCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain-icon.png`"
              />
              <p>{{$t('lang.GAME_MAINTENANCE')}}</p>
            </div>
            <img class="photo" :src="item.photoUrl" alt />
            <van-image
              class="logo" 
              fit="contain"
              :src=" ResourceCDN + '/PartnerLogo/whitelogo/v-logo' +  item.GameApiNo + '.png'"
            />
            <img
              v-if="themeNumber != '5'"
              class="bg"
              :src="`${ResourceCDN}/EditionImg-mobile/Edition${className}/item.png`"
              alt
            />
            <p class="name">
              <!-- <span>{{item.GameApiName}}</span> -->
              <span v-if="item.GameTypeNo == '1'">{{$t('lang.GAME_LIVE_VIDEO')}}</span>
              <span v-else-if="item.GameTypeNo == '2'">{{$t('lang.GAME_SPORTS')}}</span>
              <span v-else-if="item.GameTypeNo == '3'">{{$t('lang.GAME_LOTTERY')}}</span>
              <span v-else-if="item.GameTypeNo == '4'">{{$t('lang.GAME_ELECTRONIC')}}</span>
              <span v-else-if="item.GameTypeNo == '5'">{{$t('lang.GAME_POKER')}}</span>
              <span v-else-if="item.GameTypeNo == '6'">{{$t('lang.NEW_INDEX_ESPORTS')}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import BLDef from '@/assets/scripts/common/BLDef.js';
import URLService from '@/assets/scripts/common/URLService.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import HttpService from '@/assets/scripts/common/HttpService.js';
import CommonService from '@/assets/scripts/businessLogic/commonService.js';
import { Image } from "vant";

export default {
  components: { [Image.name]: Image },
  data() {
    return {
      theme: this.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split('-')[1]),
      IsLogin: undefined,
      ResourceCDN: this.$ResourceCDN,
      className: '',
      GameList: [], // 筛选的前十个游戏
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: undefined,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      },
      GetDataNum: 1, // 防止循环重复的执行获取本地数据 最多获取5次
      beautyPhoto: [
        '/EditionImg-mobile/DefaultImg/beautyPhoto/1.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/2.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/3.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/4.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/5.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/6.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/7.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/8.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/9.jpg',
        '/EditionImg-mobile/DefaultImg/beautyPhoto/10.jpg'
      ]
    };
  },
  created: function() {
    this.CheckIsLogin(); // 检查用户是否登录
    switch (this.theme) {
      case 'M-001':
        this.className = '1';
        break;
      case 'M-002':
        this.className = '2';
        break;
      case 'M-003':
        this.className = '3';
        break;
      case 'M-004':
        this.className = '4';
        break;
      case 'M-005':
        this.className = '5';
        break;
      case 'M-006':
        this.className = '6';
        break;
      case 'M-007':
        this.className = '7';
        break;
      case 'M-008':
        this.className = '8';
        break;
      case 'M-009':
        this.className = '9';
        break;
      case 'M-010':
        this.className = '10';
        break;
      case 'M-011':
        this.className = '11';
        break;
      case 'M-012':
        this.className = '12';
        break;
      default:
        break;
    }
    this.SelectGameList();
  },
  methods: {
    // 获取本地缓存游戏，筛选游戏类型  1：真人视讯  2：体育博彩
    SelectGameList: function() {
      const gameList = JSON.parse(localStorage.getItem('GameList'));
      const self = this;
      if (gameList == null && this.GetDataNum < 50) {
        this.GetDataNum++;
        setTimeout(() => {
          self.SelectGameList();
        }, 200 * this.GetDataNum);
        return;
      }

      //  < 10 热门游戏最多不能展示超过10个
      // for (let i = 0; i < gameList.length; i++) {
      //   if (
      //     (gameList[i].GameTypeNo === 1 || gameList[i].GameTypeNo === 2) &&
      //     this.GameList.length < 10
      //   ) {
      //     this.GameList.push(gameList[i]);
      //   }
      // }

      // 排序
      let arr = [];
      // 按经典游戏排序
      gameList.forEach((item, index) => {
        switch (item.GameTypeNo) {
          case 1:
            item.customSort = 1; arr.push(item);
            break;
          case 2:
            item.customSort = 2; arr.push(item);
            break;
          // case 6:
          //   item.customSort = 3; arr.push(item);
          //   break;
          case 5:
            item.customSort = 4; arr.push(item);
            break;
          case 3:
            item.customSort = 5; arr.push(item);
            break;
          default:
        }
      });
      arr.sort(function(a, b) {
        if (b.Sort == a.Sort) {
          return a.customSort - b.customSort;
        }
        return b.Sort - a.Sort;
      });
      arr.forEach(item => {
        if (item.customSort && this.GameList.length < 10) {
          this.GameList.push(item);
        }
      });

      this.setPhoto();
    },

    // 处理图像
    setPhoto: function() {
      console.log('===============setPhoto');
      console.log(this.GameList);
      this.GameList.forEach((item, index) => {
        item.photoUrl =
          this.ResourceCDN + this.beautyPhoto[index % this.beautyPhoto.length];
      });
    },

    // 判断是否登录 20191107 SeyoChen
    async CheckIsLogin() {
      const data = await CommonService.Comm_CheckPermission();
      switch (data.Status) {
        case BLDef.SysAccountStatus.NOT_LOGIN:
          this.IsLogin = false;
          break;
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.IsLogin = true;
          break;
        default:
          break;
      }
    },

    // 进入游戏
    PlayGame: function(data) {
      if (!this.IsLogin) {
        this.$router.push({
          name: 'login'
        });
        return;
      }
      this.GameData.GameCatlog = data.GameTypeNo; // 游戏类型
      this.GameData.GameAPIVendor = data.GameApiNo; // 游戏厂商编号
      this.GameData.GameCode = data.GameCode; // 游戏进入验证码
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      CommUtility.OpenPlayGameWindow('playGameBackIndex');
    }
  }
};
</script>