<template>
  <div class="play-game-wrap" style="margin-top: 60px;">
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <iframe
      :src="ServiceUrl"
      frameborder="0"
      border="0"
      cellspacing="0"
      scrolling="no"
      style="width:100%;height:500px;"
    ></iframe>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import URLService from 'scripts/common/URLService';
import CommonService from 'scripts/businessLogic/commonService';
import GameService from 'scripts/businessLogic/gameService';
import EventBus from 'scripts/common/EventBus';
import mainHeader from '@/components/mobile/sub/mainHeader';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.SERVICE_TITLE'),
      ServiceUrl: undefined,
      QQAcct: this.$route.params.QQAcct || ''
    };
  },
  mounted: function() {
    this.ServiceUrl =
      'http://wpa.qq.com/msgrd?v=3&uin=' + this.QQAcct + '&site=qq&menu=yes';
  },
  methods: function() {},
  components: {
    mainHeader
  }
};
</script>

