<template>
  <!-- qq客服 弹窗提示 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="qqServiceModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.SERVICE_7_24')}}</h4>
          </div>
          <div class="modal-body">
            <ul>
              <li v-for="QQInfo in CustomerService.CustomerServiceSettingInfoList">
                <a @click="CallQQClient(QQInfo.QQAcct)">
                  <img
                    :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_qq_service.png'"
                  />
                </a>
                <!--<router-link :to="{name: 'linkToQQ',params:{QQAcct: QQInfo.QQAcct}}" data-dismiss="modal">
		            				<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_qq_service.png'" />
                </router-link>-->
                <label>{{QQInfo.Name}}</label>
              </li>
            </ul>
            <!--<h5>QQ在线客服：艾米</h5>-->
            <p>
              <span>{{$t('lang.SERVICE_TIP')}}：</span>
              <span>{{$t('lang.SERVICE_CONSULTING')}}</span>
            </p>
            <p>
              <em class="icon-service1"></em>
              {{$t('lang.SERVICE_TEL')}}：
              <a
                :href="'tel:' + CustomerService.CustomerServicePhoneNo"
              >{{this.CustomerService.CustomerServicePhoneNo}}</a>
            </p>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <div class="modal-footer-close" data-dismiss="modal" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close4.png)'}"></div>
    </div>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/service/index.less';
</style>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  data() {
    return {
      CustomerService: {},
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  created: function() {
    this.GetCustomerServiceInfo();
  },
  methods: {
    GetCustomerServiceInfo: async function() {
      const inputObj = { WGUID: Vue.prototype.$WGUID };
      const data = await CommonService.Comm_GetCustomerServiceInfo(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.CustomerService = data.Data.CustomerServiceInfo;
        //客服最多不超过3个
        if (
          this.CustomerService.CustomerServiceSettingInfoList &&
          this.CustomerService.CustomerServiceSettingInfoList.length > 3
        ) {
          this.CustomerService.CustomerServiceSettingInfoList = this.CustomerService.CustomerServiceSettingInfoList.slice(
            0,
            3
          );
        }
      }
    },
    CallQQClient: function(QQAcct) {
      const QQHref =
        'http://wpa.qq.com/msgrd?v=3&uin=' + QQAcct + '&site=qq&menu=yes';
      window.open(QQHref);
    }
  }
};
</script>
