<template>
  <!-- 免费试玩弹窗提示 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="serviceModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{this.LogoName}}游戏大厅在线客服</h4>
            <div class="modal-close" type="button" data-dismiss="modal" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close2.png)'}"></div>
          </div>
          <div class="modal-body">
            <section class="service-list">
              <ul>
                <li class="left">
                  <label>Today at 10:54 AM 在线客服</label>
                  <div>
                    <em></em>
                    <p>欢迎来到{{this.LogoName}}，请问有什么地方能为您服务？</p>
                  </div>
                </li>
                <li class="right">
                  <label>Today at 10:54 AM</label>
                  <div>
                    <p>请问怎么进入游戏页面！请问怎么进入游戏页面！请问怎么进入游戏页面！请问怎么进入游戏页面！请问怎么进入游戏页面！</p>
                  </div>
                </li>
                <li class="left">
                  <label>Today at 10:54 AM 在线客服</label>
                  <div>
                    <em></em>
                    <p>请问有什么能为您服务的？</p>
                  </div>
                </li>
                <li class="right">
                  <label>Today at 10:54 AM</label>
                  <div>
                    <p>请问怎么进入游戏页面！</p>
                  </div>
                </li>
              </ul>
              <div class="input-row">
                <input type="text" class="input-txt" placeholder="请输入...">
                <a class="btn btn-save">发送</a>
              </div>
            </section>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/modal/mobile/service/index.less";
</style>

<script>
export default {
  data() {
    return {
      LogoName: localStorage.getItem("LogoName")
    };
  }
};
</script>

