<template>
  <div class="classicGames" :class="theme">
    <h1 class="title">
      <p class="name">{{$t('lang.NEW_INDEX_CLASSIC_GAMES')}}</p>
      <p class="name">Classic games</p>
    </h1>
    <article class="content">
      <ol class="sidebar">
        <li
          :class="sidebar[5].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[5])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.GAME_LOTTERY')}}</p>
        </li>
        <li
          :class="sidebar[3].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[3])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.GAME_ELECTRONIC')}}</p>
        </li>
        <li
          :class="sidebar[1].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[1])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.GAME_SPORTS')}}</p>
        </li>
        <li
          :class="sidebar[0].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[0])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.GAME_LIVE_VIDEO')}}</p>
        </li>
        <li
          :class="sidebar[4].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[4])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.GAME_POKER')}}</p>
        </li>
        <li
          v-show="theme != 'M-005'"
          :class="sidebar[2].id == active ? 'item active' : 'item'"
          @click="setSidebar(sidebar[2])"
        >
          <em class="icon"></em>
          <p class="name">{{$t('lang.NEW_INDEX_ESPORTS')}}</p>
        </li>
      </ol>

      <div class="list-box">
        <!-- 彩票排版 -->
        <ul class="list electronic-list" :class="{'stay':GameList.length===0}" v-if="active == 3">
          <li class="item" v-if="LotteryTextList.length===0 && LotteryList.length===0">
            <div>
              <img
                :src=" ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/' +this.$i18n.locale +'/stay.png'"
                width="100%"
              />
            </div>
          </li>
          <li
            class="item"
            v-for="(item,index) in LotteryTextList"
            :key="index"
            :style="{backgroundImage: 'url('+ item.bgUrl +')' }"
            style=" width: 48.8%;"
          >
            <div class="maintain-icon" v-if="item.GameTypeState == 703">
              <img
                :src="`${ResourceCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain-icon.png`"
              />
              <p class="name">{{$t('lang.GAME_MAINTENANCE')}}</p>
            </div>
            <a v-if="item.GameTypeState == 703">
              <img :src="ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+item.GameApiNo+'.png'" />
            </a>
            <a v-on:click="PlayKGGame(item);" v-else>
              <img
                :src="ResourceCDN+'/Customized/VND/images/lottery/v-logo97.png'"
                style="width: 90%; margin:.4rem auto 0;"
              />
              <p class="name">{{$t('lang.VND_LOTTERY_' + (index+1))}}</p>
            </a>
          </li>
          <li
            class="item"
            v-for="(item,index) in LotteryList"
            :key="index"
            :style="{backgroundImage: 'url('+ item.bgUrl +')' }"
            style=" width: 48.8%;"
          >
            <div class="maintain-icon" v-if="item.GameTypeState == 703">
              <img
                :src="`${ResourceCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain-icon.png`"
              />
              <p>{{$t('lang.GAME_MAINTENANCE')}}</p>
            </div>
            <a v-if="item.GameTypeState == 703">
              <img :src=" ResourceCDN + '/PartnerLogo/bgdeep/v-logo' +  item.GameApiNo + '.png'" />
            </a>
            <a v-on:click="PlayKGGame(item);" v-else>
              <img :src=" ResourceCDN + '/PartnerLogo/bgdeep/v-logo' +  item.GameApiNo + '.png'" />
            </a>
          </li>
        </ul>
        <!-- 电子游戏排版 -->
        <ul
          class="list electronic-list"
          :class="{'stay':GameList.length===0}"
          v-else-if="active == 4"
        >
          <li class="item" v-if="GameList.length===0">
            <div>
              <img
                :src=" ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/' +this.$i18n.locale +'/stay.png'"
                width="100%"
              />
            </div>
          </li>
          <li
            class="item"
            v-for="(item,index) in GameList"
            :key="index"
            :style="{backgroundImage: 'url('+ item.bgUrl +')' }"
          >
            <div class="maintain-icon" v-if="item.GameTypeState == 703">
              <img
                :src="`${ResourceCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain-icon.png`"
              />
              <p>{{$t('lang.GAME_MAINTENANCE')}}</p>
            </div>
            <a v-if="item.GameTypeState == 703">
              <img :src=" ResourceCDN + '/PartnerLogo/whitelogo/v-logo' +  item.GameApiNo + '.png'" />
            </a>
            <router-link :to="{ name: 'eGameList', params: { Data: item.GameApiNo }}" v-else>
              <img :src=" ResourceCDN + '/PartnerLogo/whitelogo/v-logo' +  item.GameApiNo + '.png'" />
            </router-link>
          </li>
        </ul>
        <!-- 通用排版 -->
        <ul class="list" :class="{'stay':GameList.length===0}" v-else>
          <li class="item" v-if="GameList.length===0">
            <div>
              <img
                :src=" ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/' +this.$i18n.locale +'/stay.png'"
                width="100%"
              />
            </div>
          </li>
          <li
            class="item"
            v-for="(item,index) in GameList"
            :key="index"
            :style="{backgroundImage: 'url('+ item.bgUrl +')' }"
            @click="item.GameTypeState != 703?PlayGame( item ):''"
          >
            <div class="maintain-icon" v-if="item.GameTypeState == 703">
              <img
                :src="`${ResourceCDN}/EditionImg-mobile/Lambor1.0/images/mobile/common/maintain-icon.png`"
              />
              <p>{{$t('lang.GAME_MAINTENANCE')}}</p>
            </div>
            <p class="name">{{item.GameApiName}}</p>
            <p class="button">
              <span>{{$t('lang.NEW_INDEX_ENTER')}}</span>
            </p>
          </li>
        </ul>
      </div>
    </article>
  </div>
</template>

<script>
import Vue from "vue"
import BLDef from "@/assets/scripts/common/BLDef"
import URLService from "@/assets/scripts/common/URLService"
import CommUtility from "@/assets/scripts/common/CommUtility"
import CommonService from "@/assets/scripts/businessLogic/commonService"
export default {
  data() {
    return {
      theme: Vue.prototype.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split("-")[1]),
      // 資源位置
      ResourceCDN: Vue.prototype.$ResourceCDN,
      IsLogin: undefined,
      active: 3,
      sidebar: [
        {
          name: this.$t("lang.GAME_LIVE_VIDEO"),
          id: "1",
          bgNum: 16,
          urlBase: "/EditionImg-mobile/DefaultImg/liveVideo/",
          imgType: "png"
        },
        {
          name: this.$t("lang.GAME_SPORTS"),
          id: "2",
          bgNum: 10,
          urlBase: "/EditionImg-mobile/DefaultImg/sport/",
          imgType: "png"
        },
        {
          name: this.$t("lang.NEW_INDEX_ESPORTS"),
          id: "6",
          bgNum: 12,
          urlBase: "/EditionImg-mobile/DefaultImg/athletics/",
          imgType: "png"
        },
        {
          name: this.$t("lang.GAME_ELECTRONIC"),
          id: "4",
          bgNum: 7,
          urlBase: "/EditionImg-mobile/DefaultImg/electronic/",
          imgType: "png"
        },
        {
          name: this.$t("lang.GAME_POKER"),
          id: "5",
          bgNum: 12,
          urlBase: "/EditionImg-mobile/DefaultImg/poker/",
          imgType: "png"
        },
        {
          name: this.$t("lang.GAME_LOTTERY"),
          id: "3",
          bgNum: 10,
          urlBase: "/EditionImg-mobile/DefaultImg/lottery/",
          imgType: "jpg"
        }
      ],
      GameList: [],
      LotteryList: [],
      LotteryTextList: [],
      WorldGameCode: [256, 197, 183, 162, 223],
      GameData: {
        GameAPIVendor: undefined,
        GameCode: "",
        GameCatlog: undefined,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.Paltform.Web_Mobile
      }
    }
  },
  created: function () {
    this.getLst()
    this.CheckIsLogin() // 检查用户是否登录
  },
  methods: {
    setSidebar: function (item) {
      this.active = item.id
      this.getLst()

      $(".list-box .list").css({ opacity: "0" })
    },

    getLst: function () {
      this.GameList = []
      this.LotteryList = []
      this.LotteryTextList = []
      setTimeout(() => {
        if (localStorage.GameList) {
          let GameList = JSON.parse(localStorage.GameList)
          if (this.active == 3) {
            // 彩票排版
            for (let i = 0; i < GameList.length; i++) {
              if (GameList[i].IsH5Support === 1 && GameList[i].ApiStatus !== 704) {
                if (GameList[i].GameApiNo === "97") {
                  for (let j = 0; j < 5; j++) {
                    let Game = JSON.parse(JSON.stringify(GameList[i]))
                    Game.GameCode = this.WorldGameCode[j]
                    this.GameList.push(Game)
                  }
                } else {
                  this.GameList.push(GameList[i])
                }
              }
            }
            this.GetLotteryGame()
          } else {
            this.GameList = GameList.filter((item, index) => {
              return item.GameTypeNo == this.active
            })
            this.setbg()
          }
        } else {
          setTimeout(() => {
            this.getLst()
          }, 200)
        }
      }, 100)
    },

    GetLotteryGame: function () {
      this.LotteryList = []
      this.LotteryTextList = []
      for (let i = 0; i < this.GameList.length; i++) {
        if (this.GameList[i].GameTypeNo === 3 && this.GameList[i].ApiStatus !== 704) {
          if (this.GameList[i].GameApiNo !== "97") {
            this.LotteryList.push(this.GameList[i])
          } else {
            this.LotteryTextList.push(this.GameList[i])
          }
        }
      }
      this.setLotteryBg()
    },

    // 设置背景图
    setbg: function () {
      for (let sidebar of this.sidebar) {
        if (sidebar.id == this.active) {
          this.GameList.forEach((item, index) => {
            item.bgUrl =
              this.ResourceCDN + sidebar.urlBase + ((index % (sidebar.bgNum - 2)) + 1) + "." + sidebar.imgType
          })
        }
      }
      this.setTransition()
    },

    // 设置彩票背景图
    setLotteryBg: function () {
      let sidebar = this.sidebar[3]
      this.LotteryTextList.forEach((item, index) => {
        item.bgUrl = this.ResourceCDN + sidebar.urlBase + ((index % (sidebar.bgNum - 2)) + 1) + "." + sidebar.imgType
      })
      this.LotteryList.forEach((item, index) => {
        item.bgUrl =
          this.ResourceCDN +
          sidebar.urlBase +
          (((index + this.LotteryTextList.length) % (sidebar.bgNum - 2)) + 1) +
          "." +
          sidebar.imgType
      })
      this.setTransition()
    },

    // 过渡效果
    setTransition() {
      setTimeout(() => {
        $(".list-box").find(".item").css({
          opacity: 0,
          margin: "2rem 0 .4rem 0",
          transition: "all 0s ease-in-out"
        })
        setTimeout(() => {
          $(".list-box .list").css({ opacity: "1" })
          $(".list-box").find(".item").css({
            opacity: 1,
            margin: "0 0 .4rem 0",
            transition: "all 1s ease-in-out"
          })
        }, 100)
      }, 100)
    },

    // 进入游戏
    PlayGame: function (data) {
      if (!this.IsLogin) {
        this.$router.push({
          name: "login"
        })
        return
      }
      this.GameData.GameCatlog = data.GameTypeNo // 游戏类型
      this.GameData.GameAPIVendor = data.GameApiNo // 游戏厂商编号
      this.GameData.GameCode = data.GameCode // 游戏进入验证码
      localStorage.setItem("PlayGamePostData", URLService.GetUrlParameterFromObj(this.GameData))
      // 判断游戏是否为需要打开游戏大厅 2020.01.15 ququ
      localStorage.setItem("gameListGameApiNo", data.GameApiNo)
      if (data.GameTypeNo == 5 && data.GameApiNo == "69") {
        this.$router.push({
          name: "pokerGameLobby",
          params: { Data: data.GameApiNo }
        })
      } else if (data.GameTypeNo == 5 && data.GameApiNo == "70") {
        this.$router.push({
          name: "pokerGameLobby",
          params: { Data: data.GameApiNo }
        })
      } else if (data.GameTypeNo == 5 && data.GameApiNo == "72") {
        this.$router.push({
          name: "pokerGameLobby",
          params: { Data: data.GameApiNo }
        })
      } else {
        CommUtility.OpenPlayGameWindow("playGameBackIndex")
      }
      //  else if (data.GameTypeNo == 5 && data.GameApiNo == '73') {
      //   this.$router.push({
      //     name: 'pokerGameLobby',
      //     params: { Data: data.GameApiNo }
      //   });
      // }
      // 根据后端反馈 73 这家已经不再接入 2020.01.15 ququ
    },

    // 判断是否登录 20191107 SeyoChen
    async CheckIsLogin() {
      const data = await CommonService.Comm_CheckPermission()
      switch (data.Status) {
        case BLDef.SysAccountStatus.NOT_LOGIN:
          this.IsLogin = false
          break
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.IsLogin = true
          break
        default:
          break
      }
    },

    // 開新視窗
    PlayKGGame: function (gameList) {
      this.GameData.GameAPIVendor = gameList.GameApiNo
      this.GameData.GameCode = gameList.GameCode
      localStorage.setItem("PlayGamePostData", URLService.GetUrlParameterFromObj(this.GameData))

      CommUtility.OpenPlayGameWindow("playGameBackIndex")
    }
  }
}
</script>