<template>
  <div>
    <div
      id="themeLayout"
      class="theme-one-green"
      :class="theme"
      :style="{backgroundImage: themeNumber == '6' || themeNumber == '7' || themeNumber == '8' || themeNumber == '9' || themeNumber == '10' || themeNumber == '11' || themeNumber == '12' ? 'url(' + ResourceCDN + '/EditionImg-mobile/Edition' + themeNumber + '/theme-bg.jpg)' : ''}"
    >
      <!-- 内容 -->
      <transition :name="transitionName">
        <router-view></router-view>
      </transition>

      <!-- <div class="footer-control user" v-if="ShowUserControl">
        <router-link :to="{name: 'addUser'}">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/userList/addUser.png'"
            class="addUser-btn"
          />
        </router-link>
        <router-link :to="{name: 'delUser'}">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/userList/delUser.png'"
            class="delUser-btn"
          />
        </router-link>
      </div>-->
      <div class="footer-control plan promotion" v-if="ShowPlanControl">
        <router-link :to="{name: 'promotionQRcode'}">{{$t('lang.PLAN_MEMBER_CODE')}}</router-link>
      </div>
      <!-- 尾部 -->
      <!-- <main-menu></main-menu> -->
      <mainMenuNew></mainMenuNew>

      <!-- 弹窗提示 -->
      <tip-top-modal></tip-top-modal>

      <!-- 提示框 -->
      <message-window></message-window>
      <message-window-we-chat></message-window-we-chat>

      <!-- 温馨提示框 -->
      <warn-tip-modal></warn-tip-modal>

      <!-- loading -->
      <global-loading></global-loading>

      <!-- 按键音 -->
      <audio
        id="keydownMsc"
        :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/mp3/keydown.wav'"
        preload="auto"
      ></audio>

      <!-- 背景音乐 -->
      <!-- <audio id="bgMsc" :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/mp3/Seve.mp3'" preload="auto" loop></audio> -->
      <!-- 提现弹窗 -->
      <!-- <withdrawal-modal></withdrawal-modal> -->
    </div>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/custom/mobile/public.less";
@import "@/mod/k19/assets/styles/custom/mobile/allTheme.less";
@import "~styles/custom/mobile/modal.less";
@import "~styles/custom/mobile/language.less";
@import "~styles/modal/mobile/layout/landscape.css";
</style>
<script>
import "scripts/custom/jquery.min.js"
import "scripts/custom/modal.js"
import mainMenu from "@/mod/k19/components/mobile/sub/mainMenu"
import mainMenuNew from "@/mod/k19/components/mobile/sub/mainMenuNew"
import tipTopModal from "@/components/mobile/tipTopModal"
import messageWindow from "@/components/mobile/messageWindow"
import messageWindowWeChat from "@/components/mobile/messageWindowWeChat"
import warnTipModal from "@/components/mobile/warnTipModal"
import globalLoading from "@/components/mobile/globalLoading"
// import withdrawalModal from '@/components/mobile/sub/recharge/withdrawalModal';
import SignalRService from "scripts/common/SignalRService"

import BLDef from "scripts/common/BLDef"
import EventBus from "scripts/common/EventBus"
import Vue from "vue"

export default {
  data() {
    return {
      Theme: Vue.prototype.$ThemeName,
      theme: Vue.prototype.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split("-")[1]),
      NotifyObj: {},
      transitionName: "",
      ShowUserControl: false, // 是否显示用户列表底部导航栏
      ShowPlanControl: false, // 是否显示推广方案底部导航栏
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    }
  },
  created: function () {
    const self = this

    EventBus.$on("SignalR_Maintenance_Notify", (data) => {
      self.MaintenanceNotify(data)
    })
    EventBus.$on("SignalR_Logout_OtherPageLogout", () => {
      self.GlobalLogout()
    })

    //设置主题
    EventBus.$on("SET_THEME", (data) => {
      localStorage.setItem("SET_THEME", data)
      $("#themeLayout").removeClass().addClass(data)
    })

    // 播放音乐
    // EventBus.$on('PLAY_MSC', () => {
    //     this.PlayMsc();
    // });

    // 修改密码，退出重新登录
    EventBus.$on("Logout_ChangePassword", () => {
      // 修改登录密码成功后退出当前用户 20190919 ququ
      EventBus.$emit("SHOW_TIP", this.$t("lang.PASSWORD_CHANGED"))
      setTimeout(() => {
        this.SingleLogout()
      }, 1500)
    })

    self.Load()
    self.ResetOrientation()

    //解决安卓手机唤起键盘时，footer跟着上
    // let oHeight = $(document).height(); //屏幕当前的高度
    // $(window).resize(function() {
    //   // 2018.10.25 SeyoChen
    //   let u = navigator.userAgent;
    //   let isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    //   if (isIOS) {
    //     return; //是iphoneX
    //   }
    //   // 2018.10.25 SeyoChen end

    //   // 当页面尺寸变化，判断当前尺寸比原始尺寸的1/2小时为键盘弹出，隐藏底栏 2019.07.09 ququ
    //   if ($(document).height() < (oHeight * 1) / 3) {
    //     $('.portrait footer').css('display', 'none');
    //     $('footer').css('height', 0);
    //     $('.footer-control').css('display', 'none');
    //   } else {
    //     $('footer').css('display', 'block');
    //     $('.footer-control').css('display', 'block');
    //     $('footer').css('height', '5rem');
    //   }
    // });

    // 全局点击 按键音
    $(document).on("click", function (e) {
      let _node = e.target.nodeName
      if (
        _node === "A" ||
        _node === "EM" ||
        _node === "INPUT" ||
        _node === "SELECT" ||
        _node === "LI" ||
        _node === "IMG"
      ) {
        let keydownMsc = $("#keydownMsc").get(0)
        keydownMsc.play()
        // 微信端
        if (document.addEventListener) {
          document.addEventListener(
            "WeixinJSBridgeReady",
            function () {
              keydownMsc.play()
            },
            false
          )
        }
      }
    })
    // 用户列表显示底部按钮
    if (this.$route.name == "userList") {
      this.ShowUserControl = true
    } else {
      this.ShowUserControl = false
    }
    // 推广方案显示底部按钮
    if (this.$route.name == "promotionPlan") {
      this.ShowPlanControl = true
    } else {
      this.ShowPlanControl = false
    }
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        let that = this
        that.LoadTheme()

        //提示弹窗居中
        $("#MessageWindow").on("show.bs.modal", function () {
          $(this).css("display", "block")
          let ModalHeight = $(window).height() / 2 - $("#MessageWindow .modal-dialog").height() / 2
          $(this).find(".modal-dialog").css({
            "margin-top": ModalHeight
          })
        })

        //提示弹窗居中
        $("#WarnTipModal").on("show.bs.modal", function () {
          $(this).css("display", "block")
          let ModalHeight = $(window).height() / 2 - $("#WarnTipModal .modal-dialog").height() / 2
          $(this).find(".modal-dialog").css({
            "margin-top": ModalHeight
          })
        })

        //首页自动播放背景音乐
        // const path = that.$route.path;
        // if (path == '' || path == '/' || path.indexOf('author') != -1) {
        //   setTimeout(function() {
        //     that.audioAutoPlay();
        //   }, 1000);
        // }
      })
    },
    //默认加载主题
    LoadTheme: function (data) {
      let localTheme = localStorage.getItem("SET_THEME")
      if (localTheme) {
        this.Theme = localTheme
      }
      localStorage.setItem("SET_THEME", this.Theme)
      $("#themeLayout").addClass(this.Theme)
    },
    // 維護通知
    MaintenanceNotify: function (data) {
      switch (data.Data.MaintainType) {
        case BLDef.MaintainTypesEnum.AllSYS:
        case BLDef.MaintainTypesEnum.GameFrontEnd:
          window.location.href = data.Data.NotifyData.Url
          break
        case BLDef.MaintainTypesEnum.GameApi:
          break
        case BLDef.MaintainTypesEnum.CashFlowProvider:
          break
        default:
          break
      }
    },
    // signalr通知進行登出
    GlobalLogout: function () {
      window.location.href = "/login"
    },
    // 后台通知登出 20190919 ququ
    SingleLogout: function () {
      EventBus.$emit("GlobalLoadingTrigger", true)
      // 移除登入相關資料
      localStorage.removeItem("Token")
      localStorage.removeItem("Auth")
      localStorage.removeItem("logoutTime")
      localStorage.removeItem("Acct")
      localStorage.removeItem("CorrelationIBMemberId")
      localStorage.removeItem("IBStatus")
      EventBus.$emit("GlobalLoadingTrigger", false)

      SignalRService.DisConnectServer()
      this.$router.push({ name: "login" })
    },
    // 畫面大小調整時觸發
    ResetOrientation: function () {
      ;(function (doc, win) {
        //此处是兼容ios的写法
        let supportOrientation =
            typeof window.orientation === "number" && typeof window.onorientationchange === "object",
          oFlag = false,
          ow,
          lFlag = false,
          lh
        // oFlag = false,ow,lFlag = false,lh 记住第一次的值就好了 不让fontsize因为计算单位发生变化而改变
        let init = function () {
          let orientation,
            docEl = doc.documentElement,
            dpr = Math.min(win.devicePixelRatio, 3),
            count = 0
          let updateOrientation = function () {
            let clientWidth = docEl.clientWidth
            let clientHeight = docEl.clientHeight
            if (supportOrientation) {
              orientation = window.orientation
              switch (orientation) {
                case 90:
                case -90:
                  orientation = "landscape" // 横屏
                  break
                default:
                  orientation = "portrait" // 竖屏
                  break
              }
            } else {
              orientation = window.innerWidth > window.innerHeight ? "landscape" : "portrait"
            }
            docEl.setAttribute("class", orientation)
            if (!oFlag) {
              if (clientWidth > clientHeight) {
                ow = clientHeight
              } else {
                ow = clientWidth
              }
            }
            if (!lFlag) {
              if (clientHeight > clientWidth) {
                lh = clientWidth
                lh = clientWidth
              } else {
                lh = clientHeight
              }
            }

            if (orientation === "portrait") {
              // 竖屏
              if (clientWidth == undefined) return
              if (clientWidth / dpr > 750) {
                clientWidth = 750 * dpr
              }
              oFlag = true
              //docEl.style.fontSize = Math.round(40 * (ow / 750)) + 'px';
              const h = ow / 2300
              $("html").css("font-size", 100 * h) //设置页面字体大小
              let winHeight = clientHeight > clientWidth ? clientHeight : clientWidth

              //设置游戏页面高度
              if (window.location.href.indexOf("playGame") != -1) {
                let headerHeight = $("#themeLayout header").height()
                $(".wrap").css("height", winHeight + "px")
                $(".wrap").css("margin-top", 0)
                $("#Iframe_Game").css("margin-top", headerHeight + "px")
                $("#Iframe_Game").css("height", winHeight + "px")
              }
              //设置普通页面高度
              else {
                let footerHeight = $("#themeLayout footer").height()
                let bodyHeight = winHeight - footerHeight
                $(".wrap").css("height", bodyHeight + "px")
              }

              // 2019.01.16 竖屏时重置动画活动弹回的高度 及 html动画满屏 SeyoChen
              // const BodyHeight = parseInt($('.banner').height()) + parseInt($('#contLeft').height());
              // $('.index-wrap').css({'height': BodyHeight + 'px'});
              // 2019.01.16 竖屏时重置动画活动弹回的高度 及 html动画满屏 SeyoChen end
            }
            if (orientation === "landscape") {
              // 横屏
              // 2019.01.16 横屏时重置动画活动弹回的高度 及 html动画满屏 SeyoChen
              // const BodyHeight = parseInt($('.banner').height()) + parseInt($('#contLeft').height());
              // $('.index-wrap').css({'height': BodyHeight + 'px'});
              // 2019.01.16 横屏时重置动画活动弹回的高度 及 html动画满屏 SeyoChen end

              if (clientHeight === undefined) return
              if (clientHeight / dpr > 750) {
                clientHeight = 750 * dpr
              }
              lFlag = true
              //docEl.style.fontSize = Math.round(40 * (lh / 750)) + 'px';
              const h = lh / 2600
              $("html").css("font-size", 100 * h)
              let winWidth = clientWidth > clientHeight ? clientHeight : clientWidth

              //设置游戏页面高度
              if (window.location.href.indexOf("playGame") != -1) {
                let headerHeight = $("#themeLayout header").height()
                $(".wrap").css("height", winWidth + "px")
                $(".wrap").css("margin-top", 0)
                $("#Iframe_Game").css("margin-top", 0)
                $("#Iframe_Game").css("height", winWidth + "px")
              }
              //设置普通页面高度
              else {
                let footerHeight = $("#themeLayout footer").height()
                let bodyHeight = winWidth - footerHeight
                $(".wrap").css("height", bodyHeight + "px")
              }
              EventBus.$emit("HOME_RIGHT_SLIDER") //首页游戏第二级页面回收
            }
          }
          if (supportOrientation) {
            window.addEventListener(
              "orientationchange",
              function () {
                if (count < 20) {
                  count++
                  setTimeout(updateOrientation, 100)
                }
              },
              false
            )
          } else {
            //监听resize事件
            window.addEventListener(
              "resize",
              function () {
                if (count < 20) {
                  count++
                  setTimeout(updateOrientation, 100)
                }
              },
              false
            )
          }
          updateOrientation()
        }
        window.addEventListener("DOMContentLoaded", init, false)
      })(document, window)
    },
    // 自动播放音乐
    audioAutoPlay: function () {
      let voice = $("#bgMsc").get(0)
      voice.play()
      // 微信端
      if (document.addEventListener) {
        document.addEventListener(
          "WeixinJSBridgeReady",
          function () {
            voice.play()
          },
          false
        )
      }
      // safari 不能自动播放
      if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one("touchstart", function (e) {
          voice.touchstart = true
          voice.play()
          return false
        })
      }
    },
    //播放/暂停音乐
    PlayMsc: function () {
      let player = $("#bgMsc").get(0)
      let playerBtn = $(".icon-sound")
      if (playerBtn.hasClass("close")) {
        playerBtn.removeClass("close")
        player.play() //播放
      } else {
        playerBtn.addClass("close")
        player.pause() //暂停
      }
    },
    //播放音乐
    PlayMsc1: function () {
      let player = $("#bgMsc").get(0)
      let playerBtn = $(".icon-sound")
      playerBtn.removeClass("close")
      player.play() //播放
    },
    // 暂停音乐
    PauseMsc: function () {
      let player = $("#bgMsc").get(0)
      let playerBtn = $(".icon-sound")
      playerBtn.addClass("close")
      player.pause() //暂停
    }
  },
  mounted() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf("UCBrowser") > -1) {
      // uc浏览器
      $("#themeLayout").css({ position: "absolute" })
      $("header").css({ position: "static" })
      $(".msg-wrap").css({ paddingTop: "0" })
      $(".LoadBox").css({ position: "absolute" })

      // 处理UC浏览器软键盘弹出 LQ 2020.04.22
      var oHeight = $(window).height()
      window.addEventListener(
        "onorientationchange" in window ? "orientationchange" : "resize",
        function () {
          $(".mainMenuNew").css({ display: "flex" })
          setTimeout(function () {
            oHeight = $(window).height()
            $(window).resize(function () {
              if ($(window).height() < oHeight * 0.7) {
                //当软键盘弹出，在这里面操作
                $(".mainMenuNew").css({ display: "none" })
              } else {
                //当软键盘收起，在此处操作
                $(".mainMenuNew").css({ display: "flex" })
              }
            })
          }, 300)
        },
        false
      )
      $(window).resize(function () {
        if ($(window).height() < oHeight * 0.7) {
          //当软键盘弹出，在这里面操作
          $(".mainMenuNew").css({ display: "none" })
        } else {
          //当软键盘收起，在此处操作
          $(".mainMenuNew").css({ display: "flex" })
        }
      })
    } else {
      $("#themeLayout").css({ position: "fixed" })
      $("header").css({ position: "fixed" })
      $(".LoadBox").css({ position: "fixed" })
    }
    // vant loading 多语言
    setInterval(() => {
      $(".van-loading__text").html(this.$t("lang.SCROLL_LOADING"))
    }, 200)
  },
  components: {
    mainMenu,
    tipTopModal,
    messageWindow,
    warnTipModal,
    globalLoading,
    messageWindowWeChat,
    mainMenuNew
    // withdrawalModal
  },
  beforeDestroy() {
    EventBus.$off("SignalR_Maintenance_Notify")
    EventBus.$off("SignalR_Logout_OtherPageLogout")
    EventBus.$off("PLAY_MSC")
    // $(window).unbind('resize'); // 防止重复监听 2019.07.09 ququ
  },
  watch: {
    $route(to, from) {
      //如果to索引大于from索引,判断为前进状态,反之
      if (to.meta.index > from.meta.index) {
        this.transitionName = "base-left"
      } else {
        this.transitionName = "base-right"
      }
      //首页播放背景，不是首页暂停
      // if(to.name == 'index'){
      //					this.PlayMsc1()
      // }else{
      // this.PauseMsc()
      // }
      // 用户列表显示底部按钮
      if (to.name == "userList") {
        this.ShowUserControl = true
      } else {
        this.ShowUserControl = false
      }
      // 推广方案显示底部按钮
      if (to.name == "promotionPlan") {
        this.ShowPlanControl = true
      } else {
        this.ShowPlanControl = false
      }

      // 处理游戏列表滚动
      setTimeout(() => {
        if (to.name == "eGameList") {
          $("#wrapper").css({ "overflow-y": "hidden" })
        } else {
          $("#wrapper").css({ "overflow-y": "auto" })
        }
      }, 200)
    }
  }
}
</script>