<template lang="pug">
.block-tab-switch
  template(v-for="x in list")
    router-link.block-tab-switch__route-tab(
      v-if="x.isEnabled === true"
      tag="DIV"
      :to="{ name: x.routeName }"
    ) {{ x.label }}

    .block-tab-switch__route-tab.block-tab-switch__route-tab--active(v-else) {{ x.label }}
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => {
        return [
          { isEnabled: false, label: "default" },
          { isEnabled: false, label: "default" }
        ]
      }
    }
  }
}
</script>

<style lang="stylus">
.block-tab-switch
  display grid
  width 100%
  grid-template-columns 50% 50%

  &__route-tab
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    padding 0.5rem
    width 100%
    background #333
    color $secondary-color
    font-size 1rem

    &--active
      background $secondary-color
      color #fff
</style>
