@charset "utf-8";

#themeLayout {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* 任务背景 */
#themeStyle {
    min-height: 30rem;
}

/* Red Theme -- start */
.theme-red {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_red_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

/* Red Theme -- end */


/* Pink Theme -- start */
.theme-pink {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_pink_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

/* Pink Theme -- end */


/* Purple Theme -- start */
.theme-purple {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_purple_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

/* Purple Theme -- end */


/* Blue Theme -- start */
.theme-blue {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_blue_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

/* Blue Theme -- end */


/* Brown Theme -- start */
.theme-brown {
    background: #372f2d;
}

/* Brown Theme -- end */


/* Black Theme -- start */
.theme-black {
    background: #2f2d2c;
}

/* Black Theme -- end */


/*banner 一体化背景*/
/* 1. green*/
.theme-one-green {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-green {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 2. blue*/
.theme-one-blue {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-blue {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 3. orange*/
.theme-one-orange {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-orange {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 4. violet*/
.theme-one-violet {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-violet {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 5. gold*/
.theme-one-gold {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-gold {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 6. red*/
.theme-one-red {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-red {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_banner.png") no-repeat center top;
    background-size: 100%;
}

/* 真人背景 */
/* 1. green*/
.theme-one-green-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-green-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_green_banner-real.png") no-repeat center top;
    background-size: 100%;
}

/* 2. blue*/
.theme-one-blue-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-blue-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_blue_banner-real.png") no-repeat center top;
    background-size: 100%;
}

/* 3. orange*/
.theme-one-orange-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-orange-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_orange_banner-real.png") no-repeat center top;
    background-size: 100%;
}

/* 4. violet*/
.theme-one-violet-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-violet-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_violet_banner-real.png") no-repeat center top;
    background-size: 100%;
}

/* 5. gold*/
.theme-one-gold-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-gold-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_gold_banner-real.png") no-repeat center top;
    background-size: 100%;
}

/* 6. red*/
.theme-one-red-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.index-wrap .theme-one-red-real {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/theme_one_red_banner-real.png") no-repeat center top;
    background-size: 100%;
}


/*banner 一体化背景 end*/
/* 新主题 */
#themeLayout{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}
#themeLayout.M-001 {
    background: #4985de;
}

#themeLayout.M-002 {
    background: #2f0815;
}

#themeLayout.M-003 {
    background: #1e1832;
}

#themeLayout.M-004 {
    background: #868686;
}

#themeLayout.M-005 {
    background: #202020;
}

#themeLayout.M-006 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition6/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-007 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition7/theme-bg.png") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-008 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition8/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-009 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition9/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-010 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition10/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-011 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition11/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

#themeLayout.M-012 {
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Edition12/theme-bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}
