// ==================简体中文====================//
// 底部导航栏
.cn {
    .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_activity_n.png") no-repeat bottom center;
        background-size: 100%;
    }

    .active .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_activity_on.png") no-repeat bottom center;
        background-size: 100%;

    }

    .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_user_n.png") no-repeat bottom;
        background-size: 100%;
    }

    .active .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/icon_new_user_on.png") no-repeat bottom;
        background-size: 100%;
    }

    .game-lobby-header {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/header.png?123") no-repeat top center;
        background-size: 100%;
    }

    .WeChat-tips {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/sweet-tips.jpg") no-repeat center center;
        background-size: cover;
    }

    .point-to {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/cn/point-to.png") no-repeat center center;
        background-size: contain;
    }
}

// ==================简体中文 end====================//

// ==================英文====================//
// 底部导航栏
.en {
    .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_activity_n.png") no-repeat bottom center;
        background-size: 100%;
    }

    .active .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_activity_on.png") no-repeat bottom center;
        background-size: 100%;

    }

    .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_user_n.png") no-repeat bottom;
        background-size: 100%;
    }

    .active .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/icon_new_user_on.png") no-repeat bottom;
        background-size: 100%;
    }

    .game-lobby-header {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/header.png?123") no-repeat top center;
        background-size: 100%;
    }

    .WeChat-tips {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/sweet-tips.jpg") no-repeat center center;
        background-size: cover;
    }

    .point-to {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/en/point-to.png") no-repeat center center;
        background-size: contain;
    }
}

// ==================英文 end====================//

// ==================繁体====================//
// 底部导航栏
.tc {
    .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_activity_n.png") no-repeat bottom center;
        background-size: 100%;
    }

    .active .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_activity_on.png") no-repeat bottom center;
        background-size: 100%;

    }

    .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_user_n.png") no-repeat bottom;
        background-size: 100%;
    }

    .active .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/icon_new_user_on.png") no-repeat bottom;
        background-size: 100%;
    }

    .game-lobby-header {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/header.png?123") no-repeat top center;
        background-size: 100%;
    }

    .WeChat-tips {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/sweet-tips.jpg") no-repeat center center;
        background-size: cover;
    }

    .point-to {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/tc/point-to.png") no-repeat center center;
        background-size: contain;
    }
}

// ==================繁体 end====================//

// ==================越南文====================//
// 底部导航栏
.vn {
    .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_activity_n.png") no-repeat bottom center;
        background-size: 100%;
    }

    .active .icon-active {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_activity_on.png") no-repeat bottom center;
        background-size: 100%;

    }

    .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_user_n.png") no-repeat bottom;
        background-size: 100%;
    }

    .active .icon-member {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/icon_new_user_on.png") no-repeat bottom;
        background-size: 100%;
    }

    .game-lobby-header {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/header.png?123") no-repeat top center;
        background-size: 100%;
    }

    .WeChat-tips {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/sweet-tips.jpg") no-repeat center center;
        background-size: cover;
    }

    .point-to {
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/vn/point-to.png") no-repeat center center;
        background-size: contain;
    }
}

// ==================越南文 end====================//
