@charset "utf-8";

#imgBox img {
    max-width: 100% !important;
}

/* 弹出框 */
.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out, -o-transform 0.1s ease-out;
    -webkit-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    transform: translate(0, 20%);
}

.modal.show .modal-dialog {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out, -o-transform 0.2s ease-out;
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 30px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #dbd5db;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #eceeef;
    background: rgba(200, 162, 122, 0.9);
}

.modal-title {
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    // text-overflow: ellipsis;
    overflow: hidden;
    // white-space: nowrap;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .5rem;
}

.modal-body p {
    color: #1f1f1f;
    font-size: 1rem;
    padding: 1rem 0 1.5rem;
    text-align: center;
}

.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 0;
    border-top: 1px solid #eceeef;
}

/*.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}
.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}*/
.modal-footer .btn-primary {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png") no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.modal-footer .btn-secondary {
    background: rgba(200, 200, 200, 0.8);
    background-size: 100% 100%;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 560px;
        margin: 30px auto;
    }

    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 1023px) {
    .modal-dialog {
        max-width: 780px;
    }
}

.modal.modal-shadow {
    background: rgba(0, 0, 0, 0.5);
}

/* 主题 弹窗 黑色 */
.modal-theme-black.modal-content {
    border: 2px solid #dab967;
}

.modal-theme-black .modal-header {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg") no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.modal-theme-black .modal-title {
    color: #e7b771;
}

.modal-footer-close {
    width: 2.5rem;
    height: 4.5rem;
    margin: auto;
    margin-top: -30px;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close4.png") no-repeat center;
    background-size: 100% 100%;
}

.modal-close {
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close2.png") no-repeat 50%;
    background-size: 50% 50%;
    z-index: 1002;
}

.modal-header-close {
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close1.png") no-repeat center;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100% 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
}


/* 头部弹窗提示 */
#tipTopModal {
    z-index: 9999;
}

#tipTopModal.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -o-transform 0.3s ease-out;
    -webkit-transform: translate(0, -20%);
    -o-transform: translate(0, -20%);
    transform: translate(0, -20%);
}

#tipTopModal.modal.show .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -o-transform 0.3s ease-out;
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#tipTopModal .modal-dialog {
    margin: 0;
    margin-top: 3.5rem;
    max-width: 100%;
}

#tipTopModal .modal-content {
    background: rgba(225, 174, 61, 0.8);
    border-radius: 0;
    text-align: center;
}

#tipTopModal .modal-body {
    padding: 8px;
}

#tipTopModal .icon-tip {
    position: relative;
    top: 3px;
    margin-right: 6px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/register/icon_success.png") no-repeat;
    background-size: 100% 100%;
}
