<template lang="pug">
.notice-modal.modal.modal-shadow.show(
  tabindex="-1"
  data-backdrop="false"
  role="dialog"
  aria-hidden="true"
  v-if="isDisplay === true"
)
  .modal-dialog
    .modal-content.modal-theme-black
      .modal__header
        .modal__header-title
          slot(name="modal-header")
            | {{ $t('lang.WINDOWS_TITLE_TIP') }}

      .modal-body
        slot(name="modal-body")
          .notice-modal__message {{ message }}

      .modal-footer(
        v-if="isFooterAliavable === true"
        :class="{ 'modal-footer--single-column' : isSingleColumnFooter === true }"
      )
        .modal__secondary-button(
          v-if="isShowCancel === true"
          data-dismiss="modal"
          @click="cancelCallback()"
          :class="{ 'modal--full-width' : isSingleColumnFooter === false }"
        ) {{ label.cancel }}

        .modal__primary-button(
          v-if="isShowConfirm === true"
          @click.prevent="confirmCallback()"
          :class="{ 'modal--full-width' : isSingleColumnFooter === false }"
        ) {{ label.confirm }}

      slot(name="modal-extra-footer")
</template>

<script>
export default {
  props: {
    message: { type: String },
    isShowConfirm: {
      type: Boolean,
      default: true
    },
    isShowCancel: {
      type: Boolean,
      default: true
    },
    isCloseByConfirm: {
      type: Boolean,
      default: true
    },
    isCloseByCancel: {
      type: Boolean,
      default: true
    },
    isSingleColumnFooter: {
      type: Boolean,
      default: false
    },
    label: {
      type: Object,
      default() {
        return {
          confirm: this.$t("lang.WINDOWS_SURE"),
          cancel: this.$t("lang.WINDOWS_CANCEL")
        }
      }
    },
    callback: {
      type: Object,
      default() {
        return {
          confirm: () => {
            return this.closeModal()
          },
          cancel: () => {
            return this.closeModal()
          }
        }
      }
    }
  },
  data: () => ({
    isDisplay: false
  }),
  computed: {
    isFooterAliavable() {
      return this.isShowConfirm || this.isShowCancel
    },
    confirmCallback() {
      if (this.callback.confirm) {
        this.isCloseByConfirm === true ? this.closeModal() : ""

        return this.callback.confirm
      } else {
        return this.closeModal
      }
    },
    cancelCallback() {
      if (this.callback.cancel) {
        this.isCloseByCancel === true ? this.closeModal() : ""

        return this.callback.cancel
      } else {
        return this.closeModal
      }
    }
  },
  methods: {
    closeModal(cb) {
      this.isDisplay = false
      if (cb) {
        return cb()
      }
    },
    openModal() {
      this.isDisplay = true
    }
  }
}
</script>

<style lang="stylus">
.notice-modal
  z-index 2000

  &__message
    padding 1rem 0 1.5rem
    color #1f1f1f
    text-align center
    font-size 1rem
</style>
