<template lang="pug">
.warning-modal.modal.show(
  tabindex="-1"
  data-backdrop="false"
  role="dialog"
  aria-hidden="true"
  v-if="isDisplay === true"
)
  .modal-dialog
    .warning-modal__content
      .warning-modal__body
        .icon-success-checked(v-if="isSuccess")
        span {{ message }}
</template>

<script>
export default {
  props: {
    message: { type: String },
    isSuccess: { type: Boolean, default: true },
    autoCloseSeconds: { type: Number, default: 1.5 }
  },
  data: () => ({
    isDisplay: false
  }),
  methods: {
    closeModal(cb) {
      this.isDisplay = false
      if (cb) {
        return cb()
      }
    },
    openModal() {
      this.isDisplay = true
    }
  },
  watch: {
    isDisplay: function (value) {
      if (value) {
        const self = this
        setTimeout(() => {
          self.closeModal()
        }, self.autoCloseSeconds * 1000)
      }
    }
  }
}
</script>

<style lang="stylus">
.warning-modal
  z-index 9999

  &__body
    position relative
    display flex
    justify-content center
    align-items center
    padding 8px
    font-weight bold
    font-size 0.7rem

  &__content
    border-radius 0
    background rgba(225, 174, 61, 0.8)
    text-align center
</style>
