.icon-filter-toggle
  position fixed
  top 0
  right 0
  z-index 101
  width 3.2rem
  height 3.5rem
  background url("~@/assets/icons/filter-toggle.png")
  background-position 50%
  background-size 1.1rem
  background-repeat no-repeat

.icon-success-checked
  position relative
  top 0
  display inline-block
  margin-right 0
  width 1rem
  height 1rem
  background url("~@/assets/icons/success-checked.png") no-repeat
  background-size 100% 100%
  transform translate(-50%, 0)

.icon-arrow-down
  position absolute
  right 0.5rem
  bottom 0.9rem
  width 0.6rem
  height 0.6rem
  background url("~@/assets/icons/arrow-down.png")
  background-position center
  background-size contain
  background-repeat no-repeat

.icon-list-arrow-right, .icon-list-arrow-down
  position absolute
  top 4px
  right 0
  width 1rem
  height 1rem
  background url("~@/assets/icons/list-arrow-right.png")
  background-position 50%
  background-size 1rem
  background-repeat no-repeat

.icon-list-arrow-down
  transform rotate(90deg)

.icon-filter-plus-area
  position fixed
  top 0
  right 3rem
  height 3.5rem
  z-index 101
  display flex
  justify-content center
  align-items center

.icon-filter-plus
  display inline-block
  width 2.5rem
  height 2.5rem
  background linear-gradient(#999, #999), linear-gradient(#999, #999)
  background-position center
  background-size 50% 3px, 3px 50%
  background-repeat no-repeat

@media (min-width 768px)
  .icon-search-filter
    width 32px
    height 32px
