@charset "utf-8";

/* 活动列表弹窗 */
.activity-list {
  width: 100%;
}

.activity-list li {
  position: relative;
  background: #ffffff;
  color: #d0a05d;
  font-size: 1.1rem;
  text-align: center;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 4.4rem;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
  padding: 0 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.icon-arrow {
  position: absolute;
  right: 1.8rem;
  top: 1.5rem;
  height: 1.4rem;
  width: 0.9rem;
  background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_arrow.png") no-repeat;
  background-size: 100% 100%;
}

.icon-hot {
  position: absolute;
  top: 0px;
  left: -1px;
  height: 2.9rem;
  width: 3.8rem;
  background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/hot.png") no-repeat;
  background-size: 100% 100%;
}

/* 活动详情弹窗 */
#activityInfoModal .modal-body {
  padding: 0;
  max-height: 30rem;
  overflow-y: auto;
}

#activityInfoModal.modal.show .modal-dialog {
  margin-top: 5rem;
}

.activity-banner {
  width: 100%;
  margin-bottom: 10px;
}

.activity-banner img {
  width: 100%;
}

.activity-info {
  width: 80%;
  margin: auto;

  .activity-list-style {
    ol {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 20px;
      li {
        list-style: decimal;
        padding-left: 5px;
      }
    }
    ul {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 20px;
      li {
        list-style: disc;
        padding-left: 5px;
      }
    }

    em {
      display: inline;
    }

    blockquote {
      margin: 1em 3em;
      color: #999;
      border-left: 4px solid #999;
      padding: 1em 0 0 2em;
      font-style: italic;
    }
  }
}

.activity-info h3 {
  font-size: 1.5rem;
  color: #0b0b0b;
}

.activity-info h5 {
  font-size: 1rem;
  font-size: 1.2rem;
  color: #0b0b0b;
  word-break: break-all;
}

.activity-info p {
  font-size: 1rem;
  color: #2e2e2e;
  text-align: left;
  padding-bottom: 1rem;
  word-break: break-all;
}

.activity-info p img {
  width: 100% !important;
  height: auto !important;
}

.table-wrap {
  overflow-x: auto;
}

.active-wrap .activity-info h3,
.active-wrap .activity-info h5,
.active-wrap .activity-info p,
.active-wrap .activity-info span {
  color: #ffffff;
}

.active-wrap .activity-banner {
  width: 90%;
  margin: 20px auto 10px;
}

.active-wrap .activity-info {
  width: 90%;
  margin: auto;
}

/* 活动列表 */
.activity-box {
  width: 97%;
  margin: auto;
  margin-top: 1rem;
}

.activity-box h3 {
  width: 8rem;
  height: 2.2rem;
  margin: 1.5rem auto 0.2rem;
  background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/activity/title.png") no-repeat center;
  background-size: 100% 100%;
}

.activity-box a {
  float: left;
  width: 45%;
  height: 5.5rem;
  margin-left: 3%;
  margin-bottom: 10px;
}

.activity-box a img {
  width: 100%;
  height: 100%;
  border: 2px solid hsla(0, 0%, 39%, 0.6);
  box-shadow: 0 0 10px 0px rgba(25, 25, 25, 0.5);
}

.activity-box a.active img {
  border-color: #0fa1ff;
}

/* 优惠活动 没有活动时 2019.04.04 SeyoChen*/
.activity-none {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

.activity-none img {
  max-width: 70%;
}

.activity-none p {
  font-size: 1.2rem;
  color: #fff;
}

// 无优惠活动占位 2019.07.25 ququ
.no-activity {
  text-align: center;
  margin-top: 50px;
}

.no-activity span {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  // letter-spacing: 6px;
}

.no-activity img {
  width: 70%;
}
