<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="depositAmtLessActivityMinAmtErrorForm"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.DEPOSIT_TIP_WINDOW')}}</h4>
          </div>
          <div class="modal-body">
            <p>{{$t('lang.DEPOSIT_AMOUNT_INSUFFICIENT')}}</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="ExecuteConfirmFunct()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            >{{$t('lang.WINDOWS_SURE')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      CommUtility: CommUtility,
      ConfirmFunction: undefined
    };
  },
  created: function() {
    const self = this;
    EventBus.$on('showDepositAmtLimitTip', func => {
      self.ConfirmFunction = func;
      $('#depositAmtLessActivityMinAmtErrorForm').modal('show');
    });
  },
  methods: {
    ExecuteConfirmFunct: function() {
      $('#depositAmtLessActivityMinAmtErrorForm').modal('hide');
      this.ConfirmFunction();
    }
  },
  beforeDestroy() {
    EventBus.$off('showDepositAmtLimitTip');
  }
};
</script>
