<template>
  <section class="deposit-acct-wrap">
    <!-- 公司入款 银行资料 -->
    <section class="tab-section" style="margin: 0;">
      <!--新增公司支付渠道 20190905 SeyoChen-->
      <ul class="pay_channel clearfix">
        <li v-for="(item, index) in RemittanceBankInfo" :key="index">
          <a
            @click="ChangeBankData(index)"
            :class="index===ChangeNum?'on':''"
          >{{$t('lang.DEPOSIT_CHANNELS')+(index+1)}}</a>
        </li>
      </ul>
      <h4>{{$t('lang.DEPOSIT_COMPANY_APPLY')}}</h4>
      <div class="acct-form">
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_Payee')}}：</label>
          <i class="form-control">{{RemittancePayData.Payee}}</i>
        </div>
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_BANK_NAME')}}：</label>
          <i class="form-control">{{RemittancePayData.BankName}}</i>
        </div>
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_BANK_ACCOUNT')}}：</label>
          <i class="form-control">{{RemittancePayData.BankAcct}}</i>
        </div>
        <div class="row input-group">
          <label>
            <span v-html="$t('lang.DEPOSIT_BANK_BRANCH')"></span>：
          </label>
          <i class="form-control">{{RemittancePayData.BankAddress}}</i>
        </div>
      </div>
      <div class="transfer-tip">
        <h5>{{$t('lang.DEPOSIT_TRANSFER_WAY')}}：</h5>
        <p>{{$t('lang.DEPOSIT_WAY_FIRST')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_SECOND')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_THRID')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_FOURTH')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_FIFTH')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_SIXTH')}}</p>
        <p>{{$t('lang.DEPOSIT_WAY_SEVENTH')}}</p>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  props: {
    RemittanceBankInfo: []
  },
  data() {
    return {
      RemittancePayData: {
        Payee: '',
        BankName: '',
        BankAcct: '',
        BankAddress: ''
      },
      ChangeNum: 0
    };
  },
  created: function() {
    // this.GetPayData();
    this.ChangeBankData(0);
  },
  methods: {
    // 获取公司入款类型为 1 ，非扫码支付
    // GetPayData: function() {
    //   for (let i = 0; i < this.RemittanceBankInfo.length; i++) {
    //     if (this.RemittanceBankInfo[i].PaymentWayType == 1) {
    //       this.RemittancePayData = this.RemittanceBankInfo[i];
    //       return;
    //     }
    //   }
    // },
    // 点击渠道按钮切换用户渠道信息 20190905 SeyoChen
    ChangeBankData: function(num) {
      this.RemittancePayData = this.RemittanceBankInfo[num];
      this.ChangeNum = num;
      this.$store.dispatch('deposit/setDepositChannelVal', num);
    }
  },
  watch: {
    RemittanceBankInfo: function() {
      console.log('===============ChangeBankData');
      console.log(this.RemittanceBankInfo);
      this.ChangeBankData(0);
    }
  }
};
</script>
