<template>
  <!-- 在线支付 -->
  <form class="withdrawal-form" novalidate="novalidate">
    <div class="active-list" v-if="HasActivity===false">
      <div class="active-list-top">
        <p class="top-text">{{$t('lang.DEPOSIT_ACCOUNT_SITUATION')}}</p>
        <p class="top-text">{{$t('lang.DEPOSIT_RECOMMENDED')}}：</p>
        <div
          class="noSelectBtn"
          :class="{'on' : noSelect}"
          @click="SelectDepositActivity(undefined,undefined,'yes');noSelect=true;"
          v-if="HaveNoSelectDepositActivity == 702"
        >{{$t('lang.DEPOSIT_NON_PARTICIPATION')}}</div>
      </div>
      <ul class="activity-ul" :class="{'spread':spreadUl,'mb2':DisplayActivityList.length > 2}">
        <li
          :class="SelectItemID == item.PKID ? 'active':''"
          v-if="DisplayActivityList.length >= 1"
          v-for="item in DisplayActivityList"
          @click="SelectDepositActivity(item.PKID, item);noSelect=false;"
        >
          <div class="active-top">
            <div class="img-box">
              <img :onerror="defaultImg" :src="item.HtmlSmallImgUrl" />
              <em
                class="icon-slider-active"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
              ></em>
            </div>
            <div class="text-box">
              <span>{{$t('lang.DEPOSIT_BONUS_RATIO')}}：{{item.VBonusRatio}}</span>
              <span>{{$t('lang.DEPOSIT_MIN')}}：{{item.MinDepositAmt}}</span>
              <span>{{$t('lang.DEPOSIT_MAX_BONUS')}}：{{item.MaxDepositAmt}}</span>
              <span>{{$t('lang.DEPOSIT_WASH_RAKE')}}：{{item.VRakeAmtRate}}</span>
            </div>
          </div>
          <p class="p_2" @click="ShowActivityDetail(item)">{{ item.Name }}</p>
        </li>
        <!-- <li :class="SelectItemID == DisplayActivityList[1].PKID ? 'active':''"
                    v-if="DisplayActivityList.length >= 2"
                    @click="SelectDepositActivity(DisplayActivityList[1].PKID, DisplayActivityList[1]);">
                    <img :src="DisplayActivityList[1].HtmlSmallImgUrl" />
                    <p class="p_2" @click="ShowActivityDetail(DisplayActivityList[1])">{{ DisplayActivityList[1].Name }}</p>
                    <em class="icon-slider-active"></em>
        </li>-->
      </ul>
      <div class="spread-btn" @click="spreadUl = !spreadUl" v-if="DisplayActivityList.length >= 2">
        <img
          :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/recharge/spread.png'"
          alt
          class="spread-img"
          :class="spreadUl ? 'rotate':''"
        />
        <span>{{spreadUl ? $t('lang.DEPOSIT_PACK_UP'):$t('lang.DEPOSIT_SPREAD')}}</span>
      </div>
    </div>
    <div class="active-list" v-else>
      <img
        :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/online_no_activity.png'"
        width="100%"
      />
    </div>
    <div class="active-list">
      <p>{{$t('lang.DEPOSIT_ONLINE_WAY_CHOOSE')}}</p>
    </div>
    <div class="card-list">
      <ul class="clearfix">
        <li
          v-for="(item, index) in CurrentPageData.BankTypeList"
          v-show="item.BankTypeSerialNo!=4"
          :key="index"
          :class="PostDepositData.PType == item.BankTypeSerialNo ? 'active':''"
          @click="SelectPayType(item.BankTypeSerialNo)"
        >
          {{item.BankTypeName}}
          <div
            v-if="item.BankTypeSerialNo == 1 && PostDepositData.BankCode !== undefined"
            class="li_bank"
          >
            <a href="javascript:void(0);">
              <img
                v-bind:src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/bank/bank'+ PostDepositData.BankCode +'.png?VersionCode'"
              />
            </a>
          </div>
          <i v-else>{{$t('lang.DEPOSIT_CLICK_PAY')}}</i>
          <em
            class="icon-slider-active"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
          ></em>
        </li>
      </ul>
    </div>
    <!--2019.06.25 ququ 新增支付渠道-->
    <section v-if="ActivePayWayID !== ''">
      <div
        class="row input-group"
        v-for="(payWay,index) in CurrentPageData.NewCashFlowInfoList"
        :key="index"
        v-if="ActivePayWayID==payWay.id"
      >
        <label>{{$t('lang.DEPOSIT_PAYMENT_CHANNELS')}}</label>
        <div class="pay_set set1" style="line-height: 2.8rem;">
          <span
            v-for="(item,itemIndex) in payWay.list"
            :key="itemIndex"
            @click="SelectPayChannel(item,itemIndex)"
            :class="PayChannel ==  itemIndex? 'hasblock' : ''"
          >{{$t('lang.DEPOSIT_PAYMENT_CHANNELS')}}{{itemIndex+1}}</span>
        </div>
      </div>
    </section>
    <!--2019.06.25 ququ 新增支付渠道 end-->
    <!--2019.01.28 SeyoChen 新增微信支付金额提示-->
    <div class="active-list" v-show="ShowWeChat">
      <p>{{$t('lang.DEPOSIT_WECHAT_TIP')}}</p>
      <p>{{$t('lang.DEPOSIT_WECHAT_AMOUNT')}}</p>
    </div>
    <div class="active-list" v-show="ShowZFB">
      <p>{{$t('lang.DEPOSIT_ALIPAY_TIP')}}</p>
    </div>
    <!--2019.01.28 SeyoChen 新增微信支付金额提示 end-->
    <!--2019.06.25 新增支付渠道提示 ququ-->
    <div class="active-list" v-show="ActivePayWayID!=''&&PayChannelAmountLimit!=''">
      <p>{{$t('lang.DEPOSIT_CHANNEL_LIMIT')}}{{PayChannelAmountLimit}}</p>
    </div>
    <!--2019.06.25 新增支付渠道提示 ququ end-->
    <!--<div class="row">
			<a class="btn btn-gold btn-light-gold" data-toggle="modal" data-target="#addCardModal">增加银行卡</a>
    </div>-->
    <div class="row input-group top-line">
      <label>{{$t('lang.DEPOSIT_AMOUNT')}}</label>
      <input
        type="text"
        class="form-control"
        :placeholder="$i18n.locale==='vn'?CurrentPageData.VMinLimitAmt + '~' + CurrentPageData.VMaxLimitAmt:$t('lang.DEPOSIT_EVERY_MIN') + CurrentPageData.VMinLimitAmt + ','+$t('lang.DEPOSIT_EVERY_MAX') + CurrentPageData.VMaxLimitAmt"
        v-model="PostDepositData.Amount"
        v-validate="{ rules: { regex:Reg.MoneyAmount, between:[CurrentPageData.MinLimitAmt, CurrentPageData.MaxLimitAmt], required: true }}"
        name="DepositAmount"
        @focus="$VueUtils.SetFooterBar('hide')"
        @blur="$VueUtils.SetFooterBar('show')"
      />
      <em
        @click="PostDepositData.Amount = ''"
        class="icon-input-clean"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png)'}"
      ></em>
    </div>
    <p
      class="error-tip"
      v-if="Submitted == true && PostDepositData.PType===undefined"
    >* {{$t('lang.DEPOSIT_ONLINE_WAY')}}</p>
    <p
      class="error-tip"
      v-else-if="errors.has('DepositAmount') && PostDepositData.PType!=undefined && fields.DepositAmount.touched"
    >* {{$t('lang.DEPOSIT_ONLINE_AMOUNT')}}{{CurrentPageData.VMinLimitAmt}}-{{CurrentPageData.VMaxLimitAmt}}</p>
    <p
      class="error-tip"
      v-if="PostDepositData.Amount < 100 && PostDepositData.Amount%10!=0 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowWeChat == true"
    >* {{$t('lang.DEPOSIT_AMOUNT_NOT_SUPPORTED')}}</p>
    <p
      class="error-tip"
      v-else-if="PostDepositData.Amount >= 100 && PostDepositData.Amount%100!=0 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowWeChat == true"
    >* {{$t('lang.DEPOSIT_AMOUNT_NOT_SUPPORTED')}}</p>
    <p
      class="error-tip"
      v-if="PostDepositData.Amount < 200 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowZFB == true"
    >* {{$t('lang.DEPOSIT_AMOUNT_NOT_SUPPORTED')}}</p>
    <p
      class="error-tip"
      v-else-if="PostDepositData.Amount > 5000 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowZFB == true"
    >* {{$t('lang.DEPOSIT_AMOUNT_NOT_SUPPORTED')}}</p>
    <div class="row">
      <a @click="CheckFormData()" class="btn btn-gold" v-html="$t('lang.BUTTON_SUBMIT')"></a>
      <router-link :to="{ name: 'member'}" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></router-link>
    </div>
  </form>
</template>

<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import URLService from 'scripts/common/URLService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';

export default {
  props: {
    DepositType: undefined,
    DepositAccountCount: undefined,
    ActivityList: {
      type: Array,
      default: function() {
        return [];
      }
    },
    HaveNoSelectDepositActivity: undefined, // 是否显示不参与活动按钮
    HasActivity: undefined // 会员分级的优惠活动 存在:true 不存在:false 20190905
  },
  data() {
    return {
      Submitted: false,
      Reg: Regex.Regex,
      CurrentPageData: {
        VMinLimitAmt: '0',
        VMaxLimitAmt: '0'
      },
      InitialFormData: undefined,
      PostDepositData: {
        PType: undefined,
        BankCode: undefined,
        Amount: '',
        BonusSerialNo: undefined,
        BonusWay: undefined,
        WebType: undefined, //网络类型 1：http，2：https
        PhoneOS: undefined, //手机操作系统类型 0:others,1：ios,2:android
        MerchantSerialNo: '' // 支付渠道编号 2019.06.25
      },

      DisplayActivityList: [{}], //优惠活动列表
      SelectItemID: undefined, // 选中活动的index
      SelectItem: undefined, // 选中的活动

      ShowWeChat: false, // 微信支付需要显示提示
      ShowWeChatTip: false,
      ShowZFB: false,
      spreadUl: false, // 是否展开活动列表
      ResourceCDN: Vue.prototype.$ResourceCDN,
      noSelect: false, // 是否不参与活动
      ActivePayWayID: '', // 当前选择的支付类型 2019.06.25
      PayChannel: 0, // 当前的支付渠道index 2019.06.25
      PayChannelAmountLimit: '', // 当前的支付渠道的限制金额 2019.06.25
      defaultImg:
        'this.src="' +
        Vue.prototype.$ResourceCDN +
        '/EditionImg/LamborFormal/images/MemberNew/activity_none.jpg?VersionCode"'
    };
  },
  created: function() {
    console.log('---------------' + this.HaveNoSelectDepositActivity);
    this.Load();
    this.LoadActivityList();

    const self = this;
    // 清空表单
    EventBus.$on('resetDepositForm', () => {
      self.ResetDeposit();
    });
    this.InitialFormData = Vue.util.extend({}, this.PostDepositData);

    // console.log('-------++++进入在线支付时选择的活动+++-------');
    // console.log(this.CurSelectedActivity);
    this.GetPageData();

    //网络类型
    var arrUrl = document.location.toString().split('//')[0];
    this.PostDepositData.WebType = arrUrl == 'http:' ? 1 : 2;
    //手机操作系统类型
    const u = window.navigator.userAgent;
    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android端
    if (isIOS) {
      this.PostDepositData.PhoneOS = 1;
    } else if (isAndroid) {
      this.PostDepositData.PhoneOS = 2;
    } else {
      this.PostDepositData.PhoneOS = 0;
    }
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('OnlineDepositAddForm', this.CheckFormData); // 绑定键盘Enter
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 选择活动
    SelectDepositActivity: async function(index, item, HaveNoSelectedBonus) {
      this.SelectItemID = index;
      if (HaveNoSelectedBonus === 'yes') {
        // 不参与红利活动
        const HaveNoSelectedBonusData = JSON.parse(
          localStorage.getItem('HaveNoSelectedBonusData')
        );
        const NoSelectedBonusObj = {
          ActType: HaveNoSelectedBonusData.ActType,
          BonusSerialNo: HaveNoSelectedBonusData.BonusSerialNo,
          ActivityType: HaveNoSelectedBonusData.ActivityType
        };

        const dataNoSelectedBonus = await PersonalCenterService.OnlinePaymentDeposit_LoadMainPage(
          NoSelectedBonusObj
        );

        this.SelectItem = dataNoSelectedBonus.Data.ActivityDetail;
        this.SelectItem.BonusSerialNo = HaveNoSelectedBonusData.BonusSerialNo;
        this.SelectItem.ActType = HaveNoSelectedBonusData.ActType;
        this.SelectItem.ActivityType = HaveNoSelectedBonusData.ActivityType;
        this.PostDepositData.BonusSerialNo =
          HaveNoSelectedBonusData.BonusSerialNo;
        this.PostDepositData.BonusWay = HaveNoSelectedBonusData.ActivityType;
        return;
      }
      this.SelectItem = item;
      this.PostDepositData.BonusSerialNo = this.SelectItem.BonusSerialNo;
      this.PostDepositData.BonusWay = this.SelectItem.ActivityType;
    },
    LoadActivityList: function() {
      this.SelectItemID = undefined;
      this.SelectItem = undefined;
      this.DisplayActivityList = this.ActivityList;
      // console.log(this.DisplayActivityList);

      for (let i = 0; i < this.DisplayActivityList.length; i++) {
        // 类型为红利设定
        // if (this.DisplayActivityList[i].ActivityType == BLDef.BonusWayType.DEPOSIT) {
        //     const DespTxt = this.DisplayActivityList[i].ActType == 1 ? '首存返利充100送' : '续存返利充100送';
        //     this.DisplayActivityList[i].Name = DespTxt + this.DisplayActivityList[i].VBonusRatio;
        //     this.DisplayActivityList[i].HtmlSmallImgUrl = this.DisplayActivityList[i].ActType == 1 ? '/static/images/mobile/promotion/activity_img1.jpg' : '/static/images/mobile/promotion/activity_img2.jpg';
        // }
        // 赋予UniqueID
        this.DisplayActivityList[i].PKID =
          this.DepositType +
          '_' +
          this.DisplayActivityList[i].ActivityType +
          '_' +
          this.DisplayActivityList[i].BonusSerialNo;
        console.log(this.DisplayActivityList[i].PKID);
      }
      this.SelectDepositActivity(
        this.DisplayActivityList[0].PKID,
        this.DisplayActivityList[0]
      );
    },
    // 显示活动详情
    ShowActivityDetail: function(ActivityDetail) {
      console.log(ActivityDetail);
      EventBus.$emit('showActivityDetail', 1, ActivityDetail);
    },
    // 取得頁面資料
    GetPageData: async function() {
      const dataObj = {
        ActType: this.SelectItem.ActType,
        BonusSerialNo: this.SelectItem.BonusSerialNo,
        ActivityType: this.SelectItem.ActivityType
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.OnlinePaymentDeposit_LoadMainPage(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Ret == 0) {
        this.CurrentPageData = data.Data;
        // 处理支付渠道数据 2019.06.25 ququ
        const NewCashFlowInfoList1 = {
          id: 1,
          list: []
        };
        const NewCashFlowInfoList2 = {
          id: 2,
          list: []
        };
        const NewCashFlowInfoList3 = {
          id: 3,
          list: []
        };
        const NewCashFlowInfoList4 = {
          id: 4,
          list: []
        };
        for (
          let index = 0;
          index < this.CurrentPageData.CashFlowInfoList.length;
          index++
        ) {
          if (
            this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 1
          ) {
            NewCashFlowInfoList1.list.push(
              this.CurrentPageData.CashFlowInfoList[index]
            );
          } else if (
            this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 2
          ) {
            NewCashFlowInfoList2.list.push(
              this.CurrentPageData.CashFlowInfoList[index]
            );
          } else if (
            this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 3
          ) {
            NewCashFlowInfoList3.list.push(
              this.CurrentPageData.CashFlowInfoList[index]
            );
          } else {
            NewCashFlowInfoList4.list.push(
              this.CurrentPageData.CashFlowInfoList[index]
            );
          }
        }
        this.CurrentPageData.NewCashFlowInfoList = [
          NewCashFlowInfoList1,
          NewCashFlowInfoList2,
          NewCashFlowInfoList3,
          NewCashFlowInfoList4
        ];
        // 处理支付渠道数据 2019.06.25 ququ end
        console.log(this.CurrentPageData);
        // EventBus.$emit('showNotifyMessageAlert', this.CurrentPageData);
        this.$emit('CurrentPageData', this.CurrentPageData); // 将此后台返回的活动详情传到父级 deposit
      }
    },
    // 檢查存款資料並開新視窗
    CheckFormData: async function() {
      // 微信充值检查充值金额 SeyoChen
      if (
        this.PostDepositData.PType == 2 &&
        this.PostDepositData.Amount > 0 &&
        this.PostDepositData.Amount < 100 &&
        this.PostDepositData.Amount % 10 != 0
      ) {
        this.ShowWeChatTip = true;
        return;
      } else if (
        this.PostDepositData.PType == 2 &&
        this.PostDepositData.Amount >= 100 &&
        this.PostDepositData.Amount % 100 != 0
      ) {
        this.ShowWeChatTip = true;
        return;
      } else if (
        this.PostDepositData.PType == 3 &&
        this.PostDepositData.Amount < 200
      ) {
        this.ShowWeChatTip = true;
        return;
      } else if (
        this.PostDepositData.PType == 3 &&
        this.PostDepositData.Amount > 5000
      ) {
        this.ShowWeChatTip = true;
        return;
      } else {
        this.ShowWeChatTip = false;
      }
      // 微信充值检查充值金额 SeyoChen end

      this.Submitted = true;

      // 2018.10.11 SeyoChen
      if (this.CurrentPageData.ActivityDetail.Status.Value != '702') {
        const notifyData = {
          NotifyMessage: this.$t('lang.DEPOSIT_ACTIVITY_INVALID')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      // 2018.10.11 SeyoChen end

      // 输入为空的时候返回 2018.11.22 SeyoChen
      if (this.PostDepositData.Amount === '') {
        const notifyData = {
          NotifyMessage: this.$t('lang.DEPOSIT_ENTER_AMOUNT')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      // 输入为空的时候返回 2018.11.22 SeyoChen end

      //验证
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      this.$validator.validateAll();
      const result = this.errors.any();
      if (result === true || this.PostDepositData.PType === undefined) {
        return;
      }
      // 输入为空的时候返回 2018.11.22 SeyoChen
      if (
        this.PostDepositData.PType === undefined ||
        this.PostDepositData.PType === ''
      ) {
        return;
      }
      // 会员分级的优惠活动不存在时 2019.09.05
      if (this.HaveNoSelectDepositActivity == 702 && this.HasActivity) {
        // 不参与红利活动
        this.noSelect = true;
        this.SelectDepositActivity(undefined, undefined, 'yes');
      }
      // 会员分级的优惠活动不存在时 2019.09.05 end

      // 检查最低入金是否符合要求 2019.03.29
      if (this.PostDepositData.Amount < this.SelectItem.MinDepositAmt) {
        EventBus.$emit('showDepositAmtLimitTip', this.ContinueSubmit);
        return;
      }
      // 检查最低入金是否符合要求 2019.03.29 end

      localStorage.setItem(
        'DepositObj',
        JSON.stringify({
          BonusWay: this.SelectItem.ActivityType,
          BonusSerialNo: this.SelectItem.BonusSerialNo
          // MemberID: localStorage.getItem('CorrelationIBMemberId')
        })
      );
      this.ContinueSubmit();

      // const inputObj = this.PostDepositData;

      // const paymentData = URLService.GetUrlParameterFromObj(inputObj);
      // const HashKey = new Date().getTime();
      // localStorage.setItem(HashKey.toString(), paymentData);

      // this.$router.push({path:'/member/depositPayment/'+URLService.GetUrlParameterFromObj(HashKey.toString())}) //跳转支付页
      // CommUtility.OpenPlayGameWindow('depositPayment', 'DepositPaymentPopUpWindow', HashKey.toString());
      // this.GetOnlineDeposit(this.PostDepositData);
    },
    // 继续提交操作 2019.03.29
    ContinueSubmit: function() {
      const inputObj = this.PostDepositData;

      const paymentData = URLService.GetUrlParameterFromObj(inputObj);
      const HashKey = new Date().getTime();
      localStorage.setItem(HashKey.toString(), paymentData);

      // this.$router.push({path:'/member/depositPayment/'+URLService.GetUrlParameterFromObj(HashKey.toString())}) //跳转支付页
      CommUtility.OpenPlayGameWindow(
        'depositPayment',
        'DepositPaymentPopUpWindow',
        HashKey.toString()
      );
      // this.GetOnlineDeposit(this.PostDepositData);
    },
    GetOnlineDeposit: async function(PostDepositData) {
      this.PostDepositData.Device = '0';
      this.PostDepositData.TagUrl = document.location.origin;
      const rspData = await PersonalCenterService.OnlineDeposit_Add(
        PostDepositData
      );
      if (rspData.Ret == 0) {
        const notifyData = {
          NotifyMessage: '测试 PHP '
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    // 選擇支付方式
    SelectPayType: function(type) {
      const u = window.navigator.userAgent;
      const ua = u.toLowerCase();
      let isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
      var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android端
      //ios微信端
      if (isIOS && ua.match(/MicroMessenger/i) == 'micromessenger') {
        const notifyData = {
          NotifyMessage: this.$t('lang.DEPOSIT_WECHAT_FORBID')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      //android微信端网络银行
      if (
        type == 1 &&
        isAndroid &&
        ua.match(/MicroMessenger/i) == 'micromessenger'
      ) {
        const notifyData = {
          NotifyMessage: this.$t('lang.DEPOSIT_WECHAT_FORBID')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      this.PostDepositData.PType = type;
      // 2019.06.25 ququ
      this.PayChannel = 0;
      this.ActivePayWayID = type;

      // 2019.06.25 ququ end
      // 2019.01.29 SeyoChen
      if (type == 1) {
        this.ShowWeChat = false;
        this.ShowZFB = false;
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[0].list[0].BankLimitAmount;
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[0].list[0].CashFlowSerialNo;
      } else if (type == 2) {
        this.ShowWeChat = true;
        this.ShowZFB = false;
        // 2019.06.25 ququ 选择支付方式后自动显示第一个支付渠道的限制金额
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[1].list[0].WechatLimitAmount;
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[1].list[0].CashFlowSerialNo;
      } else if (type == 3) {
        this.ShowZFB = true;
        this.ShowWeChat = false;
        // 2019.06.25 ququ 选择支付方式后自动显示第一个支付渠道的限制金额
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[2].list[0].AlipayLimitAmount;
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[2].list[0].CashFlowSerialNo;
      } else {
        this.ShowZFB = false;
        this.ShowWeChat = false;
        // 2019.06.25 ququ 选择支付方式后自动显示第一个支付渠道的限制金额
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[3].list[0].FictitiousLimitAmount;
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[3].list[0].CashFlowSerialNo;
      }
      // 2019.01.29 SeyoChen end
      // if (type == 1) {
      //  CommUtility.WebShowUniqueForm('bankListForm');
      // }
    },
    // 選擇銀行
    SelectBank: function(bankCode) {
      this.PostDepositData.BankCode = bankCode;
      CommUtility.WebCloseUniqueForm('bankListForm');
    },
    // 选择支付渠道 2019.06.25 ququ
    SelectPayChannel: function(item, index) {
      this.PayChannel = index;
      if (item.BankTypeSerialNo == 1) {
        this.PayChannelAmountLimit = item.BankLimitAmount;
      } else if (item.BankTypeSerialNo == 2) {
        this.PayChannelAmountLimit = item.WechatLimitAmount;
      } else if (item.BankTypeSerialNo == 3) {
        this.PayChannelAmountLimit = item.AlipayLimitAmount;
      } else {
        this.PayChannelAmountLimit = item.FictitiousLimitAmount;
      }
      this.PostDepositData.MerchantSerialNo = item.CashFlowSerialNo;
    },
    // 重置页面回到初始状态 2019.11.19 ququ
    ResetDepositInitial: function() {
      this.ResetDeposit();
      this.$parent.GetDepositData();
    },
    // 返回存款初始
    ResetDeposit: function() {
      this.Submitted = false;
      this.PostDepositData = Vue.util.extend({}, this.InitialFormData);
      this.ActivePayWayID = '';
      this.PayChannel = 0;
      this.PayChannelAmountLimit = '';
      this.SelectItemID = this.DisplayActivityList[0].PKID;
      this.SelectItem = this.DisplayActivityList[0];
      this.noSelect = false;
      this.ShowWeChat = false;
      this.ShowWeChatTip = false;
      this.ShowZFB = false;
      this.spreadUl = false;
      this.$validator.reset();
    }
  },
  watch: {
    ActivityList: function() {
      // 监听活动改变后更新活动列表 2019.11.25 ququ
      this.LoadActivityList();
    }
  },
  beforeDestroy() {
    EventBus.$off('resetDepositForm');
  }
};
</script>