<template>
  <!-- 公司入款 -->
  <form
    id="CompanyDepositAddForm"
    name="CompanyDepositAddForm"
    class="withdrawal-form"
    novalidate="novalidate"
  >
    <div class="active-list" v-if="HasActivity===false">
      <div class="active-list-top">
        <p class="top-text">{{$t('lang.DEPOSIT_ACCOUNT_SITUATION')}}</p>
        <p class="top-text">{{$t('lang.DEPOSIT_RECOMMENDED')}}：</p>
        <div
          class="noSelectBtn"
          :class="{'on' : noSelect}"
          @click="SelectDepositActivity(undefined,undefined,'yes');noSelect=true;"
          v-if="HaveNoSelectDepositActivity == 702"
        >{{$t('lang.DEPOSIT_NON_PARTICIPATION')}}</div>
      </div>
      <ul class="activity-ul" :class="{'spread':spreadUl,'mb2':DisplayActivityList.length > 2}">
        <li
          :class="SelectItemID == item.PKID ? 'active':''"
          v-show="DisplayActivityList.length >= 1"
          v-for="item in DisplayActivityList"
          @click="SelectDepositActivity(item.PKID, item);noSelect=false;"
        >
          <div class="active-top">
            <div class="img-box">
              <img :onerror="defaultImg" :src="item.HtmlSmallImgUrl" />
              <em class="icon-slider-active" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"></em>
            </div>
            <div class="text-box">
              <span>{{$t('lang.DEPOSIT_BONUS_RATIO')}}：{{item.VBonusRatio}}</span>
              <span>{{$t('lang.DEPOSIT_MIN')}}：{{item.MinDepositAmt}}</span>
              <span>{{$t('lang.DEPOSIT_MAX_BONUS')}}：{{item.MaxDepositAmt}}</span>
              <span>{{$t('lang.DEPOSIT_WASH_RAKE')}}：{{item.VRakeAmtRate}}</span>
            </div>
          </div>
          <p class="p_2" @click="ShowActivityDetail(item)">{{ item.Name }}</p>
        </li>
        <!-- <li :class="SelectItemID == DisplayActivityList[1].PKID ? 'active':''"
                    v-if="DisplayActivityList.length >= 2"
                    @click="SelectDepositActivity(DisplayActivityList[1].PKID, DisplayActivityList[1]);">
                    <img :src="DisplayActivityList[1].HtmlSmallImgUrl" />
                    <p class="p_2" @click="ShowActivityDetail(DisplayActivityList[1])">{{ DisplayActivityList[1].Name }}</p>
                    <em class="icon-slider-active"></em>
        </li>-->
      </ul>
      <div class="spread-btn" @click="spreadUl = !spreadUl" v-if="DisplayActivityList.length >= 2">
        <img
          :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/recharge/spread.png'"
          alt
          class="spread-img"
          :class="spreadUl ? 'rotate':''"
        />
        <span>{{spreadUl ? $t('lang.DEPOSIT_PACK_UP'):$t('lang.DEPOSIT_SPREAD')}}</span>
      </div>
    </div>
    <div class="active-list" v-else>
      <img
        :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/company_no_activity.png'"
        width="100%"
      />
    </div>

    <!--选择转账方式 2019.02.12 SeyoChen-->
    <div class="select_pay" v-show="BankTrans == false && QRcode == false">
      <div class="active-list">
        <p>{{$t('lang.DEPOSIT_COMPANY_WAY_CHOOSE')}}</p>
      </div>
      <div class="purple_cont">
        <a @click="SelectTransFun(1)">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/mode-bank.png?VersionCode'"
          />
        </a>
        <a @click="SelectTransFun(2)">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/mode-qrcode.png?VersionCode'"
          />
        </a>

        <router-link
          :to="{ name: 'member'}"
          class="btn btn-gray"
          style="display: block;margin: .5rem auto;width: 100%;"
          v-html="$t('lang.BUTTON_CANCEL')"
        ></router-link>
      </div>
    </div>
    <!--选择转账方式 2019.02.12 SeyoChen-->

    <div v-show="BankTrans == true || QRcode == true">
      <!--公司帳戶資訊-->
      <deposit-remittance-acct
        v-if="BankTrans == true && miantainBank == false"
        :RemittanceBankInfo="this.BankDataList"
        ref="depositRemittanceAcct"
      ></deposit-remittance-acct>
      <!--二维码展示 2019.02.12 SeyoChen-->
      <deposit-pay-q-rcode
        v-if="QRcode == true && miantainCode == false"
        :RemittanceBankInfo="this.QRcodeShowList"
        ref="depositPayQrcode"
      ></deposit-pay-q-rcode>
      <!--二维码展示 2019.02.12 SeyoChen end-->

      <!--输入信息 2019.02.12 SeyoChen-->
      <div
        v-show="(miantainBank == false && BankTrans == true) || (miantainCode == false && QRcode == true)"
      >
        <!--<div class="row input-group">
                    <label>存款金额</label>
                    <i class="form-control">1以上</i>
        </div>-->
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_AMOUNT')}}</label>
          <input
            type="text"
            class="form-control"
            name="DepositAmt"
            v-model="PostDepositData.DepositAmt"
            v-validate="{ rules: { regex:Reg.MoneyAmount, between:[CurrentPageData.MinLimitAmt, CurrentPageData.MaxLimitAmt], required: true }}"
            :placeholder="$i18n.locale==='vn'?CurrentPageData.VMinLimitAmt + '~' + CurrentPageData.VMaxLimitAmt:$t('lang.DEPOSIT_EVERY_MIN') + CurrentPageData.VMinLimitAmt + ','+ $t('lang.DEPOSIT_EVERY_MAX') + CurrentPageData.VMaxLimitAmt"
            @focus=" $VueUtils.SetFooterBar('hide')"
            @blur="$VueUtils.SetFooterBar('show')"
          />
        </div>
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_TIME')}}</label>
          <input
            type="date"
            class="form-control"
            name="DepositDate"
            v-model="PostDepositData.DepositDate"
            v-validate="{ rules: { required: true }}"
          />
        </div>
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_MAN_NAME')}}</label>
          <input
            type="text"
            name="DepositorName"
            class="form-control"
            v-model="PostDepositData.DepositorName"
            v-validate="{ rules: { regex:Reg.NickName, required: true }}"
            @focus=" $VueUtils.SetFooterBar('hide')"
            @blur="$VueUtils.SetFooterBar('show')"
          />
        </div>
        <div class="row input-group">
          <label>{{$t('lang.DEPOSIT_REMARK')}}</label>
          <input
            type="text"
            name="Remark"
            class="form-control"
            v-model="PostDepositData.Remark"
            v-validate="{ rules: { regex:Reg.Remark }}"
            @focus=" $VueUtils.SetFooterBar('hide')"
            @blur="$VueUtils.SetFooterBar('show')"
          />
        </div>
        <div class="row input-group" v-show="QRcode == false">
          <label>{{$t('lang.DEPOSIT_METHOD')}}</label>
          <div class="pay_set set1">
            <span
              v-for="(item, index) in DepositTypeList"
              :key="index"
              :class="PostDepositData.RemittanceDepositType==item.SettingCode?'hasblock':''"
              @click="SelectRemittanceType(item)"
            >{{item.SettingName}}</span>
          </div>
        </div>
        <div
          class="row input-group"
          v-if="PostDepositData.RemittanceDepositType==1||PostDepositData.RemittanceDepositType==2||PostDepositData.RemittanceDepositType==3"
        >
          <label class="input_lf">{{$t('lang.DEPOSIT_BANK_INFO')}}</label>
          <!-- 资金往来类型 -->
          <!-- <p class="form-select icon">
                        <select v-model="PostDepositData.BankProvinceModel" @change="ChangeProvince()">   
                            <option v-for="(Province, index) in CurrentPageData.ProvinceSelectList" :key="index"
                                v-bind:value="Province">{{Province.Name}}</option> 
                        </select>
                    </p>
                    <label>&nbsp;</label>
                    <p class="form-select icon mt-10">
                        <select v-model="PostDepositData.BankCityModel" @change="ChangeTown()">   
                            <option v-for="(Town, index) in CurrentPageData.TownSelectList" :key="index"
                                v-bind:value="Town">{{Town.Name}}</option> 
                        </select>
                    </p>
                    <label>&nbsp;</label>
                    <p v-show="!(PostDepositData.BankCityModel.Value !== '-1' && this.CurrentPageData.DistSelectList.length == 1)" class="form-select icon mt-10">
                        <select v-model="PostDepositData.BankDistrictModel" @change="ChangeDist()">   
                            <option v-for="(Dist, index) in CurrentPageData.DistSelectList" :key="index"
                                v-bind:value="Dist">{{Dist.Name}}</option> 
                        </select>
                    </p>
          <label v-show="!(PostDepositData.BankCityModel.Value !== '-1' && this.CurrentPageData.DistSelectList.length == 1)">&nbsp;</label>-->
          <input
            type="text"
            name="BankBranchName"
            class="form-control"
            :placeholder="$t('lang.DEPOSIT_ENTER_BANK_INFO')"
            v-model="PostDepositData.BankBranchName"
            v-validate="{ rules: { regex:Reg.BankBranchName, required: true }}"
            @focus=" $VueUtils.SetFooterBar('hide')"
            @blur="$VueUtils.SetFooterBar('show')"
          />
        </div>
        <p
          class="error-tip"
          v-if="errors.has('DepositAmt') && fields.DepositAmt.touched"
        >* {{$t('lang.DEPOSIT_AMOUNT_TIP')}}{{CurrentPageData.VMinLimitAmt}}-{{CurrentPageData.VMaxLimitAmt}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('DepositDate') && fields.DepositDate.touched"
        >* {{$t('lang.DEPOSIT_TIME_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="this.PostDepositData.DepositDate > this.NowDate"
        >* {{$t('lang.TIME_FUTURE_FORBID')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('DepositorName') && fields.DepositorName.touched"
        >* {{$t('lang.DEPOSIT_MAN_NAME_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('Remark') && fields.Remark.touched"
        >* {{$t('lang.DEPOSIT_REMARK_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="this.Submitted === true && this.PostDepositData.RemittanceDepositType === undefined && QRcode == false"
        >* {{$t('lang.DEPOSIT_METHOD_TIP')}}</p>
        <!-- <p class="error-tip" v-else-if="DropDownInvalid === true">
                    * 分行选择项不能为空
        </p>-->
        <p
          class="error-tip"
          v-else-if="errors.has('BankBranchName') && fields.BankBranchName.touched"
        >* {{$t('lang.DEPOSIT_BANK_INFO_TIP')}}</p>
        <div class="row">
          <a @click="CheckFormData()" class="btn btn-gold" v-html="$t('lang.BUTTON_SUBMIT')"></a>
          <a @click="BackLevel()" class="btn btn-gray" v-html="$t('lang.BUTTON_BACK')"></a>
        </div>
      </div>

      <!--功能未开放时显示-->
      <div
        class="maintain_box"
        v-show="(miantainBank == true && BankTrans == true && judgeComplete == true) || (miantainCode == true && QRcode == true && judgeComplete == true)"
      >
        <img
          :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/'+$i18n.locale+'/maintain.png?VersionCode'"
        />
        <a
          @click="BackLevel()"
          class="btn btn-gray"
          style="display: block;margin: .5rem auto;width: 100%;"
          v-html="$t('lang.BUTTON_BACK')"
        ></a>
      </div>
    </div>
  </form>
</template>

<script>
import Vue from 'vue';
import BLDef from 'scripts/common/BLDef';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import moment from 'moment';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import depositRemittanceAcct from '@/components/mobile/sub/deposit/depositRemittanceAcct';
import depositPayQRcode from '@/components/mobile/sub/deposit/depositPayQRcode';

export default {
  props: {
    DepositType: undefined,
    DepositAccountCount: undefined,
    ActivityList: {
      type: Array,
      default: function() {
        return [];
      }
    },
    HaveNoSelectDepositActivity: undefined, // 是否显示不参与活动按钮
    HasActivity: undefined // 会员分级的优惠活动 存在:true 不存在:false 20190905
  },
  data() {
    return {
      BLDef: BLDef,
      Submitted: false,
      Reg: Regex.Regex,
      InitialFormData: undefined,
      CurrentPageData: {},
      PostDepositData: {
        DepositAmt: '', // 金额
        DepositorName: '', // 汇款人姓名 (存款人姓名)
        RemittanceDepositType: undefined, // 存款方式 (对应共用的CODE表)
        BankProvince: undefined, // 银行支行省
        BankCity: undefined, // 银行支行市、
        BankDistrict: undefined, // 银行支行区
        BankBranchName: '', // 银行支行名称
        BonusWay: undefined, // 红利方式
        BonusSerialNo: undefined, // 红利对应的资料序号
        DepositDate: undefined,
        Hours: 0,
        Minutes: 0,
        BankProvinceModel: {},
        BankCityModel: {},
        BankDistrictModel: {},
        Remark: ''
      },
      ProcessingFlag: false,
      DropDownInvalid: undefined,
      DefaultTownList: [],
      DefaultDistList: [],

      DisplayActivityList: [{}], //优惠活动列表
      SelectItemID: undefined, // 选中活动的index
      SelectItem: undefined, // 选中的活动

      ResourceCDN: Vue.prototype.$ResourceCDN,

      BankTrans: false, // 银行转账
      QRcode: false, // 二维码
      miantainBank: true, // 银行转账维护
      miantainCode: true, // 扫码支付维护
      DepositTypeList: [],
      spreadUl: false, // 是否展开活动列表
      ResourceCDN: Vue.prototype.$ResourceCDN,

      judgeComplete: false, // 判断是否开通
      noSelect: false, // 是否不参与活动
      BankDataList: [], // 银行转账 20190910
      QRcodeList: [], // 扫码支付类型 20190910
      QRcodeShowList: [], // 扫码支付类型 最终选择 20190910
      // 大于当前时间
      NowDate: moment(new Date()).format('YYYY-MM-DD'),
      QRCodeList: undefined, // 选中的二维码资料
      defaultImg:
        'this.src="' +
        Vue.prototype.$ResourceCDN +
        '/EditionImg/LamborFormal/images/MemberNew/activity_none.jpg?VersionCode"'
    };
  },
  computed: {
    depositChannel() {
      console.log('==============================depositChannel');
      console.log(this.$store.state.deposit.depositChannel);
      return this.$store.state.deposit.depositChannel;
    }
  },
  created: function() {
    this.Load();
    this.LoadActivityList();
    this.InitialFormData = Vue.util.extend({}, this.PostDepositData);
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('CompanyDepositAddForm', this.CheckFormData);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 2019.02.12 SeyoChen
    BackLevel: function() {
      this.BankTrans = false;
      this.QRcode = false;
      this.miantainBank = true; // 银行转账维护
      this.miantainCode = true; // 扫码支付维护
      this.DepositTypeList = [];
      // 返回清空存款方式 2019.10.30 ququ
      this.PostDepositData.RemittanceDepositType = undefined; // 存款方式 (对应共用的CODE表)
    },
    SelectTransFun: function(mode) {
      this.GetPageData(mode);
      switch (mode) {
        case 1:
          this.BankTrans = true;
          this.QRcode = false;
          break;
        case 2:
          this.BankTrans = false;
          this.QRcode = true;
          break;
        default:
          this.BankTrans = false;
          this.QRcode = false;
          break;
      }
    },
    // 2019.02.12 SeyoChen end

    // 筛选支付渠道信息 201909010
    SelectPayData: function() {
      this.BankDataList = [];
      this.QRcodeList = [];
      this.QRcodeShowList = [];
      // 分类 BankDataList：银行支付 QRcodeList：扫码支付
      for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
        // 筛选出二维码支付方式
        if (this.CurrentPageData.BankInfo[i].PaymentWayType === 1) {
          this.BankDataList.push(this.CurrentPageData.BankInfo[i]);
        }
        if (this.CurrentPageData.BankInfo[i].PaymentWayType === 2) {
          this.QRcodeList.push(this.CurrentPageData.BankInfo[i]);
        }
      }
      this.QRcodeShowList = this.QRcodeList;
    },
    // 筛选支付渠道信息 20190910 end
    // 选择活动
    SelectDepositActivity: async function(index, item, HaveNoSelectedBonus) {
      this.SelectItemID = index;
      if (HaveNoSelectedBonus === 'yes') {
        // 不参与红利活动
        const HaveNoSelectedBonusData = JSON.parse(
          localStorage.getItem('HaveNoSelectedBonusData')
        );
        const NoSelectedBonusObj = {
          ActType: HaveNoSelectedBonusData.ActType,
          BonusSerialNo: HaveNoSelectedBonusData.BonusSerialNo,
          ActivityType: HaveNoSelectedBonusData.ActivityType
        };

        const dataNoSelectedBonus = await PersonalCenterService.CompanyDeposit_LoadMainPage(
          NoSelectedBonusObj
        );

        this.SelectItem = dataNoSelectedBonus.Data.ActivityDetail;
        this.SelectItem.BonusSerialNo = HaveNoSelectedBonusData.BonusSerialNo;
        this.SelectItem.ActType = HaveNoSelectedBonusData.ActType;
        this.SelectItem.ActivityType = HaveNoSelectedBonusData.ActivityType;
        this.PostDepositData.BonusSerialNo =
          HaveNoSelectedBonusData.BonusSerialNo;
        this.PostDepositData.BonusWay = HaveNoSelectedBonusData.ActivityType;
        return;
      }
      this.SelectItem = item;
      this.PostDepositData.BonusSerialNo = this.SelectItem.BonusSerialNo;
      this.PostDepositData.BonusWay = this.SelectItem.ActivityType;
    },
    LoadActivityList: function() {
      this.SelectItemID = undefined;
      this.SelectItem = undefined;
      this.DisplayActivityList = this.ActivityList;
      // console.log(this.DisplayActivityList);

      for (let i = 0; i < this.DisplayActivityList.length; i++) {
        // 类型为红利设定
        // if (this.DisplayActivityList[i].ActivityType == BLDef.BonusWayType.DEPOSIT) {
        //     const DespTxt = this.DisplayActivityList[i].ActType == 1 ? '首存返利充100送' : '续存返利充100送';
        //     this.DisplayActivityList[i].Name = DespTxt + this.DisplayActivityList[i].VBonusRatio;
        //     this.DisplayActivityList[i].HtmlSmallImgUrl = this.DisplayActivityList[i].ActType == 1 ? '/static/images/mobile/promotion/activity_img1.jpg' : '/static/images/mobile/promotion/activity_img2.jpg';
        // }
        // 赋予UniqueID
        this.DisplayActivityList[i].PKID =
          this.DepositType +
          '_' +
          this.DisplayActivityList[i].ActivityType +
          '_' +
          this.DisplayActivityList[i].BonusSerialNo;
      }
      this.SelectDepositActivity(
        this.DisplayActivityList[0].PKID,
        this.DisplayActivityList[0]
      );
    },
    // 显示活动详情
    ShowActivityDetail: function(ActivityDetail) {
      EventBus.$emit('showActivityDetail', 1, ActivityDetail);
    },
    GetPageData: async function(mode) {
      const dataObj = {
        ActType: this.SelectItem.ActType,
        BonusSerialNo: this.SelectItem.BonusSerialNo,
        ActivityType: this.SelectItem.ActivityType
      };

      // 2018.09.26 SeyoChen
      if (this.$route.params.ActivityData != undefined) {
        dataObj.ActivityType = -1;
        dataObj.ActType = -1;
        dataObj.BonusSerialNo = this.$route.params.ActivityData.ID;
      }
      // 2018.09.26 SeyoChen end

      const data = await PersonalCenterService.CompanyDeposit_LoadMainPage(
        dataObj
      );

      if (data.Ret == 0) {
        this.CurrentPageData = data.Data;
        // 判断是否开通 1：银行转账 2：扫码支付
        for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
          if (
            this.CurrentPageData.BankInfo[i].PaymentWayType == 1 &&
            this.miantainBank != false
          ) {
            this.miantainBank = false;
          } else if (
            this.CurrentPageData.BankInfo[i].PaymentWayType == 2 &&
            this.miantainCode != false
          ) {
            this.miantainCode = false;
          }
        }
        // 判断是否开通 1：银行转账 2：扫码支付 end

        // 2019.03.12 SeyoChen 弹出维护中图片
        if (this.miantainCode == true || this.miantainBank == true) {
          this.judgeComplete = true;
        }
        // 2019.03.12 SeyoChen 弹出维护中图片 end

        console.log('========================this.DepositTypeList');
        console.log(data.Data.DepositTypeList);
        console.log('========================this.CurrentPageData');
        console.log(this.CurrentPageData.BankInfo);
        //公司入款
        this.DepositTypeList = [];
        if (mode === 2) {
          let QRcodeNumApli = false;
          let QRcodeNumWeChat = false;
          let QRcodeNumOther = false;
          for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
            if (
              this.CurrentPageData.BankInfo[i].PaymentWayType == 2 &&
              this.CurrentPageData.BankInfo[i].QRCodePaymentWayType == 1
            ) {
              QRcodeNumApli = true;
            } else if (
              this.CurrentPageData.BankInfo[i].PaymentWayType == 2 &&
              this.CurrentPageData.BankInfo[i].QRCodePaymentWayType == 2
            ) {
              QRcodeNumWeChat = true;
            } else if (
              this.CurrentPageData.BankInfo[i].PaymentWayType == 2 &&
              this.CurrentPageData.BankInfo[i].QRCodePaymentWayType == 3
            ) {
              QRcodeNumOther = true;
            }
          }
          for (let i = 0; i < data.Data.DepositTypeList.length; i++) {
            if (
              (data.Data.DepositTypeList[i].SettingCode === 8 &&
                QRcodeNumApli == true) ||
              (data.Data.DepositTypeList[i].SettingCode === 9 &&
                QRcodeNumWeChat == true) ||
              (data.Data.DepositTypeList[i].SettingCode === 7 &&
                QRcodeNumOther == true)
            ) {
              this.DepositTypeList.push(data.Data.DepositTypeList[i]);
            }
          }
          this.DepositTypeList = this.DepositTypeList.reverse();
        } else {
          for (let i = 0; i < data.Data.DepositTypeList.length; i++) {
            if (
              data.Data.DepositTypeList[i].SettingCode !== 8 &&
              data.Data.DepositTypeList[i].SettingCode !== 9
            ) {
              this.DepositTypeList.push(data.Data.DepositTypeList[i]);
            }
          }
        }

        this.CurrentPageData.DepositTypeList = this.DepositTypeList;
        console.log('========================this.DepositTypeList');
        console.log(this.DepositTypeList);
        this.$emit('CurrentPageData', this.CurrentPageData); // 将此后台返回的活动详情传到父级 deposit
        this.SelectPayData();
      }
    },

    //			// 顯示紀錄類型選單
    //          ShowDropDown: function (targetClass) {
    //              $('.down_box').slideUp(100);
    //              if (this.DropDowning !== targetClass) {
    //                  $('.' + targetClass).slideDown(300);
    //                  this.DropDowning = targetClass;
    //              } else {
    //                  $('.' + targetClass).slideUp(100);
    //                  this.DropDowning = '';
    //              }
    //          },
    //          // 隱藏紀錄類型選單
    //          HideDropDown: function (event) {
    //              const target = $(event.target);
    //              if (target.closest('.d_course').length === 0) {
    //                  $('.down_box').slideUp(100);
    //                  this.DropDowning = '';
    //              }
    //          },
    // 載入頁面資料
    SetPageData: async function() {
      this.DefaultTownList = Vue.util.extend(
        [],
        this.CurrentPageData.TownSelectList
      );
      this.DefaultDistList = Vue.util.extend(
        [],
        this.CurrentPageData.DistSelectList
      );
      this.PostDepositData.BankProvinceModel = this.CurrentPageData.ProvinceSelectList[0];
      this.PostDepositData.BankCityModel = this.CurrentPageData.TownSelectList[0];
      this.PostDepositData.BankDistrictModel = this.CurrentPageData.DistSelectList[0];
    },
    // 選擇省分
    ChangeProvince: async function() {
      let selectProvince = this.PostDepositData.BankProvinceModel;
      const inputObj = {
        SType: BLDef.SelectTypesDef.CITIES,
        InputValues: [selectProvince.Value]
      };
      const data = await CommonService.GetCityTypes(inputObj);
      if (data.Ret === 0) {
        this.PostDepositData.BankProvince = selectProvince.Value;
        this.PostDepositData.BankProvinceModel = selectProvince;
        this.CurrentPageData.TownSelectList = data.Data.SelectList;
        this.PostDepositData.BankCityModel = data.Data.SelectList[0];
        this.CurrentPageData.DistSelectList = this.DefaultDistList;
        this.PostDepositData.BankDistrictModel = this.DefaultDistList[0];
      }
    },
    // 選擇城市
    ChangeTown: async function() {
      let selectTown = this.PostDepositData.BankCityModel;
      const inputObj = {
        SType: BLDef.SelectTypesDef.DISTS,
        InputValues: [selectTown.Value]
      };
      const data = await CommonService.GetDistTypes(inputObj);
      if (data.Ret === 0) {
        this.PostDepositData.BankCity = selectTown.Value;
        this.PostDepositData.BankCityModel = selectTown;
        this.CurrentPageData.DistSelectList = data.Data.SelectList;
        this.PostDepositData.BankDistrictModel = data.Data.SelectList[0];
        if (this.CurrentPageData.DistSelectList.length === 1) {
          this.DropDownInvalid = false;
        }
      }
    },
    // 選擇區域
    ChangeDist: function() {
      let selectDist = this.PostDepositData.BankDistrictModel;
      this.PostDepositData.BankDistrict = selectDist.Value;
      this.PostDepositData.BankDistrictModel = selectDist;
      if (selectDist.Value !== '-1') {
        this.DropDownInvalid = false;
      }
    },
    // 切換轉帳存款方式
    SelectRemittanceType: function(item) {
      this.PostDepositData.RemittanceDepositType = item.SettingCode;
      // ATM/銀行臨櫃 重置省市區選單
      if (
        item.SettingCode == 1 ||
        item.SettingCode == 2 ||
        item.SettingCode == 3
      ) {
        this.DropDownInvalid = undefined;
        this.CurrentPageData.TownSelectList = Vue.util.extend(
          [],
          this.DefaultTownList
        );
        this.CurrentPageData.DistSelectList = Vue.util.extend(
          [],
          this.DefaultDistList
        );
        this.PostDepositData.BankProvinceModel = this.CurrentPageData.ProvinceSelectList[0];
        this.PostDepositData.BankCityModel = this.CurrentPageData.TownSelectList[0];
        this.PostDepositData.BankDistrictModel = this.CurrentPageData.DistSelectList[0];
        this.PostDepositData.BankBranchName = undefined;
        if (this.fields.BankBranchName !== undefined) {
          this.fields.BankBranchName.touched = false;
        }
      }
    },
    // 檢查下拉選單合法性
    CheckDropDownInvalid: function() {
      // 非需檢查的存款選項
      if (
        this.PostDepositData.RemittanceDepositType === 1 ||
        this.PostDepositData.RemittanceDepositType === 2 ||
        this.PostDepositData.RemittanceDepositType === 3
      ) {
        if (
          !this.PostDepositData.BankProvinceModel ||
          !this.PostDepositData.BankCityModel
        ) {
          return true;
        }
        if (
          this.PostDepositData.BankProvinceModel.Value == -1 ||
          this.PostDepositData.BankCityModel.Value == -1
        ) {
          return true;
        }
        if (
          this.CurrentPageData.DistSelectList.length > 1 &&
          (!this.PostDepositData.BankDistrictModel ||
            this.PostDepositData.BankDistrictModel.Value == -1)
        ) {
          return true;
        }
      }
      return false;
    },
    // 點擊取消
    ResetDeposit: function() {
      this.Submitted = false;
      this.spreadUl = false;
      // this.PostDepositData = Vue.util.extend({}, this.InitialFormData);
      // 解决提交成功后立即清空所有提交资料导致的再次提交失败 2019.10.30 ququ
      this.PostDepositData.DepositAmt = ''; // 金额
      this.PostDepositData.DepositorName = ''; // 汇款人姓名 (存款人姓名)
      if (this.BankTrans == true && this.miantainBank == false) {
        // 入款方式为银行入款时成功后清空存款方式
        this.PostDepositData.RemittanceDepositType = undefined; // 存款方式 (对应共用的CODE表)
        this.$refs.depositRemittanceAcct.ChangeBankData(0); // 支付渠道重置
      }
      if (this.QRcode == true && this.miantainCode == false) {
        // 入款方式为银行入款时成功后清空存款方式
        this.PostDepositData.RemittanceDepositType = undefined; // 存款方式 (对应共用的CODE表)
        this.$refs.depositPayQrcode.JudgeQRcodeNum(); // 支付渠道重置
      }
      // this.PostDepositData.BonusWay=  undefined; // 红利方式
      // this.PostDepositData.BonusSerialNo=  undefined; // 红利对应的资料序号
      this.PostDepositData.DepositDate = undefined;
      this.PostDepositData.Hours = 0;
      this.PostDepositData.Minutes = 0;
      this.PostDepositData.Remark = '';
      // 解决提交成功后立即清空所有提交资料导致的再次提交失败 2019.10.30 ququ end
      this.$validator.reset();
    },
    // 檢查發送資料
    CheckFormData: async function() {
      this.Submitted = true;
      // this.DropDownInvalid = this.CheckDropDownInvalid();
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (
        result === false ||
        this.PostDepositData.DepositDate === undefined ||
        this.PostDepositData.RemittanceDepositType === undefined
      ) {
        return;
      }
      // 会员分级的优惠活动不存在时 2019.09.05
      if (this.HaveNoSelectDepositActivity == 702 && this.HasActivity) {
        // 不参与红利活动
        const HaveNoSelectedBonusData = JSON.parse(
          localStorage.getItem('HaveNoSelectedBonusData')
        );
        const NoSelectedBonusObj = {
          ActType: HaveNoSelectedBonusData.ActType,
          BonusSerialNo: HaveNoSelectedBonusData.BonusSerialNo,
          ActivityType: HaveNoSelectedBonusData.ActivityType
        };

        const dataNoSelectedBonus = await PersonalCenterService.CompanyDeposit_LoadMainPage(
          NoSelectedBonusObj
        );

        this.SelectItem = dataNoSelectedBonus.Data.ActivityDetail;
        this.SelectItem.BonusSerialNo = HaveNoSelectedBonusData.BonusSerialNo;
        this.SelectItem.ActType = HaveNoSelectedBonusData.ActType;
        this.SelectItem.ActivityType = HaveNoSelectedBonusData.ActivityType;
        this.PostDepositData.BonusSerialNo =
          HaveNoSelectedBonusData.BonusSerialNo;
        this.PostDepositData.BonusWay = HaveNoSelectedBonusData.ActivityType;
      }
      // 会员分级的优惠活动不存在时 2019.09.05 end

      // 检查最低入金是否符合要求 2019.03.28
      if (this.PostDepositData.DepositAmt < this.SelectItem.MinDepositAmt) {
        EventBus.$emit('showDepositAmtLimitTip', this.SubmitDepositData);
        return;
      }
      // 检查最低入金是否符合要求 2019.03.28 end

      this.SubmitDepositData();
    },
    // 發送存款資料
    SubmitDepositData: async function() {
      // 红利活动限制次数 2019.11.19 ququ
      const DepositObj = {
        BonusWay: this.SelectItem.ActivityType,
        BonusSerialNo: this.SelectItem.BonusSerialNo
        // MemberID: localStorage.getItem('CorrelationIBMemberId')
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const dataObj = await PersonalCenterService.DepositActivityRelationQuery(
        DepositObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('data1111111111111111111');
      console.log(DepositObj);
      console.log(dataObj);
      console.log('data5555555555555555555555');
      if (dataObj.Ret == 0) {
        if (dataObj.Data.IsLimit) {
          const notifyData = {
            NotifyMessage: this.$t('lang.DEPOSIT_ACTIVITY_LIMIT')
          };
          notifyData.CloseFunction = this.ResetDepositInitial;
          EventBus.$emit('showWarnTip', notifyData);
          return;
        }
      } else {
        const notifyData = {
          NotifyMessage: dataObj.Message
        };
        notifyData.CloseFunction = this.ResetDepositInitial;
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }
      // 红利活动限制次数 2019.11.19 ququ end

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;
      const fullHour =
        this.PostDepositData.Hours > 9
          ? this.PostDepositData.Hours
          : '0' + this.PostDepositData.Hours;
      const fullMinute =
        this.PostDepositData.Minutes > 9
          ? this.PostDepositData.Minutes
          : '0' + this.PostDepositData.Minutes;
      const fullDate =
        moment(this.PostDepositData.DepositDate).format('YYYY/MM/DD') +
        ' ' +
        fullHour +
        ':' +
        fullMinute +
        ':00';
      const inputObj = this.PostDepositData;
      inputObj.DepositDateTick = CommUtility.LocalTimeToUtcTicks(
        fullDate,
        false,
        true
      );
      inputObj.DepositWithdrawSerialNo = this.CurrentPageData.BankInfo.SerialNo;

      inputObj.BankInfo = [];
      if (this.BankTrans === true) {
        inputObj.BankInfo = [
          this.CurrentPageData.BankInfo[this.depositChannel]
        ];
      } else {
        // 筛选出扫码支付类型 20190911 SeyoChen
        for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
          if (
            this.CurrentPageData.BankInfo[i].PaymentWayType === 2 &&
            this.QRCodeList.Sort === this.CurrentPageData.BankInfo[i].Sort &&
            this.QRCodeList.QRCodePaymentWayType ===
              this.CurrentPageData.BankInfo[i].QRCodePaymentWayType
          ) {
            inputObj.BankInfo.push(this.CurrentPageData.BankInfo[i]);
          }
        }
      }

      console.log('----------------公司入款提交的inputObj---------------');
      console.log(inputObj); // 发送给后台的资料
      console.log('----------------公司入款提交的inputObj---------------');

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.CompanyRemittance_Add(inputObj);
      // console.log(data);
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;

      const notifyData = {
        NotifyMessage: data.Message
      };

      if (data.Ret == 0) {
        notifyData.NotifySubMessage = this.$t('lang.DEPOSIT_APPLICATION_TIP');
        notifyData.CloseFunction = this.ResetDeposit;
        EventBus.$emit('remittanceDepositSuccess');
      }

      EventBus.$emit('showNotifyMessage', notifyData);
    },
    // 重置页面回到初始状态 2019.11.19 ququ
    ResetDepositInitial: function() {
      this.ResetDeposit();
      this.$parent.GetDepositData();
    },
    // 清除畫面驗證與資料
    ResetForm: function() {
      this.PostDepositData.Amount = '';
      this.$validator.reset();
    }
  },
  watch: {
    CurrentPageData: function() {
      this.SetPageData();
    },
    ActivityList: function() {
      // 监听活动改变后更新活动列表 2019.11.25 ququ
      this.LoadActivityList();
    }
  },
  components: {
    depositRemittanceAcct,
    depositPayQRcode
  }
};
</script>