<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="activityDetailForm"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.DEPOSIT_ACTIVITY')}}</h4>
          </div>
          <div class="modal-body">
            <p>
              <em>{{$t('lang.DEPOSIT_ACTIVITY_NAME')}}：</em>
              <label>{{ActivityDetail.Name}}</label>
            </p>
            <p v-if="BonusWayType == 2">
              <em>{{$t('lang.DEPOSIT_ACTIVITY_TIME')}}：</em>
              <label>{{ActivityDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{ActivityDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</label>
            </p>
            <p>
              <em>{{$t('lang.DEPOSIT_ACTIVITY_BONUS')}}：</em>
              <label>{{ActivityDetail.VBonusRatio}}</label>
            </p>
            <p>
              <em>{{$t('lang.DEPOSIT_MIN')}}：</em>
              <label>{{ActivityDetail.MinDepositAmt}}</label>
            </p>
            <p>
              <em>{{$t('lang.DEPOSIT_MAX_BONUS')}}：</em>
              <label>{{ActivityDetail.MaxDepositAmt}}</label>
            </p>
            <p>
              <em>{{$t('lang.DEPOSIT_WASH_RAKE')}}：</em>
              <label>{{ActivityDetail.VRakeAmtRate}}</label>
            </p>
            <!--<p><em>参与等级：</em><label>{{ActivityDetail.JoinLv}}  及以上</label></p>-->
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="CloseDetail()"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            >{{$t('lang.WINDOWS_SURE')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  data() {
    return {
      CommUtility: CommUtility,
      BonusWayType: undefined, //1: 在线支付，2：公司入款
      ActivityDetail: {}
    };
  },
  created: function() {
    EventBus.$on(
      'showActivityDetail',
      (notifyBonusWayType, notifyActivityDetail) => {
        // 接收父级 memberDepositSelectedBonus 传过来的活动详情
        self.BonusWayType = notifyBonusWayType;
        this.ActivityDetail = notifyActivityDetail;
        $('#activityDetailForm').modal('show');
      }
    );
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //添加银行卡
      $('#activityDetailForm').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#activityDetailForm .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    getDetail: async function(ChargeType, ActivityId) {
      const dataObj = {
        ActType: -1,
        BonusSerialNo: ActivityId,
        ActivityType: 2
      };
      if (ChargeType == 1) {
        const ParaData = await PersonalCenterService.OnlinePaymentDeposit_LoadMainPage(
          dataObj
        ); // 在线支付获取详情
        if (ParaData.Ret !== 0) {
          return;
        }
        this.ActivityDetail = ParaData.Data.ActivityDetail;
      } else if (ChargeType == 2) {
        const ParaData = await PersonalCenterService.CompanyDeposit_LoadMainPage(
          dataObj
        ); // 公司入款获取详情
        if (ParaData.Ret !== 0) {
          return;
        }
        his.ActivityDetail = ParaData.Data.ActivityDetail;
      }
    },
    CloseDetail: function() {
      this.BonusWayType = undefined;
      this.ActivityDetail = {};
      $('#activityDetailForm').modal('hide');
    }
  },
  beforeDestroy() {
    EventBus.$off('showActivityDetail');
  }
};
</script>
