<template>
  <div v-if="this.RemittancePayNum != 0">
    <div class="active-list">
      <p>{{$t('lang.DEPOSIT_QR_CODE')}}：</p>
    </div>
    <div class="purple_cont">
      <div class="income_box" style="margin-left: 0;">
        <!--新增公司支付渠道 20190905 SeyoChen-->
        <ul class="pay_channel clearfix">
          <li v-if="RemittancePayNum.AliPay.length !== 0">
            <a
              :class="RemittancePayNum.PayType===0?'on':''"
              @click="ChangeBankData(0)"
            >{{$t('lang.DEPOSIT_ALIPAY_CODE')}}</a>
          </li>
          <li v-if="RemittancePayNum.WeChat.length !== 0">
            <a
              :class="RemittancePayNum.PayType===1?'on':''"
              @click="ChangeBankData(1)"
            >{{$t('lang.DEPOSIT_WECHAT_CODE')}}</a>
          </li>
          <li v-if="RemittancePayNum.Other.length !== 0">
            <a
              :class="RemittancePayNum.PayType===2?'on':''"
              @click="ChangeBankData(2)"
            >{{$t('lang.DEPOSIT_OTHER_CODE')}}</a>
          </li>
        </ul>
        <div class="clearfix">
          <!--qrcode_only_msg 只有一个时居中显示-->
          <ul class="qrcode_msg">
            <li
              v-for="(item,index) in ShowPayList"
              v-if="item.PaymentWayType == 2"
              @click="SelectQRCode(item,index)"
              :class="{'on':SelectNum == index}"
              :key="index"
            >
              <div class="qrcode_msg_img">
                <img :src="item.QRCodeUrl" />
                <em class="icon-slider-active" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"></em>
              </div>
              <p
                v-if="item.PaymentWayType == 2 && item.Remark != ''"
              >{{item.Remark | simpleContent(10)}}</p>
              <!-- <p
                v-if="item.QRCodePaymentWayType == 2 && item.PaymentWayType == 2"
              >{{$t('lang.DEPOSIT_WECHAT_CODE')}}</p>
              <p
                v-else-if="item.QRCodePaymentWayType == 1 && item.PaymentWayType == 2"
              >{{$t('lang.DEPOSIT_ALIPAY_CODE')}}</p>
              <p
                v-else-if="item.QRCodePaymentWayType == 3 && item.PaymentWayType == 2"
              >{{$t('lang.DEPOSIT_OTHER_CODE')}}</p>-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    RemittanceBankInfo: {}
  },
  data() {
    return {
      RemittancePayNum: {
        AliPay: [],
        WeChat: [],
        Other: [],
        PayType: 0
      }, // 判断二维码类型数量 20190910

      ShowPayList: [], // 遍历选择类型中的支付二维码列表 20190906 SeyoChen
      SelectNum: 0 // 默认选中首个二维码 20190911 SeyoChen
    };
  },
  created: function() {
    this.JudgeQRcodeNum();
    // this.ChangeBankData(0);
  },
  methods: {
    // 选中二维码提交 20190911
    SelectQRCode: function(list, num) {
      this.SelectNum = num;
      this.$parent.QRCodeList = list;
      console.log('================QRCodeList');
      console.log(this.$parent.QRCodeList);
    },
    // 选择类型 切换支付二维码 num:0 支付宝 num:1 微信 num:2 其他 20190906 SeyoChen
    ChangeBankData: function(num) {
      this.RemittancePayNum.PayType = num;
      this.SelectNum = 0;
      // 点击选中传递存款类型 8：支付宝 9：微信 7：其他 20191009
      const item = { SettingCode: undefined };
      switch (num) {
        case 0:
          this.ShowPayList = this.RemittancePayNum.AliPay;
          this.$parent.QRCodeList = this.RemittancePayNum.AliPay[0];
          this.RemittancePayNum.PayType = num;
          item.SettingCode = '8';
          break;
        case 1:
          this.ShowPayList = this.RemittancePayNum.WeChat;
          this.$parent.QRCodeList = this.RemittancePayNum.WeChat[0];
          this.RemittancePayNum.PayType = num;
          item.SettingCode = '9';
          break;
        case 2:
          this.ShowPayList = this.RemittancePayNum.Other;
          this.$parent.QRCodeList = this.RemittancePayNum.Other[0];
          this.RemittancePayNum.PayType = num;
          item.SettingCode = '7';
          break;

        default:
          break;
      }
      this.$parent.SelectRemittanceType(item);
      // 点击选中传递存款类型 8：支付宝 9：微信 7：其他 20191009 end
    },

    // 判断支付二维码数量 进行设置 0：隐藏当前页面 1：二维码居中 2：显示同排
    JudgeQRcodeNum: function() {
      this.RemittancePayNum.AliPay = []; // 清空数据 20191009
      this.RemittancePayNum.WeChat = []; // 清空数据 20191009
      this.RemittancePayNum.Other = []; // 清空数据 20191009
      // 判断目前类型多少 20190910
      for (let i = 0; i < this.RemittanceBankInfo.length; i++) {
        if (this.RemittanceBankInfo[i].QRCodePaymentWayType == 1) {
          this.RemittancePayNum.AliPay.push(this.RemittanceBankInfo[i]);
        } else if (this.RemittanceBankInfo[i].QRCodePaymentWayType == 2) {
          this.RemittancePayNum.WeChat.push(this.RemittanceBankInfo[i]);
        } else {
          this.RemittancePayNum.Other.push(this.RemittanceBankInfo[i]);
        }
      }
      // 默认存储选中第一个二维码 20190919
      if (this.RemittancePayNum.AliPay.length > 0) {
        this.ChangeBankData(0);
        return;
      } else if (this.RemittancePayNum.WeChat.length > 0) {
        this.ChangeBankData(1);
        return;
      } else if (this.RemittancePayNum.Other.length > 0) {
        this.ChangeBankData(2);
        return;
      }
      // 默认存储选中第一个二维码 20190919 end
    }
  },
  watch: {
    RemittanceBankInfo: function() {
      console.log('===============RemittanceBankInfo');
      console.log(this.RemittanceBankInfo);
      this.JudgeQRcodeNum();
    }
  }
};
</script>
