@charset "utf-8";

/* footer */
.wrap {
    overflow: hidden;
    overflow-y: auto;
    margin-top: 3.5rem;
    // margin-bottom: 3.5rem;
}

.modal-open .wrap {
    overflow: hidden;
}

footer {
    margin-top: -5rem;
    position: relative;
    // bottom: 0;
    // left: 0;
    width: 100%;
    height: 5.2rem !important;
    text-align: center;
    // bottom: 0;
    // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/menu_new_bg.png") no-repeat bottom center;
    background-size: 100% 100%;
    z-index: 999;
}

footer .menu .list {
    margin: 0 auto;
    width: 80%;
}

// footer .menu li.active{
// 	background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/menu_btn_on.jpg") no-repeat; 
// 	background-size: 100% 100%;
// }


/* 图标 前版本 */
// footer .menu li p{
// 	font-size: 0.9rem;
// 	color: #b3b1b1;
// 	text-decoration: none;
// }
// footer .menu li.active p{
// 	color: #FFFFFF;
// }
// .icon-hall, .icon-service, .icon-active, .icon-member{
// 	margin: .6rem auto .3rem;
// 	width: 1.6rem;
// 	height: 1.7rem;
// }
// .icon-hall{ width: 1.7rem; height: 1.6rem; background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu1.png") no-repeat; background-size: 100% 100%; }
// .icon-active{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu3.png") no-repeat; background-size: 100% 100%; }
// .icon-member{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu4.png") no-repeat; background-size: 100% 100%; }
// .icon-service{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu2.png") no-repeat; background-size: 100% 100%; }

// .active .icon-hall{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu1_on.png") no-repeat; background-size: 100% 100%; }
// .active .icon-service{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu2_on.png") no-repeat; background-size: 100% 100%; }
// .active .icon-active{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu3_on.png") no-repeat; background-size: 100% 100%; }
// .active .icon-member{ background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_menu4_on.png") no-repeat; background-size: 100% 100%; }
/* footer end */
/* 图标 前版本  end*/

// 2018.12.27 版本 SeyoChen
footer .menu li {
    display: block;
    float: left;
    width: 28%;
    // height: 4rem!important;
    text-align: center;
    overflow: hidden;
}

footer .menu li.tab-hall {
    float: left;
    height: 5.4rem;
    width: 44%;
    text-align: center;
}

footer .menu li a img {
    vertical-align: bottom;
}

.tab-hall a {
    display: block;
    width: 100%;
    height: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
}

.tab-hall a img {
    height: 100%;
}

.tab-hall a img {
    height: 5.4rem;
    display: none;
}

.tab-hall a img.img-gray {
    height: 5.4rem;
    display: inline-block;
}

.tab-hall.active a img.img-light {
    height: 5.4rem;
    display: inline-block;
}

.tab-hall.active a img.img-gray {
    display: none;
}

.icon-hall,
.icon-service,
.icon-active,
.icon-member {
    margin: 1rem auto 0;
    width: 3rem;
    height: 4rem;
}

footer .menu li p {
    font-size: 0.8rem;
    color: #8a8a8a;
    text-decoration: none;
}

footer .menu li.active p {
    color: #ceb896;
}

.icon-active {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_new_activity_n.png") no-repeat bottom center;
    background-size: 100%;
}

.icon-member {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_new_user_n.png") no-repeat bottom center;
    background-size: 100%;
}

.active .icon-active {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_new_activity_on.png") no-repeat bottom center;
    background-size: 100%;
}

.active .icon-member {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_new_user_on.png") no-repeat bottom center;
    background-size: 100%;
}

// 2018.12.27 版本 SeyoChen end

// 用户列表底部导航 2019.06.28 ququ
.footer-control {
    margin-top: -3.5rem;
    position: relative;
    left: 0;
    right: 0;
    bottom: 5rem;
    text-align: center;

    a {
        display: inline-block;
    }

    .addUser-btn,
    .delUser-btn {
        width: 3rem;
        height: auto;
    }

    .addUser-btn {
        margin-right: 1rem;
    }
}

.plan.footer-control {
    a {
        width: 10rem;
        height: 2.5rem;
        background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/plan/QR-btn.png") no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        line-height: 2rem;
        font-size: 0.9rem;
        color: #fff;
        text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.58);
    }
}

.vn .plan.footer-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vn .plan.footer-control a {
    width: 13rem;
    height: 3rem;
    font-size: .75rem;
    line-height: normal;
    padding: 0 1rem;
    display: flex;
    padding-top: 0.2rem;
    box-sizing: border-box;
}


.footer-control.promotion {
    margin-top: -2.5rem;
}
