<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="onekeyRegisterModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.ONE_KEY_REGISTER')}}</h4>
          </div>
          <div class="modal-body">
            <div class="login-wrap" style="margin: 3%;">
              <form class="register-form">
                <div class="row">
                  <em class="icon-scan"></em>
                  <input
                    type="text"
                    class="form-control input-scan"
                    :placeholder="$t('lang.LOGIN_ENTER_VCODE')"
                    name="AuthCode"
                    v-model="RegistObj.AuthCode"
                    v-validate="{ rules: { regex:Reg.VCode, required: true }}"
                    @focus=" $VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                  />
                  <a class="img-scan" v-on:click="GetAuthCode()">
                    <img v-bind:src="AuthImg" />
                  </a>
                  <p
                    class="error-tip"
                    v-if="errors.has('AuthCode') && fields.AuthCode.touched"
                  >* {{$t('lang.LOGIN_VCODE_TIP')}}</p>
                </div>
                <div class="row">
                  <a
                    v-on:click="SumbitRegist()"
                    class="btn btn-gold"
                    v-html="$t('lang.BUTTON_SUBMIT')"
                  ></a>
                  <a data-dismiss="modal" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus"
import Regex from "scripts/common/CommDef"
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import CommService from "scripts/businessLogic/commonService"
import RegistService from "scripts/businessLogic/registerService"
import CommUtility from "scripts/common/CommUtility"

export default {
  data() {
    return {
      HeaderTitle: "注册",
      Reg: Regex.Regex, // 正則表達式類別
      AuthImg: "", // 驗證碼
      RegistObj: {
        // 登入資料物件
        Acct: "",
        PhoneNo: "13888888888",
        Pwd: "123456",
        CheckPwd: "123456",
        WithdrawPwd: "123456",
        CheckWithdrawPwd: "123456",
        VCodeImg: "",
        AuthCode: "",
        CheckedAgree: true,
        PromotionInfo: undefined
      },
      AcctAvailable: true, // 驗證帳號是否重複
      tempObj: false, //是否處理中
      DomainLink: localStorage.getItem("DomainLink") || "",
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      // 驗證碼顏色設定
      RGB: {
        R: 0,
        G: 0,
        B: 0
      }
    }
  },
  created: function () {
    this.Load()
    this.GetAuthCode()
    this.CheckAccountAvailable()
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        this.ModalHeight()
      })
    },
    //弹窗高度
    ModalHeight: function () {
      let that = this
      $("#onekeyRegisterModal").on("show.bs.modal", function () {
        $(this).css("display", "block")
        var ModalHeight = $(window).height() / 2 - $("#onekeyRegisterModal .modal-dialog").height() / 2
        $(this).find(".modal-dialog").css({
          "margin-top": ModalHeight
        })
      })
      $("#onekeyRegisterModal").on("hide.bs.modal", function () {
        that.RegistObj.AuthCode = undefined
        that.$validator.reset()
        that.GetAuthCode()
        that.CheckAccountAvailable()
      })
    },
    // 取得驗證碼
    GetAuthCode: async function () {
      const VCode_CharacterRGB = this.RGB
      const RGBData = {
        VCode_CharacterRGB
      }
      const retData = await CommService.VerifyCode_Gen(RGBData)
      this.AuthImg = retData.Data.VCode
      this.PreToken = retData.Data.ID
    },
    // 驗證帳號是否重複
    CheckAccountAvailable: async function () {
      this.RegistObj.Acct = CommUtility.RandomAcct()
      const obj = {
        Acct: this.RegistObj.Acct,
        WGUID: Vue.prototype.$WGUID
      }
      const retData = await CommService.CheckAcctAvailable(obj)
      this.AcctAvailable = retData.IsAvailable
      if (!this.AcctAvailable) {
        this.CheckAccountAvailable()
      }
      console.log(this.RegistObj.Acct)
    },
    // 提交註冊申請
    SumbitRegist: async function () {
      // 是否通過各種欄位驗證
      const validateConfirm = await this.validate()
      if (!validateConfirm) {
        return
      }

      // 處理中則直接返回
      if (this.tempObj === true) {
        return
      }
      this.tempObj = true

      // 註冊資料物件
      const DataObj = {
        VCodeID: this.PreToken,
        VCode: this.RegistObj.AuthCode,
        WGUID: Vue.prototype.$WGUID,
        PromotionUrl: window.location.href.split("/").slice(0, 3).join("/"), // 完整DomainName含參數
        PromotionInfo: this.DomainLink, //上级代理  参数
        Member: this.RegistObj
      }

      // 註冊服務
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await RegistService.Regist(DataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      $("#onekeyRegisterModal").modal("hide")

      // 錯誤訊息物件
      const notifyData = {
        NotifyMessage: retData.Message
      }

      if (retData.Ret == 0) {
        // 成功
        EventBus.$emit("afterLogin")
        localStorage.setItem("Token", retData.Data.LoginData.Token)
        localStorage.setItem("Auth", retData.Data.LoginData.Auth)
        localStorage.setItem("Acct", retData.Data.LoginData.Acct)
        localStorage.removeItem("DomainLink")
        localStorage.setItem("CorrelationIBMemberId", retData.Data.LoginData.CorrelationIBMemberId)
        localStorage.setItem("userId", retData.Data.LoginData.AcctID)

        this.$store.dispatch("user/setAgentId")
        this.$store.dispatch("user/setUserId")

        localStorage.setItem("IBStatus", retData.Data.LoginData.IBStatus)
        // 成功並跳頁
        this.$router.push({ name: "registerSuccess" })
      } else if (retData.Ret === BLDef.ErrorRetType.COMM_VERIFY_CODE_INCORRECT) {
        // 驗證碼錯誤
        this.tempObj = false
        this.RegistObj.AuthCode = ""
        this.$validator.reset()
        this.GetAuthCode()
        EventBus.$emit("showNotifyMessage", notifyData)
      } else {
        // 失敗
        this.tempObj = false
        this.RegistObj = {}
        this.$validator.reset()
        this.GetAuthCode()
        EventBus.$emit("showNotifyMessage", notifyData)
      }
    },
    // 所有欄位驗證
    validate: function () {
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      return this.$validator.validateAll().then((result) => {
        return result
      })
    }
  }
}
</script>

