<template>
	
	<!-- 充值弹窗 -->
	<div class="mob-wrap">
		<div class="modal modal-shadow fade" id="userAgreementModal" tabindex="-1" data-backdrop="false" role="dialog" aria-hidden="true">  
	    	<div class="modal-dialog">
	            <div class="modal-content modal-theme-black"> 
	            	<div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
	            		<h4 class="modal-title">用户协议</h4>
		          	</div>
	            	<div class="modal-body">  
						<p>1、本网站受合法博彩年龄的客户申请。同时我们保留要求客户提供   其年龄证明的权利。
							</br>2、在本网站进行注册时所提供的全部信息必须在各个方面都是准确和完整的。
							</br>3、在开户后进行一次有效存款，恭喜您成为本网站有效会员！
							</br>4、存款免手续费，开户最低入款金额50人民币，最高单次入款金额500000人民币。
							</br>5、成为有效会员后，客户有责任以在线客服、电子邮件、在网站上联系我们，随时向本公司提供最新的个人资料。
							</br>6、经发现会员有重复申请账号行为时，有权将这些账户视为一个联合账户。我们保留取消、收回会员所有优惠红利，以及优惠红利所产生的盈利之权利。每位玩家、每一住址、每一电子邮箱、每一电话号码、相同支付卡/信用卡号码，以及共享计算机环境 (例如:网吧、其他公共用计算机等)只能够拥有一个会员账号，各项优惠只适用于每位客户唯一的账户。
							</br>7、本站是提供互联网投注服务的机构。请会员在注册前参考当地政府的法律，在博彩不被允许的地区，如有会员注册、下注，为会员个人行为，本站不负责、承担任何相关责任。
							</br>8、无论是个人或是团体，如有任何威胁、滥用本站优惠的行为，本站保留杈利取消、收回由优惠产生的红利，并保留权利追讨最高50%手续费。
							</br>9、所有本站的优惠是特别为玩家而设，在玩家注册信息有争议时，为确保双方利益、杜绝身份盗用行为，本站保留权利要求客户向我们提供充足有效的文件， 并以各种方式辨别客户是否符合资格享有我们的任何优惠。
							</br>10、因发生不可抗拒的灾害或人为入侵破坏行为，所造成的网站故障或数据损坏等情况，以本网站最终数据为最后的处理数据，所以各会员应尽量保留或打印数据， 本网站才接受跟进投诉。为避免任何争议，各用户在参与本网站所有游戏过程中或在结束游戏前，务必检查该会员帐户的资料，如发现任何异常情况，及时与在线客服联系。否则该用户将被视为同意并且接受。其帐户之一切数据或历史数据，以本公司数据库中的数据为准，用户不得异议。并且无须事先公布，本公司保留所有规则的修改权。
							</br>11、客户一经注册开户，将被视为接受所有颁布在本网站上的规则与条例。
						</p>
						<div class="row">
							<a @click="Agree()" class="btn btn-gold">同&emsp;意</a>
							<a class="btn btn-gray" data-dismiss="modal">取&emsp;消</a>
						</div>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div>
	</div>
	
</template>

<script>
	export default {
		methods: {
			//同意
			Agree: function(){
				$('#userAgreementModal').modal("hide");
			},
		},
	}
</script>

