<template>
  <div>
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <!-- 内容 -->
    <section class="msg-wrap register-wrap join-us-wrap">
      <div class="logo">
        <img
          :src="ResourceCDN + this.LogoPath"
          v-if="this.LogoPath!==null&&this.LogoPath!==''&&this.LogoPath!=='null'"
        />
        <h2>{{$t('lang.JOIN_TOP_TITLE')}}</h2>
      </div>
      <form id="JoinUsForm" class="addcard-form" novalidate="novalidate">
        <div class="cln_block cln_required">
          <h2 class="title">{{$t('lang.JOIN_MANDATORY_FIELD')}}</h2>
          <div class="row input-group">
            <label>
              *
              <span v-html="$t('lang.JOIN_NAME')"></span>
            </label>
            <input
              type="text"
              class="form-control"
              v-model="PostDataModel.Name"
              :placeholder="$t('lang.JOIN_ENTER_NAME')"
              name="Name"
              required
              v-validate="{ rules: { regex:Reg.RealName, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row input-group">
            <label>
              *
              <span v-html="$t('lang.JOIN_PHONE')"></span>
            </label>
            <!-- v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}" -->
            <input
              type="text"
              class="form-control"
              v-model="PostDataModel.PhoneNo"
              :placeholder="$t('lang.JOIN_ENTER_PHONE')"
              name="PhoneNo"
              v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row input-group">
            <label>
              *
              <span v-html="$t('lang.JOIN_SEX')"></span>
            </label>
            <p class="form-select icon">
              <select
                v-model="PostDataModel.Sex"
                @change="CheckSexRadio"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}"
              >
                <option
                  :key="Sex.Name"
                  v-for="Sex in LoadAddPageModel.SexSelectList"
                  :value="Sex"
                >{{Sex.Name}}</option>
              </select>
              <em
                class="icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"
              ></em>
            </p>
          </div>
          <div class="row input-group">
            <label>
              *
              <span v-html="$t('lang.JOIN_EMAIL')"></span>
            </label>
            <input
              type="text"
              class="form-control"
              v-model="PostDataModel.Email"
              :placeholder="$t('lang.JOIN_ENTER_EMAIL')"
              name="Email"
              required
              v-validate="{ rules: { regex:Reg.Email2, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
   
          <div class="row input-group">
            <label>
              *
              <span v-html="$t('lang.JOIN_VCODE')"></span>
            </label>
            <input
              type="text"
              class="form-control input-scan"
              name="AuthCode"
              v-model="PostDataModel.AuthCode"
              v-validate="{ rules: { regex:Reg.VCode, required: true }}"
              :placeholder="$t('lang.JOIN_ENTER_VCODE')"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
            <a class="img-scan" v-on:click="GetAuthCode()">
              <img :onerror="defaultImg" v-bind:src="AuthImg" />
            </a>
          </div>
        </div>

        <div class="cln_block cln_optional">
          <h2 class="title">{{$t('lang.JOIN_OPTIONAL_FIELD')}}</h2>
          <div class="row input-group">
            <label v-html="$t('lang.JOIN_BIRTHDAY')"></label>
            <input type="date" class="form-control" v-model="PostDataModel.Birth" name="Birth" />
          </div>
          <div class="row input-group">
            <label v-html="$t('lang.JOIN_WECHAT_ID')"></label>
            <input
              type="text"
              class="form-control"
              v-model="PostDataModel.WeChatNo"
              :placeholder="$t('lang.JOIN_ENTER_WECHAT')"
              name="WeChatNo"
              v-validate="{ rules: { regex:Reg.WeChatID }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row input-group">
            <label v-html="$t('lang.JOIN_QQ')"></label>
            <input
              type="text"
              class="form-control"
              v-model="PostDataModel.QQNo"
              :placeholder="$t('lang.JOIN_ENTER_QQ')"
              name="QQNo"
              v-validate="{ rules: { regex:Reg.QQID }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <div class="row input-group">
            <label v-html="$t('lang.JOIN_REMARK')"></label>
            <textarea
              type="text"
              class="form-control"
              v-model="PostDataModel.Remark"
              :placeholder="$t('lang.JOIN_ENTER_REMARK')"
              name="Remark"
              v-validate="{ rules: { regex:Reg.Remark }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            ></textarea>
          </div>
        </div>

        <p
          class="error-tip"
          v-if="errors.has('Name') && fields.Name.touched"
        >* {{$t('lang.JOIN_NAME_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('PhoneNo') && fields.PhoneNo.touched"
        >* {{$t('lang.JOIN_PHONE_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="PostDataModelSexErrorIsShow === false"
        >* {{$t('lang.JOIN_SEX_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('Email') && fields.Email.touched"
        >* {{$t('lang.JOIN_EMAIL_TIP')}}</p>
        <!-- <p
          class="error-tip"
          v-else-if="errors.has('CardName') && fields.CardName.touched"
        >*持卡人姓名仅可以使用中英文字母,空白, 字数范围2-50</p>
        <p
          class="error-tip"
          v-else-if="errors.has('BankName') && fields.BankName.touched"
        >*银行名称仅可以使用中英文字母,数字, 下划线和减号, 字数范围2-50</p>-->
        <!-- 开 户 行 -->
        <!-- <p class="error-tip" v-else-if="DropDownInvalid === false">提示: 请选择省市区</p> -->
        <!-- <p
          class="error-tip"
          v-else-if="errors.has('BankBranchName') && fields.BankBranchName.touched"
        >开户行仅可以使用中英文字母,空白, 字数范围2-50</p>-->

        <!-- <p
          class="error-tip"
          v-else-if="errors.has('BankAccnt') && fields.BankAccnt.touched"
        >*银行账号仅可以使用10—25个数字</p>-->
        <p
          class="error-tip"
          v-else-if="errors.has('AuthCode') && fields.AuthCode.touched"
        >* {{$t('lang.JOIN_VCODE_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('WeChatNo') && fields.WeChatNo.touched"
        >* {{$t('lang.JOIN_WECHAT_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('QQNo') && fields.QQNo.touched"
        >* {{$t('lang.JOIN_QQ_TIP')}}</p>
        <p
          class="error-tip"
          v-else-if="errors.has('Remark') && fields.Remark.touched"
        >* {{$t('lang.JOIN_REMARK_TIP')}}</p>

        <div class="row">
          <a v-on:click="AddIB()" class="btn btn-gold" v-html="$t('lang.BUTTON_SUBMIT')"></a>
        </div>
      </form>
    </section>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/register/index.less';
</style>
<script>
import mainHeader from '@/components/mobile/sub/mainHeader';
import Regex from 'scripts/common/CommDef';
import RegisterService from 'scripts/businessLogic/registerService';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import moment from 'moment';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.JOIN_TITLE'),
      // 正則表達式
      Reg: Regex.Regex,

      // post用的model
      PostDataModel: {
        Name: '',
        Email: '',
        PhoneNo: '',
        CardName: '',
        BankName: '',
        BankProvince: '',
        BankCity: '',
        BankDistrict: '',
        BankBranchName: '',
        BankAccnt: '',
        Birth: moment(new Date()).format('YYYY-MM-DD'),
        WeChatNo: '',
        QQNo: '',
        Remark: '',
        AuthCode: '',
        Sex: ''
      },
      // 載入頁面
      LoadAddPageModel: {
        ProvinceSelectList: {},
        TownSelectList: {},
        DistSelectList: {},
        SexSelectList: {}
      },
      PostDataModelSexErrorIsShow: undefined, // 判斷性別未填寫的錯誤旗標
      DropDownInvalid: undefined, // 下拉選單是否有未填
      // 驗證碼
      AuthImg: '',
      // PreToken
      PreToken: '',
      FlagObj: false, // 请求中
      // 驗證碼顏色設定
      RGB: {
        R: 255,
        G: 200,
        B: 255
      },
      DomainLink: '', //微信DomainLink值
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      LogoPath: localStorage.getItem('LogoImgPath'),

      CheckPhoneNoAvailable: {
        PhoneNo: '',
        WGUID: ''
      },
      defaultImg:
        'this.src="' +
        Vue.prototype.$ResourceCDN +
        '/EditionImg/LamborFormal/images/public/refresh.png"'
    };
  },
  created: async function() {
    // if (
    //   localStorage.getItem('DomainLink') &&
    //   localStorage.getItem('DomainLink') != ''
    // ) {
    //   this.DomainLink = localStorage.getItem('DomainLink');
    // } else {
    //   this.DomainLink = this.$route.params.Data || '';
    //   localStorage.setItem('DomainLink', this.DomainLink);
    // }
    // 扫码注册更改为以每次链接后携带参数为准 2019.10.31 ququ
    if (this.$route.params.Data) {
      this.DomainLink = this.$route.params.Data;
      localStorage.setItem('DomainLink', this.DomainLink);
    } else {
      if (
        localStorage.getItem('DomainLink') &&
        localStorage.getItem('DomainLink') != ''
      ) {
        this.DomainLink = localStorage.getItem('DomainLink');
      }
    }
    // 扫码注册更改为以每次链接后携带参数为准 2019.10.31 ququ end
    this.Load();
    this.LoadPage();
    this.GetAuthCode();
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('JoinUsForm', this.AddIB);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        //提示弹窗居中
        $('#WarnTipModal').on('show.bs.modal', function() {
          $(this).css('display', 'block');
          var ModalHeight =
            $(window).height() / 2 -
            $('#WarnTipModal .modal-dialog').height() / 2 -
            50;
          $(this)
            .find('.modal-dialog')
            .css({
              'margin-top': ModalHeight
            });
        });

        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 取得驗證碼
    GetAuthCode: async function() {
      /* eslint-disable camelcase */
      const VCode_CharacterRGB = this.RGB;
      const RGBData = {
        VCode_CharacterRGB
      };
      const retData = await CommService.VerifyCode_Gen(RGBData);
      this.AuthImg = retData.Data.VCode;
      this.PreToken = retData.Data.ID;
    }, // end GetAuthCode

    // 載入頁面
    LoadPage: async function() {
      const dataObj = {};
      const retData = await RegisterService.LoadIBRegisterMainPage(dataObj);

      // 失敗
      if (retData.Ret != 0) {
        return;
      } // end if

      // 成功
      this.LoadAddPageModel = retData.Data;
      // this.PostDataModel.BankProvince = this.LoadAddPageModel.ProvinceSelectList[0];
      // this.PostDataModel.BankCity = this.LoadAddPageModel.TownSelectList[0];
      // this.PostDataModel.BankDistrict = this.LoadAddPageModel.DistSelectList[0];
      // this.PostDataModel.Sex = { Value: -1 }; // default value
      this.PostDataModel.Sex = this.LoadAddPageModel.SexSelectList[0]; // 默认性别为后端返回第一项，解决ios不切换无法选择性别 2019.12.02 ququ
    }, // end LoadPage
    // 選擇省並變更其他選單資料
    ChangeProvince: async function() {
      const dataObj = {
        SType: BLDef.SelectTypesDef.CITIES,
        InputValues: [this.PostDataModel.BankProvince.Value]
      };
      const retData = await CommService.GetCityTypes(dataObj);
      if (retData.Ret == 0) {
        this.LoadAddPageModel.TownSelectList = retData.Data.SelectList;
        this.PostDataModel.BankCity = retData.Data.SelectList[0];
        this.PostDataModel.BankDistrict = this.LoadAddPageModel.DistSelectList[0];
        this.LoadAddPageModel.DistSelectList = [
          this.LoadAddPageModel.DistSelectList[0]
        ];
      } // end if
    }, // end ChangeProvince

    // 選擇城市並變更其他選單資料
    ChangeTown: async function() {
      const dataObj = {
        SType: BLDef.SelectTypesDef.DISTS,
        InputValues: [this.PostDataModel.BankCity.Value]
      };
      const retData = await CommService.GetDistTypes(dataObj);
      if (retData.Ret === 0) {
        this.LoadAddPageModel.DistSelectList = retData.Data.SelectList;
        this.PostDataModel.BankDistrict = retData.Data.SelectList[0];
        if (this.LoadAddPageModel.DistSelectList.length === 1) {
          this.DropDownInvalid = true;
        } // end if
      } // end if
    }, // end ChangeTown

    // 選擇區域
    ChangeDist: function() {
      if (this.PostDataModel.BankDistrict.Value !== '-1') {
        this.DropDownInvalid = true;
      }
    }, // end ChangeDist

    // 檢查性別RadioButton
    CheckSexRadio: function() {
      if (this.PostDataModel.Sex && this.PostDataModel.Sex.Value != -1) {
        this.PostDataModelSexErrorIsShow = true;
      }
    }, // end CheckSexRadio

    // 所有欄位驗證
    validate: function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate

    AddIB: async function() {
      if (!this.FlagObj) {
        EventBus.$emit('GlobalLoadingTrigger', true);
        this.FlagObj = true;
        const validate = await this.validate();
        // 驗證所有欄位
        if (!validate) {
          this.FlagObj = false;
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        } // end if
        // // 驗證性別欄位
        // if (!this.PostDataModelSexErrorIsShow) {
        //   this.PostDataModelSexErrorIsShow = false;
        //   return;
        // } // end if
        // 驗證開戶網點下拉式選單
        // if (!this.DropDownInvalid || this.PostDataModel.BankProvince.Value == -1 || this.PostDataModel.BankCity.Value == -1 || (this.PostDataModel.BankDistrict.Value == -1 && !this.DropDownInvalid)) {
        //     this.DropDownInvalid = false;
        //     return;
        // } // end
        // 注册手机号进行检测 会员手机号不能重复 20190909
        this.CheckPhoneNoAvailable.PhoneNo = this.PostDataModel.PhoneNo;
        this.CheckPhoneNoAvailable.WGUID = Vue.prototype.$WGUID;
        const DataInput = { CheckPhoneNo: this.CheckPhoneNoAvailable };
        console.log('---------------------');
        console.log(DataInput);
        const CheckPhoneNo = await CommService.Comm_CheckPhoneNoAvailable(
          DataInput
        );
        console.log(
          '===============================Comm_CheckPhoneNoAvailable' +
            CheckPhoneNo
        );
        console.log(CheckPhoneNo);
        if (
          CheckPhoneNo.Ret === 0 &&
          CheckPhoneNo.Data.CheckPhoneNo.IsAvailable === false
        ) {
          const notifyData = {
            NotifyMessage: this.$t('lang.JOIN_PHONE_EXISTED')
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          this.FlagObj = false;
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        } else if (CheckPhoneNo.Ret === 19) {
          const notifyData = {
            NotifyMessage: this.$t('lang.JOIN_PHONE_ERROR'),
            NotifySubMessage: this.$t('lang.JOIN_PHONE_ERROR_TIP')
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          this.FlagObj = false;
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        } else if (CheckPhoneNo.Ret !== 0 && CheckPhoneNo.Ret !== 19) {
          const notifyData = {
            NotifyMessage: CheckPhoneNo.Message
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          this.FlagObj = false;
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        // 注册手机号进行检测 会员手机号不能重复 20190909

        // 時間資料轉換
        if (this.PostDataModel.Birth !== undefined) {
          this.PostDataModel.Birth = moment(this.PostDataModel.Birth).format(
            'YYYY/MM/DD'
          );
        }

        const dataObj = {
          VCodeID: this.PreToken,
          VCode: this.PostDataModel.AuthCode,
          WGUID: Vue.prototype.$WGUID,
          PromotionUrl: window.location.href, // new $window.URL($location.absUrl()).origin, // 完整DomainName含參數
          PromotionInfo: this.DomainLink,
          IB: this.PostDataModel,
          RegisterWay: 2 // 来源方式：1、链接，2、QRCode
        };

        // EventBus.$emit('GlobalLoadingTrigger', true);
        const retData = await RegisterService.AddIB(dataObj);
        // EventBus.$emit('GlobalLoadingTrigger', false);

        // this.FlagObj = false;

        const notifyData = {
          NotifyMessage: retData.Message
        };

        // 失敗
        if (retData.Ret != 0) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          // 秀出錯誤訊息
          // 站长被停用 2019.06.25 ququ
          if (retData.Ret === 100014) {
            notifyData.NotifyMessage = this.$t(
              'lang.WEBMASTER_ACCOUNT_DISABLE'
            );
          }
          // 站长被停用 2019.06.25 ququ end
          EventBus.$emit('showNotifyMessage', notifyData);
          this.PostDataModel.AuthCode = '';
          this.$validator.reset();
          this.GetAuthCode();
          // 接口返回失败后再开放点击事件 2019.10.31 ququ
          this.FlagObj = false;
          return;
        } // end if
        EventBus.$emit('GlobalLoadingTrigger', false);
        localStorage.removeItem('DomainLink');
        const notifyData1 = {
          NotifySubTitle: this.$t('lang.JOIN_APPLY_TITLE'),
          NotifyMessage: this.$t('lang.JOIN_APPLY_SUCCESS'),
          CloseFunction: this.CloseFunction
        };
        EventBus.$emit('showWarnTip', notifyData1);
      }
    }, // end AddIB

    CloseFunction: function() {
      this.$router.push({ name: 'index' }); //登录成功 跳转首页
    }
  },
  components: {
    mainHeader
  }
};
</script>

