<template>
  <div id="app" :class="$i18n.locale">
    <router-view></router-view>
    <div id="advert-box" class="hide">
      <a id="advert-link">
        <img
          :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/advertisement/advert.jpg'"
        />
      </a>
      <p class="advert-time-box" @click="CloseAdvert">
        <span class="advert-time">{{ShowTime}}</span>
        <span>跳过</span>
      </p>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus"
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import LoginService from "scripts/businessLogic/loginService"
import CommonService from "scripts/businessLogic/commonService"
import SignalRService from "scripts/common/SignalRService"
import CommUtility from "scripts/common/CommUtility"
import HttpService from "scripts/common/HttpService"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"

export default {
  name: "app",
  data() {
    return {
      CTTimer: undefined,
      HBTimer: undefined,
      VBalanceTimer: undefined,

      ShowTime: 3, // 广告显示时间
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      GameList: [],

      IfLogin: false
    }
  },
  created: async function () {
    this.IsWXOpen() //在微信中打开
    // this.GetLanguage(); // 获取语系
    this.EventFun() // 监听触发 呼叫事件
    this.GetLogoData() // 动态获取logo 2019.05.14 SeyoChen
    // this.ShowAdvertisement(); // 2018.10.15 SeyoChen
    this.GatGame() // 2019.01.18 SeyoChen
    this.GetCumstomerInfoPage() // 2020.04.13
    this.CheckLoginStatus()
    const self = this
    // self.SetVBalanceTimer();
    EventBus.$on("afterLogin", () => {
      clearInterval(self.CTTimer)
      self.SignalRConnect()
      self.LoginCount()
      self.GetBalance()
      self.GetCumstomerInfoPage() //登入後重新取得客服連結
    })

    setInterval(function () {
      if (self.EventData == true && self.IfLogin == true) {
        self.EventData = false
        self.GBKgetBalance()
      }
    }, 1200000)

    this.setBodyBgColor()
  },
  methods: {
    //在微信中打开
    IsWXOpen: function () {
      var device = navigator.userAgent
      var ua = navigator.userAgent.toLowerCase() //获取判断用的对象
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(device)) {
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
          this.$router.replace({ name: "WeChatComponent" })
        }
      }
    },
    // 获取语系
    GetLanguage: function () {
      const language = CommUtility.GetCookie("language")
      if (language != "") {
        this.$i18n.locale = language
        EventBus.$emit("setLanguage", language)
        CommUtility.SetCookie("language", language)
      } else {
        this.$i18n.locale = "cn"
        EventBus.$emit("setLanguage", "cn")
        CommUtility.SetCookie("language", "cn")
      }
    },
    GetLogoData: async function () {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_Mobile
      }
      const retData = await CommonService.HomePage_LoadMainPage(DataObj)

      if (retData.Ret === 0) {
        localStorage.setItem("LogoName", retData.Data.Name)
        localStorage.setItem("LogoImgPath", retData.Data.MasterLogo)
      }
    },
    // GBK钱包查询余额
    GBKgetBalance: async function () {
      const inputObj = {}
      const retData = await PersonalCenterService.MemberCashFlowInfo_BackToCWallet(inputObj)
      if (retData.Ret == 0) {
        EventBus.$emit("GBKBalance", retData.Data.VAmount)
      }
    },

    // 监听键盘，鼠标事件 2019.03.28 SeyoChen
    EventFun: function () {
      const self = this
      window.onkeydown = function () {
        self.EventData = true
        return
      }
      document.onmousemove = function () {
        self.EventData = true
        return
      }
    },
    // 遍历获取游戏列表 2018.11.15 SeyoChen
    GatGame: async function () {
      // 判断本地是否已经有缓存--获取
      const GameData = localStorage.getItem("GameList")
      const dataObj = {
        WGUID: "",
        GameTypeNo: "",
        PlatformType: BLDef.Paltform.Web_Mobile
      }
      dataObj.WGUID = Vue.prototype.$WGUID
      dataObj.GameTypeNo = "0" // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj)

      if (retData.Ret === 0) {
        // 判断本地缓存是否与之前的相同
        if (GameData === JSON.stringify(retData.Data.GameAPIVerdorList)) {
          return
        } else {
          for (let i = 0; i < retData.Data.GameAPIVerdorList.length; i++) {
            // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
            if (
              retData.Data.GameAPIVerdorList[i].IsH5Support === 1 &&
              retData.Data.GameAPIVerdorList[i].ApiStatus !== 704
            ) {
              this.GameList.push(retData.Data.GameAPIVerdorList[i])
            }
          }
          localStorage.setItem("GameList", JSON.stringify(this.GameList))

          // 2019.01.19 首次进入列表没有游戏问题
          // EventBus.$emit('GameListSet');
        }
      }
    },

    // 遍历获取游戏列表 2018.11.15 SeyoChen end

    // 檢查登入狀態
    CheckLoginStatus: async function () {
      const data = await CommonService.Comm_CheckPermission()
      switch (data.Status) {
        case BLDef.SysAccountStatus.NOT_LOGIN:
          this.IfLogin = false
          this.LocalCheckToken()
          break
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.IfLogin = true
          this.LoginHeartBeat()
          this.SignalRConnect()
          this.LoginCount()
          break
        default:
          break
      }
    },

    // 開始登出計時
    LoginCount: async function () {
      const self = this
      const logoutTime = localStorage.getItem("logoutTime")
      // 時間到就登出
      if (logoutTime > new Date().getTime() || logoutTime == undefined) {
        setTimeout(function () {
          self.LoginCount()
        }, 60000)
      } else {
        const inputObj = {
          LogoutInfo: {}
        }

        EventBus.$emit("GlobalLoadingTrigger", true)
        await LoginService.LogOut(inputObj)
        EventBus.$emit("GlobalLoadingTrigger", false)

        // 移除登入相關資料
        localStorage.removeItem("logoutTime")
        localStorage.removeItem("Token")
        localStorage.removeItem("Auth")
        EventBus.$emit("SignalR_DisConnectServer") // 20191226 ququ
        // 若沒接收到signalr斷線訊息，則3秒後自行斷線
        setTimeout(function () {
          // 斷Signalr連線
          SignalRService.DisConnectServer()
          window.location.href = "/login"
        }, 3000)
      } // end if
    }, // end LoginCount

    // 建立SignalR連線
    SignalRConnect: function () {
      SignalRService.ConnectServer(this.SignalRConnect)
    },
    // 登入後心跳包機制
    LoginHeartBeat: function () {
      this.PostHeartBeat()
      this.HBTimer = setInterval(this.PostHeartBeat, 1000 * 60 * 10)
    },
    // 發送心跳包到後端
    PostHeartBeat: async function () {
      async function PostAction() {
        const newTick = new Date().getTime() + 1000 * 60 * 10 - 1000 * 1
        await LoginService.UpdateSurviveTime()
        localStorage.setItem("HBTick", newTick)
      }

      const HBTick = localStorage.getItem("HBTick")
      if (HBTick) {
        // 有Tick但比現在舊
        if (HBTick < new Date().getTime()) {
          PostAction()
        }
      } else {
        // 沒有心跳包
        PostAction()
      }
    },
    // 檢查本地Token
    LocalCheckToken: function () {
      this.CTTimer = setInterval(async function () {
        const currentTK = localStorage.getItem("Token")
        // 本地端有token則進到後端檢查
        if (currentTK) {
          const data = await CommonService.Comm_CheckPermission()
          if (
            data.Status == BLDef.SysAccountStatus.LOGINED_ENABLED ||
            data.Status == BLDef.SysAccountStatus.LOGINED_FROZEN
          ) {
            //  window.location.reload();
            window.location.href = "/"
          } else {
            localStorage.removeItem("Token")
          }
        }
      }, 3000)
    },

    // 2018.10.15 SeyoChen 页面广告
    // 广告倒计时
    ShowAdvertisement: function () {
      var self = this

      var set = setInterval(() => {
        self.ShowTime--
        if (self.ShowTime === 0) {
          self.ShowTime = ""
          // $('#advert-box').hide(700);
        }
      }, 1000)

      setTimeout(() => {
        self.ShowTime = ""
        clearInterval(set)
      }, 3000)
    },
    // 关闭广告
    CloseAdvert: function () {
      // 播放音乐
      EventBus.$emit("PLAY_MSC")

      $("#advert-box").hide(700)
    },
    // 2018.10.15 SeyoChen end

    //定时获取账户余额
    SetVBalanceTimer: async function () {
      const currentTK = localStorage.getItem("Token")
      const self = this
      if (currentTK == null || currentTK == "") {
        clearInterval(self.VBalanceTimer)
        return
      }
      self.VBalanceTimer = setInterval(async function () {
        self.GetBalance()
      }, 10 * 60 * 1000)
    },
    //获取账户余额
    GetBalance: async function () {
      const VBalance = await CommUtility.CalculateSummaryAmount(this) //获取需要时间，提前获取保存至本地
      localStorage.setItem("VBalance", VBalance)
    },

    // 获取在线客服与微信客服 LQ 20200413
    async GetCumstomerInfoPage() {
      const inputData = { WGUID: this.$WGUID }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await CommonService.GetCumstomerInfoLoad(inputData)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("serveLink", retData)
      if (retData.Ret === 0) {
        this.ServeLink = retData.Data.OnlineUrl
        if (this.ServeLink !== "" && this.ServeLink !== null && this.ServeLink !== undefined) {
          if (
            this.ServeLink.substr(0, 7).toLowerCase() == "http://" ||
            this.ServeLink.substr(0, 8).toLowerCase() == "https://"
          ) {
            localStorage.ServeLink = this.ServeLink
          } else {
            localStorage.ServeLink = "http://" + this.ServeLink
          }
        }
      }
    },
    // 设置body背景颜色 LQ 2020.04.16
    setBodyBgColor() {
      switch (this.$ThemeName) {
        case "M-001":
          $("body").css("background-color", "#4985de")
          break
        case "M-002":
          $("body").css("background-color", "#2f0815")
          break
        case "M-003":
          $("body").css("background-color", "#1e1832")
          break
        case "M-004":
          $("body").css("background-color", "#868686")
          break
        case "M-005":
          $("body").css("background-color", "#202020")
          break
        case "M-006":
          $("body").css("background-color", "#25162D")
          break
        case "M-007":
          $("body").css("background-color", "#050200")
          break
        case "M-008":
          $("body").css("background-color", "#0D1114")
          break
        case "M-009":
          $("body").css("background-color", "#DFF2F8")
          break
        case "M-010":
          $("body").css("background-color", "#3C2422")
          break
        case "M-011":
          $("body").css("background-color", "#111433")
          break
        case "M-012":
          $("body").css("background-color", "#1E0C22")
          break
        case "M-013":
          $("body").css("background-color", "#1a1114")
          break
        case "M-014":
          $("body").css("background-color", "#28190C")
          break
        case "M-015":
          $("body").css("background-color", "#00223B")
          break
        case "M-016":
          $("body").css("background-color", "#191a2f")
          break
        case "M-017":
          $("body").css("background-color", "#0B0903")
          break
        case "M-018":
          $("body").css("background-color", "#252120")
          break
        case "M-019":
          $("body").css("background-color", "#232A3A")
          break
        default:
          break
      }
    }
  },
  watch: {
    // 切换页面滚动条回到顶部
    $route: function () {
      this.$nextTick(() => {
        document.getElementById("wrapper").scrollTop = 0
      })
    }
  },
  beforeDestroy() {
    EventBus.$off("afterLogin")
  }
}
</script>
