<template>
  <!-- 自身待遇 -->
  <div class="treatment-cont-main selfTreatment" :class="objPage" id="selfTreatment-scroll">

    <div class="treatment-cont-item" v-if="CommisionIncomeMode==1401">
      <h2 class="treatment-cont-title">{{$t('lang.SELF_TREATMENT')}}：{{$t('lang.AGENCY_PERCENTAGE_DIFFERENCE_COMMISSION')}}</h2>
      <div class="treatment-cont-table">
        <ul class="treatment-table-ul">
          <li class="treatment-table-list" :class="'treatment-table-list'+$MessageLang">
            <span class="list-title"  v-for="(item,index) in ValueListItem" :key="index" :class="[{ 'on': divideName == item.GroupName,'list-title1':index==3 || index==4}]" @click="divideInto(item.GroupName)">{{item.GroupName}}</span>
          </li>
          <div class="treatment-cont-item">
            <h2 class="treatment-cont-title">{{$t('lang.PROMOTION_GAME_VENDOR')}}</h2>
          </div>
          <li class="treatment-table-list" :class="'treatment-table-list'+$MessageLang" v-for="(item,index) in ValueListItem" :key="index">
            <ul class="list-tableCon" v-show="divideName == item.GroupName">
              <li class="list-tableLi" v-for="(list,i) in item.GroupList" :key="i">{{list.GameApiName}} {{list.MaxRevenueRate}}%</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="treatment-cont-item" v-if="QueryAutoUpgradeRakeSettingList.length>0 && AutoUpgradeFlag==1">
      <h2 class="treatment-cont-title">{{$t('lang.SELF_TREATMENT')}}：{{$t('lang.PROMOTION_COMMISSION')}}</h2>
      <div class="treatment-cont-commission">
        <table width="100%" border="1">
          <thead>
            <tr>
              <td>{{$t('lang.AGENCY_EFFECTIVE_BETTING_SCOPE')}}</td>
              <td>{{$t('lang.AGENCY_COMMISSION_RATIO')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list,index) in QueryAutoUpgradeRakeSettingList" :key="index">
              <td>{{list.L_RakeAmt}}~{{list.H_RakeAmt}}</td>
              <td>{{list.RakeRate}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="treatment-cont-item" v-if="CommisionIncomeMode==1401">
      <h2 class="treatment-cont-title">{{$t('lang.AGENCY_BONUS_RATIO')}}：{{MaxIBBonusRevenueRate}}%</h2>
    </div>
    <div class="treatment-cont-item" v-if="AutoUpgradeFlag==0">
      <h2 class="treatment-cont-title">{{$t('lang.DETAILS_CODE_COMMISSION')}}：{{RakeRate}}%</h2>
    </div>

    <p class="txt" v-if="CycleName">{{$t('lang.PROMOTION_SETTLEMENT_METHOD')}}：{{CycleName}}</p>
  </div>
</template>

<script>
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import BKBLDef from 'scripts/common/BLDef';
import CommService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
export default {
  data() {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      GetAcctID: localStorage.getItem('CorrelationIBMemberId'),
      IBCommissionRevenueGameLists: [],
      ValueList: [],
      RevenueList: [],
      ValueListItem: [],
      divideName: '',
      HulHeight: '89px',
      vTreatment: '142px',
      Vlists: [],
      QueryAutoUpgradeRakeSettingList: [],
      CycleName: undefined,
      CommisionIncomeMode: undefined,
      AutoUpgradeFlag: undefined,
      MaxIBBonusRevenueRate: undefined,
      RakeRate: undefined,
      objPage: ''
    };
  },
  created: function () {
    this.objPage = this.$route.name
    // this.loadSelfPage();
  },
  mounted: function () {
  },
  watch: {
    $route(to, from) {
      this.objPage = to.name
    }
  },
  computed: {},
  methods: {
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function (num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    loadSelfPage: async function (userMementID) {
      const self = this;
      self.ValueListItem = [];
      self.RevenueList = [];
      const inputData = {
        AcctID: userMementID || self.GetAcctID
      };
      const retData = await AgencyCenterService.LoadMaxReverseGameListSetting(
        inputData
      );
      console.log('retData自身待遇');
      console.log(inputData);
      console.log(retData);
      console.log('retData自身待遇');
      if (retData.Ret === 0) {
        self.IBCommissionRevenueGameLists =
          retData.Data.IBCommissionRevenueGameSettingList;
        self.QueryAutoUpgradeRakeSettingList =
          retData.Data.QueryAutoUpgradeRakeSettingList;
        for (let y = 0; y < self.QueryAutoUpgradeRakeSettingList.length; y++) {
          self.QueryAutoUpgradeRakeSettingList[y].RakeRate = self.numCalFix(
            self.QueryAutoUpgradeRakeSettingList[y].RakeRate * 100
          );
        }
        self.CycleName = retData.Data.CycleName;
        self.CommisionIncomeMode = retData.Data.CommisionIncomeMode;
        self.AutoUpgradeFlag = retData.Data.AutoUpgradeFlag;
        self.MaxIBBonusRevenueRate = retData.Data.MaxIBBonusRevenueRate;
        self.RakeRate = retData.Data.RakeRate;
        const list = self.IBCommissionRevenueGameLists;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < self.ValueList.length; z++) {
            if (list[i].GameTypeName == self.ValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            self.ValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < self.ValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.ValueList[h]) {
              names = {
                GroupName: self.ValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          self.RevenueList.push(names);
        }
        for (let h = 0; h < self.RevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.RevenueList[h].GroupName) {
              self.RevenueList[h].GroupList.push(list[p]);
            }
          }
        }
        console.log('创建账号初始化数据');
        // console.log(self.IBCommissionRevenueGameSettingList);
        console.log(list);
        console.log(self.ValueList);
        console.log(self.RevenueList);
        console.log('创建账号初始化数据');
        // 分成设置
        const mouldList = self.RevenueList;
        console.log(mouldList);
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            mouldList[a].GroupList[b].RevenueRate = this.numCalFix(
              groudList[b].RevenueRate * 100
            );

            mouldList[a].GroupList[b].MaxRevenueRate = this.numCalFix(
              groudList[b].MaxRevenueRate * 100
            );
          }
        }
        self.ValueListItem = mouldList; // 分成%数
        self.divideName = self.ValueListItem[0].GroupName;
        console.log('处理后的列表数据11111111111111111111111111');
        console.log(self.ValueListItem);
        console.log('处理后的列表数据111111111111');
        for (let d = 0; d < self.ValueListItem.length; d++) {
          self.Vlists.push(self.ValueListItem[d].GroupList.length);
          self.Vlists.sort(function (a, b) {
            return a - b;
          });
        }
        console.log(self.Vlists);
        const max = self.Vlists[self.Vlists.length - 1];
        console.log(max);
        console.log(Math.ceil(max / 3));
        if (Math.ceil(max / 3) > 3) {
          self.HulHeight = 36 * Math.ceil(max / 3) + 'px';
          self.vTreatment = 76 + 36 * Math.ceil(max / 3) + 'px';
        } else {
          self.HulHeight = '108px';
          self.vTreatment = '184px';
        }
      }
    },
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function (num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    divideInto: function (name) {
      console.log(name);
      this.divideName = name;
    }
  },
  beforeDestroy: function () { },
  components: {},
};
</script>

<style lang="less" scoped>
.selfTreatment {
  padding: 0.9rem;
  .treatment-cont-title {
    color: #fff;
    font-size: 0.95rem;
    border-left: 0.2rem solid #fff;
    line-height: 1em;
    padding-left: 0.5rem;
    margin: 1rem 0 .55rem 0;
    font-weight: normal;
  }
  table {
    width: 100%;
    border-collapse: collapse; /*关键代码*/
    border: none;
    border-color: hsla(0, 0%, 100%, 0.1);
    thead {
      background-color: hsla(0, 0%, 100%, 0.05);
    }
    tr {
      td {
        width: 50%;
        color: white;
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
  
  .txt {
    font-size: .8rem;
    text-align: center;
    color: hsla(0,0%,100%,.8);
    background-color: rgba(0,0,0,.1);
    padding: .2rem 0;
    margin: .5rem -.9rem;
  }

  .treatment-cont-table{
    .treatment-table-list {
      display: flex;
      flex-wrap: wrap;
    }
    .list-title{
      display: block;
      width: 32.5%;
      margin-right: 1.25%;
      text-align: center;
      color: #333;
      font-size: .85rem;
      background-color: #fff;
      margin-top: .5rem;
      height: 2.4rem;
      line-height: 2.4rem;
      border-radius: .3rem;
    }
    .list-title:nth-of-type(3n){
      margin-right: 0;
    }
    .list-tableCon{
      display: none;
      display: flex;
      flex-wrap: wrap;
      .list-tableLi{
        border: 1px solid hsla(0,0%,100%,.1);
        box-sizing: border-box;
        width: 50%;
        color: white;
        text-align: center;
        font-size: .8rem;
        margin-bottom: -1px;
      }
      .list-tableLi:nth-of-type(2n){
        border-left: none;
      }
    }
    .on{
        background-color: #fcca1d;
    }
    .on+.list-tableCon{
       display: flex;
    }
  }
}
.selfTreatment.userList{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .treatment-cont-title{
    color: #333;
    font-size: .95rem;
    border-left: .2rem solid #d0a05d;
    line-height: 1em;
    padding-left: .5rem;
    margin: .5rem 0;
  }
  table{
    border: 1px solid #c5bfc5;
    tr td{
      color: #666;
    }
  }
  .txt{
    color: #666;
    background-color: #cec8ce;
  }
  .list-tableCon .list-tableLi{
    border: 1px solid #c5bfc5;
    color: #666;
  }
}
</style>