<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap member-wrap">
      <!--头部-->
      <div class="main-header-box">
        <header>
          <input
            class="icon-back"
            type="button"
            name="Submit"
            onclick="javascript:history.back(-1);"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_back.png)'}"
          />
          <a class="switch-btn active" v-html="this.HeaderTitle"></a>
          <!-- <a
            class="switch-btn"
            @click="OpenUserIBRegister()"
            v-if="this.IfAgency === false && this.UserIBStatus !== 2"
          >{{$t('lang.MEMBER_AGENT_APPLY')}}</a>-->
          <a
            @click="OpenAgencyCenter()"
            class="switch-btn"
            v-if="this.IfAgency === true"
          >{{$t('lang.AGENCY_CENTER')}}</a>
        </header>
      </div>

      <section v-if="this.MemberData.Acct" class="head-section">
        <div class="left">
          <img :src="MemberData.HeadImgUrl" />
          <p v-if="MemberData.Name">{{this.MemberData.Name}}</p>
        </div>
        <div class="fl">
          <p>
            <i>{{$t('lang.MEMBER_INDEX_ACCOUNT')}}: {{this.MemberData.Acct}}&emsp;&ensp;</i>
          </p>
          <p>
            <i>{{$t('lang.MEMBER_INDEX_BALANCE')}}: {{this.VBalance | moneyFormat}}</i>
            <span
              v-if="IsGetBalanceIng===true"
              class="LoadIcon"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/common/load.svg)'}"
            ></span>
            <a
              v-else
              href="javascript:void(0)"
              class="btn btn-refresh"
              @click="GetBalance()"
            >{{$t('lang.MEMBER_REFRESH')}}</a>
          </p>
          <!-- <a class="btn" @click="BindCopy()">{{$t('lang.MEMBER_COPY_URL')}}</a> -->
          <!-- <router-link
            :to="{name: 'openPlatform'}"
            v-if="this.IsWX && !this.MemberData.AcctPwdEnabled"
            class="btn btn-bind"
          >{{$t('lang.MEMBER_OPEN_ACCOUNT')}}</router-link>
          <a class="btn btn-bind" v-else>{{$t('lang.MEMBER_HAVE_ACCOUNT')}}</a>-->
          <input
            class
            type="text"
            v-model="copyUrl"
            id="copyObj"
            @focus="$VueUtils.SetFooterBar('hide')"
            @blur="$VueUtils.SetFooterBar('show')"
          />
        </div>
      </section>
      <section v-else class="head-section">
        <div class="left">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/avatar_default.png'"
          />
          <p>{{$t('lang.MEMBER_NOT_LOGGED_IN')}}</p>
        </div>
        <div class="fl">
          <p>
            <router-link :to="{name: 'login'}" class="btn">{{$t('lang.MEMBER_LOGIN')}}</router-link>
          </p>
        </div>
      </section>
      <section class="tab-section">
        <ul>
          <!--<li data-toggle="modal" data-target="#depositModal">
						<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon1.png'" />
						<p>充值</p>
          </li>-->
          <li @click="GoDeposit">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon1.png'"
            />
            <p>{{$t('lang.MEMBER_DEPOSIT')}}</p>
          </li>
          <li @click="CWalletForWithdraw()">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon2.png'"
            />
            <p>{{$t('lang.MEMBER_WITHDRAWAL')}}</p>
          </li>
          <li>
            <router-link :to="{name: 'memberAccountChange'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon3.png'"
              />
              <p>{{$t('lang.ACCOUNT_CHANGE_RECORD')}}</p>
            </router-link>
          </li>

          <!-- 新增 -->
          <li>
            <router-link :to="{name: 'memberDepositList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon3.png'"
              />
              <p>{{$t('lang.MEMBER_DEPOSIT_LIST')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'memberErawMoneyList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon3.png'"
              />
              <p>{{$t('lang.MEMBER_DRAW_MONEY_LIST')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'memberBettingList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon3.png'"
              />
              <p>{{$t('lang.AGENCY_BETTING')}}</p>
            </router-link>
          </li>
          <!-- 新增 -->

          <li>
            <router-link :to="{name: 'privateMessage'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon4.png'"
              />
              <p>{{$t('lang.MEMBER_MESSAGE')}}</p>
            </router-link>
          </li>
          <!--<li>
						<router-link :to="{name: 'extendRecord'}">
							<img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon5.png'" />
							<p>推广查询</p>
						</router-link>
          </li>-->
       
          <li @click="GoFundManage">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon5.png'"
              />
              <p>{{$t('lang.MEMBER_FUNDING')}}</p>
          </li>
          <li>
            <router-link :to="{name: 'modifyPassword'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_icon6.png'"
              />
              <p>{{$t('lang.MEMBER_PASSWORD')}}</p>
            </router-link>
          </li>
        </ul>
      </section>
      <section class="footer-section" v-if="this.IfAgency === false && this.UserIBStatus !== 2">
        <div class="left">
          <img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/img_scan.png'" />
        </div>
        <div class="right">
          <p>{{$t('lang.MEMBER_SET_QRCODE')}}</p>
          <a
            href="javascript:void(0)"
            class="btn"
            data-toggle="modal"
            data-target="#scanModal"
          >{{$t('lang.MEMBER_Generate_QRCODE')}}</a>
        </div>
      </section>

      <a @click="Logout()" class="btn btn-white" v-html="$t('lang.BUTTON_LOGOUT')"></a>

      <!-- 复制成功 -->
      <copy-modal></copy-modal>

      <!-- 生成二维码 -->
      <scan-modal
        :UserInfo="this.UserInfo"
        v-if="this.UserInfo.userId && this.IfAgency === false && this.UserIBStatus !== 2"
        :Source="'Member'"
        :MemberExtensionQRCode="MemberExtensionQRCode"
      ></scan-modal>

      <!-- 充值弹窗 -->
      <!--<deposit-modal></deposit-modal>-->

      <!-- 提现弹窗 -->
      <!-- <withdrawal-modal></withdrawal-modal> -->
    </article>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/member/index.less';
</style>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import copyModal from '@/components/mobile/sub/member/copyModal';
import scanModal from '@/components/mobile/sub/member/scanModal';
//	import depositModal from '@/components/mobile/sub/recharge/depositModal'
// import withdrawalModal from '@/components/mobile/sub/recharge/withdrawalModal';

import CommonService from 'scripts/businessLogic/commonService';
import LoginService from 'scripts/businessLogic/loginService';
import SignalRService from 'scripts/common/SignalRService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import RegisterService from 'scripts/businessLogic/registerService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.MEMBER_CENTER'),
      MemberData: {},
      VBalance: '0', //余额
      IsGetBalanceIng: false, //是否正在获取余额
      IsWX: false, //是否微信登录
      //推广二维码包含信息
      UserInfo: {
        userId: undefined,
        userType: undefined
      },
      copyUrl: window.location.origin, //复制网址
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      IfAgency: false,
      UserIBStatus: localStorage.getItem('IBStatus'),
      MemberExtensionQRCode: undefined, // 个人中心二维码 20191010 ququ
      tempObj: false //是否處理中  20191031 ququ
    };
  },
  created: function() {
    let that = this;
    that.Load();
    this.GetBalance();
    // 更新余额 2019.04.29 LMX
    EventBus.$on('UpdateBalance', data => {
      console.log('-----------------GetBalance');
      this.GetBalance();
    });
    const CorrelationIBMemberId = localStorage.getItem('CorrelationIBMemberId');
    // -1，表示没有申请过，0: 待審核 1: 待補全 2: 已通過 3: 已拒絕
    console.log('________________________________________in');
    console.log(CorrelationIBMemberId);
    if (CorrelationIBMemberId !== '-1') {
      this.IfAgency = true;
    } else {
      this.IfAgency = false;
    }
  },
  activated() {
    this.GetBalance();
  },
  methods: {
    // 点击取款，执行金额取回操作 2019.04.09 SeyoChen
    CWalletForWithdraw: async function() {
      if (await CommUtility.CheckAccount(this)) {
        const inputObj = {};
        EventBus.$emit('GlobalLoadingTrigger', true);
        const data = await PersonalCenterService.MemberCashFlowInfo_CWalletForWithdraw(
          inputObj
        );
        if (data.Ret !== 0) {
          const notifyData = {
            NotifyMessage: data.Message
          };
          EventBus.$emit('showNotifyMessage', notifyData);
        }
        EventBus.$emit('GlobalLoadingTrigger', false);
        // 取回金额后跳转提现页面 2019.12.18 ququ
        // $('#withdrawalModal').modal('show');
        this.$router.push({ name: 'memberWithdrawal' });
      }
    },

    Load: function() {
      this.$nextTick(function() {
        this.GetMemberInfo();
        //					this.GetBalance()
        this.ModalHeight();
        // CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 登出
    Logout: async function() {
      const inputObj = {
        LogoutInfo: {}
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const reData = await LoginService.LogOut(inputObj);
      // 移除登入相關資料
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Token');
      localStorage.removeItem('WXobj');
      localStorage.removeItem('Auth');
      localStorage.removeItem('Acct');

      if (reData.Ret === 0) {
        this.$router.push({ name: 'login' }); //跳转登录页面
        EventBus.$emit('GlobalLoadingTrigger', false);
      } else {
        // 若沒接收到signalr斷線訊息，則3秒後自行斷線
        setTimeout(() => {
          // 斷Signalr連線
          SignalRService.DisConnectServer();
          EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_LOGOUT_TIP')); //登出成功提示
          this.$router.push({ name: 'login' }); //跳转登录页面
          EventBus.$emit('GlobalLoadingTrigger', false);
        }, 3000);
      }
    },
    //复制网址
    BindCopy: function() {
      const range = document.createRange();
      //复制节点对象
      range.selectNode(document.getElementById('copyObj'));
      const selection = window.getSelection();
      if (selection.rangeCount > 0) selection.removeAllRanges();
      //选择复制范围
      selection.addRange(range);
      document.execCommand('Copy');

      EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_COPY_SUCCESS')); //复制成功提示
    },
    //弹窗高度
    ModalHeight: function() {
      //充值
      $('#copyModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#copyModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    //获取用户信息
    GetMemberInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await CommonService.Comm_GetMemberInfo();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('=================Comm_GetMemberInfo');
      console.log(data);
      if (data.Data && data.Data.Member) {
        this.MemberExtensionQRCode = data.Data.MemberExtensionQRCode; // 获取个人中心弹窗二维码 20191010 ququ
        this.MemberData = data.Data.Member;
        this.MemberData.HeadImgUrl =
          this.ResourceCDN +
          '/EditionImg-mobile/Lambor1.0/images/mobile/member/avatar.jpg';
        //					this.MemberData.Name = this.MemberData.Acct;

        this.UserInfo.userId = this.MemberData.AcctID;
        this.UserInfo.userType = this.MemberData.AcctID;

        let WXobj = null;
        if (localStorage.getItem('WXobj')) {
          WXobj = JSON.parse(localStorage.getItem('WXobj'));
          if (WXobj && WXobj.Name) {
            this.IsWX = true;
            this.MemberData.Name = WXobj.Name;
            this.MemberData.HeadImgUrl = WXobj.HeadImgUrl;
            this.MemberData.AcctPwdEnabled = WXobj.AcctPwdEnabled;
            this.MemberData.BankCardAdded = WXobj.BankCardAdded;
          }
        }
      }
    },
    GetBalance: async function() {
      this.VBalance = localStorage.getItem('VBalance') || '0';
      this.IsGetBalanceIng = true;
      // this.VBalance = await CommUtility.CalculateSummaryAmount() || '0'
      const inputObj = {};
      const retData = await PersonalCenterService.MemberCashFlowInfo_GetCWalletMoney(
        inputObj
      ); // 新版获取账户金额 2019.03.28
      if (retData.Ret == 0) {
        this.VBalance = retData.Data.VAmount;
      } else {
        this.VBalance = this.$t('lang.MEMBER_MAINTENANCE');
      }
      this.IsGetBalanceIng = false;
      localStorage.setItem('VBalance', this.VBalance);
    },
    OpenUserIBRegister: function() {
      const IBStatus = localStorage.getItem('IBStatus');
      const notifyData = {};
      if (IBStatus === '-1') {
        notifyData.NotifyMessage = this.$t('lang.MEMBER_APPLY_AGENT');
        notifyData.CloseFunction = this.UserIBRegister;
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      } else {
        notifyData.NotifyMessage = this.$t('lang.MEMBER_APPLICATION_SUBMITTED');
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    // 会员申请成为代理
    UserIBRegister: async function() {
      // 判断用户状态，是否已申请代理或者没有权限成为代理或者允许申请
      // 申请成为代理

      // 處理中則直接返回 2019.10.31 ququ
      if (this.tempObj === true) {
        return;
      } // end if

      this.tempObj = true;

      EventBus.$emit('GlobalLoadingTrigger', true);
      const inputData = { PromotionUrl: Vue.prototype.$WebVersionHost };
      console.log(inputData);
      const retData = await RegisterService.UserIBRegister_Add(inputData);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(
        '==========================================UserIBRegister_Add'
      );
      console.log(retData);
      if (retData.Ret === 0) {
        localStorage.setItem('IBStatus', 0);
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.MEMBER_APPLICATION_SUBMITTED')
        );
      } else {
        console.log('==========================================申请失败');
        EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_APPLY_FAIL'));
        // 接口返回失败后再开放点击事件 2019.10.31 ququ
        this.tempObj = false;
      }
    },
    // 停用代理后不得进入代理中心 2019.12.18 ququ
    OpenAgencyCenter: function(data) {
      const IBStatus = localStorage.getItem('IBStatus');
      if (IBStatus === '703') {
        const notifyData = {
          NotifyMessage: this.$t('lang.ACCOUNT_AGENT_DEACTIVATED')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      this.$router.replace({ name: 'agency' });
    },
    GoDeposit: async function() {
      if (await CommUtility.CheckAccount(this)) {
        this.$router.push({ name: 'deposit' });
      }
    },
    GoFundManage: async function() {
      if (await CommUtility.CheckAccount(this)) {
        this.$router.push({ name: 'fundManage' });
      }
    }
  },
  beforeDestroy() {
    EventBus.$off('UpdateBalance');
  },
  components: {
    mainHeader,
    copyModal,
    scanModal
    //			depositModal,
    // withdrawalModal
  }
};
</script>