<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="addCardModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="out-scroll">
        <div class="modal-dialog">
          <div class="modal-content modal-theme-black">
            <div
              class="modal-header"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
            >
              <h4
                v-if="IsBankInfoSet === true"
                class="modal-title"
              >{{$t('lang.WITHDRAWAL_CHANGE_BANK')}}</h4>
              <h4 v-else class="modal-title">{{$t('lang.WITHDRAWAL_ADD_BANK')}}</h4>
            </div>
            <div class="modal-body" id="bankInfoForm" name="bankInfoForm">
              <form class="addcard-form">
                <em class="open-arrow"></em>
                <section class="pay-way-options" v-show="BankList.length>0">
                  <p
                    @click="SelectedOption=index;BankData.BankName=item.BankName"
                    v-for="(item,index) in BankList"
                    :key="index"
                    v-show="index<3"
                  >
                    <em class="icon" :class="{'hasblock':SelectedOption===index}"></em>
                    <span>{{item.BankName}}</span>
                  </p>
                </section>
                <section class="pay-way-options options-second" v-show="false">
                  <p
                    :class="{'hasblock':SelectedOption===index}"
                    @click="SelectedOption=index;BankData.BankName=item.BankName"
                    v-for="(item,index) in BankList"
                    :key="index"
                    v-show="index>=3"
                  >
                    <em class="icon" :class="{'hasblock':SelectedOption===index}"></em>
                    <span>{{item.BankName}}</span>
                  </p>
                </section>
                <!-- 银行名称 -->
                <p
                  class="error-tip"
                  style="margin-left:0;"
                  v-if="BankData.BankName===null||BankData.BankName===''"
                >{{$t('lang.DEPOSIT_BANK_ENTER_TIP')}}</p>
                <div class="row input-group">
                  <label>{{$t('lang.WITHDRAWAL_USER_NAME')}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="CardName"
                    :placeholder="FirstAddBankCard?$t('lang.WITHDRAWAL_ENTER_NAME'):$t('lang.WITHDRAWAL_ENTER_PREV_CARD_NAME')"
                    v-model="BankData.CardName"
                    v-validate="{ rules: { regex:Reg.NickBankName, required: true }}"
                    @focus=" $VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                  />
                  <!-- 用 户 名 -->
                  <p
                    class="error-tip"
                    v-if="errors.has('CardName') && fields.CardName.touched"
                  >{{$t('lang.DEPOSIT_AMOUNT_ENTER_TIP')}}</p>
                </div>
                <!-- <div class="row input-group">
                <label>{{$t('lang.WITHDRAWAL_BANK_NAME')}}</label>
                <input
                  type="text"
                  class="form-control"
                  name="BankName"
                  :placeholder="$t('lang.WITHDRAWAL_ENTER_BANK')"
                  v-model="BankData.BankName"
                  v-validate="{ rules: { regex:Reg.BankNickName, required: true }}"
                  @focus=" $VueUtils.SetFooterBar('hide')"
                  @blur="$VueUtils.SetFooterBar('show')"
                />
                </div>-->
                <div class="row input-group">
                  <label>{{$t('lang.DEPOSIT_BANK_INFO')}}</label>
                  <!-- <p class="form-select icon">
									<select v-model="BankData.Province" @change="ChangeProvince">
										<option v-for="Province in ProvincesList" v-bind:value="Province">{{Province.Name}}</option>
									</select>
								</p>
								<p class="form-select icon ml-row">
									<select v-model="BankData.Town" @change="ChangeTown">
										<option v-for="Town in TownsList" v-bind:value="Town">{{Town.Name}}</option>
									</select>
								</p>
								<p v-show="!(BankData.Town.Value !== '-1' && this.DistsList.length == 1)" class="form-select icon ml-row">
									<select v-model="BankData.Dist" @change="ChangeDist">
										<option v-for="Dist in DistsList" v-bind:value="Dist">{{Dist.Name}}</option>
									</select>
                  </p>-->
                  <input
                    type="text"
                    class="form-control"
                    :placeholder="$t('lang.DEPOSIT_ENTER_BANK_INFO')"
                    name="BankBranchName"
                    v-model="BankData.BranchName"
                    v-validate="{ rules: { regex:Reg.BankExpensesName, required: true }}"
                    @focus=" $VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                  />
                  <!-- 开 户 行 -->
                  <p
                    class="error-tip"
                    v-if="errors.has('BankBranchName') && fields.BankBranchName.touched"
                  >{{$t('lang.DEPOSIT_BRANCH_ENTER_TIP')}}</p>
                </div>
                <div class="row input-group">
                  <label>{{$t('lang.WITHDRAWAL_BANK_NUMBER')}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="BankAcct"
                    v-model="BankData.BankAcct"
                    v-validate="{ rules: { regex:Reg.BankAccount, required: true }}"
                    :placeholder="$t('lang.WITHDRAWAL_ENTER_NUMBER')"
                    @focus=" $VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                  />
                  <!-- 银行卡号 -->
                  <p
                    class="error-tip"
                    v-if="errors.has('BankAcct') && fields.BankAcct.touched"
                  >{{$t('lang.WITHDRAWAL_NUMBER_TIP')}}</p>
                </div>
                <div class="row input-group">
                  <label>{{$t('lang.WITHDRAWAL_CONFIRM_CARD')}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="ConfirmBankAcct"
                    v-model="BankData.ConfirmBankAcct"
                    v-validate="{'required': 'true', 'is': BankData.BankAcct}"
                    onpaste="return false"
                    :placeholder="$t('lang.WITHDRAWAL_ENTER_NUMBER')"
                    @focus=" $VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                    @input="setPaste"
                  />
                  <p
                    class="error-tip"
                    v-if="errors.has('ConfirmBankAcct') && fields.ConfirmBankAcct.touched"
                  >{{$t('lang.WITHDRAWAL_ACCOUNT_INCONSISTENT')}}</p>
                </div>
                <!--<div class="row checkbox-row">
								<input type="checkbox" id="check" class="form-checkbox" /><label for="check"></label>
								设为默认银行卡
                </div>-->
                <!-- <p class="error-tip" v-else-if="DropDownInvalid === true">提示: 请选择省市区</p> -->
                <div class="row btn-row">
                  <a
                    v-on:click="ShowConfirmWindow()"
                    class="btn btn-gold"
                    v-html="$t('lang.BUTTON_BIND')"
                  ></a>
                  <a
                    v-on:click="bindClose()"
                    class="btn btn-gray"
                    v-html="$t('lang.BUTTON_CANCEL')"
                  ></a>
                </div>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>

    <!-- 检查添加信息弹窗 -->
    <confirm-card-info :Card="BankData"></confirm-card-info>
  </div>
</template>

<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';
import confirmCardInfo from '@/components/mobile/sub/recharge/confirmCardInfo';

export default {
  props: {
    FirstAddBankCard: null
  },
  data() {
    return {
      AddCardType: '', //添加银行卡入口, goldCoin:提现, recharge:充提中心
      ProcessingFlag: false,
      IsBankInfoSet: false, //是否已添加银行卡
      DropDowning: '',
      Reg: Regex.Regex,
      BankData: {
        CardName: '',
        BankName: undefined,
        BranchName: '',
        BankAcct: '',
        Province: {},
        Town: {},
        Dist: {}
      },
      OrgBankData: {},
      ProvincesList: [],
      TownsList: [],
      DistsList: [],
      DefaultDistsItem: {},
      DefaultDistsList: [],
      DropDownInvalid: undefined, // 下拉選單是否有未填

      InputReadOnly: false, // 当用户资料完整时不允许变更 置灰 false:允许修改 true:不允许修改 20190910
      BankList: [], // 银行卡单选项列表
      SelectedOption: undefined, //选中的银行
      setPasteValue: '' // 禁用粘贴功能
    };
  },
  components: {
    confirmCardInfo
  },
  created: function() {
    this.Load();
    this.BindingEvent();
    this.GetBankList();
    // this.LoadPage();
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
    CommUtility.BindEnterTrigger('bankInfoForm', this.UpdateBankData);
    $('.open-arrow').click(function() {
      if (!$('.options-second').is(':animated')) {
        //判断是否处于动画
        if ($(this).hasClass('open')) {
          $(this).removeClass('open');
        } else {
          $(this).addClass('open');
        }
        $(this)
          .siblings('.options-second')
          .slideToggle(300);
      }
    });
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.OrgBankData = Vue.util.extend({}, this.BankData);
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      var that = this;
      $('#withdrawalModal').on('show.bs.modal', function() {
        that.AddCardType = 'goldCoin';
        EventBus.$emit('UpdateBankData'); //更新银行卡信息
        EventBus.$emit('UpdateCurrencyFormData'); //更新虚拟货币账户信息
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#withdrawalModal .modal-dialog').height() / 2;
        ModalHeight = ModalHeight < 0 ? '2rem' : ModalHeight;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      //添加银行卡
      $('#addCardModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#addCardModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
        that.setPasteValue ="";
      });
    },
    BindingEvent: function() {
      document.addEventListener('click', this.HideDropDown);
    },
    // 顯示紀錄類型選單
    ShowDropDown: function(targetClass) {
      $('.down_box').slideUp(100);
      if (this.DropDowning !== targetClass) {
        $('.' + targetClass).slideDown(300);
        this.DropDowning = targetClass;
      } else {
        $('.' + targetClass).slideUp(100);
        this.DropDowning = '';
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(100);
        this.DropDowning = '';
      }
    },
    // 載入畫面
    LoadPage: async function() {
      var data = this.BankInfo;
      if (!data.Data) {
        return;
      }
      console.log('=====================this.BankInfo');
      console.log(this.BankInfo);
      if (data.Ret === 0 && data.Data.BankAcct.BankAcct !== '') {
        this.InputReadOnly = true;
      } else {
        this.InputReadOnly = false;
      }
      console.log('=====================this.BankInfo');
      console.log(this.InputReadOnly);
      // if (data.Data.BankAcct.Province.Name == '') {
      //   data.Data.BankAcct.Province = Vue.util.extend(
      //     {},
      //     data.Data.ProvinceSelectList[0]
      //   );
      // }
      // if (data.Data.BankAcct.Town.Name == '') {
      //   data.Data.BankAcct.Town = Vue.util.extend(
      //     {},
      //     data.Data.TownSelectList[0]
      //   );
      // }
      // if (data.Data.BankAcct.Dist.Name == '') {
      //   data.Data.BankAcct.Dist = Vue.util.extend(
      //     {},
      //     data.Data.DistSelectList[0]
      //   );
      // }
      this.BankData = Vue.util.extend({}, data.Data.BankAcct);
      this.OrgBankData = Vue.util.extend({}, data.Data.BankAcct);
      // this.ProvincesList = data.Data.ProvinceSelectList;
      // this.TownsList = Vue.util.extend([], data.Data.TownSelectList);
      // this.DistsList = Vue.util.extend([], data.Data.DistSelectList);
      // this.DefaultDistsItem = Vue.util.extend({}, data.Data.DistSelectList[0]);
      // this.DefaultDistsList = [this.DefaultDistsItem];

      if (this.BankData.CardName != '') {
        this.IsBankInfoSet = true; //已有银行卡信息
      }
    },
    // 選擇省分
    ChangeProvince: async function() {
      const selectProvince = this.BankData.Province;
      const inputObj = {
        SType: BLDef.SelectTypesDef.CITIES,
        InputValues: [selectProvince.Value]
      };
      const data = await CommonService.GetCityTypes(inputObj);
      if (data.Ret === 0) {
        this.BankData.Province = selectProvince;
        this.TownsList = data.Data.SelectList;
        this.BankData.Town = data.Data.SelectList[0];
        this.DistsList = this.DefaultDistsList;
        this.BankData.Dist = this.DefaultDistsItem;
      }
    },
    // 選擇城市
    ChangeTown: async function() {
      const selectTown = this.BankData.Town;
      const inputObj = {
        SType: BLDef.SelectTypesDef.DISTS,
        InputValues: [selectTown.Value]
      };
      const data = await CommonService.GetDistTypes(inputObj);
      if (data.Ret === 0) {
        this.BankData.Town = selectTown;
        this.DistsList = data.Data.SelectList;
        this.BankData.Dist = data.Data.SelectList[0];
        if (this.DistsList.length === 1) {
          this.DropDownInvalid = false;
        }
      }
    },
    // 選擇區域
    ChangeDist: function() {
      const selectDist = this.BankData.Dist;
      this.BankData.Dist = selectDist;
      if (selectDist.Value !== '-1') {
        this.DropDownInvalid = false;
      }
    },
    // 檢查下拉選單合法性
    CheckDropDownInvalid: function() {
      if (!this.BankData.Province || !this.BankData.Town) {
        return true;
      }
      if (
        this.BankData.Province.Value == -1 ||
        this.BankData.Town.Value == -1
      ) {
        return true;
      }
      if (
        this.DistsList.length > 1 &&
        (!this.BankData.Dist || this.BankData.Dist.Value == -1)
      ) {
        return true;
      }
      return false;
    },
    // 弹出检查信息弹窗 2019.10.22 ququ
    ShowConfirmWindow: async function() {
      if (
        this.BankData.BankName === '' ||
        this.BankData.BankName === null ||
        this.BankData.BankName === undefined
      ) {
        this.BankData.BankName = '';
      }
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      if (
        this.BankData.BankName === '' ||
        this.BankData.BankName === null ||
        this.BankData.BankName === undefined
      ) {
        return;
      }
      $('#confirmCardInfo').modal('show');
    },
    // 更新銀行資料
    UpdateBankData: async function() {
      // this.DropDownInvalid = this.CheckDropDownInvalid();
      // Object.keys(this.fields).forEach(key => {
      //   this.fields[key].touched = true;
      // });
      // const result = await this.$validator.validateAll();
      // if (result === false) {
      //   return;
      // }

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;

      const inputObj = {
        OrgBankAcct: this.OrgBankData,
        BankAcct: this.BankData
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.BankInfo_Mod(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;
      if (data.Ret === 0) {
        this.resetForm();
        EventBus.$emit('UpdateBankData'); //更新银行卡信息
        $('#addCardModal').modal('hide');
        // $('#withdrawalModal').modal('show');
        var ModalHeight =
          $(window).height() / 2 -
          $('#withdrawalModal .modal-dialog').height() / 2;
        ModalHeight = ModalHeight < 0 ? '5rem' : ModalHeight;
        $('#withdrawalModal')
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
        //					if(this.AddCardType == "goldCoin") { //提现
        ////					$('#withdrawalModal').modal("show");
        //						$('#withdrawalPswModal').modal("show") //设置取款密码
        //					} else if(this.AddCardType == "recharge") { //充值
        ////					$('#depositModal').modal("show")
        //					}
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    GetBankList: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      let dataObj = {};
      const data = await CommonService.Comm_GetMembersBankType(dataObj);
      if (data.Ret === 0) {
        this.BankList = data.Data.BankTypeList;
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        };
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    resetForm: function() {
      this.DropDownInvalid = undefined;
      this.SelectedOption = undefined;
      this.BankData = Vue.util.extend({}, this.OrgBankData);
      this.$validator.reset();
    },
    //关闭添加银行卡
    bindClose: function() {
      this.resetForm();
      $('#addCardModal').modal('hide');
      if (!$('.options-second').is(':animated')) {
        $('.open-arrow').removeClass('open');
        $('.options-second').slideUp();
      }
      // $('#withdrawalModal').modal('show');
    },
    // 禁止确认银行卡号粘贴
    setPaste: function() {
      if (
        (this.setPasteValue.length < this.BankData.ConfirmBankAcct.length &&
          this.BankData.ConfirmBankAcct.length - this.setPasteValue.length <
            2) ||
        (this.setPasteValue.length > this.BankData.ConfirmBankAcct.length &&
          this.setPasteValue.length - this.BankData.ConfirmBankAcct.length < 2)
      ) {
        this.setPasteValue = this.BankData.ConfirmBankAcct;
      } else {
        this.BankData.ConfirmBankAcct = this.setPasteValue;
      }
    }
  },
  watch: {
    BankInfo: function(info) {
      this.BankInfo = info;
      this.LoadPage();
    }
  }
};
</script>