<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="currencyForm"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4
              v-if="IsCurrencyFormInfoSet === true"
              class="modal-title"
            >{{$t('lang.WITHDRAWAL_CHANGE_VIRTUAL')}}</h4>
            <h4 v-else class="modal-title">{{$t('lang.WITHDRAWAL_ADD_VIRTUAL')}}</h4>
          </div>
          <div class="modal-body" id="bankInfoForm" name="bankInfoForm">
            <form class="addcard-form">
              <div class="row input-group">
                <p class="tip" style="text-align:center;">{{$t('lang.WITHDRAWAL_WARM_TIP')}}</p>
              </div>
              <div class="row input-group">
                <label style="width: 28%;height:1.5rem;">{{$t('lang.WITHDRAWAL_SHOP_NAME')}}:</label>
                <span style="font-size:1rem;">Sunny Pay</span>
              </div>
              <div class="row input-group">
                <label style="width: 28%;height:1.5rem;">{{$t('lang.WITHDRAWAL_SHOP_WEBSITE')}}:</label>
                <span style="font-size:1rem;">https://wallet.sunnypay.io</span>
              </div>
              <div class="row input-group">
                <label style="width: 28%;height:3rem;">{{$t('lang.WITHDRAWAL_RECEIVE_ADDRESS')}}:</label>
                <input
                  style="width: 70%;"
                  type="text"
                  class="form-control ml-row"
                  name="Address"
                  v-model="Address"
                  v-validate="{ rules: { regex:Reg.Address, required: true }}"
                  @focus=" $VueUtils.SetFooterBar('hide')"
                  @blur="$VueUtils.SetFooterBar('show')"
                />
              </div>
              <p
                class="error-tip"
                v-if="errors.has('Address') && fields.Address.touched"
              >* {{$t('lang.WITHDRAWAL_ADDRESS_TIP')}}</p>
              <div class="row">
                <a
                  @click="UpdateCurrencyData()"
                  class="btn btn-gold"
                  v-html="$t('lang.BUTTON_SAVE')"
                ></a>
                <a v-on:click="bindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  props: {
    CurrencyFormInfo: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      Reg: Regex.Regex,
      CurrencyData: {
        ReceiptAddress: ''
      },
      OrgCurrencyData: {
        ReceiptAddress: ''
      },
      IsCurrencyFormInfoSet: false, //是否已经添加虚拟货币账户
      Address: ''
    };
  },
  created: function() {
    this.Load();
    this.LoadPage();
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('currencyForm', this.UpdateCurrencyData);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      var that = this;
      //添加银行卡
      $('#currencyForm').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#currencyForm .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 載入畫面
    LoadPage: async function() {
      var data = this.CurrencyFormInfo;
      if (!data.Data) {
        return;
      }
      this.CurrencyData = Vue.util.extend({}, data.Data.VirtualAcct);
      this.OrgCurrencyData = Vue.util.extend({}, data.Data.VirtualAcct);

      if (this.CurrencyData.ReceiptAddress != '') {
        this.Address = this.CurrencyData.ReceiptAddress; // 添加已有内容显示
        this.IsCurrencyFormInfoSet = true; //已有虚拟货币账户信息
      }
    },
    // 修改會員虚拟帳戶資料
    UpdateCurrencyData: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      const dataObj = {
        OrgVirtualAcct: {
          MerchantName: 'Sunny Pay',
          MerchantWeb: 'https://wallet.sunnypay.io',
          ReceiptAddress: this.CurrencyData.ReceiptAddress
        },
        VirtualAcct: {
          MerchantName: 'Sunny Pay',
          MerchantWeb: 'https://wallet.sunnypay.io',
          ReceiptAddress: this.Address
        }
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.MemberCurrencyMerchant_Mod(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      if (data.Ret === 0) {
        this.resetForm();
        EventBus.$emit('UpdateCurrencyFormData'); //更新虚拟账户信息

        $('#currencyForm').modal('hide');
      }

      // 2019.04.17 SeyoChen
      const notifyData = {
        NotifyMessage: data.Message
      };
      EventBus.$emit('showNotifyMessage', notifyData);
    },
    resetForm: function() {
      // 复原原有内容显示 2019.04.29 LMX
      this.CurrencyData = Vue.util.extend({}, this.OrgCurrencyData);
      this.Address = this.CurrencyData.ReceiptAddress;
      this.$validator.reset();
    },
    //关闭添加虚拟货币账户
    bindClose: function() {
      this.resetForm();
      $('#currencyForm').modal('hide');
    }
  },
  watch: {
    CurrencyFormInfo: function(info) {
      this.CurrencyFormInfo = info;
      this.LoadPage();
    }
  }
};
</script>