<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="askIfReplaceCard"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WINDOWS_TITLE_TIP')}}</h4>
          </div>
          <div class="modal-body">
            <form class="addcard-form">
              <p>
                {{$t('lang.WITHDRAWAL_DETERMINE_REPLACE')}}
                <span>{{BankItem.BankName}}&emsp;{{BankItem.BankAcct}}&emsp;{{BankItem.CardName}}</span>
                {{$t('lang.WITHDRAWAL_REPLACE_CARD')}}？
              </p>
              <div class="row">
                <a
                  class="btn btn-gold"
                  href="javascript:void(0);"
                  @click="ConfirmReplaceCard()"
                  v-html="$t('lang.BUTTON_SURE')"
                ></a>
                <a
                  v-on:click="WebCloseMessage()"
                  class="btn btn-gray"
                  v-html="$t('lang.BUTTON_CANCEL')"
                ></a>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    BankItem: {
      type: Object,
      default: function() {
        return {};
      }
    },
    BankItemIndex: undefined
  },
  created: function() {
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //添加银行卡
      $('#askIfReplaceCard').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#askIfReplaceCard .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    ConfirmReplaceCard: function() {
      this.WebCloseMessage();
      this.$parent.ConfirmReplaceCard(this.BankItemIndex);
    },
    WebCloseMessage: function() {
      $('#askIfReplaceCard').modal('hide');
      // $('#withdrawalModal').css({
      //   'overflow-x': 'hidden',
      //   'overflow-y': 'auto'
      // });
    }
  }
};
</script>

