<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="ChangeAcct"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_CHOOSE_ACCOUNT')}}</h4>
          </div>
          <div class="modal-body">
            <form class="withdrawal-form">
              <div class="row">
                <a
                  class="btn btn-gold btn-light-gold"
                  @click="BindaddCard()"
                >{{$t('lang.WITHDRAWAL_BANK_ACCT_INFO')}}</a>
                <a
                  class="btn btn-gold btn-light-gold"
                  @click="BindaddCurrencyAcct()"
                >{{$t('lang.WITHDRAWAL_VIRTUAL_ACCT_INFO')}}</a>
                <a class="btn btn-gray" @click="bindClose()">{{$t('lang.WINDOWS_CANCEL')}}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    BindaddCard: function() {
      this.$parent.BindaddCard();
    },
    BindaddCurrencyAcct: function() {
      this.$parent.BindaddCurrencyAcct();
    },
    //关闭洗码量弹窗
    bindClose: function() {
      $('#ChangeAcct').modal('hide');
    }
  }
};
</script>