<template>
  <!-- 洗码量详情弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="codeModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_ACTIVITY_LIST')}}</h4>
          </div>
          <div class="modal-body">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <td>{{$t('lang.WITHDRAWAL_SERIAL_NUMBER')}}</td>
                  <td>{{$t('lang.WITHDRAWAL_ACTIVITY')}}</td>
                  <td>{{$t('lang.WITHDRAWAL_TIME')}}</td>
                  <td>{{$t('lang.WITHDRAWAL_DEPOSIT')}}</td>
                  <td>{{$t('lang.WITHDRAWAL_WASH_CODE')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(Item, index) in DepositHistoryData.ActivityLogList">
                  <td>{{index + 1}}</td>
                  <td>{{Item.ActivityName | simpleContent(6)}}</td>
                  <td>{{Item.UpdateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
                  <td>{{Item.VDepositAmt}}</td>
                  <td>{{Item.RakeAmt}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>{{$t('lang.WITHDRAWAL_TOTAL')}}</td>
                  <td>&ensp;</td>
                  <td>&ensp;</td>
                  <td>{{DepositHistoryData.VTotalDepositAmt}}</td>
                  <td>{{DepositHistoryData.TotalTargetRakeAmount}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <div
        class="modal-footer-close"
        v-on:click="bindClose()"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close4.png)'}"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    DepositHistoryData: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {};
  },
  mounted: function() {},
  methods: {
    //关闭洗码量弹窗
    bindClose: function() {
      $('#codeModal').modal('hide');
      // $('#withdrawalModal').modal('show');
    }
  }
};
</script>

