<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="confirmCardInfo"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_DOUBLE_CONFIRM')}}</h4>
          </div>
          <div class="modal-body">
            <section class="info-content">
              <h5 class="info-title">{{$t('lang.WITHDRAWAL_PLEASE_DOUBLE_CONFIRM')}}</h5>
              <ul class="info-list">
                <li>
                  <label>{{$t('lang.WITHDRAWAL_USER_NAME')}}:</label>
                  <span>{{Card.CardName}}</span>
                </li>
                <li>
                  <label>{{$t('lang.WITHDRAWAL_BANK_NUMBER')}}:</label>
                  <span>{{Card.BankAcct}}</span>
                </li>
                <li>
                  <label>{{$t('lang.WITHDRAWAL_BANK_NAME')}}:</label>
                  <span>{{Card.BankName}}</span>
                </li>
                <li>
                  <label>{{$t('lang.DEPOSIT_BANK_INFO')}}:</label>
                  <span>{{Card.BranchName}}</span>
                </li>
              </ul>
              <span class="info-tip">{{$t('lang.WITHDRAWAL_CANNOT_EDIT')}}</span>
            </section>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" @click="BindClose()" v-html="$t('lang.BUTTON_CANCEL')"></a>
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="ConfirmSubmitCardInfo()"
              v-html="$t('lang.BUTTON_SURE')"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            ></a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    Card: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  created: function() {
    this.$nextTick(function() {
      this.ModalHeight();
    });
  },
  methods: {
    //弹窗高度
    ModalHeight: function() {
      //添加银行卡
      $('#confirmCardInfo').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#confirmCardInfo .modal-dialog').height() / 2;
        ModalHeight = ModalHeight < 20 ? 20 : ModalHeight;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    BindClose: function() {
      $('#confirmCardInfo').modal('hide');
    },
    ConfirmSubmitCardInfo: function() {
      this.BindClose();
      this.$parent.UpdateBankData();
    }
  }
};
</script>

