<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade orderSuccess"
      id="OrderSuccess"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
      style="z-index:2000"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_ORDER_SUCCESS3')}}</h4>
          </div>
          <div class="modal-body">
            <p>
              {{$t('lang.WITHDRAWAL_ORDER_SUCCESS1')}}{{OrderNum}},{{$t('lang.WITHDRAWAL_ORDER_SUCCESS2')}}
              <router-link
                class="color-red"
                :to="{name: 'memberErawMoneyList'}"
              >{{$t('lang.MEMBER_DRAW_MONEY_LIST')}}</router-link>
            </p>
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-gold"
              href="javascript:void(0);"
              @click="WebCloseMessage()"
              v-html="$t('lang.BUTTON_SURE')"
            ></a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    OrderNum: ''
  },
  methods: {
    WebCloseMessage: function() {
      this.$parent.GetWithdrawData();
      $('#OrderSuccess').modal('hide');
    }
  }
};
</script>

<style lang="less" scoped>
.orderSuccess {
  .btn-gold {
    margin-left: 1%;
    border-top: 0;
    margin-bottom: 0;
  }
  .modal-body {
    p {
      word-break: break-all;
      font-size: 0.85rem;
    }
    a {
      display: inline;
    }
  }
}
</style>