<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="pswModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <!-- 取款密码错误后弹出账户锁定 -->
          <div id="pwdErrorForm">
            <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
              <h4 class="modal-title">{{$t('lang.PASSWORD_ACCOUNT_LOCKOUT')}}</h4>
            </div>
            <div class="modal-body">
              <p class="color-red">
                {{$t('lang.WITHDRAWAL_PASSWORD_LOCKOUT1')}}
                <br />
                {{$t('lang.WITHDRAWAL_PASSWORD_LOCKOUT2')}}
              </p>
              <a v-on:click="bindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted: function() {},
  methods: {
    //关闭取款密码
    bindClose: function() {
      $('#pswModal').modal('hide');
    }
  }
};
</script>

