<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="pswModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <!-- 取款密码彈窗 -->
        <div class="modal-content modal-theme-black">
          <div id="withdrawPwdForm">
            <div
              class="modal-header"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
            >
              <h4 class="modal-title">{{$t('lang.WITHDRAWAL_PASSWORD')}}</h4>
            </div>
            <div class="modal-body">
              <form class="withdrawal-form">
                <div class="row top-line">
                  <input
                    type="password"
                    class="form-control"
                    :placeholder="$t('lang.WITHDRAWAL_ENTER_PASSWORD')"
                    name="WithdrawApplyWithdrawPwd"
                    v-model="WithdrawData.WithdrawPwd"
                    v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                    @focus="$VueUtils.SetFooterBar('hide')"
                    @blur="$VueUtils.SetFooterBar('show')"
                  />
                  <em
                    @click="WithdrawData.WithdrawPwd = ''"
                    class="icon-input-clean"
                    :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png)'}"
                  ></em>
                  <p
                    class="error-tip"
                    v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
                  >{{$t('lang.WITHDRAWAL_ENTER_PASSWORD_TIP')}}</p>
                  <p
                    class="error-tip"
                    v-show="CurrentWithdrawPwdErrCnt>0"
                  >*{{$t('lang.WITHDRAWAL_PASSWORD_ERROR1')}}{{CurrentWithdrawPwdErrCnt}}{{$t('lang.WITHDRAWAL_PASSWORD_ERROR2')}}</p>
                  <p class="warn-tip">{{$t('lang.WITHDRAWAL_PASSWORD_WARM')}}</p>
                </div>
                <div class="row">
                  <a
                    v-on:click="SubmitWithdraw()"
                    class="btn btn-gold"
                    v-html="$t('lang.BUTTON_SUBMIT')"
                  ></a>
                  <a
                    v-on:click="bindClose()"
                    class="btn btn-gray"
                    v-html="$t('lang.BUTTON_CANCEL')"
                  ></a>
                </div>
              </form>
            </div>
          </div>
          <!-- 取款密码错误后弹出账户锁定 -->
          <div id="pwdErrorForm" class="hide">
            <div
              class="modal-header"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
            >
              <h4 class="modal-title">{{$t('lang.PASSWORD_ACCOUNT_LOCKOUT')}}</h4>
            </div>
            <div class="modal-body">
              <p class="color-red">
                {{$t('lang.WITHDRAWAL_PASSWORD_LOCKOUT1')}}
                <br />
                {{$t('lang.WITHDRAWAL_PASSWORD_LOCKOUT2')}}
              </p>
              <a v-on:click="bindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  props: {
    ApplyAmount: undefined,
    PostWithdrawData: undefined,
    BankID: null
  },
  data() {
    return {
      CommUtility: CommUtility,
      Reg: Regex.Regex,
      ProcessingFlag: false,
      InitialFormData: undefined,
      WithdrawData: {
        WithdrawPwd: ''
      },
      CurrentWithdrawPwdErrCnt: undefined
    };
  },
  created: function() {
    this.Load();
    this.InitialFormData = Vue.util.extend({}, this.WithdrawData);
    const self = this;
    EventBus.$on('withdrawalPwdWindowTrigger', function(PwdErrCnt) {
      if (self.CurrentWithdrawPwdErrCnt === undefined) {
        self.CurrentWithdrawPwdErrCnt = PwdErrCnt;
      }
      self.TriggerPwdWindow();
    });
    // 监听密码错误次数改变 2019.12.13 ququ
    EventBus.$on('CurrentWithdrawPwdErrCntChange', function(PwdErrCnt) {
      self.CurrentWithdrawPwdErrCnt = PwdErrCnt;
    });
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('withdrawPwdForm', this.SubmitWithdraw);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    //关闭取款密码
    bindClose: function() {
      this.$parent.ResetForm();
      $('#pswModal').modal('hide');
      $('#withdrawalModal').modal('show');
    },
    // 取款密碼彈窗
    TriggerPwdWindow: function() {
      if (this.CurrentWithdrawPwdErrCnt >= 3) {
        $('#pwdErrorForm').show();
        $('#withdrawPwdForm').hide();
      } else {
        this.ResetPwdForm();
        $('#withdrawPwdForm').show();
        $('#pwdErrorForm').hide();
      }
    },
    // 發送取款申請
    SubmitWithdraw: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;
      this.WithdrawData.Amt = this.ApplyAmount;
      this.WithdrawData.WithdrawMode = parseInt(this.PostWithdrawData);

      // 新增参数银行卡ID 2019.10.23 ququ
      if (this.WithdrawData.WithdrawMode == 1) {
        this.WithdrawData.BankID = this.BankID;
      }

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_Add(
        this.WithdrawData
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;

      const notifyData = {
        NotifyMessage: data.Message
      };

      if (data.Ret !== 0) {
        // 取款密碼錯誤
        if (data.Ret == BLDef.ErrorRetType.COMM_PWD_CONFIRM_FAIL) {
          this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt;
          if (data.Data.PwdErrCnt >= 3) {
            this.ResetPwdForm();
            $('#withdrawPwdForm').hide();
            $('#pwdErrorForm').show();
          }
        } else {
          // 其他錯誤
          this.ResetPwdForm();
          $('#withdrawPwdForm').hide();
          EventBus.$emit('showNotifyMessage', notifyData);
          this.$parent.ResetForm();
          $('#pswModal').modal('hide');
        }
      } else {
        // 成功
        this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt; // 更新密码错误次数 2019.12.13 ququ
        // 更新余额 2019.04.29 LMX
        EventBus.$emit('UpdateBalance');
        this.ResetPwdForm();
        $('#withdrawPwdForm').hide();
        notifyData.NotifyMessage = this.$t('lang.WITHDRAWAL_SUCCESS');
        EventBus.$emit('showNotifyMessage', notifyData);
        this.$parent.ResetForm();
        $('#pswModal').modal('hide');
      }
    },
    // 重置取款密碼表單
    ResetPwdForm: function() {
      this.WithdrawData = Vue.util.extend({}, this.InitialFormData);
      this.$validator.reset();
    }
  },
  beforeDestroy() {
    EventBus.$off('withdrawalPwdWindowTrigger');
  }
};
</script>

