<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="verifyCardModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_ENTER_BANK_CARD')}}</h4>
          </div>
          <div class="modal-body">
            <form class="addcard-form">
              <div class="row input-group">
                <label>{{$t('lang.WITHDRAWAL_BANK_NUMBER')}}</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="VerifyBankNo"
                  :placeholder="$t('lang.WITHDRAWAL_ENTER_NUMBER')"
                  @focus=" $VueUtils.SetFooterBar('hide')"
                  @blur="$VueUtils.SetFooterBar('show')"
                />
              </div>
              <!-- 银行卡号 -->
              <p
                class="error-tip"
                v-if="errors.has('BankAcct') && fields.BankAcct.touched"
              >{{$t('lang.WITHDRAWAL_NUMBER_TIP')}}</p>
              <div class="row">
                <a
                  v-if="InputReadOnly !== true"
                  v-on:click="OpenAddBankCard()"
                  class="btn btn-gold"
                  v-html="$t('lang.BUTTON_BIND')"
                ></a>
                <a v-on:click="BindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  props: {
    BankList: {
      type: Array,
      default: function() {
        return [];
      }
    }
  },
  data() {
    return {
      VerifyBankNo: ''
    };
  },
  created: function() {
    this.Load();
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
        CommUtility.ToScrollTop();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      //添加银行卡
      $('#verifyCardModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#verifyCardModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    OpenAddBankCard: function() {
      console.log(this.VerifyBankNo);
      let verifyFlag = false;
      for (let i = 0; i < this.BankList.length; i++) {
        if (this.VerifyBankNo === this.BankList[i].BankAcctVerify) {
          verifyFlag = true;
        }
      }
      if (verifyFlag) {
        this.ResetForm();
        $('#verifyCardModal').modal('hide');
        $('#addCardModal').modal('show');
      } else {
        const notifyData = {
          NotifyMessage: this.$t('lang.WITHDRAWAL_ERROR_ENTER')
        };
        EventBus.$emit('showWarnTip', notifyData);
      }
    },
    ResetForm: function() {
      this.VerifyBankNo = '';
    },
    BindClose: function() {
      this.ResetForm();
      $('#verifyCardModal').modal('hide');
      // $('#withdrawalModal').modal('show');
    }
  }
};
</script>