<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="withdrawalModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_TITLE')}}</h4>
          </div>
          <div class="modal-body">
            <form class="withdrawal-form">
              <div class="cord-section">
                <a
                  class="btn btn-purple"
                  data-toggle="modal"
                  data-target="#codeModal"
                >{{$t('lang.WITHDRAWAL_DETAIL')}}</a>
                <div class="row">
                  <label>
                    {{$t('lang.WITHDRAWAL_WASH_TARGET')}}：
                    <i
                      class="color-success"
                    >{{RakeData.TargetRake}}</i>
                  </label>
                </div>
                <div class="row">
                  <label>
                    {{$t('lang.WITHDRAWAL_WASH_NOW')}}：
                    <i
                      v-if="RakeData.IsRakeReached===false"
                      class="color-orange"
                    >{{RakeData.CurrRake}}【{{$t('lang.WITHDRAWAL_NOT_DONE')}}】</i>
                    <i v-else class="color-orange">{{RakeData.CurrRake}}</i>
                  </label>
                </div>
                <div class="row">
                  <p
                    v-if="RakeData.IsRakeReached===false"
                    class="error-tip"
                  >({{$t('lang.WITHDRAWAL_NOT_DONE_TIP1')}}{{RakeData.VAdminFeeRatio}}{{$t('lang.WITHDRAWAL_NOT_DONE_TIP2')}})</p>
                </div>
              </div>
              <div class="card-list" v-if="WithdrawData.IsBankInfoSet===true">
                <ul>
                  <!-- <li
                    v-for="(item,index) in this.WithdrawData.AcctList"
                    :key="index"
                    v-if="item.Value == '1' && item.Key == 'true'"
                    :class="PostWithdrawData == item.Value ? 'active':''"
                    @click="SelectPayType(item.Value, item.Key)"
                  >
                    {{BankData.BankName}}&emsp;{{BankData.BankAcct1}}&emsp;{{BankData.CardName}}
                    <em
                      class="icon-slider-active"
                    ></em>
                  </li>-->
                  <li
                    v-for="(item,index) in BankList"
                    :key="index"
                    v-show="BankList.length>0"
                    :class="PostWithdrawData == item.Value && CardIndex === index ? 'active':''"
                    @click="SelectPayType(item, index)"
                  >
                    {{item.BankName}}&emsp;{{item.BankAcct}}&emsp;{{item.CardName}}
                    <em
                      class="icon-slider-active"
                      :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"
                    ></em>
                  </li>
                  <!-- <li
                    v-for="(item,index) in this.WithdrawData.AcctList"
                    :key="index"
                    v-if="item.Value == '3' && item.Key == 'true'"
                    :class="PostWithdrawData == item.Value ? 'active':''"
                    @click="SelectPayType(item)"
                  >
                    {{CurrencyFormInfoData.ReceiptAddress}}
                    <em class="icon-slider-active"></em>
                  </li>-->
                </ul>
              </div>
              <div class="row">
                <div>
                  <a
                    v-if="BankList.length < 5"
                    class="btn btn-gold btn-light-gold"
                    @click="BindaddCard()"
                  >{{$t('lang.WITHDRAWAL_ADD_BANK_ACCOUNT')}}</a>
                  <!-- <a
                    v-if="item.Value == '3' && item.Key == 'false'"
                    v-for="(item,index) in this.WithdrawData.AcctList"
                    :key="index"
                    class="btn btn-gold btn-light-gold"
                    @click="BindaddCurrencyAcct()"
                  >{{$t('lang.WITHDRAWAL_ADD_VIRTUAL_ACCOUNT')}}</a>-->
                </div>

                <!-- <a v-if="BankData.BankName == ''&& this.WithdrawData.AcctList && this.WithdrawData.AcctList[0].Key == 'false'" class="btn btn-gold btn-light-gold" @click="BindaddCard()">新增银行卡账户</a>
                <a v-if="CurrencyFormInfoData.ReceiptAddress == ''&& this.WithdrawData.AcctList && this.WithdrawData.AcctList[1].Key == 'false'" class="btn btn-gold btn-light-gold" @click="BindaddCurrencyAcct()">新增虚拟货币账户</a>-->
                <!-- <a v-if="WithdrawData.IsBankInfoSet===true && BankData.BankName != ''" class="btn btn-gold btn-light-gold" @click="BindaddCard()">修改账户信息</a> -->
                <!-- <a
                  v-if="CurrencyFormInfoData.ReceiptAddress != ''"
                  class="btn btn-gold btn-light-gold"
                  @click="ChangeAcctInfo()"
                >{{$t('lang.WITHDRAWAL_CHANGE_VIRTUAL')}}</a>-->
              </div>
              <div id="PersonalWithdrawForm" name="PersonalWithdrawForm">
                <!-- 完善银行信息 -->
                <div v-if="!WithdrawData.IsBankInfoSet || WithdrawData.IsBankInfoSet === false">
                  <a class="btn btn-gray" data-dismiss="modal" v-html="$t('lang.BUTTON_CANCEL')"></a>
                  <p class="error-tip">{{$t('lang.WITHDRAWAL_NOT_ACCOUNT_TIP')}}</p>
                </div>

                <!-- 取款申请 -->
                <div v-if="WithdrawData.IsBankInfoSet===true">
                  <div class="row top-line">
                    <input
                      type="text"
                      class="form-control"
                      name="WithdrawApplyAmt"
                      :placeholder="$t('lang.DEPOSIT_EVERY_MIN') + RealVMinLimit + ','+$t('lang.DEPOSIT_EVERY_MAX') + RealVMaxLimit"
                      v-model="ApplyAmount"
                      v-validate="{ rules: { regex:Reg.MoneyAmount, between:[RealMinLimit, RealMaxLimit] , required: true }}"
                      @focus=" $VueUtils.SetFooterBar('hide')"
                      @blur="$VueUtils.SetFooterBar('show')"
                    />
                    <p
                      class="error-tip"
                      v-show="errors.has('WithdrawApplyAmt') && fields.WithdrawApplyAmt.touched"
                    >{{$t('lang.DEPOSIT_ONLINE_AMOUNT')}}{{RealVMinLimit}}-{{RealVMaxLimit}}</p>
                    <!--<input id="amount1" type="text" class="form-control" placeholder="请输入金额" />-->
                    <em
                      @click="ApplyAmount = ''"
                      class="icon-input-clean"
                      :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png)'}"
                    ></em>
                  </div>
                  <div class="row">
                    <a
                      class="btn btn-gold"
                      @click="WithdrawNextStep();"
                      v-html="$t('lang.BUTTON_SUBMIT')"
                    ></a>
                    <a
                      class="btn btn-gray"
                      v-on:click="bindClose()"
                      v-html="$t('lang.BUTTON_CANCEL')"
                    ></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <!--<div class="modal-footer-close" data-dismiss="modal" ></div>-->
    </div>
    <!-- 修改账户信息 -->
    <change-acct></change-acct>

    <!-- 输入取款密码 -->
    <psw-modal
      :ApplyAmount="this.ApplyAmount"
      :PostWithdrawData="this.PostWithdrawData"
      :BankID="BankID"
    ></psw-modal>

    <!-- 洗码量详情 -->
    <code-modal :DepositHistoryData="this.DepositHistoryData"></code-modal>

    <!-- 验证银行卡弹窗 -->
    <verify-card-modal v-if="BankList.length < 5 && BankList.length > 0" :BankList="BankList"></verify-card-modal>

    <!-- 添加银行卡弹窗 -->
    <add-card-modal v-if="BankList.length < 5" :FirstAddBankCard="FirstAddBankCard"></add-card-modal>

    <!-- 询问是否更换银行卡弹窗 -->
    <ask-if-replace-card :BankItem="BankItem" :BankItemIndex="BankItemIndex"></ask-if-replace-card>

    <!-- 添加虚拟货币账户弹窗 -->
    <add-virtual-currency-modal
      :CurrencyFormInfo="this.CurrencyFormInfo"
      v-if="this.CurrencyFormInfo"
    ></add-virtual-currency-modal>

    <!-- 设置取款密码弹窗 -->
    <withdrawal-psw-modal></withdrawal-psw-modal>
  </div>
</template>

<script>
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import pswModal from '@/components/mobile/sub/recharge/pswModal_old';
import changeAcct from '@/components/mobile/sub/recharge/changeAcct';
import codeModal from '@/components/mobile/sub/recharge/codeModal';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import verifyCardModal from '@/components/mobile/sub/recharge/verifyCardModal';
import addCardModal from '@/components/mobile/sub/recharge/addCardModal';
import askIfReplaceCard from '@/components/mobile/sub/recharge/askIfReplaceCard';
import addVirtualCurrencyModal from '@/components/mobile/sub/recharge/addVirtualCurrencyModal';
import withdrawalPswModal from '@/components/mobile/sub/recharge/withdrawalPswModal';

export default {
  data() {
    return {
      RakeData: {},
      DepositHistoryData: {},
      WithdrawData: {},
      Reg: Regex.Regex,
      ApplyAmount: undefined,
      RealMinLimit: undefined,
      RealVMinLimit: undefined,
      RealMaxLimit: undefined,
      RealVMaxLimit: undefined,
      BankInfo: undefined,
      CurrencyFormInfo: undefined, //虚拟货币账户信息
      BankData: {
        //银行卡信息
        CardName: '',
        BankName: '',
        BranchName: '',
        BankAcct: '',
        Province: {},
        Town: {},
        Dist: {}
      },
      CurrencyFormInfoData: {
        ReceiptAddress: ''
      },
      PostWithdrawData: 1,
      BankItem: {}, // 点击的银行卡
      BankItemIndex: 0, // 点击的银行卡序号
      CardIndex: 0, // 默认的银行卡，取后端返回列表中的第一个，每次取款成功后后端置顶取款成功的银行卡账号并返回在列表的第一条  2019.10.23 ququ
      BankList: [], // 银行卡列表 2019.10.22 ququ
      FirstAddBankCard: true
    };
  },
  created: function() {
    console.log('--------------created---------------');
    this.Load();
    this.LoadRakeData();
    this.GetWithdrawData();
    this.getBankInfo();
    this.getCurrencyFormInfo(); // 获取虚拟货币账户信息

    // 更新银行卡信息
    // EventBus.$on('UpdateBankData', data => {
    //   this.GetWithdrawData();
    //   this.getBankInfo();
    // });

    // 更新虚拟货币账户信息
    EventBus.$on('UpdateCurrencyFormData', data => {
      this.GetWithdrawData();
      this.getCurrencyFormInfo();
    });
  },
  mounted: function() {
    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('.modal').css({ position: 'absolute' });
    }
    CommUtility.BindEnterTrigger('PersonalWithdrawForm', this.WithdrawNextStep);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      $('#pswModal').on('show.bs.modal', function() {
        $('#withdrawalModal').modal('hide');
        $(this).css('display', 'block');
      });
      //设置取款密码
      $('#withdrawalPswModal').on('show.bs.modal', function() {
        $('#withdrawalModal').modal('hide');
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#withdrawalPswModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      //洗码量详情
      $('#codeModal').on('show.bs.modal', function() {
        $('#withdrawalModal').modal('hide');
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#codeModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
      // 修改账户信息
      $('#ChangeAcct').on('show.bs.modal', function() {
        $('#withdrawalModal').modal('hide');
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 - $('#ChangeAcct .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 載入洗碼量資料
    LoadRakeData: async function() {
      const inputObj = {
        WGUID: Vue.prototype.$WGUID,
        PagingInfo: {
          PageNo: -1,
          PageSize: -1
        }
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_GetRakeAmtInfo(
        inputObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Ret === 0) {
        this.RakeData = data.Data;
        this.DepositHistoryData = this.RakeData;
        this.DepositHistoryData.ActivityLogList = this.RakeData.ActivityLogList.reverse(); // 倒序 2019.04.03 SeyoChen
      }
    },
    GetWithdrawData: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('------------------------WithdrawData----------------');
      console.log(data);
      if (data.Ret === 0) {
        this.WithdrawData = data.Data;
        this.RealMinLimit = this.WithdrawData.MinLimitAmt;
        this.RealVMinLimit = this.WithdrawData.VMinLimitAmt;
        // 更新取款密码错误次数 2019.12.13 ququ
        EventBus.$emit(
          'CurrentWithdrawPwdErrCntChange',
          this.WithdrawData.WithdrawPwdErrCnt
        );
        if (
          this.WithdrawData.CurrBalance < this.WithdrawData.MaxLimitAmt &&
          this.WithdrawData.CurrBalance > this.WithdrawData.MinLimitAmt
        ) {
          this.RealMaxLimit = this.WithdrawData.CurrBalance;
          this.RealVMaxLimit = this.WithdrawData.VCurrBalance;
        } else {
          this.RealMaxLimit = this.WithdrawData.MaxLimitAmt;
          this.RealVMaxLimit = this.WithdrawData.VMaxLimitAmt;
        }
        // 默认选择 已完善资料的取款方式
        for (let i = 0; i < this.WithdrawData.AcctList.length; i++) {
          if (this.WithdrawData.AcctList[i].Key == 'true') {
            this.PostWithdrawData = this.WithdrawData.AcctList[i].Value;
            this.CardIndex = 0;
            return;
          }
        }
      }
    },
    // 選擇支付方式
    SelectPayType: function(item, index) {
      // 2019.04.18 SeyoChen 1. 银行入款 2: 虚拟货币
      // 判断是切换银行卡或者切换支付方式 2019.10.23 ququ
      if (
        this.PostWithdrawData == item.Value &&
        item.Value == 1 &&
        this.BankItemIndex != index
      ) {
        // 切换银行卡则弹窗询问
        this.BankItemIndex = index;
        this.BankItem = item;
        $('#askIfReplaceCard').modal('show');
      } else {
        this.PostWithdrawData = item.Value;
        if (this.PostWithdrawData == 1) {
          // 切换银行卡则弹窗询问
          this.BankItemIndex = index;
          this.BankItem = item;
          $('#askIfReplaceCard').modal('show');
        }
      }
    },
    // 更换银行卡选中状态 2019.10.23 ququ
    ConfirmReplaceCard: function(index) {
      this.BankID = this.BankItem.ID;
      this.CardIndex = index;
    },
    //提现
    WithdrawNextStep: async function() {
      // 判断是否已选择取款方式
      if (this.PostWithdrawData == undefined) {
        const notifyData = {
          NotifyMessage: this.$t('lang.WITHDRAWAL_WAY_CHOOSE')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }

      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      $('#pswModal').modal('show');
      EventBus.$emit(
        'withdrawalPwdWindowTrigger',
        this.WithdrawData.WithdrawPwdErrCnt
      );
    },
    // 获取银行卡信息 / 省市级
    getBankInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      // 获取银行卡接口增加参数：IsBankList （0取款列表  1银行卡列表） 2019.12.17 ququ
      const dataObj = {
        IsBankList: 0
      };
      const data = await PersonalCenterService.BankInfo_LoadMainPage(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('=========================BankInfo_LoadMainPage');
      console.log(data);
      // 银行卡列表显示五张 2019.10.22 ququ
      if (data.Data && data.Ret === 0) {
        if (data.Data.BankAcctList && data.Data.BankAcctList.length > 0) {
          this.BankList = data.Data.BankAcctList;
          this.BankID = this.BankList[0].ID;
          for (let index = 0; index < this.BankList.length; index++) {
            this.BankList[index].Value = 1;
            // this.BankList[index].BankAcct1 = this.BankList[
            //   index
            // ].BankAcct.replace(this.Reg.RegBankAcct, '$1****$2');
          }
        }
      }
      console.log('=========================BankList');
      console.log(this.BankList);
      // 银行卡列表显示五张 2019.10.22 ququ end
      // 银行卡信息
      // if (this.BankInfo.Data) {
      //   this.BankData = Vue.util.extend({}, this.BankInfo.Data.BankAcct);
      //   this.BankData.BankAcct1 = this.BankData.BankAcct.replace(
      //     this.Reg.RegBankAcct,
      //     '$1****$2'
      //   );
      // }
      // console.log('++++++++++++++++++++++++++++++++BankData');
      // console.log(this.BankData);
    },
    // 获取虚拟货币账户信息
    getCurrencyFormInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      this.CurrencyFormInfo = await PersonalCenterService.MemberCurrencyMerchant_LoadMainPage();
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (this.CurrencyFormInfo.Ret === 0) {
        this.CurrencyFormInfoData = Vue.util.extend(
          {},
          this.CurrencyFormInfo.Data.VirtualAcct
        );
      }
      console.log('++++++++++++++++++++++++++++++++CurrencyFormInfo');
      console.log(this.CurrencyFormInfo);
    },
    //添加银行卡
    BindaddCard: function() {
      console.log('=================verifyCardModal');
      let WXobj = null;
      if (localStorage.getItem('WXobj')) {
        WXobj = JSON.parse(localStorage.getItem('WXobj'));
        if (WXobj && WXobj.Name) {
          //是否微信登录
          if (WXobj.BankCardAdded) {
            //已设置取款密码
            $('#verifyCardModal').modal('show');
          } else {
            //未设置取款密码
            $('#verifyCardModal').modal('show');
          }
        } else {
          //账号登录已设置取款密码，打开添加银行卡
          $('#verifyCardModal').modal('show');
        }
      } else {
        if (this.BankList.length > 0) {
          this.FirstAddBankCard = false;
          $('#verifyCardModal').modal('show');
        } else {
          this.FirstAddBankCard = true;
          $('#addCardModal').modal('show');
        }
      }
      this.bindClose();
    },
    //添加虚拟货币账户
    BindaddCurrencyAcct: function() {
      let WXobj = null;
      if (localStorage.getItem('WXobj')) {
        WXobj = JSON.parse(localStorage.getItem('WXobj'));
        if (WXobj && WXobj.Name) {
          //是否微信登录
          if (WXobj.BankCardAdded) {
            //已设置取款密码
            $('#currencyForm').modal('show');
          } else {
            //未设置取款密码
            $('#withdrawalPswModal').modal('show');
          }
        } else {
          //账号登录已设置取款密码，打开添加银行卡
          $('#currencyForm').modal('show');
        }
      } else {
        $('#currencyForm').modal('show');
      }
      this.bindClose();
    },
    // 修改账户信息
    ChangeAcctInfo: function() {
      if (this.CurrencyFormInfoData.ReceiptAddress != '') {
        this.BindaddCurrencyAcct();
      }
    },
    // 清除畫面驗證與資料
    ResetForm: function() {
      this.ApplyAmount = '';
      this.$validator.reset();
    },
    //关闭取款密码
    bindClose: function() {
      this.ResetForm();
      $('#withdrawalModal').modal('hide');
    }
  },
  components: {
    pswModal,
    changeAcct,
    codeModal,
    verifyCardModal,
    addCardModal,
    askIfReplaceCard,
    withdrawalPswModal,
    addVirtualCurrencyModal
  },
  beforeDestroy() {
    EventBus.$off('UpdateBankData');
    EventBus.$off('UpdateCurrencyFormData');
  }
};
</script>

