<template>
  <!-- 充值弹窗 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="withdrawalPswModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <!-- 取款密码彈窗 -->
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.WITHDRAWAL_PASSWORD_SET')}}</h4>
          </div>
          <div class="modal-body">
            <form class="withdrawal-form">
              <!--<h5><em class="icon-success1"></em>绑定成功</h5>-->
              <!--<p class="warn-tip">恭喜，您的银行卡绑定成功，为了您的资金安全 请设置取款密码并妥善保管好取款密码!</p>-->
              <p class="warn-tip">{{$t('lang.WITHDRAWAL_PASSWORD_TIP')}}</p>
              <div class="row">
                <input
                  type="password"
                  name="NewPassword"
                  class="form-control"
                  v-model="PasswordObj.NewPassword"
                  v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                  :placeholder="$t('lang.WITHDRAWAL_ENTER_PASSWORD')"
                  @focus="$VueUtils.SetFooterBar('hide')"
                  @blur="$VueUtils.SetFooterBar('show')"
                />
                <em
                  @click="PasswordObj.NewPassword = ''"
                  class="icon-input-clean"
                  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png)'}"
                ></em>
              </div>
              <div class="row">
                <input
                  type="password"
                  name="ConfirmPassword"
                  class="form-control"
                  v-model="PasswordObj.ConfirmPassword"
                  v-validate="{'required': 'true', 'is': PasswordObj.NewPassword}"
                  data-vv-name="ConfirmPassword"
                  :placeholder="$t('lang.WITHDRAWAL_CONFIRM_PASSWORD')"
                  @focus="$VueUtils.SetFooterBar('hide')"
                  @blur="$VueUtils.SetFooterBar('show')"
                />
                <em
                  @click="PasswordObj.ConfirmPassword = ''"
                  class="icon-input-clean"
                  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_close.png)'}"
                ></em>
                <p
                  class="error-tip"
                  v-show="errors.has('NewPassword') && fields.NewPassword.touched"
                >{{$t('lang.WITHDRAWAL_ENTER_PASSWORD_TIP')}}</p>
                <p
                  class="error-tip"
                  v-if="(errors.has('ConfirmPassword') && fields.ConfirmPassword.touched)"
                >* {{$t('lang.WITHDRAWAL_PASSWORD_NOT_MATCH')}}</p>
              </div>
              <div class="row">
                <a
                  v-on:click="SubmitWithdraw()"
                  class="btn btn-gold"
                  v-html="$t('lang.BUTTON_SUBMIT')"
                ></a>
                <a v-on:click="bindClose()" class="btn btn-gray" v-html="$t('lang.BUTTON_CANCEL')"></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import BLDef from 'scripts/common/BLDef';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  props: {
    ApplyAmount: undefined
  },
  data() {
    return {
      Reg: Regex.Regex,
      PasswordObj: {}
    };
  },
  created: function() {
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 送出设置取款密碼
    SubmitWithdraw: async function() {
      EventBus.$emit('showNotifyMessage', {
        NotifyMessage: this.$t('lang.WITHDRAWAL_OPERATION_FAIL')
      });
      return;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false || this.DropDownInvalid === true) {
        return;
      }
      const inputObj = {
        CPType: 4,
        ChangePwdInfo: {
          OriginPwd: '',
          NewPwd: this.PasswordObj.NewPassword,
          ConfirmNewPwd: this.PasswordObj.ConfirmPassword
        }
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.ChangePassword_Mod(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret === 0) {
        notifyData.CloseFunction = this.ResetPwdForm;
        EventBus.$emit('SHOW_TIP', notifyData.NotifyMessage); //修改成功提示
        $('#withdrawalPswModal').modal('hide');
        $('#withdrawalModal').modal('show');
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    // 清除畫面驗證與資料
    ResetPwdForm: function() {
      this.PasswordObj = {};
      this.$validator.reset();
    },
    //关闭取款密码
    bindClose: function() {
      this.ResetPwdForm();
      $('#withdrawalPswModal').modal('hide');
      // $('#withdrawalModal').modal('show');
    }
  }
};
</script>

