<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap transfer-withdrawal-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <section class="tab-section">
        <form novalidate="novalidate" class="addcard-form">
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_ACCOUNT')}}:</label>
            <input
              type="text"
              class="form-control"
              v-model="TransData.Acct"
              :placeholder="$t('lang.TRANSFER_ENTER_USER')"
              name="Acct"
              v-validate="{ rules: { regex:Reg.Account, required: true }}"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
            <p
              class="error-tip"
              v-if="errors.has('Acct') && fields.Acct.touched"
            >* {{$t('lang.TRANSFER_USER_TIP')}}</p>
            <p class="error-tip" v-if="this.ShowTip === true">* {{$t('lang.TRANSFER_INEXISTENCE')}}</p>
          </div>
          <div class="row input-group">
            <label style="width: 26%;">{{$t('lang.TRANSFER_ABLE_AMOUNT')}}：</label>
            <label class="text">{{this.MemberBalance}}</label>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_AMOUNT')}}:</label>
            <input
              type="number"
              v-model="TransData.VAmount"
              :placeholder="$t('lang.TRANSFER_ENTER_AMOUNT')"
              name="VAmount"
              v-validate="{ rules: { regex:Reg.MoneyAmount,between:[0, 999999999999], required: true }}"
              class="form-control"
            />
            <p
              class="error-tip"
              v-if="errors.has('VAmount') && fields.VAmount.touched"
            >* {{$t('lang.TRANSFER_AMOUNT_TIP')}}</p>
            <p
              class="error-tip"
              v-if="this.TransData.VAmount > this.MemberBalance"
            >* {{$t('lang.TRANSFER_AMOUNT_OVER')}}</p>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_REMARK')}}:</label>
            <textarea
              name="Remark"
              v-model="TransData.Remark"
              v-validate="{ rules: { regex:Reg.TransferRemark }}"
              class="form-control"
              :placeholder="$t('lang.TRANSFER_ENTER_REMARK')"
            ></textarea>

            <p class="error-tip" v-if="errors.has('Remark')">* {{$t('lang.TRANSFER_REMARK_TIP')}}</p>
          </div>
          <div class="row mt-15">
            <a @click="$router.back(-1)" class="btn btn-gray">{{$t('lang.WINDOWS_CANCEL')}}</a>
            <a class="btn btn-gold" @click="Next()">{{$t('lang.WINDOWS_NEXT')}}</a>
          </div>
        </form>
      </section>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.TRANSFER_TITLE'),
      // 正則表達式
      Reg: RegEx.Regex,
      AuthorizeUserTransactionList: [],
      ShowTip: false, // 当前账号的 会员/代理 名称
      TransData: {
        Acct: '',
        VAmount: undefined,
        Remark: '',
        Password: undefined
      },
      MemberList: undefined,
      MemberBalance: 0,
      GoConfirm: false,
      PwdErrCnt: undefined
    };
  },
  activated: function() {
    this.MemberBalance = this.$store.state.transferAccount.MemberBalance;
    this.PwdErrCnt = this.$store.state.transferAccount.PwdErrCnt; // 新增取款密码错误次数 2019.12.06 ququ
    console.log('======================this.PwdErrCnt');
    console.log(this.PwdErrCnt);

    $('input[name="Acct"]').focus(() => {
      this.ShowTip = false;
    });
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 查询用户代理是否存在
    LoadAuthorizeUserList: async function() {
      if (this.TransData.Acct === '' || this.TransData.Acct === undefined) {
        return;
      }
      const MemberLoginID = {
        To_MemberLoginID: this.TransData.Acct
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await AgencyCenterService.LoadAuthorizeUserList(
        MemberLoginID
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (retData.Ret === 0) {
        this.MemberList = retData.Data.MemberList;
        if (retData.Data.MemberList.length !== 0) {
          this.ShowTip = false;
        } else {
          this.ShowTip = true;
          this.MemberList = undefined;
        }
        console.log('--------请求成功--------');
      } else {
        this.MemberList = undefined;
        console.log('--------请求失败--------');
      }
    },
    // 下一步
    Next: async function() {
      // 取款密码错误3次锁定账户 2019.12.06 ququ
      if (this.PwdErrCnt >= 3) {
        const notifyData = {
          NotifyMessage: this.$t('lang.TRANSFER_ERROR')
        };
        notifyData.CloseFunction = function() {
          history.go(-1);
        };
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }
      // 取款密码错误3次锁定账户 2019.12.06 ququ end

      if (this.TransData.VAmount > this.MemberBalance) {
        return;
      }

      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      await this.LoadAuthorizeUserList();
      if (this.ShowTip) {
        return;
      }
      this.$store.dispatch(
        'transferAccount/setAccountVal',
        this.TransData.Acct
      );
      this.$store.dispatch(
        'transferAccount/setVAmountVal',
        this.TransData.VAmount
      );
      this.$store.dispatch(
        'transferAccount/setRemarkVal',
        this.TransData.Remark
      );
      this.$store.dispatch('transferAccount/setMemberListVal', this.MemberList);
      this.GoConfirm = true;
      this.$router.push({ name: 'transferConfirm' });
    }, // end Next
    // 重置当前表单
    ResetForm: function() {
      this.ShowTip = false;
      this.TransData.Acct = '';
      this.TransData.Remark = '';
      this.TransData.VAmount = undefined;
      this.$validator.reset();
    }
  },
  components: { mainHeader },
  deactivated: function() {},
  watch: {
    $route(to, from) {
      if (to.name == 'transferAccount') {
        this.ResetForm();
      }
    }
  }
};
</script>