<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap transfer-confirm-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <section class="tab-section">
        <form novalidate="novalidate" class="addcard-form">
          <div class="transfer-confirm-top">
            <p class="money">{{VAmount}}</p>
            <span class="text">{{$t('lang.TRANSFER_AMOUNT')}}</span>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_ACCOUNT')}}:</label>
            <label class="text">{{Account}}</label>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_REMARK')}}:</label>
            <label class="text remark">{{Remark}}</label>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.TRANSFER_WALLET_PASSWORD')}}:</label>
            <input
              type="password"
              v-model="Password"
              name="MemberPsw"
              v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
              :placeholder="$t('lang.TRANSFER_ENTER_WALLET')"
              class="form-control"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />

            <p
              class="error-tip"
              v-if="errors.has('MemberPsw') && fields.MemberPsw.touched"
            >* {{$t('lang.TRANSFER_WALLET_TIP')}}</p>
            <p
              class="error-tip"
              v-show="CurrentWithdrawPwdErrCnt>0&&CurrentWithdrawPwdErrCnt<3"
            >*{{$t('lang.WITHDRAWAL_PASSWORD_ERROR1')}}{{CurrentWithdrawPwdErrCnt}}{{$t('lang.WITHDRAWAL_PASSWORD_ERROR2')}}</p>
            <p
              class="error-tip"
              v-show="CurrentWithdrawPwdErrCnt>=3"
            >*{{$t('lang.WITHDRAWAL_PASSWORD_ERROR3')}}</p>
          </div>
          <div class="row mt-15">
            <a
              class="btn btn-gold"
              @click="AuthorizeUserTransactionAdd()"
            >{{$t('lang.WINDOWS_SURE')}}</a>
          </div>
        </form>
      </section>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import { mapState } from 'vuex';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.TRANSFER_CONFIRM'),
      // 正則表達式
      Reg: RegEx.Regex,
      AuthorizeUserTransactionList: [],
      MemberList: undefined,
      Account: undefined,
      VAmount: undefined,
      Remark: '',
      Password: undefined,
      CurrentWithdrawPwdErrCnt: undefined
    };
  },
  computed: {
    PwdErrCnt() {
      // 新增取款密码错误次数 2019.12.06 ququ
      return this.$store.getters['transferAccount/getPwdErrCnt'];
    }
  },
  activated: function() {
    EventBus.$emit('GlobalLoadingTrigger', true);
    // this.TransData = JSON.parse(sessionStorage.getItem('TransData'));
    this.Load();
    this.VAmount = this.$store.state.transferAccount.VAmount;
    this.MemberList = this.$store.state.transferAccount.MemberList;
    this.Account = this.$store.state.transferAccount.Account;
    this.Remark = this.$store.state.transferAccount.Remark;
    // 检查参数是否存在，不存在返回上一页
    if (this.VAmount === undefined) {
      history.go(-1);
    }
    this.GetWithdrawData();
    EventBus.$emit('GlobalLoadingTrigger', false);
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 确认转账
    AuthorizeUserTransactionAdd: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      console.log('===============this.PwdErrCnt');
      console.log(this.PwdErrCnt);

      // 取款密码错误3次锁定账户 2019.12.06 ququ
      if (this.PwdErrCnt >= 3) {
        const notifyData = {
          NotifyMessage: this.$t('lang.PASSWORD_ERROR')
        };
        notifyData.CloseFunction = function() {
          history.go(-2);
        };
        EventBus.$emit('showWarnTip', notifyData);
        return;
      }
      // 取款密码错误3次锁定账户 2019.12.06 ququ end

      const inputData = {
        To_MemberID: undefined,
        Amount: this.VAmount,
        Remark: this.Remark,
        PassWord: this.Password
      };
      console.log(this.MemberList);
      inputData.To_MemberID = parseInt(this.MemberList[0].MemberID);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await AgencyCenterService.AuthorizeUserTransactionAdd(
        inputData
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(retData);
      const notifyData = {
        NotifyMessage: retData.Message
      };
      if (retData.Ret === 0) {
        this.$store.dispatch('transferAccount/setPwdErrCntVal', 0); // 取款成功清空取款密码错误次数 2019.12.06 ququ
        notifyData.CloseFunction = function() {
          history.go(-2);
        };
      } else if (retData.Ret === 37) {
        this.$store.dispatch(
          'transferAccount/setPwdErrCntVal',
          retData.Data.PwdErrCnt
        ); // 取款密码错误次数储存 2019.12.06 ququ
        this.CurrentWithdrawPwdErrCnt = retData.Data.PwdErrCnt;
        // // 取款密码错误3次锁定账户 2019.12.06 ququ
        if (retData.Data.PwdErrCnt >= 3) {
          const notifyData = {
            NotifyMessage: this.$t('lang.TRANSFER_CONFIRM_ERROR')
          };
          notifyData.CloseFunction = function() {
            history.go(-2);
          };
          EventBus.$emit('showWarnTip', notifyData);
          return;
        }
        // // 取款密码错误3次锁定账户 2019.12.06 ququ end
      }
      // 顯示訊息彈窗
      EventBus.$emit('showNotifyMessage', notifyData);
    },

    GetWithdrawData: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo();
      console.log('------------------------WithdrawData----------------');
      console.log(data);
      if (data.Ret === 0) {
        // 更新取款密码错误次数 2019.12.13 ququ
        this.CurrentWithdrawPwdErrCnt = data.Data.WithdrawPwdErrCnt;
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    }
  },
  components: { mainHeader },
  deactivated: function() {
    this.Password = undefined;
    this.$validator.reset();
  }
};
</script>