<template>
  <div class="wrap">
    <!-- 轮播图 -->
    <v-banner></v-banner>
    <!-- 分类 -->
    <v-class></v-class>
    <!-- 常玩游戏 -->
    <v-playGamesOften></v-playGamesOften>
    <!-- 经典游戏 -->
    <v-classicGames></v-classicGames>
    <!-- 尾部 -->
    <!-- <main-menu-new></main-menu-new> -->
    <!-- 公告弹窗 -->
    <marquee-modal></marquee-modal>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '@/mod/k03/assets/styles/modal/mobile/newIndex/newIndex.less';

</style>
<script>
import vBanner from '@/mod/k03/components/mobile/sub/newIndex/banner.vue';
import vClass from '@/components/mobile/sub/newIndex/class.vue';
import vClassicGames from '@/mod/k03/components/mobile/sub/newIndex/classicGames.vue';
import vPlayGamesOften from '@/mod/k03/components/mobile/sub/newIndex/playGamesOften.vue';
import mainMenuNew from '@/components/mobile/sub/mainMenuNew.vue';
import marqueeModal from '@/components/mobile/sub/index/marqueeModal.vue';
import Vue from 'vue';

export default {
  components: {
    vBanner,
    vClass,
    vClassicGames,
    vPlayGamesOften,
    mainMenuNew,
    marqueeModal
  },
  data() {
    return {};
  }
};
</script>