@charset "utf-8";

/* 登录 */
.login-wrap {
    margin: 8%;

    .checkbox {
        font-size: 0.8rem;
        color: rgba(255,255,255,.8);
        display: flex;
        align-items: center;
        align-content: center;
        position: relative;
        padding-left: 1.5rem;
        display: block;

        .icon {
            position: absolute;
            bottom: 0.2rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            margin: -0.45rem 0 0 0;
            background-color: #f3f3f3;
            border-bottom: 1px solid #c5bfc5;
        }

        .icon_check {
            position: absolute;
            bottom: 0.2rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            margin: -0.45rem 0 0 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.login-wrap .logo {
    width: 60%;
    margin: 1.5rem auto;
}

.login-wrap .logo img {
    width: 100%;
}

.login-wrap .form-control {
    height: 1.2rem;
    line-height: 1.2rem;
    padding: .7rem 0 .7rem 12%;
}

.icon-user,
.icon-psw,
.icon-scan {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    padding-right: 10px;
    width: 1rem;
    height: 1.1rem;
    border-right: 1px solid #dbb683;
}

.icon-user {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_user.png") no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.icon-psw {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_psw.png") no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.icon-scan {
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/login/icon_scan.png") no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.icon-wx {
    display: inherit;
    position: relative;
    top: 5px;
    margin-top: -5px;
    margin-right: 8px;
    width: 1.6rem;
    height: 1.6rem;
    background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/login/wx_logo.png") no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login-wrap .btn-gold,
.login-wrap .btn-purple {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    // text-indent: 10px;
    // letter-spacing: 10px;
}

.error-tip,
.modal-body p.error-tip {
    font-size: .8rem;
    margin: 10px 0 20px;
    color: #ffb12a;
    padding: 0;
    text-align: left;
}

.btn-wx {
    background: none;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    margin-top: 20px;
    border-radius: 2rem;
    border: 1px solid #0fa50c;
}

.login-wrap .input-scan {
    width: 58%;
}

.login-wrap .img-scan {
    width: 28%;
    height: 2.6rem;
    border-radius: 3px;
    float: right;
    text-align: center;
}

.login-wrap .img-scan img {
    height: 90%;
    max-width: 100%;
}
