<template>
  <!-- 头部 -->
  <div>
    <div :class="className">
      <div :class="`header_bar${className}`">
        <a class="icon-file-app" :href="$DownloadAPP" v-if="themeNumber == '7'"></a>

        <!-- <img class="logo" :src="ResourceCDN + `/EditionImg-mobile/Edition${className}/logo.png`" alt /> -->
        <img
          class="logo"
          :src="ResourceCDN + this.LogoPath"
          v-if="this.LogoPath!==null&&this.LogoPath!==''&&this.LogoPath!=='null'"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
export default {
  props: {
    HeaderTitle: {
      type: String,
      default: function() {
        return localStorage.getItem('LogoName');
      }
    }
  },
  data() {
    return {
      LogoPath: '',
      theme: this.$ThemeName,
      themeNumber: parseInt(this.$ThemeName.split('-')[1]),
      ResourceCDN: Vue.prototype.$ResourceCDN,
      className: ''
    };
  },
  created: function() {
    switch (this.theme) {
      case 'M-001':
        this.className = '1';
        break;
      case 'M-002':
        this.className = '2';
        break;
      case 'M-003':
        this.className = '3';
        break;
      case 'M-004':
        this.className = '4';
        break;
      case 'M-005':
        this.className = '5';
        break;
      case 'M-006':
        this.className = '6';
        break;
      case 'M-007':
        this.className = '7';
        break;
      case 'M-008':
        this.className = '8';
        break;
      case 'M-009':
        this.className = '9';
        break;
      case 'M-010':
        this.className = '10';
        break;
      case 'M-011':
        this.className = '11';
        break;
      case 'M-012':
        this.className = '12';
        break;
      default:
        break;
    }
    setTimeout(() => {
      this.LogoPath = localStorage.getItem('LogoImgPath');
    }, 3000);

    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {});
    }
  }
};
</script>


