<template>
  <div>
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <section class="msg-wrap register-wrap">
      <article>
        <div class="logo" v-if="this.LogoPath!==null&&this.LogoPath!==''&&this.LogoPath!=='null'">
          <img :src="ResourceCDN + this.LogoPath" />
          <!-- <h2>{{$t('lang.REGISTER_TOP')}}</h2> -->
        </div>
        <form class="addcard-form" novalidate="novalidate">
          <div class="row input-group">
            <label v-html="$t('lang.REGISTER_ACCOUNT_TITLE')"></label>
            <input
              class="form-control"
              type="text"
              :placeholder="$t('lang.REGISTER_ENTER_ACCOUNT')"
              name="Acct"
              v-model="RegistObj.Acct"
              required
              v-validate="{ rules: { regex:Reg.Account, required: true }}"
              @blur="CheckAccountAvailable()"
              @focus="$VueUtils.SetFooterBar('hide')"
            />
          </div>
          <div class="row input-group">
            <!-- v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}" -->
            <label v-html="$t('lang.REGISTER_PHONE_TITLE')"></label>
            <input
              class="form-control"
              :placeholder="$t('lang.REGISTER_ENTER_PHONE')"
              name="PhoneNo"
              v-model="RegistObj.PhoneNo"
              v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
            />
          </div>
          <div class="row input-group">
            <label v-html="$t('lang.REGISTER_PASSWORD_TITLE')"></label>
            <input
              class="form-control"
              :type="IfPwd.Password == false? 'password' : 'text'"
              id="Pwd"
              name="Pwd"
              v-model="RegistObj.Pwd"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              :placeholder="$t('lang.REGISTER_ENTER_PASSWORD')"
              style="padding-right: 3rem;"
            />

            <i
              :class="IfPwd.Password == false? 'eye-btn' : 'eye-btn on'"
              @click="ClickShowPwd(0)"
              :style="{backgroundImage: IfPwd.Password == false ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode)' : 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode)' }"
            ></i>
          </div>
          <!-- <div class="row input-group">
            <label>确认密码</label>
            <input
              type="password"
              class="form-control"
              name="CheckPwd"
              v-model="RegistObj.CheckPwd"
              v-validate="{ rules: { regex:Reg.Password, required: true , 'is': RegistObj.Pwd}}"
              placeholder="请再次确认密码"
            />
          </div>-->
          <div class="row input-group">
            <label v-html="$t('lang.REGISTER_WITHDRAWPWD_TITLE')"></label>
            <input
              :type="IfPwd.WithdrawPwd == false? 'password' : 'text'"
              class="form-control"
              name="WithdrawPwd"
              v-model="RegistObj.WithdrawPwd"
              v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
              :placeholder="$t('lang.REGISTER_ENTER_WITHDRAWPWD')"
              style="padding-right: 3rem;"
            />

            <i
              :class="IfPwd.WithdrawPwd == false? 'eye-btn' : 'eye-btn on'"
              @click="ClickShowPwd(1)"
              :style="{backgroundImage: IfPwd.WithdrawPwd == false ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_close.png?VersionCode)' : 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/register/eye_open.png?VersionCode)' }"
            ></i>
          </div>
          <!-- <div class="row input-group">
            <label>确认密码</label>
            <input
              type="password"
              class="form-control"
              name="CheckWithdrawPwd"
              v-model="RegistObj.CheckWithdrawPwd"
              v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true , 'is': RegistObj.WithdrawPwd}}"
              placeholder="请确认取款密码"
            />
          </div>-->
          <div class="row input-group">
            <label v-html="$t('lang.REGISTER_VCode_TITLE')"></label>
            <input
              type="text"
              class="form-control input-scan"
              name="VCodeImg"
              v-model="RegistObj.VCodeImg"
              v-validate="{ rules: { regex:Reg.VCode, required: true }}"
              :placeholder="$t('lang.REGISTER_ENTER_VCode')"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
            <a class="img-scan" v-on:click="GetAuthCode()">
              <img :onerror="defaultImg" v-bind:src="AuthImg" />
            </a>
          </div>
          <div class="row">
            <p
              class="error-tip"
              v-if="errors.has('Acct') && fields.Acct.touched"
            >* {{$t('lang.REGISTER_ACCOUNT_TIP')}}</p>
            <p class="error-tip" v-else-if="!AcctAvailable">{{$t('lang.REGISTER_ACCOUNT_USED')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('PhoneNo') && fields.PhoneNo.touched"
            >* {{$t('lang.REGISTER_PHONE_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('Pwd') && fields.Pwd.touched"
            >* {{$t('lang.REGISTER_PASSWORD_TIP')}}</p>
            <!-- <p
              class="error-tip"
              v-else-if="errors.has('CheckPwd') && fields.CheckPwd.touched"
            >* 请重新填写与上面一致的密码！</p>-->
            <p
              class="error-tip"
              v-else-if="errors.has('WithdrawPwd') && fields.WithdrawPwd.touched"
            >* {{$t('lang.REGISTER_WITHDRAWPWD_TIP')}}</p>
            <!-- <p
              class="error-tip"
              v-else-if="errors.has('CheckWithdrawPwd') && fields.CheckWithdrawPwd.touched"
            >* 请重新填写与上面一致的取款密码！</p>-->
            <p
              class="error-tip"
              v-else-if="errors.has('VCodeImg') && fields.VCodeImg.touched"
            >* {{$t('lang.REGISTER_VCode_TIP')}}</p>
            <!-- <p class="error-tip" v-else-if="!this.RegistObj.CheckedAgree">* 请勾选同意条款!</p> -->
          </div>
          <div class="row">
            <a v-on:click="SumbitRegist()" class="btn btn-gold" v-html="$t('lang.BUTTON_SUBMIT')"></a>
            <router-link
              :to="{name: 'login'}"
              class="btn btn-gray"
              v-html="$t('lang.BUTTON_CANCEL')"
            ></router-link>
          </div>
        </form>
      </article>
    </section>
  </div>
</template>

<style lang="less">
@import "~styles/cdn.less";
@import "~styles/modal/mobile/register/index.less";
</style>

<script>
import EventBus from "scripts/common/EventBus"
import Regex from "scripts/common/CommDef"
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import CommService from "scripts/businessLogic/commonService"
import RegistService from "scripts/businessLogic/registerService"
import CommUtility from "scripts/common/CommUtility"
import mainHeader from "@/components/mobile/sub/mainHeader"

export default {
  data() {
    return {
      HeaderTitle: this.$t("lang.REGISTER"),
      Reg: Regex.Regex, // 正則表達式類別
      AuthImg: "", // 驗證碼
      RegistObj: {
        // 登入資料物件
        Acct: "",
        PhoneNo: "",
        WithdrawPwd: undefined,
        CheckWithdrawPwd: undefined,
        CheckPwd: undefined,
        Pwd: "",
        VCodeImg: "",
        CheckedAgree: false,
        AuthCode: ""
      },
      AcctAvailable: true, // 驗證帳號是否重複
      tempObj: false, //是否處理中
      DomainLink: "", //上级代理
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      // 驗證碼顏色設定
      RGB: {
        R: 255,
        G: 200,
        B: 255
      },
      LogoPath: localStorage.getItem("LogoImgPath"),

      // 是否可以查看密码信息
      IfPwd: {
        Password: false,
        WithdrawPwd: false
      },

      CheckPhoneNoAvailable: {
        PhoneNo: "",
        WGUID: ""
      },
      defaultImg: 'this.src="' + Vue.prototype.$ResourceCDN + '/EditionImg/LamborFormal/images/public/refresh.png"'
    }
  },
  created: function () {
    // 扫码注册更改为以每次链接后携带参数为准
    if (this.$route.params.Data) {
      this.DomainLink = this.$route.params.Data
      localStorage.setItem("DomainLink", this.DomainLink)
    } else {
      if (localStorage.getItem("DomainLink") && localStorage.getItem("DomainLink") != "") {
        this.DomainLink = localStorage.getItem("DomainLink")
      }
    }

    this.Load()
    this.GetAuthCode()
  },
  methods: {
    ClickShowPwd: function (num) {
      switch (num) {
        case 0:
          this.IfPwd.Password = !this.IfPwd.Password
          break
        case 1:
          this.IfPwd.WithdrawPwd = !this.IfPwd.WithdrawPwd
          break
        default:
          break
      }
    },

    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop() // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      })
    },
    // 取得驗證碼
    GetAuthCode: async function () {
      const VCode_CharacterRGB = this.RGB
      const RGBData = {
        VCode_CharacterRGB
      }
      const retData = await CommService.VerifyCode_Gen(RGBData)
      this.AuthImg = retData.Data.VCode
      this.PreToken = retData.Data.ID
    },
    // 驗證帳號是否重複
    CheckAccountAvailable: async function () {
      this.$VueUtils.SetFooterBar("show")
      this.flag = !this.$validator.errors.has("Acct")

      if (this.flag && this.RegistObj.Acct.length > 0) {
        const obj = {
          Acct: this.RegistObj.Acct,
          WGUID: Vue.prototype.$WGUID
        }
        const retData = await CommService.CheckAcctAvailable(obj)
        this.AcctAvailable = retData.IsAvailable
      } else {
        this.AcctAvailable = true
      }
    },
    // 提交註冊申請
    SumbitRegist: async function () {
      console.log("===================SumbitRegist")
      // 處理中則直接返回
      if (this.tempObj === true) {
        console.log("===================tempObj")
        return
      }

      this.tempObj = true

      this.AcctAvailable = true

      const validateConfirm = await this.validate()
      if (!validateConfirm || !this.AcctAvailable) {
        this.tempObj = false
        return
      }

      // 注册手机号进行检测 会员手机号不能重复 20190906
      this.CheckPhoneNoAvailable.PhoneNo = this.RegistObj.PhoneNo
      this.CheckPhoneNoAvailable.WGUID = Vue.prototype.$WGUID
      const DataInput = { CheckPhoneNo: this.CheckPhoneNoAvailable }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const CheckPhoneNo = await CommService.Comm_CheckPhoneNoAvailable(DataInput)
      EventBus.$emit("GlobalLoadingTrigger", false)

      if (CheckPhoneNo.Ret === 0 && CheckPhoneNo.Data.CheckPhoneNo.IsAvailable === false) {
        const notifyData = {
          NotifyMessage: this.$t("lang.JOIN_PHONE_EXISTED")
        }
        EventBus.$emit("showNotifyMessage", notifyData)
        this.tempObj = false
        return
      } else if (CheckPhoneNo.Ret === 19) {
        const notifyData = {
          NotifyMessage: this.$t("lang.JOIN_PHONE_ERROR"),
          NotifySubMessage: this.$t("lang.JOIN_PHONE_ERROR_TIP")
        }
        EventBus.$emit("showNotifyMessage", notifyData)
        this.tempObj = false
        return
      } else if (CheckPhoneNo.Ret !== 0 && CheckPhoneNo.Ret !== 19) {
        const notifyData = {
          NotifyMessage: CheckPhoneNo.Message
        }
        EventBus.$emit("showNotifyMessage", notifyData)
        this.tempObj = false
        return
      }

      // 驗證帳號是否已被使用
      EventBus.$emit("GlobalLoadingTrigger", true)
      await this.CheckAccountAvailable()
      EventBus.$emit("GlobalLoadingTrigger", false)
      if (!this.AcctAvailable) {
        this.tempObj = false
        return
      }

      // 註冊資料物件
      const DataObj = {
        VCodeID: this.PreToken,
        VCode: this.RegistObj.VCodeImg,
        WGUID: Vue.prototype.$WGUID,
        PromotionUrl: window.location.href.split("/").slice(0, 3).join("/"), // 完整DomainName含參數
        PromotionInfo: this.DomainLink, //上级代理  参数
        Member: this.RegistObj
      }
      console.log(DataObj)
      // 註冊服務
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await RegistService.Regist(DataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      // 錯誤訊息物件
      const notifyData = {
        NotifyMessage: retData.Message
      }

      if (retData.Ret == 0) {
        // 成功
        EventBus.$emit("afterLogin")
        localStorage.setItem("Token", retData.Data.LoginData.Token)
        localStorage.setItem("Auth", retData.Data.LoginData.Auth)
        localStorage.setItem("Acct", retData.Data.LoginData.Acct)
        localStorage.removeItem("DomainLink")

        localStorage.setItem("CorrelationIBMemberId", retData.Data.LoginData.CorrelationIBMemberId)
        localStorage.setItem("userId", retData.Data.LoginData.AcctID)

        this.$store.dispatch("user/setAgentId")
        this.$store.dispatch("user/setUserId")

        localStorage.setItem("IBStatus", retData.Data.LoginData.IBStatus)

        EventBus.$emit("SHOW_TIP", this.$t("lang.REGISTER_SUCCESS_TIP")) //调用父级方法
        // 成功並跳頁
        this.$router.push({ name: "index" })
      } else if (retData.Ret === BLDef.ErrorRetType.COMM_VERIFY_CODE_INCORRECT) {
        // 驗證碼錯誤
        this.tempObj = false
        this.RegistObj.VCodeImg = ""
        this.$validator.reset()
        this.GetAuthCode()
        EventBus.$emit("showNotifyMessage", notifyData)
      } else {
        // 失敗
        this.tempObj = false
        this.RegistObj = {}
        this.$validator.reset()
        this.GetAuthCode()
        EventBus.$emit("showNotifyMessage", notifyData)
      }
    },
    // 所有欄位驗證
    validate: function () {
      console.log("result")
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      return this.$validator.validateAll().then((result) => {
        return result
      })
    }
  },
  components: {
    mainHeader
  }
}
</script>