<template>
  <div>
    <!--头部-->
    <main-header :HeaderTitle="this.HeaderTitle"></main-header>

    <!-- 内容 -->
    <section class="msg-wrap register-wrap register-success-wrap">
      <article>
        <div class="logo">
          <img :src="this.LogoPath" />
        </div>
        <form class="addcard-form" novalidate="novalidate">
          <div class="row input-group">
            <label>{{$t('lang.REGISTER_PLATFORM_ACCOUNT')}}</label>
            <p class="form-control">{{RegistObj.Acct}}</p>
          </div>
          <div class="row input-group">
            <label v-html="$t('lang.REGISTER_PASSWORD_TITLE')"></label>
            <p class="form-control">
              123456
              <i>({{$t('lang.REGISTER_SYSTEM_ALLOCATED')}})</i>
            </p>
          </div>
          <div class="row input-group">
            <label>{{$t('lang.REGISTER_WITHDRAWPWD_TITLE')}}</label>
            <p class="form-control">
              123456
              <i>({{$t('lang.REGISTER_SYSTEM_ALLOCATED')}})</i>
            </p>
          </div>
          <p class="error-tip">({{$t('lang.REGISTER_SYSTEM_ALLOCATED')}})</p>
          <router-link :to="{name: 'index'}" class="btn btn-gold">{{$t('lang.BUTTON_ENTER_GAME')}}</router-link>
        </form>
      </article>
    </section>

    <!-- 用户协议 -->
    <user-agreement-modal></user-agreement-modal>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/register/index.less';
</style>
<script>
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommonService from 'scripts/businessLogic/commonService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import LoginService from 'scripts/businessLogic/loginService';
import SignalRService from 'scripts/common/SignalRService';
import CommUtility from 'scripts/common/CommUtility';

import mainHeader from '@/components/mobile/sub/mainHeader';
import userAgreementModal from '@/components/mobile/sub/register/userAgreementModal';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.REGISTER_SUCCESS'),
      Reg: Regex.Regex, // 正則表達式類別
      AuthImg: '', // 驗證碼
      RegistObj: {}, // 登入資料物件
      AcctAvailable: true, // 驗證帳號是否重複
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      LogoPath: localStorage.getItem('LogoImgPath')
    };
  },
  created: function() {
    this.Load();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.GetMemberInfo();
      });
    },
    //获取用户信息
    GetMemberInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await CommonService.Comm_GetMemberInfo();
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Data && data.Data.Member) {
        this.RegistObj = data.Data.Member;
        let WXobj = null;
        if (localStorage.getItem('WXobj')) {
          WXobj = JSON.parse(localStorage.getItem('WXobj'));
          if (WXobj && WXobj.Name) {
            this.RegistObj.Name = WXobj.Name;
          }
        }
        console.log(this.RegistObj);
      }
    },
    // 提交註冊申請
    SumbitRegist: async function() {
      // 是否通過各種欄位驗證
      const validateConfirm = await this.validate();
      if (
        !validateConfirm ||
        !this.AcctAvailable ||
        !this.RegistObj.CheckedAgree
      ) {
        return;
      } // end if

      // 處理中則直接返回
      if (this.tempObj === true) {
        return;
      } // end if
      this.tempObj = true;

      // 註冊資料物件
      const DataObj = {
        WGUID: Vue.prototype.$WGUID,
        ChangePwdInfo: {
          NewPwd: this.RegistObj.Pwd,
          ConfirmNewPwd: this.RegistObj.Pwd
        }
      };

      // 註冊服務
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await PersonalCenterService.WeChat_OpenPlatForm(DataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      // 錯誤訊息物件
      const notifyData = {
        NotifyMessage: retData.Message
      };

      if (retData.Ret == 0) {
        // 成功
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.REGISTER_OPENED_SUCCESSFULLY')
        ); //复制成功提示
        var that = this;
        setTimeout(function() {
          that.$router.push({
            name: 'index'
          }); //登录成功 跳转首页
        }, 1500);
      } else if (
        retData.Ret === BLDef.ErrorRetType.COMM_VERIFY_CODE_INCORRECT
      ) {
        // 驗證碼錯誤
        this.tempObj = false;
        this.RegistObj.Pwd = '';
        this.$validator.reset();
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        // 失敗
        this.tempObj = false;
        this.RegistObj.Pwd = '';
        this.$validator.reset();
        EventBus.$emit('showNotifyMessage', notifyData);
      } // end if
    }, // end SumbitRegist

    // 所有欄位驗證
    validate: function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate

    // 登出
    Logout: async function() {
      // 移除登入相關資料
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Token');
      localStorage.removeItem('WXobj');
      localStorage.removeItem('Auth');

      const inputObj = {
        LogoutInfo: {}
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      await LoginService.LogOut(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      EventBus.$emit('SHOW_TIP', '开通成功，正在前往登录'); //调用父级方法

      // 若沒接收到signalr斷線訊息，則3秒後自行斷線
      setTimeout(function() {
        // 斷Signalr連線
        SignalRService.DisConnectServer();
        window.location.href = '/login'; //跳转登录页面
      }, 3000);
    }
  },
  components: {
    mainHeader,
    userAgreementModal
  }
};
</script>