<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap audit-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="userList-content">
        <section class="tab-section">
          <form novalidate="novalidate" class="addcard-form">
            <div class="row">
              <!-- 开始时间 -->
              <input
                type="date"
                class="form-control"
                name="StartTime"
                :placeholder="$t('lang.TIME_ENTER_START')"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_START'))"
                v-model="AuditDisplayQueryObj.StartTime"
              />
              <!-- 结束时间 -->
              <input
                type="date"
                class="form-control"
                name="EndTime"
                :placeholder="$t('lang.TIME_ENTER_END')"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_END'))"
                v-model="AuditDisplayQueryObj.EndTime"
              />
              <a class="btn btn-bind" @click="SearchIBExamineListData()">{{$t('lang.BUTTON_QUERY')}}</a>
            </div>
          </form>
          <p
            class="error-tip"
            v-if="this.AuditDisplayQueryObj.EndTime !== '' &&
        this.AuditDisplayQueryObj.StartTime === ''"
          >* {{$t('lang.TIME_START_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.AuditDisplayQueryObj.StartTime !== '' &&
        this.AuditDisplayQueryObj.EndTime === ''"
          >* {{$t('lang.TIME_END_TIP')}}</p>
          <p
            class="error-tip"
            v-if="this.Submitted === true && this.TimeSequenceInvalid === true"
          >* {{$t('lang.TIME_OVER_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.AuditDisplayQueryObj.EndTime > this.NowDate || this.AuditDisplayQueryObj.StartTime > this.NowDate"
          >* {{$t('lang.TIME_FUTURE_FORBID')}}</p>
        </section>
        <section class="list-table">
          <div class="table">
            <table cellpadding="0" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <td>{{$t('lang.AUDIT_APPLY_TIME')}}</td>
                  <td>{{$t('lang.AUDIT_APPLY_ACCOUNT')}}</td>
                  <td>{{$t('lang.AUDIT_NAME')}}</td>
                  <td>{{$t('lang.AUDIT_PHONE')}}</td>
                  <td>{{$t('lang.AUDIT_STATUS')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in this.IBExamine" :key="index">
                  <td>{{item.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
                  <td>{{item.ApplyStatus === 0? '-' : item.LoginID}}</td>
                  <td>{{item.Name | simpleContent(6)}}</td>
                  <td>{{item.PhoneNo}}</td>
                  <td
                    v-if="item.ApplyStatus === 0"
                    class="agent-color-blue"
                  >{{$t('lang.AUDIT_IN_APPLICATION')}}</td>
                  <td
                    v-else-if="item.ApplyStatus === 2"
                    class="agent-color-black"
                  >{{$t('lang.AUDIT_HAS_PASSED')}}</td>
                  <td
                    v-else-if="item.ApplyStatus === 3"
                    class="agent-color-red"
                  >{{$t('lang.AUDIT_HAS_REFUSED')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <p class="scroll-footer-tip"></p>
      </div>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';

import moment from 'moment';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.AUDIT_TITLE'),
      // 正則表達式
      Reg: RegEx.Regex,
      IBExamine: [], // 瀑布式資料陣列
      LogTotalCount: undefined, // 瀑布式记录总数
      MaxPage: undefined, // 瀑布式最大頁數
      CurrentPage: 0, // 瀑布式當前頁數
      waterfallLock: false, // 瀑布式的Lock
      AuditDisplayQueryObj: {
        // 瀑布式分页
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        },
        IBAcctID: undefined,
        StartTime: '',
        EndTime: '',
        QueryStartTick: '',
        QueryEndTick: ''
      },
      // 大于当前时间
      NowDate: moment(new Date()).format('YYYY-MM-DD'),
      IsAllShow: false, // 是否已載入完全部
      Submitted: false,
      TimeSequenceInvalid: false
    };
  },
  activated: function() {
    this.Load();
    this.BindWaterFallEvent();
    this.LoadIBExamineList();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 加载代理审核列表
    LoadIBExamineList: async function() {
      this.AuditDisplayQueryObj.IBAcctID = localStorage.getItem(
        'CorrelationIBMemberId'
      );
      if (
        this.AuditDisplayQueryObj.StartTime == '' ||
        this.AuditDisplayQueryObj.EndTime == ''
      ) {
        this.AuditDisplayQueryObj.QueryStartTick = -28800000;
        this.AuditDisplayQueryObj.QueryEndTick = -28800000;
      } else {
        this.AuditDisplayQueryObj.QueryStartTick = CommUtility.LocalTimeToUtcTicks(
          moment(this.AuditDisplayQueryObj.StartTime).format('YYYY-MM-DD')
        );
        this.AuditDisplayQueryObj.QueryEndTick =
          CommUtility.LocalTimeToUtcTicks(
            moment(this.AuditDisplayQueryObj.EndTime).format('YYYY-MM-DD')
          ) +
          (24 * 60 * 60 - 1) * 1000;
      }
      console.log(
        'this.AuditDisplayQueryObj.QueryStartTick::' +
          this.AuditDisplayQueryObj.QueryStartTick
      );
      console.log(
        'this.AuditDisplayQueryObj.QueryEndTick::' +
          this.AuditDisplayQueryObj.QueryEndTick
      );
      EventBus.$emit('GlobalLoadingTrigger', true);
      const Data = await AgencyCenterService.IBExamineList(
        this.AuditDisplayQueryObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(Data);
      if (Data.Ret === 0) {
        if (Data.Data.ApplyOrderList.length) {
          this.IBExamine = this.IBExamine.concat(Data.Data.ApplyOrderList);
          for (let i = 0; i < this.IBExamine.length; i++) {
            console.log('-----------------11111111---------------');
            this.IBExamine[i].CreateDateTime = moment(
              this.IBExamine[i].CreateDateTime
            )
              .utcOffset(16 * 60)
              .format('YYYY/MM/DD HH:mm:ss');
          }
        }
        this.LogTotalCount = Data.Data.PagingInfo.TotalCount;
        this.MaxPage = Math.ceil(
          this.LogTotalCount / this.AuditDisplayQueryObj.PagingInfo.PageSize
        );
        this.CurrentPage++;
        // 是否已載入完全部
        if (this.IBExamine.length == this.LogTotalCount) {
          this.IsAllShow = true;
          $('.scroll-footer-tip').html(this.$t('lang.LIST_ALL_LOADED'));
          if (this.IBExamine.length < 1) {
            $('.scroll-footer-tip').html(this.$t('lang.LIST_NO_DATA'));
          }
        } else {
          this.IsAllShow = false;
          $('.scroll-footer-tip').html('');
        }
        console.log('请求成功');
      } else {
        console.log('请求失败');
        return;
      }
      this.waterfallLock = false;
    },
    // 查询代理审核列表数据
    SearchIBExamineListData: async function() {
      this.Submitted = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied(); //其他栏位验证
      console.log(result, anyFieldInvalid);
      if (anyFieldInvalid === true || result === false) {
        return;
      }
      this.IBExamine = [];
      this.CurrentPage = 0;
      this.AuditDisplayQueryObj.PagingInfo.PageNo = 1;
      this.waterfallLock = false;
      this.LoadIBExamineList();
    },
    //绑定瀑布流事件
    BindWaterFallEvent: function() {
      CommUtility.AgentBindWaterfallTable(96, this.MainShowMoreData);
    },
    // 瀑布式載入更多項目
    MainShowMoreData: function() {
      if (this.waterfallLock === false) {
        this.waterfallLock = true;
        if (this.CurrentPage < this.MaxPage) {
          this.AuditDisplayQueryObj.PagingInfo.PageNo++;
          this.LoadIBExamineList();
        } else {
          this.waterfallLock = false;
        }
      }
    }, // end MainShowMoreData
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // 開始時間未選
      if (
        this.AuditDisplayQueryObj.EndTime !== '' &&
        this.AuditDisplayQueryObj.StartTime === ''
      ) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (
        this.AuditDisplayQueryObj.StartTime !== '' &&
        this.AuditDisplayQueryObj.EndTime === ''
      ) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.AuditDisplayQueryObj.StartTime !== undefined &&
        this.AuditDisplayQueryObj.EndTime !== undefined
      ) {
        if (
          new Date(this.AuditDisplayQueryObj.StartTime) >
          new Date(this.AuditDisplayQueryObj.EndTime)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }
      // 大于当前日期
      if (
        new Date(this.AuditDisplayQueryObj.StartTime) > new Date() ||
        new Date(this.AuditDisplayQueryObj.EndTime) > new Date()
      ) {
        anyInvalid = true;
      }
      return anyInvalid;
    }, // end 驗證搜尋欄位正確性
    DelDatePlaceholder: function(ele) {
      ele.target.removeAttribute('placeholder');
    },
    //添加日历类型默认提示
    SetDatePlaceholder: function(ele, text) {
      if (!ele.target.value) {
        ele.target.setAttribute('placeholder', text);
      }
    }
  },
  components: { mainHeader },
  deactivated: function() {
    // 解绑滚动监听事件
    $('#wrapper').unbind('scroll');
    // 离开缓存组件时初始化组件数据
    this.IBExamine = [];
    this.waterfallLock = false;
    this.AuditDisplayQueryObj.PagingInfo.PageNo = 1;
    this.CurrentPage = 0;
    this.IsAllShow = false;
    this.AuditDisplayQueryObj.IBAcctID = undefined;
    this.Submitted = false;
    this.TimeSequenceInvalid = false;
    this.AuditDisplayQueryObj.StartTime = this.AuditDisplayQueryObj.EndTime =
      '';
    $('input[name="StartTime"]').attr(
      'placeholder',
      this.$t('lang.TIME_ENTER_START')
    );
    $('input[name="EndTime"]').attr(
      'placeholder',
      this.$t('lang.TIME_ENTER_END')
    );
    this.$validator.reset();
  }
};
</script>