<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em class="filter-icon" @click="showfilterPopup" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"></em>

      <div class="userList-content">
        <van-list v-model="loading" :finished="finished" :finished-text="dataLst.finishedText" @load="onLoad" ref="list">
          <div class="item" v-for="(item,index) in dataLst.list" :key="index">
            <ul class="lst">
              <li class="row">
                <div>{{item.GameName}}</div>
                <div class="time">{{item.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-red">{{item.BetAmount}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.RECORD_PAYOUT')}}</div>
                <div class="color-green">{{item.SettleAmount}}</div>
              </li>
            </ul>
            <transition name="draw">
              <ul class="child" v-show="item.check">
                <li class="row">
                  <div>{{$t('lang.USER_NAME')}}：{{item.LoginID}}</div>
                  <div>{{$t('lang.DETAILS_TEAM_SIZE')}}：
                    <span>{{item.TeamCount || '-'}}</span>
                  </div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_BETTING_ORDER_NUMBER')}}：{{item.BetOrderNo}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.RECORD_BETTING_TIME')}}：{{item.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.PROMOTION_GAME_VENDOR')}}：{{item.GameApiName}}</div>
                  <div>{{$t('lang.RECORD_GAME_NAME')}}：{{item.GameName}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_BETTING_AMOUNT')}}：
                    <span class="color-red">{{item.BetAmount}}</span>
                  </div>
                  <div>{{$t('lang.RECORD_EFFECTIVE_BETTING')}}：{{item.VBetAvailableAmount}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_PAYOUT_AMOUNT')}}：
                    <span class="color-green">{{item.SettleAmount }}</span>
                  </div>
                  <div>{{$t('lang.RECORD_PROFIT_LOSS')}}：
                    <span class="color-red">{{item.WinLoss}}</span>
                  </div>
                </li>
              </ul>
            </transition>
          </div>

          <div class="item">
            <ul class="lst">
              <li class="row">
                <div class="total_bar">{{$t('lang.WITHDRAWAL_TOTAL')}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.DETAILS_BETTING')}}</div>
                <div class="color-red">{{dataLst.SubBetAmount}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.RECORD_PAYOUT')}}</div>
                <div class="color-green">{{dataLst.SubSettleAmount}}</div>
              </li>
            </ul>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import RegEx from "scripts/common/CommDef";
import CommUtility from "scripts/common/CommUtility";
import mainHeader from "@/components/mobile/sub/mainHeader";
import filterPopup from "@/components/mobile/filterPopup";
import { List } from "vant";

import moment from "moment";
import AgencyCenterService from "scripts/businessLogic/agencyCenterService";

export default {
  components: { mainHeader, [List.name]: List, filterPopup },
  data() {
    return {
      HeaderTitle: this.$t("lang.AGENCY_BETTING"),
      inputObj: {
        LoginID: "",
        StartTime: moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format("YYYY-MM-DD"),
        IsNextLayer: 0,
        AgencyUser: "",
        GameApiNo: "",
        GameTypeNo: "",
        betNo: "",
      },
      dataLst: {
        list: [],
        SubBetAmount: 0,
        SubSettleAmount: 0,
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ""
      },
      loading: false,
      finished: false,
      FirstPlanEnter: true, // 首次搜索弹窗
    };
  },
  watch: {
    $route(to, from) {
      this.childMsg({});
    }
  },
  activated() {
    this.childMsg({});
  },
  mounted() {
    // 展开每条详细信息
    $('.van-list').on('click', '.lst', function () {
      if (!$(".child").is(":animated")) { //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this).parent('.item').removeClass('check');
        } else {
          $(this).addClass('check');
          $(this).parent('.item').addClass('check');
        }
        $(this).siblings('.child').slideToggle(800);
      }
    });

    this.$VueUtils.setMyHeaderPosition();  // 处理头部CSS
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },

    showfilterPopup: function () {
      this.$refs.filter.parentMsg("bettingList", RegEx.Regex.LoginAccount);
      this.FirstPlanEnter = false;
    },

    // 过滤条件
    childMsg(msg) {
      this.inputObj = {
        AgencyUser: msg.name || "",
        StartTime: msg.StartTime || moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: msg.EndTime || moment(new Date()).format("YYYY-MM-DD"),
        IsNextLayer: msg.lowerLevel ? 1 : 0,
        GameApiNo: msg.GameName || "",
        GameTypeNo: msg.GameType || "",
        betNo: msg.bettingOrderNumber || "",
      };
      this.dataLst = {
        list: [],
        SubBetAmount: 0,
        SubSettleAmount: 0,
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ""
      };
      this.loading = false;
      this.finished = false;
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    async onLoad() {
      const inputObj = {
        Name: this.inputObj.AgencyUser,
        GameApiNo: this.inputObj.GameApiNo || "-1",
        GameTypeNo: this.inputObj.GameTypeNo || "-1",
        IsNextLayer: this.inputObj.IsNextLayer,
        StartTick: CommUtility.LocalTimeToUtcTicks(
          moment(this.inputObj.StartTime).format("YYYY-MM-DD")
        ),
        StartTime: this.inputObj.StartTime,
        EndTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.EndTime).format("YYYY-MM-DD")) + (24 * 60 * 60 - 1) * 1000,
        EndTime: this.inputObj.EndTime,
        betNo: this.inputObj.betNo || '',
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadGameRecord_LoadMainPage(
        inputObj
      );
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.ListGameRecord) {
          for (let item of data.Data.ListGameRecord) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.VRakeCost_Total;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 数据全部加载完成
        if (
          !data.Data.PagingInfo.TotalCount ||
          this.dataLst.list.length >= data.Data.PagingInfo.TotalCount
        ) {
          this.finished = true;
          this.dataLst.finishedText = this.$t("lang.LIST_ALL_LOADED");
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t("lang.LIST_NO_DATA");
          }
        }
        // 合计
        this.dataLst.SubBetAmount = data.Data.ListSumAmount[0].SumBetAmount;
        this.dataLst.SubSettleAmount = data.Data.ListSumAmount[0].SumSettleAmount;
      } else {
        this.finished = true;
        this.dataLst.finishedText = "";
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"));
      }
    },
    // 日期转时间戳
    formatDate(now) {
      var year = now.getFullYear();
      var month = now.getMonth() + 1;
      var date = now.getDate();
      var hour = now.getHours();
      var minute = now.getMinutes();
      var second = now.getSeconds();
      return `${year}-${month}-${date} ${hour}: ${minute}:${second}`;
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  deactivated: function () {
    this.FirstPlanEnter = true;
  }
};
</script>

<style lang="less" scoped>
.tab-head {
  margin-bottom: 0;
  li {
    width: 50%;
    margin-bottom: 0;
  }
}

.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .row {
        flex: 1;
        text-align: center;
        .time {
          font-size: 0.8rem;
          color: #b8b8b8;
        }
        .color-red {
          font-size: 1rem;
        }
        .color-green {
          font-size: 1rem;
        }
        div {
          color: white;
          font-size: 0.88rem;
        }
        .DepositSum {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
      .row:nth-of-type(1) {
        text-align: left;
        flex: 2;
      }
    }

    .child {
      padding: 0.6rem 0.9rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      opacity: 1;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          .depositSum {
            color: #d0a05d;
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .total_bar {
    margin: 0;
    font-size: 1rem !important;
  }
  .total_bar::after {
    position: relative;
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
.color-green {
  color: #50e223 !important;
}
</style>