<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em class="filter-icon" @click="showfilterPopup" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"></em>
      <div class="userList-content">
        <van-list v-model="loading" :finished="finished" :finished-text="finishedText" @load="LoadUserList" ref="list">
          <div class="item" v-for="(item,index) in UserList" :key="index">
            <ul class="lst">
              <li class="row">
                <div>{{item.LoginID}}</div>
                <div class="time">{{item.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
              </li>
              <li class="row">
                <div class="DepositSum">{{item.VWithdrawaSum}}</div>
              </li>
            </ul>
            <transition name="draw">
              <ul class="child" v-show="item.check">
                <li class="row">
                  <div>{{$t('lang.USER_NAME')}}：{{item.LoginID}}</div>
                  <div>{{$t('lang.DETAILS_TEAM_SIZE')}}：
                    <span v-if="item.MemberType == 3">{{item.TeamCount || ''}}</span>
                    <span v-else>-</span>
                  </div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_TIME_INTERVAL')}}：{{item.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.DETAILS_TABLE_TOTAL_WITHDRAWAL_AMOUNT')}}：
                    <span class="depositSum">{{item.VWithdrawaSum}}</span>
                  </div>
                </li>
              </ul>
            </transition>
          </div>
          <div class="total_bar">
            <p>{{$t('lang.WITHDRAWAL_TOTAL')}}</p>
            <p>{{VDepositSum_Total}}</p>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import CommUtility from "scripts/common/CommUtility";
import mainHeader from "@/components/mobile/sub/mainHeader";
import filterPopup from "@/components/mobile/filterPopup";
import { List } from "vant";

import moment from "moment";
import AgencyCenterService from "scripts/businessLogic/agencyCenterService";

export default {
  data() {
    return {
      HeaderTitle: this.$t("lang.AGENCY_CASH"),
      UserList: [],
      UserDisplayQueryObj: {
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        TitleKeyWord: "",
        MessageType: {},
        StartTick: null,
        EndTick: null,
        StartTime: moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format("YYYY-MM-DD"),
        IsNextLayer: 0, // 是否包含下级 0 否 1 是
        IsContainsZero: 0, // 是否包含0数据（0：否，1：是)
      },
      VDepositSum_Total: 0,
      loading: false,
      finished: false,
      finishedText: "资料已全部加载完成",
      FirstPlanEnter: true, // 首次搜索弹窗
    };
  },
  watch: {
    $route(to, from) {
      this.childMsg({});
    }
  },
  activated: function () {
    this.Load();
    this.childMsg({});
  },
  mounted() {
    // 展开每条详细信息
    $('.van-list').on('click', '.lst', function () {
      if (!$(".child").is(":animated")) { //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this).parent('.item').removeClass('check');
        } else {
          $(this).addClass('check');
          $(this).parent('.item').addClass('check');
        }
        $(this).siblings('.child').slideToggle(800);
      }
    });

    this.$VueUtils.setMyHeaderPosition();  // 处理头部CSS
  },
  methods: {
    showfilterPopup: function () {
      this.$refs.filter.parentMsg("cashList");
      this.FirstPlanEnter = false;
    },

    childMsg(msg) {
      this.loading = false;
      this.finished = false;
      this.UserDisplayQueryObj = {
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        TitleKeyWord: msg.name || "",
        StartTime: msg.StartTime || moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: msg.EndTime || moment(new Date()).format("YYYY-MM-DD"),
        MessageType: {},
        StartTick: "",
        EndTick: "",
        IsNextLayer: msg.lowerLevel ? 1 : 0,
        IsContainsZero: msg.DatalessUser ? 1 : 0,
      };
      this.UserList = [];
      let that = this;
      setTimeout(function () {
        that.$refs.list.check();
      }, 100);
    },
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 加载用户列表数据
    LoadUserList: async function () {
      const inputObj = {
        StartTick: CommUtility.LocalTimeToUtcTicks(moment(this.UserDisplayQueryObj.StartTime).format("YYYY-MM-DD")),
        EndTick: CommUtility.LocalTimeToUtcTicks(moment(this.UserDisplayQueryObj.EndTime).format("YYYY-MM-DD")) + (24 * 60 * 60 - 1) * 1000,
        LoginID: this.UserDisplayQueryObj.TitleKeyWord, // 用户名
        IsNextLayer: this.UserDisplayQueryObj.IsNextLayer,
        IsContainsZero: this.UserDisplayQueryObj.IsContainsZero,
        PagingInfo: {
          PageSize: this.UserDisplayQueryObj.PagingInfo.PageSize,
          PageNo: this.UserDisplayQueryObj.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadWithdrawalList(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.loading = false;
        if (data.Data && data.Data.IBWithdrawaList) {
          for (let item of data.Data.IBWithdrawaList) {
            item.check = false;
            this.UserList.push(item);
          }
          this.VDepositSum_Total = data.Data.VWithdrawaSum_Total;
        }
        this.UserDisplayQueryObj.PagingInfo.PageNo++;
        // 是否已載入完全部
        if (
          data.Data.PagingInfo.TotalCount ||
          this.UserList.length == data.Data.PagingInfo.TotalCount
        ) {
          this.finished = true;
          this.finishedText = this.$t("lang.LIST_ALL_LOADED");
          if (this.UserList.length < 1) {
            this.finishedText = this.$t("lang.LIST_NO_DATA");
          }
        }
      } else {
        this.finished = true;
        this.finishedText = "";
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"));
      }
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  components: { mainHeader, [List.name]: List, filterPopup },
  deactivated: function () {
    this.FirstPlanEnter = true;
  }
};
</script>

<style lang="less" scoped>
.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .row {
        .time {
          color: #b8b8b8;
        }
        div {
          color: white;
          font-size: 0.88rem;
        }
        .DepositSum {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
    }

    .child {
      padding: 0.6rem 0.9rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      opacity: 1;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          .depositSum {
            color: #d0a05d;
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .total_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0.9rem;
    height: 3.6rem;
    line-height: 3.6rem;
    p:nth-of-type(1) {
      font-size: 1rem;
      color: white;
    }
    p:nth-of-type(2) {
      color: #d0a05d;
      font-size: 1rem;
    }
  }
  .total_bar::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
</style>