<template>
  <div class="viewPlan">
    <van-popup
      ref="getheight"
      class="popup"
      v-model="show"
      :style="{ height: '50%', width: '82%' }"
    >
      <h1 class="title_bar" ref="title">{{$t('lang.USER_NAME')}}：{{detail.LoginID}}</h1>
      <div class="selfTreatment" :style="{ height : contentHeight }" >
        <ol class="contentLst">
          <li class="lst">
            <div class="table_box">
              <table class="table" border="1"> 
                <tr class="item">
                  <td>{{$t('lang.WITHDRAWAL_TIME')}}</td>
                  <td>{{$t('lang.AGENCY_SAME_DAY_COMMISSION')}}</td>
                  <td>{{$t('lang.AGENCY_SAME_DAY_AMOUNT')}}</td>
                </tr>
                <tr class="item" v-for="(item,index) in ListIBCommissionReport" :key="index">
                  <td>{{item.EndDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
                  <td>{{item.VMinRakeRate}}</td>
                  <td>{{item.RakeIncome | number}}</td>
                </tr>
                <tr class="item">
                  <td class="total" colspan="2">{{$t('lang.WITHDRAWAL_TOTAL')}}</td>
                  <td>{{TotalRakeIncomeAmt | number}}</td>
                </tr>
              </table>
            </div>
          </li>
        </ol>
      </div>
      <button class="closeBtn" @click="show=false">{{$t('lang.WINDOWS_CLOSE')}}</button>
    </van-popup>
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import mainHeader from "@/components/mobile/sub/mainHeader";
import CommUtility from "scripts/common/CommUtility";
import moment from "moment";
import AgencyCenterService from "scripts/businessLogic/agencyCenterService";

import { Popup } from "vant";
export default {
  components: {
    [Popup.name]: Popup
  },
  data() {
    return {
      show: false,
      contentHeight: '',
      detail: {},
      inputObj: {},
      ListIBCommissionReport: [],
      TotalRakeIncomeAmt: 0,
    };
  },

  methods: {
    parentMsg(item,inputObj) {
      this.detail = item;
      this.inputObj = inputObj;
      this.show = true;
      setTimeout(() => {
        this.contentHeight = (document.documentElement.clientHeight * .5 - this.$refs.title.offsetHeight * 3) + 'px';
      }, 100);
      this.getDetail();
    },
    async getDetail(){
      const inputObj = {
        LoginID: this.detail.LoginID,
        IsAutomatic: this.detail.IsAutomatic,
        IBID: this.detail.MemberID,
        QueryStartTime: this.inputObj.StartTime,
        QueryStartTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.StartTime).format('YYYY-MM-DD')),
        QueryEndTime: this.inputObj.EndTime,
        QueryEndTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.EndTime).format('YYYY-MM-DD')) + (24 * 60 * 60 - 1) * 1000,
        IsNextLayer: this.inputObj.IsNextLayer,
        PagingInfo: {
          PageSize: 1000,
          PageNo: 1
        }
      };
      const data = await AgencyCenterService.LoadGetIBCommissionReport_Details(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.ListIBCommissionReport) {
          this.ListIBCommissionReport = data.Data.ListIBCommissionReport;
        }
        this.TotalRakeIncomeAmt = data.Data.TotalRakeIncomeAmt;
      } else {
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"));
      }
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  }
};
</script>

<style lang="less" scoped>
.viewPlan {
  .popup {
    border-radius: 0.3rem;
    border: 0.1rem solid #dab967;
    background-color: #dbd5db;
    .title_bar {
      color: #e7b771;
      background-image: linear-gradient(to bottom, #444444, #161616);
      font-weight: normal;
      font-size: 0.95rem;
      height: 2.6rem;
      line-height: 2.6rem;
      text-align: center;
    }
    .closeBtn {
      color: #fff;
      background-color: #9d9d9d;
      height: 2.6rem;
      line-height: 2.6rem;
      font-size: 0.95rem;
      width: 90%;
      margin: 0.4rem auto 0;
      display: block;
      border: none;
      border-radius: 0.3rem;
    }
  }
}

.selfTreatment {
  padding: 0.4rem 0.9rem 0.9rem;
  overflow-y: scroll;
  .contentLst {
    .lst {
      margin-bottom: 0.5rem;
      overflow: hidden;
      .table_box {
        margin-top: 0.5rem;
        .table {
          width: 100%;
          border-collapse: collapse; /*关键代码*/
          border: none;
          .item {
            td {
              width: 33.33%;
              color: #666666;
              text-align: center;
              font-size: 0.8rem;
              border-color: #c5bfc5;
            }
            .total {
              text-align: right;
              padding-right: 10px;
            }
          }
          .item:nth-of-type(1) {
            background-color: rgba(0, 0, 0, 0.05);
            td {
              color: #333333;
              font-size: 0.85rem;
            }
          }
          .item:nth-last-child(1) {
            td {
              color: #333333;
            }
          }
        }
      }
    }
  }
}
</style>