<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em class="filter-icon" @click="showfilterPopup" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"></em>

      <ul class="tab-head" v-if="IncomeMode===1401">
        <li :class="tabActive == 1 ?'active':''" @click="setTab(1); FirstPlanEnter = true" :style="{ backgroundImage: tabActive == 1? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.AGENCY_PERCENTAGE_RECORD')}}</li>
        <li :class="tabActive == 2 ?'active':''" @click="setTab(2); FirstPlanEnter = true" :style="{ backgroundImage: tabActive == 2? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.AGENCY_COMMISSION_RECORD')}}</li>
      </ul>
      <ul class="tab-head" v-else>
        <li style="width: 100%; background-size: contain;" :class="tabActive == 2 ?'active':''" @click="setTab(2); FirstPlanEnter = true" :style="{ backgroundImage: tabActive == 2? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}">{{$t('lang.AGENCY_COMMISSION_RECORD')}}</li>
      </ul>

      <div class="userList-content">
        <van-list v-model="loading" :finished="finished" :finished-text="dataLst.finishedText" @load="onLoad" ref="list">
          <!-- 占成记录 -->
          <div class="item" v-for="(item,index) in dataLst.list" :key="index" v-show="tabActive==1">
            <ul class="lst">
              <li class="row">
                <div>{{item.LoginID}}</div>
                <div class="time">{{item.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
              </li>
              <li class="row">
                <div class="DepositSum">{{item.VRakeCostSum}}</div>
              </li>
            </ul>
            <transition name="draw">
              <ul class="child" v-show="item.check">
                <li class="row">
                  <div>{{$t('lang.USER_NAME')}}：{{item.LoginID}}</div>
                  <div>{{$t('lang.DETAILS_TEAM_SIZE')}}：
                    <span>{{item.TeamCount}}</span>
                  </div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_TIME_INTERVAL')}}：{{item.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_PERCENTAGE_AMOUNT')}}：
                    <span class="depositSum">{{item.VRakeCostSum}}</span></div>
                </li>
              </ul>
            </transition>
          </div>
          <!-- 码佣记录 -->
          <div class="item" v-for="(item,index) in dataLst.list" :key="index" v-show="tabActive==2">
            <ul class="lst">
              <li class="row">
                <div>{{item.LoginID}}</div>
                <div class="time">{{item.StartDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
              </li>
              <li class="row">
                <div class="DepositSum">{{item.TotalRakeIncomeAmt}}</div>
              </li>
            </ul>
            <transition name="draw">
              <ul class="child" v-show="item.check">
                <li class="row">
                  <div>{{$t('lang.USER_NAME')}}：{{item.LoginID}}</div>
                  <div>{{$t('lang.DETAILS_TEAM_SIZE')}}：
                    <span>{{item.VTotalUserCount}}</span>
                  </div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_TIME_INTERVAL')}}：{{item.StartDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{item.EndDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
                </li>
                <li class="row">
                  <div>{{$t('lang.AGENCY_COMMISSION_AMOUNT')}}：
                    <span class="depositSum">{{item.TotalRakeIncomeAmt}}</span></div>
                </li>
                <button class="seeBtn" @click="showCommissionDetail(item)" v-if="item.IsAutomatic===0">{{$t('lang.WITHDRAWAL_DETAIL')}}</button>
                <button class="seeBtn" @click="showViewPlan(item.MemberID)" v-if="item.CommisionIncomeMode !== 1402 &&item.IsAutomatic===0">{{$t('lang.USER_VIEW_PLAN')}}</button>
              </ul>
            </transition>
          </div>
          <div class="total_bar">
            <p>{{$t('lang.WITHDRAWAL_TOTAL')}}</p>
            <p>{{dataLst.total}}</p>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
    <commission-detail ref="commissionDetail"></commission-detail>
    <view-plan ref="viewPlan"></view-plan>
    <!-- <button class="seeBtn" @click='showCommissionDetail({
                "":1,
                "MemberID":153610,
                "CommisionIncomeMode":1402,
                "IsAutomatic":0,
                "LoginID":"yoyo03",
                "MemberType":"代理",
                "MinRakeIncomeRate":20, 
                "VMinRakeIncomeRate":"20%",
                "MaxRakeIncomeRate":20,
                "VMaxRakeIncomeRate":"20%",
                "TotalUserCount":3,
                "VTotalUserCount":"3",
                "TotalRakeIncomeAmt":120,
                "VTotalRakeIncomeAmt":"120",
                "StartDateTime":"2019-11-30T16:00:00Z",
                "StartDateTick":1575129600000, 
                "EndDateTime":"2019-12-22T15:59:59.999Z",
                "EndDateTick":1577030399999
           })'>查看详情</button>
    <button class="seeBtn" @click="showViewPlan">查看方案</button> -->
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import RegEx from "scripts/common/CommDef";
import CommUtility from "scripts/common/CommUtility";
import mainHeader from "@/components/mobile/sub/mainHeader";
import filterPopup from "@/components/mobile/filterPopup";
import viewPlan from "./viewPlan.vue";
import commissionDetail from "./commissionDetail.vue";
import { List } from "vant";

import moment from "moment";
import AgencyCenterService from "scripts/businessLogic/agencyCenterService";

export default {
  components: { mainHeader, [List.name]: List, filterPopup, viewPlan, commissionDetail },
  data() {
    return {
      tabActive: 1,
      HeaderTitle: this.$t("lang.AGENCY_COMMISSION"),
      inputObj: {
        LoginID: '',
        StartTime: moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD'),
        IsNextLayer: 0, // 是否包含下级 0 否 1 是
        IsContainsZero: 0, // 是否包含0数据（0：否，1：是)
        AgencyUser: ''
      },
      dataLst: {
        list: [],
        total: '0',
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      },
      loading: false,
      finished: false,
      FirstPlanEnter: true, // 首次搜索弹窗
      IncomeMode: 1401 // 1401占成+码佣 1402码佣
    };
  },
  watch: {
    $route(to, from) {
      this.setTab(1);
    }
  },
  activated() {
    this.childMsg({});
  },
  mounted() {
    // 展开每条详细信息
    $('.van-list').on('click', '.lst', function () {
      if (!$(".child").is(":animated")) { //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this).parent('.item').removeClass('check');
        } else {
          $(this).addClass('check');
          $(this).parent('.item').addClass('check');
        }
        $(this).siblings('.child').slideToggle(800);
      }
    });

    this.$VueUtils.setMyHeaderPosition();  // 处理头部CSS
    this.memberStatus();
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },

    showCommissionDetail: function (item) {
      this.$refs.commissionDetail.parentMsg(item, this.inputObj);
    },

    showViewPlan: function (userMementID) {
      this.$refs.viewPlan.parentMsg(userMementID);
    },

    showfilterPopup: function () {
      this.$refs.filter.parentMsg("commissionList", RegEx.Regex.LoginAccount);
      this.FirstPlanEnter = false;
    },

    setTab(active) {
      this.tabActive = active;
      this.dataLst = {
        list: [],
        total: '0',
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      };
      this.loading = false;
      this.finished = false;
      this.childMsg({});
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    childMsg(msg) {
      this.inputObj = {
        LoginID: msg.name || "",
        StartTime: msg.StartTime || moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        EndTime: msg.EndTime || moment(new Date()).format("YYYY-MM-DD"),
        IsNextLayer: msg.lowerLevel ? 1 : 0,
        IsContainsZero: msg.DatalessUser ? 1 : 0,
      };
      this.dataLst = {
        list: [],
        total: '',
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      };
      this.loading = false;
      this.finished = false;
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },
    onLoad() {
      if (this.tabActive == 1) {
        this.getRakeCostList();
      } else {
        this.getIBCommissionReport_Query();
      }
    },
    // 占成记录
    async getRakeCostList() {
      const inputObj = {
        IBMemberID: localStorage.getItem('CorrelationIBMemberId'), // 代理ID 必填
        StartTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.StartTime).format('YYYY-MM-DD')),
        EndTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.EndTime).format('YYYY-MM-DD')) + (24 * 60 * 60 - 1) * 1000, // 结束时间戳 必填
        LoginID: this.inputObj.LoginID, // 查询条件（用户名）
        IsNextLayer: this.inputObj.IsNextLayer,
        IsContainsZero: this.inputObj.IsContainsZero,
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadRakeCostList(inputObj);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.IBRakeCostList) {
          for (let item of data.Data.IBRakeCostList) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.VRakeCost_Total;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 是否已載入完全部
        // console.log('data.Data.PagingInfo.TotalCount', data.Data.PagingInfo.TotalCount,this.dataLst.list.length);
        if (!data.Data.PagingInfo.TotalCount || this.dataLst.list.length >= data.Data.PagingInfo.TotalCount) {
          this.finished = true;
          this.dataLst.finishedText = this.$t("lang.LIST_ALL_LOADED");
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t("lang.LIST_NO_DATA");
          }
        }
      } else {
        this.finished = true;
        this.dataLst.finishedText = "";
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"));
      }
    },
    // 码佣记录
    async getIBCommissionReport_Query() {
      const inputObj = {
        IB_LoginID: this.inputObj.LoginID,
        QueryStartTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.StartTime).format('YYYY-MM-DD')),
        // QueryStartTick: moment().month(moment().month()).startOf('month').format('YYYY-MM-DD'),
        // QueryStartTick: CommUtility.LocalTimeToUtcTicks(moment('2018-01-01').format('YYYY-MM-DD')),
        QueryEndTick: CommUtility.LocalTimeToUtcTicks(moment(this.inputObj.EndTime).format('YYYY-MM-DD')) + (24 * 60 * 60 - 1) * 1000,
        IsNextLayer: this.inputObj.IsNextLayer,
        IsContainsZero: this.inputObj.IsContainsZero,
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      };

      const data = await AgencyCenterService.LoadGetIBCommissionReportQuery(inputObj);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data && data.Data.IBCommissionList) {
          for (let item of data.Data.IBCommissionList) {
            item.check = false;
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.DataSubtotal.TotalRakeIncomeAmt;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 是否已載入完全部
        if (!data.Data.PagingInfo.TotalCount || this.dataLst.list.length >= data.Data.PagingInfo.TotalCount) {
          this.finished = true;
          this.dataLst.finishedText = this.$t("lang.LIST_ALL_LOADED");
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t("lang.LIST_NO_DATA");
          }
        }
      } else {
        this.finished = true;
        this.finishedText = "";
        EventBus.$emit("SHOW_TIP", this.$t("lang.DATA_LOAD_FAILED"));
      }
    },
    // 日期转时间戳
    formatDate(now) {
      var year = now.getFullYear();
      var month = now.getMonth() + 1;
      var date = now.getDate();
      var hour = now.getHours();
      var minute = now.getMinutes();
      var second = now.getSeconds();
      return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
    },
    // 获取当前会员状态
    async memberStatus() {
      const inputObj = {
        AcctID: localStorage.getItem('CorrelationIBMemberId')
      };
      const GameData = await AgencyCenterService.LoadMaxReverseGameListSetting(
        inputObj
      );
      // debugger;
      if (GameData.Ret === 0) {
        this.IncomeMode = GameData.Data.CommisionIncomeMode;
        if(this.IncomeMode!==1401){
          this.setTab(2);
        }
      }
      return this.QueryType;
    },
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  deactivated: function () {
    this.FirstPlanEnter = true;
  }
};
</script>

<style lang="less" scoped>
.tab-head {
  margin-bottom: 0;
  li {
    width: 50%;
    margin-bottom: 0;
  }
}

.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .row {
        .time {
          color: #b8b8b8;
        }
        div {
          color: white;
          font-size: 0.88rem;
        }
        .DepositSum {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
    }

    .child {
      padding: 0.6rem 0.9rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      opacity: 1;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          .depositSum {
            color: #d0a05d;
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .total_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0.9rem;
    height: 3.6rem;
    line-height: 3.6rem;
    p:nth-of-type(1) {
      font-size: 1rem;
      color: white;
    }
    p:nth-of-type(2) {
      color: #d0a05d;
      font-size: 1rem;
    }
  }
  .total_bar::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
</style>