<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap member-wrap agent-wrap">
      <!--头部-->
      <div class="main-header-box">
        <header>
          <input
            class="icon-back"
            type="button"
            name="Submit"
            onclick="javascript:history.back(-1);"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_back.png)'}"
          />
          <router-link class="switch-btn" :to="{name:'member'}" replace>{{$t('lang.MEMBER_CENTER')}}</router-link>
          <a class="switch-btn active" v-html="this.HeaderTitle"></a>
        </header>
      </div>
      <section v-if="this.MemberData.Acct" class="head-section">
        <div class="left">
          <img :src="MemberData.HeadImgUrl" />
          <p v-if="MemberData.Name">{{this.MemberData.Name}}</p>
        </div>
        <div class="fl">
          <p>
            <i>{{$t('lang.MEMBER_INDEX_ACCOUNT')}}: {{this.MemberData.Acct}}&emsp;&ensp;</i>
          </p>
          <p>
            <i>{{$t('lang.TRANSFER_AGENT_WALLET')}}: {{this.AgentBalance | moneyFormat}}</i>
            <span
              v-if="IsGetBalanceIng===true"
              class="LoadIcon"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/common/load.svg)'}"
            ></span>
            <!-- <a v-else class="btn btn-refresh" @click="GetBalance()">刷新</a> -->
          </p>
        </div>
      </section>
      <section v-else class="head-section">
        <div class="left">
          <img
            :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/avatar_default.png'"
          />
          <p>{{$t('lang.MEMBER_NOT_LOGGED_IN')}}</p>
        </div>
        <div class="fl">
          <p>
            <router-link :to="{name: 'login'}" class="btn">{{$t('lang.MEMBER_LOGIN')}}</router-link>
          </p>
        </div>
      </section>
      <section class="tab-section">
        <ul>
          <li>
            <router-link :to="{name: 'profitLoss'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon1.png'"
              />
              <p>{{$t('lang.AGENCY_PROFIT_LOSS')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'promotionManagement'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon2.png'"
              />
              <p>{{$t('lang.AGENCY_PLAN')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'userList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon3.png'"
              />
              <p>{{$t('lang.AGENCY_USER')}}</p>
            </router-link>
          </li>
          <!-- <li>
            <router-link :to="{name: 'accountChange'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon4.png'"
              />
              <p>{{$t('lang.AGENCY_DETAILS')}}</p>
            </router-link>
          </li>-->

          <!-- 新增 -->
          <li>
            <router-link :to="{name: 'accountChange'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon4.png'"
              />
              <p>{{$t('lang.DETAILS_TITLE')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'bettingList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon5.png'"
              />
              <p>{{$t('lang.AGENCY_BETTING')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'rechargeList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon6.png'"
              />
              <p>{{$t('lang.AGENCY_RECHARGE')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'cashList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon7.png'"
              />
              <p>{{$t('lang.AGENCY_CASH')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'commissionList'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon8.png'"
              />
              <p>{{$t('lang.AGENCY_COMMISSION')}}</p>
            </router-link>
          </li>
          <!-- 新增 -->
          <li>
            <router-link :to="{name: 'transferAccount'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon9.png'"
              />
              <p>{{$t('lang.AGENCY_TRANSFER')}}</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'selfTreatment'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon10.png'"
              />
              <p>{{$t('lang.SELF_TREATMENT')}}</p>
            </router-link>
          </li>
          <!-- <li>
            <router-link :to="{name: 'agentAudit'}">
              <img
                :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/agency/module-icon11.png'"
              />
              <p>{{$t('lang.AGENCY_AUDIT')}}</p>
            </router-link>
          </li>-->
        </ul>
      </section>
      <section class="footer-section">
        <div class="left">
          <img :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/member/img_scan.png'" />
        </div>
        <div class="right">
          <p>{{$t('lang.MEMBER_SET_QRCODE')}}</p>
          <a
            href="javascript:void(0)"
            class="btn"
            data-toggle="modal"
            data-target="#scanModal"
          >{{$t('lang.MEMBER_Generate_QRCODE')}}</a>
        </div>
      </section>

      <!-- 生成二维码 -->
      <scan-modal :UserInfo="this.UserInfo" v-if="this.UserInfo.userId" :Source="'Agency'"></scan-modal>
    </article>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/agency/index.less';
</style>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import scanModal from '@/components/mobile/sub/member/scanModal';

import CommonService from 'scripts/businessLogic/commonService';
import LoginService from 'scripts/businessLogic/loginService';
import SignalRService from 'scripts/common/SignalRService';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.AGENCY_CENTER'),
      MemberData: {},
      AgentBalance: '0', //代理钱包
      IsGetBalanceIng: false, //是否正在获取代理钱包余额
      IsWX: false, //是否微信登录
      //推广二维码包含信息
      UserInfo: {
        userId: undefined,
        userType: undefined
      },
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    };
  },
  created: function() {
    let that = this;
    that.Load();
    this.GetAgentBalance();
    // 更新代理钱包
    EventBus.$on('UpdateAgentBalance', data => {
      console.log('-----------------GetAgentBalance');
      this.GetAgentBalance();
    });
  },
  watch: {
    $route(to, from) {
      if(to.path == '/agency'){
        this.GetAgentBalance();
      }
    }
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.GetMemberInfo();
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    //获取用户信息
    GetMemberInfo: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await CommonService.Comm_GetMemberInfo();
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Data && data.Data.Member) {
        this.MemberData = data.Data.Member;
        this.MemberData.HeadImgUrl =
          this.ResourceCDN +
          '/EditionImg-mobile/Lambor1.0/images/mobile/member/avatar.jpg';
        //					this.MemberData.Name = this.MemberData.Acct;

        this.UserInfo.userId = this.MemberData.AcctID;
        this.UserInfo.userType = this.MemberData.AcctID;

        let WXobj = null;
        if (localStorage.getItem('WXobj')) {
          WXobj = JSON.parse(localStorage.getItem('WXobj'));
          if (WXobj && WXobj.Name) {
            this.IsWX = true;
            this.MemberData.Name = WXobj.Name;
            this.MemberData.HeadImgUrl = WXobj.HeadImgUrl;
            this.MemberData.AcctPwdEnabled = WXobj.AcctPwdEnabled;
            this.MemberData.BankCardAdded = WXobj.BankCardAdded;
          }
        }
      }
    },
    GetAgentBalance: async function() {
      this.AgentBalance = localStorage.getItem('AgentBalance') || '0';
      this.IsGetBalanceIng = true;
      const dataObj = {
        MemberID: 1,
        Agent: localStorage.getItem('CorrelationIBMemberId')
        // StartTick: CommUtility.LocalTimeToUtcTicks(
        //   this.DisplayQueryObj.StartTime
        // ),
        // EndTick:
        //   CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) +
        //   (24 * 60 * 60 - 1) * 1000
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.TeamVariousTotal_LoadMainPage(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('------------------TeamVariousTotal_LoadMainPage');
      console.log(data);
      if (data.Ret === 0) {
        this.AgentBalance = data.Data.AgentWallet;
      }
      this.IsGetBalanceIng = false;
      localStorage.setItem('AgentBalance', this.AgentBalance);
    }
  },
  beforeDestroy() {
    EventBus.$off('UpdateAgentBalance');
  },
  components: {
    mainHeader,
    scanModal
  }
};
</script>