<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap profitLoss-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="profitLoss-content">
        <section>
          <ul class="card-section">
            <li class="card-section-li" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamPlayer.png)'}">
              <p class="num">{{TeamPlayerTotal}}</p>
              <span class="text">{{$t('lang.PROFIT_LOSS_TEAM_PLAYER')}}</span>
            </li>
            <li class="card-section-li" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/directlyUnderPlayer.png)'}">
              <p class="num">{{DirectPlayerTotal}}</p>
              <span class="text">{{$t('lang.PROFIT_LOSS_DIRECT_PLAYER')}}</span>
            </li>
            <li class="card-section-li" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamAgency.png)'}">
              <p class="num">{{TeamAgentTotal}}</p>
              <span class="text">{{$t('lang.PROFIT_LOSS_TEAM_AGENCY')}}</span>
            </li>
            <li class="card-section-li" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/directlyUnderAgency.png)'}">
              <p class="num">{{DirectAgentTotal}}</p>
              <span class="text">{{$t('lang.PROFIT_LOSS_DIRECT_AGENCY')}}</span>
            </li>
          </ul>
        </section>
        <div class="profitLoss-wrap-bt mt-15">
          <section class="tab-section">
            <div class="row">
              <!-- 开始时间 -->
              <input
                type="date"
                class="form-control"
                name="StartTime"
                v-model="QueryConditions.StartTime"
                v-validate="{ rules: { required: true }}"
              />
              <!-- 结束时间 -->
              <input
                type="date"
                class="form-control"
                name="EndTime"
                v-model="QueryConditions.EndTime"
                v-validate="{ rules: { required: true }}"
              />
              <a class="btn btn-bind" @click="SearchData()">{{$t('lang.BUTTON_QUERY')}}</a>
            </div>
            <p
              class="error-tip"
              v-if="errors.has('StartTime') && fields.StartTime.touched"
            >* {{$t('lang.TIME_START_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="errors.has('EndTime') && fields.EndTime.touched"
            >* {{$t('lang.TIME_END_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="this.QueryConditions.EndTime < this.QueryConditions.StartTime"
            >* {{$t('lang.TIME_OVER_TIP')}}</p>
            <p
              class="error-tip"
              v-else-if="this.QueryConditions.EndTime > this.NowDate || this.QueryConditions.StartTime > this.NowDate"
            >* {{$t('lang.TIME_FUTURE_FORBID')}}</p>
          </section>
          <!-- 个人总计 -->
          <div class="profitLoss-bt-item mt-15">
            <h2 class="profitLoss-item-title">
              <span>{{$t('lang.PROFIT_LOSS_INDIVIDUAL_TOTAL')}}</span>
            </h2>
            <div class="profitLoss-item-report">
              <ul class="report-ul agent-wallet-ul">
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo1.png)'}">
                  <h5>
                    <span>
                      {{PersonalProfitAndLoss}}
                      <!-- <i
                        class="symbol"
                        v-if="PersonalProfitAndLoss > 999999"
                      >+</i> -->
                    </span>
                  </h5>
                  <p>{{$t('lang.PROFIT_LOSS_PERSONAL')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo2.png)'}">
                  <h5>{{PersonalDigitalCommissionAmount === null? '-':PersonalDigitalCommissionAmount}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_CODE_INCOME')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo3.png)'}">
                  <h5>{{PersonalOccupation === null? '-':PersonalOccupation}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_PERCENTAGE_INCOME')}}</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- 人数统计 -->
          <div class="profitLoss-bt-item">
            <h2 class="profitLoss-item-title">
              <span>{{$t('lang.PROFIT_LOSS_POPULATION_STATISTICS')}}</span>
            </h2>
            <div class="profitLoss-item-report">
              <ul class="report-ul people-statistics-ul">
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo1.png)'}" >
                  <h5>{{RegisterTotalNumber}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_NEW_REGISTRATIONS')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo2.png)'}">
                  <h5>{{LandingTotalNumber}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_LOGIN_NUMBER')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo3.png)'}">
                  <h5>{{RechargeTotalNumber}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_TOTAL_RECHARGE')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo4.png)'}">
                  <h5>{{FirstRechargeNumber}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_FIRST_FILLING')}}</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- 团队统计 -->
          <div class="profitLoss-bt-item">
            <h2 class="profitLoss-item-title">
              <span>{{$t('lang.PROFIT_LOSS_TEAM_STATISTICS')}}</span>
            </h2>
            <div class="profitLoss-item-report">
              <ul class="report-ul team-statistics-ul">
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo1.png)'}">
                  <h5>{{TotalRecharge}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_RECHARGE')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo2.png)'}">
                  <h5>{{CashWithdrawalAmount}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_WITHDRAWAL')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo3.png)'}">
                  <h5>{{RechargeDifference}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_DIFFERENCE')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo4.png)'}">
                  <h5>{{TotalWinLoss === null? '-': TotalWinLoss}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_PERCENTAGE')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo5.png)'}">
                  <h5>{{Commission === null? '-': Commission}}</h5>
                  <p>{{$t('lang.PROFIT_LOSS_CODE')}}</p>
                </li>
                <li class="report-ulLi" :style="{backgroundImage:'url(' + ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo6.png)'}">
                  <h5>
                    <span>
                      {{TeamProfitAndLoss === null? '-': TeamProfitAndLoss}}
                      <!-- <i class="symbol" v-if="TeamProfitAndLoss > 0">-</i> -->
                    </span>
                  </h5>
                  <p>{{$t('lang.PROFIT_LOSS_TEAM')}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';

import moment from 'moment';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.PROFIT_LOSS_TITLE'),
      TeamPlayerTotal: 0,
      DirectPlayerTotal: 0,
      DirectAgentTotal: 0,
      TeamAgentTotal: 0,
      AgentWallet: 0,
      PersonalProfitAndLoss: 0,
      PersonalDigitalCommissionAmount: 0,
      PersonalOccupation: 0,
      LandingTotalNumber: 0,
      RechargeTotalNumber: 0,
      FirstRechargeNumber: 0,
      TotalRecharge: 0,
      CashWithdrawalAmount: 0,
      RechargeDifference: 0,
      TotalWinLoss: 0,
      Commission: 0,
      TeamProfitAndLoss: 0,
      RegisterTotalNumber: 0,
      QueryConditions: {
        StartTime: moment(new Date())
          .isoWeekday(1)
          .format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD')
      },
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      // 大于当前时间
      NowDate: moment(new Date()).format('YYYY-MM-DD')
    };
  },
  activated: function() {
    this.GetTeamProfitAndLossData();
    this.GetTeamVariousTotalData();
  },
  methods: {
    SearchData: async function() {
      // 验证
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied();

      if (anyFieldInvalid === true || result === false) {
        return;
      }
      // 格式化时间
      this.QueryConditions.StartTime = moment(
        this.QueryConditions.StartTime
      ).format('YYYY-MM-DD');
      this.QueryConditions.EndTime = moment(
        this.QueryConditions.EndTime
      ).format('YYYY-MM-DD');

      this.GetTeamProfitAndLossData();
      this.GetTeamVariousTotalData();
    },
    // 载入团队盈亏主页面资料
    GetTeamProfitAndLossData: async function() {
      const dataObj = {
        MemberID: localStorage.getItem('CorrelationIBMemberId')
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.TeamProfitAndLoss_LoadMainPage(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('------------------TeamProfitAndLoss_LoadMainPage');
      console.log(data);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TeamAgentTotal = data.Data.TeamAgentTotal;
        this.DirectAgentTotal = data.Data.DirectAgentTotal;
        this.DirectPlayerTotal = data.Data.DirectPlayerTotal;
        this.TeamPlayerTotal = data.Data.TeamPlayerTotal;
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    //  载入个人总计-人数统计-团队盈亏总数量
    GetTeamVariousTotalData: async function() {
      const dataObj = {
        MemberID: 1,
        Agent: localStorage.getItem('CorrelationIBMemberId'),
        StartTick: CommUtility.LocalTimeToUtcTicks(
          this.QueryConditions.StartTime
        ),
        EndTick:
          CommUtility.LocalTimeToUtcTicks(this.QueryConditions.EndTime) +
          (24 * 60 * 60 - 1) * 1000
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.TeamVariousTotal_LoadMainPage(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('------------------TeamVariousTotal_LoadMainPage');
      console.log(data);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.AgentWallet = data.Data.AgentWallet;
        this.PersonalProfitAndLoss = data.Data.PersonalProfitAndLoss;
        this.PersonalDigitalCommissionAmount =
          data.Data.PersonalDigitalCommissionAmount;
        this.PersonalOccupation = data.Data.PersonalOccupation;
        this.LandingTotalNumber = data.Data.LandingTotalNumber;
        this.RechargeTotalNumber = data.Data.RechargeTotalNumber;
        this.FirstRechargeNumber = data.Data.FirstRechargeNumber;
        this.TotalRecharge = data.Data.TotalRecharge;
        this.CashWithdrawalAmount = data.Data.CashWithdrawalAmount;
        this.RechargeDifference = data.Data.RechargeDifference;
        this.TotalWinLoss = data.Data.TotalWinLoss;
        this.Commission = data.Data.Commission;
        this.TeamProfitAndLoss = data.Data.TeamProfitAndLoss;
        this.RegisterTotalNumber = data.Data.RegisterTotalNumber;
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
    },
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      // 開始日期大於結束日期
      if (
        this.QueryConditions.StartTime !== undefined &&
        this.QueryConditions.EndTime !== undefined
      ) {
        if (
          new Date(this.QueryConditions.StartTime) >
          new Date(this.QueryConditions.EndTime)
        ) {
          anyInvalid = true;
        }
      }
      // 大于当前日期
      if (
        new Date(this.QueryConditions.StartTime) > new Date() ||
        new Date(this.QueryConditions.EndTime) > new Date()
      ) {
        anyInvalid = true;
      }
      return anyInvalid;
    } // end 驗證搜尋欄位正確性
  },
  components: { mainHeader },
  deactivated: function() {
    this.QueryConditions.StartTime = moment(new Date())
      .isoWeekday(1)
      .format('YYYY-MM-DD');
    this.QueryConditions.EndTime = moment(new Date()).format('YYYY-MM-DD');
  }
};
</script>