<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap plan-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="ProgrammeList-content">
        <section class="tab-section">
          <form novalidate="novalidate" class="addcard-form">
            <div class="row input-group">
              <label>{{$t('lang.PLAN_NAME')}}</label>
              <input
                type="text"
                name="TempName"
                v-model.trim="PlanDisplayQueryObj.TempName"
                v-validate="{ rules: { regex:Reg.PlanName}}"
                @keyup="TestAllEmpty()"
                class="form-control input-control"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </div>
            <div class="row">
              <!-- 开始时间 -->
              <input
                type="date"
                class="form-control"
                name="StartTime"
                :placeholder="$t('lang.TIME_ENTER_START')"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_START'))"
                v-model="PlanDisplayQueryObj.StartTime"
              />
              <!-- 结束时间 -->
              <input
                type="date"
                class="form-control"
                name="EndTime"
                :placeholder="$t('lang.TIME_ENTER_END')"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_END'))"
                v-model="PlanDisplayQueryObj.EndTime"
              />
              <a class="btn btn-bind" @click="QueryPlans()">{{$t('lang.BUTTON_QUERY')}}</a>
            </div>
          </form>
          <p
            class="error-tip"
            v-show="errors.has('TempName') && fields.TempName.touched"
          >* {{$t('lang.PLAN_NAME_TIP')}}</p>
          <!-- <p class="error-tip" v-show="AllEmpty">* {{$t('lang.PLAN_NAME_EMPTY')}}</p> -->
          <p
            class="error-tip"
            v-if="this.PlanDisplayQueryObj.EndTime !== '' &&
        this.PlanDisplayQueryObj.StartTime === ''"
          >* {{$t('lang.TIME_START_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.PlanDisplayQueryObj.StartTime !== '' &&
        this.PlanDisplayQueryObj.EndTime === ''"
          >* {{$t('lang.TIME_END_TIP')}}</p>
          <p
            class="error-tip"
            v-if="this.Submitted === true && this.TimeSequenceInvalid === true"
          >* {{$t('lang.TIME_OVER_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.PlanDisplayQueryObj.EndTime > this.NowDate || this.PlanDisplayQueryObj.StartTime > this.NowDate"
          >* {{$t('lang.TIME_FUTURE_FORBID')}}</p>
        </section>
        <section class="list-table">
          <div class="table">
            <table cellpadding="0" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <td>{{$t('lang.PLAN_NAME')}}</td>
                  <td>{{$t('lang.PLAN_URL')}}</td>
                  <td>{{$t('lang.PLAN_QR_CODE')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in ProgrammeList" :key="index">
                  <td>{{item.TempName | simpleContent(10)}}</td>
                  <td @click="BindCopy($event)">
                    <span>{{WebVersionHost + item.ExtensionLink}}</span>
                  </td>
                  <td @click="AlertCode(item)">
                    <img class="codeImg" :src="item.ExtensionQRCode" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <p class="scroll-footer-tip"></p>
      </div>
    </article>
    <alert-code :CodeUrl="CodeUrl" :PlanName="AlertPlanName"></alert-code>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import AlertCode from '@/components/mobile/sub/agency/promotionPlan/alertQRcode';

import moment from 'moment';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.PLAN_TITLE'),
      // 正則表達式
      Reg: RegEx.Regex,
      ProgrammeList: [], // 瀑布式資料陣列
      LogTotalCount: undefined, // 瀑布式记录总数
      MaxPage: undefined, // 瀑布式最大頁數
      CurrentPage: 0, // 瀑布式當前頁數
      waterfallLock: false, // 瀑布式的Lock
      PlanDisplayQueryObj: {
        // 瀑布式分页
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        },
        TempName: '',
        StartTime: '',
        EndTime: ''
      },
      // 大于当前时间
      NowDate: moment(new Date()).format('YYYY-MM-DD'),
      IsAllShow: false, // 是否已載入完全部
      Submitted: false,
      TimeSequenceInvalid: false,
      AllEmpty: false,
      WebVersionHost: location.origin,
      CodeUrl: undefined, // 弹出的二维码
      AlertPlanName: undefined // 弹出的方案名
    };
  },
  activated: function() {
    this.Load();
    this.BindWaterFallEvent();
    this.LoadPlans();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
        this.ModalHeight();
      });
    },
    //弹窗高度
    ModalHeight: function() {
      $('#alertQRcodeModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#alertQRcodeModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 首次加载列表数据
    LoadPlans: async function() {
      const PlansObj = {
        TempName: this.PlanDisplayQueryObj.TempName,
        CreateStartDateTick: CommUtility.LocalTimeToUtcTicks(
          this.PlanDisplayQueryObj.StartTime
        ),
        CreateEndDateTick:
          CommUtility.LocalTimeToUtcTicks(this.PlanDisplayQueryObj.EndTime) +
          24 * 60 * 60 * 1000,
        PagingInfo: {
          PageSize: this.PlanDisplayQueryObj.PagingInfo.PageSize,
          PageNo: this.PlanDisplayQueryObj.PagingInfo.PageNo
        }
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPageLoad(PlansObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPageLoad');
      console.log(this.PlanDisplayQueryObj.EndTime);
      console.log(data);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.$store.dispatch(
          'plan/setMemberExtensionQRCodeVal',
          data.Data.MemberExtensionQRCode
        );
        this.$store.dispatch(
          'plan/setMemberExtensionUrlVal',
          data.Data.MemberExtensionUrl
        );
        if (data.Data.ProgrammeList.length) {
          this.ProgrammeList = this.ProgrammeList.concat(
            data.Data.ProgrammeList
          );
        }
        this.LogTotalCount = data.Data.PageInfo.TotalCount;
        this.MaxPage = Math.ceil(
          this.LogTotalCount / this.PlanDisplayQueryObj.PagingInfo.PageSize
        );
        this.CurrentPage++; // 是否已載入完全部
        if (this.ProgrammeList.length == this.LogTotalCount) {
          this.IsAllShow = true;
          $('.scroll-footer-tip').html(this.$t('lang.LIST_ALL_LOADED'));
          if (this.ProgrammeList.length < 1) {
            $('.scroll-footer-tip').html(this.$t('lang.LIST_NO_DATA'));
          }
        } else {
          this.IsAllShow = false;
          $('.scroll-footer-tip').html('');
        }
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMessage', notifyData);
      }
      this.waterfallLock = false;
    },
    // 搜索列表
    QueryPlans: async function() {
      this.Submitted = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied();

      if (anyFieldInvalid === true || result === false) {
        return;
      }
      // if (
      //   this.PlanDisplayQueryObj.TempName.length > 0 &&
      //   /^[\s]*$/.test(this.PlanDisplayQueryObj.TempName)
      // ) {
      //   return;
      // }
      this.ProgrammeList = [];
      this.CurrentPage = 0;
      this.PlanDisplayQueryObj.PagingInfo.PageNo = 1;
      this.waterfallLock = false;
      this.LoadPlans();
    },
    TestAllEmpty: function() {
      if (
        this.PlanDisplayQueryObj.TempName.length > 0 &&
        /^[\s]*$/.test(this.PlanDisplayQueryObj.TempName)
      ) {
        this.AllEmpty = true;
      } else {
        this.AllEmpty = false;
      }
    },
    //绑定瀑布流事件
    BindWaterFallEvent: function() {
      CommUtility.AgentBindWaterfallTable(96, this.MainShowMoreData);
    },
    // 瀑布式載入更多項目
    MainShowMoreData: function() {
      if (this.waterfallLock === false) {
        this.waterfallLock = true;
        if (this.CurrentPage < this.MaxPage) {
          this.PlanDisplayQueryObj.PagingInfo.PageNo++;
          this.LoadPlans();
        } else {
          this.waterfallLock = false;
        }
      }
    }, // end MainShowMoreData
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // 開始時間未選
      if (
        this.PlanDisplayQueryObj.EndTime !== '' &&
        this.PlanDisplayQueryObj.StartTime === ''
      ) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (
        this.PlanDisplayQueryObj.StartTime !== '' &&
        this.PlanDisplayQueryObj.EndTime === ''
      ) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.PlanDisplayQueryObj.StartTime !== undefined &&
        this.PlanDisplayQueryObj.EndTime !== undefined
      ) {
        if (
          new Date(this.PlanDisplayQueryObj.StartTime) >
          new Date(this.PlanDisplayQueryObj.EndTime)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }
      // 大于当前日期
      if (
        new Date(this.PlanDisplayQueryObj.StartTime) > new Date() ||
        new Date(this.PlanDisplayQueryObj.EndTime) > new Date()
      ) {
        anyInvalid = true;
      }
      return anyInvalid;
    }, // end 驗證搜尋欄位正確性
    DelDatePlaceholder: function(ele) {
      ele.target.removeAttribute('placeholder');
    },
    //添加日历类型默认提示
    SetDatePlaceholder: function(ele, text) {
      if (!ele.target.value) {
        ele.target.setAttribute('placeholder', text);
      }
    },
    //复制链接
    BindCopy: function(e) {
      console.log(e.target);
      const range = document.createRange();
      //复制节点对象
      range.selectNode(e.target);
      const selection = window.getSelection();
      if (selection.rangeCount > 0) selection.removeAllRanges();
      //选择复制范围
      selection.addRange(range);
      document.execCommand('Copy');

      EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_COPY_SUCCESS')); //复制成功提示
    },
    // 弹出二维码
    AlertCode: function(item) {
      this.CodeUrl = item.ExtensionQRCode;
      this.AlertPlanName = item.TempName;
      $('#alertQRcodeModal').modal('show');
    }
  },
  components: { mainHeader, AlertCode },
  deactivated: function() {
    // 解绑滚动监听事件
    $('#wrapper').unbind('scroll');
    // 离开缓存组件时初始化组件数据
    this.ProgrammeList = [];
    this.waterfallLock = false;
    this.PlanDisplayQueryObj.PagingInfo.PageNo = 1;
    this.CurrentPage = 0;
    this.IsAllShow = false;
    this.PlanDisplayQueryObj.TempName = '';
    this.Submitted = false;
    this.TimeSequenceInvalid = false;
    this.PlanDisplayQueryObj.StartTime = this.PlanDisplayQueryObj.EndTime = '';
    $('input[name="StartTime"]').attr(
      'placeholder',
      this.$t('lang.TIME_ENTER_START')
    );
    $('input[name="EndTime"]').attr(
      'placeholder',
      this.$t('lang.TIME_ENTER_END')
    );
    this.$validator.reset();
  }
};
</script>