<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em
        class="filter-icon"
        @click="showfilterPopup"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"
        v-show="ShowTab===2"
      ></em>
      <em
        class="filter-icon icon"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-add.png)'}"
        v-show="ShowTab===2"
        @click="AddPlans()"
      ></em>
      <!-- <van-icon name="plus" class="icon" v-show="ShowTab===2" @click="AddPlans()" /> -->
      <ul class="tab-head">
        <li
          :class="ShowTab===1 ?'active':''"
          @click="ChangeTab(1)"
          :style="{ backgroundImage: ShowTab===1 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
        >{{$t('lang.PROMOTION_ACCOUNT_MANAGEMENT')}}</li>
        <li
          :class="ShowTab===2 ?'active':''"
          @click="ChangeTab(2)"
          :style="{ backgroundImage: ShowTab===2 ? 'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png)' : ''}"
        >{{$t('lang.PROMOTION_LINK_TREATMENT')}}</li>
      </ul>
      <section v-show="ShowTab===1">
        <div class="content">
          <p class="warm-tip">{{$t('lang.PROMOTION_WARM_TIP')}}</p>
          <div class="row input-group">
            <i class="prefix">{{NamePrefix}}</i>
            <input
              type="text"
              name="Acct"
              v-model="RegistObj.Acct"
              v-validate="{ rules: { regex:Reg.AgencyUser, required: true }}"
              @blur="$VueUtils.SetFooterBar('show');CheckAcctAvailable()"
              :placeholder="$t('lang.PROMOTION_ENTER_ACCOUNT')"
              :disabled="DisabledFlag"
              class="form-control"
              @focus="$VueUtils.SetFooterBar('hide')"
            />
          </div>
          <p
            class="ipt-tip"
            v-show="errors.has('Acct') && fields.Acct.touched && FieldsAcctName"
          >{{$t('lang.PROMOTION_ACCOUNT_TIP')}}</p>
          <p
            class="ipt-tip"
            v-show="!errors.has('Acct') && !AcctAvailable"
          >{{$t('lang.REGISTER_ACCOUNT_USED')}}</p>
          <!-- <div class="content-box overflow-hidden">
            <h5 class="content-title fl">{{$t('lang.PROMOTION_AGENCY_TREATMENT')}}</h5>
            <ul class="pay-way-options">
              <li
                :class="{'hasblock': AgencyTreatment === 1}"
                @click="ChangeAgencyTreatment(1)"
                v-if="!CannotChoose"
              >{{$t('lang.PROMOTION_ACCOUNT_FOR')}}
                <em class="before_icon"></em>
                <em class="after_icon" v-if="AgencyTreatment === 1"></em>
              </li>
              <li class="disabled" v-else>{{$t('lang.PROMOTION_ACCOUNT_FOR')}}
                <em class="before_icon"></em>
                <em class="after_icon" v-if="AgencyTreatment === 1"></em>
              </li>
              <li
                :class="{'hasblock': AgencyTreatment === 2}"
                @click="ChangeAgencyTreatment(2)"
              >{{$t('lang.PROMOTION_COMMISSION')}}
                <em class="before_icon"></em>
                <em class="after_icon" v-if="AgencyTreatment === 2"></em>
              </li>
            </ul>
          </div>-->
          <section>
            <div class="content-box settings">
              <h5
                class="content-title"
                v-if="AgencyTreatment===1"
              >{{$t('lang.PROMOTION_SPLIT_SETTINGS')}}</h5>
              <a class="btn btn-purple" @click="TriggerMould()">{{$t('lang.PROMOTION_USE_MODULE')}}</a>
            </div>
            <section v-if="AgencyTreatment===1">
              <ul class="game-type">
                <li
                  v-for="(li,index) in ValueListItem"
                  :key="index"
                  @click="CurrentGameTypeName = li.GroupName"
                  :class="{'active':CurrentGameTypeName == li.GroupName}"
                >{{li.GroupName}}</li>
              </ul>
              <div
                class="content-box"
                v-for="(li,index) in ValueListItem"
                :key="index"
                v-show="CurrentGameTypeName == li.GroupName"
              >
                <h5 class="content-title margin-bott">{{li.GroupName}}</h5>
                <div class="input-group right-padd">
                  <input
                    v-model="li.tabValueName"
                    @input="TabValueKey(li.tabValueName,index,$event)"
                    type="number"
                    class="form-control"
                  />
                  <i class="percentage">%</i>
                </div>
              </div>
              <div class="content-box">
                <h5 class="content-title margin-bott">{{$t('lang.PROMOTION_GAME_VENDOR')}}</h5>
                <ul
                  v-for="(li,index) in ValueListItem"
                  :key="index"
                  v-show="CurrentGameTypeName == li.GroupName"
                  class="game-vendor"
                >
                  <li v-for="(liList,key) in li.GroupList" :key="key">
                    <label>{{liList.GameApiName}}</label>
                    <div class="input-group right-padd">
                      <input
                        type="number"
                        v-model="liList.RevenueRate"
                        @input="Treatmentvailable(liList,index,key,$event);"
                        :placeholder="$t('lang.PROMOTION_HIGHEST_PORPORTION')+liList.MaxRevenueRate+'%'"
                        class="form-control"
                      />
                      <i class="percentage">%</i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="right-padd input-group have-tip">
                <input
                  type="number"
                  @blur="IBBonusvailable(IBBonusName)"
                  v-model="IBBonusName"
                  @input="OninputIBBonusvailable"
                  :placeholder="$t('lang.PROMOTION_BONUS_PERCENTAGE')"
                  class="form-control"
                />
                <i class="percentage">%</i>
                <p class="small-tip">{{$t('lang.PROMOTION_REMAIN_BONUS')}}{{MaxIBBonusRevenueRate}}%</p>
              </div>
            </section>
          </section>
          <div v-if="AutoUpgradeFlag==1" class="black-desc">{{$t('lang.PROMOTION_AUTO_UP')}}</div>
          <div class="right-padd input-group have-tip" v-else>
            <input
              @blur="Revrsevailable(RevrseName)"
              v-model="RevrseName"
              type="number"
              @input="OninputRevrsevailable"
              :placeholder="$t('lang.PROMOTION_ENTER_COMMISSION')"
              class="form-control"
            />
            <i class="percentage">%</i>
            <p class="small-tip">{{$t('lang.PROMOTION_REMAIN_COMMISSION')}}{{ReverseWater}}%</p>
          </div>
          <p class="black-desc">{{$t('lang.PROMOTION_SETTLEMENT_METHOD')}}{{CycleName}}</p>
          <div class="flex-box">
            <a
              class="btn btn-gold"
              v-if="AutoUpgradeFlag!=1 || (AutoUpgradeFlag==1&&AgencyTreatment !== 2)"
              @click="PreserveBtn(IncomeMode)"
              v-html="$t('lang.PROMOTION_SAVE_MODULE')"
            ></a>
            <a
              class="btn btn-gold"
              @click="Submission(IncomeMode)"
              v-html="$t('lang.PROMOTION_REGISTE')"
            ></a>
          </div>
        </div>
      </section>
      <section v-if="ShowTab===2">
        <div class="list-content">
          <ol class="title lst">
            <li>{{$t('lang.PLAN_NAME')}}</li>
            <li>{{$t('lang.PROMOTION_PROGRAMME_CATEGORY')}}</li>
            <li>{{$t('lang.PLAN_URL')}}</li>
            <li>{{$t('lang.PLAM_DETAIL')}}</li>
          </ol>
          <van-list
            v-model="loading"
            :finished="finished"
            :finished-text="dataLst.finishedText"
            @load="onLoad"
            ref="list"
          >
            <!-- <div class="item">
              <ul class="lst">
                <li class="row">
                  <div>{{$t('lang.PLAN_MEMBER_CODE')}}</div>
                </li>
                <li class="row url">
                  <div>{{WebVersionHost + MemberExtensionUrl}}</div>
                </li>
                <li class="row">
                  <img
                    class="arrow"
                    :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/plan/arrow.png'"
                  />
                </li>
              </ul>
              <ul class="child" v-show="false">
                <li class="row">
                  <div>
                    <label>{{$t('lang.PLAN_NAME')}}：</label>
                    <span>{{$t('lang.PLAN_MEMBER_CODE')}}</span>
                  </div>
                </li>
                <li class="row">
                  <div>
                    <label>{{$t('lang.PLAN_SAVE_TIME')}}：</label>
                    <span>{{MemberExtensionCreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
                  </div>
                </li>
                <li class="row">
                  <div class="url">
                    <label>{{$t('lang.PLAN_URL')}}：</label>
                    <span id="copyMemberObj">{{WebVersionHost + MemberExtensionUrl}}</span>
                    <i
                      class="copy"
                      @click="BindCopy('copyMemberObj')"
                    >{{$t('lang.PROMOTION_COPY_URL')}}</i>
                  </div>
                </li>
                <li class="row">
                  <div class="code">
                    <label>{{$t('lang.PLAN_QR_CODE')}}：</label>
                    <img
                      :src="MemberExtensionQRCode"
                      class="codeImg"
                      @click="AlertCode(MemberExtensionQRCode,$t('lang.PLAN_MEMBER_CODE'))"
                    />
                  </div>
                </li>
              </ul>
            </div>-->
            <div class="item" v-for="(item,index) in dataLst.list" :key="index">
              <ul class="lst">
                <li class="row">
                  <div>{{item.TempName}}</div>
                </li>
                <li class="row">
                  <div v-if="item.MemberType==4">{{$t('lang.TRANSFER_MEMBER')}}</div>
                  <div v-if="item.MemberType==3">{{$t('lang.TRANSFER_AGENCY')}}</div>
                </li>
                <li class="row url">
                  <div>{{WebVersionHost + item.ExtensionLink}}</div>
                </li>
                <li class="row">
                  <img
                    class="arrow"
                    :src="$ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/plan/arrow.png'"
                  />
                </li>
              </ul>
              <ul class="child" v-show="false">
                <li class="row">
                  <div>
                    <label>{{$t('lang.PLAN_NAME')}}：</label>
                    <span>{{item.TempName}}</span>
                  </div>
                </li>
                <li class="row">
                  <div>
                    <label>{{$t('lang.PLAN_SAVE_TIME')}}：</label>
                    <span>{{item.CreateDateTimeTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
                  </div>
                </li>
                <li class="row">
                  <div class="url">
                    <label>{{$t('lang.PLAN_URL')}}：</label>
                    <span :id="'copyObj'+index">{{WebVersionHost + item.ExtensionLink}}</span>
                    <i
                      class="copy"
                      @click="BindCopy('copyObj'+index)"
                      :id="WebVersionHost + item.ExtensionLink"
                    >{{$t('lang.PROMOTION_COPY_URL')}}</i>
                  </div>
                </li>
                <li class="row">
                  <div class="code">
                    <label>{{$t('lang.PLAN_QR_CODE')}}：</label>
                    <img
                      class="codeImg"
                      :src="item.ExtensionQRCode"
                      @click="AlertCode(item.ExtensionQRCode,item.TempName)"
                    />
                  </div>
                </li>
                <li class="operate" v-if="item.MemberType!=4">
                  <a class="reset" @click="EditPlans(item)" v-html="$t('lang.BUTTON_EDIT')"></a>
                  <a
                    class="save"
                    @click="DeletePlansMethods(item)"
                    v-html="$t('lang.BUTTON_DELETE')"
                  ></a>
                </li>
              </ul>
            </div>
          </van-list>
        </div>

        <!-- <a class="btn btn-gold add" @click="AddPlans()" v-html="$t('lang.BUTTON_ADD')"></a> -->
      </section>
    </article>
    <plan-list :TemplateListData="TemplateListData"></plan-list>
    <plan-name
      :NamePrefix="NamePrefix"
      :ReverseWater="ReverseWater"
      :VMaxRevrseWater="VMaxRevrseWater"
      :IncomeMode="IncomeMode"
      :IBCommissionRevenueGameSettingList="IBCommissionRevenueGameSettingList"
      :MaxIBBonusRevenueRate="MaxIBBonusRevenueRate"
      :RegistObj="RegistObj"
      :RevrseName="RevrseName"
      :IBBonusName="IBBonusName"
      :Flag="Flag"
      :UserlistMemberID="UserlistMemberID"
      :IsMember="IsMember"
      :RelationMemberID="RelationMemberID"
    ></plan-name>
    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
    <add-code-commision
      ref="addCodeCommision"
      :CycleName="CycleName"
      :VMaxRevrseWater="PlanListVMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></add-code-commision>
    <edit-code-commision
      ref="editCodeCommision"
      v-if="EditCodeCommisionFlag"
      :CycleName="CycleName"
      :VMaxRevrseWater="PlanListVMaxRevrseWater"
      :TempName="EditCodeTempName"
      :RakeRate="EditCodeRakeRate"
      :TempType="TempType"
      :PlanId="PlanId"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></edit-code-commision>
    <add-account-for
      ref="addAccountFor"
      v-if="AddAccountForFlag"
      :ValueListItem="PlanValueListItem"
      :CycleName="CycleName"
      :DivideName="DivideName"
      :SuperiorName="SuperiorName"
      :MaxIBBonusRevenueRate="MaxIBBonusRevenueRate"
      :VMaxRevrseWater="PlanListVMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></add-account-for>
    <edit-account-for
      ref="editAccountFor"
      v-if="EditAccountForFlag"
      :GroupID="GroupID"
      :PlanId="PlanId"
      :PlanBonusRevenue="PlanBonusRevenue"
      :PlanName="PlanName"
      :PlanRakeRate="PlanRakeRate"
      :OriginalValueListItem="OriginalValueListItem"
      :EditValueListItem="EditValueListItem"
      :EditCycleName="EditCycleName"
      :EditDivideName="EditDivideName"
      :EditSuperiorName="EditSuperiorName"
      :EditMaxIBBonusRevenueRate="EditMaxIBBonusRevenueRate"
      :EditVMaxRevrseWater="EditVMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></edit-account-for>
    <alert-code :CodeUrl="CodeUrl" :PlanName="AlertPlanName"></alert-code>
  </div>
</template>
<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import mainHeader from '@/components/mobile/sub/mainHeader';
import PlanName from '@/components/mobile/sub/agency/promotionManagement/planName';
import PlanList from '@/components/mobile/sub/agency/promotionManagement/planList';
import AddCodeCommision from '@/components/mobile/sub/agency/promotionManagement/addCodeCommision';
import EditCodeCommision from '@/components/mobile/sub/agency/promotionManagement/editCodeCommision';
import AddAccountFor from '@/components/mobile/sub/agency/promotionManagement/addAccountFor';
import EditAccountFor from '@/components/mobile/sub/agency/promotionManagement/editAccountFor';
import moment from 'moment';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import AlertCode from '@/components/mobile/sub/agency/promotionPlan/alertQRcode';
import filterPopup from '@/components/mobile/filterPopup';
import { List, Icon } from 'vant';

export default {
  data() {
    return {
      // 正則表達式
      Reg: RegEx.Regex,
      HeaderTitle: this.$t('lang.AGENCY_PLAN'),
      ShowTab: 1,
      FirstClickTab: true,
      RegistObj: {
        WGUID: '',
        Acct: '',
        IsAvailable: ''
      },
      DisabledFlag: false,
      FieldsAcctName: true,
      AcctAvailable: true,
      NamePrefix: '',
      MaxIBBonusRevenueRate: '',
      VMaxRevrseWater: '',
      ReverseWater: '',
      MaxRevenueRateNum: '',
      IBBonusName: '',
      TempleteValueList: [],
      ValueList: [],
      RevenueList: [],
      ValueListItem: [],
      InitValueListItem: [],
      SuperiorRevenueList: [],
      SerialNo: undefined,
      RelationMemberID: -1, //是会员时，会员ID
      IsMember: true, //是否会员 false/true
      CycleName: '', // 本站结算方式
      AutoUpgradeFlag: -1, // 是否为自动晋升
      CannotChoose: false, // 当前的代理待遇能否选择
      IncomeMode: '', // 当前用户账户的晋升制 1401：占成+码佣，1402：码佣
      AgencyTreatment: 1, // 当前选择的代理待遇 1401：占成+码佣，1402：码佣
      ModuleAgencyTreatment: undefined, // 所选择的模板的代理待遇
      CurrentGameTypeName: '', // 当前显示的游戏类别名称
      TemplateListData: [], // 方案模板列表
      CodeUrl: undefined, // 弹出的二维码
      AlertPlanName: undefined, // 弹出的方案名
      MemberCheck: false, // 列表第一条是否选中
      MemberExtensionQRCode: '', // 会员推广二维码
      MemberExtensionUrl: '', // 会员推广链接
      MemberExtensionCreateTick: '', // 会员推广链接保存时间
      WebVersionHost: location.origin,
      FirstPlanEnter: true, // 首次推广方案进入
      InputObj: {
        TempName: '',
        CreateStartDateTick: '',
        CreateEndDateTick: ''
      },
      dataLst: {
        list: [],
        total: '0',
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        },
        error: false,
        finishedText: ''
      },
      loading: false,
      finished: false,
      PageTotalCount: 0,
      ProgrammeList: [],
      PlanType: undefined,
      CycleName: '',
      RevenueList: [],
      ValueList: [],
      PlanValueListItem: [],
      Vlists: [],
      DivideName: '',
      PlanListVMaxRevrseWater: '',
      SuperiorName: '',
      MaxIBBonusRevenueRate: '',
      EditDivideName: '',
      EditSuperiorName: '',
      EditVlists: [],
      EditOriginalVlists: [],
      EditValueList: [],
      OriginalValueList: [],
      EditRevenueList: [],
      OriginalRevenueList: [],
      EditValueListItem: [],
      OriginalValueListItem: [],
      EditCycleName: '',
      EditVMaxRevrseWater: '',
      EditMaxIBBonusRevenueRate: '',
      IsCopyCompleted: false,
      TempType: undefined,
      GroupID: undefined,
      PlanId: undefined,
      DeletePlanID: undefined,
      DeleteTempName: undefined,
      EditCodeTempName: undefined,
      EditCodeRakeRate: undefined,
      EditCodeCommisionFlag: false,
      EditAccountForFlag: false,
      AddAccountForFlag: false,
      MemberExtensionQRCode: '',
      MemberExtensionUrl: '',
      AutoUpgradeFlag: -1,
      AllEmpty: false
    };
  },
  components: {
    mainHeader,
    PlanName,
    PlanList,
    [List.name]: List,
    [Icon.name]: Icon,
    filterPopup,
    AddCodeCommision,
    EditCodeCommision,
    EditAccountFor,
    AddAccountFor,
    AlertCode
  },
  activated: function() {
    this.Load();

    // 绑定列表点击展开收起事件
    $('.promotion-wrap').on('click', '.list-content .lst', function() {
      if (!$('.child').is(':animated')) {
        //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this)
            .parent('.item')
            .removeClass('check');
          $(this)
            .find('.arrow')
            .removeClass('close');
        } else {
          $(this).addClass('check');
          $(this)
            .parent('.item')
            .addClass('check');
          $(this)
            .find('.arrow')
            .addClass('close');
        }
        $(this)
          .siblings('.child')
          .slideToggle(800);
      }
    });

    // 判断uc浏览器
    if (navigator.userAgent.indexOf('UCBrowser') > -1) {
      // uc浏览器
      $('header').css({ position: 'static' });
      $('.filter-icon').css({ position: 'absolute' });
      $('.promotion-wrap .van-icon').css({ position: 'absolute' });
      $('.promotion-wrap').css({ 'padding-top': '0' });
    }

    // 用户列表成为代理进入
    if (localStorage.getItem('loginIDName')) {
      this.DisabledFlag = true;
      const data = JSON.parse(localStorage.getItem('loginIDName'));
      this.RegistObj.Acct = data.LoginID;
      this.UserlistMemberID = data.MemberID;
      this.SerialNo = data.SerialNo;
      this.IsMember = true; // (会员 创建账号只注册为代理)
      this.RelationMemberID = data.MemberID;
      console.log('data88888888888888888888888888888888888888888888');
      console.log(data);
      console.log(this.RegistObj.Acct);
      console.log('data88888888888888888888888888888888888888888888');
    }

    EventBus.$on('showNotifyScheme', data => {
      // debugger;
      self.TempCommissionRevenueLists = data;
      console.log(self.TempCommissionRevenueLists);
      self.ValueListItem.forEach((item, index) => {
        const GroupListData = self.ValueListItem[index].GroupList;
        GroupListData.forEach((value, key) => {
          self.treatmentObj.tabAcct =
            self.TempCommissionRevenueLists[index].GroupList[key].RevenueRate2;
        });
      });
    });

    // 注册并保存模板成功
    EventBus.$on('SavePlanMouldSucc', data => {
      console.log('9999999999999999999999999999999999999999999');
      this.fieldsAcctName = false;
      this.DisabledFlag = false;
      this.IsMember = true;
      this.RegistObj.Acct = '';
      // this.RegistObj.agencyEmail = '';
      // this.RegistObj.RealName = '';
      this.IBBonusName = '';
      this.RevrseName = '';
      this.inputSecondText = null;
      this.$validator.reset();
      for (let i = 0; i < this.ValueListItem.length; i++) {
        this.ValueListItem[i].tabValueName = '';
        const list = this.ValueListItem[i].GroupList;
        for (let r = 0; r < list.length; r++) {
          this.ValueListItem[i].GroupList[r].RevenueRate = '';
        }
      }
    });

    // 监听是否使用了模板并赋值
    EventBus.$on('MouldTempCommissionRevenueDatas', data => {
      console.log('TempCommissionRevenueList111111111111');
      console.log(data.TempCommissionRevenueList);
      console.log('TempCommissionRevenueList1111111111111111');
      console.log('===============this.InitValueListItem');
      console.log(this.InitValueListItem);
      this.RevenueList = [];
      this.TempleteValueList = [];
      this.TempleteRevenueList = [];
      this.ValueListItem = JSON.parse(JSON.stringify(this.InitValueListItem)); // 还原原始空表单
      this.DisabledFlag = false;
      this.IsMember = true;
      this.IBBonusName = this.NumCalFix(data.BonusRevenue * 100);
      this.RevrseName = this.NumCalFix(data.RakeRate * 100);
      this.IncomeMode = data.TempType;
      if (data.TempType == 1401) {
        this.ModuleAgencyTreatment = 1401;
        this.AgencyTreatment = 1;
        this.IBCommissionRevenueGameSettingList =
          data.TempCommissionRevenueList;
        const list = data.TempCommissionRevenueList;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < this.TempleteValueList.length; z++) {
            if (list[i].GameTypeName == this.TempleteValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            this.TempleteValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < this.TempleteValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.TempleteValueList[h]) {
              names = {
                GroupName: this.TempleteValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          this.TempleteRevenueList.push(names);
        }
        for (let h = 0; h < this.TempleteRevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.TempleteRevenueList[h].GroupName) {
              this.TempleteRevenueList[h].GroupList.push(list[p]);
              // this.TempleteRevenueList[h].GroupList.push({
              //   GameApiName: list[p].GameApiName,
              //   GameApiNo: list[p].GameApiNo,
              //   GameTypeName: list[p].GameTypeName,
              //   RevenueRate: this.NumCalFix(list[p].RevenueRate * 100),
              //   GroupID: list[p].GroupID
              // });
            }
          }
        }
        console.log('点击模板赋值数据-----------------------------');
        // console.log(self.IBCommissionRevenueGameSettingList);
        console.log(list);
        console.log(this.TempleteValueList);
        console.log(this.TempleteRevenueList);
        const mouldList = this.TempleteRevenueList;
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            mouldList[a].GroupList[b].RevenueRate = this.NumCalFix(
              groudList[b].RevenueRate * 100
            );
          }
        }
        // this.ValueListItem = mouldList;
        // const listA = mouldList;
        // 对数组进行排序整理，保证填充模板时的数据正确
        mouldList.sort(function(a, b) {
          return a.GameTypeNo - b.GameTypeNo;
        });
        console.log('==========================mouldList');
        console.log(mouldList);
        console.log(this.ValueListItem);
        for (var i in mouldList) {
          // console.log(mouldList[i]);

          for (var prototype in mouldList[i].GroupList) {
            for (var n in mouldList[i].GroupList[prototype]) {
              if (
                mouldList[i].GroupList[prototype][n] !== undefined &&
                this.ValueListItem[i].GroupList[prototype][n] !== undefined
              ) {
                this.ValueListItem[i].GroupList[prototype][n] =
                  mouldList[i].GroupList[prototype][n];
              }
            }
          }
        }

        console.log('this.ValueListItem模板赋值222222222222');
        console.log(mouldList);
        console.log(this.ValueListItem);
        console.log('this.ValueListItem模板赋值222222222222');
        // for (let d = 0; d < this.ValueListItem.length; d++) {
        //   this.Vlists.push(this.ValueListItem[d].GroupList.length);
        //   this.Vlists.sort(function(a, b) {
        //     return a - b;
        //   });
        // }
        // console.log(this.Vlists);
        // const max = this.Vlists[this.Vlists.length - 1];
        // console.log(max);
        // console.log(Math.ceil(max / 7));
        // this.HulHeight = 46 * Math.ceil(max / 7) + 'px';
        // this.vTreatment = 45 + 46 * Math.ceil(max / 7) + 'px';
        console.log('点击模板赋值数据-----------------------------');
      } else {
        this.ModuleAgencyTreatment = 1402;
        this.AgencyTreatment = 2;
      }
    });

    // 编辑码佣结束
    EventBus.$on('ChangeEditCodeCommisionFlag', () => {
      setTimeout(() => {
        this.EditCodeCommisionFlag = false;
      }, 500);
    });

    // 编辑占成结束
    EventBus.$on('ChangeEditAccountForFlag', () => {
      setTimeout(() => {
        this.EditAccountForFlag = false;
      }, 500);
    });

    // 推广方案监听
    EventBus.$on('ChangeDivideName', data => {
      this.DivideName = data;
    });
    EventBus.$on('ChangeSuperiorName', data => {
      this.SuperiorName = data;
    });
    EventBus.$on('ChangeEditDivideName', data => {
      this.EditDivideName = data;
    });
    EventBus.$on('ChangeEditSuperiorName', data => {
      this.EditSuperiorName = data;
    });
    EventBus.$on('UpdatePlanList', () => {
      this.PagingInfo.PageNo = 1;
      this.$refs.PageNoSet.RetSetPageNo();
      this.LoadPlans(this.PagingInfo.PageNo);
    });
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
        this.ModalHeight();
        this.LoadInitData();
      });
    },
    LoadInitData: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const inputObj = {
        AcctID: localStorage.getItem('CorrelationIBMemberId')
      };
      const UpperData = await AgencyCenterService.LoadAddIBSettingUpperIBSetting(
        inputObj
      );
      const GameData = await AgencyCenterService.LoadMaxReverseGameListSetting(
        inputObj
      );
      const InitData = await AgencyCenterService.AddIB_LoadMainPage_Mgr(
        inputObj
      );
      console.log('-------------------UpperData');
      console.log(UpperData);
      console.log(GameData);
      console.log('-------------------UpperData');
      if (UpperData.Ret === 0) {
        this.VMaxRevrseWater = UpperData.Data.VReverseWater;
        this.ReverseWater = UpperData.Data.ReverseWater;
        this.NamePrefix = UpperData.Data.Prefix;
      }
      // const RevenueList = [];
      if (GameData.Ret === 0) {
        this.IncomeMode = GameData.Data.CommisionIncomeMode;
        if (this.IncomeMode === 1402) {
          this.CannotChoose = true;
          this.AgencyTreatment = 2;
        }
        console.log(this.CannotChoose);
        // this.IncomeMode = 1402;
        this.MaxIBBonusRevenueRate = GameData.Data.MaxIBBonusRevenueRate;
        this.AutoUpgradeFlag = GameData.Data.AutoUpgradeFlag;
        // this.AutoUpgradeFlag = 1;
        this.IBCommissionRevenueGameSettingList =
          GameData.Data.IBCommissionRevenueGameSettingList;
        // const list = GameData.Data.IBCommissionRevenueGameSettingList;
        const list = this.IBCommissionRevenueGameSettingList;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < this.ValueList.length; z++) {
            if (list[i].GameTypeName == this.ValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            this.ValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < this.ValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.ValueList[h]) {
              names = {
                GroupName: this.ValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          this.RevenueList.push(names);
        }
        for (let h = 0; h < this.RevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.RevenueList[h].GroupName) {
              this.RevenueList[h].GroupList.push(list[p]);
            }
          }
        }
        console.log('创建账号初始化数据');
        console.log(list);
        console.log(this.ValueList);
        console.log(this.RevenueList);
        console.log('创建账号初始化数据');
        // 分成设置
        const mouldList = this.RevenueList;
        console.log(mouldList);
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            // mouldList[a].GroupList[b].RevenueRate = this.NumCalFix(
            //   groudList[b].RevenueRate * 100
            // );
            mouldList[a].GroupList[b].RevenueRate = '';

            mouldList[a].GroupList[b].MaxRevenueRate = this.NumCalFix(
              groudList[b].MaxRevenueRate * 100
            );
          }
        }
        this.ValueListItem = mouldList; // 分成%数
        // 对数组进行排序整理，保证填充模板时的数据正确
        this.ValueListItem.sort(function(a, b) {
          return a.GameTypeNo - b.GameTypeNo;
        });
        this.InitValueListItem = JSON.parse(JSON.stringify(this.ValueListItem)); // 保存表单原始数据，切换模板时使用
        console.log('处理后的列表数据11111111111111111111111111');
        console.log(this.ValueListItem);
        console.log('处理后的列表数据111111111111');

        this.SuperiorRevenueList = mouldList; // 上级%数

        this.CurrentGameTypeName = this.RevenueList[0].GroupName;
        // this.SuperiorName = this.RevenueList[0].GroupName;
        // for (let d = 0; d < this.ValueListItem.length; d++) {
        //   this.Vlists.push(this.ValueListItem[d].GroupList.length);
        //   this.Vlists.sort((a, b) => {
        //     return a - b;
        //   });
        // }
        // console.log(this.Vlists);
        // const max = this.Vlists[this.Vlists.length - 1];
        // console.log(max);
        // console.log(Math.ceil(max / 7));
        // this.HulHeight = 46 * Math.ceil(max / 7) + 'px';
        // this.vTreatment = 45 + 46 * Math.ceil(max / 7) + 'px';
        this.agencyAgreeState = 1;
        console.log(this.agencyAgreeState);
        if (
          localStorage.getItem('CreatedAgencyData') &&
          this.agencyAgreeState == 1
        ) {
          this.TemplateList();
        }

        // 初始化 红利和码佣为空
        this.IBBonusName = '';
        this.RevrseName = '';
      }
      if (InitData.Ret === 0) {
        this.CycleName = InitData.Data.CycleName;
      }

      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    TriggerMould: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const inputObj = {
        IsDetail: 1, // 必填
        PagingInfo: {
          // 分页 必填
          PageSize: 10000, // 这个尽量给最大值
          PageNo: 1
        }
      };
      const data = await AgencyCenterService.LoadTempCommissionRevenueGameSettingPage(
        inputObj
      );
      console.log('模板查询数据');
      console.log(data);
      console.log(data.Data.IBTempList);
      console.log('模板查询数据');
      if (data.Ret === 0) {
        this.TemplateListData = data.Data.IBTempList;
        $('#planList').modal('show');
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    // 驗證帳號是否重複
    CheckAcctAvailable: async function() {
      this.FieldsAcctName = true;
      if (localStorage.getItem('loginIDName')) {
        return;
      }
      let flag = !this.$validator.errors.has('Acct');
      if (flag && this.RegistObj.Acct.length > 0) {
        const obj = {
          Acct: this.RegistObj.Acct,
          WGUID: this.$WGUID
        };
        const retData = await CommonService.CheckAcctAvailable(obj);
        this.AcctAvailable = retData.IsAvailable;
      } else {
        this.AcctAvailable = true;
      } // end if
    }, // end CheckAcctAvailable
    Submission: async function(IncomeModeVal) {
      EventBus.$emit('GlobalLoadingTrigger', true);
      this.agencyObjLists = [];

      this.fieldsAcctName = true;
      if (IncomeModeVal == '1401') {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });

        const result = await this.$validator.validateAll();
        if (result === false) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.AgencyTreatment == 1) {
          this.IncomeMode = '1401';
          // 循环分成设置文本框的值是否大于它的上级(模板赋值this.ValueListItem没有最大值)
          for (let w = 0; w < this.ValueListItem.length; w++) {
            const SuperlistItem = this.SuperiorRevenueList[w].GroupList;
            const ValuelistItem = this.ValueListItem[w].GroupList;
            for (let h = 0; h < ValuelistItem.length; h++) {
              console.log(ValuelistItem[h].RevenueRate);
              // debugger;
              if (
                ValuelistItem[h].RevenueRate >
                  SuperlistItem[h].MaxRevenueRate ||
                ValuelistItem[h].RevenueRate === '' ||
                ValuelistItem[h].RevenueRate === null ||
                ValuelistItem[h].RevenueRate === undefined
              ) {
                this.MaxRevenueRateNum = SuperlistItem[h].MaxRevenueRate;
                EventBus.$emit(
                  'SHOW_TIP',
                  this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
                    '：0~' +
                    this.MaxRevenueRateNum
                );
                EventBus.$emit('GlobalLoadingTrigger', false);
                return;
              }
            }
          }

          if (
            this.IBBonusName === '' ||
            this.IBBonusName === null ||
            this.IBBonusName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_DEVIDEND') +
                this.MaxIBBonusRevenueRate +
                '%'
            );
            EventBus.$emit('GlobalLoadingTrigger', false);
            return;
          }
        } else {
          this.IBBonusName = 0; // 当为码佣的时候 承担红利百分比为0
          this.IncomeMode = '1402';
        }
        if (this.AutoUpgradeFlag != 1) {
          if (
            this.RevrseName === '' ||
            this.RevrseName === null ||
            this.RevrseName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_COMMISSION') +
                this.VMaxRevrseWater
            );
            EventBus.$emit('GlobalLoadingTrigger', false);
            return;
          }
        }

        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }

        if (
          this.inputSecondText === '' ||
          this.RevrseName === null ||
          this.RevrseName === undefined
        ) {
          console.log(this.inputSecondText);
          EventBus.$emit(
            'SHOW_TIP',
            this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
              '：0~' +
              this.MaxRevenueRateNum
          );
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
      } else {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        console.log(this.RevrseName);
        if (this.AutoUpgradeFlag != 1) {
          console.log(this.RevrseName);
          if (
            this.RevrseName === '' ||
            this.RevrseName === null ||
            this.RevrseName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_COMMISSION') +
                this.VMaxRevrseWater
            );
            EventBus.$emit('GlobalLoadingTrigger', false);
            return;
          }
        }
        this.MaxIBBonusRevenueRate = 0;
        this.IBBonusName = 0;
      }

      for (
        let index = 0;
        index < this.IBCommissionRevenueGameSettingList.length;
        index++
      ) {
        const NewGroupListItem = {};
        NewGroupListItem.GameApiName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiName;
        NewGroupListItem.GameApiNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiNo;
        NewGroupListItem.GameTypeName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeName;
        NewGroupListItem.GameTypeNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeNo;
        NewGroupListItem.GroupID = this.IBCommissionRevenueGameSettingList[
          index
        ].GroupID;
        NewGroupListItem.MaxRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MaxRevenueRate;
        NewGroupListItem.MemberID = this.IBCommissionRevenueGameSettingList[
          index
        ].MemberID;
        NewGroupListItem.MinRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MinRevenueRate;
        NewGroupListItem.RevenueRate = this.NumCalFix(
          (this.IBCommissionRevenueGameSettingList[index].RevenueRate * 1) / 100
        );
        this.agencyObjLists.push(NewGroupListItem);
      }
      // this.agencyObjLists = this.IBCommissionRevenueGameSettingList;
      // for (let e = 0; e < this.agencyObjLists.length; e++) {
      //   this.agencyObjLists[e].RevenueRate = this.NumCalFix(
      //     this.agencyObjLists[e].RevenueRate / 100
      //   );
      // }
      // this.agencyObjLists = IBCommissionList;
      console.log(this.agencyObjLists);
      console.log(this.IBCommissionRevenueGameSettingList);
      const inputObj = {
        IsMember: this.IsMember,
        RelationMemberID: this.RelationMemberID,
        Prefix: this.NamePrefix,
        Acct: this.RegistObj.Acct,
        UpperIBInfo: {
          AcctID: localStorage.getItem('CorrelationIBMemberId'),
          Acct: localStorage.getItem('Acct'),
          Prefix: this.NamePrefix
        },
        MaxReverseGameListSetting: this.agencyObjLists,
        CommisionIncomeMode: {
          Value: this.IncomeMode
        },
        IBBonusRevenueRate: this.NumCalFix(this.IBBonusName / 100),
        ReverseWater: this.NumCalFix(this.RevrseName / 100) || 0,
        SaveIbTempSetting: false
      };
      console.log(inputObj);
      const data = await AgencyCenterService.LoadAddIB_Add(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('创建账号的注册数据');

      console.log(data);
      console.log(this.inputSecondText);
      console.log('创建账号的注册数据');

      const notifyData = {
        NotifyMessage: data.Message
      };
      EventBus.$emit('showNotifyMessage', notifyData);
      if (data.Ret === 0) {
        // this.IsSucc = true;
        this.ModuleAgencyTreatment = undefined;

        this.fieldsAcctName = false;

        this.DisabledFlag = false;
        this.IsMember = true;
        // this.RegistObj.agencyEmail = '';
        // this.RegistObj.RealName = '';
        this.IBBonusName = '';
        this.RevrseName = '';
        this.inputSecondText = null;
        // this.RegistObj.pwd = '';
        this.$validator.reset();
        for (let i = 0; i < this.ValueListItem.length; i++) {
          this.ValueListItem[i].tabValueName = '';
          const list = this.ValueListItem[i].GroupList;
          for (let r = 0; r < list.length; r++) {
            this.ValueListItem[i].GroupList[r].RevenueRate = '';
            // this.ValueListItem[i].GroupList[r].VRevenueRate = 0;
          }
        }
        // this.ValueListItem = [];
        // this.SuperiorRevenueList = [];
        // this.loadHome();
        console.log(this.SerialNo);
        // 代理审核同意后注册成功
        // if (this.IsShowMouldBtn == 11) {
        //   console.log('代理审核同意进来了');
        //   const inputData = {
        //     Acct: this.RegistObj.Acct,
        //     SerialNo: this.SerialNo,
        //     ApplyStatus: 2,
        //     RejectRemark: this.$t('message.member_catenation')
        //   };
        //   console.log(inputData);
        //   const MouldData = await AgencyCenterService.IBExamineRefuse(
        //     inputData
        //   );
        //   console.log(MouldData);
        //   console.log('代理审核同意进来了');
        // }
        // 用户列表成为代理和请求成为代理
        if (localStorage.getItem('loginIDName')) {
          const inputData = {
            SerialNo: this.SerialNo,
            ApplyStatus: 2
          };
          console.log(inputData);
          const MouldData = await AgencyCenterService.IBExamineRefuse(
            inputData
          );
          console.log(MouldData);
          console.log('用户列表成为代理进来了');
        }

        this.RegistObj.Acct = '';
        // this.$store.dispatch('setAgencyNameText', 'webUserList');
        // alert('注册成功!');
        this.InitPromotionList();
      } else {
        // this.IsShowErrorFlag = true;
        // setTimeout(() => {
        //   this.IsShowErrorFlag = false;
        // }, 1000);
      }
    },
    PreserveBtn: async function(IncomeModeVal) {
      this.fieldsAcctName = true;
      if (IncomeModeVal == '1401') {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.AgencyTreatment == 1) {
          this.IncomeMode = '1401';
          // 循环分成设置文本框的值是否大于它的上级(模板赋值this.ValueListItem没有最大值)
          for (let w = 0; w < this.ValueListItem.length; w++) {
            const SuperlistItem = this.SuperiorRevenueList[w].GroupList;
            const ValuelistItem = this.ValueListItem[w].GroupList;
            for (let h = 0; h < ValuelistItem.length; h++) {
              console.log(ValuelistItem[h].RevenueRate);
              if (
                ValuelistItem[h].RevenueRate >
                  SuperlistItem[h].MaxRevenueRate ||
                ValuelistItem[h].RevenueRate === '' ||
                ValuelistItem[h].RevenueRate === null ||
                ValuelistItem[h].RevenueRate === undefined
              ) {
                this.MaxRevenueRateNum = SuperlistItem[h].MaxRevenueRate;
                // ValuelistItem[h].RevenueRate = '';
                EventBus.$emit(
                  'SHOW_TIP',
                  this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
                    '：0~' +
                    this.MaxRevenueRateNum
                );
                return;
              }
            }
          }

          if (
            this.IBBonusName === '' ||
            this.IBBonusName === null ||
            this.IBBonusName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_DEVIDEND') +
                this.MaxIBBonusRevenueRate +
                '%'
            );
            return;
          }
        } else {
          this.IBBonusName = 0; // 当为码佣的时候 承担红利百分比为0
          this.IncomeMode = '1402';
        }

        if (this.AutoUpgradeFlag != 1) {
          if (
            this.RevrseName === '' ||
            this.RevrseName === null ||
            this.RevrseName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_COMMISSION') +
                this.VMaxRevrseWater
            );
            return;
          }
        }
        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }

        if (
          this.inputSecondText === '' ||
          this.RevrseName === null ||
          this.RevrseName === undefined
        ) {
          console.log(this.inputSecondText);
          EventBus.$emit(
            'SHOW_TIP',
            this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
              '：0~' +
              this.MaxRevenueRateNum
          );
          return;
        }
      } else {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.AutoUpgradeFlag != 1) {
          console.log(this.RevrseName);
          if (
            this.RevrseName === '' ||
            this.RevrseName === null ||
            this.RevrseName === undefined
          ) {
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_RESIDUAL_COMMISSION') +
                this.VMaxRevrseWater
            );
            return;
          }
        }
        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }
        this.MaxIBBonusRevenueRate = 0;
        this.IBBonusName = 0;
      }
      $('#planName').modal('show');
    },
    TabValueKey: function(data, j, e) {
      console.log(data);
      console.log(j);
      // data = data.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.ValueListItem[j].tabValueName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.ValueListItem[j].tabValueName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[j].tabValueName = String(e.target.value).substring(
            0,
            index + 3
          );
          return;
        } else {
          this.ValueListItem[j].tabValueName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.ValueListItem[j].tabValueName =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      const itemLists = this.ValueListItem[j].GroupList;
      for (let k = 0; k < itemLists.length; k++) {
        if (data) {
          itemLists[k].RevenueRate = data;
          // itemLists[k].VRevenueRate = itemLists[k].RevenueRate;
        } else {
          itemLists[k].RevenueRate = '';
        }
      }
    },
    Treatmentvailable: function(list, findex, key, e) {
      console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
      // debugger;
      // 通过正则过滤小数点后两位
      console.log(list);
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      console.log(this.ValueListItem);
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = val.charAt(1);

        console.log('1');
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = '';

        console.log('2');
        return;
      }
      if (index != -1) {
        console.log('3');
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[findex].GroupList[key].RevenueRate = String(
            e.target.value
          ).substring(0, index + 3);

          console.log('4');
          console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
          return;
        } else {
          console.log('5');
          this.ValueListItem[findex].GroupList[key].RevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        console.log('6');
        this.ValueListItem[findex].GroupList[key].RevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
      this.MaxRevenueRateNum = list.MaxRevenueRate;
      this.inputSecondText = list.RevenueRate;
      if (
        list.RevenueRate > list.MaxRevenueRate ||
        this.ValueListItem[findex].GroupList[key].RevenueRate === null
      ) {
        list.RevenueRate = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
            '：0~' +
            this.MaxRevenueRateNum
        );
      }
    },
    IBBonusvailable: function(val) {
      this.IBBonusName = val;
      if (val > this.MaxIBBonusRevenueRate) {
        this.IBBonusName = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PROMOTION_RESIDUAL_DEVIDEND') +
            this.MaxIBBonusRevenueRate +
            '%'
        );
      }
    },
    Revrsevailable: function(val) {
      this.RevrseName = val;
      if (val > this.ReverseWater) {
        this.RevrseName = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PROMOTION_RESIDUAL_COMMISSION') + this.VMaxRevrseWater
        );
      }
    },
    OninputIBBonusvailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.IBBonusName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.IBBonusName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.IBBonusName = String(e.target.value).substring(0, index + 3);
        } else {
          this.IBBonusName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.IBBonusName = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    OninputRevrsevailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.RevrseName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.RevrseName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.RevrseName = String(e.target.value).substring(0, index + 3);
        } else {
          this.RevrseName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.RevrseName = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    // 保留四位小数
    NumCalFix: function(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    // OnInput(e) {
    //   // 通过正则过滤小数点后两位
    //   e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
    //   console.log('e', e.target.value);
    // },
    TemplateList: async function() {
      this.ValueListItem = [];
      this.RevenueList = [];
      this.TempleteRevenueList = [];
      console.log(this.ValueListItem);
      const inputObj = {
        IsDetail: 1, // 代理ID 必填
        PagingInfo: {
          // 分页 必填
          PageSize: 10000, // 这个尽量给最大值
          PageNo: this.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadTempCommissionRevenueGameSettingPage(
        inputObj
      );
      console.log('代理同意模板查询数据');
      console.log(data);
      console.log('代理同意模板查询数据');
      if (data.Ret === 0) {
        this.MouldIBTempList = data.Data.IBTempList;
        for (let d = 0; d < this.MouldIBTempList.length; d++) {
          if (this.MouldIBTempList[d].ID == this.PlanId) {
            this.IBCommissionRevenueGameSettingList = this.MouldIBTempList[
              d
            ].TempCommissionRevenueList;
            this.IBBonusName = this.NumCalFix(
              this.MouldIBTempList[d].BonusRevenue * 100
            );
            this.RevrseName = this.NumCalFix(
              this.MouldIBTempList[d].RakeRate * 100
            );
            this.IncomeMode = this.MouldIBTempList[d].TempType;
            const list = this.MouldIBTempList[d].TempCommissionRevenueList;
            let isValueList;
            for (let i = 0; i < list.length; i++) {
              isValueList = false;
              for (let z = 0; z < this.TempleteValueList.length; z++) {
                if (list[i].GameTypeName == this.TempleteValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                this.TempleteValueList.push(list[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < this.TempleteValueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == this.TempleteValueList[h]) {
                  names = {
                    GroupName: this.TempleteValueList[h],
                    GameTypeNo: list[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              this.TempleteRevenueList.push(names);
            }
            for (let h = 0; h < this.TempleteRevenueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (
                  list[p].GameTypeName == this.TempleteRevenueList[h].GroupName
                ) {
                  this.TempleteRevenueList[h].GroupList.push(list[p]);
                  // this.TempleteRevenueList[h].GroupList.push({
                  //   GameApiName: list[p].GameApiName,
                  //   GameApiNo: list[p].GameApiNo,
                  //   GameTypeName: list[p].GameTypeName,
                  //   RevenueRate: this.NumCalFix(list[p].RevenueRate * 100),
                  //   GroupID: list[p].GroupID
                  // });
                }
              }
            }
            console.log('代理同意后模板赋值数据-----------------------------');
            // console.log(this.IBCommissionRevenueGameSettingList);
            console.log(list);
            console.log(this.TempleteValueList);
            console.log(this.TempleteRevenueList);
            const mouldList = this.TempleteRevenueList;
            console.log(mouldList);
            for (let a = 0; a < mouldList.length; a++) {
              const groudList = mouldList[a].GroupList;
              for (let b = 0; b < groudList.length; b++) {
                mouldList[a].GroupList[b].RevenueRate = this.NumCalFix(
                  groudList[b].RevenueRate * 100
                );
              }
            }
            this.ValueListItem = mouldList;
            // for (let w = 0; w < this.ValueListItem.length; w++) {
            //   this.Vlists.push(this.ValueListItem[w].GroupList.length);
            //   this.Vlists.sort(function(a, b) {
            //     return a - b;
            //   });
            // }
            // console.log(this.Vlists);
            // const max = this.Vlists[this.Vlists.length - 1];
            // console.log(max);
            // console.log(Math.ceil(max / 7));
            // this.HulHeight = 46 * Math.ceil(max / 7) + 'px';
            // this.vTreatment = 45 + 46 * Math.ceil(max / 7) + 'px';

            console.log('代理同意后模板赋值数据-----------------------------');
            // this.ValueListItem = this.TempleteRevenueList;
            console.log(this.ValueListItem);
          }
        }
      }
    },
    // 顶部tab栏位切换
    ChangeTab: function(tab) {
      if (tab === 2 && this.FirstClickTab) {
        this.FirstClickTab = false;
        this.ShowTab = tab;
        this.childMsg('');
      } else {
        this.ShowTab = tab;
      }
    },

    // 初始化推广链接列表 LQ 20200409
    InitPromotionList() {
      this.childMsg('');
    },

    // 改变代理待遇选项
    ChangeAgencyTreatment: function(treatment) {
      if (treatment === 1 && this.ModuleAgencyTreatment === 1402) {
        const notifyData = {
          NotifyMessage: this.$t('lang.PROMOTION_CHOOSE_MODULE2')
        };
        notifyData.CloseFunction = () => {
          this.LoadInitData();
          this.AgencyTreatment = treatment;
          this.ModuleAgencyTreatment = undefined;
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else if (treatment === 2 && this.ModuleAgencyTreatment === 1401) {
        const notifyData = {
          NotifyMessage: this.$t('lang.PROMOTION_CHOOSE_MODULE1')
        };
        notifyData.CloseFunction = () => {
          this.LoadInitData();
          this.AgencyTreatment = treatment;
          this.ModuleAgencyTreatment = undefined;
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        this.AgencyTreatment = treatment;
      }
    },
    // 打开新增码佣弹窗
    ShowAddCodeCommisionPopup: function() {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        $('#wrapper').css({ overflow: 'hidden' });
        let scrollTopNum = $('#wrapper').scrollTop();
        $('#wrapper').scrollTop(0);
        this.$refs.addCodeCommision.PopupShow(scrollTopNum);
      } else {
        this.$refs.addCodeCommision.PopupShow();
      }
    },
    // 打开新增占成弹窗
    ShowAddAccountForPopup: function() {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        $('#wrapper').css({ overflow: 'hidden' });
        let scrollTopNum = $('#wrapper').scrollTop();
        $('#wrapper').scrollTop(0);
        this.$refs.addAccountFor.PopupShow(scrollTopNum);
      } else {
        this.$refs.addAccountFor.PopupShow();
      }
    },
    // 打开编辑码佣弹窗
    ShowEditCodeCommisionPopup: function() {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        $('#wrapper').css({ overflow: 'hidden' });
        let scrollTopNum = $('#wrapper').scrollTop();
        $('#wrapper').scrollTop(0);
        this.$refs.editCodeCommision.PopupShow(scrollTopNum);
      } else {
        this.$refs.editCodeCommision.PopupShow();
      }
    },
    // 打开编辑占成弹窗
    ShowEditAccountForPopup: function() {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        $('#wrapper').css({ overflow: 'hidden' });
        let scrollTopNum = $('#wrapper').scrollTop();
        $('#wrapper').scrollTop(0);
        this.$refs.editAccountFor.PopupShow(scrollTopNum);
      } else {
        this.$refs.editAccountFor.PopupShow();
      }
    },
    // 编辑方案内容
    EditPlans: async function(item) {
      this.TempType = item.TempType;
      this.GroupID = item.GroupID;
      this.PlanId = item.ID;
      const EditPlansListObj = {
        CommisionIncomeMode: item.TempType,
        PlanID: item.ID
      };
      this.EditVlists = [];
      this.EditOriginalVlists = [];
      this.EditValueList = [];
      this.OriginalValueList = [];
      this.EditRevenueList = [];
      this.OriginalRevenueList = [];
      this.EditValueListItem = [];
      this.OriginalValueListItem = [];
      this.LoadOriginalPlanData(EditPlansListObj);
    },
    // 删除方案内容
    DeletePlansMethods: function(item) {
      this.DeletePlanID = item.ID;
      this.DeleteTempName = item.TempName;
      const notifyData = {
        NotifyMessage: this.$t('lang.PROMOTION_DELETE_PLAN')
      };
      notifyData.CloseFunction = () => {
        this.DeletePlans();
      };

      EventBus.$emit('showNotifyMessage', notifyData);
    },
    DeletePlans: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanDel({
        TempID: this.DeletePlanID
      });
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPlanDel');
      console.log(data);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret == 0) {
        this.childMsg({});
      }
      EventBus.$emit('showNotifyAgencyMessage', notifyData);
    },
    // 加载方案原始设置数据
    LoadOriginalPlanData: async function(EditPlansListObj) {
      const self = this;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanMod_LoadPage(
        EditPlansListObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(
        '加载编辑方案原始数据-------------------------IBExtensionPlanMod_LoadPage'
      );
      console.log(data);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Ret === 0) {
          this.AutoUpgradeFlag = data.Data.AutoUpgradeFlag;
          if (this.TempType == 1401) {
            this.EditCycleName = data.Data.CycleName;
            this.EditMaxIBBonusRevenueRate = this.NumCalFix(
              data.Data.IBTempData.BonusRevenue * 1 * 100
            );
            this.EditVMaxRevrseWater = this.NumCalFix(
              data.Data.IBTempData.RakeRate * 1 * 100
            );
            this.PlanBonusRevenue = this.NumCalFix(
              data.Data.PlanBonusRevenue * 1 * 100
            );
            this.PlanName = data.Data.PlanName;
            this.PlanRakeRate = this.NumCalFix(
              data.Data.PlanRakeRate * 1 * 100
            );
            const EditList = data.Data.IBTempData.TempCommissionRevenueList;
            const originalList = data.Data.OldPlanList;
            let isValueList;
            for (let i = 0; i < EditList.length; i++) {
              isValueList = false;
              for (let z = 0; z < self.EditValueList.length; z++) {
                if (EditList[i].GameTypeName == self.EditValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.EditValueList.push(EditList[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < self.EditValueList.length; h++) {
              for (let p = 0; p < EditList.length; p++) {
                if (EditList[p].GameTypeName == self.EditValueList[h]) {
                  names = {
                    GroupName: self.EditValueList[h],
                    GameTypeNo: EditList[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.EditRevenueList.push(names);
            }
            for (let h = 0; h < self.EditRevenueList.length; h++) {
              for (let p = 0; p < EditList.length; p++) {
                if (
                  EditList[p].GameTypeName == self.EditRevenueList[h].GroupName
                ) {
                  EditList[p].RevenueRate = self.NumCalFix(
                    EditList[p].RevenueRate * 100
                  );
                  self.EditRevenueList[h].GroupList.push(EditList[p]);
                }
              }
            }
            // 处理后端传回的混乱排序 2020.01.16 ququ
            self.EditRevenueList.sort(function(a, b) {
              return a.GameTypeNo - b.GameTypeNo;
            });
            console.log('EditRevenueList111111111111111');
            console.log(self.EditRevenueList);
            console.log('EditRevenueList111111111111111');

            // 处理之前保存的方案里的厂商百分比数据
            let isOriginalValueList;
            for (let i = 0; i < originalList.length; i++) {
              isOriginalValueList = false;
              for (let z = 0; z < self.OriginalValueList.length; z++) {
                if (originalList[i].GameTypeName == self.OriginalValueList[z]) {
                  isOriginalValueList = true;
                }
              }
              if (!isOriginalValueList) {
                self.OriginalValueList.push(originalList[i].GameTypeName);
              }
            }
            let OriginalNames = {};
            for (let h = 0; h < self.OriginalValueList.length; h++) {
              for (let p = 0; p < originalList.length; p++) {
                if (originalList[p].GameTypeName == self.OriginalValueList[h]) {
                  OriginalNames = {
                    GroupName: self.OriginalValueList[h],
                    GameTypeNo: originalList[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.OriginalRevenueList.push(OriginalNames);
            }
            for (let h = 0; h < self.OriginalRevenueList.length; h++) {
              for (let p = 0; p < originalList.length; p++) {
                if (
                  originalList[p].GameTypeName ==
                  self.OriginalRevenueList[h].GroupName
                ) {
                  originalList[p].RevenueRate = this.NumCalFix(
                    originalList[p].RevenueRate * 1 * 100
                  );
                  self.OriginalRevenueList[h].GroupList.push(originalList[p]);
                }
              }
            }
            console.log('编辑账号初始化数据');
            console.log(self.OriginalRevenueList);
            console.log(self.EditRevenueList);
            console.log('编辑账号初始化数据');
            self.EditValueListItem = self.EditRevenueList;
            self.OriginalValueListItem = self.OriginalRevenueList;
            self.EditDivideName = self.EditRevenueList[0].GroupName;
            self.EditSuperiorName = self.EditRevenueList[0].GroupName;
            // for (let d = 0; d < self.EditValueListItem.length; d++) {
            //   self.EditVlists.push(self.EditValueListItem[d].GroupList.length);
            //   self.EditVlists.sort(function(a, b) {
            //     return a - b;
            //   });
            // }
            // console.log(self.EditVlists);
            // const max = self.EditVlists[self.EditVlists.length - 1];
            // console.log(max);
            // console.log(Math.ceil(max / 7));
            // self.HulHeight = 46 * Math.ceil(max / 7) + 'px';
            // self.vTreatment = 45 + 46 * Math.ceil(max / 7) + 'px';
            this.EditAccountForFlag = true;
            this.$nextTick(() => {
              this.ShowEditAccountForPopup();
            });
          } else if (this.TempType == 1402) {
            this.EditCodeTempName = data.Data.PlanName;
            this.CycleName = data.Data.CycleName;
            this.EditCodeRakeRate = this.NumCalFix(
              data.Data.PlanRakeRate * 1 * 100
            );
            this.PlanListVMaxRevrseWater = this.NumCalFix(
              data.Data.IBTempData.RakeRate * 100
            );
            this.EditCodeCommisionFlag = true;
            this.$nextTick(() => {
              this.ShowEditCodeCommisionPopup();
            });
          } else {
          }
        }
      }
    },
    // 新增方案
    AddPlans: function() {
      this.RevenueList = [];
      this.ValueList = [];
      this.PlanValueListItem = [];
      this.Vlists = [];
      this.LoadPlanAdd();
      this.AddAccountForFlag = true;
    },
    // 新增页面载入数据
    LoadPlanAdd: async function() {
      const self = this;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const GameData = await AgencyCenterService.LoadPageIBExtensionPlanAdd();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------LoadPageIBExtensionPlanAdd');
      console.log(GameData);
      if (GameData.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (GameData.Ret === 0) {
          this.PlanType = GameData.Data.PlanType;
          this.AutoUpgradeFlag = GameData.Data.AutoUpgradeFlag;
          if (this.PlanType == 1401) {
            this.CycleName = GameData.Data.CycleName;
            this.PlanListVMaxRevrseWater = this.NumCalFix(
              GameData.Data.IBTempData.RakeRate * 100
            );
            this.MaxIBBonusRevenueRate = this.NumCalFix(
              GameData.Data.IBTempData.BonusRevenue * 100
            );
            const list = GameData.Data.IBTempData.TempCommissionRevenueList;
            let isValueList;
            for (let i = 0; i < list.length; i++) {
              isValueList = false;
              for (let z = 0; z < self.ValueList.length; z++) {
                if (list[i].GameTypeName == self.ValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.ValueList.push(list[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < self.ValueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == self.ValueList[h]) {
                  names = {
                    GroupName: self.ValueList[h],
                    GameTypeNo: list[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.RevenueList.push(names);
            }
            for (let h = 0; h < self.RevenueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == self.RevenueList[h].GroupName) {
                  list[p].RevenueRate = this.NumCalFix(
                    list[p].RevenueRate * 100
                  );
                  list[p].BasicRevenueRate = '';
                  self.RevenueList[h].GroupList.push(list[p]);
                }
              }
            }
            console.log('创建账号初始化数据');
            // console.log(self.IBCommissionRevenueGameSettingList);
            console.log(list);
            console.log(self.ValueList);
            console.log(self.RevenueList);
            console.log('创建账号初始化数据');
            self.PlanValueListItem = self.RevenueList;
            self.DivideName = self.RevenueList[0].GroupName;
            self.SuperiorName = self.RevenueList[0].GroupName;
            this.$nextTick(() => {
              this.ShowAddAccountForPopup();
            });
          } else if (this.PlanType == 1402) {
            this.CycleName = GameData.Data.CycleName;
            this.PlanListVMaxRevrseWater = this.NumCalFix(
              GameData.Data.IBTempData.RakeRate * 100
            );
            this.ShowAddCodeCommisionPopup();
          } else {
          }
        }
      }
    },
    //复制链接
    BindCopy: function(e) {
      const range = document.createRange();
      //复制节点对象
      range.selectNode(document.getElementById(e));
      const selection = window.getSelection();
      if (selection.rangeCount > 0) selection.removeAllRanges();
      //选择复制范围
      selection.addRange(range);
      document.execCommand('Copy');

      EventBus.$emit('SHOW_TIP', this.$t('lang.MEMBER_COPY_SUCCESS')); //复制成功提示
    },
    // 弹出二维码
    AlertCode: function(qrCode, tempName) {
      this.CodeUrl = qrCode;
      this.AlertPlanName = tempName;
      $('#alertQRcodeModal').modal('show');
    },
    //弹窗高度
    ModalHeight: function() {
      $('#alertQRcodeModal').on('show.bs.modal', function() {
        $(this).css('display', 'block');
        var ModalHeight =
          $(window).height() / 2 -
          $('#alertQRcodeModal .modal-dialog').height() / 2;
        $(this)
          .find('.modal-dialog')
          .css({
            'margin-top': ModalHeight
          });
      });
    },
    // 展开搜索弹窗
    showfilterPopup: function() {
      this.$refs.filter.parentMsg('promotionPlan');
      this.FirstPlanEnter = false;
    },

    childMsg(msg) {
      this.InputObj = {
        TempName: msg.planName || '',
        CreateStartDateTick: msg.StartTime || '',
        CreateEndDateTick: msg.EndTime || ''
      };
      this.dataLst = {
        list: [],
        total: '',
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        error: false,
        finishedText: ''
      };
      this.loading = false;
      this.finished = false;
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    async onLoad() {
      const PlansObj = {
        TempName: this.InputObj.TempName,
        CreateStartDateTick: CommUtility.LocalTimeToUtcTicks(
          this.InputObj.CreateStartDateTick
        ),
        CreateEndDateTick:
          CommUtility.LocalTimeToUtcTicks(this.InputObj.CreateEndDateTick) +
          (24 * 60 * 60 - 1) * 1000,
        PagingInfo: {
          PageSize: this.dataLst.PagingInfo.PageSize,
          PageNo: this.dataLst.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.IBExtensionPageLoad(PlansObj);
      this.loading = false;
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.MemberExtensionQRCode = data.Data.MemberExtensionQRCode;
        this.MemberExtensionUrl = data.Data.MemberExtensionUrl;
        this.MemberExtensionCreateTick = data.Data.MemberExtensionCreateTick;
        if (data.Data && data.Data.ProgrammeList) {
          for (let item of data.Data.ProgrammeList) {
            this.dataLst.list.push(item);
          }
          this.dataLst.total = data.Data.PageInfo.TotalCount;
        }
        this.dataLst.PagingInfo.PageNo++;
        // 数据全部加载完成
        if (
          !data.Data.PageInfo.TotalCount ||
          this.dataLst.list.length >= data.Data.PageInfo.TotalCount
        ) {
          this.finished = true;
          this.dataLst.finishedText = this.$t('lang.LIST_ALL_LOADED');
          if (!this.dataLst.list.length) {
            this.dataLst.finishedText = this.$t('lang.LIST_NO_DATA');
          }
        }
      } else {
        this.finished = true;
        this.dataLst.finishedText = '';
        EventBus.$emit('SHOW_TIP', this.$t('lang.DATA_LOAD_FAILED'));
      }
    }
  },
  deactivated: function() {
    this.ShowTab = 1;
    this.FirstClickTab = true;
    this.ValueList = [];
    this.RevenueList = [];
    this.ValueListItem = [];
    this.FirstPlanEnter = true;
    this.DisabledFlag = false ;
    this.RegistObj.Acct = '' ;
    this.RelationMemberID = -1 ;
    this.SerialNo = undefined ;
    $('.list-content').off('click', '.lst');
    localStorage.removeItem('CreatedAgencyData');
    localStorage.removeItem('CreatedIBExamineDetailsData');
    localStorage.removeItem('loginIDName');

    EventBus.$off('showNotifyScheme');
    EventBus.$off('SavePlanMouldSucc');
    EventBus.$off('MouldTempCommissionRevenueDatas');
    EventBus.$off('ChangeEditCodeCommisionFlag');
    EventBus.$off('ChangeEditAccountForFlag');
    EventBus.$off('ChangeDivideName');
    EventBus.$off('ChangeSuperiorName');
    EventBus.$off('UpdatePlanList');
    EventBus.$off('ChangeEditDivideName');
    EventBus.$off('ChangeEditSuperiorName');
    EventBus.$off('ChangeEditAccountForFlag');
    EventBus.$off('UpdatePlanList');
  }
};
</script>

<style lang="less" scoped>
@import '~styles/cdn.less';
@deep: ~'>>>';
.promotion-wrap {
  color: #333;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2rem;
  .tab-head {
    margin: 0;
    li {
      width: 50%;
      &ctive {
        background: url('@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/member/tab_on.png')
          no-repeat top center;
        background-size: 100% 100%;
        color: #ffffff;
      }
    }
  }
  .filter-icon {
    width: 2.2rem;
    right: 0.5rem;
  }
  .icon {
    position: fixed;
    right: 3rem;
    top: 0;
    z-index: 101;
    color: #999;
    font-size: 1.5rem;
    width: 2.2rem;
    height: 3.5rem;
    background-size: 1.1rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content {
    padding-left: 4%;
    padding-right: 4%;
  }
  .warm-tip {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #fcca1d;
    margin: 1.25rem 0;
  }
  .btn-purple {
    font-size: 0.8125rem;
    background-color: #d0a05d;
    top: -0.2rem;
    right: 0;
    width: 8.5rem;
    position: absolute;
    height: auto;
    line-height: 1rem;
    padding: 0.4rem 1rem;
    box-sizing: border-box;
  }
  .flex-box {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .btn-gold {
    padding: 0;
    height: 2.875rem;
    width: 10.4rem;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c1c1c;
    margin: 1rem 0;
    float: left;
    margin-right: 0.35rem;
    box-sizing: border-box;
    &.add {
      position: fixed;
      bottom: 5rem;
      width: 6rem;
      height: 2rem;
      line-height: 2rem;
      left: 0;
      right: 0;
      float: static;
      margin: 0 auto;
    }
    &:nth-of-type(2) {
      margin-right: 0;
    }
  }
  .input-group {
    width: 100%;
    height: 2.4rem;
    line-height: 2.4rem;
    color: #242424;
    font-size: 0.8125rem;
    background: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.625rem;
    position: relative;
    .prefix {
      position: absolute;
      left: 0.5rem;
      top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 0.9rem;
    }
    .percentage {
      position: absolute;
      right: 0.5rem;
      top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 0.9rem;
    }
    .small-tip {
      font-size: 0.7rem;
      text-align: right;
      color: #fcca1d;
      line-height: 1.5rem;
    }
    input {
      width: 100%;
      height: auto;
      line-height: initial;
      border: none;
      background: transparent;
      padding-left: 1.5rem;
      box-sizing: border-box;
      padding-top: 0;
      &:focus,
      &:active {
        outline: none;
      }
    }
    &.right-padd {
      input {
        padding-left: 0;
        padding-right: 1.5rem;
      }
    }
    &.have-tip {
      margin-bottom: 1.6875rem;
    }
  }
  .ipt-tip {
    font-size: 0.7rem;
    color: #ee0a24;
    line-height: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 0.625rem;
    margin-top: 5px;
  }
  .content-box {
    position: relative;
    margin: 1rem 0;
    &.overflow-hidden {
      overflow: hidden;
    }
    &.settings {
      margin: 2rem 0;
      min-height: 1rem;
    }
    .content-title {
      font-size: 0.9375rem;
      color: #fff;
      font-weight: normal;
      line-height: 1rem;
      position: relative;
      padding-left: 10px;
      &.margin-bott {
        margin-bottom: 0.625rem;
      }
      &:after {
        content: '';
        background-color: #fff;
        width: 2px;
        height: 0.8rem;
        top: 0.1rem;
        left: 0;
        position: absolute;
      }
    }
  }
  .game-type {
    overflow: hidden;
    li {
      width: 32.3333%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 0.5rem 0.2rem;
      box-sizing: border-box;
      font-size: 0.8rem;
      background-color: #fff;
      border-radius: 3px;
      margin-right: 1%;
      float: left;
      margin-bottom: 0.2rem;
      box-sizing: border-box;
      line-height: 1rem;
      text-align: center;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &.active {
        background-color: #fcca1d;
      }
    }
  }
  .game-vendor {
    overflow: hidden;
    li {
      width: 50%;
      float: left;
      label {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        color: #fff;
        font-size: 0.75rem;
        width: 34%;
        height: 2.4rem;
        float: left;
        line-height: 1rem;
        padding: 0.5rem 0.3rem;
        box-sizing: border-box;
        word-break: break-word;
      }
      .input-group {
        width: 66%;
        float: left;
        // input {
        //   font-size: 0.75rem;
        // }
      }
    }
  }
  .pay-way-options {
    overflow: hidden;
    float: left;
    li {
      position: relative;
      padding-left: 20px;
      color: #fff;
      font-size: 0.875rem;
      line-height: 1rem;
      box-sizing: border-box;
      float: left;
      margin-left: 10px;
      .before_icon {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #e3e3e3;
        border: 1px solid #bc9457;
        margin-top: -7px;
      }
      .after_icon {
        content: '';
        position: absolute;
        top: 50%;
        left: 3px;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        border-radius: 50%;
        background: #bc9457;
      }
      &.disabled {
        color: #c0c4cc;
        &:before {
          background-color: #c7c7c7;
          border: 1px solid #555;
        }
      }
    }
  }
  .black-desc {
    display: flex;
    min-height: 2.4rem;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    position: relative;
    left: -4%;
    right: -4%;
    width: 108%;
    line-height: 1rem;
    justify-content: center;
    align-items: center;
  }
  .list-content {
    .title {
      li {
        color: #fff;
        font-size: 0.9375rem;
        &:nth-of-type(1) {
          width: 20%;
        }
        &:nth-of-type(2) {
          width: 20%;
        }
        &:nth-of-type(3) {
          width: 50%;
        }
        &:nth-of-type(4) {
          flex: 1;
        }
      }
    }
    .item {
      padding: 0;
      position: relative;
      transition: All 0.4s ease-in-out;
      -webkit-transition: All 0.4s ease-in-out;
      -moz-transition: All 0.4s ease-in-out;
      -o-transition: All 0.4s ease-in-out;
    }
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      transition: All 0.4s ease-in-out;
      -webkit-transition: All 0.4s ease-in-out;
      -moz-transition: All 0.4s ease-in-out;
      -o-transition: All 0.4s ease-in-out;
      .row {
        text-align: center;
        font-size: 0.8125rem;
        width: 20%;
        .arrow {
          width: 0.625rem;
          vertical-align: middle;
          transition: All 0.4s ease-in-out;
          -webkit-transition: All 0.4s ease-in-out;
          -moz-transition: All 0.4s ease-in-out;
          -o-transition: All 0.4s ease-in-out;

          &.close {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
          }
        }
        &.url {
          width: 50%;
          font-size: 0.8125rem;
          text-align: left;
        }
        div {
          color: #b8b8b8;
          font-size: 0.88rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 5px;
        }
      }
      .row:nth-of-type(1) {
        width: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
      .row:nth-of-type(2) {
        text-align: center;
      }
      .row:nth-of-type(4) {
        flex: 1;
      }
    }

    .child {
      margin: 0 0.9rem;
      overflow: hidden;
      padding: 0.5rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      .row {
        color: #b8b8b8;
        display: flex;
        width: 100%;
        div {
          flex: 1;
          word-break: break-all;
          position: relative;
          display: flex;
          label {
            width: 22%;
          }
          span {
            flex: 1;
          }
          &.url {
            span {
              padding-right: 4rem;
            }
            #copyObj {
              height: auto;
            }
            .copy {
              position: absolute;
              right: 0;
              top: 0;
              color: #d0a05d;
            }
          }
          &.code {
            line-height: 1rem;
            margin: 0.5rem 0 1rem;
            img {
              width: 4.65rem;
              height: 4.65rem;
              vertical-align: top;
            }
          }
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem auto;
        font-size: 0.88rem;
        padding: 0;
      }
    }
    .item.check {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .lst.check {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .item::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0.9rem;
      bottom: 0;
      left: 0.9rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    .total_bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0 0.9rem;
      height: 3.6rem;
      line-height: 3.6rem;
      p:nth-of-type(1) {
        font-size: 1rem;
        color: white;
      }
      p:nth-of-type(2) {
        color: #d0a05d;
        font-size: 1rem;
      }
    }
    .total_bar::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }

  .draw-enter-active,
  .draw-leave-active {
    transition: all 0.8s ease;
  }
  .draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
    height: 0 !important;
    opacity: 0 !important;
  }
  .color-green {
    color: #50e223 !important;
  }
  .operate {
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      display: block;
      width: 4.375rem;
      border-radius: 0.3rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      border: none;
      border-bottom: 1px solid #97949c;
      margin: 0 0.4rem;
      font-size: 0.88rem;
      padding: 0;
    }
    .reset {
      background-color: #9d9d9d;
      color: white;
    }
    .save {
      background-color: #d0a05d;
      color: #1c1c1c;
    }
  }
}
.vn,
.en {
  .pay-way-options {
    li {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  .promotion-wrap .list-content .title li:nth-of-type(2),
  .promotion-wrap .list-content .title li:nth-of-type(1) {
    width: 19%;
  }
}
.en {
  .promotion-wrap .list-content .title li:nth-of-type(2) {
    width: 30%;
  }
  .promotion-wrap .list-content .title li:nth-of-type(3) {
    width: 35%;
  }
}
</style>