<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <!-- <em class="filter-icon" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}" ></em> -->

      <!-- 自身待遇 -->
      <self-treatment ref="treatmentFun" ></self-treatment>
    </article>
  </div>
</template>
<script>
import EventBus from "scripts/common/EventBus";
import BLDef from "scripts/common/BLDef";
import mainHeader from "@/components/mobile/sub/mainHeader";
import selfTreatment from "@/components/mobile/sub/agency/selfTreatment.vue";

import moment from "moment";
import AgencyCenterService from "scripts/businessLogic/agencyCenterService";

export default {
  components: { mainHeader,selfTreatment },
  data() {
    return {
      HeaderTitle: this.$t("lang.SELF_TREATMENT"),
    };
  },
  created() {
      setTimeout(() => {
        this.$refs.treatmentFun.loadSelfPage('');
      }, 100);
  }
};
</script>

<style lang="less" scoped>
.selfTreatment {
  padding: 0.9rem;
  .contentLst {
    .lst {
      margin-bottom: 0.5rem;
      overflow: hidden;
      .title {
        color: #fff;
        font-size: 0.95rem;
        border-left: 0.2rem white solid;
        line-height: 1em;
        padding-left: 0.5rem;
        margin: 0.5rem 0;
      }
      .class {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        .item {
          width: 32.5%;
          margin-right: 1.25%;
          text-align: center;
          color: #333;
          font-size: 0.85rem;
          background-color: white;
          margin-top: 0.5rem;
          height: 2.4rem;
          line-height: 2.4rem;
          border-radius: 0.3rem;
        }
        .item:nth-of-type(3n) {
          margin-right: 0;
        }
        .active {
          background-color: #fcca1d;
        }
      }
      .list_box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(255, 255, 255, 0.1);
        // border-bottom: none;
        box-sizing: border-box;
        .item {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          box-sizing: border-box;
          width: 50%;
          color: white;
          text-align: center;
          font-size: 0.8rem;
          margin-bottom: -1px;
        }
        .item:nth-of-type(odd) {
          border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        .item:nth-last-child(1) {
          border-bottom: none;
        }
      }
      .table_box {
        .table {
          width: 100%;
          border-collapse: collapse; /*关键代码*/
          border-color: rgba(255, 255, 255, 0.1);
          .item {
            td {
              width: 50%;
              color: white;
              text-align: center;
              font-size: 0.8rem;
            }
          }
          .item:nth-of-type(1) {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }
      }
    }
  }
  .txt {
    font-size: 0.8rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.2rem 0;
    margin: 0 -0.9rem;
  }
}
</style>