<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap transfer-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <div class="transfer-content">
        <section class="transfer-top">
          <div class="agency-balance" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/wallet.png)'}">
            <p class="text">{{$t('lang.TRANSFER_AGENT_WALLET')}}</p>
            <p class="num">{{MemberBalance}}</p>
            <router-link
              :to="{name:'withdrawal'}"
              class="withdrawal-btn"
            >{{$t('lang.TRANSFER_WITHDRAWAL')}}</router-link>
          </div>
          <router-link class="agency-transfer" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/transfer.png)'}" :to="{name:'transfer'}">
            <img
              :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/transfer-icon.png'"
              alt
            />
            <p class="text">{{$t('lang.TRANSFER_OPERATION')}}</p>
          </router-link>
        </section>
        <section class="tab-section">
          <form novalidate="novalidate" class="addcard-form">
            <div class="row input-group">
              <label>{{$t('lang.TRANSFER_USER')}}</label>
              <input
                type="text"
                v-model="TransferQueryObj.MemberName"
                :placeholder="$t('lang.TRANSFER_ENTER_USER')"
                name="MemberName"
                v-validate="{ rules: { regex:Reg.Account }}"
                class="form-control input-control"
                @focus="$VueUtils.SetFooterBar('hide')"
               @blur="$VueUtils.SetFooterBar('show')"
              />
            </div>
            <div class="row input-group">
              <label class="input_lf">{{$t('lang.TRANSFER_IDENTITY')}}</label>
              <p class="form-select icon" >
                <select v-model="TransferQueryObj.To_MemberType" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/input_bg.jpg)'}">
                  <option value="-1">{{$t('lang.TRANSFER_CHOOSE')}}</option>
                  <option value="3">{{$t('lang.TRANSFER_AGENCY')}}</option>
                  <option value="4">{{$t('lang.TRANSFER_MEMBER')}}</option>
                </select>
                <em class="icon" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down1.jpg)'}"></em>
              </p>
            </div>
          </form>
          <div class="row">
            <!-- 开始时间 -->
            <input
              type="date"
              class="form-control"
              name="StartTime"
              :placeholder="''"
              @focus="DelDatePlaceholder($event)"
              @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_START'))"
              v-model="TransferQueryObj.StartTime"
              pattern="yyyy-MM-dd"
            />
            <!-- 结束时间 -->
            <input
              type="date"
              class="form-control"
              name="EndTime"
              :placeholder="''"
              @focus="DelDatePlaceholder($event)"
              @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_END'))"
              v-model="TransferQueryObj.EndTime"
              pattern="yyyy-MM-dd"
            />
            <a class="btn btn-bind" @click="SearchTransferListData()">{{$t('lang.BUTTON_SEARCH')}}</a>
          </div>
          <p
            style="height: 2rem;"
            class="error-tip"
            v-show="errors.has('MemberName') && fields.MemberName.touched"
          >* {{$t('lang.TRANSFER_USER_TIP')}}</p>
          <p
            class="error-tip"
            v-if="this.TransferQueryObj.EndTime !== '' &&
        this.TransferQueryObj.StartTime === ''"
          >* {{$t('lang.TIME_START_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.TransferQueryObj.StartTime !== '' &&
        this.TransferQueryObj.EndTime === ''"
          >* {{$t('lang.TIME_END_TIP')}}</p>
          <p
            class="error-tip"
            v-if="this.Submitted === true && this.TimeSequenceInvalid === true"
          >* {{$t('lang.TIME_OVER_TIP')}}</p>
          <p
            class="error-tip"
            v-else-if="this.TransferQueryObj.EndTime > this.NowDate || this.TransferQueryObj.StartTime > this.NowDate"
          >* {{$t('lang.TIME_FUTURE_FORBID')}}</p>
        </section>
        <section class="list-table">
          <div class="table">
            <table cellpadding="0" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <td class="w_2">{{$t('lang.TRANSFER_USER')}}</td>
                  <td class="w_2">{{$t('lang.TRANSFER_IDENTITY')}}</td>
                  <td class="w_1">{{$t('lang.TRANSFER_AMOUNT_TRANSFERRED')}}</td>
                  <td class="w_2">{{$t('lang.TRANSFER_TIME')}}</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in this.AuthorizeUserTransactionList" :key="index">
                  <td>{{item.To_MemberLoginID | simpleContent(9)}}</td>
                  <td>{{item.To_MemberType === 3? $t('lang.TRANSFER_AGENCY') : item.To_MemberType === 4? $t('lang.TRANSFER_MEMBER') : ''}}</td>
                  <td>{{item.VAmount}}</td>
                  <td>{{item.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <p class="scroll-footer-tip"></p>
      </div>
    </article>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';

import moment from 'moment';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.TRANSFER_TITLE'),
      // 正則表達式
      Reg: RegEx.Regex,
      AuthorizeUserTransactionList: [], // 瀑布式資料陣列
      LogTotalCount: undefined, // 瀑布式记录总数
      MaxPage: undefined, // 瀑布式最大頁數
      CurrentPage: 0, // 瀑布式當前頁數
      waterfallLock: false, // 瀑布式的Lock
      TransferQueryObj: {
        // 瀑布式分页
        PagingData: {
          PageNo: 1,
          PageSize: 10
        },
        MemberName: '',
        StartTime: moment(new Date()).format('YYYY-MM-DD'),
        EndTime: moment(new Date()).format('YYYY-MM-DD'),
        To_MemberType: -1
      },
      MemberBalance: 0,
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,
      // 大于当前时间
      NowDate: moment(new Date()).format('YYYY-MM-DD'),
      IsAllShow: false, // 是否已載入完全部
      Submitted: false,
      TimeSequenceInvalid: false
    };
  },
  activated: function() {
    this.Load();
    this.TransferOperationQuery();
    this.BindWaterFallEvent();
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    TransferOperationQuery: async function() {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const Data = await AgencyCenterService.LoadMemberBalance_FrontEnd();
      console.log('=================LoadMemberBalance_FrontEnd');
      console.log(Data);
      this.MemberBalance = Data.Data.MemberBalance;
      let PwdErrCnt = Data.Data.PwdErrCnt; // 新增取款密码错误次数 2019.12.06 ququ
      this.$store.dispatch(
        'transferAccount/setMemberBalanceVal',
        this.MemberBalance
      );
      this.$store.dispatch('transferAccount/setPwdErrCntVal', PwdErrCnt);
      const retData = await AgencyCenterService.AuthorizeUserTransactionList(
        this.TransferQueryObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (retData.Ret === 0) {
        this.AuthorizeUserTransactionList = this.AuthorizeUserTransactionList.concat(
          retData.Data.AuthorizeUserTransactionList
        );
        this.LogTotalCount = retData.Data.PagingInfo.TotalCount;
        this.MaxPage = Math.ceil(
          this.LogTotalCount / this.TransferQueryObj.PagingData.PageSize
        );
        this.CurrentPage++;
        // console.log('--------LogTotalCount--------' + this.LogTotalCount);
        console.log('--------请求成功--------');
        console.log(retData);

        // 是否已載入完全部
        if (this.AuthorizeUserTransactionList.length == this.LogTotalCount) {
          this.IsAllShow = true;
          $('.scroll-footer-tip').html(this.$t('lang.LIST_ALL_LOADED'));
          if (this.AuthorizeUserTransactionList.length < 1) {
            $('.scroll-footer-tip').html(this.$t('lang.LIST_NO_DATA'));
          }
        } else {
          this.IsAllShow = false;
          $('.scroll-footer-tip').html('');
        }
      } else {
        console.log('--------请求失败--------');
      }
      this.waterfallLock = false;
    },
    // 查询用户列表数据
    SearchTransferListData: async function() {
      this.Submitted = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied(); //其他栏位验证
      console.log(result, anyFieldInvalid);
      if (anyFieldInvalid === true || result === false) {
        return;
      }
      this.AuthorizeUserTransactionList = [];
      this.CurrentPage = 0;
      this.TransferQueryObj.PagingData.PageNo = 1;
      this.waterfallLock = false;
      this.TransferOperationQuery();
    },
    AgencyWithdrawal: function() {},
    //绑定瀑布流事件
    BindWaterFallEvent: function() {
      CommUtility.AgentBindWaterfallTable(96, this.MainShowMoreData);
    },
    // 瀑布式載入更多項目
    MainShowMoreData: function() {
      // console.log('--------MaxPage--------' + this.MaxPage);
      // console.log('--------CurrentPage--------' + this.CurrentPage);
      // console.log('--------waterfallLock--------' + this.waterfallLock);
      if (this.waterfallLock === false) {
        this.waterfallLock = true;
        if (this.CurrentPage < this.MaxPage) {
          this.TransferQueryObj.PagingData.PageNo++;
          this.TransferOperationQuery();
        } else {
          this.waterfallLock = false;
        }
      }
    }, // end MainShowMoreData
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // 開始時間未選
      if (
        this.TransferQueryObj.EndTime !== '' &&
        this.TransferQueryObj.StartTime === ''
      ) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (
        this.TransferQueryObj.StartTime !== '' &&
        this.TransferQueryObj.EndTime === ''
      ) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.TransferQueryObj.StartTime !== undefined &&
        this.TransferQueryObj.EndTime !== undefined
      ) {
        if (
          new Date(this.TransferQueryObj.StartTime) >
          new Date(this.TransferQueryObj.EndTime)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }
      // 大于当前日期
      if (
        new Date(this.TransferQueryObj.StartTime) > new Date() ||
        new Date(this.TransferQueryObj.EndTime) > new Date()
      ) {
        anyInvalid = true;
      }
      return anyInvalid;
    }, // end 驗證搜尋欄位正確性
    DelDatePlaceholder: function(ele) {
      ele.target.removeAttribute('placeholder');
    },
    //添加日历类型默认提示
    SetDatePlaceholder: function(ele, text) {
      if (!ele.target.value) {
        ele.target.setAttribute('placeholder', text);
      }
    }
  },
  components: { mainHeader },
  deactivated: function() {
    // 解绑滚动监听事件
    $('#wrapper').unbind('scroll');
    // 离开缓存组件时初始化组件数据
    this.AuthorizeUserTransactionList = [];
    this.waterfallLock = false;
    this.TransferQueryObj.PagingData.PageNo = 1;
    this.CurrentPage = 0;
    this.IsAllShow = false;
    this.TransferQueryObj.To_MemberType = -1;
    this.TransferQueryObj.MemberName = '';
    this.Submitted = false;
    this.TimeSequenceInvalid = false;
    this.TransferQueryObj.StartTime = this.TransferQueryObj.EndTime = moment(new Date()).format('YYYY-MM-DD');
    // $('input[name="StartTime"]').attr(
    //   'placeholder',
    //   this.$t('lang.TIME_ENTER_START')
    // );
    // $('input[name="EndTime"]').attr(
    //   'placeholder',
    //   this.$t('lang.TIME_ENTER_END')
    // );
    this.$validator.reset();
  }
};
</script>