<template>
  <div>
    <!-- 内容 -->
    <article class="msg-wrap recoed-wrap userList-wrap common-promotion-wrap">
      <!--头部-->
      <main-header :HeaderTitle="this.HeaderTitle"></main-header>
      <em class="filter-icon" @click="showfilterPopup" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-filter.png)'}"></em>
      <div class="userList-content">
        <van-list v-model="loading" :finished="finished" :finished-text="finishedText" @load="LoadUserList" ref="list">
          <div class="item" v-for="(item,index) in UserList" :key="index">
            <ul class="lst">
              <li class="row">
                <div>{{item.V_IBUserList.LoginID}}</div>
                <div>{{$t('lang.USER_ACCOUNT_BALANCE')}}</div>
              </li>
              <li class="row">
                <div>
                  <span class="identity" v-if="item.V_IBUserList.MemberType == 3">{{$t('lang.TRANSFER_AGENCY')}}</span>
                  <span class="identity" v-else>{{$t('lang.TRANSFER_MEMBER')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '701'" style>{{$t('lang.USER_ALL')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '702'" style="color:#70c27b;">{{$t('lang.USER_START')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '703'" style="color:red">{{$t('lang.USER_DISABLE')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '704'">{{$t('lang.USER_FREEZE')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '706'">{{$t('lang.USER_MAINTENANCEs')}}</span>
                </div>
                <div class="balance">{{item.V_IBUserList.Balance}}</div>
              </li>
            </ul>
            <ul class="child" v-show="item.check">
              <li class="row">
                <div>{{$t('lang.USER_NAME')}}：{{item.V_IBUserList.LoginID}}</div>
              </li>
              <li class="row">
                <div>
                  {{$t('lang.DETAILS_TEAM_SIZE')}}：
                  <span v-if="item.V_IBUserList.MemberType == 3">{{item.V_IBUserList.TeamCount}}</span>
                  <span v-else>-</span>
                </div>
              </li>
              <li class="row">
                <div>
                  {{$t('lang.DETAILS_IDENTITY')}}：
                  <span v-if="item.V_IBUserList.MemberType == 3">{{$t('lang.TRANSFER_AGENCY')}}</span>
                  <span v-else>{{$t('lang.TRANSFER_MEMBER')}}</span>
                </div>
              </li>
              <li class="row">
                <div>
                  {{$t('lang.USER_STATUS')}}：
                  <span v-if="item.V_IBUserList.LoginStatus == '701'" style>{{$t('lang.USER_ALL')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '702'" style="color:#70c27b;">{{$t('lang.USER_START')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '703'" style="color:red">{{$t('lang.USER_DISABLE')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '704'">{{$t('lang.USER_FREEZE')}}</span>
                  <span v-if="item.V_IBUserList.LoginStatus == '706'">{{$t('lang.USER_MAINTENANCEs')}}</span>
                </div>
              </li>
              <li class="row">
                <div>{{$t('lang.USER_REGISTRATION_DATE')}}：{{item.CreateDateTimeTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
              </li>
              <li class="row">
                <div>{{$t('lang.USER_ACCOUNT_BALANCE')}}：{{item.V_IBUserList.Balance}}</div>
              </li>
              <button v-if="item.V_IBUserList.MemberType == 4" style="border: 0;color: #999;background-color: transparent;" class="seeBtn">{{$t('lang.USER_MEMBER_PLAN')}}</button>
              <button v-else class="seeBtn" @click="showViewPlan(item.V_IBUserList.MemberID)">{{$t('lang.USER_VIEW_PLAN')}}</button>
              <button class="seeBtn" @click="becomeAgentClick(item.V_IBUserList)" v-if="item.V_IBUserList.ApplyStatus == -1 && item.V_IBUserList.MemberType == 4">{{$t('lang.AGENCY_PROCURATOR')}}</button>
              <button class="seeBtn" @click="requestAgentClick(item.V_IBUserList)" v-else-if="item.V_IBUserList.ApplyStatus== 0 && item.V_IBUserList.MemberType == 4">{{$t('lang.AGENCY_BECOME_AGENT')}}</button>
            </ul>
          </div>
        </van-list>
      </div>
    </article>

    <filter-popup ref="filter" :FirstPlanEnter="FirstPlanEnter"></filter-popup>
    <view-plan ref="viewPlan"></view-plan>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import mainHeader from '@/components/mobile/sub/mainHeader';
import filterPopup from '@/components/mobile/filterPopup';
import viewPlan from './viewPlan.vue';
import { List } from 'vant';
import RegEx from 'scripts/common/CommDef';
import moment from 'moment';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      HeaderTitle: this.$t('lang.USER_TITLE'),
      UserList: [],
      UserDisplayQueryObj: {
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        TitleKeyWord: '',
        StartTime: '',
        EndTime: '',
        MessageType: {},
        StartTick: null,
        EndTick: null,
        IsNextLayer: 0 // 是否包含下级 0 否 1 是
      },
      loading: false,
      finished: false,
      finishedText: '',
      type: '',
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        CloseFunction: Function
      },
      FirstPlanEnter: true // 首次搜索弹窗
    };
  },
  activated: function () {
    this.Load();
    this.setInit();
  },
  mounted() {
    // 展开每条详细信息
    $('.van-list').on('click', '.lst', function () {
      if (!$(".child").is(":animated")) { //判断是否处于动画
        if ($(this).hasClass('check')) {
          $(this).removeClass('check');
          $(this).parent('.item').removeClass('check');
        } else {
          $(this).addClass('check');
          $(this).parent('.item').addClass('check');
        }
        $(this).siblings('.child').slideToggle(800);
      }
    });

    this.$VueUtils.setMyHeaderPosition(); // 处理头部CSS
  },
  methods: {
    showfilterPopup: function () {
      this.$refs.filter.parentMsg('userList', RegEx.Regex.LoginAccount);
      this.FirstPlanEnter = false;
    },

    showViewPlan: function (userMementID) {
      this.$refs.viewPlan.parentMsg(userMementID);
    },

    // 请求成为代理
    requestAgentClick: function (data) {
      const notifyData = {
        NotifyMessage: this.$t('lang.AGENCY_PLAYER_NAME') + '：' + data.LoginID
      };
      EventBus.$emit('showNotifyMessage', notifyData);
      notifyData.CloseFunction = () => {
        this.becomeAgentClick(data);
      };
    },

    // 成为代理
    becomeAgentClick: function (data) {
      localStorage.setItem('loginIDName', JSON.stringify(data));
      this.$router.push({ name: 'promotionManagement' });
    },

    // 初始化
    setInit() {
      this.loading = false;
      this.finished = false;
      this.UserDisplayQueryObj = {
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        TitleKeyWord: '',
        StartTime: '',
        EndTime: '',
        MessageType: {},
        StartTick: '',
        EndTick: '',
        IsNextLayer: 0
      };
      this.UserList = [];
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },

    childMsg: function (msg) {
      this.loading = false;
      this.finished = false;
      this.UserDisplayQueryObj = {
        PagingInfo: {
          PageNo: 1,
          PageSize: 20
        },
        TitleKeyWord: msg.name || '',
        StartTime: msg.StartTime || '',
        EndTime: msg.EndTime || '',
        MessageType: {},
        StartTick: null,
        EndTick: null,
        IsNextLayer: msg.lowerLevel ? 1 : 0
      };
      this.UserList = [];
      setTimeout(() => {
        this.$refs.list.check();
      }, 100);
    },
    Load: function () {
      this.$nextTick(function () {
        CommUtility.ToScrollTop(); // ios12.0以上版本 input事件 键盘跟着页面上去，页面热键错乱
      });
    },
    // 加载用户列表数据
    LoadUserList: async function () {
      if (localStorage.getItem('typeLevelID')) {
        this.typeId = JSON.parse(localStorage.getItem('typeLevelID'));
      } else {
        this.typeId = -1;
      }
      const inputObj = {
        ParentID: localStorage.getItem('CorrelationIBMemberId'),
        QueryType: 1,
        LoginID: this.UserDisplayQueryObj.TitleKeyWord,
        Hierarchy: this.typeId,
        StartTick: CommUtility.LocalTimeToUtcTicks(
          moment(this.UserDisplayQueryObj.StartTime).format('YYYY-MM-DD')
        ),
        EndTick:
          CommUtility.LocalTimeToUtcTicks(
            moment(this.UserDisplayQueryObj.EndTime).format('YYYY-MM-DD')
          ) +
          (24 * 60 * 60 - 1) * 1000,
        PagingInfo: {
          PageSize: this.UserDisplayQueryObj.PagingInfo.PageSize,
          PageNo: this.UserDisplayQueryObj.PagingInfo.PageNo
        },
        IsNextLayer: this.UserDisplayQueryObj.IsNextLayer
      };
      const data = await AgencyCenterService.IBUserList_Query(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.loading = false;
        this.UserList = this.UserList.concat(data.Data.IBUserList);
        for (let item of this.UserList) {
          item.check = false;
        }
        this.LogTotalCount = data.Data.PagingInfo.TotalCount;
        this.MaxPage = Math.ceil(
          this.LogTotalCount / this.UserDisplayQueryObj.PagingInfo.PageSize
        );
        this.UserDisplayQueryObj.PagingInfo.PageNo++;
        // 是否已載入完全部
        if (this.UserList.length == this.LogTotalCount) {
          this.finished = true;
          this.finishedText = this.$t('lang.LIST_ALL_LOADED');
          if (this.UserList.length < 1) {
            this.finishedText = this.$t('lang.LIST_NO_DATA');
          }
        }
      } else {
        this.finished = true;
        this.finishedText = '';
        EventBus.$emit('SHOW_TIP', this.$t('lang.DATA_LOAD_FAILED'));
      }
    }
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number(value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  components: { mainHeader, [List.name]: List, filterPopup, viewPlan },
  deactivated: function () {
    this.FirstPlanEnter = true;
  }
};
</script>

<style lang="less" scoped>
.userList-content {
  .item {
    padding: 0;
    position: relative;
    .row {
      margin: 0;
      line-height: 1.8em;
      font-size: 0.88rem;
    }
    .lst {
      padding: 0.4rem 0;
      .row {
        display: flex;
        justify-content: space-between;
        margin: 0 0.9rem;
        div {
          color: white;
          font-size: 0.88rem;
          span {
            color: #50e223;
            margin-left: 0.4rem;
          }
          .identity{
            color: white;
            margin: 0;
          }
        }
        .balance {
          color: #d0a05d;
          font-size: 1rem;
        }
      }
    }

    .child {
      padding: 0.6rem 0.9rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      .row {
        width: 100%;
        color: #b8b8b8;
        display: flex;
        div {
          flex: 1;
        }
      }
      .seeBtn {
        display: block;
        width: 44%;
        background-color: #d0a05d;
        color: #1c1c1c;
        border-radius: 0.3rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        border: none;
        border-top: 1px solid #eddac0;
        border-bottom: 1px solid #112727;
        margin: 0.4rem 33%;
        font-size: 0.88rem;
        padding: 0;
      }
    }
  }
  .item.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .lst.check {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .item::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.draw-enter-active,
.draw-leave-active {
  transition: all 0.8s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  opacity: 0 !important;
}
</style>