<template>
  <div class="viewPlan">
    <van-popup
      ref="getheight"
      class="popup"
      v-model="show"
      :style="{ height: '88%', width: '82%' }"
    >
      <h1 class="title_bar" ref="title">{{$t('lang.WITHDRAWAL_DETAIL')}}</h1>
     
      <!-- 自身待遇 -->
      <self-treatment ref="treatmentFun" :style="{ height: contentHeight }"></self-treatment>

      <button class="closeBtn" @click="show=false">{{$t('lang.WINDOWS_CLOSE')}}</button>
    </van-popup>
  </div>
</template>
<script>
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import mainHeader from '@/components/mobile/sub/mainHeader';
import moment from 'moment';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import selfTreatment from "@/components/mobile/sub/agency/selfTreatment.vue";

import { Popup } from 'vant';
export default {
  components: {
    [Popup.name]: Popup, selfTreatment
  },
  data() {
    return {
      show: false,
      contentHeight: document.documentElement.clientHeight * 0.88 + 'px',
    };
  },

  methods: {
    parentMsg(userMementID) {
      this.show = true;
      setTimeout(() => {
        this.contentHeight =
          document.documentElement.clientHeight * 0.88 -
          this.$refs.title.offsetHeight * 3.2 +
          'px';
        this.$refs.treatmentFun.loadSelfPage(userMementID);
      }, 100);
    }
  }
};
</script>

<style lang="less" scoped>
.viewPlan {
  .popup {
    border-radius: 0.3rem;
    border: 0.1rem solid #dab967;
    background-color: #dbd5db;
    .title_bar {
      color: #e7b771;
      background-image: linear-gradient(to bottom, #444444, #161616);
      font-weight: normal;
      font-size: 0.95rem;
      height: 2.6rem;
      line-height: 2.6rem;
      text-align: center;
    }
    .closeBtn {
      color: #fff;
      background-color: #9d9d9d;
      height: 2.6rem;
      line-height: 2.6rem;
      font-size: 0.95rem;
      width: 90%;
      margin: 0.4rem auto 0;
      display: block;
      border: none;
      border-radius: 0.3rem;
    }
  }
}
</style>