.form
  padding 2rem 3rem

  &__row
    position relative
    margin-bottom 16px

    &--space-between
      display flex
      justify-content space-between
      align-items center

  &__input-group
    display flex
    align-items center
    height 40px
    border-radius 4px
    background $input-background-color

  &__input-icon
    display flex
    justify-content center
    align-items center
    margin 8px
    width 20px
    height 20px

  &__input
    position relative
    box-sizing border-box
    width stretch
    height inherit
    outline none
    border none
    background $input-background-color
    color $input-placeholder-color
    font-size 16px
    line-height 1

  &__link-text
    color $primary-color
    font-size 16px

  &__checkbox-group
    display flex
    align-items center

  &__checkbox
    margin 8px

  &__label
    color #ffffff
    font-size 16px

  &__primary-button
    display flex
    justify-content center
    align-items center
    height 45px
    border-radius 3px
    background $primary-color
    color #fff
    font-size 16px

  &__error-tip
    margin-top 16px
    color $primary-color

  &--cross
    position absolute
    top 50%
    right 0.2rem
    z-index 1
    transform translate(0, -50%)

    &:after
      display inline-block
      color $primary-color
      content "\00d7"
      font-size 2rem

input[aria-invalid="true"]
  border-color $primary-color
