<template>
  <!-- 免费试玩弹窗提示 -->
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="languageModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{ $t("lang.LANGUAGE_CHOOSE") }}</h4>
          </div>
          <div class="modal-body">
            <ul class="language-list">
              <li
                :class="{ active: LangSelected === Lang.Value }"
                data="ZH"
                v-for="(Lang, index) in this.LangList"
                @click="ChangeLang(Lang)"
                :key="index"
              >
                <img
                  v-if="Lang.Value === '1'"
                  class="col-12"
                  :src="  ResourceCDN +  '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_ZH.png' "
                />
                <img
                  v-if="Lang.Value === '2'"
                  class="col-12"
                  :src="  ResourceCDN +  '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_AS.png'  "
                />
                <img
                  v-if="Lang.Value === '3'"
                  class="col-12"
                  :src="  ResourceCDN +  '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_VN.png' "
                />
                <img
                  v-if="Lang.Value === '4'"
                  class="col-12"
                  :src="  ResourceCDN +  '/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_TW.png' "
                />
                <em class="icon-success"></em>
                {{ Lang.Name }}
              </li>
              <!-- <li data="AS" @click="ChangeLang('en')">
                <img
                  class="col-12"
                  :src="ResourceCDN+'/EditionImg-mobile/Lambor1.0/images/mobile/index/lang_img_AS.png'"
                />
                <em class="icon-success"></em>
                English
              </li>-->
            </ul>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      <div
        class="modal-footer-close"
        data-dismiss="modal"
        :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/icon_close4.png)'}"
      ></div>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus"
import BLDef from "scripts/common/BLDef"
import HttpService from "scripts/common/HttpService"
import Vue from "vue"
export default {
  props: {
    LangList: [],
    LangSelected: ""
  },
  data() {
    return {
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN
    }
  },
  created: function () {
    this.Load()
  },
  methods: {
    Load: function () {
      this.$nextTick(function () {
        this.bindSetLanguage()
        this.ModalHeight()
      })
    },
    bindSetLanguage: function () {
      $(".language-list li").click(function () {
        var that = $(this)
        var language = that.attr("data")
        that.addClass("active").siblings("li").removeClass("active")
        //					EventBus.$emit('SET_THEME', theme); //调用父级方法
      })
    },
    ChangeLang: function (lang) {
      this.$parent.ChangeLangEvent(lang)
      this.GatGame()
    },

    // 遍历获取游戏列表
    GatGame: async function () {
      // 判断本地是否已经有缓存--获取
      const dataObj = {
        WGUID: "",
        GameTypeNo: "",
        PlatformType: BLDef.Paltform.Web_Mobile
      }
      dataObj.WGUID = Vue.prototype.$WGUID
      dataObj.GameTypeNo = "0" // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj)
      let GameList = []
      if (retData.Ret === 0) {
        for (let i = 0; i < retData.Data.GameAPIVerdorList.length; i++) {
          // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
          if (
            retData.Data.GameAPIVerdorList[i].IsH5Support === 1 &&
            retData.Data.GameAPIVerdorList[i].ApiStatus !== 704
          ) {
            GameList.push(retData.Data.GameAPIVerdorList[i])
          }
        }
        localStorage.setItem("GameList", JSON.stringify(GameList))
      }
    },

    //弹窗高度
    ModalHeight: function () {
      //语系
      $("#languageModal").on("show.bs.modal", function () {
        $(this).css("display", "block")
        console.log("===================$(languageModal).height()")
        console.log($("#languageModal .modal-dialog").height())
        var ModalHeight = $(window).height() / 2 - $("#languageModal .modal-dialog").height() / 2
        $(this).find(".modal-dialog").css({
          "margin-top": ModalHeight
        })
      })
    }
  }
}
</script>
