<template>
  <!-- 免费试玩弹窗提示 -->
  <div class="mob-wrap" v-show="TimeMessage">
    <div
      class="modal modal-shadow fade"
      id="activityInfoModal"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header-close" @click="CloseModal"></div>
          <div class="modal-body">
            <!-- 其他 -->
            <section v-if="ActiveID > 0">
              <div class="activity-banner">
                <img v-if="ActLogoFlag == true" :src="WebVersionHost + PromotionDetail.ActLogo" />
              </div>
              <div class="activity-info" v-cloak>
                <h5>{{PromotionDetail.Name}}</h5>
                <span>{{PromotionDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{PromotionDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</span>
                <!-- <p v-html="this.PromotionDetail.ActContent"></p> -->
                <p id="activity-html" style="min-height: 2rem;"></p>
              </div>
            </section>

            <div class="activity-info row">
              <a
                @click="ToRechargePage()"
                class="btn btn-gold"
              >{{$t('lang.ACTIVITY_ENTER_DEPOSIT')}}</a>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<style lang="less">
@import '~styles/cdn.less';
@import '~styles/modal/mobile/activityList/index.less';
</style>
<script>
import InformationService from 'scripts/businessLogic/informationService';
import CommonService from 'scripts/businessLogic/commonService';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import HttpService from 'scripts/common/HttpService';

export default {
  data() {
    return {
      ActiveID: undefined,
      PromotionDetail: {},
      // 圖片旗標
      ActLogoFlag: false,
      // 首存，续存
      OtherActivityData: false,
      // 传递活动详情到个人中心
      TransActivityData: {},
      // 資源位置
      ResourceURL: Vue.prototype.$ResourceURL,
      ResourceCDN: Vue.prototype.$ResourceCDN,

      // 延迟弹出
      TimeMessage: false
    };
  },
  created: function() {
    const self = this;
    EventBus.$on('changeActiveType', data => {
      self.ActiveID = data;
      if (self.ActiveID >= 0) {
        this.OtherActivityData = true;
        self.GetPromotionDetail();
      }
    });
  },
  methods: {
    Load: function() {
      this.$nextTick(function() {
        this.ModalHeight();
      });
    },
    // 獲得頁面資料
    GetPromotionDetail: async function() {
      this.PromotionDetail = ''; // 2018.12.25 SeyoChen

      const dataObj = {
        WGUID: Vue.prototype.$WGUID,
        ID: this.ActiveID
      };
      const retData = await InformationService.GetActivityDetail(dataObj);
      this.TransActivityData = retData.Data.Detail; // 2018.09.21 SeyoChen

      // 失敗
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      } // end if

      // 成功
      this.PromotionDetail = retData.Data.Detail;
      // 2018.12.25 SeyoChen 延时出现
      const self = this;
      setTimeout(() => {
        EventBus.$emit('GlobalLoadingTrigger', false);
        self.TimeMessage = true;
        $('#activityInfoModal').modal('show');
      }, 100);
      // 2018.12.25 SeyoChen end

      this.PromotionDetail.ActContent = await HttpService.GetContent(
        this.ResourceURL + retData.Data.Detail.ActContent
      );

      $('#activity-html').html(this.PromotionDetail.ActContent);

      if (!(retData.Data.Detail.ActLogo == null)) {
        this.ActLogoFlag = true;
      } // end if
    }, // end GetPromotionDetail

    // 2018.12.25 SeyoChen 延时出现
    CloseModal: function() {
      EventBus.$emit('GlobalLoadingTrigger', false);
      $('body').removeClass();
      this.TimeMessage = false;
      $('#activityInfoModal').modal('hide');
    },
    // 2018.12.25 SeyoChen 延时出现 end

    // 传值到支付页面 2018.09.21 SeyoChen
    ToRechargePage: async function() {
      this.TimeMessage = false; // 2018.12.25 SeyoChen 延时出现
      // $('#activityInfoModal').modal('hide')
      //	        	if(!this.OtherActivityData){
      //	        		$('#depositModal').modal('show')
      //	        		return
      //	        	}
      const retDataCheck = await CommonService.Comm_CheckPermission();
      if (retDataCheck.Status != 0) {
        if (retDataCheck.Status != 4) {
          this.$router.push({ name: 'deposit' });
        } else {
          let notifyData = {
            NotifyMessage: _that.$t('lang.ACCOUNT_FROZEN_TIP1')
          };
          EventBus.$emit('showWarnTip', notifyData);
          return false;
        }
        //	            	$('#depositModal').modal('show')
      } else {
        this.$router.push({ name: 'login' });
      }
    }
  },
  beforeDestroy() {
    EventBus.$off('showNotifyMessage');
  }
};
</script>
