.list-report-records
  display block

  &__content
    color #969799
    font-size 0.8rem

  &__list
    display block
    padding 0.4rem 0.9rem
    border-bottom 1px #212121 solid
    font-size 0.8rem

    &--two-columns
      display grid
      padding 0.4rem 0.9rem
      border-bottom 1px #212121 solid
      font-size 0.8rem
      grid-template-columns 50% 50%

    &--is-active
      background rgba(50, 50, 50, 0.3)

  &__list-group
    display flex
    flex-direction column
    justify-content center
    align-items flex-start

  &__list-group-inline
    display flex
    justify-content space-between
    align-items center

  &__list-group-center
    display flex
    flex-direction column
    justify-content center
    align-items center

  &__list-detail
    padding 0.4rem 0.9rem

    &--is-active
      background rgba(100, 100, 100, 0.2)
      transition all 0.3s ease

  &__list-detail-row
    display flex
    justify-content space-between
    align-items center
    margin 0.4rem 0

    &--two-columns
      display grid
      margin 0.4rem 0
      grid-template-columns 50% 50%

  &__list-detail-item
    word-break break-word

  &__label
    color #fff
    font-size 0.9rem

  &__noticeable-amount
    color $secondary-color
    font-weight bold
    font-size 0.9rem

  &__status-row
    display flex
    justify-content center
    align-content center
    box-sizing border-box
    padding 1rem
    color #969799
    font-size 0.8rem
