<template>
  <div class="filterPopup">
    <van-popup
      class="popup"
      v-model="Show"
      position="right"
      :style="{ height: '100%', width: '85%' }"
      @close="CloseWindows"
    >
      <div class="content">
        <div class="content-box">
          <h5 class="content-title margin-bott">{{$t('lang.PLAN_NAME')}}</h5>
          <div class="row input-group">
            <input
              type="text"
              name="TempName"
              v-model.trim="SavePlanObj.TempName"
              v-validate="{ rules: { regex:Reg.PlanName, required: true }}"
              class="form-control"
              @focus=" $VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <p
            class="ipt-tip"
            v-show="errors.has('TempName') && fields.TempName.touched"
          >{{$t('lang.PLAN_NAME_TIP')}}</p>
        </div>
        <div v-if="AutoUpgradeFlag==1" class="black-desc">{{$t('lang.PROMOTION_AUTO_UP')}}</div>
        <div class="right-padd input-group have-tip" v-if="AutoUpgradeFlag!=1">
          <input
            type="number"
            v-model="SavePlanObj.RakeRateOwn"
            @blur="Revrsevailable()"
            @input="OninputRevrsevailable"
            :placeholder="$t('lang.PROMOTION_ENTER_COMMISSION')"
            class="form-control"
          />
          <i class="percentage">%</i>
          <p class="small-tip">{{$t('lang.PROMOTION_REMAIN_COMMISSION')}}{{VMaxRevrseWater}}%</p>
        </div>
        <p class="black-desc">{{$t('lang.PROMOTION_SETTLEMENT_METHOD')}}{{CycleName}}</p>
        <div class="operate">
          <a class="reset" @click="ResetEditSpreadFrom()" v-html="$t('lang.WINDOWS_RESET')"></a>
          <a class="save" @click="SaveCodeSettings()" v-html="$t('lang.WINDOWS_SAVE')"></a>
        </div>
      </div>
    </van-popup>
  </div>
</template>
<script>
import { Popup } from 'vant';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  data() {
    return {
      // 正則表達式類別
      Reg: RegEx.Regex,
      Show: false,
      SavePlanObj: {
        MemberID: localStorage.getItem('CorrelationIBMemberId'),
        TempName: '',
        TempType: 1402,
        RakeRate: 0,
        RakeRateOwn: 0,
        TempID: '',
        GroupID: ''
      },
      CallBackWord: false,
      Text: '',
      Top: 0
    };
  },
  props: {
    AutoUpgradeFlag: undefined,
    VMaxRevrseWater: '',
    TempName: '',
    RakeRate: '',
    TempID: '',
    PlanId: '',
    CycleName: {
      type: String,
      default: function() {
        return '';
      }
    }
  },
  components: {
    [Popup.name]: Popup
  },
  mounted: function() {
    this.$nextTick(() => {
      this.SavePlanObj.TempName = this.TempName;
      this.SavePlanObj.RakeRateOwn = this.RakeRate;
      this.SavePlanObj.TempID = this.PlanId;
      this.SavePlanObj.GroupID = this.PlanId;
    });
    setTimeout(() => {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        // uc浏览器
        $('.filterPopup .van-popup').css({ position: 'absolute' });
        $('.filterPopup .van-overlay').css({ position: 'absolute' });
      }
    }, 500);
  },
  methods: {
    PopupShow: function(top) {
      this.Show = true;
      console.log('********************top');
      console.log(top);
      this.Top = top;
    },
    SaveCodeSettings: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      if (this.AutoUpgradeFlag * 1 != 1) {
        if (this.SavePlanObj.RakeRateOwn === '') {
          EventBus.$emit(
            'SHOW_TIP',
            this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.VMaxRevrseWater
          );
          return;
        }
        this.SavePlanObj.RakeRateOwn *= 1;
        if (this.SavePlanObj.RakeRateOwn > this.VMaxRevrseWater * 1) {
          EventBus.$emit(
            'SHOW_TIP',
            this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.VMaxRevrseWater
          );
          this.SavePlanObj.RakeRateOwn = '';
          return;
        }
      }
      this.SavePlanObj.RakeRate = this.NumCalFix(
        (this.SavePlanObj.RakeRateOwn * 1) / 100
      );
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanMod(
        this.SavePlanObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPlanMod');
      console.log(data);
      if (data.Ret == 100021) {
        EventBus.$emit('SHOW_TIP', this.$t('lang.PLAN_NAME_DUPLICATED'));
      } else {
        if (data.Ret == 0) {
          this.$parent.childMsg({});
        }
        this.SavePlanObj.TempName = '';
        this.SavePlanObj.RakeRateOwn = 0;
        this.$validator.reset();
        this.CloseWindows();
        EventBus.$emit('SHOW_TIP', data.Message);
      }
    },
    Revrsevailable: function() {
      if (this.SavePlanObj.RakeRateOwn * 1 > this.VMaxRevrseWater) {
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.VMaxRevrseWater
        );
        this.SavePlanObj.RakeRateOwn = '';
      }
    },
    OninputRevrsevailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.SavePlanObj.RakeRateOwn = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.SavePlanObj.RakeRateOwn = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.SavePlanObj.RakeRateOwn = String(e.target.value).substring(
            0,
            index + 3
          );
        } else {
          this.SavePlanObj.RakeRateOwn =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.SavePlanObj.RakeRateOwn =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    // 格式化数字
    NumCalFix: function(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    // 重置表单
    ResetEditSpreadFrom: function() {
      this.SavePlanObj.TempName = '';
      this.SavePlanObj.RakeRateOwn = 0;
      this.$validator.reset();
    },
    CloseWindows() {
      EventBus.$emit('ChangeEditCodeCommisionFlag');
      setTimeout(() => {
        // 判断uc浏览器
        if (navigator.userAgent.indexOf('UCBrowser') > -1) {
          $('#wrapper').css({ overflow: 'auto' });
          $('#wrapper').animate(
            {
              scrollTop: this.Top
            },
            500
          );
        }
      }, 300);
      this.Show = false;
    }
  },
  deactivated: function() {}
};
</script>

<style lang="less" scoped>
.filterPopup {
  font-size: 0.7rem;
  .popup {
    background-color: #dbd5db;
    margin-top: 3.5rem;
    overflow-x: hidden;
  }
  .content {
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5rem;
  }
  .input-group {
    width: 100%;
    height: 2.4rem;
    line-height: 2.4rem;
    color: #242424;
    font-size: 0.8125rem;
    background: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.625rem;
    position: relative;
    .percentage {
      position: absolute;
      right: 0.5rem;
      top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 0.9rem;
    }
    .small-tip {
      font-size: 0.7rem;
      text-align: right;
      color: #999999;
      line-height: 1.5rem;
    }
    input {
      width: 100%;
      height: auto;
      line-height: initial;
      border: none;
      background: transparent;
      box-sizing: border-box;
      padding-top: 0;
      &:focus,
      &:active {
        outline: none;
      }
    }
    &.right-padd {
      input {
        padding-right: 1.5rem;
      }
    }
    &.have-tip {
      margin-bottom: 1.6875rem;
    }
  }
  .ipt-tip {
    font-size: 0.7rem;
    color: #ee0a24;
    line-height: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 0.625rem;
    margin-top: 5px;
  }
  .content-box {
    position: relative;
    margin: 1rem 0;
    &.overflow-hidden {
      overflow: hidden;
    }
    &.settings {
      margin: 2rem 0;
    }
    .content-title {
      font-size: 0.875rem;
      color: #333;
      font-weight: normal;
      line-height: 1rem;
      position: relative;
      &.margin-bott {
        margin-bottom: 0.4rem;
      }
    }
  }
  .black-desc {
    display: flex;
    min-height: 2.4rem;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    position: relative;
    left: -4%;
    right: -4%;
    width: 108%;
    line-height: 1rem;
    justify-content: center;
    align-items: center;
  }
  .operate {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5rem;
    a {
      display: block;
      width: 37%;
      border-radius: 0.3rem;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      border: none;
      border-bottom: 1px solid #97949c;
      margin: 0 0.4rem;
      font-size: 0.88rem;
      padding: 0;
    }
    .reset {
      background-color: #9d9d9d;
      color: white;
    }
    .save {
      background-color: #d0a05d;
      color: #1c1c1c;
    }
  }
}
.vn {
  .black-desc {
    font-size: 0.7rem;
  }
}
</style>