<template>
  <div class="filterPopup">
    <van-popup
      class="popup"
      v-model="Show"
      position="right"
      :style="{ height: '100%', width: '85%' }"
      @close="CloseWindow"
    >
      <div class="content">
        <div class="content-box">
          <h5 class="content-title margin-bott">{{$t('lang.PLAN_NAME')}}</h5>
          <div class="row input-group">
            <input
              type="text"
              name="TempName"
              v-model.trim="EditPlanObj.TempName"
              v-validate="{ rules: { regex:Reg.PlanName, required: true }}"
              class="form-control"
              @focus="$VueUtils.SetFooterBar('hide')"
              @blur="$VueUtils.SetFooterBar('show')"
            />
          </div>
          <p
            class="ipt-tip"
            v-show="errors.has('TempName') && fields.TempName.touched"
          >{{$t('lang.PLAN_NAME_TIP')}}</p>
        </div>
        <section>
          <div class="content-box settings">
            <h5 class="content-title">{{$t('lang.PROMOTION_SPLIT_SETTINGS')}}</h5>
          </div>
          <ul class="game-type">
            <li
              v-for="(li,index) in OwnOriginalValueListItem"
              :key="index"
              @click="EditdivideInto(li.GroupName)"
              :class="{'active':EditDivideName == li.GroupName}"
            >{{li.GroupName}}</li>
          </ul>
          <div
            class="content-box"
            v-for="(li,index) in OwnOriginalValueListItem"
            :key="index"
            v-show="EditDivideName == li.GroupName"
          >
            <h5 class="content-title margin-bott">{{li.GroupName}}</h5>
            <div class="input-group right-padd">
              <input
                v-model="li.tabValueName"
                @input="TabValueKey(li.tabValueName,index,$event)"
                type="number"
                class="form-control"
              />
              <i class="percentage">%</i>
            </div>
          </div>
          <div class="content-box">
            <h5 class="content-title margin-bott">{{$t('lang.PROMOTION_GAME_VENDOR')}}</h5>
            <ul
              v-for="(li,index) in OwnOriginalValueListItem"
              :key="index"
              v-show="EditDivideName == li.GroupName"
              class="game-vendor"
            >
              <li v-for="(liList,key) in li.GroupList" :key="key">
                <label>{{liList.GameApiName}}</label>
                <div class="input-group right-padd">
                  <input
                    v-model="liList.RevenueRate"
                    @blur="Treatmentvailable(liList,index,key)"
                    type="number"
                    @input="OninputRevenueRate(index,key,$event)"
                    :placeholder="$t('lang.PROMOTION_HIGHEST_PORPORTION')+OwnEditValueListItem[index].GroupList[key].RevenueRate+'%'"
                    class="form-control"
                  />
                  <i class="percentage">%</i>
                </div>
              </li>
            </ul>
          </div>
          <div class="right-padd input-group have-tip">
            <input
              type="number"
              @blur="IBBonusvailable()"
              v-model="EditPlanObj.BonusRevenueOwn"
              @input="OninputIBBonusvailable"
              :placeholder="$t('lang.PROMOTION_BONUS_PERCENTAGE')"
              class="form-control"
            />
            <i class="percentage">%</i>
            <p class="small-tip">{{$t('lang.PROMOTION_REMAIN_BONUS')}}{{EditMaxIBBonusRevenueRate}}%</p>
          </div>
        </section>
        <div v-if="AutoUpgradeFlag==1" class="black-desc">{{$t('lang.PROMOTION_AUTO_UP')}}</div>
        <div class="right-padd input-group have-tip" v-show="AutoUpgradeFlag!=1">
          <input
            @blur="Revrsevailable()"
            v-model="EditPlanObj.RakeRateOwn"
            type="number"
            @input="OninputRevrsevailable"
            :placeholder="$t('lang.PROMOTION_ENTER_COMMISSION')"
            class="form-control"
          />
          <i class="percentage">%</i>
          <p class="small-tip">{{$t('lang.PROMOTION_REMAIN_COMMISSION')}}{{EditVMaxRevrseWater}}%</p>
        </div>
        <p class="black-desc">{{$t('lang.PROMOTION_SETTLEMENT_METHOD')}}{{EditCycleName}}</p>
        <div class="operate">
          <a class="reset" @click="ResetEditAccountedForAsFrom()" v-html="$t('lang.WINDOWS_RESET')"></a>
          <a class="save" @click="SaveEditSettings()" v-html="$t('lang.WINDOWS_SAVE')"></a>
        </div>
      </div>
    </van-popup>
  </div>
</template>
<script>
import { Popup } from 'vant';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import RegEx from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
export default {
  components: {
    [Popup.name]: Popup
  },
  data() {
    return {
      Show: false,
      // 正則表達式
      Reg: RegEx.Regex,
      MaxRevenueRateNum: '',
      EditInputSecondText: null,
      EditPlanObj: {
        MemberID: localStorage.getItem('CorrelationIBMemberId'),
        TempName: '',
        TempType: 1401,
        TempCommissionRevenueGameSetting: [],
        BonusRevenue: 0,
        BonusRevenueOwn: 0,
        RakeRate: 0,
        RakeRateOwn: 0,
        TempID: '',
        GroupID: ''
      },
      OwnEditValueListItem: [],
      OwnOriginalValueListItem: [],
      resigerWord: false,
      succeededText: '',
      Top: 0
    };
  },
  props: {
    AutoUpgradeFlag: undefined,
    GroupID: '',
    PlanId: '',
    EditVMaxRevrseWater: '',
    EditMaxIBBonusRevenueRate: '',
    PlanBonusRevenue: 0,
    PlanRakeRate: 0,
    PlanName: '',
    EditDivideName: {
      type: String,
      default: function() {
        return '';
      }
    },
    EditSuperiorName: {
      type: String,
      default: function() {
        return '';
      }
    },
    EditValueListItem: {
      type: Array,
      default: function() {
        return [];
      }
    },
    OriginalValueListItem: {
      type: Array,
      default: function() {
        return [];
      }
    },
    EditCycleName: {
      type: String,
      default: function() {
        return '';
      }
    }
  },
  mounted: function() {
    this.$nextTick(() => {
      this.EditPlanObj.TempName = this.PlanName;
      this.EditPlanObj.TempID = this.PlanId;
      this.EditPlanObj.GroupID = this.PlanId;
      this.EditPlanObj.BonusRevenueOwn = this.PlanBonusRevenue;
      this.EditPlanObj.RakeRateOwn = this.PlanRakeRate;
      this.OwnEditValueListItem = this.EditValueListItem;
      console.log('=================this.OwnEditValueListItem');
      console.log(this.OwnEditValueListItem);
      this.OwnOriginalValueListItem = this.OriginalValueListItem;

      this.OwnOriginalValueListItem.sort(function(a, b) {
        return a.GameTypeNo - b.GameTypeNo;
      });
      console.log('=================this.OwnEditValueListItem');
      console.log(this.OwnOriginalValueListItem);
    });
    setTimeout(() => {
      // 判断uc浏览器
      if (navigator.userAgent.indexOf('UCBrowser') > -1) {
        // uc浏览器
        $('.filterPopup .van-popup').css({ position: 'absolute' });
        $('.filterPopup .van-overlay').css({ position: 'absolute' });
      }
    }, 500);
  },
  methods: {
    PopupShow(top) {
      this.Show = true;
      console.log('********************top');
      console.log(top);
      this.Top = top;
    },
    SaveEditSettings: async function() {
      const self = this;
      console.log(self.EditPlanObj.BonusRevenueOwn);
      console.log(self.EditPlanObj.BonusRevenueOwn === '');
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      if (
        this.EditPlanObj.BonusRevenueOwn === '' ||
        this.EditPlanObj.BonusRevenueOwn === null ||
        this.EditPlanObj.BonusRevenueOwn === undefined
      ) {
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_EXTRA_DIVIDEND') +
            this.EditMaxIBBonusRevenueRate
        );
        return;
      }
      if (
        this.EditPlanObj.BonusRevenueOwn * 1 >
        this.EditMaxIBBonusRevenueRate
      ) {
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_EXTRA_DIVIDEND') +
            this.EditMaxIBBonusRevenueRate
        );
        this.EditPlanObj.BonusRevenueOwn = '';
        return;
      }
      if (this.AutoUpgradeFlag * 1 != 1) {
        if (
          this.EditPlanObj.RakeRateOwn === '' ||
          this.EditPlanObj.RakeRateOwn === null ||
          this.EditPlanObj.RakeRateOwn === undefined
        ) {
          EventBus.$emit(
            'SHOW_TIP',
            this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.EditVMaxRevrseWater
          );
          return;
        }
      }
      if (this.EditPlanObj.RakeRateOwn * 1 > this.EditVMaxRevrseWater) {
        this.EditPlanObj.RakeRateOwn = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.EditVMaxRevrseWater
        );
        return;
      }
      if (this.EditInputSecondText === '') {
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
            '0 ~' +
            this.MaxRevenueRateNum
        );
        return;
      }
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        for (
          let i = 0;
          i < self.OriginalValueListItem[index].GroupList.length;
          i++
        ) {
          if (
            self.OriginalValueListItem[index].GroupList[i].RevenueRate === '' ||
            self.OriginalValueListItem[index].GroupList[i].RevenueRate ===
              null ||
            self.OriginalValueListItem[index].GroupList[i].RevenueRate * 1 >
              self.OwnEditValueListItem[index].GroupList[i].RevenueRate * 1
          ) {
            self.MaxRevenueRateNum =
              self.OwnEditValueListItem[index].GroupList[i].RevenueRate;
            self.OriginalValueListItem[index].GroupList[i].RevenueRate = '';
            EventBus.$emit(
              'SHOW_TIP',
              this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
                '0 ~' +
                this.MaxRevenueRateNum
            );
            return;
          }
        }
      }
      this.EditPlanObj.TempCommissionRevenueGameSetting = [];
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        for (
          let i = 0;
          i < self.OriginalValueListItem[index].GroupList.length;
          i++
        ) {
          const NewGroupListItem = {};
          NewGroupListItem.GameApiNo =
            self.OriginalValueListItem[index].GroupList[i].GameApiNo;
          NewGroupListItem.GameTypeNo =
            self.OriginalValueListItem[index].GroupList[i].GameTypeNo;
          NewGroupListItem.RevenueRate = this.NumCalFix(
            (self.OriginalValueListItem[index].GroupList[i].RevenueRate * 1) /
              100
          );
          self.EditPlanObj.TempCommissionRevenueGameSetting.push(
            NewGroupListItem
          );
        }
      }
      console.log(this.EditPlanObj.TempCommissionRevenueGameSetting);
      self.EditPlanObj.BonusRevenue = this.NumCalFix(
        (self.EditPlanObj.BonusRevenueOwn * 1) / 100
      );
      self.EditPlanObj.RakeRate = this.NumCalFix(
        (self.EditPlanObj.RakeRateOwn * 1) / 100
      );
      self.EditPlanObj.TempID = this.PlanId;
      self.EditPlanObj.GroupID = this.GroupID;
      console.log('--------------EditPlanObj');
      console.log(self.EditPlanObj);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanMod(
        this.EditPlanObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPlanMod');
      console.log(data);
      this.EditPlanObj.TempCommissionRevenueGameSetting = [];
      if (data.Ret == 100021) {
        EventBus.$emit('SHOW_TIP', this.$t('lang.PLAN_NAME_DUPLICATED'));
      } else {
        this.$validator.reset();
        if (data.Ret == 0) {
          this.$parent.childMsg({});
        }
        this.EditPlanObj.TempName = '';
        this.EditPlanObj.BonusRevenueOwn = 0;
        this.EditPlanObj.RakeRateOwn = 0;
        this.$validator.reset();
        this.CloseWindow();
        EventBus.$emit('SHOW_TIP', data.Message);
      }
    },
    // 重置表单
    ResetEditAccountedForAsFrom: function() {
      this.EditPlanObj.TempName = '';
      this.EditPlanObj.BonusRevenueOwn = '';
      this.EditPlanObj.RakeRateOwn = '';
      const self = this;
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        self.OriginalValueListItem[index].tabValueName = '';
        for (
          let i = 0;
          i < self.OriginalValueListItem[index].GroupList.length;
          i++
        ) {
          self.OriginalValueListItem[index].GroupList[i].RevenueRate = '';
        }
      }
      this.$validator.reset();
    },
    // 校验用户输入的游戏厂商占成比是否超过最大值
    Treatmentvailable: function(list, index, key) {
      this.MaxRevenueRateNum = this.OwnEditValueListItem[index].GroupList[
        key
      ].RevenueRate;
      this.EditInputSecondText = list.RevenueRate;
      console.log(list);
      console.log(list.RevenueRate);
      if (list.RevenueRate > this.MaxRevenueRateNum) {
        list.RevenueRate = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PROMOTION_REASONABLE_NUMBER') +
            '0 ~' +
            this.MaxRevenueRateNum
        );
      }
    },
    TabValueKey: function(data, j, e) {
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.OwnOriginalValueListItem[j].tabValueName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.OwnOriginalValueListItem[j].tabValueName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.OwnOriginalValueListItem[j].tabValueName = String(
            e.target.value
          ).substring(0, index + 3);
          return;
        } else {
          this.OwnOriginalValueListItem[j].tabValueName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.OwnOriginalValueListItem[j].tabValueName =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      const itemLists = this.OwnOriginalValueListItem[j].GroupList;
      for (let k = 0; k < itemLists.length; k++) {
        if (data) {
          itemLists[k].RevenueRate = data;
          // itemLists[k].VRevenueRate = itemLists[k].RevenueRate;
        } else {
          itemLists[k].RevenueRate = '';
        }
      }
    },
    IBBonusvailable: function() {
      if (
        this.EditPlanObj.BonusRevenueOwn * 1 >
        this.EditMaxIBBonusRevenueRate
      ) {
        this.EditPlanObj.BonusRevenueOwn = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_EXTRA_DIVIDEND') +
            this.EditMaxIBBonusRevenueRate
        );
      }
    },
    Revrsevailable: function() {
      if (this.EditPlanObj.RakeRateOwn * 1 > this.EditVMaxRevrseWater) {
        this.EditPlanObj.RakeRateOwn = '';
        EventBus.$emit(
          'SHOW_TIP',
          this.$t('lang.PLAM_ABLE_CODE_COMMISION') + this.EditVMaxRevrseWater
        );
      }
    },
    Oninput(e) {
      // 通过正则过滤小数点后两位
      e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      console.log('e', e.target.value);
    },
    OninputRevenueRate(findex, key, e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.OwnOriginalValueListItem[findex].GroupList[
          key
        ].RevenueRate = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.OwnOriginalValueListItem[findex].GroupList[
            key
          ].RevenueRate = String(e.target.value).substring(0, index + 3);
        } else {
          this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    OninputIBBonusvailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.EditPlanObj.BonusRevenueOwn = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.EditPlanObj.BonusRevenueOwn = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.EditPlanObj.BonusRevenueOwn = String(e.target.value).substring(
            0,
            index + 3
          );
        } else {
          this.EditPlanObj.BonusRevenueOwn =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.EditPlanObj.BonusRevenueOwn =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    OninputRevrsevailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.EditPlanObj.RakeRateOwn = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.EditPlanObj.RakeRateOwn = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.EditPlanObj.RakeRateOwn = String(e.target.value).substring(
            0,
            index + 3
          );
        } else {
          this.EditPlanObj.RakeRateOwn =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.EditPlanObj.RakeRateOwn =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    // 格式化数字
    NumCalFix: function(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    EditdivideInto: function(name) {
      EventBus.$emit('ChangeEditDivideName', name);
    },
    Editsuperior: function(name) {
      EventBus.$emit('ChangeEditSuperiorName', name);
    },

    // 關閉彈窗
    CloseWindow: function() {
      this.Show = false;
      setTimeout(() => {
        // 判断uc浏览器
        if (navigator.userAgent.indexOf('UCBrowser') > -1) {
          $('#wrapper').css({ overflow: 'auto' });
          $('#wrapper').animate(
            {
              scrollTop: this.Top
            },
            500
          );
        }
      }, 100);
      EventBus.$emit('ChangeEditAccountForFlag');
    } // end CloseWindow
  }
};
</script>

<style lang="less" scoped>
.filterPopup {
  font-size: 0.7rem;
  .popup {
    background-color: #dbd5db;
    margin-top: 3.5rem;
    overflow-x: hidden;
  }
  .content {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5rem;
  }
  .input-group {
    width: 100%;
    height: 2.18rem;
    line-height: 2.18rem;
    color: #242424;
    font-size: 0.8125rem;
    background: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.4rem;
    position: relative;
    .percentage {
      position: absolute;
      right: 0.5rem;
      top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 0.9rem;
    }
    .small-tip {
      font-size: 0.7rem;
      text-align: right;
      color: #999999;
      line-height: 1.5rem;
    }
    input {
      width: 100%;
      height: auto;
      line-height: initial;
      border: none;
      background: transparent;
      box-sizing: border-box;
      padding-top: 0;
      &:focus,
      &:active {
        outline: none;
      }
    }
    &.right-padd {
      input {
        padding-left: 0;
        padding-right: 1.5rem;
      }
    }
    &.have-tip {
      margin-bottom: 1.6875rem;
    }
  }
  .ipt-tip {
    font-size: 0.7rem;
    color: #ee0a24;
    line-height: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 0.625rem;
    margin-top: 5px;
  }
  .content-box {
    position: relative;
    margin: 0.8rem 0 0.4rem;
    &.overflow-hidden {
      overflow: hidden;
    }
    &.game-vendor-box {
      margin-top: 0.5rem;
    }
    .content-title {
      font-size: 0.875rem;
      color: #333;
      font-weight: normal;
      line-height: 1rem;
      position: relative;
      &.margin-bott {
        margin-bottom: 0.4rem;
      }
    }
  }
  .game-type {
    overflow: hidden;
    li {
      width: 32.3333%;
      height: 2rem;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 0.5rem 0.2rem;
      box-sizing: border-box;
      font-size: 0.75rem;
      background-color: #fff;
      border-radius: 3px;
      margin-right: 1%;
      float: left;
      margin-bottom: 0.2rem;
      line-height: 0.9rem;
      box-sizing: border-box;
      text-align: center;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &.active {
        background-color: #d0a05d;
        color: #fff;
      }
    }
  }
  .game-vendor {
    overflow: hidden;
    li {
      width: 50%;
      float: left;
      label {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        color: #333;
        font-size: 0.65rem;
        width: 30%;
        height: 2.18rem;
        float: left;
        line-height: 1rem;
        padding: 0.5rem 0.2rem;
        box-sizing: border-box;
        word-break: break-word;
      }
      .input-group {
        width: 70%;
        float: left;
        input {
          font-size: 0.7rem;
        }
      }
    }
  }
  .pay-way-options {
    overflow: hidden;
    float: left;
    li {
      position: relative;
      padding-left: 20px;
      color: #fff;
      font-size: 0.8125rem;
      line-height: 1rem;
      box-sizing: border-box;
      float: left;
      margin-left: 10px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #e3e3e3;
        border: 1px solid #bc9457;
        margin-top: -7px;
      }
      &.hasblock:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 3px;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        border-radius: 50%;
        background: #bc9457;
      }
      &.disabled {
        color: #c0c4cc;
        border: 1px solid #c0c4cc;
      }
    }
  }
  .black-desc {
    display: flex;
    min-height: 2.4rem;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    position: relative;
    left: -4%;
    right: -4%;
    width: 108%;
    line-height: 1rem;
    justify-content: center;
    align-items: center;
  }
  .operate {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5rem;
    a {
      display: block;
      width: 37%;
      border-radius: 0.3rem;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      border: none;
      border-bottom: 1px solid #97949c;
      margin: 0 0.4rem;
      font-size: 0.88rem;
      padding: 0;
    }
    .reset {
      background-color: #9d9d9d;
      color: white;
    }
    .save {
      background-color: #d0a05d;
      color: #1c1c1c;
    }
  }
}
.vn {
  .black-desc {
    font-size: 0.7rem;
  }
}
</style>