<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="planName"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div
            class="modal-header"
            :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}"
          >
            <h4 class="modal-title">{{$t('lang.PROMOTION_PLAN_NAME')}}</h4>
          </div>
          <div class="modal-body">
            <div class="input-group no-margin-bott">
              <input
                type="text"
                v-model="templeteName"
                name="TempName"
                :placeholder="$t('lang.PROMOTION_ENTER_PLAN_NAME')"
                v-validate="{ rules: { regex:Reg.PlanName}, required: true}"
                @keyup="TestAllEmpty()"
                class="form-control"
                @focus=" $VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </div>
            <p
              class="tip1"
              v-show="errors.has('TempName') && fields.TempName.touched"
            >{{$t('lang.PLAN_NAME_TIP')}}</p>
            <p class="tip1" v-show="AllEmpty">{{$t('lang.PLAN_NAME_EMPTY')}}</p>
            <a
              class="btn btn-gold"
              href="javascript:void(0);"
              @click="SaveTemplate()"
            >{{$t('lang.WINDOWS_SURE')}}</a>
            <a
              class="btn btn-gray"
              href="javascript:void(0);"
              @click="WebClosePlanName()"
            >{{$t('lang.WINDOWS_CANCEL')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import RegEx from 'scripts/common/CommDef';

export default {
  data() {
    return {
      templeteName: '',
      IsTempleteError: false,
      AgencyObjLists: [], // 注册带的数组参数
      AllEmpty: false,
      // 正則表達式類別
      Reg: RegEx.Regex
    };
  },
  props: {
    NamePrefix: '',
    ReverseWater: '',
    VMaxRevrseWater: '',
    IncomeMode: '',
    MaxIBBonusRevenueRate: '',
    RevrseName: '',
    IBBonusName: '',
    IsMember: undefined,
    RelationMemberID: undefined,
    IBCommissionRevenueGameSettingList: {
      type: Array,
      default: function() {
        return [];
      }
    },
    RegistObj: {
      type: Object,
      default: function() {
        return {};
      }
    },
    UserlistMemberID: undefined
  },
  mounted: function() {
    // 用户列表请求成为代理=》同意
    if (this.UserlistMemberID != undefined) {
      this.RelationMemberID = this.UserlistMemberID;
    }
  },
  methods: {
    // 保留四位小数
    NumCalFix: function(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    TestAllEmpty: function() {
      if (this.templeteName.length > 0 && /^[\s]*$/.test(this.templeteName)) {
        this.AllEmpty = true;
      } else {
        this.AllEmpty = false;
      }
    },
    SaveTemplate: async function() {
      this.AgencyObjLists = [];
      if (this.templeteName == '') {
        this.AllEmpty = true;
        return;
      }
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      for (
        let index = 0;
        index < this.IBCommissionRevenueGameSettingList.length;
        index++
      ) {
        const NewGroupListItem = {};
        NewGroupListItem.GameApiName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiName;
        NewGroupListItem.GameApiNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiNo;
        NewGroupListItem.GameTypeName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeName;
        NewGroupListItem.GameTypeNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeNo;
        NewGroupListItem.GroupID = this.IBCommissionRevenueGameSettingList[
          index
        ].GroupID;
        NewGroupListItem.MaxRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MaxRevenueRate;
        NewGroupListItem.MemberID = this.IBCommissionRevenueGameSettingList[
          index
        ].MemberID;
        NewGroupListItem.MinRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MinRevenueRate;
        NewGroupListItem.RevenueRate = this.NumCalFix(
          (this.IBCommissionRevenueGameSettingList[index].RevenueRate * 1) / 100
        );
        this.AgencyObjLists.push(NewGroupListItem);
      }
      const inputObj = {
        IsMember: this.IsMember,
        RelationMemberID: this.RelationMemberID, // 关联的会员(用户列表请求成为会员传过来的MemberID),
        Prefix: this.NamePrefix,
        Acct: this.RegistObj.Acct,
        UpperIBInfo: {
          AcctID: localStorage.getItem('CorrelationIBMemberId'),
          Acct: localStorage.getItem('Acct'),
          Prefix: this.NamePrefix
        },
        MaxReverseGameListSetting: this.AgencyObjLists,
        CommisionIncomeMode: {
          Value: this.IncomeMode
        },
        IBBonusRevenueRate: this.NumCalFix(this.IBBonusName / 100),
        ReverseWater: this.NumCalFix(this.RevrseName / 100) || 0,
        SaveIbTempSetting: true,
        IbTempSetting: {
          TempName: this.templeteName,
          TempType: this.IncomeMode,
          TempCommissionRevenueGameSetting: this.AgencyObjLists,
          BonusRevenue: this.NumCalFix(this.IBBonusName / 100),
          RakeRate: this.NumCalFix(this.RevrseName / 100)
        }
      };
      console.log(inputObj);
      const data = await AgencyCenterService.LoadAddIB_Add(inputObj);
      console.log('创建账号的注册并保存模板数据');
      console.log(data);

      console.log('创建账号的注册并保存模板数据');
      if (data.Ret === 0) {
        const notifyData = {
          NotifyMessage: data.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        EventBus.$emit('SavePlanMouldSucc');
        this.templeteName = '';
        this.$validator.reset();
        this.WebClosePlanName();
        this.$parent.InitPromotionList();
      } else if (data.Ret === 100021) {
        const notifyData = {
          NotifyMessage: this.$t('lang.PROMOTION_DUPLICATE_NAME')
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        EventBus.$emit('SavePlanMouldSucc');
        this.WebClosePlanName();
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        EventBus.$emit('SavePlanMouldSucc');
        this.WebClosePlanName();
      }
    },
    // 關閉彈窗
    WebClosePlanName: function() {
      $('#planName').modal('hide');
    }
  }
};
</script>

<style lang="less" scoped>
.input-group {
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  color: #242424;
  font-size: 0.8125rem;
  background: #fff;
  border: none;
  border-radius: 3px;
  margin-bottom: 0.625rem;
  input {
    width: 100%;
    height: auto;
    line-height: initial;
    border: none;
    background: transparent;
    padding-top: 0;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.tip1 {
  font-size: 0.7rem;
  color: #ee0a24;
  line-height: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 0.625rem;
  margin-top: 5px;
  padding: 0;
  text-align: left;
}
</style>