<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade plan-list"
      id="planList"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content modal-theme-black">
          <div class="modal-header" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/modal_header_bg.jpg)'}">
            <h4 class="modal-title">{{$t('lang.PROMOTION_PLAN_LIST')}}</h4>
          </div>
          <div class="modal-body">
            <p class="tip">{{$t('lang.PROMOTION_CHOOSE_PLAN')}}</p>
            <ul class="plan-li">
              <li
                :class="{'active':TemplateName == list.TempName}"
                v-for="(list,index) in TemplateListData"
                @click="SchemeClick(list)"
                :key="index"
              >
                {{list.TempName}}
                <em class="icon-slider-active" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/success.png)'}"></em>
              </li>
            </ul>
            <a
              class="btn btn-gray"
              href="javascript:void(0);"
              @click="WebClosePlanList()"
            >{{$t('lang.WINDOWS_CLOSE')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import RegEx from 'scripts/common/CommDef';

export default {
  data() {
    return {
      TemplateName: '',
      ValueList: [],
      PlanId: undefined,
      SerialNo: undefined
    };
  },
  props: {
    // 模板数据
    TemplateListData: {
      default: function() {
        return [];
      }
    }
  },
  mounted: function() {
    console.log(this.TemplateListData);
  },
  methods: {
    // 關閉彈窗
    WebClosePlanList: function() {
      $('#planList').modal('hide');
    }, // end HideEditPhone
    SchemeClick: function(item) {
      console.log(item);
      this.TemplateName = item.TempName;
      EventBus.$emit('MouldTempCommissionRevenueDatas', item);
      this.WebClosePlanList();
    }
  }
};
</script>

<style lang="less" scoped>
.plan-list {
  .plan-li {
    max-height: 16rem;
    overflow: scroll;
    margin-bottom: 0.625rem;
    li {
      width: 100%;
      padding: .5rem .3rem;
      word-break: break-all;
      font-size: 0.8125rem;
      box-sizing: border-box;
      background-color: #fff;
      margin-bottom: 0.625rem;
      border-radius: 3px;
      position: relative;
      text-align: center;
      &.active {
        border: 2px solid #0fa1ff;
      }
    }
  }
  .tip {
    font-size: 0.9375rem;
    color: #666666;
    margin: 0.8rem 0 1rem;
    padding: 0;
    text-align: left;
  }
}
</style>
