// 代理中心
.agent-color-blue {
    color: #2365ff !important;
}

.agent-color-black {
    color: #000 !important;
}

.agent-color-red {
    color: #f03838 !important;
}

.agent-wrap.member-wrap {
    .tab-section {
        margin: 0 4%;

        li {
            width: 32.33%;
            margin-left: 1.5%;

            p {
                margin-top: 0px;
            }

        }

        li:nth-child(3n+1) {
            margin-left: 0;
        }
    }

    .head-section {
        padding: 2rem 4% 1rem;
        width: 92%;
        height: auto;

        p:last-child {
            color: #d0a05d;
        }
    }

    .footer-section {
        margin: 5% 4%;
        width: 92%;
    }
}

.main-header-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .switch-btn {
        // position: absolute;
        right: 1rem;
        font-size: 1rem;
        color: #451828;
        width: 5.5rem;
        height: 1.6rem;
        // background-color: #e1c299;
        display: block;
        text-align: center;
        line-height: 1.6rem;
        border-radius: 2rem;
        top: .95rem;
        z-index: 101;
        overflow: hidden;
        border: 1px solid #e1c299;
        color: #e1c299;
        z-index: 101;
        overflow: hidden;

        &.active {
            background-color: #e1c299;
            color: #451828;
        }

        &:nth-of-type(1) {
            margin-right: 1rem;

        }
    }
}

.vn .main-header-box .switch-btn {
    position: relative;
    height: auto;
    line-height: normal;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    top: 0;
    right: 0;
    width: 5.5rem;
    box-sizing: border-box;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

// 团队盈亏
.profitLoss-wrap {
    .profitLoss-content {
        padding: 0.8rem;
    }

    .card-section {
        font-size: 0;
        display: flex;
        flex-wrap: wrap;

        .card-section-li {
            width: 49%;
            margin-left: 2%;
            color: #fff;
            display: inline-block;
            text-align: center;
            padding: 0.8rem;
            box-sizing: border-box;

            .num {
                font-size: 2rem;
                line-height: 2rem;
                width: 100%;
                padding-bottom: 0.5rem;
            }

            .text {
                display: block;
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
        }

        li:nth-child(1) {
            margin-left: 0;
            margin-bottom: 2%;
            background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamPlayer.png") no-repeat center;
            background-size: 100% 100%;
        }

        li:nth-child(2) {
            margin-bottom: 2%;
            background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/directlyUnderPlayer.png") no-repeat center;
            background-size: 100% 100%;
        }

        li:nth-child(3) {
            margin-left: 0;
            background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamAgency.png") no-repeat center;
            background-size: 100% 100%;
        }

        li:nth-child(4) {
            background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/directlyUnderAgency.png") no-repeat center;
            background-size: 100% 100%;
        }
    }

    .profitLoss-wrap-bt {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .profitLoss-bt-item {
        .profitLoss-item-title {
            font-weight: normal;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 0.5rem;

            span {
                color: #fff;
                font-size: 1rem;
                line-height: 1rem;
                padding-left: 0.5rem;
                border-left: 2px solid #fff;
            }
        }

        .report-ul {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;

            .report-ulLi {
                float: left;
                box-sizing: border-box;
                width: 50%;
                padding: 1rem 0;
                padding-left: 3rem;

                h5 {
                    font-weight: normal;
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    color: #d0a05d;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 0.5rem;

                    span {
                        position: relative;

                        .symbol {
                            position: absolute;
                            right: -20px;
                            top: 0;
                            font-size: 0.8rem;
                            line-height: 0.8rem;
                        }
                    }

                }

                p {
                    font-size: 0.8rem;
                    line-height: 1rem;
                    color: #b8b8b8;
                    width: 100%;
                    overflow: hidden;
                    word-break: break-word;
                }
            }
        }

        .agent-wallet-ul {
            .report-ulLi {
                width: 33.33%;
                padding-left: 2.5rem;
            }

            li {
                background-repeat: no-repeat;
                background-position: 0.5rem center;
            }

            li:nth-child(1) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo1.png") no-repeat 0.5rem center;
                background-size: 1.5rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);

                h5 {
                    color: #50e223;
                }
            }

            li:nth-child(2) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo2.png") no-repeat 0.5rem center;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                background-size: 1.5rem;
            }

            li:nth-child(3) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/personalTotal-logo3.png") no-repeat 0.5rem center;
                background-size: 1.5rem;
            }

        }

        .people-statistics-ul {
            li {
                background-repeat: no-repeat;
                background-position: 0.5rem center;
            }

            li:nth-child(1) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo1.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(2) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo2.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(3) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo3.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(4) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/peopleStatistics-logo4.png") no-repeat 0.5rem center;
                background-size: 2rem;
            }
        }

        .team-statistics-ul {
            li {
                background-repeat: no-repeat;
                background-position: 0.5rem center;
            }

            li:nth-child(1) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo1.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(2) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo2.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(3) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo3.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            }

            li:nth-child(4) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo4.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            li:nth-child(5) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo5.png") no-repeat 0.5rem center;
                background-size: 2rem;
                border-right: 1px solid rgba(255, 255, 255, 0.1);

            }

            li:nth-child(6) {
                // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/profitLoss/teamTotal-logo6.png") no-repeat 0.5rem center;
                background-size: 2rem;

                h5 {
                    color: #f03838;
                }
            }
        }
    }
}

.profitLoss-wrap.msg-wrap .tab-section {
    margin: 0;

    .btn-bind {
        background-color: #fcca1d;
        color: #6d3b3b;
    }
}

.userList-wrap.msg-wrap .tab-section,
.acoountChange-wrap.msg-wrap .tab-section,
.transfer-wrap.msg-wrap .tab-section,
.audit-wrap.msg-wrap .tab-section,
.plan-wrap.msg-wrap .tab-section {
    .btn-bind {
        background-color: #fcca1d;
        color: #6d3b3b;
    }
}

// 用户列表
.userList-wrap,
.acoountChange-wrap,
.transfer-wrap,
.audit-wrap,
.plan-wrap {
    .tab-section .form-control.input-control {
        width: 79%;
        margin-right: 0;
    }

    .input-group label {
        width: 20%;
        color: #fff;
    }

    input[type=date] {
        position: relative;
    }

    input[type=date]:before {
        content: attr(placeholder);
        color: #bbb;
        // width: 100%;
        font-size: 0.8rem;
        display: block;
        line-height: 3rem;
        white-space: nowrap;
        overflow: hidden;
        // text-overflow: ellipsis;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
}

.vn {

    .userList-wrap,
    .acoountChange-wrap,
    .transfer-wrap,
    .audit-wrap,
    .plan-wrap {
        .input-group label {
            font-size: 0.8rem
        }
    }
}

.vn,
.en {
    .promotion-wrap .list-content .child .row div label {
        width: 26% !important;
        padding-right: 10px;
    }
}

// 新增会员
.addUser-wrap.msg-wrap .tab-section .input-group label,
.transfer-withdrawal-wrap.msg-wrap .tab-section .input-group label,
.transfer-confirm-wrap.msg-wrap .tab-section .input-group label {
    width: 24%;
}

.addUser-wrap.msg-wrap .tab-section .form-control,
.transfer-withdrawal-wrap.msg-wrap .tab-section .form-control,
.transfer-confirm-wrap.msg-wrap .tab-section .form-control {
    margin-right: 0;
    width: 74%;
}

.addUser-wrap.msg-wrap .tab-section .row,
.delUser-wrap.msg-wrap .tab-section .row,
.transfer-withdrawal-wrap.msg-wrap .tab-section .row,
.transfer-confirm-wrap.msg-wrap .tab-section .row {
    height: auto;
    overflow: hidden;
    font-size: 0;
}

.addUser-wrap.msg-wrap .tab-section .btn,
.delUser-wrap.msg-wrap .tab-section .btn,
.transfer-withdrawal-wrap.msg-wrap .tab-section .btn {
    margin-right: 1%;
}

.addUser-wrap.msg-wrap .tab-section .btn-gold,
.delUser-wrap.msg-wrap .tab-section .btn-gold,
.transfer-withdrawal-wrap.msg-wrap .tab-section .btn-gold {
    margin-right: 0;
}

.addUser-toptips {
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

// 回收代理
.delUser-wrap.msg-wrap .tab-section {
    margin-top: 30px;
}

.delUser-wrap.msg-wrap .tab-section .btn-row {
    margin-top: 20px;
}

.delUser-wrap.msg-wrap .tab-section .form-control {
    margin-right: 0;
    width: 100%;
}

.delUser-wrap.msg-wrap .tab-section .form-control {
    text-align: center;
}

#delTipsModal .modal-body {
    padding: 1.5rem;
}

#delTipsModal .modal-body p {
    padding: 0;
}

#delTipsModal .modal-body p:first-child {
    color: #f03838;
}

// 帐变明细

.acoountChange-wrap {
    .tab-head {
        margin-bottom: 0;
    }

    .tab-head li {
        width: 20%;
    }

    .tab-section .form-control.input-control {
        width: 83%;
        margin-right: 0;
    }

    .input-group label {
        width: 16%;
        color: #fff;
    }

    .input-group label {
        min-width: 2rem;
    }

    .totalData-ul {
        margin: 0.2rem 0 0.5rem 0;

        li {
            font-size: 0;

            .totalData-p {
                display: inline-block;
                width: 50%;
                color: #d0a05d;
                font-size: 0.9rem;
                overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;

                .color-green {
                    color: #50e223;
                }

                .color-red {
                    color: #f03838;
                }

                &.w100 {
                    width: 100%;
                }
            }

            .totalData-p-right {
                text-align: right;
            }
        }

    }

    .prefix-text {
        color: #f00;
    }

    &.recoed-wrap .tab-section .error-tip {
        line-height: 1rem;
        margin-bottom: 0.8rem !important;
    }
}

.acoountChange-wrap.recoed-wrap .list-table td:first-child {
    max-width: 5.5rem;
    min-width: 5.5rem;
    width: auto;
}

.en .acoountChange-wrap .tab-head li {
    font-size: 0.8rem;
}

// .transfer-wrap.recoed-wrap .list-table td:first-child,
.audit-wrap.recoed-wrap .list-table td:first-child {
    max-width: 5.5rem;
    width: auto;
    word-break: break-word;
    overflow: hidden;
}

// 转账操作
.transfer-wrap,
.transfer-confirm-wrap {
    .transfer-top {
        overflow: hidden;
        margin: 3%;
    }

    .agency-balance {
        width: 60%;
        height: 5.5rem;
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/wallet.png") no-repeat center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        color: #fff;
        position: relative;
        margin-right: 3%;
        overflow: hidden;
        padding: 0 1rem;
        box-sizing: border-box;
        float: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        .text {
            font-size: 0.9rem;
            margin: 0 0 0.5rem 0;
            line-height: 0.9rem;
            padding-right: 7rem;
        }

        .num {
            font-size: 1.2rem;
        }

        .withdrawal-btn {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1rem;
            padding: 0 0.8rem;
            background-color: #ebbb53;
            border: 1px solid #ffe270;
            border-radius: 1rem;
            color: #fff;
        }
    }

    .agency-transfer {
        width: 37%;
        height: 5.5rem;
        // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/transfer.png") no-repeat center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        color: #fff;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2rem;
        }

        .text {
            // width: 100%;
            // max-width: 50%;
            // height: 5.5rem;
            // line-height: 5.5rem;
            font-size: 1.2rem;
            padding-left: 5px;
            // background: url("@{ResourceCDNUrl}/EditionImg-mobile/Lambor1.0/images/mobile/transferAccount/transfer-icon.png") no-repeat 28% center;
            background-size: 1.5rem;
            box-sizing: border-box;
        }
    }

    .input-group select {
        width: 73%;
    }
}

.vn .transfer-wrap .agency-transfer .text {
    max-width: 50%;
}

// 转账操作-取款
.transfer-withdrawal-wrap,
.transfer-confirm-wrap {
    .input-group label.text {
        width: 73%;
        padding-right: 0;
        text-transform: lowercase;

        &.remark {
            height: auto;
            min-height: 2.8rem;
            width: 74%;
            word-break: break-all;
        }
    }

    textarea.form-control {
        height: 6rem;
        box-sizing: border-box;
    }
}

.transfer-withdrawal-wrap.msg-wrap .tab-section textarea.form-control {
    line-height: normal;
    padding: .5rem;
    box-sizing: border-box;
    text-indent: 0;
}

// 转账确认
.transfer-confirm-wrap.msg-wrap .tab-section .btn-gold {
    margin-right: 0;
    width: 100%;
}

.transfer-confirm-top {
    color: #fff;
    padding: 1.5rem 3%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);

    .money {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .text {
        font-size: 0.8rem;

    }
}

// 推广方案
.codeImg {
    width: 1rem;
    height: 1rem;
}

.plan-wrap.recoed-wrap .list-table td:nth-child(2) {
    span {
        display: block;
        width: 9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
    }
}

.plan-wrap.recoed-wrap .list-table td:nth-child(3) {
    min-width: 6.5rem;
}

// 推广二维码
.code-wrap {
    text-align: center;

    .code {
        width: 8.5rem;
        height: 8.5rem;
        margin: 2rem 0 1rem 0;
    }

    .code-text {
        font-size: .9rem;
        color: #fff;
        margin: 1rem auto;
        text-align: center;
        width: 100%;
    }

    .url-text {
        color: #fff;
        font-size: .9rem;
        margin: 1rem auto;
        text-align: center;
        width: 100%;
    }

    .url {
        font-size: .8rem;
        color: #d0a05d;
        margin: 1rem auto;
        text-align: center;
        width: 80%;
        word-break: break-all;
        overflow: hidden;
    }
}

#alertQRcodeModal.modal-body {
    img {
        width: 8rem;
        height: 8rem;
        margin: 1.5rem auto 1rem auto;
        display: block;
    }
}

#alertQRcodeModal {
    .modal-body {
        img {
            width: 8rem;
            height: 8rem;
            margin: 1.5rem auto 0.8rem auto;
            display: block;
        }
    }

    .modal-footer {
        .btn {
            width: 100%;
        }
    }
}
