<template>
	
	<!-- 免费试玩弹窗提示 -->
	<div class="mob-wrap">
		<div class="modal modal-shadow fade" id="copyModal" tabindex="-1" data-backdrop="false" role="dialog" aria-hidden="true">  
	    	<div class="modal-dialog">
	            <div class="modal-content"> 
	            	<div class="modal-header">
	            		<h4 class="modal-title">操作提示</h4>
		          	</div>
	            	<div class="modal-body">  
						<p>网址复制成功，请打开浏览器长按粘贴网址</p>
		            </div>
		            <div class="modal-footer">
		            	<a class="btn btn-secondary" data-dismiss="modal" >取消</a>
		            	<a class="btn btn-primary" data-dismiss="modal" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}" >确认</a>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div>
	</div>
	
</template>



