<template>
  <div class="filterPopup">
    <van-popup
      class="popup"
      v-model="show"
      position="right"
      :style="{ height: '100%', width: '75%', }"
      @close="$VueUtils.SetPopupPosition(false)"
    >
      <div class="content" :style="{ height: contentHeight }">
        <form novalidate="novalidate">
          <ol class="form">
            <!-- 时间区间 -->
            <li class="cell time" v-if="control.Time">
              <input
                type="date"
                class="form-control time"
                name="StartTime"
                :placeholder="FirstShowPlaceholder?$t('lang.TIME_ENTER_START'):''"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_START'))"
                v-model="form.StartTime"
              />
              &nbsp;{{$t('lang.FILTER_TO')}}&nbsp;
              <input
                type="date"
                class="form-control time"
                name="EndTime"
                :placeholder="FirstShowPlaceholder?$t('lang.TIME_ENTER_END'):''"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.TIME_ENTER_END'))"
                v-model="form.EndTime"
              />
            </li>
            <p class="error-tip" v-if="timeError==1">* {{$t('lang.TIME_START_TIP')}}</p>
            <p class="error-tip" v-else-if="timeError==2">* {{$t('lang.TIME_END_TIP')}}</p>
            <p class="error-tip" v-else-if="timeError==3">* {{$t('lang.TIME_OVER_TIP')}}</p>
            <p class="error-tip" v-else-if="timeError==4">* {{$t('lang.TIME_MARCH_FORBID')}}</p>
            <p class="error-tip" v-else-if="timeError==5">* {{$t('lang.TIME_FUTURE_FORBID')}}</p>

            <!-- 用户名 -->
            <li class="cell" v-if="control.Name">
              <p class="name">{{$t('lang.USER_NAME')}}</p>
              <input
                type="text"
                name="name"
                class="form-control input-control"
                v-model="form.name"
                :placeholder="$t('lang.USER_ENTER_NAME')"
                v-validate="{ rules: { regex: NameReal }}"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </li>
            <p
              class="error-tip"
              v-if="errors.has('name') && fields.name.touched"
            >* {{$t('lang.FILTER_USER_TIP')}}</p>

            <!-- 包含下级 -->
            <li class="cell lowerLevel" v-if="control.LowerLevel">
              <label class="checkbox">
                <input type="checkbox" v-model="form.lowerLevel" />
                <em class="icon"></em>
                <em
                  class="icon_check"
                  v-if="form.lowerLevel"
                  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-checkbox-check.png)'}"
                ></em>
                &nbsp;{{$t('lang.FILTER_INCLUDE_SUBORDINATE')}}
              </label>
            </li>

            <!-- 显示无数据用户 -->
            <li class="cell lowerLevel" v-if="control.DatalessUser">
              <label class="checkbox">
                <input type="checkbox" v-model="form.DatalessUser" />
                <em class="icon"></em>
                <em
                  class="icon_check"
                  v-if="form.DatalessUser"
                  :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon-checkbox-check.png)'}"
                ></em>
                &nbsp;{{$t('lang.FILTER_DATALESS_USERS')}}
              </label>
            </li>

            <!-- 投注单号 -->
            <li class="cell" v-if="control.BettingOrderNumber">
              <p class="name">{{$t('lang.AGENCY_BETTING_ORDER_NUMBER')}}</p>
              <input
                type="text"
                name="bettingOrderNumber"
                class="form-control input-control"
                v-model="form.bettingOrderNumber"
                :placeholder="$t('lang.FILTER_INPUT_BETTING_ORDER_NUMBER')"
                v-validate="{ rules: { regex: Reg.BettingOrderNumber }}"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </li>
            <p
              class="error-tip"
              v-if="errors.has('bettingOrderNumber') && fields.bettingOrderNumber.touched"
            >* {{$t('lang.FILTER_BETTING_ORDER_NUMBER_TIP')}}</p>

            <!-- 推广方案 -->
            <li class="cell" v-if="control.PlanName">
              <p class="name">{{$t('lang.PLAN_NAME')}}</p>
              <input
                type="text"
                name="planName"
                class="form-control input-control"
                v-model="form.planName"
                v-validate="{ rules: { regex: Reg.PlanName }}"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </li>
            <p
              class="error-tip"
              v-if="errors.has('planName') && fields.planName.touched"
            >* {{$t('lang.PLAN_NAME_TIP')}}</p>

            <!-- 游戏类别 -->
            <li class="cell" v-if="control.GameType">
              <p class="name">{{$t('lang.FILTER_GAME_TYPE')}}</p>
              <select class="form-control input-control" v-model="form.GameType">
                <option
                  v-for="(item,index) in GameTypeList"
                  :value="objPage==='memberBettingList' || objPage==='bettingList' ? item.GameTypeNo:item.Value"
                  :key="index"
                >{{objPage==='memberBettingList' || objPage==='bettingList' ? item.GameTypeName:item.Name}}</option>
              </select>
              <em
                class="select_icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down2.png)'}"
              ></em>
            </li>

            <!-- 游戏厂商 -->
            <li class="cell" v-if="control.GameName">
              <p class="name">{{$t('lang.PROMOTION_GAME_VENDOR')}}</p>
              <select class="form-control input-control" v-model="form.GameName">
                <option
                  v-for="(item,index) in GameNameList"
                  :value="item.GameApiNo"
                  :key="index"
                >{{item.GameApiName}}</option>
              </select>
              <em
                class="select_icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down2.png)'}"
              ></em>
            </li>

            <!-- 存取款状态过滤  -1全部  1待处理  2已完成  3已取消 -->
            <li class="cell status_select" v-if="control.OrderStatus">
              <span
                :class="form.OrderStatus == '-1' ? 'status check' : 'status'"
                @click="form.OrderStatus = '-1'"
              >{{$t('lang.USER_ALL')}}</span>
              <span
                :class="form.OrderStatus == '1' ? 'status check' : 'status'"
                @click="form.OrderStatus = '1'"
              >{{$t('lang.FILTER_PENDING_DISPOSAL')}}</span>
              <span
                :class="form.OrderStatus == '2' ? 'status check' : 'status'"
                @click="form.OrderStatus = '2'"
              >{{$t('lang.FILTER_COMPLETED')}}</span>
              <span
                :class="form.OrderStatus == '3' ? 'status check' : 'status'"
                @click="form.OrderStatus = '3'"
              >{{$t('lang.FILTER_CANCELLED')}}</span>
            </li>

            <!-- 活动时间 -->
            <li class="cell time" v-if="control.ActivityTime">
              <input
                type="date"
                class="form-control"
                name="StartTime"
                :placeholder="FirstShowPlaceholder?$t('lang.FILTER_ENTER_ACTIVITY_TIME'):''"
                @focus="DelDatePlaceholder($event)"
                @blur="SetDatePlaceholder($event, $t('lang.FILTER_ENTER_ACTIVITY_TIME'))"
                v-model="form.ActivityTime"
              />
            </li>

            <!-- 活动名称 -->
            <li class="cell" v-if="control.ActivityTime">
              <input
                type="text"
                class="form-control input-control"
                v-model="form.ActivityName"
                :placeholder="$t('lang.FILTER_ENTER_ACTIVITY_NAME')"
                @focus="$VueUtils.SetFooterBar('hide')"
                @blur="$VueUtils.SetFooterBar('show')"
              />
            </li>

            <!-- 交易类型 -->
            <li class="cell" v-if="control.TransType">
              <p class="name">{{$t('lang.AGENCY_TRANSACTION_TYPE')}}</p>
              <select class="form-control input-control" v-model="form.TransType">
                <option
                  v-for="(item,index) in TransTypeList"
                  :value="item.SettingCode"
                  :key="index"
                >{{item.SettingName}}</option>
              </select>
              <em
                class="select_icon"
                :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/recharge/icon_down2.png)'}"
              ></em>
            </li>
          </ol>
        </form>
      </div>
      <div class="operate">
        <button class="reset" @click="onReset">{{$t('lang.FILTER_RESET')}}</button>
        <button class="search" @click="onSearch">{{$t('lang.FILTER_SEARCH')}}</button>
      </div>
    </van-popup>
  </div>
</template>
<script>
import moment from "moment"
import { Popup } from "vant"
import RegEx from "scripts/common/CommDef"
import BLDef from "scripts/common/BLDef"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"

export default {
  components: {
    [Popup.name]: Popup
  },
  props: {
    FirstPlanEnter: undefined // 首次推广方案进入
  },
  data() {
    return {
      objPage: "",
      show: false,
      // 正則表達式
      Reg: RegEx.Regex,
      NameReal: "",
      timeError: 0,
      bettingOrderNumberError: false,
      control: {
        Time: false, // 时间区间
        Time3months: false, // 3个月控制
        Name: false, // 用户名
        LowerLevel: false, // 包含下级
        DatalessUser: false, // 显示无数据用户
        BettingOrderNumber: false, // 投注单号
        GameType: false, // 游戏类别
        GameName: false, // 游戏厂商
        OrderStatus: false, // 存取款状态
        ActivityTime: false, // 活动时间
        ActivityName: false, // 活动名称
        PlanName: false, // 方案名称
        TransType: false // 交易类型
      },
      form: {
        name: "",
        StartTime: "",
        EndTime: "",
        lowerLevel: false,
        DatalessUser: false,
        bettingOrderNumber: null,
        GameType: "",
        GameName: "",
        OrderStatus: "-1", // -1全部  1待处理  2已完成  3已取消
        ActivityTime: "", // 活动时间
        ActivityName: "", // 活动名称
        planName: "", // 方案名称
        TransType: "-1" // 交易类型
      },
      NowDate: moment(new Date()).format("YYYY-MM-DD"),
      contentHeight: document.documentElement.clientHeight + "px",
      GameTypeList: [
        {
          GameTypeNo: "",
          GameTypeName: this.$t("message.USER_ALL")
        }
      ],
      GameNameList: [{ GameApiNo: "", GameApiName: this.$t("lang.USER_ALL") }],
      TransTypeList: [],
      FirstShowPlaceholder: true // 首次是否显示日期预留字
    }
  },
  methods: {
    parentMsg(page, NameReal) {
      this.show = true
      this.$VueUtils.SetPopupPosition(true) // 处理UC浏览器兼容
      this.objPage = page
      if (NameReal) {
        this.NameReal = NameReal
      } else {
        this.NameReal = RegEx.Regex.LoginAccount
      }
      this.setControl()
      setTimeout(() => {
        // 判断uc浏览器
        if (navigator.userAgent.indexOf("UCBrowser") > -1) {
          // uc浏览器
          $(".filterPopup .van-popup").css({ position: "absolute" })
          $(".filterPopup .van-overlay").css({ position: "absolute" })
        }
      }, 500)
    },

    // 过滤控件显示隐藏控制
    setControl() {
      this.control = {
        Time: false, // 时间区间
        Time3months: false, // 3个月控制
        Name: false, // 用户名
        LowerLevel: false, // 包含下级
        DatalessUser: false, // 显示无数据用户
        BettingOrderNumber: false, // 投注单号
        GameType: false, // 游戏类别
        GameName: false, // 游戏厂商
        OrderStatus: false, // 存取款状态
        ActivityTime: false, // 活动时间
        ActivityName: false, // 活动名称
        planName: false,
        TransType: false
      }

      // 初始化名称
      if (this.FirstPlanEnter) {
        this.form.name = ""
        this.form.lowerLevel = false
        this.form.DatalessUser = false
      }

      switch (this.objPage) {
        case "userList": // 代理中心——用户列表
          this.control.Time = true
          this.control.Name = true
          this.control.LowerLevel = true
          break
        case "bettingList": // 代理中心——投注记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
            this.getGameTypeList()
            this.GameTypeTag()
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.Name = true
          this.control.LowerLevel = true
          this.control.BettingOrderNumber = true
          this.control.GameType = true
          this.control.GameName = true
          break
        case "rechargeList": // 代理中心——充值记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.Name = true
          this.control.LowerLevel = true
          this.control.DatalessUser = true
          break
        case "cashList": // 代理中心——提现记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.Name = true
          this.control.LowerLevel = true
          this.control.DatalessUser = true
          break
        case "commissionList": // 代理中心——佣金记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.Name = true
          this.control.LowerLevel = true
          this.control.DatalessUser = true
          break
        case "memberDepositList": // 个人中心——存款记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.OrderStatus = true
          break
        case "memberErawMoneyList": // 个人中心——取款记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.OrderStatus = true
          break
        case "memberBettingList": // 个人中心——投注记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
            this.getGameTypeList()
            this.GameTypeTag()
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.BettingOrderNumber = true
          this.control.GameType = true
          this.control.GameName = true
          break
        case "memberNoSettledList": // 个人中心——未派彩记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
            this.getGameTypeList()
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.GameType = true
          break
        case "memberActivityList": // 个人中心——活动记录
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.ActivityTime = moment(new Date()).format("YYYY-MM-DD")
            this.form.StartTime = moment(new Date()).format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.ActivityTime = true
          break
        case "promotionPlan": // 代理中心—推广管理
          this.control.Time = true
          this.control.PlanName = true
          if (this.FirstPlanEnter) {
            this.timeError = 0
            this.form.StartTime = ""
            this.form.EndTime = ""
            $('input[name="StartTime"]').attr("placeholder", this.$t("lang.TIME_ENTER_START"))
            $('input[name="EndTime"]').attr("placeholder", this.$t("lang.TIME_ENTER_END"))
            this.FirstShowPlaceholder = true
          }
          break
        case "accountChange": // 账变明细
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.LowerLevel = true
          this.control.Time3months = true
          this.control.Name = true
          this.control.TransType = true
          this.getTransTypeList()
          break
        case "memberAccountChange": // 个人中心账变明细
          if (this.FirstPlanEnter) {
            $(".form-control.time").removeAttr("placeholder")
            this.timeError = 0
            this.form.StartTime = moment().month(moment().month()).startOf("month").format("YYYY-MM-DD")
            this.form.EndTime = moment(new Date()).format("YYYY-MM-DD")
            this.FirstShowPlaceholder = false
          }
          this.control.Time = true
          this.control.Time3months = true
          this.control.TransType = true
          this.getCashFlowLog_TransTypeList()
          break
        default:
          break
      }
    },

    // 游戏类别
    async getGameTypeList() {
      this.GameTypeList = []
      if (this.objPage === "memberNoSettledList") {
        const DaraRet = await PersonalCenterService.BetLog_LoadMainPage()
        if (DaraRet.Ret === BLDef.ErrorRetType.SUCCESS) {
          this.GameTypeList = DaraRet.Data.GameApiTypeList
          this.form.GameType = "-1"
        }
      }
    },

    // 游戏厂商
    async GameTypeTag() {
      if (this.objPage === "memberBettingList" || this.objPage === "bettingList") {
        const data = await AgencyCenterService.LoadGameTypeAndVendor()
        if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
          this.GameNameList = data.Data.GameApiNameList
          this.GameNameList.GameApiNo = this.GameNameList[0].GameApiNo
          this.form.GameName = this.GameNameList[0].GameApiNo
          this.GameTypeList = data.Data.GameApiTypeList
          this.form.GameType = "-1"
        }
      } // end if
    },

    // 交易类型
    async getTransTypeList() {
      const data = await AgencyCenterService.Record_TransType({})
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeList = data.Data.ListTransType
      }
    },

    // 账变报表下拉框
    async getCashFlowLog_TransTypeList() {
      const data = await PersonalCenterService.CashFlowLog_TransTypeList({})
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        for (let item of data.Data.TransTypeSList) {
          item.SettingCode = item.Value
          item.SettingName = item.Name
        }
        this.TransTypeList = data.Data.TransTypeSList
      }
    },

    // end 驗證搜尋欄位正確性
    DelDatePlaceholder: function (ele) {
      ele.target.removeAttribute("placeholder")
      this.timeError = 0
    },

    //添加日历类型默认提示
    SetDatePlaceholder: function (ele, text) {
      if (!ele.target.value) {
        ele.target.setAttribute("placeholder", text)
      }
      this.timeError = 0
    },

    // 所有欄位驗證
    validate: function () {
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      return this.$validator.validateAll().then((result) => {
        return result
      })
    }, // end validate

    // 搜索
    async onSearch() {
      const flag = await this.validate()
      //验证不通过
      if (!flag) {
        return
      }
      if (!this.checkTime()) {
        return
      }

      this.$parent.childMsg(this.form)
      this.show = false
      this.$VueUtils.SetPopupPosition(false) // 处理UC浏览器兼容
    },

    onReset() {
      this.FirstPlanEnter = true
      this.form = {
        name: "",
        StartTime: "",
        EndTime: "",
        lowerLevel: false,
        bettingOrderNumber: null,
        GameType: "",
        GameName: "",
        OrderStatus: "-1", // -1全部  1待处理  2已完成  3已取消
        ActivityTime: "", // 活动时间
        ActivityName: "", // 活动名称
        planName: "", // 方案名称
        TransType: "-1" // 交易类型
      }
      this.setControl()
    },

    // 判断时间不能超过3个月
    checkTime() {
      var begintime = this.form.StartTime
      var endtime = this.form.EndTime
      if (!begintime && !endtime) {
        return true
      }
      if (!begintime && endtime) {
        // alert("开始时间不能为空");
        this.timeError = 1
        return false
      }
      if (!endtime && begintime) {
        // alert("结束时间不能为空");
        this.timeError = 2
        return false
      }
      // 把日期转化为毫秒数
      var time1 = new Date(begintime).getTime()
      var time2 = new Date(endtime).getTime()
      if (time1 > time2) {
        // alert("开始时间不能大于结束时间");
        this.timeError = 3
        return false
      }
      if (this.control.Time3months) {
        // 判断时间跨度是否大于3个月
        var arr1 = begintime.split("-")
        var arr2 = endtime.split("-")
        arr1[1] = parseInt(arr1[1])
        arr1[2] = parseInt(arr1[2])
        arr2[1] = parseInt(arr2[1])
        arr2[2] = parseInt(arr2[2])
        var flag = true
        if (arr1[0] == arr2[0]) {
          //同年
          if (arr2[1] - arr1[1] > 3) {
            //月间隔超过3个月
            flag = false
          } else if (arr2[1] - arr1[1] == 3) {
            //月相隔3个月，比较日
            if (arr2[2] > arr1[2]) {
              //结束日期的日大于开始日期的日
              flag = false
            }
          }
        } else {
          //不同年
          if (arr2[0] - arr1[0] > 1) {
            flag = false
          } else if (arr2[0] - arr1[0] == 1) {
            if (arr1[1] < 10) {
              //开始年的月份小于10时，不需要跨年
              flag = false
            } else if (arr1[1] + 3 - arr2[1] < 12) {
              //月相隔大于3个月
              flag = false
            } else if (arr1[1] + 3 - arr2[1] == 12) {
              //月相隔3个月，比较日
              if (arr2[2] > arr1[2]) {
                //结束日期的日大于开始日期的日
                flag = false
              }
            }
          }
        }
        if (!flag) {
          // alert("时间跨度不得超过3个月！");
          this.timeError = 4
          return false
        }
      }

      if (this.form.EndTime > this.NowDate || this.form.StartTime > this.NowDate) {
        // alert("不能选择未来日期");
        this.timeError = 5
        return false
      }

      return true
    }
  },

  deactivated: function () {
    // $('input[name="StartTime"]').attr(
    //   'placeholder',
    //   this.$t('lang.TIME_ENTER_START')
    // );
    // $('input[name="EndTime"]').attr(
    //   'placeholder',
    //   this.$t('lang.TIME_ENTER_END')
    // );
    this.$validator.reset()
  }
}
</script>

<style lang="less" scoped>
@import "~styles/cdn.less";
.filterPopup {
  font-size: 0.7rem;
  .popup {
    background-color: #dbd5db;
    margin-top: 3.5rem;
    .content {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      .form {
        margin: 0.8rem;
        padding: 0;
        .cell {
          margin-top: 0.8rem;
          position: relative;
          .name {
            color: #333;
            font-size: 0.8rem;
          }
          input.form-control {
            height: 1.2rem;
            line-height: 1.2rem;
            padding: 0.6rem 0;
          }
          select.form-control {
            height: 2.4rem;
            line-height: 2.4rem;
            padding: 0;
          }
          .select_icon {
            width: 0.6rem;
            height: 0.6rem;
            position: absolute;
            bottom: 0.9rem;
            right: 0.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
          .checkbox {
            font-size: 0.8rem;
            color: #666666;
            display: flex;
            align-items: center;
            align-content: center;
            position: relative;
            input {
              display: none;
            }
            .icon {
              position: absolute;
              bottom: 0.2rem;
              left: 0;
              width: 1rem;
              height: 1rem;
              margin: -0.45rem 0 0 -1rem;
              background-color: #f3f3f3;
              border-bottom: 1px solid #c5bfc5;
            }
            .icon_check {
              position: absolute;
              bottom: 0.2rem;
              left: 0;
              width: 1rem;
              height: 1rem;
              margin: -0.45rem 0 0 -1rem;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }
        .cell.time {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .form-control {
            width: 0;
            flex: 1;
            text-indent: inherit;
            text-align: center;
          }
        }
        .cell.lowerLevel {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .content > form {
      margin-bottom: 10rem;
    }
    .operate {
      display: flex;
      justify-content: center;
      margin-top: -10rem;
      z-index: 100000;
      position: relative;
      height: 9rem;
      padding-top: 1rem;
      background-color: #dbd5db;
      button {
        display: block;
        width: 37%;
        border-radius: 0.3rem;
        height: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        border: none;
        border-bottom: 1px solid #97949c;
        margin: 0 0.4rem;
        font-size: 0.88rem;
        padding: 0;
      }
      .reset {
        background-color: #9d9d9d;
        color: white;
      }
      .search {
        background-color: #d0a05d;
        color: #1c1c1c;
      }
    }
    .status_select {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .status {
        width: 32%;
        background-color: white;
        height: 2.4rem;
        text-align: center;
        border-radius: 3px;
        font-size: 0.8rem;
        line-height: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .status.check {
        background-color: #d0a05d;
      }
      .status:nth-of-type(1) {
        width: 100%;
        margin-bottom: 0.4rem;
      }
    }
  }
}
input[type="date"] {
  position: relative;
}
input[type="date"]:before {
  content: attr(placeholder);
  color: #bbb;
  font-size: 0.8rem;
  display: block;
  line-height: 2.4rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.error-tip {
  margin: 10px 0;
  color: #cd2b2b;
}
</style>
