<template>
    <div class="LoadBox" v-show="ShowLoading===true">
        <div class="Lp">
            <span class="LoadIcon" :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/common/loading-white.svg)'}"></span>
            <p>LOADING...</p>
        </div>
    </div>
</template>

<script>
    import EventBus from 'scripts/common/EventBus';

    export default {
        data() {
            return {
                ShowLoading: false
            };
        },
        created: function () {
            const self = this;
            EventBus.$on('GlobalLoadingTrigger', (flag) => {
                self.ShowLoading = flag;
            });
        },
        beforeDestroy() {
            EventBus.$off('GlobalLoadingTrigger');            
        }
    };
</script>