<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow"
      id="MessageWeChat"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
      style="z-index:2000"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <!--<div class="modal-header">
	            		<h4 class="modal-title">{{NotifyObj.NotifyMessage}}</h4>
          </div>-->
          <div class="modal-body">
            <p>{{NotifyObj.NotifyMessage}}</p>
            <p v-if="NotifyObj.NotifySubMessage">{{NotifyObj.NotifySubMessage}}</p>
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="WebCloseMessage()"
              style="margin:0 auto;float: none;"
              v-html="$t('lang.BUTTON_SURE')"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            ></a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data() {
    return {
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        CloseFunction: Function
      }
    };
  },
  created: function() {
    const self = this;
    EventBus.$on('showNotifyMessageWeChat', data => {
      self.NotifyObj = data;
      $('#MessageWeChat').modal('show');
    });
  },
  methods: {
    WebCloseMessage: function() {
      $('#MessageWeChat').modal('hide');
      EventBus.$emit('showNotifyMessageWeChatClose');
      window.history.go(-1);
    }
  },
  beforeDestroy() {
    EventBus.$off('showNotifyMessageWeChat');
  }
};
</script>

