<template>
  <div class="mob-wrap">
    <div
      class="modal modal-shadow fade"
      id="MessageWindow"
      tabindex="-1"
      data-backdrop="false"
      role="dialog"
      aria-hidden="true"
      style="z-index:2000"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <!--<div class="modal-header">
	            		<h4 class="modal-title">{{NotifyObj.NotifyMessage}}</h4>
          </div>-->
          <div class="modal-body">
            <p>{{NotifyObj.NotifyMessage}}</p>
            <p v-if="NotifyObj.NotifySubMessage">{{NotifyObj.NotifySubMessage}}</p>
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-secondary"
              @click="BindCloseMessage()"
              v-html="$t('lang.BUTTON_CANCEL')"
            ></a>
            <a
              class="btn btn-primary"
              href="javascript:void(0);"
              @click="WebCloseMessage()"
              v-html="$t('lang.BUTTON_SURE')"
              :style="{backgroundImage:'url(' + $ResourceCDN + '/EditionImg-mobile/Lambor1.0/images/mobile/index/btn_primary_bg1.png)'}"
            ></a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data() {
    return {
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        CloseFunction: Function
      }
    };
  },
  created: function() {
    const self = this;
    EventBus.$on('showNotifyMessage', data => {
      self.NotifyObj = data;
      if (
        self.NotifyObj.NotifyMessage == this.$t('lang.ACCOUNT_EXPIRED') ||
        self.NotifyObj.NotifySubMessage == this.$t('lang.ACCOUNT_EXPIRED')
      ) {
        self.NotifyObj.CloseFunction = function() {
          self.$router.push({ name: 'login' });
        };
      }
      $('#MessageWindow').modal('show');
    });
    // 断线后弹出提示 20190726 SeyoChen
    EventBus.$on('SignalR_DisConnectServer', () => {
      self.DisConnectServer();
    });
    // 增加停用和重复登入响应 2019.07.16 ququ
    EventBus.$on('SignalR_DisableMember', () => {
      self.DisableMember();
    });
    EventBus.$on('SignalR_Kick_By_OtherBrowser', () => {
      self.Kick_By_OtherBrowser();
    });
  },
  methods: {
    // signalr断线 20190726 SeyoChen
    DisConnectServer: function() {
      localStorage.removeItem('Token');
      this.NotifyObj.NotifyMessage = this.$t('lang.ACCOUNT_NO_OPERATION');
      this.NotifyObj.CloseFunction = function() {
        window.location.href = '/login';
      };
      if ($('#MessageWindow').is(':hidden')) {
        //如果页面上不存在信息弹窗
        $('#MessageWindow').modal('show');
      }
    },
    // signalr停用玩家
    DisableMember: function() {
      localStorage.removeItem('Token');
      this.NotifyObj.NotifyMessage = this.$t('lang.ACCOUNT_DEACTIVATED');
      this.NotifyObj.CloseFunction = function() {
        window.location.href = '/';
      };
      if ($('#MessageWindow').is(':hidden')) {
        //如果页面上不存在信息弹窗
        $('#MessageWindow').modal('show');
      }
      // 当处于游戏中时账号停用，关闭游戏窗口
      CommUtility.OpenPlayGameWindow('playGame', 'PlayGamePopUpWindow');
    },
    // signalr後踢前
    Kick_By_OtherBrowser: function() {
      localStorage.removeItem('Token');
      this.NotifyObj.NotifyMessage = this.$t('lang.ACCOUNT_REPEATEDLY');
      this.NotifyObj.CloseFunction = function() {
        window.location.href = '/';
      };
      if ($('#MessageWindow').is(':hidden')) {
        //如果页面上不存在信息弹窗
        $('#MessageWindow').modal('show');
      }
    },
    WebCloseMessage: function() {
      $('#MessageWindow').modal('hide');
      if (this.NotifyObj.CloseFunction) {
        this.NotifyObj.CloseFunction();
      }
    },
    BindCloseMessage: function() {
      $('#MessageWindow').modal('hide');
    }
  },
  beforeDestroy() {
    EventBus.$off('showNotifyMessage');
  }
};
</script>

